agn-hyundai---followup-proactivo-Kefg8d4kZphQoUhe.json
{"updatedAt":"2025-12-22T15:05:47.000Z","createdAt":"2025-12-09T15:15:18.398Z","id":"Kefg8d4kZphQoUhe","name":"AGN Hyundai - Followup Proactivo","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"keys","keyPattern":"followup:*"},"id":"redis-get-keys","name":"Redis - Get Followup Keys","type":"n8n-nodes-base.redis","typeVersion":1,"position":[128,304],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-keys","leftValue":"={{ $json.keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-keys-exist","name":"Check if Keys Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[896,304]},{"parameters":{"fieldToSplitOut":"=keys","options":{}},"id":"split-keys","name":"Split Keys","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1120,208]},{"parameters":{"operation":"get","key":"={{ $json.keys }}","options":{"dotNotation":false}},"id":"redis-get-value","name":"Redis - Get Followup Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1328,208],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtener la key de Redis\n//const redisKey = $('Split Keys').first().json.keys;\nconst redisKey = $('Split Keys').item.json.keys;\n// Obtener el valor del nodo \"Redis - Get Followup Data\"\nconst redisData = $('Redis - Get Followup Data').item.json;\nconst redisValue = redisData.propertyName;\n\n// Parse the Redis value\nlet data;\ntry {\n  data = JSON.parse(redisValue);\n} catch (e) {\n  return { json: { skip: true, reason: 'Invalid JSON' } };\n}\n\n// Extract wa_id from key (followup:549876543210)\nconst wa_id = redisKey.replace('followup:', '');\n\n// Calculate hours since last message\nconst now = new Date();\nconst lastMessageTime = new Date(data.timestamp);\nconst hoursElapsed = (now - lastMessageTime) / (1000 * 60 * 60);\n\n// Determine threshold based on stage\nconst etapa = data.etapa || 'Abierta';\nlet threshold;\nif (etapa !== 'Cierre') {\n  threshold = 0.25; // 15 minutos\n}\n//else if (etapa === 'Desarrollada') {\n//  threshold = 48; // 48 hours\n//} \nelse {\n  threshold = 999; // Don't send for other stages\n}\n\nreturn {\n  json: {\n    wa_id: wa_id,\n    redis_key: redisKey,\n    etapa: etapa,\n    nombre: data.nombre || '',\n    last_bot_msg: data.last_bot_msg || '',\n    last_user_msg: data.last_user_msg || '',\n    timestamp: data.timestamp,\n    hours_elapsed: Math.round(hoursElapsed * 10) / 10,\n    threshold_hours: threshold,\n    should_check: hoursElapsed >= threshold && etapa !== 'Cierre'\n  }\n};"},"id":"parse-and-calculate","name":"Parse Data & Calculate Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-check","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"6c955c8d-fe93-4b7f-9b1f-57bd17b59f3f","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"filter-by-time","name":"Filter by Time & Stage","type":"n8n-nodes-base.if","typeVersion":2,"position":[1776,208]},{"parameters":{"operation":"getAll","tableId":"agnMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"get-memory","name":"Get Memory from Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1968,96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}}},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('Filter by Time & Stage').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"format-memory","name":"Format Memory for Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,112]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"prepare-validation-prompt","name":"Prepare Validation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,112]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"call-gpt-validation","name":"Call GPT for Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,112],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}}},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"parse-gpt-response","name":"Parse GPT Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"check-should-send","name":"Should Send Followup?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3088,112]},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"prepare-followup-message","name":"Prepare Followup Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[3312,0]},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $('Prepare Followup Message').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message').item.json.message }}","additionalFields":{}},"id":"send-whatsapp","name":"Send WhatsApp Message","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[4272,-16],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message').item.json.redis_key }}"},"id":"delete-redis-key","name":"Redis - Delete Followup Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4512,-16],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"insert"},"id":"save-to-supabase","name":"Save Followup to Memory","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4160,416],"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}},"disabled":true},{"parameters":{"jsCode":"const previousData = $('Save Followup to Memory').first().json;\nconst chatwootResponse = $input.first().json;\n\nlet contactId = null;\nif (chatwootResponse.payload && chatwootResponse.payload.length > 0) {\n  contactId = chatwootResponse.payload[0].id;\n}\n\nreturn {\n  json: {\n    ...previousData,\n    chatwoot_contact_id: contactId\n  }\n};"},"id":"parse-contact","name":"Parse Contact & Get Conversation","type":"n8n-nodes-base.code","typeVersion":2,"position":[4464,464],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"get-conversation","name":"Get Chatwoot Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3808,16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"save-to-chatwoot","name":"Save Message to Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4048,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{},"id":"log-not-sent","name":"Log - Not Sent","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3312,208]},{"parameters":{},"id":"no-keys-found","name":"No Keys Found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,400]},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup:'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,304],"id":"6d624e55-a244-42fc-b154-f792dadbeba1","name":"ExractArrayKeys"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"schedule-trigger","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,304]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"get-chatwoot-contact","name":"Get Chatwoot Contact ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.wa_id }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"b1ffbc49-1456-44e6-be22-e60b46a9b6ee","name":"Send WhatsApp Message1","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3616,416],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true}],"connections":{"Redis - Get Followup Keys":{"main":[[{"node":"ExractArrayKeys","type":"main","index":0}]]},"Check if Keys Exist":{"main":[[{"node":"Split Keys","type":"main","index":0}],[{"node":"No Keys Found","type":"main","index":0}]]},"Split Keys":{"main":[[{"node":"Redis - Get Followup Data","type":"main","index":0}]]},"Redis - Get Followup Data":{"main":[[{"node":"Parse Data & Calculate Time","type":"main","index":0}]]},"Parse Data & Calculate Time":{"main":[[{"node":"Filter by Time & Stage","type":"main","index":0}]]},"Filter by Time & Stage":{"main":[[{"node":"Get Memory from Supabase","type":"main","index":0}]]},"Get Memory from Supabase":{"main":[[{"node":"Format Memory for Context","type":"main","index":0}]]},"Format Memory for Context":{"main":[[{"node":"Prepare Validation Prompt","type":"main","index":0}]]},"Prepare Validation Prompt":{"main":[[{"node":"Call GPT for Validation","type":"main","index":0}]]},"Call GPT for Validation":{"main":[[{"node":"Parse GPT Response","type":"main","index":0}]]},"Parse GPT Response":{"main":[[{"node":"Should Send Followup?","type":"main","index":0}]]},"Should Send Followup?":{"main":[[{"node":"Prepare Followup Message","type":"main","index":0}],[{"node":"Log - Not Sent","type":"main","index":0}]]},"Prepare Followup Message":{"main":[[{"node":"Get Chatwoot Contact ID","type":"main","index":0}]]},"Send WhatsApp Message":{"main":[[{"node":"Redis - Delete Followup Key","type":"main","index":0}]]},"Redis - Delete Followup Key":{"main":[[]]},"Save Followup to Memory":{"main":[[]]},"Parse Contact & Get Conversation":{"main":[[]]},"Get Chatwoot Conversation":{"main":[[{"node":"Save Message to Chatwoot","type":"main","index":0}]]},"ExractArrayKeys":{"main":[[{"node":"Check if Keys Exist","type":"main","index":0}]]},"Every 5 minutes":{"main":[[{"node":"Redis - Get Followup Keys","type":"main","index":0}]]},"Get Chatwoot Contact ID":{"main":[[{"node":"Get Chatwoot Conversation","type":"main","index":0}]]},"Save Message to Chatwoot":{"main":[[{"node":"Send WhatsApp Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 30 minutes":{"recurrenceRules":[]},"node:Every 5 minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"41b95b7c-3046-4aaa-9903-120927c7383a","activeVersionId":"41b95b7c-3046-4aaa-9903-120927c7383a","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T15:15:18.405Z","createdAt":"2025-12-09T15:15:18.405Z","role":"workflow:owner","workflowId":"Kefg8d4kZphQoUhe","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2025-12-22T15:05:47.965Z","createdAt":"2025-12-22T15:05:47.965Z","versionId":"41b95b7c-3046-4aaa-9903-120927c7383a","workflowId":"Kefg8d4kZphQoUhe","nodes":[{"parameters":{"operation":"keys","keyPattern":"followup:*"},"id":"redis-get-keys","name":"Redis - Get Followup Keys","type":"n8n-nodes-base.redis","typeVersion":1,"position":[128,304],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-keys","leftValue":"={{ $json.keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-keys-exist","name":"Check if Keys Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[896,304]},{"parameters":{"fieldToSplitOut":"=keys","options":{}},"id":"split-keys","name":"Split Keys","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1120,208]},{"parameters":{"operation":"get","key":"={{ $json.keys }}","options":{"dotNotation":false}},"id":"redis-get-value","name":"Redis - Get Followup Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1328,208],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtener la key de Redis\n//const redisKey = $('Split Keys').first().json.keys;\nconst redisKey = $('Split Keys').item.json.keys;\n// Obtener el valor del nodo \"Redis - Get Followup Data\"\nconst redisData = $('Redis - Get Followup Data').item.json;\nconst redisValue = redisData.propertyName;\n\n// Parse the Redis value\nlet data;\ntry {\n  data = JSON.parse(redisValue);\n} catch (e) {\n  return { json: { skip: true, reason: 'Invalid JSON' } };\n}\n\n// Extract wa_id from key (followup:549876543210)\nconst wa_id = redisKey.replace('followup:', '');\n\n// Calculate hours since last message\nconst now = new Date();\nconst lastMessageTime = new Date(data.timestamp);\nconst hoursElapsed = (now - lastMessageTime) / (1000 * 60 * 60);\n\n// Determine threshold based on stage\nconst etapa = data.etapa || 'Abierta';\nlet threshold;\nif (etapa !== 'Cierre') {\n  threshold = 0.25; // 15 minutos\n}\n//else if (etapa === 'Desarrollada') {\n//  threshold = 48; // 48 hours\n//} \nelse {\n  threshold = 999; // Don't send for other stages\n}\n\nreturn {\n  json: {\n    wa_id: wa_id,\n    redis_key: redisKey,\n    etapa: etapa,\n    nombre: data.nombre || '',\n    last_bot_msg: data.last_bot_msg || '',\n    last_user_msg: data.last_user_msg || '',\n    timestamp: data.timestamp,\n    hours_elapsed: Math.round(hoursElapsed * 10) / 10,\n    threshold_hours: threshold,\n    should_check: hoursElapsed >= threshold && etapa !== 'Cierre'\n  }\n};"},"id":"parse-and-calculate","name":"Parse Data & Calculate Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-check","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"6c955c8d-fe93-4b7f-9b1f-57bd17b59f3f","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"filter-by-time","name":"Filter by Time & Stage","type":"n8n-nodes-base.if","typeVersion":2,"position":[1776,208]},{"parameters":{"operation":"getAll","tableId":"agnMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"get-memory","name":"Get Memory from Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1968,96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}}},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('Filter by Time & Stage').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"format-memory","name":"Format Memory for Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,112]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"prepare-validation-prompt","name":"Prepare Validation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,112]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"call-gpt-validation","name":"Call GPT for Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,112],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}}},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"parse-gpt-response","name":"Parse GPT Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"check-should-send","name":"Should Send Followup?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3088,112]},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"prepare-followup-message","name":"Prepare Followup Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[3312,0]},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $('Prepare Followup Message').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message').item.json.message }}","additionalFields":{}},"id":"send-whatsapp","name":"Send WhatsApp Message","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[4272,-16],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message').item.json.redis_key }}"},"id":"delete-redis-key","name":"Redis - Delete Followup Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4512,-16],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"insert"},"id":"save-to-supabase","name":"Save Followup to Memory","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4160,416],"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}},"disabled":true},{"parameters":{"jsCode":"const previousData = $('Save Followup to Memory').first().json;\nconst chatwootResponse = $input.first().json;\n\nlet contactId = null;\nif (chatwootResponse.payload && chatwootResponse.payload.length > 0) {\n  contactId = chatwootResponse.payload[0].id;\n}\n\nreturn {\n  json: {\n    ...previousData,\n    chatwoot_contact_id: contactId\n  }\n};"},"id":"parse-contact","name":"Parse Contact & Get Conversation","type":"n8n-nodes-base.code","typeVersion":2,"position":[4464,464],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"get-conversation","name":"Get Chatwoot Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3808,16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"save-to-chatwoot","name":"Save Message to Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4048,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{},"id":"log-not-sent","name":"Log - Not Sent","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3312,208]},{"parameters":{},"id":"no-keys-found","name":"No Keys Found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,400]},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup:'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,304],"id":"6d624e55-a244-42fc-b154-f792dadbeba1","name":"ExractArrayKeys"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"schedule-trigger","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,304]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"get-chatwoot-contact","name":"Get Chatwoot Contact ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.wa_id }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"b1ffbc49-1456-44e6-be22-e60b46a9b6ee","name":"Send WhatsApp Message1","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3616,416],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true}],"connections":{"Redis - Get Followup Keys":{"main":[[{"node":"ExractArrayKeys","type":"main","index":0}]]},"Check if Keys Exist":{"main":[[{"node":"Split Keys","type":"main","index":0}],[{"node":"No Keys Found","type":"main","index":0}]]},"Split Keys":{"main":[[{"node":"Redis - Get Followup Data","type":"main","index":0}]]},"Redis - Get Followup Data":{"main":[[{"node":"Parse Data & Calculate Time","type":"main","index":0}]]},"Parse Data & Calculate Time":{"main":[[{"node":"Filter by Time & Stage","type":"main","index":0}]]},"Filter by Time & Stage":{"main":[[{"node":"Get Memory from Supabase","type":"main","index":0}]]},"Get Memory from Supabase":{"main":[[{"node":"Format Memory for Context","type":"main","index":0}]]},"Format Memory for Context":{"main":[[{"node":"Prepare Validation Prompt","type":"main","index":0}]]},"Prepare Validation Prompt":{"main":[[{"node":"Call GPT for Validation","type":"main","index":0}]]},"Call GPT for Validation":{"main":[[{"node":"Parse GPT Response","type":"main","index":0}]]},"Parse GPT Response":{"main":[[{"node":"Should Send Followup?","type":"main","index":0}]]},"Should Send Followup?":{"main":[[{"node":"Prepare Followup Message","type":"main","index":0}],[{"node":"Log - Not Sent","type":"main","index":0}]]},"Prepare Followup Message":{"main":[[{"node":"Get Chatwoot Contact ID","type":"main","index":0}]]},"Send WhatsApp Message":{"main":[[{"node":"Redis - Delete Followup Key","type":"main","index":0}]]},"Redis - Delete Followup Key":{"main":[[]]},"Save Followup to Memory":{"main":[[]]},"Parse Contact & Get Conversation":{"main":[[]]},"Get Chatwoot Conversation":{"main":[[{"node":"Save Message to Chatwoot","type":"main","index":0}]]},"ExractArrayKeys":{"main":[[{"node":"Check if Keys Exist","type":"main","index":0}]]},"Every 5 minutes":{"main":[[{"node":"Redis - Get Followup Keys","type":"main","index":0}]]},"Get Chatwoot Contact ID":{"main":[[{"node":"Get Chatwoot Conversation","type":"main","index":0}]]},"Save Message to Chatwoot":{"main":[[{"node":"Send WhatsApp Message","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}