analytics-dashboard-4NJJ8UAbEH2zBYIk.json
{"updatedAt":"2026-05-12T12:27:28.000Z","createdAt":"2026-05-11T14:24:53.689Z","id":"4NJJ8UAbEH2zBYIk","name":"analytics-dashboard","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"analytics-dashboard","responseMode":"responseNode","options":{}},"id":"c111a0b1-88e8-4ed3-a5e5-fbe765015843","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,-16],"webhookId":"analytics-dashboard-webhook"},{"parameters":{"jsCode":"const ALLOWLIST = [\n  'deuda-email',\n  'sync-datos-automatico-ovalo',\n  'nissan_postventas',\n  'ovalo_conversacional_reactivo',\n  'varias-vendedor',\n  'nissan-vendedor',\n  'AGN Hyundai wpp'\n];\nconst BASE = 'https://puenteagenteagn.griftin.com.ar';\nconst workflows = $input.first().json.data || [];\nconst filtered = workflows.filter(wf => ALLOWLIST.includes(wf.name));\nreturn filtered.map(wf => ({\n  json: {\n    workflowId: wf.id,\n    workflowName: wf.name,\n    workflowActive: wf.active,\n    url: `${BASE}/api/v1/executions?workflowId=${wf.id}&limit=250&includeData=false`\n  }\n}));"},"id":"prep-wf-req-0001","name":"Prepare WF Requests","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16]},{"parameters":{"url":"https://puenteagenteagn.griftin.com.ar/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"5c110e5a-1796-433d-8262-022545771eff","name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-16],"credentials":{"httpHeaderAuth":{"id":"a9z6pxfBVMUiGLCZ","name":"header-agn-with-key"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"get-exec-wf-0001","name":"Get Executions per WF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-16],"credentials":{"httpHeaderAuth":{"id":"a9z6pxfBVMUiGLCZ","name":"header-agn-with-key"}}},{"parameters":{"jsCode":"const ALLOWLIST = [\n  'deuda-email',\n  'sync-datos-automatico-ovalo',\n  'nissan_postventas',\n  'ovalo_conversacional_reactivo',\n  'varias-vendedor',\n  'nissan-vendedor',\n  'AGN Hyundai wpp'\n];\nconst allWorkflows = $('Get Workflows').first().json.data || [];\nconst workflows = allWorkflows.filter(wf => ALLOWLIST.includes(wf.name));\nconst allExecutions = [];\n$input.all().forEach(item => {\n  const executions = item.json.data || [];\n  allExecutions.push(...executions);\n});\nreturn [{ json: { workflows, executions: allExecutions } }];"},"id":"collect-exec-0001","name":"Collect Executions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-16]},{"parameters":{"jsCode":"const { workflows, executions } = $input.first().json;\n\nconst total = executions.length;\nconst success = executions.filter(e => e.status === 'success').length;\nconst failed = executions.filter(e => e.status === 'error').length;\nconst running = executions.filter(e => e.status === 'running').length;\nconst waiting = executions.filter(e => e.status === 'waiting').length;\nconst errorRate = total > 0 ? parseFloat(((failed / total) * 100).toFixed(2)) : 0;\n\nconst finished = executions.filter(e => e.stoppedAt && e.startedAt);\nconst avgDurationSeconds = finished.length > 0\n  ? parseFloat((finished.reduce((acc, e) => acc + (new Date(e.stoppedAt) - new Date(e.startedAt)), 0) / finished.length / 1000).toFixed(2))\n  : 0;\n\nconst byWorkflow = {};\nworkflows.forEach(wf => {\n  byWorkflow[wf.id] = { id: wf.id, name: wf.name, active: wf.active, total: 0, success: 0, failed: 0, lastRun: null, errorRate: 0 };\n});\n\nexecutions.forEach(e => {\n  const wfId = e.workflowId;\n  if (!byWorkflow[wfId]) return;\n  byWorkflow[wfId].total++;\n  if (e.status === 'success') byWorkflow[wfId].success++;\n  if (e.status === 'error') byWorkflow[wfId].failed++;\n  if (!byWorkflow[wfId].lastRun || new Date(e.startedAt) > new Date(byWorkflow[wfId].lastRun)) {\n    byWorkflow[wfId].lastRun = e.startedAt;\n  }\n});\n\nconst workflowStats = Object.values(byWorkflow)\n  .map(wf => ({ ...wf, errorRate: wf.total > 0 ? parseFloat(((wf.failed / wf.total) * 100).toFixed(2)) : 0 }))\n  .sort((a, b) => b.total - a.total);\n\nconst byDay = {};\nconst now = new Date();\nfor (let i = 6; i >= 0; i--) {\n  const d = new Date(now);\n  d.setDate(d.getDate() - i);\n  const key = d.toISOString().split('T')[0];\n  byDay[key] = { date: key, total: 0, success: 0, failed: 0 };\n}\nexecutions.forEach(e => {\n  if (e.startedAt) {\n    const day = e.startedAt.split('T')[0];\n    if (byDay[day]) {\n      byDay[day].total++;\n      if (e.status === 'success') byDay[day].success++;\n      if (e.status === 'error') byDay[day].failed++;\n    }\n  }\n});\n\nconst sorted = [...executions].sort((a, b) => new Date(b.startedAt) - new Date(a.startedAt));\nconst lastExecution = sorted.length > 0 ? sorted[0] : null;\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  summary: { totalExecutions: total, successExecutions: success, failedExecutions: failed, runningExecutions: running, waitingExecutions: waiting, errorRate, avgDurationSeconds },\n  workflows: { total: workflows.length, active: workflows.filter(w => w.active).length, inactive: workflows.filter(w => !w.active).length },\n  workflowStats,\n  timeline: Object.values(byDay),\n  lastExecution: lastExecution ? {\n    id: lastExecution.id,\n    workflowId: lastExecution.workflowId,\n    status: lastExecution.status,\n    startedAt: lastExecution.startedAt,\n    stoppedAt: lastExecution.stoppedAt || null,\n    durationSeconds: lastExecution.stoppedAt ? parseFloat(((new Date(lastExecution.stoppedAt) - new Date(lastExecution.startedAt)) / 1000).toFixed(2)) : null\n  } : null\n}}];"},"id":"6876f847-b1c6-4ea8-b4fe-e279b55166ac","name":"Process Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-16]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"0f5c8844-5f79-4a9a-b121-c952888d8ab5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1616,-16]}],"connections":{"Webhook":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Prepare WF Requests","type":"main","index":0}]]},"Prepare WF Requests":{"main":[[{"node":"Get Executions per WF","type":"main","index":0}]]},"Get Executions per WF":{"main":[[{"node":"Collect Executions","type":"main","index":0}]]},"Collect Executions":{"main":[[{"node":"Process Metrics","type":"main","index":0}]]},"Process Metrics":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":{},"versionId":"a775ba13-7ef9-4890-8b20-a0acc08ea55d","activeVersionId":"a775ba13-7ef9-4890-8b20-a0acc08ea55d","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T14:24:53.699Z","createdAt":"2026-05-11T14:24:53.699Z","role":"workflow:owner","workflowId":"4NJJ8UAbEH2zBYIk","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-05-12T02:04:24.002Z","createdAt":"2026-05-12T02:04:24.002Z","versionId":"a775ba13-7ef9-4890-8b20-a0acc08ea55d","workflowId":"4NJJ8UAbEH2zBYIk","nodes":[{"parameters":{"path":"analytics-dashboard","responseMode":"responseNode","options":{}},"id":"c111a0b1-88e8-4ed3-a5e5-fbe765015843","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,-16],"webhookId":"analytics-dashboard-webhook"},{"parameters":{"jsCode":"const ALLOWLIST = [\n  'deuda-email',\n  'sync-datos-automatico-ovalo',\n  'nissan_postventas',\n  'ovalo_conversacional_reactivo',\n  'varias-vendedor',\n  'nissan-vendedor',\n  'AGN Hyundai wpp'\n];\nconst BASE = 'https://puenteagenteagn.griftin.com.ar';\nconst workflows = $input.first().json.data || [];\nconst filtered = workflows.filter(wf => ALLOWLIST.includes(wf.name));\nreturn filtered.map(wf => ({\n  json: {\n    workflowId: wf.id,\n    workflowName: wf.name,\n    workflowActive: wf.active,\n    url: `${BASE}/api/v1/executions?workflowId=${wf.id}&limit=250&includeData=false`\n  }\n}));"},"id":"prep-wf-req-0001","name":"Prepare WF Requests","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16]},{"parameters":{"url":"https://puenteagenteagn.griftin.com.ar/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"5c110e5a-1796-433d-8262-022545771eff","name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-16],"credentials":{"httpHeaderAuth":{"id":"a9z6pxfBVMUiGLCZ","name":"header-agn-with-key"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"get-exec-wf-0001","name":"Get Executions per WF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-16],"credentials":{"httpHeaderAuth":{"id":"a9z6pxfBVMUiGLCZ","name":"header-agn-with-key"}}},{"parameters":{"jsCode":"const ALLOWLIST = [\n  'deuda-email',\n  'sync-datos-automatico-ovalo',\n  'nissan_postventas',\n  'ovalo_conversacional_reactivo',\n  'varias-vendedor',\n  'nissan-vendedor',\n  'AGN Hyundai wpp'\n];\nconst allWorkflows = $('Get Workflows').first().json.data || [];\nconst workflows = allWorkflows.filter(wf => ALLOWLIST.includes(wf.name));\nconst allExecutions = [];\n$input.all().forEach(item => {\n  const executions = item.json.data || [];\n  allExecutions.push(...executions);\n});\nreturn [{ json: { workflows, executions: allExecutions } }];"},"id":"collect-exec-0001","name":"Collect Executions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-16]},{"parameters":{"jsCode":"const { workflows, executions } = $input.first().json;\n\nconst total = executions.length;\nconst success = executions.filter(e => e.status === 'success').length;\nconst failed = executions.filter(e => e.status === 'error').length;\nconst running = executions.filter(e => e.status === 'running').length;\nconst waiting = executions.filter(e => e.status === 'waiting').length;\nconst errorRate = total > 0 ? parseFloat(((failed / total) * 100).toFixed(2)) : 0;\n\nconst finished = executions.filter(e => e.stoppedAt && e.startedAt);\nconst avgDurationSeconds = finished.length > 0\n  ? parseFloat((finished.reduce((acc, e) => acc + (new Date(e.stoppedAt) - new Date(e.startedAt)), 0) / finished.length / 1000).toFixed(2))\n  : 0;\n\nconst byWorkflow = {};\nworkflows.forEach(wf => {\n  byWorkflow[wf.id] = { id: wf.id, name: wf.name, active: wf.active, total: 0, success: 0, failed: 0, lastRun: null, errorRate: 0 };\n});\n\nexecutions.forEach(e => {\n  const wfId = e.workflowId;\n  if (!byWorkflow[wfId]) return;\n  byWorkflow[wfId].total++;\n  if (e.status === 'success') byWorkflow[wfId].success++;\n  if (e.status === 'error') byWorkflow[wfId].failed++;\n  if (!byWorkflow[wfId].lastRun || new Date(e.startedAt) > new Date(byWorkflow[wfId].lastRun)) {\n    byWorkflow[wfId].lastRun = e.startedAt;\n  }\n});\n\nconst workflowStats = Object.values(byWorkflow)\n  .map(wf => ({ ...wf, errorRate: wf.total > 0 ? parseFloat(((wf.failed / wf.total) * 100).toFixed(2)) : 0 }))\n  .sort((a, b) => b.total - a.total);\n\nconst byDay = {};\nconst now = new Date();\nfor (let i = 6; i >= 0; i--) {\n  const d = new Date(now);\n  d.setDate(d.getDate() - i);\n  const key = d.toISOString().split('T')[0];\n  byDay[key] = { date: key, total: 0, success: 0, failed: 0 };\n}\nexecutions.forEach(e => {\n  if (e.startedAt) {\n    const day = e.startedAt.split('T')[0];\n    if (byDay[day]) {\n      byDay[day].total++;\n      if (e.status === 'success') byDay[day].success++;\n      if (e.status === 'error') byDay[day].failed++;\n    }\n  }\n});\n\nconst sorted = [...executions].sort((a, b) => new Date(b.startedAt) - new Date(a.startedAt));\nconst lastExecution = sorted.length > 0 ? sorted[0] : null;\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  summary: { totalExecutions: total, successExecutions: success, failedExecutions: failed, runningExecutions: running, waitingExecutions: waiting, errorRate, avgDurationSeconds },\n  workflows: { total: workflows.length, active: workflows.filter(w => w.active).length, inactive: workflows.filter(w => !w.active).length },\n  workflowStats,\n  timeline: Object.values(byDay),\n  lastExecution: lastExecution ? {\n    id: lastExecution.id,\n    workflowId: lastExecution.workflowId,\n    status: lastExecution.status,\n    startedAt: lastExecution.startedAt,\n    stoppedAt: lastExecution.stoppedAt || null,\n    durationSeconds: lastExecution.stoppedAt ? parseFloat(((new Date(lastExecution.stoppedAt) - new Date(lastExecution.startedAt)) / 1000).toFixed(2)) : null\n  } : null\n}}];"},"id":"6876f847-b1c6-4ea8-b4fe-e279b55166ac","name":"Process Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-16]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"0f5c8844-5f79-4a9a-b121-c952888d8ab5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1616,-16]}],"connections":{"Webhook":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Prepare WF Requests","type":"main","index":0}]]},"Prepare WF Requests":{"main":[[{"node":"Get Executions per WF","type":"main","index":0}]]},"Get Executions per WF":{"main":[[{"node":"Collect Executions","type":"main","index":0}]]},"Collect Executions":{"main":[[{"node":"Process Metrics","type":"main","index":0}]]},"Process Metrics":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}