backup-supabase-agn---full-schemas-v2-MFANhyeHaXqyrMNa.json
{"updatedAt":"2026-07-06T18:22:31.000Z","createdAt":"2026-07-06T17:35:43.469Z","id":"MFANhyeHaXqyrMNa","name":"Backup Supabase AGN - Full Schemas v2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"7d65a7e4-a12b-4d34-ab95-a497db41acc7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-464,-128]},{"parameters":{"operation":"executeQuery","query":"SELECT s AS schema_name, public.export_full_backup(s) AS sql_content FROM unnest(ARRAY['ford-vendedor','hyundai-posventa','hyundai-ventas','marcas_chinas_schema','nissan-posventa','nissan-vendedor','ovalo-cobranzas','public']) AS s;","options":{}},"id":"286f135c-5d94-4da9-9032-2d43df35333a","name":"Generate All Backups","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-224,-128],"credentials":{"postgres":{"id":"xLMcpsv4QDveR6uY","name":"postgres-agn-pro-credential"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\n\nreturn items.map(item => {\n  const schemaName = item.json.schema_name;\n  const sqlContent = item.json.sql_content;\n  const finalSql = `-- ============================================================\\n-- FULL BACKUP — Schema: ${schemaName}\\n-- Generated: ${now.toISOString()}\\n-- ============================================================\\n\\n${sqlContent}`;\n  return {\n    json: {\n      schema_name: schemaName,\n      filename: `${schemaName}_full_${timestamp}.sql`,\n      timestamp: now.toISOString(),\n      content: finalSql,\n      size_kb: (finalSql.length / 1024).toFixed(2)\n    }\n  };\n});"},"id":"f16df8c5-0593-4dbe-bbac-3d64e85be723","name":"Prepare All Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-128]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"filePath":"=schemas/{{ $json.schema_name }}/{{ $json.filename }}","fileContent":"={{ $json.content }}","commitMessage":"=🔄 Backup {{ $json.schema_name }} - {{ $json.timestamp }}"},"id":"db92aae8-e274-4ddd-8bfd-a842793ec705","name":"Upload Schemas to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[256,-128],"webhookId":"1d2b13aa-8213-4e1b-8f11-f8e7b7c750f8","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"jsCode":"const prepared = $('Prepare All Files').all();\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\n\nconst separator = `\\n\\n-- ============================================================\\n-- ============================================================\\n\\n`;\n\nconst parts = prepared.map(item => item.json.content);\nconst consolidated = parts.join(separator);\n\nconst header = `-- ============================================================\\n-- CONSOLIDATED FULL BACKUP — AGN (All Schemas)\\n-- Generated: ${now.toISOString()}\\n-- Schemas: ${prepared.map(i => i.json.schema_name).join(', ')}\\n-- ============================================================\\n\\n`;\n\nconst finalContent = header + consolidated;\n\nreturn [{\n  json: {\n    filename: `agn_consolidated_full_${timestamp}.sql`,\n    timestamp: now.toISOString(),\n    content: finalContent,\n    size_kb: (finalContent.length / 1024).toFixed(2),\n    schema_count: prepared.length\n  }\n}];"},"id":"64ed1733-4e71-4800-962f-72b880617b6c","name":"Prepare Consolidated File","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-128]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"filePath":"=consolidated/{{ $json.filename }}","fileContent":"={{ $json.content }}","commitMessage":"=📦 Consolidated backup AGN - {{ $json.timestamp }}"},"id":"8019bb8a-81ee-42f8-8f12-ae6d994520b8","name":"Upload Consolidated to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[736,-128],"webhookId":"1af36de8-e187-4abe-9c87-63ff77cc35ca","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"jsCode":"const prepared = $('Prepare All Files').all();\nconst consolidated = $('Prepare Consolidated File').first();\n\nconst rows = prepared.map(item => {\n  const s = item.json.schema_name;\n  const f = item.json.filename;\n  const kb = item.json.size_kb;\n  return `  ✔ ${String(s).padEnd(25)} ${kb} KB  →  schemas/${s}/${f}`;\n}).join('\\n');\n\nconst totalKb = prepared.reduce((acc, i) => acc + parseFloat(i.json.size_kb || 0), 0).toFixed(2);\nconst consolidatedKb = consolidated.json.size_kb;\n\nconst date = new Date().toLocaleDateString('es-AR', {\n  year: 'numeric', month: 'long', day: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    subject: `✅ Backup Supabase AGN — ${prepared.length} schemas procesados`,\n    body: `REPORTE DE RESPALDO AUTOMATICO — AGN\\n-----------------------------------------\\nFecha:   ${date}\\nEstado:  Exitoso\\nSchemas: ${prepared.length}\\n\\nARCHIVOS INDIVIDUALES (schemas/):\\n${rows}\\n\\nSUBTOTAL:  ${totalKb} KB\\n\\nARCHIVO CONSOLIDADO (consolidated/):\\n  📦 ${consolidated.json.filename}   ${consolidatedKb} KB\\n\\n-----------------------------------------\\nTodos los backups fueron subidos a GitHub.\\nEste es un mensaje automatico del sistema.`\n  }\n}];"},"id":"f6609f42-0be4-4ce0-8953-995f14311f62","name":"Build Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-128]},{"parameters":{"fromEmail":"gaston.villagra@griftin.com.ar","toEmail":"gaston.villagra@griftin.com.ar","subject":"={{ $json.subject }}","text":"={{ $json.body }}","options":{}},"id":"47528296-0a87-474c-ac11-6b3cb9ca6995","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1216,-128],"credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account Gaston"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate All Backups","type":"main","index":0}]]},"Generate All Backups":{"main":[[{"node":"Prepare All Files","type":"main","index":0}]]},"Prepare All Files":{"main":[[{"node":"Upload Schemas to GitHub","type":"main","index":0}]]},"Upload Schemas to GitHub":{"main":[[{"node":"Prepare Consolidated File","type":"main","index":0}]]},"Prepare Consolidated File":{"main":[[{"node":"Upload Consolidated to GitHub","type":"main","index":0}]]},"Upload Consolidated to GitHub":{"main":[[{"node":"Build Email","type":"main","index":0}]]},"Build Email":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ae0eb7c-0c0b-4f35-a1b1-d34616f9243b","activeVersionId":"4ae0eb7c-0c0b-4f35-a1b1-d34616f9243b","triggerCount":1,"shared":[{"updatedAt":"2026-07-06T17:35:43.486Z","createdAt":"2026-07-06T17:35:43.486Z","role":"workflow:owner","workflowId":"MFANhyeHaXqyrMNa","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-07-06T18:22:31.594Z","createdAt":"2026-07-06T18:22:31.594Z","versionId":"4ae0eb7c-0c0b-4f35-a1b1-d34616f9243b","workflowId":"MFANhyeHaXqyrMNa","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"7d65a7e4-a12b-4d34-ab95-a497db41acc7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-464,-128]},{"parameters":{"operation":"executeQuery","query":"SELECT s AS schema_name, public.export_full_backup(s) AS sql_content FROM unnest(ARRAY['ford-vendedor','hyundai-posventa','hyundai-ventas','marcas_chinas_schema','nissan-posventa','nissan-vendedor','ovalo-cobranzas','public']) AS s;","options":{}},"id":"286f135c-5d94-4da9-9032-2d43df35333a","name":"Generate All Backups","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-224,-128],"credentials":{"postgres":{"id":"xLMcpsv4QDveR6uY","name":"postgres-agn-pro-credential"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\n\nreturn items.map(item => {\n  const schemaName = item.json.schema_name;\n  const sqlContent = item.json.sql_content;\n  const finalSql = `-- ============================================================\\n-- FULL BACKUP — Schema: ${schemaName}\\n-- Generated: ${now.toISOString()}\\n-- ============================================================\\n\\n${sqlContent}`;\n  return {\n    json: {\n      schema_name: schemaName,\n      filename: `${schemaName}_full_${timestamp}.sql`,\n      timestamp: now.toISOString(),\n      content: finalSql,\n      size_kb: (finalSql.length / 1024).toFixed(2)\n    }\n  };\n});"},"id":"f16df8c5-0593-4dbe-bbac-3d64e85be723","name":"Prepare All Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-128]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"filePath":"=schemas/{{ $json.schema_name }}/{{ $json.filename }}","fileContent":"={{ $json.content }}","commitMessage":"=🔄 Backup {{ $json.schema_name }} - {{ $json.timestamp }}"},"id":"db92aae8-e274-4ddd-8bfd-a842793ec705","name":"Upload Schemas to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[256,-128],"webhookId":"1d2b13aa-8213-4e1b-8f11-f8e7b7c750f8","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"jsCode":"const prepared = $('Prepare All Files').all();\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\n\nconst separator = `\\n\\n-- ============================================================\\n-- ============================================================\\n\\n`;\n\nconst parts = prepared.map(item => item.json.content);\nconst consolidated = parts.join(separator);\n\nconst header = `-- ============================================================\\n-- CONSOLIDATED FULL BACKUP — AGN (All Schemas)\\n-- Generated: ${now.toISOString()}\\n-- Schemas: ${prepared.map(i => i.json.schema_name).join(', ')}\\n-- ============================================================\\n\\n`;\n\nconst finalContent = header + consolidated;\n\nreturn [{\n  json: {\n    filename: `agn_consolidated_full_${timestamp}.sql`,\n    timestamp: now.toISOString(),\n    content: finalContent,\n    size_kb: (finalContent.length / 1024).toFixed(2),\n    schema_count: prepared.length\n  }\n}];"},"id":"64ed1733-4e71-4800-962f-72b880617b6c","name":"Prepare Consolidated File","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-128]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup-supa-agn","mode":"url"},"filePath":"=consolidated/{{ $json.filename }}","fileContent":"={{ $json.content }}","commitMessage":"=📦 Consolidated backup AGN - {{ $json.timestamp }}"},"id":"8019bb8a-81ee-42f8-8f12-ae6d994520b8","name":"Upload Consolidated to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[736,-128],"webhookId":"1af36de8-e187-4abe-9c87-63ff77cc35ca","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"jsCode":"const prepared = $('Prepare All Files').all();\nconst consolidated = $('Prepare Consolidated File').first();\n\nconst rows = prepared.map(item => {\n  const s = item.json.schema_name;\n  const f = item.json.filename;\n  const kb = item.json.size_kb;\n  return `  ✔ ${String(s).padEnd(25)} ${kb} KB  →  schemas/${s}/${f}`;\n}).join('\\n');\n\nconst totalKb = prepared.reduce((acc, i) => acc + parseFloat(i.json.size_kb || 0), 0).toFixed(2);\nconst consolidatedKb = consolidated.json.size_kb;\n\nconst date = new Date().toLocaleDateString('es-AR', {\n  year: 'numeric', month: 'long', day: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    subject: `✅ Backup Supabase AGN — ${prepared.length} schemas procesados`,\n    body: `REPORTE DE RESPALDO AUTOMATICO — AGN\\n-----------------------------------------\\nFecha:   ${date}\\nEstado:  Exitoso\\nSchemas: ${prepared.length}\\n\\nARCHIVOS INDIVIDUALES (schemas/):\\n${rows}\\n\\nSUBTOTAL:  ${totalKb} KB\\n\\nARCHIVO CONSOLIDADO (consolidated/):\\n  📦 ${consolidated.json.filename}   ${consolidatedKb} KB\\n\\n-----------------------------------------\\nTodos los backups fueron subidos a GitHub.\\nEste es un mensaje automatico del sistema.`\n  }\n}];"},"id":"f6609f42-0be4-4ce0-8953-995f14311f62","name":"Build Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-128]},{"parameters":{"fromEmail":"gaston.villagra@griftin.com.ar","toEmail":"gaston.villagra@griftin.com.ar","subject":"={{ $json.subject }}","text":"={{ $json.body }}","options":{}},"id":"47528296-0a87-474c-ac11-6b3cb9ca6995","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1216,-128],"credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account Gaston"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate All Backups","type":"main","index":0}]]},"Generate All Backups":{"main":[[{"node":"Prepare All Files","type":"main","index":0}]]},"Prepare All Files":{"main":[[{"node":"Upload Schemas to GitHub","type":"main","index":0}]]},"Upload Schemas to GitHub":{"main":[[{"node":"Prepare Consolidated File","type":"main","index":0}]]},"Prepare Consolidated File":{"main":[[{"node":"Upload Consolidated to GitHub","type":"main","index":0}]]},"Upload Consolidated to GitHub":{"main":[[{"node":"Build Email","type":"main","index":0}]]},"Build Email":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}