backup_agn-THPwzRN3zByqQxBr.json
{"updatedAt":"2026-05-18T19:00:44.000Z","createdAt":"2026-05-18T18:20:06.717Z","id":"THPwzRN3zByqQxBr","name":"BACKUP_AGN","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"73d2a9e4-8615-4bf5-927d-9ac3f5d9a540","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1776,-80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2f7b98e9-2eae-416a-abc9-bf3b0ae31f66","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1584,-80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"27551e23-d341-40bb-bc99-eb59cafa00e7","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1392,-80]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"b8c285b0-5ac0-42ee-a964-4441e83948be","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1024,-80]},{"parameters":{"filters":{},"requestOptions":{}},"id":"55ded545-80b5-47fb-9bbb-65126bbb7a7e","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-832,-80],"credentials":{"n8nApi":{"id":"DWuseGLu6YzYsDzW","name":"Api Backup"}}},{"parameters":{"jsCode":"for (const item of items) {\n  item.json.workflowName = item.json.name;\n}\nreturn items;"},"id":"5429b042-a2f6-4d3b-8f70-836eed33dce1","name":"Save workflow names1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,-80]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"df7abc24-b39f-469d-8bc8-836ee7875459","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-480,-80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"6b27fdb8-0b0b-43c0-8124-2dfc4651208d","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[192,-16]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"acf44491-00aa-49c0-a155-0c9aba83d073","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[576,-400],"webhookId":"d925a5bf-ed5e-4678-bbd3-766e46e870d3","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"e8af1354-a57d-4e12-b97c-ccb2a226825a","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,256],"webhookId":"04a1688f-dad0-4649-a581-86a20ede87ab","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"batchSize":1,"options":{}},"id":"35a7c854-2343-4077-8a51-f6b3a05c93af","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-288,-80],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2000,-80],"id":"1b153e9a-59e8-4971-a894-620428ae8ba2","name":"Schedule Trigger"},{"parameters":{"jsCode":"const names = items.map(item => {\n  // 1. Buscar en la estructura de GitHub (item.json.content.name)\n  // O en la raíz por si acaso (item.json.name)\n  let name = (item.json.content && item.json.content.name) || item.json.name || item.json.workflowName;\n\n  // 2. Si no existe en el JSON, intentar extraerlo del binario\n  if (!name && item.binary && item.binary.data) {\n    name = item.binary.data.fileName || '';\n  }\n\n  // 3. Limpieza del nombre (quitar .json y mejorar formato)\n  if (name) {\n    return name\n      .replace(/\\.json$/i, \"\") // Quita la extensión .json\n      .replace(/_/g, ' ')      // Cambia guiones bajos por espacios\n      .replace(/-/g, ' ')      // Cambia guiones medios por espacios\n      .trim();\n  }\n\n  // Fallback final\n  return 'Archivo sin nombre detectable';\n}).filter(Boolean);\n\nconst count = names.length;\nconst list = names.map(n => `  ○ ${n}`).join('\\n');\n\nconst date = new Date().toLocaleDateString('es-AR', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    subject: `✅ Backup de AGN : ${count} flujo(s) procesado(s)`,\n    body: `REPORTE DE RESPALDO AUTOMÁTICO\n-----------------------------------------\nFecha: ${date}\nEstado: Exitoso\nCantidad: ${count} elemento(s)\n\nLISTADO DE WORKFLOWS:\n${list}\n\n-----------------------------------------\nEste es un mensaje automático del sistema.`\n  }\n}];"},"id":"38ea94e3-3aea-43e1-9061-da6806120aac","name":"Prepare email notification1","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,480]},{"parameters":{"fromEmail":"gaston.villagra@griftin.com.ar","toEmail":"gaston.villagra@griftin.com.ar","ccEmail":"gustavo.maigua@griftin.com.ar","subject":"={{ $json.subject }}","text":"={{ $json.body }}","options":{}},"id":"fa333f75-2dda-4cdb-892f-1444d488e21d","name":"Send email notification1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[816,480],"credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"="},"id":"0bb4b649-d4ad-41db-be66-8af83896172f","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1184,-80],"alwaysOutputData":false,"webhookId":"b1855eb1-724b-4387-903e-0e1ef2bbe450","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Save workflow names1","type":"main","index":0}]]},"Save workflow names1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}],[{"node":"Prepare email notification1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Prepare email notification1":{"main":[[{"node":"Send email notification1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10735c4c-4706-4c3a-857f-b311617373dd","activeVersionId":"10735c4c-4706-4c3a-857f-b311617373dd","triggerCount":1,"shared":[{"updatedAt":"2026-05-18T18:20:06.722Z","createdAt":"2026-05-18T18:20:06.722Z","role":"workflow:owner","workflowId":"THPwzRN3zByqQxBr","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-05-18T19:00:44.177Z","createdAt":"2026-05-18T19:00:44.177Z","versionId":"10735c4c-4706-4c3a-857f-b311617373dd","workflowId":"THPwzRN3zByqQxBr","nodes":[{"parameters":{"options":{}},"id":"73d2a9e4-8615-4bf5-927d-9ac3f5d9a540","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1776,-80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2f7b98e9-2eae-416a-abc9-bf3b0ae31f66","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1584,-80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"27551e23-d341-40bb-bc99-eb59cafa00e7","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1392,-80]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"b8c285b0-5ac0-42ee-a964-4441e83948be","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1024,-80]},{"parameters":{"filters":{},"requestOptions":{}},"id":"55ded545-80b5-47fb-9bbb-65126bbb7a7e","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-832,-80],"credentials":{"n8nApi":{"id":"DWuseGLu6YzYsDzW","name":"Api Backup"}}},{"parameters":{"jsCode":"for (const item of items) {\n  item.json.workflowName = item.json.name;\n}\nreturn items;"},"id":"5429b042-a2f6-4d3b-8f70-836eed33dce1","name":"Save workflow names1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,-80]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"df7abc24-b39f-469d-8bc8-836ee7875459","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-480,-80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"6b27fdb8-0b0b-43c0-8124-2dfc4651208d","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[192,-16]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"acf44491-00aa-49c0-a155-0c9aba83d073","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[576,-400],"webhookId":"d925a5bf-ed5e-4678-bbd3-766e46e870d3","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"e8af1354-a57d-4e12-b97c-ccb2a226825a","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,256],"webhookId":"04a1688f-dad0-4649-a581-86a20ede87ab","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}},{"parameters":{"batchSize":1,"options":{}},"id":"35a7c854-2343-4077-8a51-f6b3a05c93af","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-288,-80],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2000,-80],"id":"1b153e9a-59e8-4971-a894-620428ae8ba2","name":"Schedule Trigger"},{"parameters":{"jsCode":"const names = items.map(item => {\n  // 1. Buscar en la estructura de GitHub (item.json.content.name)\n  // O en la raíz por si acaso (item.json.name)\n  let name = (item.json.content && item.json.content.name) || item.json.name || item.json.workflowName;\n\n  // 2. Si no existe en el JSON, intentar extraerlo del binario\n  if (!name && item.binary && item.binary.data) {\n    name = item.binary.data.fileName || '';\n  }\n\n  // 3. Limpieza del nombre (quitar .json y mejorar formato)\n  if (name) {\n    return name\n      .replace(/\\.json$/i, \"\") // Quita la extensión .json\n      .replace(/_/g, ' ')      // Cambia guiones bajos por espacios\n      .replace(/-/g, ' ')      // Cambia guiones medios por espacios\n      .trim();\n  }\n\n  // Fallback final\n  return 'Archivo sin nombre detectable';\n}).filter(Boolean);\n\nconst count = names.length;\nconst list = names.map(n => `  ○ ${n}`).join('\\n');\n\nconst date = new Date().toLocaleDateString('es-AR', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    subject: `✅ Backup de AGN : ${count} flujo(s) procesado(s)`,\n    body: `REPORTE DE RESPALDO AUTOMÁTICO\n-----------------------------------------\nFecha: ${date}\nEstado: Exitoso\nCantidad: ${count} elemento(s)\n\nLISTADO DE WORKFLOWS:\n${list}\n\n-----------------------------------------\nEste es un mensaje automático del sistema.`\n  }\n}];"},"id":"38ea94e3-3aea-43e1-9061-da6806120aac","name":"Prepare email notification1","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,480]},{"parameters":{"fromEmail":"gaston.villagra@griftin.com.ar","toEmail":"gaston.villagra@griftin.com.ar","ccEmail":"gustavo.maigua@griftin.com.ar","subject":"={{ $json.subject }}","text":"={{ $json.body }}","options":{}},"id":"fa333f75-2dda-4cdb-892f-1444d488e21d","name":"Send email notification1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[816,480],"credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/gaston010/backup_griftin_agn","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/gaston010/backup_griftin_agn","mode":"url"},"filePath":"="},"id":"0bb4b649-d4ad-41db-be66-8af83896172f","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1184,-80],"alwaysOutputData":false,"webhookId":"b1855eb1-724b-4387-903e-0e1ef2bbe450","credentials":{"githubApi":{"id":"yJQMYqbFYkTX8avM","name":"GitHub account Gaston"}}}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Save workflow names1","type":"main","index":0}]]},"Save workflow names1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}],[{"node":"Prepare email notification1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Prepare email notification1":{"main":[[{"node":"Send email notification1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}