backup_to_github-vvGOvbFFiAGfudvD.json
{"updatedAt":"2026-03-30T15:37:53.000Z","createdAt":"2026-03-05T15:50:10.891Z","id":"vvGOvbFFiAGfudvD","name":"backup_to_github","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# FLUJO DE BACKUP A GITHUB","height":960,"width":4416,"color":3},"type":"n8n-nodes-base.stickyNote","position":[416,48],"typeVersion":1,"id":"48de7138-1078-4409-8d71-38198210d44c","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[656,368],"id":"821779d8-eed3-4339-b450-5d02bef38a56","name":"trigger_programado"},{"parameters":{"assignments":{"assignments":[{"id":"ec8902f7-4d55-42b5-a590-37aba563de01","name":"repository_name","value":"agn-n8n-backups","type":"string"},{"id":"af8f48e9-28f3-4029-bd12-eebf49902afa","name":"owner_name","value":"oscargrecogriftin","type":"string"},{"id":"e15f579c-c080-40e6-89b1-1b0318b0f834","name":"commit_date","value":"={{ (() => {   const now = new Date();   const day = String(now.getDate()).padStart(2, '0');   const month = String(now.getMonth() + 1).padStart(2, '0');   const year = now.getFullYear();   const hours = String(now.getHours()).padStart(2, '0');   const minutes = String(now.getMinutes()).padStart(2, '0');   return `${day}-${month}-${year}/${hours}:${minutes}`; })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,384],"id":"e4e964c2-6cbb-4769-aac6-ca5afa8ff263","name":"set-data-github"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{$json[\"owner_name\"]}}","mode":"name"},"repository":{"__rl":true,"value":"={{$json[\"repository_name\"]}}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,384],"id":"ea036a57-9e01-4e1a-af88-7b00ee43391e","name":"List files","webhookId":"d897773e-81c5-4aec-8ee3-a43471703526","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1984,400],"id":"85ca1f46-74ca-47f4-a708-815917d7f695","name":"get-all-workflows","credentials":{"n8nApi":{"id":"rbO69jLwTzDtiGmS","name":"n8n-agn-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"411d0811-4ca1-43a1-a1d4-3d166ca979bc","leftValue":"={{ $json.isArchived }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2192,400],"id":"ae35a20a-ebc8-4038-a43e-f7018eb8bd8b","name":"Filter"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2528,400],"id":"587091be-8cc3-4af1-892d-4e101b452c9a","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,416],"id":"0633d8ae-ea7d-41a1-a551-7c3fc735b3e7","name":"Loop Over Items"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data}}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[4032,512],"id":"1515842d-f7c0-4953-8ed5-9bc47faaadf9","name":"crea_rarchivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data  }}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3632,160],"id":"b132fa4e-d07b-443b-9f37-fdd0d0be0452","name":"edita_archivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4400,400],"id":"33ab54ae-9d00-4ff5-9432-65cb011d4db1","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"6d1a9efd-f9f7-4269-8a82-df6c9468ab5c","name":"file_name","value":"={{ $binary.data.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3344,512],"id":"22eab99f-b634-4b30-8d9c-f8e8b847fb4b","name":"extrae_nombre"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9700d1a-72ad-4fcf-9fb7-4865a36f1c39","leftValue":"={{ $('genera_lista_nombres').item.json.name }}","rightValue":"={{ $json.file_name }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3552,512],"id":"f1bb4045-d2a1-4a48-a91d-236bc88c65b7","name":"existe?"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1648,400],"id":"a665d70a-7923-4bdc-8702-1771fd2fd7a1","name":"genera_lista_nombres"},{"parameters":{"sendTo":"fsalva157@gmail.com","subject":"error al crear copia de flujo n8n en github","message":"=<h1> error al crear copia de flujo n8n en github </h1>\n<h2>{{ $json.file_name }} </h2>\n<h3>{{ $json.error }} </h3>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4240,608],"id":"8df6be60-be3f-4c56-9253-c20d63f57569","name":"message_error_crear","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"sendTo":"fsalva157@gmail.com","subject":"error al editar flujo n8n en github","message":"=<h1> error al editar copia de flujo n8n en github </h1> <h2>{{ $json.file_name }} </h2> <h3>{{ $json.error }} </h3>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4176,192],"id":"527537a6-163c-4629-aad5-19429980429d","name":"message_error_editar","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"sendTo":"oscar.greco@gmail.com","subject":"=✅ Backup AGN N8N completado - {{ $json.total_flujos }} flujos - {{ $json.fecha }}","message":"={{  $json.html_resumen}}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3744,400],"id":"9a12758c-b75f-429b-ab96-279071a6a9fb","name":"message_resumen","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrar solo items que son archivos de GitHub (tienen content.name)\nconst archivos = items.filter(item => item.json.content?.name);\n\nconst filas = archivos.map(item => {\n  const nombre = item.json.content.name.replace('.json', '');\n  const tamaño = (item.json.content.size / 1024).toFixed(1) + ' KB';\n  const commitUrl = item.json.commit?.html_url || '#';\n  const sha = item.json.commit?.sha?.substring(0, 7) || 'N/A';\n  \n  return `\n    <tr>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;font-size:13px;\">${nombre}</td>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;text-align:right;color:#888;font-size:13px;\">${tamaño}</td>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;text-align:center;font-size:13px;\">\n        <a href=\"${commitUrl}\" style=\"color:#3498db;text-decoration:none;\">${sha}</a>\n      </td>\n    </tr>`;\n}).join('');\n\nconst fecha = archivos[0]?.json.commit?.message || 'N/A';\nconst total = archivos.length;\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:750px;margin:0 auto;color:#333;\">\n  <h1 style=\"background:#2c3e50;color:#fff;padding:16px 20px;margin:0;border-radius:6px 6px 0 0;\">\n    ✅ Backup AGN-N8N → GitHub\n  </h1>\n  <div style=\"background:#f8f9fa;padding:16px 20px;border:1px solid #e0e0e0;\">\n    <p style=\"margin:4px 0;\">📅 <strong>Fecha:</strong> ${fecha}</p>\n    <p style=\"margin:4px 0;\">📦 <strong>Flujos respaldados:</strong> ${total}</p>\n    <p style=\"margin:4px 0;\">🔗 <strong>Repositorio:</strong> \n      <a href=\"https://github.com/oscargrecogriftin/agn-n8n-backups\" style=\"color:#3498db;\">agn-n8n-backups</a>\n    </p>\n  </div>\n  <table style=\"width:100%;border-collapse:collapse;border:1px solid #e0e0e0;\">\n    <thead>\n      <tr style=\"background:#34495e;color:#fff;\">\n        <th style=\"padding:10px 12px;text-align:left;\">Flujo</th>\n        <th style=\"padding:10px 12px;text-align:right;\">Tamaño</th>\n        <th style=\"padding:10px 12px;text-align:center;\">Commit</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${filas}\n    </tbody>\n  </table>\n  <p style=\"color:#aaa;font-size:11px;padding:12px 0;text-align:center;\">\n    Generado automáticamente por n8n\n  </p>\n</div>`;\n\nreturn [{ json: { html_resumen: html, total_flujos: total, fecha } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,320],"id":"3f6aa6a5-0803-4bc4-a7b9-44f30bd07b09","name":"modela_mensaje"}],"connections":{"trigger_programado":{"main":[[{"node":"set-data-github","type":"main","index":0}]]},"set-data-github":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"genera_lista_nombres","type":"main","index":0}]]},"get-all-workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"modela_mensaje","type":"main","index":0}],[{"node":"extrae_nombre","type":"main","index":0}]]},"crea_rarchivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"message_error_crear","type":"main","index":0}]]},"edita_archivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"message_error_editar","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"extrae_nombre":{"main":[[{"node":"existe?","type":"main","index":0}]]},"existe?":{"main":[[{"node":"edita_archivo","type":"main","index":0}],[{"node":"crea_rarchivo","type":"main","index":0}]]},"genera_lista_nombres":{"main":[[{"node":"get-all-workflows","type":"main","index":0}]]},"message_error_crear":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"message_error_editar":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"message_resumen":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"modela_mensaje":{"main":[[{"node":"message_resumen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:trigger_programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2dfcdef-25e4-4004-80c7-d49172847a90","activeVersionId":"c2dfcdef-25e4-4004-80c7-d49172847a90","triggerCount":1,"shared":[{"updatedAt":"2026-03-05T15:50:10.895Z","createdAt":"2026-03-05T15:50:10.895Z","role":"workflow:owner","workflowId":"vvGOvbFFiAGfudvD","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-03-30T15:37:53.848Z","createdAt":"2026-03-30T15:37:53.848Z","versionId":"c2dfcdef-25e4-4004-80c7-d49172847a90","workflowId":"vvGOvbFFiAGfudvD","nodes":[{"parameters":{"content":"# FLUJO DE BACKUP A GITHUB","height":960,"width":4416,"color":3},"type":"n8n-nodes-base.stickyNote","position":[416,48],"typeVersion":1,"id":"48de7138-1078-4409-8d71-38198210d44c","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[656,368],"id":"821779d8-eed3-4339-b450-5d02bef38a56","name":"trigger_programado"},{"parameters":{"assignments":{"assignments":[{"id":"ec8902f7-4d55-42b5-a590-37aba563de01","name":"repository_name","value":"agn-n8n-backups","type":"string"},{"id":"af8f48e9-28f3-4029-bd12-eebf49902afa","name":"owner_name","value":"oscargrecogriftin","type":"string"},{"id":"e15f579c-c080-40e6-89b1-1b0318b0f834","name":"commit_date","value":"={{ (() => {   const now = new Date();   const day = String(now.getDate()).padStart(2, '0');   const month = String(now.getMonth() + 1).padStart(2, '0');   const year = now.getFullYear();   const hours = String(now.getHours()).padStart(2, '0');   const minutes = String(now.getMinutes()).padStart(2, '0');   return `${day}-${month}-${year}/${hours}:${minutes}`; })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,384],"id":"e4e964c2-6cbb-4769-aac6-ca5afa8ff263","name":"set-data-github"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{$json[\"owner_name\"]}}","mode":"name"},"repository":{"__rl":true,"value":"={{$json[\"repository_name\"]}}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,384],"id":"ea036a57-9e01-4e1a-af88-7b00ee43391e","name":"List files","webhookId":"d897773e-81c5-4aec-8ee3-a43471703526","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1984,400],"id":"85ca1f46-74ca-47f4-a708-815917d7f695","name":"get-all-workflows","credentials":{"n8nApi":{"id":"rbO69jLwTzDtiGmS","name":"n8n-agn-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"411d0811-4ca1-43a1-a1d4-3d166ca979bc","leftValue":"={{ $json.isArchived }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2192,400],"id":"ae35a20a-ebc8-4038-a43e-f7018eb8bd8b","name":"Filter"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2528,400],"id":"587091be-8cc3-4af1-892d-4e101b452c9a","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,416],"id":"0633d8ae-ea7d-41a1-a551-7c3fc735b3e7","name":"Loop Over Items"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data}}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[4032,512],"id":"1515842d-f7c0-4953-8ed5-9bc47faaadf9","name":"crea_rarchivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data  }}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3632,160],"id":"b132fa4e-d07b-443b-9f37-fdd0d0be0452","name":"edita_archivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"svF4wcIxjnzQpNms","name":"oscargrecogriftin-github-credential"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4400,400],"id":"33ab54ae-9d00-4ff5-9432-65cb011d4db1","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"6d1a9efd-f9f7-4269-8a82-df6c9468ab5c","name":"file_name","value":"={{ $binary.data.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3344,512],"id":"22eab99f-b634-4b30-8d9c-f8e8b847fb4b","name":"extrae_nombre"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9700d1a-72ad-4fcf-9fb7-4865a36f1c39","leftValue":"={{ $('genera_lista_nombres').item.json.name }}","rightValue":"={{ $json.file_name }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3552,512],"id":"f1bb4045-d2a1-4a48-a91d-236bc88c65b7","name":"existe?"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1648,400],"id":"a665d70a-7923-4bdc-8702-1771fd2fd7a1","name":"genera_lista_nombres"},{"parameters":{"sendTo":"fsalva157@gmail.com","subject":"error al crear copia de flujo n8n en github","message":"=<h1> error al crear copia de flujo n8n en github </h1>\n<h2>{{ $json.file_name }} </h2>\n<h3>{{ $json.error }} </h3>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4240,608],"id":"8df6be60-be3f-4c56-9253-c20d63f57569","name":"message_error_crear","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"sendTo":"fsalva157@gmail.com","subject":"error al editar flujo n8n en github","message":"=<h1> error al editar copia de flujo n8n en github </h1> <h2>{{ $json.file_name }} </h2> <h3>{{ $json.error }} </h3>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4176,192],"id":"527537a6-163c-4629-aad5-19429980429d","name":"message_error_editar","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"sendTo":"oscar.greco@gmail.com","subject":"=✅ Backup AGN N8N completado - {{ $json.total_flujos }} flujos - {{ $json.fecha }}","message":"={{  $json.html_resumen}}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3744,400],"id":"9a12758c-b75f-429b-ab96-279071a6a9fb","name":"message_resumen","webhookId":"47ddd8a7-5463-48d0-b3ea-2a46f12f7fe5","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrar solo items que son archivos de GitHub (tienen content.name)\nconst archivos = items.filter(item => item.json.content?.name);\n\nconst filas = archivos.map(item => {\n  const nombre = item.json.content.name.replace('.json', '');\n  const tamaño = (item.json.content.size / 1024).toFixed(1) + ' KB';\n  const commitUrl = item.json.commit?.html_url || '#';\n  const sha = item.json.commit?.sha?.substring(0, 7) || 'N/A';\n  \n  return `\n    <tr>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;font-size:13px;\">${nombre}</td>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;text-align:right;color:#888;font-size:13px;\">${tamaño}</td>\n      <td style=\"padding:7px 12px;border-bottom:1px solid #eee;text-align:center;font-size:13px;\">\n        <a href=\"${commitUrl}\" style=\"color:#3498db;text-decoration:none;\">${sha}</a>\n      </td>\n    </tr>`;\n}).join('');\n\nconst fecha = archivos[0]?.json.commit?.message || 'N/A';\nconst total = archivos.length;\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:750px;margin:0 auto;color:#333;\">\n  <h1 style=\"background:#2c3e50;color:#fff;padding:16px 20px;margin:0;border-radius:6px 6px 0 0;\">\n    ✅ Backup AGN-N8N → GitHub\n  </h1>\n  <div style=\"background:#f8f9fa;padding:16px 20px;border:1px solid #e0e0e0;\">\n    <p style=\"margin:4px 0;\">📅 <strong>Fecha:</strong> ${fecha}</p>\n    <p style=\"margin:4px 0;\">📦 <strong>Flujos respaldados:</strong> ${total}</p>\n    <p style=\"margin:4px 0;\">🔗 <strong>Repositorio:</strong> \n      <a href=\"https://github.com/oscargrecogriftin/agn-n8n-backups\" style=\"color:#3498db;\">agn-n8n-backups</a>\n    </p>\n  </div>\n  <table style=\"width:100%;border-collapse:collapse;border:1px solid #e0e0e0;\">\n    <thead>\n      <tr style=\"background:#34495e;color:#fff;\">\n        <th style=\"padding:10px 12px;text-align:left;\">Flujo</th>\n        <th style=\"padding:10px 12px;text-align:right;\">Tamaño</th>\n        <th style=\"padding:10px 12px;text-align:center;\">Commit</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${filas}\n    </tbody>\n  </table>\n  <p style=\"color:#aaa;font-size:11px;padding:12px 0;text-align:center;\">\n    Generado automáticamente por n8n\n  </p>\n</div>`;\n\nreturn [{ json: { html_resumen: html, total_flujos: total, fecha } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,320],"id":"3f6aa6a5-0803-4bc4-a7b9-44f30bd07b09","name":"modela_mensaje"}],"connections":{"trigger_programado":{"main":[[{"node":"set-data-github","type":"main","index":0}]]},"set-data-github":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"genera_lista_nombres","type":"main","index":0}]]},"get-all-workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"modela_mensaje","type":"main","index":0}],[{"node":"extrae_nombre","type":"main","index":0}]]},"crea_rarchivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"message_error_crear","type":"main","index":0}]]},"edita_archivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"message_error_editar","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"extrae_nombre":{"main":[[{"node":"existe?","type":"main","index":0}]]},"existe?":{"main":[[{"node":"edita_archivo","type":"main","index":0}],[{"node":"crea_rarchivo","type":"main","index":0}]]},"genera_lista_nombres":{"main":[[{"node":"get-all-workflows","type":"main","index":0}]]},"message_error_crear":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"message_error_editar":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"message_resumen":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"modela_mensaje":{"main":[[{"node":"message_resumen","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}