bot_for_dashboards-Ip64MWRGtHQEnblb.json
{"updatedAt":"2026-05-12T14:52:25.000Z","createdAt":"2026-05-12T12:28:58.864Z","id":"Ip64MWRGtHQEnblb","name":"bot_for_dashboards","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bot-agn","responseMode":"responseNode","options":{}},"id":"70ca4d08-fc93-47a0-bad7-77a09402bf3e","name":"Webhook_bot","position":[-32,-16],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"01481322-79be-48ed-9f6c-58934b96822b"},{"parameters":{"jsCode":"const body = $('Webhook_bot').first().json.body;\nconst message = body.message || '';\nconst context = body.context || {};\n\nreturn [{\n  json: {\n    prompt: message,\n    context: JSON.stringify(context, null, 2)\n  }\n}];"},"id":"prepare-prompt-001","name":"Prepare Prompt","position":[240,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $('Prepare Prompt').first().json.prompt }}","options":{"systemMessage":"=Sos un asistente de análisis de automatizaciones para la empresa AGN (Argentina). Respondé siempre en español rioplatense, de forma concisa y directa. Máximo 3-4 oraciones salvo que se pida un análisis detallado.\n\nCONTEXTO DEL DASHBOARD:\n{{ $('Prepare Prompt').first().json.context }}\n\nReglas:\n- Usá los datos del contexto para responder, no inventes cifras.\n- Si un workflow tiene errorRate > 10%, destacálo.\n- Para fechas usá formato dd/mm hh:mm.\n- Si no hay datos suficientes, decílo claramente."}},"id":"ai-agent-001","name":"AI Agent","position":[496,-16],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"2ea573cd-d8bb-44e3-bb45-ee50305a2e23","name":"OpenAI Chat Model","position":[416,240],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook_bot').first().json.body.sessionId }}","contextWindowLength":15},"id":"7b3a9b63-642d-4856-8d00-2cf477155000","name":"Simple Memory","position":[656,256],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ reply: $json.output }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-bot-001","name":"Respond to Webhook","position":[880,-16],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"AI Agent":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]],"main":[]},"Prepare Prompt":{"main":[[{"index":0,"node":"AI Agent","type":"main"}]]},"Simple Memory":{"ai_memory":[[{"index":0,"node":"AI Agent","type":"ai_memory"}]],"main":[]},"Webhook_bot":{"main":[[{"index":0,"node":"Prepare Prompt","type":"main"}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f8c8839-ff30-453a-8be8-f1655771ee31","activeVersionId":"4f8c8839-ff30-453a-8be8-f1655771ee31","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T12:28:58.869Z","createdAt":"2026-05-12T12:28:58.869Z","role":"workflow:owner","workflowId":"Ip64MWRGtHQEnblb","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-05-12T14:52:25.108Z","createdAt":"2026-05-12T14:52:25.108Z","versionId":"4f8c8839-ff30-453a-8be8-f1655771ee31","workflowId":"Ip64MWRGtHQEnblb","nodes":[{"parameters":{"httpMethod":"POST","path":"bot-agn","responseMode":"responseNode","options":{}},"id":"70ca4d08-fc93-47a0-bad7-77a09402bf3e","name":"Webhook_bot","position":[-32,-16],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"01481322-79be-48ed-9f6c-58934b96822b"},{"parameters":{"jsCode":"const body = $('Webhook_bot').first().json.body;\nconst message = body.message || '';\nconst context = body.context || {};\n\nreturn [{\n  json: {\n    prompt: message,\n    context: JSON.stringify(context, null, 2)\n  }\n}];"},"id":"prepare-prompt-001","name":"Prepare Prompt","position":[240,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $('Prepare Prompt').first().json.prompt }}","options":{"systemMessage":"=Sos un asistente de análisis de automatizaciones para la empresa AGN (Argentina). Respondé siempre en español rioplatense, de forma concisa y directa. Máximo 3-4 oraciones salvo que se pida un análisis detallado.\n\nCONTEXTO DEL DASHBOARD:\n{{ $('Prepare Prompt').first().json.context }}\n\nReglas:\n- Usá los datos del contexto para responder, no inventes cifras.\n- Si un workflow tiene errorRate > 10%, destacálo.\n- Para fechas usá formato dd/mm hh:mm.\n- Si no hay datos suficientes, decílo claramente."}},"id":"ai-agent-001","name":"AI Agent","position":[496,-16],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"2ea573cd-d8bb-44e3-bb45-ee50305a2e23","name":"OpenAI Chat Model","position":[416,240],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook_bot').first().json.body.sessionId }}","contextWindowLength":15},"id":"7b3a9b63-642d-4856-8d00-2cf477155000","name":"Simple Memory","position":[656,256],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ reply: $json.output }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-bot-001","name":"Respond to Webhook","position":[880,-16],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"AI Agent":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]],"main":[]},"Prepare Prompt":{"main":[[{"index":0,"node":"AI Agent","type":"main"}]]},"Simple Memory":{"ai_memory":[[{"index":0,"node":"AI Agent","type":"ai_memory"}]],"main":[]},"Webhook_bot":{"main":[[{"index":0,"node":"Prepare Prompt","type":"main"}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}