chatwoot-DMOGQef3EaV2XwWa.json
{"updatedAt":"2026-01-12T19:46:36.000Z","createdAt":"2025-12-04T20:26:20.836Z","id":"DMOGQef3EaV2XwWa","name":"chatwoot","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4000,528],"id":"c3884fca-b5da-4b6a-b3c8-0296d78344ab","name":"session-id","disabled":true},{"parameters":{"operation":"get","key":"={{ \"conversacion:\" + $json.sessionId + \":estado\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3824,528],"id":"3008bf53-5426-40d6-a192-a9788b877e7f","name":"redis-recupera-estado-actual","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"jsCode":"const idSession = $('session-id').first().json.sessionId\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false}';\nconst estado = JSON.parse(estadoJson);\n\nreturn [{ json: { \n  sessionId: idSession,\n  human_takeover: estado.human_takeover\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3648,528],"id":"06dec0ba-85cb-4064-b4cb-984260ae2f25","name":"parsea-estado-ht","disabled":true},{"parameters":{"url":"http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2688,880],"id":"1094aecc-111f-4019-aee6-fc744efd5a08","name":"Obtener-contacto-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id').isExecuted,\n  $('Si-existe-contacto').item.json.payload[0].id,\n  $('Si-existe-contacto').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,720],"id":"283eb8dd-bfe0-4bd9-a0fd-32e687c18876","name":"Obtener-conversacion-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $if (\n  $('Obtener-conversacion-id').isExecuted,\n  $json.payload[0].id,\n  $json.propertyName\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario }}\",\n  \"message_type\": \"incoming\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,464],"id":"605f026b-05d7-43c5-ab69-7895dead54a5","name":"Guardar-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 7,\n  \"name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"phone_number\": \"+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1584,944],"id":"e0ccd71a-860a-4ef2-9664-8da21b648198","name":"Crear-contacto","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].source_id,\n$('Obtener-contacto-id').item.json.payload[0].contact_inboxes[0].source_id)  }}\",\n  \"inbox_id\": \"{{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$('Obtener-contacto-id').item.json.payload[0].contact_inboxes[0].inbox.id) }}\",\n  \"message\": {\n          \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario }}\",\n          \"message_type\": \"incoming\"\n              }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,944],"id":"99f64df4-f4a9-491f-9f09-1f840d3425d2","name":"Crear-conversacion-y-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $if (\n  $('Obtener-contacto-id').isExecuted,\n  $json.payload[0].id.toBoolean(),\n  $('Redis-Get-Contacto').item.json.propertyName !== null\n)\n }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,560],"id":"808c7010-3aca-46d5-91dc-0736b9776834","name":"Si-existe-contacto","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $if (\n  $('Obtener-conversacion-id').isExecuted,\n  $json.payload[0].id.toBoolean(),\n  $('Redis-Get-Conversacion').item.json.propertyName !== null\n)\n }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,480],"id":"5c233e27-9d31-457f-8b1f-40d286ca424d","name":"Si-existe-conversacion","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35fa5ad5-6f16-40f7-8034-871d33c20120","leftValue":"={{ $('parsea-estado-ht').item.json.human_takeover === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,464],"id":"effc8b6e-c1a4-4c34-9a95-f72a40fe9906","name":"If","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,256],"id":"737b68d4-b0b2-479e-9e1e-d37c36734ca2","name":"No Operation, do nothing","disabled":true},{"parameters":{"operation":"get","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3024,576],"id":"afcaeb74-500c-40c6-854a-a64e688f8169","name":"Redis-Get-Contacto","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2848,576],"id":"4815644d-a26b-4781-83dd-5a2cad7c7c47","name":"SI-contacto-en-cache","disabled":true},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1168,944],"id":"e3ed913a-e1a5-4871-8f54-475ce3269336","name":"Redis-Set-Contacto","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2352,656],"id":"f761f5e9-a7be-488a-a46f-3210365918cd","name":"Redis-Set-Contacto-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"operation":"get","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1664,496],"id":"456f2ff2-82da-4364-8a07-22fae5649a5b","name":"Redis-Get-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,496],"id":"b21f4bbe-d093-4bb8-bec7-bc9d11b9252b","name":"SI-conversacion-en-cache","disabled":true},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[48,944],"id":"ff0b9878-fa23-4c74-af93-80e71532444c","name":"Redis-Set-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,880],"id":"043dbec7-25e5-44a3-9a38-ae901e882075","name":"Si-existe-contacto1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $if (\n  $('Obtener-conversacion-id').isExecuted,\n  $json.payload[0].id.toBoolean(),\n  $('Redis-Get-Conversacion').item.json.propertyName !== null\n)\n }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,720],"id":"6064ccd0-6561-43d6-9262-f6f3b6e76ad8","name":"Si-existe-conversacion1","disabled":true},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-864,560],"id":"a9b8c34f-4116-4887-a859-72bdb990bfe4","name":"Redis-Set-Conversacion-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2048,688],"id":"80d87190-00bc-4c9e-9c44-24d033dbfe8e","name":"No Operation, do nothing5","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2592,336],"id":"7f1ac2f0-8521-40ce-a7df-1d3468ca25a3","name":"No Operation, do nothing6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15c6e70a-ff9d-4fb3-8b0f-ac3c58cb17c6","leftValue":"={{ $('Chatwoot webhook').item.json.body.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"cb676a7c-3465-4a17-a545-2297177a943a","leftValue":"={{ $('Chatwoot webhook').item.json.body.content_attributes.items[0].is_bot.toString() }}","rightValue":"=true","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,592],"id":"f2bc04c8-8c8f-46c2-a1a5-afdcd9b55e25","name":"filtra-mensaje-humano","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a10299ac-b0fb-47f8-9b47-e133e353e422","leftValue":"={{ $json.human_takeover }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ff8ae613-5781-4ce6-9e54-8370cd774889","leftValue":"={{ $json.skipSend }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2416,480],"id":"fca2237e-10eb-4587-8793-69977b6da8ff","name":"filtra-handoff","disabled":true},{"parameters":{"operation":"set","key":"={{ \"conversacion:\" + $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') + \":estado\" }}","value":"={\"human_takeover\":true,\"skipSend\":false}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2592,656],"id":"c46d64bb-ec31-408c-bfa5-1aaa19c58a8f","name":"Actualiza-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"jsCode":"const sessionId = $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '');\n\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false, \"skipSend\": false}';\nconst estado = JSON.parse(estadoJson);\n  \nreturn [{ json: { \n  sessionId: sessionId,\n  human_takeover: estado.human_takeover,\n  skipSend: estado.skipSend\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,480],"id":"5103d777-391f-4c57-ba16-d1be210ea490","name":"recupera-y-parsea-estado-ht-ss","disabled":true},{"parameters":{"operation":"get","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,480],"id":"36ba6c7f-8bf1-4439-af45-dae2ca03cc30","name":"Redis-get-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c96ae05f-83fa-4230-a5e6-9badb96dd653","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"4a47d6aa-97b5-4679-8e32-58fa0197adc9","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"#handoff","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,576],"id":"f5156e63-8a82-4f94-820d-56d5107538e2","name":"If1","disabled":true},{"parameters":{"operation":"set","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","value":"{\"human_takeover\":false,\"skipSend\":true}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1472,432],"id":"d14ebd16-1dee-4ab6-89f8-0516ddeabf74","name":"Redis","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"613521d4-9b07-4ad1-86e7-c521490d3ea0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1008,576],"id":"80f185c5-a0d8-4af1-b4c7-1a472a779c30","name":"Chatwoot webhook","webhookId":"613521d4-9b07-4ad1-86e7-c521490d3ea0","disabled":true},{"parameters":{"method":"POST","url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $if (\n  $(\"Guardar-mensaje-entrante\").isExecuted,\n  $(\"Guardar-mensaje-entrante\").item.json.conversation_id,   \n  $if (\n    $(\"Crear-conversacion-y-mensaje-entrante\").isExecuted,\n    $('Crear-conversacion-y-mensaje-entrante').item.json.id,\n    \"NO_ID\")\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    content: $('Wait').item.json.output.response,\n    message_type: \"outgoing\",\n    private:false,\n    content_type:\"text\",\n    content_attributes:{\"items\": [\n            { \"is_bot\": true}\n        ]}\n  })\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,992],"id":"6c2a160e-c559-4263-9f4f-f7133064a5dc","name":"Guardar-mensaje-saliente","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true}],"connections":{"session-id":{"main":[[{"node":"redis-recupera-estado-actual","type":"main","index":0}]]},"redis-recupera-estado-actual":{"main":[[{"node":"parsea-estado-ht","type":"main","index":0}]]},"Obtener-contacto-id":{"main":[[{"node":"Si-existe-contacto1","type":"main","index":0}]]},"Obtener-conversacion-id":{"main":[[{"node":"Si-existe-conversacion1","type":"main","index":0}]]},"Guardar-mensaje-entrante":{"main":[[{"node":"If","type":"main","index":0}]]},"Crear-contacto":{"main":[[{"node":"Redis-Set-Contacto","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante":{"main":[[{"node":"Redis-Set-Conversacion","type":"main","index":0}]]},"Si-existe-contacto":{"main":[[{"node":"Redis-Get-Conversacion","type":"main","index":0}],[{"node":"Crear-contacto","type":"main","index":0}]]},"Si-existe-conversacion":{"main":[[{"node":"Guardar-mensaje-entrante","type":"main","index":0}],[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis-Get-Contacto":{"main":[[{"node":"SI-contacto-en-cache","type":"main","index":0}]]},"SI-contacto-en-cache":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}],[{"node":"Obtener-contacto-id","type":"main","index":0}]]},"Redis-Set-Contacto":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"Redis-Set-Contacto-Existente":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Redis-Get-Conversacion":{"main":[[{"node":"SI-conversacion-en-cache","type":"main","index":0}]]},"SI-conversacion-en-cache":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}],[{"node":"Obtener-conversacion-id","type":"main","index":0}]]},"Redis-Set-Conversacion":{"main":[[{"node":"If","type":"main","index":0}]]},"Si-existe-contacto1":{"main":[[{"node":"Redis-Set-Contacto-Existente","type":"main","index":0}],[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Si-existe-conversacion1":{"main":[[{"node":"Redis-Set-Conversacion-Existente","type":"main","index":0}],[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"filtra-mensaje-humano":{"main":[[{"node":"Redis-get-estado-ht-ss","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"filtra-handoff":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"Actualiza-estado-ht-ss","type":"main","index":0}]]},"recupera-y-parsea-estado-ht-ss":{"main":[[{"node":"filtra-handoff","type":"main","index":0}]]},"Redis-get-estado-ht-ss":{"main":[[{"node":"recupera-y-parsea-estado-ht-ss","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Redis":{"main":[[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Chatwoot webhook":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c659bf74-a16e-4b72-8cc6-8b1e59216699","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T20:26:20.839Z","createdAt":"2025-12-04T20:26:20.839Z","role":"workflow:owner","workflowId":"DMOGQef3EaV2XwWa","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}