chatwoot-saliente-JojkzSPUWXjYQnaV.json
{"updatedAt":"2026-06-30T20:05:53.000Z","createdAt":"2026-06-30T19:37:49.139Z","id":"JojkzSPUWXjYQnaV","name":"chatwoot saliente","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"mensaje"},{"name":"nombre"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3280,192],"id":"9bbbfef3-5615-4ea7-b593-37c9f7e6af11","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('When Executed by Another Workflow').item.json.telefono }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2752,496],"id":"546fc7d4-c9c9-4642-9766-6b9b5717fcd0","name":"Obtener-contacto-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id').isExecuted,\n  $('Si-existe-contacto').item.json.payload[0].id,\n  $('Si-existe-contacto').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,336],"id":"9165c2be-1d48-436c-b9cb-54c8c3f2984a","name":"Obtener-conversacion-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $if (\n  $('Obtener-conversacion-id').isExecuted,\n  $json.conversation_id,\n  $json.propertyName\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    content: $('When Executed by Another Workflow').item.json.mensaje,\n    message_type: \"outgoing\",\n    private:false,\n    content_type:\"text\",\n    content_attributes:{\"items\": [\n            { \"is_bot\": true}\n        ]}\n  })\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,80],"id":"1c13f1a6-e7ac-49ce-9db5-6829d29cc6fe","name":"Guardar-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 9,\n  \"name\": \"{{ $('When Executed by Another Workflow').item.json.nombre }}\",\n  \"phone_number\": \"+{{ $('When Executed by Another Workflow').item.json.telefono }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1648,560],"id":"618e0aa4-7b84-4238-b14d-24c2ce5eedac","name":"Crear-contacto","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].source_id,\n$json.source_id ) }}\",\n  \"inbox_id\": {{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$json.inbox.id ) }},\n  \"message\": {\n          \"content\": \"{{ $('When Executed by Another Workflow').item.json.mensaje.replace(/\\r?\\n/g, '\\\\n') }}\",\n          \"message_type\": \"outgoing\",\n          \"private\": false,\n          \"content_type\": \"text\",\n          \"content_attributes\": {\"items\": [\n            {\"is_bot\": true}\n          ]}\n              }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,560],"id":"b5d3c003-988e-4c6e-9676-4b5d137c844f","name":"Crear-conversacion-y-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $('Obtener-contacto-id').isExecuted\n    ? !!$json.payload[0].id\n    : $('Redis-Get-Contacto').item.json.propertyName != null\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2064,176],"id":"1f4e6a34-2479-49b8-b165-edde8b2beeb3","name":"Si-existe-contacto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{\n  $('Obtener-conversacion-id').isExecuted\n    ? $json.existe_conversacion\n    : ($('Redis-Get-Conversacion').item.json.propertyName != null)\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,96],"id":"0f7af280-7158-4e39-8e51-874ef8643759","name":"Si-existe-conversacion"},{"parameters":{"operation":"get","key":"=contact:{{ $json.telefono }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3088,192],"id":"4f147d54-77da-4cd2-8bc0-05e23738f95f","name":"Redis-Get-Contacto","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2912,192],"id":"927ad0da-70c7-4453-8e5f-15578dc93f13","name":"SI-contacto-en-cache"},{"parameters":{"operation":"set","key":"=contact:{{ $('When Executed by Another Workflow').item.json.telefono }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1232,560],"id":"d094fbdf-5af6-448e-a599-a91ca9190550","name":"Redis-Set-Contacto","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=contact:{{ $('When Executed by Another Workflow').item.json.telefono }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2416,272],"id":"9e45deb0-1438-474d-9abb-05e7345d7521","name":"Redis-Set-Contacto-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"get","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AOC","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1728,112],"id":"ecdacb4a-742d-45b4-a1f4-1905491a3835","name":"Redis-Get-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1504,112],"id":"ff53d343-f2b8-4f1a-afc2-83ab6d925bc1","name":"SI-conversacion-en-cache"},{"parameters":{"operation":"set","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AOC","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,560],"id":"08f71eab-441d-43a3-8d32-5678af2c6ce7","name":"Redis-Set-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2576,496],"id":"c52504c2-4005-4e75-b6e7-e4607f428128","name":"Si-existe-contacto1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $json.existe_conversacion }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,336],"id":"a2dc1404-12da-4a66-ad22-c41dc8db7786","name":"Si-existe-conversacion1"},{"parameters":{"operation":"set","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AOC","value":"={{ $json.conversation_id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-784,176],"id":"966cbe19-ac47-41dc-a8a3-94596a09a1b8","name":"Redis-Set-Conversacion-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Obtener-contacto-id').item.json.payload[0].id }}/contact_inboxes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 9\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-208,320],"id":"289e49fd-0174-4da9-ad19-b7b8ebddfe4e","name":"Crear-contact-inbox","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const conversaciones = items[0].json.payload || [];\nconst INBOX_OBJETIVO = 9; // 👈 inbox nuevo\n\nconst encontrada = conversaciones.find(\n  c => c.inbox_id === INBOX_OBJETIVO\n);\n\nif (!encontrada) {\n  return [{\n    json: {\n      existe_conversacion: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    existe_conversacion: true,\n    conversation_id: encontrada.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,336],"id":"0a946740-ef5c-4a0f-a65f-fcf993df6b51","name":"filtrar_conversacion_por_inbox"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis-Get-Contacto","type":"main","index":0}]]},"Obtener-contacto-id":{"main":[[{"node":"Si-existe-contacto1","type":"main","index":0}]]},"Obtener-conversacion-id":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Crear-contacto":{"main":[[{"node":"Redis-Set-Contacto","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante":{"main":[[{"node":"Redis-Set-Conversacion","type":"main","index":0}]]},"Si-existe-contacto":{"main":[[{"node":"Redis-Get-Conversacion","type":"main","index":0}],[{"node":"Crear-contacto","type":"main","index":0}]]},"Si-existe-conversacion":{"main":[[{"node":"Guardar-mensaje-entrante","type":"main","index":0}],[{"node":"Crear-contact-inbox","type":"main","index":0}]]},"Redis-Get-Contacto":{"main":[[{"node":"SI-contacto-en-cache","type":"main","index":0}]]},"SI-contacto-en-cache":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}],[{"node":"Obtener-contacto-id","type":"main","index":0}]]},"Redis-Set-Contacto":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"Redis-Set-Contacto-Existente":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Redis-Get-Conversacion":{"main":[[{"node":"SI-conversacion-en-cache","type":"main","index":0}]]},"SI-conversacion-en-cache":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}],[{"node":"Obtener-conversacion-id","type":"main","index":0}]]},"Si-existe-contacto1":{"main":[[{"node":"Redis-Set-Contacto-Existente","type":"main","index":0}],[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Si-existe-conversacion1":{"main":[[{"node":"Redis-Set-Conversacion-Existente","type":"main","index":0}],[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Crear-contact-inbox":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Si-existe-conversacion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc65abe9-f511-48ba-ac73-15a53cb449ac","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-30T19:37:49.146Z","createdAt":"2026-06-30T19:37:49.146Z","role":"workflow:owner","workflowId":"JojkzSPUWXjYQnaV","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}