chatwoot-DMOGQef3EaV2XwWa.json
{"updatedAt":"2026-07-02T12:50:54.000Z","createdAt":"2025-12-04T20:26:20.836Z","id":"DMOGQef3EaV2XwWa","name":"chatwoot","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"url"},{"name":"nombre"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-6256,-144],"id":"05cc0331-785f-410d-b99b-8ae39bf56d2a","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('When Executed by Another Workflow').item.json.telefono }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5728,160],"id":"f1e87078-3a61-4916-861f-dd204a1af7a1","name":"Obtener-contacto-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id').isExecuted,\n  $('Si-existe-contacto').item.json.payload[0].id,\n  $('Si-existe-contacto').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4320,0],"id":"c26be7e1-8529-4ef4-954c-4eca9e7f369c","name":"Obtener-conversacion-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 7,\n  \"name\": \"{{ $('When Executed by Another Workflow').item.json.nombre }}\",\n  \"phone_number\": \"+{{ $('When Executed by Another Workflow').item.json.telefono }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4624,224],"id":"8cb817e6-bfb2-426f-9435-d5e29fe08b0d","name":"Crear-contacto","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $('Obtener-contacto-id').isExecuted\n    ? !!$json.payload[0].id\n    : $('Redis-Get-Contacto').item.json.propertyName != null\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5040,-160],"id":"3cf14c64-37b2-4d04-bded-ec77714a24c3","name":"Si-existe-contacto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{\n  $('Obtener-conversacion-id').isExecuted\n    ? $json.existe_conversacion\n    : ($('Redis-Get-Conversacion').item.json.propertyName != null)\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3376,-240],"id":"83d60fd6-a323-47be-a85f-bd56a24ca64f","name":"Si-existe-conversacion"},{"parameters":{"operation":"get","key":"=contact:{{ $json.telefono }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6064,-144],"id":"0e20fd0f-5686-4583-9813-befbbb29bba6","name":"Redis-Get-Contacto","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5888,-144],"id":"f41d0bbf-67dc-4cd9-8b93-141eb40926b7","name":"SI-contacto-en-cache"},{"parameters":{"operation":"set","key":"=contact:{{ $('When Executed by Another Workflow').item.json.telefono }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4208,224],"id":"3afea4e0-8877-41cd-81ed-17082b1deb8c","name":"Redis-Set-Contacto","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=contact:{{ $('When Executed by Another Workflow').item.json.telefono }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5392,-64],"id":"3a825727-bbb3-4c67-8482-9838e2821d41","name":"Redis-Set-Contacto-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"get","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AHV","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4704,-224],"id":"a9ace601-55bf-4916-b315-4ad093c72f19","name":"Redis-Get-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4480,-224],"id":"ee3956e2-e7d8-4ece-9ef2-80fc59507d90","name":"SI-conversacion-en-cache"},{"parameters":{"operation":"set","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AHV","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2480,224],"id":"109874d1-ba7d-4c78-b1d7-ca6f8c7ca7d7","name":"Redis-Set-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5552,160],"id":"e7505c7b-53cd-438a-a4c6-617a8c870bd8","name":"Si-existe-contacto1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $json.existe_conversacion }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3904,0],"id":"2bd93797-fb6f-4f58-a95c-20b0454ae9d0","name":"Si-existe-conversacion1"},{"parameters":{"operation":"set","key":"=conversation:{{ $('When Executed by Another Workflow').item.json.telefono }}:AHV","value":"={{ $json.conversation_id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3760,-160],"id":"9a4140cb-2fe7-4b52-b38f-7cc11a9463ab","name":"Redis-Set-Conversacion-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Obtener-contacto-id').item.json.payload[0].id }}/contact_inboxes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3184,-16],"id":"13574291-3300-4bd6-860e-51b3c3fd063f","name":"Crear-contact-inbox","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const conversaciones = items[0].json.payload || [];\nconst INBOX_OBJETIVO = 7; // 👈 inbox nuevo\n\nconst encontrada = conversaciones.find(\n  c => c.inbox_id === INBOX_OBJETIVO\n);\n\nif (!encontrada) {\n  return [{\n    json: {\n      existe_conversacion: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    existe_conversacion: true,\n    conversation_id: encontrada.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4112,0],"id":"f26d8074-a1e4-48d4-be4e-f2ba7960ced4","name":"filtrar_conversacion_por_inbox"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3008,-256],"id":"6016b919-1f00-4478-8b0a-5218251044ee","name":"HTTP Request"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2912,224],"id":"fd8c0375-65ea-4ff8-8ce5-94fed0a919ef","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"source_id","value":"={{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].source_id,\n$json.source_id ) }}"},{"name":"inbox_id","value":"={{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$json.inbox.id ) }}"},{"name":"message[private]","value":"false"},{"name":"message[message_type]","value":"outgoing"},{"parameterType":"formBinaryData","name":"message[attachments][]","inputDataFieldName":"data"},{"name":"message[content_attributes]","value":"={\"items\": [{\"is_bot\": true}]}"},{"name":"message[content]","value":"Aquí esta el adjunto"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2704,224],"id":"70a8a321-ef0a-46a9-b27d-c66087b19a1c","name":"Crear-conversacion-y-mensaje-entrante1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $if (   $('Obtener-conversacion-id').isExecuted,   $('Si-existe-conversacion').item.json.conversation_id,   $json.propertyName ) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"Aquí esta el adjunto"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"},{"name":"content_attributes","value":"{\"items\": [{ \"is_bot\": true}]}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2704,-256],"id":"51f3ee3d-7fd7-416d-ae6b-e2966761bee0","name":"HTTP Request2","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis-Get-Contacto","type":"main","index":0}]]},"Obtener-contacto-id":{"main":[[{"node":"Si-existe-contacto1","type":"main","index":0}]]},"Obtener-conversacion-id":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Crear-contacto":{"main":[[{"node":"Redis-Set-Contacto","type":"main","index":0}]]},"Si-existe-contacto":{"main":[[{"node":"Redis-Get-Conversacion","type":"main","index":0}],[{"node":"Crear-contacto","type":"main","index":0}]]},"Si-existe-conversacion":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Crear-contact-inbox","type":"main","index":0}]]},"Redis-Get-Contacto":{"main":[[{"node":"SI-contacto-en-cache","type":"main","index":0}]]},"SI-contacto-en-cache":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}],[{"node":"Obtener-contacto-id","type":"main","index":0}]]},"Redis-Set-Contacto":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Redis-Set-Contacto-Existente":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Redis-Get-Conversacion":{"main":[[{"node":"SI-conversacion-en-cache","type":"main","index":0}]]},"SI-conversacion-en-cache":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}],[{"node":"Obtener-conversacion-id","type":"main","index":0}]]},"Si-existe-contacto1":{"main":[[{"node":"Redis-Set-Contacto-Existente","type":"main","index":0}],[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Si-existe-conversacion1":{"main":[[{"node":"Redis-Set-Conversacion-Existente","type":"main","index":0}],[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Crear-contact-inbox":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Si-existe-conversacion1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante1","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante1":{"main":[[{"node":"Redis-Set-Conversacion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4a5056b-cd53-40cf-badd-1ae0a495c5ff","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T20:26:20.839Z","createdAt":"2025-12-04T20:26:20.839Z","role":"workflow:owner","workflowId":"DMOGQef3EaV2XwWa","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}