chatwoot-DMOGQef3EaV2XwWa.json
{"updatedAt":"2026-03-12T11:45:14.000Z","createdAt":"2025-12-04T20:26:20.836Z","id":"DMOGQef3EaV2XwWa","name":"chatwoot","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4000,528],"id":"c3884fca-b5da-4b6a-b3c8-0296d78344ab","name":"session-id","disabled":true},{"parameters":{"operation":"get","key":"={{ \"conversacion:\" + $json.sessionId + \":3:estado\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3824,528],"id":"3008bf53-5426-40d6-a192-a9788b877e7f","name":"redis-recupera-estado-actual","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"jsCode":"const idSession = $('session-id').first().json.sessionId\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false}';\nconst estado = JSON.parse(estadoJson);\n\nreturn [{ json: { \n  sessionId: idSession,\n  human_takeover: estado.human_takeover\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3648,528],"id":"06dec0ba-85cb-4064-b4cb-984260ae2f25","name":"parsea-estado-ht","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2480,3216],"id":"80d87190-00bc-4c9e-9c44-24d033dbfe8e","name":"No Operation, do nothing5","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3024,2864],"id":"7f1ac2f0-8521-40ce-a7df-1d3468ca25a3","name":"No Operation, do nothing6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15c6e70a-ff9d-4fb3-8b0f-ac3c58cb17c6","leftValue":"={{ $('Chatwoot webhook').item.json.body.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"cb676a7c-3465-4a17-a545-2297177a943a","leftValue":"={{ $('Chatwoot webhook').item.json.body.content_attributes.items[0].is_bot.toString() }}","rightValue":"=true","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2176,3120],"id":"f2bc04c8-8c8f-46c2-a1a5-afdcd9b55e25","name":"filtra-mensaje-humano","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a10299ac-b0fb-47f8-9b47-e133e353e422","leftValue":"={{ $json.human_takeover }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ff8ae613-5781-4ce6-9e54-8370cd774889","leftValue":"={{ $json.skipSend }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2848,3008],"id":"fca2237e-10eb-4587-8793-69977b6da8ff","name":"filtra-handoff","disabled":true},{"parameters":{"operation":"set","key":"={{ \"conversacion:\" + $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') + \":estado\" }}","value":"={\"human_takeover\":true,\"skipSend\":false}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3024,3184],"id":"c46d64bb-ec31-408c-bfa5-1aaa19c58a8f","name":"Actualiza-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"jsCode":"const sessionId = $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '');\n\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false, \"skipSend\": false}';\nconst estado = JSON.parse(estadoJson);\n  \nreturn [{ json: { \n  sessionId: sessionId,\n  human_takeover: estado.human_takeover,\n  skipSend: estado.skipSend\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,3008],"id":"5103d777-391f-4c57-ba16-d1be210ea490","name":"recupera-y-parsea-estado-ht-ss","disabled":true},{"parameters":{"operation":"get","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2480,3008],"id":"36ba6c7f-8bf1-4439-af45-dae2ca03cc30","name":"Redis-get-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c96ae05f-83fa-4230-a5e6-9badb96dd653","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"4a47d6aa-97b5-4679-8e32-58fa0197adc9","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"#handoff","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1632,3104],"id":"f5156e63-8a82-4f94-820d-56d5107538e2","name":"If1","disabled":true},{"parameters":{"operation":"set","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","value":"{\"human_takeover\":false,\"skipSend\":true}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1904,2960],"id":"d14ebd16-1dee-4ab6-89f8-0516ddeabf74","name":"Redis","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"613521d4-9b07-4ad1-86e7-c521490d3ea0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1440,3104],"id":"80f185c5-a0d8-4af1-b4c7-1a472a779c30","name":"Chatwoot webhook","webhookId":"613521d4-9b07-4ad1-86e7-c521490d3ea0","disabled":true},{"parameters":{"method":"POST","url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $if (\n  $(\"Guardar-mensaje-entrante\").isExecuted,\n  $(\"Guardar-mensaje-entrante\").item.json.conversation_id,   \n  $if (\n    $(\"Crear-conversacion-y-mensaje-entrante\").isExecuted,\n    $('Crear-conversacion-y-mensaje-entrante').item.json.id,\n    \"NO_ID\")\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    content: $('Wait').item.json.output.response,\n    message_type: \"outgoing\",\n    private:false,\n    content_type:\"text\",\n    content_attributes:{\"items\": [\n            { \"is_bot\": true}\n        ]}\n  })\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,592],"id":"6c2a160e-c559-4263-9f4f-f7133064a5dc","name":"Guardar-mensaje-saliente","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Obtener-contacto-id1').item.json.payload[0].id }}/contact_inboxes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 9\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-352,624],"id":"33a3c428-60d7-4226-a381-cd6ef5430017","name":"Crear-contact-inbox","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const conversaciones = items[0].json.payload || [];\nconst INBOX_OBJETIVO = 9; // 👈 inbox nuevo\n\nconst encontrada = conversaciones.find(\n  c => c.inbox_id === INBOX_OBJETIVO\n);\n\nif (!encontrada) {\n  return [{\n    json: {\n      existe_conversacion: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    existe_conversacion: true,\n    conversation_id: encontrada.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,640],"id":"9de70dda-6bd3-45c7-937e-cd5eafda3d14","name":"filtrar_conversacion_por_inbox"},{"parameters":{"url":"https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2896,800],"id":"43b38f84-d181-47da-b7a7-9133845a59e8","name":"Obtener-contacto-id1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id1').isExecuted,\n  $('Si-existe-contacto2').item.json.payload[0].id,\n  $('Si-existe-contacto2').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,640],"id":"bfc7555c-e1bc-4189-80ac-4c92d6e57da8","name":"Obtener-conversacion-id1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $if (\n  $('Obtener-conversacion-id1').isExecuted,\n  $json.conversation_id,\n  $json.propertyName\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n  \"message_type\": \"incoming\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,384],"id":"ebd2b34f-f12a-4c8b-8852-af66e32e4a9c","name":"Guardar-mensaje-entrante1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 9,\n  \"name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"phone_number\": \"+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,864],"id":"a930792f-ce38-4763-a0e0-af1d71517ab7","name":"Crear-contacto1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"https://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $if ( \n$('Crear-contacto1').isExecuted,\n$('Crear-contacto1').item.json.payload.contact.contact_inboxes[0].source_id,\n$json.source_id ) }}\",\n  \"inbox_id\": {{ $if ( \n$('Crear-contacto1').isExecuted,\n$('Crear-contacto1').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$json.inbox.id ) }},\n  \"message\": {\n          \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n          \"message_type\": \"incoming\"\n              }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,864],"id":"22314074-e919-47f6-a55b-04ab65385edb","name":"Crear-conversacion-y-mensaje-entrante1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $('Obtener-contacto-id1').isExecuted\n    ? !!$json.payload[0].id\n    : $('Redis-Get-Contacto1').item.json.propertyName != null\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2208,480],"id":"518e60e6-3aaf-44c5-ab74-470b84d9ff26","name":"Si-existe-contacto2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{\n  $('Obtener-conversacion-id1').isExecuted\n    ? $json.existe_conversacion\n    : ($('Redis-Get-Conversacion1').item.json.propertyName != null)\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,400],"id":"85c4e3aa-df6b-4ab8-a22d-ff701a708a9a","name":"Si-existe-conversacion2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35fa5ad5-6f16-40f7-8034-871d33c20120","leftValue":"={{ $('parsea-estado-ht').item.json.human_takeover === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,384],"id":"0738070a-a9a4-472a-a742-c74d07c4ecd4","name":"If2"},{"parameters":{"operation":"get","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3232,496],"id":"c30aac2d-25de-4a7e-8176-3f941dcba19f","name":"Redis-Get-Contacto1","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3056,496],"id":"8740a0ff-acaf-4e74-bfd2-cdc8ecf1faa8","name":"SI-contacto-en-cache1"},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1376,864],"id":"494d5dc2-e7ae-4338-9844-742e40915ac7","name":"Redis-Set-Contacto1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2560,576],"id":"3d9eb83f-2c4b-431f-b812-cd9ce650b919","name":"Redis-Set-Contacto-Existente1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"get","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1872,416],"id":"61cae76b-f5df-45b1-a53a-b1a41ecdaa34","name":"Redis-Get-Conversacion1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,416],"id":"4c1298a6-0e68-4495-a8a6-75d1e3aa0e1f","name":"SI-conversacion-en-cache1"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[48,864],"id":"318b39d4-ad57-491b-af7b-ebd96fdac052","name":"Redis-Set-Conversacion1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2720,800],"id":"ebdf2780-9d49-48c0-aabe-be8f574819f3","name":"Si-existe-contacto3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $json.existe_conversacion }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,640],"id":"41c903ee-acd4-4754-a0c7-30c0869a9f0c","name":"Si-existe-conversacion3"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","value":"={{ $json.conversation_id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-928,480],"id":"9e93b682-a889-4576-8576-199efdde635f","name":"Redis-Set-Conversacion-Existente1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,176],"id":"bbaa34eb-a19d-430c-a0af-c042c13055bb","name":"No Operation, do nothing7"}],"connections":{"session-id":{"main":[[{"node":"redis-recupera-estado-actual","type":"main","index":0}]]},"redis-recupera-estado-actual":{"main":[[{"node":"parsea-estado-ht","type":"main","index":0}]]},"filtra-mensaje-humano":{"main":[[{"node":"Redis-get-estado-ht-ss","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"filtra-handoff":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"Actualiza-estado-ht-ss","type":"main","index":0}]]},"recupera-y-parsea-estado-ht-ss":{"main":[[{"node":"filtra-handoff","type":"main","index":0}]]},"Redis-get-estado-ht-ss":{"main":[[{"node":"recupera-y-parsea-estado-ht-ss","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Redis":{"main":[[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Chatwoot webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"Crear-contact-inbox":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante1","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Si-existe-conversacion3","type":"main","index":0}]]},"Obtener-contacto-id1":{"main":[[{"node":"Si-existe-contacto3","type":"main","index":0}]]},"Obtener-conversacion-id1":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Guardar-mensaje-entrante1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Crear-contacto1":{"main":[[{"node":"Redis-Set-Contacto1","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante1":{"main":[[{"node":"Redis-Set-Conversacion1","type":"main","index":0}]]},"Si-existe-contacto2":{"main":[[{"node":"Redis-Get-Conversacion1","type":"main","index":0}],[{"node":"Crear-contacto1","type":"main","index":0}]]},"Si-existe-conversacion2":{"main":[[{"node":"Guardar-mensaje-entrante1","type":"main","index":0}],[{"node":"Crear-contact-inbox","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[]]},"Redis-Get-Contacto1":{"main":[[{"node":"SI-contacto-en-cache1","type":"main","index":0}]]},"SI-contacto-en-cache1":{"main":[[{"node":"Si-existe-contacto2","type":"main","index":0}],[{"node":"Obtener-contacto-id1","type":"main","index":0}]]},"Redis-Set-Contacto1":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante1","type":"main","index":0}]]},"Redis-Set-Contacto-Existente1":{"main":[[{"node":"Si-existe-contacto2","type":"main","index":0}]]},"Redis-Get-Conversacion1":{"main":[[{"node":"SI-conversacion-en-cache1","type":"main","index":0}]]},"SI-conversacion-en-cache1":{"main":[[{"node":"Si-existe-conversacion2","type":"main","index":0}],[{"node":"Obtener-conversacion-id1","type":"main","index":0}]]},"Redis-Set-Conversacion1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Si-existe-contacto3":{"main":[[{"node":"Redis-Set-Contacto-Existente1","type":"main","index":0}],[{"node":"Si-existe-contacto2","type":"main","index":0}]]},"Si-existe-conversacion3":{"main":[[{"node":"Redis-Set-Conversacion-Existente1","type":"main","index":0}],[{"node":"Si-existe-conversacion2","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente1":{"main":[[{"node":"Si-existe-conversacion2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"71e8816a-ed2b-48f3-aa66-3121f79e534d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T20:26:20.839Z","createdAt":"2025-12-04T20:26:20.839Z","role":"workflow:owner","workflowId":"DMOGQef3EaV2XwWa","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}