chatwoot-handoff-IinbB7mGPEefuZfZ.json
{"updatedAt":"2026-02-24T12:14:54.000Z","createdAt":"2026-02-24T12:08:05.257Z","id":"IinbB7mGPEefuZfZ","name":"Chatwoot Handoff","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15c6e70a-ff9d-4fb3-8b0f-ac3c58cb17c6","leftValue":"={{ $('Chatwoot webhook').item.json.body.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"cb676a7c-3465-4a17-a545-2297177a943a","leftValue":"={{ $('Chatwoot webhook').item.json.body.content_attributes.items[0].is_bot.toString() }}","rightValue":"=true","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,256],"id":"9c3be8cd-801e-43e1-9f2e-929d83e4e5ec","name":"filtra-mensaje-humano"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a10299ac-b0fb-47f8-9b47-e133e353e422","leftValue":"={{ $json.human_takeover }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ff8ae613-5781-4ce6-9e54-8370cd774889","leftValue":"={{ $json.skipSend }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,144],"id":"948c389f-7e56-4966-9d21-030b4f299a73","name":"filtra-handoff"},{"parameters":{"operation":"set","key":"={{ \"conversacion:\" + $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') + \":estado\" }}","value":"={\"human_takeover\":true,\"skipSend\":false}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,320],"id":"98584d2e-bf3a-46b2-a712-42e7e7c68131","name":"Actualiza-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"jsCode":"const sessionId = $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '');\n\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false, \"skipSend\": false}';\nconst estado = JSON.parse(estadoJson);\n  \nreturn [{ json: { \n  sessionId: sessionId,\n  human_takeover: estado.human_takeover,\n  skipSend: estado.skipSend\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,144],"id":"6662c024-cc38-4fd3-8cfc-bed16fcb58f6","name":"recupera-y-parsea-estado-ht-ss"},{"parameters":{"operation":"get","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-544,144],"id":"99cef6ab-b415-42be-a205-96701949c37d","name":"Redis-get-estado-ht-ss","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=conversacion:{{ $('Chatwoot webhook').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}:estado","value":"{\"human_takeover\":false,\"skipSend\":true}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1120,96],"id":"1a57bf5b-702e-4fac-a1e5-9838c9f71ba6","name":"Redis","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"httpMethod":"POST","path":"613521d4-9b07-4ad1-86e7-c521490d3ea0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1584,240],"id":"b6c2c765-9eed-4cb0-be01-dd968dcbcb98","name":"Chatwoot webhook","webhookId":"613521d4-9b07-4ad1-86e7-c521490d3ea0"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,352],"id":"742c60c6-e5f6-448d-bd59-71932b5502f0","name":"No Operation, do nothing7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"7177a473-e69f-43bc-8ffc-8fa663e8f6cc","name":"No Operation, do nothing8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c96ae05f-83fa-4230-a5e6-9badb96dd653","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"4a47d6aa-97b5-4679-8e32-58fa0197adc9","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"#handoff","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,240],"id":"ae4d284f-9486-4979-b7cd-7d32af1835fc","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Chatwoot webhook').item.json.body.conversation.inbox_id }}","rightValue":"7","operator":{"type":"string","operation":"equals"},"id":"c6afcd3c-0100-42d7-9599-c3d535e31b63"}],"combinator":"and"},"renameOutput":true,"outputKey":"AGN Hyundai Ventas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ee146e4-1a9d-479f-84f9-81d00f4c0354","leftValue":"={{ $('Chatwoot webhook').item.json.body.conversation.inbox_id }}","rightValue":"8","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGN Nissan PostVentas"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[208,320],"id":"9e28bd08-7c1c-478e-ba12-eb51e6ffa23b","name":"Switch"},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"=+{{ $json.sessionId.replace('549', '54') }}","textBody":"={{ $('Chatwoot webhook').item.json.body.conversation.messages[0].content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[416,224],"id":"93065cf5-20f7-4b02-b8a9-4114cc9062be","name":"Send message","webhookId":"385b270e-60b0-423b-9404-8bb9f95215bc","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"941002335771599","recipientPhoneNumber":"=+{{ $json.sessionId.replace('549', '54') }}","textBody":"={{ $('Chatwoot webhook').item.json.body.conversation.messages[0].content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[416,416],"id":"7bd3127f-1d20-421a-9347-6b47a92d5d7a","name":"Send message1","webhookId":"74d2dcc1-019e-47a3-9a25-807a693abd9e","credentials":{"whatsAppApi":{"id":"Cbn3WeGYdtR7nxid","name":"nissan-postventas-salida"}}}],"connections":{"filtra-mensaje-humano":{"main":[[{"node":"Redis-get-estado-ht-ss","type":"main","index":0}],[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"filtra-handoff":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}],[{"node":"Actualiza-estado-ht-ss","type":"main","index":0}]]},"recupera-y-parsea-estado-ht-ss":{"main":[[{"node":"filtra-handoff","type":"main","index":0}]]},"Redis-get-estado-ht-ss":{"main":[[{"node":"recupera-y-parsea-estado-ht-ss","type":"main","index":0}]]},"Redis":{"main":[[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Chatwoot webhook":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"filtra-mensaje-humano","type":"main","index":0}]]},"Actualiza-estado-ht-ss":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send message","type":"main","index":0}],[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3048a1b-07f4-40ca-958a-e87fd97b59ac","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T12:08:05.262Z","createdAt":"2026-02-24T12:08:05.262Z","role":"workflow:owner","workflowId":"IinbB7mGPEefuZfZ","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}