deuda-email-6ufBIFF6AqJBN6Lw.json
{"updatedAt":"2026-04-17T12:44:10.000Z","createdAt":"2025-12-09T11:32:33.171Z","id":"6ufBIFF6AqJBN6Lw","name":"deuda-email","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"name":"Loop Deudores","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,1152],"id":"ab1ad537-86d5-4c36-a89a-812286e42662","onError":"continueRegularOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3344,912],"id":"e8c7613d-3f03-42bb-b918-57ae733ccc5a","name":"Wait","webhookId":"ae03c037-7555-4443-a47d-1aa545725043"},{"parameters":{"documentId":{"__rl":true,"value":"1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k","mode":"list","cachedResultName":"registro_diario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"correos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[208,0],"id":"deb9a671-4e3d-4663-bd89-1a44e85c4201","name":"Get row(s) in sheet","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"jsCode":"// 📊 GENERADOR DE INFORME DIARIO DE COBRANZAS - Plan Óvalo\n// Versión corregida: soporta tipos 2, 3 y 5 + fix clasificación success/error\n\nconst datos = $input.all().map(item => item.json);\nconst fechaHoy = new Date().toLocaleDateString();\nconst horaReporte = new Date().toLocaleTimeString();\n\n// ===== FILTRADO DE REGISTROS DEL DÍA =====\nconst registrosHoy = datos.filter(item => {\n  const fechaRegistro = item.fecha_aviso;\n  return fechaRegistro === fechaHoy;\n});\n\nconsole.log(`Total registros en tabla: ${datos.length}`);\nconsole.log(`Registros del día (${fechaHoy}): ${registrosHoy.length}`);\n\n// Si no hay registros del día, crear un informe vacío\nif (registrosHoy.length === 0) {\n  return [{\n    json: {\n      subject: `📊 Informe Diario Cobranzas - ${fechaHoy} | Sin registros`,\n      htmlEmail: `\n        <html>\n        <body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n          <h2>📊 Informe Diario de Cobranzas</h2>\n          <p><strong>Fecha:</strong> ${fechaHoy} | <strong>Hora:</strong> ${horaReporte}</p>\n          <div style=\"background: #fff3cd; padding: 15px; border-left: 4px solid #ffc107; margin: 20px 0;\">\n            <p><strong>⚠️ No hay registros para el día de hoy</strong></p>\n            <p>No se procesaron avisos en la fecha actual.</p>\n          </div>\n        </body>\n        </html>\n      `,\n      resumenEjecutivo: {\n        totalProcesados: 0,\n        exitosos: 0,\n        fallidos: 0,\n        tasaExito: '0'\n      },\n      fechaReporte: fechaHoy,\n      horaReporte: horaReporte\n    }\n  }];\n}\n\n// ===== FUNCIÓN AUXILIAR: Normalizar estado_aviso =====\nfunction esExitoso(estadoAviso) {\n  // Normalizar a minúsculas y comparar\n  const estado = String(estadoAviso || '').toLowerCase().trim();\n  return estado === 'success';\n}\n\nfunction esFallido(estadoAviso) {\n  const estado = String(estadoAviso || '').toLowerCase().trim();\n  return estado.includes('error') || estado === '' || estado === 'undefined';\n}\n\n// ===== CÁLCULO DE MÉTRICAS =====\nconst totalRegistros = registrosHoy.length;\nconst exitosos = registrosHoy.filter(item => esExitoso(item.estado_aviso)).length;\nconst fallidos = registrosHoy.filter(item => esFallido(item.estado_aviso)).length;\nconst tasaExito = totalRegistros > 0 ? ((exitosos / totalRegistros) * 100).toFixed(2) : '0';\n\n// ===== ANÁLISIS POR TIPO DE ESTADO (AHORA CON TIPO 2, 3 Y 5) =====\nconst tipo2 = registrosHoy.filter(item => \n  String(item.estado) === '2' || parseInt(item.estado) === 2\n).length;\n\nconst tipo3 = registrosHoy.filter(item => \n  String(item.estado) === '3' || parseInt(item.estado) === 3\n).length;\n\nconst tipo5 = registrosHoy.filter(item => \n  String(item.estado) === '5' || parseInt(item.estado) === 5\n).length;\n\n// ===== FUNCIÓN: Obtener descripción del tipo =====\nfunction obtenerTipoEstado(estado) {\n  const est = parseInt(estado);\n  switch(est) {\n    case 2: return 'Ahorrista Libre de Deuda (Tipo 2)';\n    case 3: return 'Ahorrista Moroso (Tipo 3)';\n    case 5: return 'Adjudicado en Mora (Tipo 5)';\n    default: return `Tipo ${estado}`;\n  }\n}\n\n// ===== CLIENTES EXITOSOS =====\nconst clientesExitosos = registrosHoy\n  .filter(item => esExitoso(item.estado_aviso))\n  .map(item => ({\n    nombre: item.nombre || 'N/A',\n    grupo: item.grupo || 'N/A',\n    orden: item.orden || 'N/A',\n    cuotasImpagas: item.cuotas_impagas || '0',\n    montoDeuda: item.monto_deuda_total || '0',\n    estado: obtenerTipoEstado(item.estado),\n    tipoNumerico: parseInt(item.estado),\n    ciudad: item.ciudad || 'N/A',\n    provincia: item.provincia || 'N/A',\n    telefono: item.telefono || 'N/A',\n    horaEnvio: item.hora_aviso || 'N/A'\n  }));\n\n// ===== CLIENTES CON PROBLEMAS =====\nconst clientesConProblemas = registrosHoy\n  .filter(item => esFallido(item.estado_aviso))\n  .map(item => ({\n    nombre: item.nombre || 'N/A',\n    grupo: item.grupo || 'N/A',\n    orden: item.orden || 'N/A',\n    motivoError: item.estado_aviso || 'Error desconocido',\n    estado: obtenerTipoEstado(item.estado),\n    tipoNumerico: parseInt(item.estado),\n    ciudad: item.ciudad || 'N/A',\n    provincia: item.provincia || 'N/A',\n    telefono: item.telefono || 'N/A',\n    horaIntento: item.hora_aviso || 'N/A'\n  }));\n\n// ===== CÁLCULO DE MONTO TOTAL =====\nconst montoTotalDeuda = registrosHoy\n  .filter(item => esExitoso(item.estado_aviso))\n  .reduce((sum, item) => {\n    const montoStr = String(item.monto_deuda_total || '0').replace(',', '.');\n    const monto = parseFloat(montoStr);\n    return sum + (isNaN(monto) ? 0 : monto);\n  }, 0);\n\n// ===== DISTRIBUCIÓN POR PROVINCIA =====\nconst provincias = {};\nregistrosHoy.forEach(item => {\n  const prov = item.provincia || 'Sin Provincia';\n  if (!provincias[prov]) {\n    provincias[prov] = { total: 0, exitosos: 0, fallidos: 0 };\n  }\n  provincias[prov].total++;\n  if (esExitoso(item.estado_aviso)) {\n    provincias[prov].exitosos++;\n  } else {\n    provincias[prov].fallidos++;\n  }\n});\n\n// ===== GENERAR SUBJECT DEL EMAIL =====\nconst subject = `📊 Informe Diario Cobranzas Plan Óvalo - ${fechaHoy} | ${exitosos}/${totalRegistros} exitosos (${tasaExito}%)`;\n\n// ===== GENERAR HTML DEL EMAIL =====\nconst htmlEmail = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Informe Diario de Cobranzas</title>\n    <style>\n        body { \n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n            line-height: 1.6; \n            color: #333; \n            max-width: 900px; \n            margin: 0 auto; \n            padding: 20px;\n            background-color: #f5f5f5;\n        }\n        .header { \n            background: linear-gradient(135deg, #2a9d8f 0%, #264653 100%); \n            color: white; \n            padding: 30px; \n            border-radius: 10px; \n            text-align: center; \n            margin-bottom: 30px;\n            box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n        }\n        .header h1 { margin: 0 0 10px 0; font-size: 28px; }\n        .header p { margin: 5px 0; font-size: 16px; opacity: 0.9; }\n        \n        .summary-cards {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n            margin-bottom: 30px;\n        }\n        .card {\n            background: white;\n            padding: 20px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            text-align: center;\n        }\n        .card-title { \n            font-size: 14px; \n            color: #666; \n            margin-bottom: 10px;\n            text-transform: uppercase;\n            font-weight: 600;\n        }\n        .card-value { \n            font-size: 32px; \n            font-weight: bold; \n            color: #2a9d8f;\n        }\n        .card.success .card-value { color: #28a745; }\n        .card.error .card-value { color: #dc3545; }\n        .card.info .card-value { color: #17a2b8; }\n        \n        .section { \n            background: white; \n            padding: 25px; \n            margin: 20px 0; \n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .section h2 { \n            margin-top: 0; \n            color: #2a9d8f;\n            border-bottom: 2px solid #2a9d8f;\n            padding-bottom: 10px;\n            font-size: 20px;\n        }\n        \n        table { \n            width: 100%; \n            border-collapse: collapse; \n            margin: 15px 0;\n        }\n        th, td { \n            padding: 12px; \n            text-align: left; \n            border-bottom: 1px solid #e0e0e0;\n            font-size: 14px;\n        }\n        th { \n            background-color: #2a9d8f; \n            color: white;\n            font-weight: 600;\n            text-transform: uppercase;\n            font-size: 12px;\n        }\n        tr:hover { background-color: #f8f9fa; }\n        \n        .status-badge {\n            display: inline-block;\n            padding: 4px 12px;\n            border-radius: 12px;\n            font-size: 11px;\n            font-weight: 600;\n        }\n        .status-success { background-color: #d4edda; color: #155724; }\n        .status-error { background-color: #f8d7da; color: #721c24; }\n        .status-tipo2 { background-color: #d1ecf1; color: #0c5460; }\n        .status-tipo3 { background-color: #fff3cd; color: #856404; }\n        .status-tipo5 { background-color: #f8d7da; color: #721c24; }\n        \n        .footer { \n            text-align: center; \n            margin-top: 40px; \n            padding: 20px;\n            background: white;\n            border-radius: 8px;\n            font-size: 13px; \n            color: #666;\n        }\n        \n        .highlight-box {\n            background-color: #e8f4f8;\n            border-left: 4px solid #17a2b8;\n            padding: 15px;\n            margin: 15px 0;\n            border-radius: 4px;\n        }\n        .warning-box {\n            background-color: #fff3cd;\n            border-left: 4px solid #ffc107;\n            padding: 15px;\n            margin: 15px 0;\n            border-radius: 4px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>📊 INFORME DIARIO DE COBRANZAS</h1>\n        <h2>Plan de Ahorro Óvalo</h2>\n        <p><strong>Fecha:</strong> ${fechaHoy} | <strong>Generado:</strong> ${horaReporte}</p>\n    </div>\n\n    <div class=\"summary-cards\">\n        <div class=\"card\">\n            <div class=\"card-title\">Total Procesados</div>\n            <div class=\"card-value\">${totalRegistros}</div>\n        </div>\n        <div class=\"card success\">\n            <div class=\"card-title\">✅ Exitosos</div>\n            <div class=\"card-value\">${exitosos}</div>\n        </div>\n        <div class=\"card error\">\n            <div class=\"card-title\">❌ Fallidos</div>\n            <div class=\"card-value\">${fallidos}</div>\n        </div>\n        <div class=\"card info\">\n            <div class=\"card-title\">📊 Tasa de Éxito</div>\n            <div class=\"card-value\">${tasaExito}%</div>\n        </div>\n    </div>\n\n    ${montoTotalDeuda > 0 ? `\n    <div class=\"highlight-box\">\n        <strong>💰 Monto Total de Deuda Contactada:</strong> ${montoTotalDeuda.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}\n    </div>\n    ` : ''}\n\n    <div class=\"section\">\n        <h2>📈 Distribución por Tipo de Cliente</h2>\n        <table>\n            <tr>\n                <th>Tipo</th>\n                <th>Cantidad</th>\n                <th>Porcentaje</th>\n                <th>Descripción</th>\n            </tr>\n            ${tipo2 > 0 ? `\n            <tr>\n                <td><strong>Tipo 2</strong></td>\n                <td>${tipo2}</td>\n                <td>${totalRegistros > 0 ? ((tipo2/totalRegistros)*100).toFixed(1) : 0}%</td>\n                <td>Ahorrista Libre de Deuda</td>\n            </tr>\n            ` : ''}\n            ${tipo3 > 0 ? `\n            <tr>\n                <td><strong>Tipo 3</strong></td>\n                <td>${tipo3}</td>\n                <td>${totalRegistros > 0 ? ((tipo3/totalRegistros)*100).toFixed(1) : 0}%</td>\n                <td>Ahorrista Moroso (más de 1 cuota impaga)</td>\n            </tr>\n            ` : ''}\n            ${tipo5 > 0 ? `\n            <tr>\n                <td><strong>Tipo 5</strong></td>\n                <td>${tipo5}</td>\n                <td>${totalRegistros > 0 ? ((tipo5/totalRegistros)*100).toFixed(1) : 0}%</td>\n                <td>Adjudicado Definitivo en Mora</td>\n            </tr>\n            ` : ''}\n        </table>\n    </div>\n\n    ${Object.keys(provincias).length > 0 ? `\n    <div class=\"section\">\n        <h2>🗺️ DISTRIBUCIÓN POR PROVINCIA</h2>\n        <table>\n            <tr>\n                <th>Provincia</th>\n                <th>Total</th>\n                <th>Exitosos</th>\n                <th>Fallidos</th>\n                <th>Tasa Éxito</th>\n            </tr>\n            ${Object.entries(provincias).map(([prov, data]) => `\n                <tr>\n                    <td><strong>${prov}</strong></td>\n                    <td>${data.total}</td>\n                    <td style=\"color: #28a745; font-weight: bold;\">${data.exitosos}</td>\n                    <td style=\"color: #dc3545; font-weight: bold;\">${data.fallidos}</td>\n                    <td>${data.total > 0 ? ((data.exitosos/data.total)*100).toFixed(1) : 0}%</td>\n                </tr>\n            `).join('')}\n        </table>\n    </div>\n    ` : ''}\n\n    ${clientesExitosos.length > 0 ? `\n    <div class=\"section\">\n        <h2>✅ CLIENTES CONTACTADOS EXITOSAMENTE (${clientesExitosos.length})</h2>\n        <table>\n            <tr>\n                <th>Cliente</th>\n                <th>Grupo/Orden</th>\n                <th>Tipo</th>\n                <th>Cuotas Imp.</th>\n                <th>Monto Deuda</th>\n                <th>Ubicación</th>\n                <th>Teléfono</th>\n                <th>Hora</th>\n            </tr>\n            ${clientesExitosos.map(c => {\n              const montoStr = String(c.montoDeuda).replace(',', '.');\n              const monto = parseFloat(montoStr);\n              const montoFormateado = isNaN(monto) ? 'N/A' : monto.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' });\n              \n              // Clase CSS según tipo\n              let claseTipo = 'status-success';\n              if (c.tipoNumerico === 2) claseTipo = 'status-tipo2';\n              else if (c.tipoNumerico === 3) claseTipo = 'status-tipo3';\n              else if (c.tipoNumerico === 5) claseTipo = 'status-tipo5';\n              \n              return `\n                <tr>\n                    <td><strong>${c.nombre}</strong></td>\n                    <td>${c.grupo}/${c.orden}</td>\n                    <td><span class=\"status-badge ${claseTipo}\">${c.estado}</span></td>\n                    <td>${c.cuotasImpagas}</td>\n                    <td>${montoFormateado}</td>\n                    <td>${c.ciudad}, ${c.provincia}</td>\n                    <td>${c.telefono}</td>\n                    <td>${c.horaEnvio}</td>\n                </tr>\n              `;\n            }).join('')}\n        </table>\n    </div>\n    ` : ''}\n\n    ${clientesConProblemas.length > 0 ? `\n    <div class=\"section\">\n        <h2>⚠️ CLIENTES CON PROBLEMAS DE ENVÍO (${clientesConProblemas.length})</h2>\n        <div class=\"warning-box\">\n            <strong>⚠️ Atención:</strong> Los siguientes clientes requieren seguimiento manual debido a problemas en el envío automático.\n        </div>\n        <table>\n            <tr>\n                <th>Cliente</th>\n                <th>Grupo/Orden</th>\n                <th>Tipo</th>\n                <th>Motivo Error</th>\n                <th>Ubicación</th>\n                <th>Teléfono</th>\n                <th>Hora</th>\n            </tr>\n            ${clientesConProblemas.map(c => {\n              let claseTipo = 'status-error';\n              if (c.tipoNumerico === 2) claseTipo = 'status-tipo2';\n              else if (c.tipoNumerico === 3) claseTipo = 'status-tipo3';\n              else if (c.tipoNumerico === 5) claseTipo = 'status-tipo5';\n              \n              return `\n                <tr>\n                    <td><strong>${c.nombre}</strong></td>\n                    <td>${c.grupo}/${c.orden}</td>\n                    <td><span class=\"status-badge ${claseTipo}\">${c.estado}</span></td>\n                    <td><strong>${c.motivoError}</strong></td>\n                    <td>${c.ciudad}, ${c.provincia}</td>\n                    <td>${c.telefono}</td>\n                    <td>${c.horaIntento}</td>\n                </tr>\n              `;\n            }).join('')}\n        </table>\n    </div>\n    ` : '<div class=\"section\"><h2>✅ TODOS LOS ENVÍOS EXITOSOS</h2><p>No hay clientes con problemas de envío. Todos los avisos fueron entregados correctamente.</p></div>'}\n\n    <div class=\"footer\">\n        <p><strong>📧 Informe generado automáticamente por el Sistema de Cobranzas Plan Óvalo</strong></p>\n        <p>Para consultas o seguimiento de casos con problemas, contactar al Departamento de Cobranzas</p>\n        <p style=\"margin-top: 10px; color: #999;\">Generado el ${fechaHoy} a las ${horaReporte}</p>\n    </div>\n</body>\n</html>\n`;\n\n// ===== RETORNAR RESULTADO =====\nreturn [{\n  json: {\n    subject: subject,\n    htmlEmail: htmlEmail,\n    resumenEjecutivo: {\n      totalProcesados: totalRegistros,\n      exitosos: exitosos,\n      fallidos: fallidos,\n      tasaExito: tasaExito,\n      montoTotalDeuda: montoTotalDeuda,\n      tipo2: tipo2,\n      tipo3: tipo3,\n      tipo5: tipo5\n    },\n    provincias: provincias,\n    fechaReporte: fechaHoy,\n    horaReporte: horaReporte,\n    clientesExitosos: clientesExitosos,\n    clientesConProblemas: clientesConProblemas\n  }\n}];"},"name":"Generar Reporte Final1","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"376c7a02-fc9b-4155-92f1-fd66f5c1d917"},{"parameters":{"sendTo":"={{ $json.correos }}","subject":"={{ $('Generar Reporte Final1').item.json.subject }}","message":"={{ $('Generar Reporte Final1').item.json.htmlEmail }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1104,0],"id":"7a5fb8e3-ccf5-4da4-8c24-2f83a94d669b","name":"send-informe-diario","webhookId":"caabf763-83f2-4d76-8baf-5574f7cde1ca","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"httpMethod":"POST","path":"b1854034-1f50-4409-9f62-9b488683efc7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,1152],"id":"123fb10d-ef69-452a-9c34-580dec1e5dbd","name":"webhook-start","webhookId":"b1854034-1f50-4409-9f62-9b488683efc7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,0],"id":"962d2ee9-5018-4949-9ad4-ed7033c1f987","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k","mode":"list","cachedResultName":"registro_diario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1728499584,"mode":"list","cachedResultName":"lista_subjects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit#gid=1728499584"},"options":{}},"name":"leer-lista_subjects","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[656,0],"id":"310a75ba-7003-4e38-99d7-81cbe61df517","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk","mode":"list","cachedResultName":"tabla_status_complete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1662782129,"mode":"list","cachedResultName":"NovedadesPlanOvalo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit#gid=1662782129"},"filtersUI":{"values":[{"lookupColumn":"groupId","lookupValue":"={{ $json[\"ID Grupo\"] }}"},{"lookupColumn":"orderNumber","lookupValue":"={{ $json[\"Número Orden\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,944],"id":"63995648-bc85-4bd7-886a-eee6965878ee","name":"match_data","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5887ffe1-ceea-49d7-a591-5c4b2db241d2","leftValue":"={{ $('match_data').item.json.mail}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,976],"id":"2ca447c8-5258-442f-a199-f921f282146f","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k","mode":"list","cachedResultName":"registro_diario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"correos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"estado_aviso":"success","fecha_aviso":"={{$now.toLocaleString()}}","hora_aviso":"={{$now.format('HH:mm')}}","grupo":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}","orden":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}","ultima_actualizacion":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}","cuotas_pagadas":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}","cuotas_impagas":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}","cuotas_licitadas":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}","cuotas_vencidas":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}","cuotas_canceladas":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}","monto_moratoria":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}","monto_enriquecimiento":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}","monto_deuda_total":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}","monto_tasa_extraordinaria":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}","proximo_numero_cuota":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}","desviacion":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}","fecha_vencimiento_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}","monto_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}","estado":"={{ $('Loop Deudores').item.json.Estado }}","codigo_postal":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}","direccion":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}","ciudad":"={{ $('Loop Deudores').item.json.Ciudad }}","provincia":"={{ $('Loop Deudores').item.json.Provincia }}","nombre":"={{ $('Loop Deudores').item.json.Nombre }}","telefono":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}","monto_escalonado":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}","monto_derecho_admision":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}","monto_diferimiento":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}","monto_sellado":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}","monto_otros_impuestos":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"},"matchingColumns":[],"schema":[{"id":"estado_aviso","displayName":"estado_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_aviso","displayName":"fecha_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_aviso","displayName":"hora_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"grupo","displayName":"grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orden","displayName":"orden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultima_actualizacion","displayName":"ultima_actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_pagadas","displayName":"cuotas_pagadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_impagas","displayName":"cuotas_impagas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_licitadas","displayName":"cuotas_licitadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_vencidas","displayName":"cuotas_vencidas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_canceladas","displayName":"cuotas_canceladas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_moratoria","displayName":"monto_moratoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_enriquecimiento","displayName":"monto_enriquecimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_deuda_total","displayName":"monto_deuda_total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_tasa_extraordinaria","displayName":"monto_tasa_extraordinaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proximo_numero_cuota","displayName":"proximo_numero_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"desviacion","displayName":"desviacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_vencimiento_proxima_cuota","displayName":"fecha_vencimiento_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_proxima_cuota","displayName":"monto_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"codigo_postal","displayName":"codigo_postal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provincia","displayName":"provincia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_escalonado","displayName":"monto_escalonado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_derecho_admision","displayName":"monto_derecho_admision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_diferimiento","displayName":"monto_diferimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_sellado","displayName":"monto_sellado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_otros_impuestos","displayName":"monto_otros_impuestos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"registro_diario_success","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2080,592],"id":"36ede002-a0dd-4c42-aee4-c0649d8f80ad","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,1328],"id":"402e2133-e277-4366-b8fe-c0c4df883976","name":"Wait1","webhookId":"cbcf1fec-85f3-4f13-ae18-305e360ef54b"},{"parameters":{"jsCode":"// Nodo Code para TIPO 3 - AHORRISTA MOROSOS (2 o más cuotas impagas)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_deuda = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nconst cuotas_impagas = $('Loop Deudores').first().json[\"Cuotas Impagas\"] || 2;\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\n// Formatear fecha de vencimiento a DD-MM-YYYY\nfunction formatearFecha(fechaStr) {\n  if (!fechaStr) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY o DD-MM-YYYY\n  if (fechaStr.includes('/') || fechaStr.includes('-')) {\n    const partes = fechaStr.split(/[\\/\\-]/);\n    if (partes.length === 3) {\n      return `${partes[0].padStart(2, '0')}-${partes[1].padStart(2, '0')}-${partes[2]}`;\n    }\n  }\n  \n  return fechaStr;\n}\n\nconst fecha_formateada = formatearFecha(fecha_vencimiento);\n\nasunto = `Aviso Importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n    line-height: 1.6;\n  }\n  .container {\n    max-width: 650px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    padding: 25px;\n    font-size: 22px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    margin: 12px 0;\n  }\n  .highlight {\n    font-weight: bold;\n  }\n  .debt-info {\n    margin: 25px 0;\n    padding: 15px 0;\n    border-top: 2px solid #ddd;\n    border-bottom: 2px solid #ddd;\n  }\n  .debt-info p {\n    margin: 8px 0;\n    font-size: 16px;\n  }\n  .amount {\n    font-size: 26px;\n    font-weight: bold;\n    color: #333;\n  }\n  .mora-notice {\n    margin: 20px 0;\n    padding: 15px;\n    border-left: 4px solid #666;\n    background-color: #f5f5f5;\n    font-weight: bold;\n  }\n  .payment-section {\n    background-color: #fafafa;\n    border: 1px solid #ddd;\n    padding: 20px;\n    margin: 20px 0;\n  }\n  .payment-section h3 {\n    color: #333;\n    margin-top: 0;\n    font-size: 18px;\n    border-bottom: 1px solid #ddd;\n    padding-bottom: 10px;\n  }\n  .payment-option {\n    margin: 15px 0;\n  }\n  .payment-option strong {\n    color: #333;\n    text-decoration: underline;\n  }\n  .payment-option ul {\n    margin: 8px 0;\n    padding-left: 25px;\n  }\n  .payment-option li {\n    margin: 5px 0;\n  }\n  .partial-payment {\n    background-color: #f9f9f9;\n    border: 1px solid #ccc;\n    padding: 15px;\n    margin: 15px 0;\n    font-size: 14px;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #dd75ef;\n    color: #fff !important;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 4px;\n    font-weight: bold;\n    margin: 15px 5px;\n    font-size: 15px;\n  }\n  .cta-button:hover {\n    background-color: #AB47BB;\n  }\n  .footer {\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-top: 1px solid #dee2e6;\n  }\n  .footer p {\n    margin: 8px 0;\n    font-size: 13px;\n    color: #666;\n  }\n  .contact-info {\n    margin-top: 15px;\n    font-size: 14px;\n    color: #555;\n  }\n  .contact-info strong {\n    color: #333;\n  }\n  a {\n    color: #5a7a8c;\n    text-decoration: underline;\n  }\n  a:hover {\n    color: #3d5a6b;\n  }\n  .notice-top {\n    background-color: #fffbea;\n    border: 2px solid #f0b429;\n    border-radius: 6px;\n    padding: 14px 18px;\n    margin: 18px 0 24px 0;\n    font-size: 15px;\n    color: #7a4f00;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo (T3)\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n\n      <div class=\"notice-top\">\n        ⚠️ <strong>Nota:</strong> Si usted esta adherido a débito automático o ya realizó el pago, por favor desestime este mensaje o envíenos el comprobante para actualizar su estado.\n      </div>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo <strong>${datos_plan['ID Grupo']}</strong>, Orden <strong>${datos_plan[\"Número Orden\"]}</strong>) \n        correspondiente al modelo <strong>${modelo_vehiculo}</strong>.\n      </p>\n      \n      <div class=\"mora-notice\">\n        Al día de hoy su plan se encuentra en mora.\n      </div>\n      \n      <div class=\"debt-info\">\n        <p>Registra un saldo pendiente aproximado de:</p>\n        <p class=\"amount\">${parseFloat(monto_deuda.toString().replace(',', '.')).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</p>\n        <p>Correspondiente a <strong>${cuotas_impagas} cuotas impagas</strong></p>\n        ${fecha_formateada ? `<p>Vencimiento: <strong>${fecha_formateada}</strong></p>` : ''}\n      </div>\n      \n      <p>\n        <strong>Para poder participar del sorteo o acto de licitación, le invitamos a regularizar su situación a la brevedad.</strong>\n      </p>\n      \n      <div class=\"payment-section\">\n        <h3>Puede realizar el pago a través de las siguientes opciones:</h3>\n        \n        <div class=\"payment-option\">\n          <strong>Pago en efectivo:</strong>\n          <ul>\n            <li><strong>Rapipago o Pago Fácil:</strong> con el número de DNI del titular del plan.</li>\n            <li><strong>Bancos:</strong> Nación - Santander - Galicia</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Pago por Homebanking:</strong>\n          <ul>\n            <li>Se puede abonar por aplicaciones de bancos, Mercado Pago o billeteras virtuales ingresando como <em>pago de servicios</em> y luego colocando el código electrónico que figura en el cupón de pago.</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Obtener tu cupón digital:</strong>\n          <ul>\n            <li>Entrá a la página de Plan Óvalo: <a href=\"https://www.planovalo.com.ar/ovalo\" target=\"_blank\">www.planovalo.com.ar/ovalo</a></li>\n            <li>Iniciá sesión con tu clave personal</li>\n            <li>Generá el cupón de pago desde la página</li>\n          </ul>\n        </div>\n        \n        <div class=\"partial-payment\">\n          <strong>Opción de pago parcial:</strong>\n          <p style=\"margin: 8px 0;\">\n            Si desea realizar un pago parcial, puede modificar el importe a través de la página de Plan Óvalo, \n            o bien puede solicitar que se publique el importe de la cuota específica que quiere pagar.\n          </p>\n          <p style=\"margin: 8px 0;\">\n            También puede pagar el total de la deuda en los medios ya mencionados.\n          </p>\n        </div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Obtener Cupón de Pago\n        </a>\n      </p>\n      \n      <p style=\"margin-top: 25px;\">\n        Agradecemos su atención y pronta regularización.<br>\n        Estamos a disposición ante cualquier duda o inconveniente.\n      </p>\n      \n      <p style=\"margin-top: 20px;\">\n        Atentamente,<br>\n        <strong>AG NAUM - Plan Óvalo</strong>\n      </p>\n      \n      <div class=\"contact-info\">\n        <p>\n          <strong>Contacto:</strong><br>\n          WhatsApp/Teléfono: <a href=\"https://wa.me/5493815193743\">+54 9 3815 19-3743</a><br>\n          Email: <a href=\"mailto:atencioncliente@planovalo.com.ar\">atencioncliente@planovalo.com.ar</a>\n        </p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>AGN Corp - Futuro e Innovación</strong></p>\n      <p>Plan Óvalo | Sistema de Ahorro Previo</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 3\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,448],"id":"ec5a0161-ce29-40d2-93cd-685609601cda","name":"message-tipo-3"},{"parameters":{"jsCode":"// Nodo Code para TIPO 5 - ADJUDICADO DEFINITIVO EN MORA (plan adjudicado con deuda)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_deuda = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nconst cuotas_impagas = $('Loop Deudores').first().json[\"Cuotas Impagas\"];\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\n// Formatear fecha de vencimiento a DD-MM-YYYY\nfunction formatearFecha(fechaStr) {\n  if (!fechaStr) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY o DD-MM-YYYY\n  if (fechaStr.includes('/') || fechaStr.includes('-')) {\n    const partes = fechaStr.split(/[\\/\\-]/);\n    if (partes.length === 3) {\n      return `${partes[0].padStart(2, '0')}-${partes[1].padStart(2, '0')}-${partes[2]}`;\n    }\n  }\n  \n  return fechaStr;\n}\n\nconst fecha_formateada = formatearFecha(fecha_vencimiento);\n\nasunto = `Aviso Importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n    line-height: 1.6;\n  }\n  .container {\n    max-width: 650px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    padding: 25px;\n    font-size: 22px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    margin: 12px 0;\n  }\n  .highlight {\n    font-weight: bold;\n  }\n  .debt-info {\n    margin: 25px 0;\n    padding: 15px 0;\n    border-top: 2px solid #ddd;\n    border-bottom: 2px solid #ddd;\n  }\n  .debt-info p {\n    margin: 8px 0;\n    font-size: 16px;\n  }\n  .amount {\n    font-size: 26px;\n    font-weight: bold;\n    color: #333;\n  }\n  .adjudicado-notice {\n    margin: 20px 0;\n    padding: 15px;\n    border-left: 4px solid #666;\n    background-color: #f5f5f5;\n    font-weight: bold;\n  }\n  .insurance-warning {\n    margin: 20px 0;\n    padding: 15px;\n    border: 2px solid #888;\n    background-color: #fafafa;\n  }\n  .insurance-warning strong {\n    color: #333;\n  }\n  .payment-section {\n    background-color: #fafafa;\n    border: 1px solid #ddd;\n    padding: 20px;\n    margin: 20px 0;\n  }\n  .payment-section h3 {\n    color: #333;\n    margin-top: 0;\n    font-size: 18px;\n    border-bottom: 1px solid #ddd;\n    padding-bottom: 10px;\n  }\n  .payment-option {\n    margin: 15px 0;\n  }\n  .payment-option strong {\n    color: #333;\n    text-decoration: underline;\n  }\n  .payment-option ul {\n    margin: 8px 0;\n    padding-left: 25px;\n  }\n  .payment-option li {\n    margin: 5px 0;\n  }\n  .partial-payment {\n    background-color: #f9f9f9;\n    border: 1px solid #ccc;\n    padding: 15px;\n    margin: 15px 0;\n    font-size: 14px;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #dd75ef;\n    color: #fff !important;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 4px;\n    font-weight: bold;\n    margin: 15px 5px;\n    font-size: 15px;\n  }\n  .cta-button:hover {\n    background-color: #AB47BB;\n  }\n  .notice-box {\n    background-color: #f5f5f5;\n    border-left: 3px solid #666;\n    padding: 15px;\n    margin: 20px 0;\n    font-size: 14px;\n  }\n  .footer {\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-top: 1px solid #dee2e6;\n  }\n  .footer p {\n    margin: 8px 0;\n    font-size: 13px;\n    color: #666;\n  }\n  .contact-info {\n    margin-top: 15px;\n    font-size: 14px;\n    color: #555;\n  }\n  .contact-info strong {\n    color: #333;\n  }\n  a {\n    color: #5a7a8c;\n    text-decoration: underline;\n  }\n  a:hover {\n    color: #3d5a6b;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo (T5)\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo <strong>${datos_plan['ID Grupo']}</strong>, Orden <strong>${datos_plan[\"Número Orden\"]}</strong>) \n        correspondiente al modelo <strong>${modelo_vehiculo}</strong>.\n      </p>\n      \n      <div class=\"adjudicado-notice\">\n        Al día de hoy su plan adjudicado se encuentra en mora.\n      </div>\n      \n      <div class=\"debt-info\">\n        <p>Registra un saldo pendiente aproximado de:</p>\n        <p class=\"amount\">${parseFloat(monto_deuda.toString().replace(',', '.')).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</p>        \n        <p>Recordandole que para cancelar restan <strong>${cuotas_impagas} cuotas</strong></p>\n        ${fecha_formateada ? `<p>Vencimiento: <strong>${fecha_formateada}</strong></p>` : ''}\n      </div>\n      \n      <div class=\"insurance-warning\">\n        <p style=\"margin: 0; font-size: 15px;\">\n          <strong>⚠️ IMPORTANTE - COBERTURA DE SEGURO:</strong>\n        </p>\n        <p style=\"margin: 10px 0 0 0;\">\n          El seguro de su vehículo está incluido en la cuota mensual. Mantener su plan al día es esencial \n          para conservar la cobertura del seguro y evitar que su vehículo quede sin protección.\n        </p>\n      </div>\n      \n      <p>\n        <strong>Le invitamos a regularizar su situación a la brevedad para mantener todos los beneficios de su plan adjudicado.</strong>\n      </p>\n      \n      <div class=\"payment-section\">\n        <h3>Puede realizar el pago a través de las siguientes opciones:</h3>\n        \n        <div class=\"payment-option\">\n          <strong>Pago en efectivo:</strong>\n          <ul>\n            <li><strong>Rapipago o Pago Fácil:</strong> con el número de DNI del titular del plan.</li>\n            <li><strong>Bancos:</strong> Nación - Santander - Galicia</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Pago por Homebanking:</strong>\n          <ul>\n            <li>Se puede abonar por aplicaciones de bancos, Mercado Pago o billeteras virtuales ingresando como <em>pago de servicios</em> y luego colocando el código electrónico que figura en el cupón de pago.</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Obtener tu cupón digital:</strong>\n          <ul>\n            <li>Entrá a la página de Plan Óvalo: <a href=\"https://www.planovalo.com.ar/ovalo\" target=\"_blank\">www.planovalo.com.ar/ovalo</a></li>\n            <li>Iniciá sesión con tu clave personal</li>\n            <li>Generá el cupón de pago desde la página</li>\n          </ul>\n        </div>\n        \n        <div class=\"partial-payment\">\n          <strong>Opción de pago parcial:</strong>\n          <p style=\"margin: 8px 0;\">\n            Si desea realizar un pago parcial, puede modificar el importe a través de la página de Plan Óvalo, \n            o bien puede solicitar que se publique el importe de la cuota específica que quiere pagar.\n          </p>\n          <p style=\"margin: 8px 0;\">\n            También puede pagar el total de la deuda en los medios ya mencionados.\n          </p>\n        </div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Obtener Cupón de Pago\n        </a>\n      </p>\n      \n      <div class=\"notice-box\">\n        <strong>Nota:</strong> Si ya realizó el pago, por favor desestime este mensaje o envíenos el comprobante para actualizar su estado.\n      </div>\n      \n      <p style=\"margin-top: 25px;\">\n        Agradecemos su atención y pronta regularización.<br>\n        Estamos a disposición ante cualquier duda o inconveniente.\n      </p>\n      \n      <p style=\"margin-top: 20px;\">\n        Atentamente,<br>\n        <strong>AG NAUM - Plan Óvalo</strong>\n      </p>\n      \n      <div class=\"contact-info\">\n        <p>\n          <strong>Contacto:</strong><br>\n          WhatsApp/Teléfono: <a href=\"https://wa.me/5493815193743\">+54 9 3815 19-3743</a><br>\n          Email: <a href=\"mailto:atencioncliente@planovalo.com.ar\">atencioncliente@planovalo.com.ar</a>\n        </p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>AGN Corp - Futuro e Innovación</strong></p>\n      <p>Plan Óvalo | Sistema de Ahorro Previo</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 5\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,80],"id":"0d42f2d0-02fc-4328-bb0e-2c6fecf151b9","name":"message-tipo-5","disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,608],"id":"93b3227a-279b-4973-8824-65734de874f9","name":"union"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk","mode":"list","cachedResultName":"accounts-status-from-api","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"accounts-list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_status":"={{ $json.clave }}","aviso":"hecho"},"matchingColumns":["id_status"],"schema":[{"id":"aviso","displayName":"aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id_status","displayName":"id_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID Grupo","displayName":"ID Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número Orden","displayName":"Número Orden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Última Actualización","displayName":"Última Actualización","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cuotas Pagadas","displayName":"Cuotas Pagadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cuotas Impagas","displayName":"Cuotas Impagas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cuotas Licitadas","displayName":"Cuotas Licitadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cuotas Vencidas","displayName":"Cuotas Vencidas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cuotas Canceladas","displayName":"Cuotas Canceladas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Moratoria","displayName":"Monto Moratoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Enriquecimiento","displayName":"Monto Enriquecimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Deuda Total","displayName":"Monto Deuda Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Tasa Extraordinaria","displayName":"Monto Tasa Extraordinaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Próximo Número Cuota","displayName":"Próximo Número Cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desviación","displayName":"Desviación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fecha Vencimiento Próxima Cuota","displayName":"Fecha Vencimiento Próxima Cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Próxima Cuota","displayName":"Monto Próxima Cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Código Postal","displayName":"Código Postal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dirección","displayName":"Dirección","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Provincia","displayName":"Provincia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Escalonado","displayName":"Monto Escalonado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Derecho Admisión","displayName":"Monto Derecho Admisión","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Diferimiento","displayName":"Monto Diferimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Sellado","displayName":"Monto Sellado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Monto Otros Impuestos","displayName":"Monto Otros Impuestos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2896,448],"id":"f92c0f82-5d78-4fc2-87a8-1fb9890e5830","name":"actualiza_status_success","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"jsCode":"const clave = $input.first().json.grupo + \"_\" + $input.first().json.orden\n\nreturn [{ json: { clave: clave } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,448],"id":"f1bff0af-5460-43ec-a1b8-f7ac6c3e2cb3","name":"form_clave"},{"parameters":{"maxItems":300},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-448,1152],"id":"8e7d6f86-b8e4-4870-8908-ecaf56579dd5","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,1344],"id":"6fac4e42-35e4-433f-9748-c9a8237bbc12","name":"ignorar realizados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb1c7b69-7974-47de-aad9-471eb69e6ae6","leftValue":"={{ $json.aviso }}","rightValue":"sin hacer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,1248],"id":"eee82070-f488-4bcf-ab56-531142a7e747","name":"filtramos no realizados"},{"parameters":{"documentId":{"__rl":true,"value":"1Qn3vE0KJLILnimeuTQPXnwHNuz992_nzNOtEs-X89t4","mode":"list","cachedResultName":"modelos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qn3vE0KJLILnimeuTQPXnwHNuz992_nzNOtEs-X89t4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2122819352,"mode":"list","cachedResultName":"listado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qn3vE0KJLILnimeuTQPXnwHNuz992_nzNOtEs-X89t4/edit#gid=2122819352"},"filtersUI":{"values":[{"lookupColumn":"MODELO","lookupValue":"={{ $json.modelCode }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,960],"id":"4e1e2ddf-be88-4b12-9f62-83a5b808a0f7","name":"match_modelo","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2416,384],"id":"89ce049e-2c89-4407-9c3a-1791eb16afa4","name":"Merge1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2448,1024],"id":"c74cff9b-2875-4bac-9d3c-e3d38d16cac7","name":"Merge2"},{"parameters":{"tableId":"registro_diario_correos","fieldsUi":{"fieldValues":[{"fieldId":"estado_aviso","fieldValue":"success"},{"fieldId":"fecha_aviso","fieldValue":"={{ $now.toLocaleString() }}"},{"fieldId":"hora_aviso","fieldValue":"={{$now.format('HH:mm')}}"},{"fieldId":"grupo","fieldValue":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}"},{"fieldId":"orden","fieldValue":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}"},{"fieldId":"ultima_actualizacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}"},{"fieldId":"cuotas_pagadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}"},{"fieldId":"cuotas_impagas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}"},{"fieldId":"cuotas_licitadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}"},{"fieldId":"cuotas_vencidas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}"},{"fieldId":"cuotas_canceladas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}"},{"fieldId":"monto_moratoria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}"},{"fieldId":"monto_enriquecimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}"},{"fieldId":"monto_deuda_total","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}"},{"fieldId":"monto_tasa_extraordinaria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}"},{"fieldId":"proximo_numero_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}"},{"fieldId":"desviacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}"},{"fieldId":"fecha_vencimiento_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}"},{"fieldId":"monto_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}"},{"fieldId":"estado","fieldValue":"={{ $('Loop Deudores').item.json.Estado }}"},{"fieldId":"codigo_postal","fieldValue":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}"},{"fieldId":"direccion","fieldValue":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}"},{"fieldId":"ciudad","fieldValue":"={{ $('Loop Deudores').item.json.Ciudad }}"},{"fieldId":"provincia","fieldValue":"={{ $('Loop Deudores').item.json.Provincia }}"},{"fieldId":"nombre","fieldValue":"={{ $('Loop Deudores').item.json.Nombre }}"},{"fieldId":"telefono","fieldValue":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}"},{"fieldId":"monto_escalonado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}"},{"fieldId":"monto_derecho_admision","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}"},{"fieldId":"monto_diferimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}"},{"fieldId":"monto_sellado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}"},{"fieldId":"monto_otros_impuestos","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,256],"id":"5295b01c-ef42-4355-919e-19ae85263f82","name":"post_registro_success","credentials":{"supabaseApi":{"id":"kfqdnCBpH3CEjsRN","name":"Supabase Ovalo"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1312,1088],"id":"eb0da553-e58c-4e1d-abe0-737c651d82af","name":"Merge3"},{"parameters":{"tableId":"registro_diario_correos","fieldsUi":{"fieldValues":[{"fieldId":"estado_aviso","fieldValue":"error on mail"},{"fieldId":"fecha_aviso","fieldValue":"={{ $now.toLocaleString() }}"},{"fieldId":"hora_aviso","fieldValue":"={{$now.format('HH:mm')}}"},{"fieldId":"grupo","fieldValue":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}"},{"fieldId":"orden","fieldValue":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}"},{"fieldId":"ultima_actualizacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}"},{"fieldId":"cuotas_pagadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}"},{"fieldId":"cuotas_impagas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}"},{"fieldId":"cuotas_licitadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}"},{"fieldId":"cuotas_vencidas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}"},{"fieldId":"cuotas_canceladas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}"},{"fieldId":"monto_moratoria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}"},{"fieldId":"monto_enriquecimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}"},{"fieldId":"monto_deuda_total","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}"},{"fieldId":"monto_tasa_extraordinaria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}"},{"fieldId":"proximo_numero_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}"},{"fieldId":"desviacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}"},{"fieldId":"fecha_vencimiento_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}"},{"fieldId":"monto_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}"},{"fieldId":"estado","fieldValue":"={{ $('Loop Deudores').item.json.Estado }}"},{"fieldId":"codigo_postal","fieldValue":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}"},{"fieldId":"direccion","fieldValue":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}"},{"fieldId":"ciudad","fieldValue":"={{ $('Loop Deudores').item.json.Ciudad }}"},{"fieldId":"provincia","fieldValue":"={{ $('Loop Deudores').item.json.Provincia }}"},{"fieldId":"nombre","fieldValue":"={{ $('Loop Deudores').item.json.Nombre }}"},{"fieldId":"telefono","fieldValue":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}"},{"fieldId":"monto_escalonado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}"},{"fieldId":"monto_derecho_admision","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}"},{"fieldId":"monto_diferimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}"},{"fieldId":"monto_sellado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}"},{"fieldId":"monto_otros_impuestos","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2192,1184],"id":"b5f8e3e7-4488-4ef5-bea0-a1cf42d90056","name":"post_error_mail","credentials":{"supabaseApi":{"id":"kfqdnCBpH3CEjsRN","name":"Supabase Ovalo"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"tableId":"registro_diario_correos","fieldsUi":{"fieldValues":[{"fieldId":"estado_aviso","fieldValue":"error on data"},{"fieldId":"fecha_aviso","fieldValue":"={{ $now.toLocaleString() }}"},{"fieldId":"hora_aviso","fieldValue":"={{$now.format('HH:mm')}}"},{"fieldId":"grupo","fieldValue":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}"},{"fieldId":"orden","fieldValue":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}"},{"fieldId":"ultima_actualizacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}"},{"fieldId":"cuotas_pagadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}"},{"fieldId":"cuotas_impagas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}"},{"fieldId":"cuotas_licitadas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}"},{"fieldId":"cuotas_vencidas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}"},{"fieldId":"cuotas_canceladas","fieldValue":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}"},{"fieldId":"monto_moratoria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}"},{"fieldId":"monto_enriquecimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}"},{"fieldId":"monto_deuda_total","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}"},{"fieldId":"monto_tasa_extraordinaria","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}"},{"fieldId":"proximo_numero_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}"},{"fieldId":"desviacion","fieldValue":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}"},{"fieldId":"fecha_vencimiento_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}"},{"fieldId":"monto_proxima_cuota","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}"},{"fieldId":"estado","fieldValue":"={{ $('Loop Deudores').item.json.Estado }}"},{"fieldId":"codigo_postal","fieldValue":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}"},{"fieldId":"direccion","fieldValue":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}"},{"fieldId":"ciudad","fieldValue":"={{ $('Loop Deudores').item.json.Ciudad }}"},{"fieldId":"provincia","fieldValue":"={{ $('Loop Deudores').item.json.Provincia }}"},{"fieldId":"nombre","fieldValue":"={{ $('Loop Deudores').item.json.Nombre }}"},{"fieldId":"telefono","fieldValue":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}"},{"fieldId":"monto_escalonado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}"},{"fieldId":"monto_derecho_admision","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}"},{"fieldId":"monto_diferimiento","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}"},{"fieldId":"monto_sellado","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}"},{"fieldId":"monto_otros_impuestos","fieldValue":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,1168],"id":"b6a80c68-4083-4f2e-96a6-61f9c572b56c","name":"post_error_datos","credentials":{"supabaseApi":{"id":"kfqdnCBpH3CEjsRN","name":"Supabase Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Nodo Code para TIPO 2 - AHORRISTA LIBRE DE DEUDA (1 cuota impaga próxima a vencer)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_proxima_cuota = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nconst cuotas_impagas = $('Loop Deudores').first().json[\"Cuotas Impagas\"] || 1;\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\n// Formatear fecha de vencimiento a DD-MM-YYYY\nfunction formatearFecha(fechaStr) {\n  if (!fechaStr) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY o DD-MM-YYYY\n  if (fechaStr.includes('/') || fechaStr.includes('-')) {\n    const partes = fechaStr.split(/[\\/\\-]/);\n    if (partes.length === 3) {\n      return `${partes[0].padStart(2, '0')}-${partes[1].padStart(2, '0')}-${partes[2]}`;\n    }\n  }\n  \n  return fechaStr;\n}\n\nconst fecha_formateada = formatearFecha(fecha_vencimiento);\n\n// Convertir monto a número para validación\nconst monto_numero = parseFloat(monto_proxima_cuota.toString().replace(',', '.'));\nconst mostrar_monto = !isNaN(monto_numero) && monto_numero > 0;\n\nasunto = `Aviso Importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n    line-height: 1.6;\n  }\n  .container {\n    max-width: 650px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    padding: 25px;\n    font-size: 22px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    margin: 12px 0;\n  }\n  .highlight {\n    font-weight: bold;\n  }\n  .debt-info {\n    margin: 25px 0;\n    padding: 15px 0;\n    border-top: 2px solid #ddd;\n    border-bottom: 2px solid #ddd;\n  }\n  .debt-info p {\n    margin: 8px 0;\n    font-size: 16px;\n  }\n  .amount {\n    font-size: 26px;\n    font-weight: bold;\n    color: #333;\n  }\n  .payment-section {\n    background-color: #fafafa;\n    border: 1px solid #ddd;\n    padding: 20px;\n    margin: 20px 0;\n  }\n  .payment-section h3 {\n    color: #333;\n    margin-top: 0;\n    font-size: 18px;\n    border-bottom: 1px solid #ddd;\n    padding-bottom: 10px;\n  }\n  .payment-option {\n    margin: 15px 0;\n  }\n  .payment-option strong {\n    color: #333;\n    text-decoration: underline;\n  }\n  .payment-option ul {\n    margin: 8px 0;\n    padding-left: 25px;\n  }\n  .payment-option li {\n    margin: 5px 0;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #dd75ef;\n    color: #fff !important;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 4px;\n    font-weight: bold;\n    margin: 15px 5px;\n    font-size: 15px;\n  }\n  .cta-button:hover {\n    background-color: #AB47BB;\n  }\n  .footer {\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-top: 1px solid #dee2e6;\n  }\n  .footer p {\n    margin: 8px 0;\n    font-size: 13px;\n    color: #666;\n  }\n  .contact-info {\n    margin-top: 15px;\n    font-size: 14px;\n    color: #555;\n  }\n  .contact-info strong {\n    color: #333;\n  }\n  a {\n    color: #555;\n    text-decoration: underline;\n  }\n  a:hover {\n    color: #333;\n  }\n  .notice-top {\n    background-color: #fffbea;\n    border: 2px solid #f0b429;\n    border-radius: 6px;\n    padding: 14px 18px;\n    margin: 18px 0 24px 0;\n    font-size: 15px;\n    color: #7a4f00;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo (T2)\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n\n      <div class=\"notice-top\">\n        ⚠️ <strong>Nota:</strong> Si usted esta adherido a débito automático o ya realizó el pago, por favor desestime este mensaje o envíenos el comprobante para actualizar su estado.\n      </div>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo <strong>${datos_plan['ID Grupo']}</strong>, Orden <strong>${datos_plan[\"Número Orden\"]}</strong>) \n        correspondiente al modelo <strong>${modelo_vehiculo}</strong>.\n      </p>\n      \n      <div class=\"debt-info\">\n        ${mostrar_monto ? `\n          <p>Al día de hoy <strong>registra un saldo pendiente aproximado de:</strong></p>\n          <p class=\"amount\">${monto_numero.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</p>\n          <p>Correspondiente a <strong>${cuotas_impagas} cuota${cuotas_impagas > 1 ? 's' : ''} impaga${cuotas_impagas > 1 ? 's' : ''}</strong></p>\n        ` : `\n          <p>Al día de hoy registra <strong>${cuotas_impagas} cuota${cuotas_impagas > 1 ? 's' : ''} ${cuotas_impagas > 1 ? 'vencidas' : 'vencida'} o próxima${cuotas_impagas > 1 ? 's' : ''} a vencer</strong></p>\n        `}\n        ${fecha_formateada ? `<p>Vencimiento: <strong>${fecha_formateada}</strong></p>` : ''}\n      </div>\n      \n      <p>\n        <strong>Para poder participar del sorteo o acto de licitación, le invitamos a regularizar su situación a la brevedad.</strong>\n      </p>\n      \n      <div class=\"payment-section\">\n        <h3>Puede realizar el pago a través de las siguientes opciones:</h3>\n        \n        <div class=\"payment-option\">\n          <strong>Pago en efectivo:</strong>\n          <ul>\n            <li><strong>Rapipago o Pago Fácil:</strong> con el número de DNI del titular del plan.</li>\n            <li><strong>Bancos:</strong> Nación - Santander - Galicia</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Pago por Homebanking:</strong>\n          <ul>\n            <li>Se puede abonar por aplicaciones de bancos, Mercado Pago o billeteras virtuales ingresando como <em>pago de servicios</em> y luego colocando el código electrónico que figura en el cupón de pago.</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Obtener tu cupón digital:</strong>\n          <ul>\n            <li>Entrá a la página de Plan Óvalo: <a href=\"https://www.planovalo.com.ar/ovalo\" target=\"_blank\">www.planovalo.com.ar/ovalo</a></li>\n            <li>Iniciá sesión con tu clave personal</li>\n            <li>Generá el cupón de pago desde la página</li>\n          </ul>\n        </div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Obtener Cupón de Pago\n        </a>\n      </p>\n      \n      <p style=\"margin-top: 25px;\">\n        Agradecemos su atención y pronta regularización.<br>\n        Estamos a disposición ante cualquier duda o inconveniente.\n      </p>\n      \n      <p style=\"margin-top: 20px;\">\n        Atentamente,<br>\n        <strong>AG NAUM - Plan Óvalo</strong>\n      </p>\n      \n      <div class=\"contact-info\">\n        <p>\n          <strong>Contacto:</strong><br>\n           WhatsApp/Teléfono: <a href=\"https://wa.me/5493815193743\">+54 9 3815 19-3743</a><br>\n          Email: <a href=\"mailto:atencioncliente@planovalo.com.ar\">atencioncliente@planovalo.com.ar</a>\n        </p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>AGN Corp - Futuro e Innovación</strong></p>\n      <p>Plan Óvalo | Sistema de Ahorro Previo</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 2\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,832],"id":"a69bc7f0-50c6-4e63-9f07-470042ea1a8a","name":"message-tipo-2"},{"parameters":{"jsCode":"// Nodo Code NUEVO: \"Preparar Testing\"\n// Colocar DESPUÉS de \"leer-filtrar-3-5\" y ANTES de \"Loop Deudores\"\n\nconst items = $input.all();\nconst ES_TESTING = false; // ⚠️ CAMBIAR A false EN PRODUCCIÓN\n//const EMAIL_TEST = \"cc1345899@gmail.com\"; \nconst EMAIL_TEST = \"agenteagnford@agncorp.com.ar\";\nconst CANTIDAD_POR_TIPO = 1; // 3 de cada tipo (estado 2, 3, 5)\n\nif (!ES_TESTING) {\n  // Modo producción: devolver todos los items sin modificar\n  return items;\n}\n\n// Modo testing: tomar muestra balanceada\nconst tipo2 = items.filter(i => i.json.Estado === 2).slice(0, CANTIDAD_POR_TIPO);\nconst tipo3 = items.filter(i => i.json.Estado === 3).slice(0, CANTIDAD_POR_TIPO);\nconst tipo5 = items.filter(i => i.json.Estado === 5).slice(0, CANTIDAD_POR_TIPO);\n\nconst muestras = [...tipo2, ...tipo3, ...tipo5];\n\nconsole.log(`🧪 MODO TESTING ACTIVADO`);\nconsole.log(`📊 Total registros originales: ${items.length}`);\nconsole.log(`📧 Enviando muestra de: ${muestras.length} correos`);\nconsole.log(`   - Estado 2: ${tipo2.length}`);\nconsole.log(`   - Estado 3: ${tipo3.length}`);\nconsole.log(`   - Estado 5: ${tipo5.length}`);\n\n// Reemplazar email por el de prueba\nreturn muestras.map(item => ({\n  json: {\n    ...item.json,\n    test_mail: EMAIL_TEST\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,1216],"id":"38ed4af9-5508-407b-9f0a-051d48afbd6d","name":"filtro_testing"},{"parameters":{"sendTo":"={{ $json.mail }}","subject":"={{ $json.asunto_email }}","message":"={{ $json.mensaje_email }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1520,512],"id":"44654c9f-3839-47a0-b99b-5ffd119506aa","name":"Enviar Email","webhookId":"574728c3-9717-4bd9-81bb-f79293bc1a45","retryOnFail":true,"credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k","mode":"list","cachedResultName":"registro_diario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"correos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"estado_aviso":"Error No Data","fecha_aviso":"={{$now.toLocaleString()}}","hora_aviso":"={{$now.format('HH:mm')}}","grupo":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}","orden":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}","ultima_actualizacion":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}","cuotas_pagadas":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}","cuotas_impagas":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}","cuotas_licitadas":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}","cuotas_vencidas":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}","cuotas_canceladas":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}","monto_moratoria":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}","monto_enriquecimiento":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}","monto_deuda_total":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}","monto_tasa_extraordinaria":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}","proximo_numero_cuota":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}","desviacion":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}","fecha_vencimiento_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}","monto_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}","estado":"={{ $('Loop Deudores').item.json.Estado }}","codigo_postal":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}","direccion":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}","ciudad":"={{ $('Loop Deudores').item.json.Ciudad }}","provincia":"={{ $('Loop Deudores').item.json.Provincia }}","nombre":"={{ $('Loop Deudores').item.json.Nombre }}","telefono":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}","monto_escalonado":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}","monto_derecho_admision":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}","monto_diferimiento":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}","monto_sellado":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}","monto_otros_impuestos":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"},"matchingColumns":[],"schema":[{"id":"estado_aviso","displayName":"estado_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_aviso","displayName":"fecha_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_aviso","displayName":"hora_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"grupo","displayName":"grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orden","displayName":"orden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultima_actualizacion","displayName":"ultima_actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_pagadas","displayName":"cuotas_pagadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_impagas","displayName":"cuotas_impagas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_licitadas","displayName":"cuotas_licitadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_vencidas","displayName":"cuotas_vencidas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_canceladas","displayName":"cuotas_canceladas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_moratoria","displayName":"monto_moratoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_enriquecimiento","displayName":"monto_enriquecimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_deuda_total","displayName":"monto_deuda_total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_tasa_extraordinaria","displayName":"monto_tasa_extraordinaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proximo_numero_cuota","displayName":"proximo_numero_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"desviacion","displayName":"desviacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_vencimiento_proxima_cuota","displayName":"fecha_vencimiento_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_proxima_cuota","displayName":"monto_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"codigo_postal","displayName":"codigo_postal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provincia","displayName":"provincia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_escalonado","displayName":"monto_escalonado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_derecho_admision","displayName":"monto_derecho_admision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_diferimiento","displayName":"monto_diferimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_sellado","displayName":"monto_sellado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_otros_impuestos","displayName":"monto_otros_impuestos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"registro_diario_error","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[928,1008],"id":"885fcf70-f27b-44bd-80a4-0d78419d361f","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k","mode":"list","cachedResultName":"registro_diario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"correos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oc0VWeDRqfwR0znnqDKFWCbTR2FvpLkuLFexDpET37k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"estado_aviso":"Error on Mail","fecha_aviso":"={{$now.toLocaleString()}}","hora_aviso":"={{$now.format('HH:mm')}}","grupo":"={{ $('Loop Deudores').item.json[\"ID Grupo\"] }}","orden":"={{ $('Loop Deudores').item.json[\"Número Orden\"] }}","ultima_actualizacion":"={{ $('Loop Deudores').item.json[\"Última Actualización\"] }}","cuotas_pagadas":"={{ $('Loop Deudores').item.json[\"Cuotas Pagadas\"] }}","cuotas_impagas":"={{ $('Loop Deudores').item.json[\"Cuotas Impagas\"] }}","cuotas_licitadas":"={{ $('Loop Deudores').item.json[\"Cuotas Licitadas\"] }}","cuotas_vencidas":"={{ $('Loop Deudores').item.json[\"Cuotas Vencidas\"] }}","cuotas_canceladas":"={{ $('Loop Deudores').item.json[\"Cuotas Canceladas\"] }}","monto_moratoria":"={{ $('Loop Deudores').item.json[\"Monto Moratoria\"] }}","monto_enriquecimiento":"={{ $('Loop Deudores').item.json[\"Monto Enriquecimiento\"] }}","monto_deuda_total":"={{ $('Loop Deudores').item.json[\"Monto Deuda Total\"] }}","monto_tasa_extraordinaria":"={{ $('Loop Deudores').item.json[\"Monto Tasa Extraordinaria\"] }}","proximo_numero_cuota":"={{ $('Loop Deudores').item.json[\"Próximo Número Cuota\"] }}","desviacion":"={{ $('Loop Deudores').item.json[\"Desviación\"] }}","fecha_vencimiento_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Fecha Vencimiento Próxima Cuota\"] }}","monto_proxima_cuota":"={{ $('Loop Deudores').item.json[\"Monto Próxima Cuota\"] }}","estado":"={{ $('Loop Deudores').item.json.Estado }}","codigo_postal":"={{ $('Loop Deudores').item.json[\"Código Postal\"] }}","direccion":"={{ $('Loop Deudores').item.json[\"Dirección\"] }}","ciudad":"={{ $('Loop Deudores').item.json.Ciudad }}","provincia":"={{ $('Loop Deudores').item.json.Provincia }}","nombre":"={{ $('Loop Deudores').item.json.Nombre }}","telefono":"={{ $('Loop Deudores').item.json[\"Teléfono\"] }}","monto_escalonado":"={{ $('Loop Deudores').item.json[\"Monto Escalonado\"] }}","monto_derecho_admision":"={{ $('Loop Deudores').item.json[\"Monto Derecho Admisión\"] }}","monto_diferimiento":"={{ $('Loop Deudores').item.json[\"Monto Diferimiento\"] }}","monto_sellado":"={{ $('Loop Deudores').item.json[\"Monto Sellado\"] }}","monto_otros_impuestos":"={{ $('Loop Deudores').item.json[\"Monto Otros Impuestos\"] }}"},"matchingColumns":[],"schema":[{"id":"estado_aviso","displayName":"estado_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_aviso","displayName":"fecha_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_aviso","displayName":"hora_aviso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"grupo","displayName":"grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orden","displayName":"orden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultima_actualizacion","displayName":"ultima_actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_pagadas","displayName":"cuotas_pagadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_impagas","displayName":"cuotas_impagas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_licitadas","displayName":"cuotas_licitadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_vencidas","displayName":"cuotas_vencidas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cuotas_canceladas","displayName":"cuotas_canceladas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_moratoria","displayName":"monto_moratoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_enriquecimiento","displayName":"monto_enriquecimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_deuda_total","displayName":"monto_deuda_total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_tasa_extraordinaria","displayName":"monto_tasa_extraordinaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proximo_numero_cuota","displayName":"proximo_numero_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"desviacion","displayName":"desviacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_vencimiento_proxima_cuota","displayName":"fecha_vencimiento_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_proxima_cuota","displayName":"monto_proxima_cuota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"codigo_postal","displayName":"codigo_postal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provincia","displayName":"provincia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_escalonado","displayName":"monto_escalonado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_derecho_admision","displayName":"monto_derecho_admision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_diferimiento","displayName":"monto_diferimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_sellado","displayName":"monto_sellado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_otros_impuestos","displayName":"monto_otros_impuestos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"registro_diario_error_envio","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2192,944],"id":"fbcfc876-de73-4c5b-92a2-b4086f40472b","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"jsCode":"// Nodo Code para TIPO 2 - CLIENTES AL DÍA (Recordatorio de próximo vencimiento)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_proxima_cuota = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\nasunto = `¡Tu sueño está cada vez más cerca! - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n  }\n  .container {\n    max-width: 600px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 6px;\n    overflow: hidden;\n    box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #2a9d8f; /* verde */\n    color: #fff;\n    text-align: center;\n    padding: 20px;\n    font-size: 20px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 20px;\n    line-height: 1.6;\n  }\n  .content p {\n    margin: 10px 0;\n  }\n  .highlight {\n    font-weight: bold;\n    color: #2a9d8f;\n  }\n  .payment-box {\n    background-color: #e8f5e9;\n    border: 2px solid #2a9d8f;\n    border-radius: 6px;\n    padding: 20px;\n    margin: 20px 0;\n    text-align: center;\n  }\n  .payment-box .amount {\n    font-size: 28px;\n    font-weight: bold;\n    color: #2a9d8f;\n    margin: 10px 0;\n  }\n  .payment-box .date {\n    font-size: 20px;\n    font-weight: bold;\n    color: #333;\n    margin: 10px 0;\n  }\n  .congratulations {\n    background-color: #fff9e6;\n    border-left: 4px solid #ffc107;\n    padding: 15px;\n    margin: 15px 0;\n    font-style: italic;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #2a9d8f;\n    color: #fff;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 5px;\n    font-weight: bold;\n    margin: 15px 0;\n  }\n  .footer {\n    font-size: 12px;\n    color: #888;\n    text-align: center;\n    padding: 10px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      ¡Tu sueño está cada vez más cerca! 🚗✨\n    </div>\n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n      \n      <div class=\"congratulations\">\n        <strong>¡Felicidades por haber llegado tan lejos en tu sueño de tu 0 km!</strong>\n      </div>\n      \n      <p>\n        Queremos agradecerte sinceramente por elegirnos para acompañarte en esta importante decisión de tu vida. \n        Tu compromiso y constancia nos llenan de orgullo y nos motivan a seguir brindándote el mejor servicio.\n      </p>\n      \n      <p>\n        Sos parte del <span class=\"highlight\">Plan Óvalo</span> (Grupo ${datos_plan['ID Grupo']}, Orden ${datos_plan[\"Número Orden\"]}), \n        y tu <strong>${modelo_vehiculo}</strong> está cada vez más cerca de ser una realidad.\n      </p>\n      \n      <div class=\"payment-box\">\n        <p style=\"margin: 5px 0; font-size: 16px;\">📅 <strong>Fecha de vencimiento:</strong></p>\n        <div class=\"date\">${fecha_vencimiento}</div>\n        \n        <p style=\"margin: 15px 0 5px 0; font-size: 16px;\">💰 <strong>Monto a pagar:</strong></p>\n        <div class=\"amount\">${parseFloat(monto_proxima_cuota.toString().replace(',', '.')).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Pagar mi cuota ahora 💳\n        </a>\n      </p>\n      \n      <p>\n        <strong>Recordá que:</strong> Manteniendo tus pagos al día conservás todos los beneficios de tu plan, \n        incluyendo la cobertura del seguro que está incluida en tu cuota mensual.\n      </p>\n      \n      <p>\n        Estamos siempre disponibles para ayudarte con cualquier consulta o duda que puedas tener.\n      </p>\n      \n      <p>\n        ¡Gracias por confiar en nosotros! 🙌\n      </p>\n      \n      <p>\n        Atentamente,<br>\n        <strong>Departamento de Atención al Cliente</strong><br>\n        Plan Óvalo\n      </p>\n    </div>\n    <div class=\"footer\">\n      AGN Corp - Futuro e Innovación\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 2\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,656],"id":"98692463-1cbc-4deb-8b6b-06c547bfc2a6","name":"message-tipo-2-original","disabled":true},{"parameters":{"jsCode":"// Nodo Code para TIPO 3 - AHORRISTA MOROSOS\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion?$('match_modelo').first().json.Descripcion:datos_personales.Modelo\nconst monto_deuda = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"]\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\nasunto = `Aviso importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"] })`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n  }\n  .container {\n    max-width: 600px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 6px;\n    overflow: hidden;\n    box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #2a9d8f; /* verde */\n    color: #fff;\n    text-align: center;\n    padding: 20px;\n    font-size: 20px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 20px;\n    line-height: 1.6;\n  }\n  .content p {\n    margin: 10px 0;\n  }\n  .highlight {\n    font-weight: bold;\n    color: #2a9d8f;\n  }\n  .status-box {\n    background-color: #fff3cd;\n    border: 1px solid #ffeaa7;\n    border-radius: 4px;\n    padding: 15px;\n    margin: 15px 0;\n    font-weight: bold;\n    color: #856404;\n  }\n  .footer {\n    font-size: 12px;\n    color: #888;\n    text-align: center;\n    padding: 10px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo \n    </div>\n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n      \n      <div class=\"status-box\">\n        STATUS 5 - ADJUDICADO DEFINITIVO en mora\n      </div>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo ${datos_plan['ID Grupo']}, Orden ${datos_plan[\"Número Orden\"]}), correspondiente al modelo <strong>${modelo_vehiculo}</strong>. \n      </p>\n      <p>\n        Al día de la fecha, registramos un saldo pendiente correspondiente a <strong>${datos_plan['Cuotas Impagas']} cuota${datos_plan['Cuotas Impagas'] > 1 ? 's' : ''} impaga${datos_plan['Cuotas Impagas'] > 1 ? 's' : ''} ${parseFloat(monto_deuda.toString().replace(',', '.')).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })} </strong>.\n      </p>\n      <p>\n        <strong>Te escribimos para recordarte que tu plan se encuentra en mora, regularizar lo antes posible ya que dentro de la cuota mensual está el costo del seguro.</strong>\n      </p>\n      \n      <div class=\"insurance-notice\">\n        <strong>Importante:</strong> Recordá que el seguro de tu vehículo está incluido en la cuota mensual. Mantené tu plan al día para conservar esta cobertura.\n      </div>\n      \n      <p>\n        Queremos recordarle que el pago puntual de sus obligaciones es esencial para conservar su posición dentro del grupo y mantener todos los beneficios de su plan adjudicado.\n      </p>\n      <p>\n        Entendemos que pueden presentarse imprevistos, y por eso lo invitamos a regularizar su situación lo antes posible para evitar inconvenientes con la cobertura del seguro y otros beneficios.\n      </p>\n      <p>\n  Si desea regularizar su situación, haga click aquí \n  <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" target=\"_blank\">\n    💳\n  </a>\n</p>\n      <p>\n        Por favor, póngase en contacto con nuestro equipo de atención al cliente para coordinar el pago o aclarar cualquier duda que pudiera tener.\n      </p>\n      <p>\n        Agradecemos su pronta atención y quedamos a disposición para asistirlo.\n      </p>\n      <p>\n        Atentamente,<br>\n        <strong>Departamento de Atención al Cliente</strong><br>\n        Plan Óvalo\n      </p>\n    </div>\n    <div class=\"footer\">\n      AGN Corp - Futuro e Innovación\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 5\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,480],"id":"0d7f92d5-0fda-4886-83ba-8e92eaa6a873","name":"message-tipo-5-original","disabled":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 7,8,14,15,21,22 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1856,1312],"id":"62e6c56b-f2d7-497e-8185-cbb45ec92379","name":"trigger diario"},{"parameters":{"documentId":{"__rl":true,"value":"17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk","mode":"list","cachedResultName":"accounts-status-from-api","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"accounts-list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17juqHG6cTLSrPYB_CV8oebDPlZq41L4i7EJqND3Fgqk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Estado","lookupValue":"3"},{"lookupColumn":"Estado","lookupValue":"2"}]},"options":{"returnAllMatches":"returnAllMatches"}},"name":"leer-filtrar-3-2","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1344,1248],"id":"9746de85-1160-4a34-9e83-fb87e5c9c756","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Deudores').item.json.Estado }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"22954526-38e1-4802-afb8-30bac3abdae7"}],"combinator":"and"},"renameOutput":true,"outputKey":"estado-3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"952262ca-2d5c-45e0-9a78-fcbf917e19fc","leftValue":"={{ $('Loop Deudores').item.json.Estado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"estado-2"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,624],"id":"535d14ce-78cd-41cd-9a36-d20103bd3557","name":"es-3-2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3120,544],"id":"7ea155b2-22c3-4940-a682-3ba57f10a494","name":"une-registros"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01bb9b8b-9520-4913-97b5-e221085f7187","leftValue":"={{ $json[\"Cuotas Impagas\"] }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1024,1248],"id":"69081c4c-8292-48bd-9687-1a87c1fc28b2","name":"filrar-con-cuotas-impagas"},{"parameters":{"jsCode":"// Nodo Code para TIPO 3 - AHORRISTA MOROSOS (2 o más cuotas impagas)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_deuda = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nconst cuotas_impagas = $('Loop Deudores').first().json[\"Cuotas Impagas\"] || 2;\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\n// Formatear fecha de vencimiento a DD-MM-YYYY\nfunction formatearFecha(fechaStr) {\n  if (!fechaStr) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY o DD-MM-YYYY\n  if (fechaStr.includes('/') || fechaStr.includes('-')) {\n    const partes = fechaStr.split(/[\\/\\-]/);\n    if (partes.length === 3) {\n      return `${partes[0].padStart(2, '0')}-${partes[1].padStart(2, '0')}-${partes[2]}`;\n    }\n  }\n  \n  return fechaStr;\n}\n\nconst fecha_formateada = formatearFecha(fecha_vencimiento);\n\nasunto = `Aviso Importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n    line-height: 1.6;\n  }\n  .container {\n    max-width: 650px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    padding: 25px;\n    font-size: 22px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    margin: 12px 0;\n  }\n  .highlight {\n    font-weight: bold;\n  }\n  .debt-info {\n    margin: 25px 0;\n    padding: 15px 0;\n    border-top: 2px solid #ddd;\n    border-bottom: 2px solid #ddd;\n  }\n  .debt-info p {\n    margin: 8px 0;\n    font-size: 16px;\n  }\n  .amount {\n    font-size: 26px;\n    font-weight: bold;\n    color: #333;\n  }\n  .mora-notice {\n    margin: 20px 0;\n    padding: 15px;\n    border-left: 4px solid #666;\n    background-color: #f5f5f5;\n    font-weight: bold;\n  }\n  .payment-section {\n    background-color: #fafafa;\n    border: 1px solid #ddd;\n    padding: 20px;\n    margin: 20px 0;\n  }\n  .payment-section h3 {\n    color: #333;\n    margin-top: 0;\n    font-size: 18px;\n    border-bottom: 1px solid #ddd;\n    padding-bottom: 10px;\n  }\n  .payment-option {\n    margin: 15px 0;\n  }\n  .payment-option strong {\n    color: #333;\n    text-decoration: underline;\n  }\n  .payment-option ul {\n    margin: 8px 0;\n    padding-left: 25px;\n  }\n  .payment-option li {\n    margin: 5px 0;\n  }\n  .partial-payment {\n    background-color: #f9f9f9;\n    border: 1px solid #ccc;\n    padding: 15px;\n    margin: 15px 0;\n    font-size: 14px;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #dd75ef;\n    color: #fff !important;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 4px;\n    font-weight: bold;\n    margin: 15px 5px;\n    font-size: 15px;\n  }\n  .cta-button:hover {\n    background-color: #AB47BB;\n  }\n  .notice-box {\n    background-color: #f5f5f5;\n    border-left: 3px solid #666;\n    padding: 15px;\n    margin: 20px 0;\n    font-size: 14px;\n  }\n  .footer {\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-top: 1px solid #dee2e6;\n  }\n  .footer p {\n    margin: 8px 0;\n    font-size: 13px;\n    color: #666;\n  }\n  .contact-info {\n    margin-top: 15px;\n    font-size: 14px;\n    color: #555;\n  }\n  .contact-info strong {\n    color: #333;\n  }\n  a {\n    color: #5a7a8c;\n    text-decoration: underline;\n  }\n  a:hover {\n    color: #3d5a6b;\n  }\n  .notice-box {\n  background-color: #f5f5f5;\n  border-left: 3px solid #666;\n  padding: 15px;\n  margin: 20px 0;\n  font-size: 14px;\n}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo (T3)\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo <strong>${datos_plan['ID Grupo']}</strong>, Orden <strong>${datos_plan[\"Número Orden\"]}</strong>) \n        correspondiente al modelo <strong>${modelo_vehiculo}</strong>.\n      </p>\n      \n      <div class=\"mora-notice\">\n        Al día de hoy su plan se encuentra en mora.\n      </div>\n      \n      <div class=\"debt-info\">\n        <p>Registra un saldo pendiente aproximado de:</p>\n        <p class=\"amount\">${parseFloat(monto_deuda.toString().replace(',', '.')).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</p>\n        <p>Correspondiente a <strong>${cuotas_impagas} cuotas impagas</strong></p>\n        ${fecha_formateada ? `<p>Vencimiento: <strong>${fecha_formateada}</strong></p>` : ''}\n      </div>\n      \n      <p>\n        <strong>Para poder participar del sorteo o acto de licitación, le invitamos a regularizar su situación a la brevedad.</strong>\n      </p>\n      \n      <div class=\"payment-section\">\n        <h3>Puede realizar el pago a través de las siguientes opciones:</h3>\n        \n        <div class=\"payment-option\">\n          <strong>Pago en efectivo:</strong>\n          <ul>\n            <li><strong>Rapipago o Pago Fácil:</strong> con el número de DNI del titular del plan.</li>\n            <li><strong>Bancos:</strong> Nación - Santander - Galicia</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Pago por Homebanking:</strong>\n          <ul>\n            <li>Se puede abonar por aplicaciones de bancos, Mercado Pago o billeteras virtuales ingresando como <em>pago de servicios</em> y luego colocando el código electrónico que figura en el cupón de pago.</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Obtener tu cupón digital:</strong>\n          <ul>\n            <li>Entrá a la página de Plan Óvalo: <a href=\"https://www.planovalo.com.ar/ovalo\" target=\"_blank\">www.planovalo.com.ar/ovalo</a></li>\n            <li>Iniciá sesión con tu clave personal</li>\n            <li>Generá el cupón de pago desde la página</li>\n          </ul>\n        </div>\n        \n        <div class=\"partial-payment\">\n          <strong>Opción de pago parcial:</strong>\n          <p style=\"margin: 8px 0;\">\n            Si desea realizar un pago parcial, puede modificar el importe a través de la página de Plan Óvalo, \n            o bien puede solicitar que se publique el importe de la cuota específica que quiere pagar.\n          </p>\n          <p style=\"margin: 8px 0;\">\n            También puede pagar el total de la deuda en los medios ya mencionados.\n          </p>\n        </div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Obtener Cupón de Pago\n        </a>\n      </p>\n      \n      <div class=\"notice-box\">\n        <strong>Nota:</strong> Si ya realizó el pago, por favor desestime este mensaje o envíenos el comprobante para actualizar su estado.\n      </div>\n      \n      <p style=\"margin-top: 25px;\">\n        Agradecemos su atención y pronta regularización.<br>\n        Estamos a disposición ante cualquier duda o inconveniente.\n      </p>\n      \n      <p style=\"margin-top: 20px;\">\n        Atentamente,<br>\n        <strong>AG NAUM - Plan Óvalo</strong>\n      </p>\n      \n      <div class=\"contact-info\">\n        <p>\n          <strong>Contacto:</strong><br>\n          WhatsApp/Teléfono: <a href=\"https://wa.me/5493815193743\">+54 9 3815 19-3743</a><br>\n          Email: <a href=\"mailto:atencioncliente@planovalo.com.ar\">atencioncliente@planovalo.com.ar</a>\n        </p>\n      </div>\n      <div class=\"notice-box\">\n  <strong>Nota:</strong> Si ya realizó el pago, por favor desestime este mensaje \n  o envíenos el comprobante para actualizar su estado.\n</div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>AGN Corp - Futuro e Innovación</strong></p>\n      <p>Plan Óvalo | Sistema de Ahorro Previo</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 3\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,256],"id":"e9c49bf6-305d-4d9c-822c-91e7d1b753f2","name":"message-tipo-","disabled":true},{"parameters":{"jsCode":"// Nodo Code para TIPO 2 - AHORRISTA LIBRE DE DEUDA (1 cuota impaga próxima a vencer)\nconst datos_personales = $('match_data').first().json;\nconst datos_plan = $('Loop Deudores').first().json;\nconst modelo_vehiculo = $('match_modelo').first().json.Descripcion ? $('match_modelo').first().json.Descripcion : datos_personales.Modelo;\nconst monto_proxima_cuota = $('Loop Deudores').first().json[\"Monto Próxima Cuota\"];\nconst fecha_vencimiento = $('Loop Deudores').first().json[\"Fecha Vencimiento Próxima Cuota\"];\nconst cuotas_impagas = $('Loop Deudores').first().json[\"Cuotas Impagas\"] || 1;\nlet asunto = \"\";\n\nif(datos_plan.test_mail){\n  datos_personales.mail = datos_plan.test_mail\n}\n\n// Obtener fecha y hora actuales\nconst ahora = new Date();\nconst fecha = ahora.toLocaleDateString('es-AR'); // formato DD/MM/AAAA\nconst hora = ahora.toLocaleTimeString('es-AR');  // formato HH:MM:SS\n\n// Formatear fecha de vencimiento a DD-MM-YYYY\nfunction formatearFecha(fechaStr) {\n  if (!fechaStr) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY o DD-MM-YYYY\n  if (fechaStr.includes('/') || fechaStr.includes('-')) {\n    const partes = fechaStr.split(/[\\/\\-]/);\n    if (partes.length === 3) {\n      return `${partes[0].padStart(2, '0')}-${partes[1].padStart(2, '0')}-${partes[2]}`;\n    }\n  }\n  \n  return fechaStr;\n}\n\nconst fecha_formateada = formatearFecha(fecha_vencimiento);\n\n// Convertir monto a número para validación\nconst monto_numero = parseFloat(monto_proxima_cuota.toString().replace(',', '.'));\nconst mostrar_monto = !isNaN(monto_numero) && monto_numero > 0;\n\nasunto = `Aviso Importante - Plan Óvalo (Grupo ${datos_plan['ID Grupo']} / Orden ${datos_plan[\"Número Orden\"]})`;\n\nconst mensaje = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>${asunto}</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f6f6f6;\n    color: #333;\n    margin: 0;\n    padding: 0;\n    line-height: 1.6;\n  }\n  .container {\n    max-width: 650px;\n    margin: 20px auto;\n    background-color: #fff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .header {\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    padding: 25px;\n    font-size: 22px;\n    font-weight: bold;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    margin: 12px 0;\n  }\n  .highlight {\n    font-weight: bold;\n  }\n  .debt-info {\n    margin: 25px 0;\n    padding: 15px 0;\n    border-top: 2px solid #ddd;\n    border-bottom: 2px solid #ddd;\n  }\n  .debt-info p {\n    margin: 8px 0;\n    font-size: 16px;\n  }\n  .amount {\n    font-size: 26px;\n    font-weight: bold;\n    color: #333;\n  }\n  .payment-section {\n    background-color: #fafafa;\n    border: 1px solid #ddd;\n    padding: 20px;\n    margin: 20px 0;\n  }\n  .payment-section h3 {\n    color: #333;\n    margin-top: 0;\n    font-size: 18px;\n    border-bottom: 1px solid #ddd;\n    padding-bottom: 10px;\n  }\n  .payment-option {\n    margin: 15px 0;\n  }\n  .payment-option strong {\n    color: #333;\n    text-decoration: underline;\n  }\n  .payment-option ul {\n    margin: 8px 0;\n    padding-left: 25px;\n  }\n  .payment-option li {\n    margin: 5px 0;\n  }\n  .cta-button {\n    display: inline-block;\n    background-color: #dd75ef;\n    color: #fff !important;\n    padding: 12px 30px;\n    text-decoration: none;\n    border-radius: 4px;\n    font-weight: bold;\n    margin: 15px 5px;\n    font-size: 15px;\n  }\n  .cta-button:hover {\n    background-color: #AB47BB;\n  }\n  .notice-box {\n    background-color: #f5f5f5;\n    border-left: 3px solid #666;\n    padding: 15px;\n    margin: 20px 0;\n    font-size: 14px;\n  }\n  .footer {\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-top: 1px solid #dee2e6;\n  }\n  .footer p {\n    margin: 8px 0;\n    font-size: 13px;\n    color: #666;\n  }\n  .contact-info {\n    margin-top: 15px;\n    font-size: 14px;\n    color: #555;\n  }\n  .contact-info strong {\n    color: #333;\n  }\n  a {\n    color: #555;\n    text-decoration: underline;\n  }\n  a:hover {\n    color: #333;\n  }\n  .notice-box {\n  background-color: #f5f5f5;\n  border-left: 3px solid #666;\n  padding: 15px;\n  margin: 20px 0;\n  font-size: 14px;\n}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Aviso Importante - Plan Óvalo (T2)\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a <strong>${datos_plan.Nombre}</strong>,</p>\n      \n      <p>\n        Nos dirigimos a usted en calidad de integrante del <span class=\"highlight\">Plan Óvalo</span>\n        (Grupo <strong>${datos_plan['ID Grupo']}</strong>, Orden <strong>${datos_plan[\"Número Orden\"]}</strong>) \n        correspondiente al modelo <strong>${modelo_vehiculo}</strong>.\n      </p>\n      \n      <div class=\"debt-info\">\n        ${mostrar_monto ? `\n          <p>Al día de hoy <strong>registra un saldo pendiente aproximado de:</strong></p>\n          <p class=\"amount\">${monto_numero.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })}</p>\n          <p>Correspondiente a <strong>${cuotas_impagas} cuota${cuotas_impagas > 1 ? 's' : ''} impaga${cuotas_impagas > 1 ? 's' : ''}</strong></p>\n        ` : `\n          <p>Al día de hoy registra <strong>${cuotas_impagas} cuota${cuotas_impagas > 1 ? 's' : ''} ${cuotas_impagas > 1 ? 'vencidas' : 'vencida'} o próxima${cuotas_impagas > 1 ? 's' : ''} a vencer</strong></p>\n        `}\n        ${fecha_formateada ? `<p>Vencimiento: <strong>${fecha_formateada}</strong></p>` : ''}\n      </div>\n      \n      <p>\n        <strong>Para poder participar del sorteo o acto de licitación, le invitamos a regularizar su situación a la brevedad.</strong>\n      </p>\n      \n      <div class=\"payment-section\">\n        <h3>Puede realizar el pago a través de las siguientes opciones:</h3>\n        \n        <div class=\"payment-option\">\n          <strong>Pago en efectivo:</strong>\n          <ul>\n            <li><strong>Rapipago o Pago Fácil:</strong> con el número de DNI del titular del plan.</li>\n            <li><strong>Bancos:</strong> Nación - Santander - Galicia</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Pago por Homebanking:</strong>\n          <ul>\n            <li>Se puede abonar por aplicaciones de bancos, Mercado Pago o billeteras virtuales ingresando como <em>pago de servicios</em> y luego colocando el código electrónico que figura en el cupón de pago.</li>\n          </ul>\n        </div>\n        \n        <div class=\"payment-option\">\n          <strong>Obtener tu cupón digital:</strong>\n          <ul>\n            <li>Entrá a la página de Plan Óvalo: <a href=\"https://www.planovalo.com.ar/ovalo\" target=\"_blank\">www.planovalo.com.ar/ovalo</a></li>\n            <li>Iniciá sesión con tu clave personal</li>\n            <li>Generá el cupón de pago desde la página</li>\n          </ul>\n        </div>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://www.planovalo.com.ar/ovalo/Registracion/Index\" class=\"cta-button\" target=\"_blank\">\n          Obtener Cupón de Pago\n        </a>\n      </p>\n      \n      <div class=\"notice-box\">\n        <strong>Nota:</strong> Si ya realizó el pago, por favor desestime este mensaje o envíenos el comprobante para actualizar su estado.\n      </div>\n      \n      <p style=\"margin-top: 25px;\">\n        Agradecemos su atención y pronta regularización.<br>\n        Estamos a disposición ante cualquier duda o inconveniente.\n      </p>\n      \n      <p style=\"margin-top: 20px;\">\n        Atentamente,<br>\n        <strong>AG NAUM - Plan Óvalo</strong>\n      </p>\n      \n      <div class=\"contact-info\">\n        <p>\n          <strong>Contacto:</strong><br>\n           WhatsApp/Teléfono: <a href=\"https://wa.me/5493815193743\">+54 9 3815 19-3743</a><br>\n          Email: <a href=\"mailto:atencioncliente@planovalo.com.ar\">atencioncliente@planovalo.com.ar</a>\n        </p>\n      </div>\n      <div class=\"notice-box\">\n  <strong>Nota:</strong> Si ya realizó el pago, por favor desestime este mensaje \n  o envíenos el comprobante para actualizar su estado.\n</div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>AGN Corp - Futuro e Innovación</strong></p>\n      <p>Plan Óvalo | Sistema de Ahorro Previo</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...datos_personales,\n    asunto_email: asunto,\n    mensaje_email: mensaje,\n    fecha_envio: fecha,\n    hora_envio: hora,\n    tipo_deudor: 2\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,288],"id":"ebb2d6d1-c600-4e7f-a051-24036f06fe3d","name":"message-tipo-4","disabled":true}],"connections":{"Loop Deudores":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"match_data","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Deudores","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Generar Reporte Final1","type":"main","index":0}]]},"Generar Reporte Final1":{"main":[[{"node":"leer-lista_subjects","type":"main","index":0}]]},"webhook-start":{"main":[[{"node":"leer-filtrar-3-2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"send-informe-diario","type":"main","index":0}]]},"send-informe-diario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"leer-lista_subjects":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"match_data":{"main":[[{"node":"match_modelo","type":"main","index":0}]]},"If":{"main":[[{"node":"es-3-2","type":"main","index":0}],[{"node":"post_error_datos","type":"main","index":0},{"node":"registro_diario_error","type":"main","index":0}]]},"registro_diario_success":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Wait1":{"main":[[{"node":"Loop Deudores","type":"main","index":0}]]},"message-tipo-3":{"main":[[{"node":"union","type":"main","index":0}]]},"message-tipo-5":{"main":[[]]},"union":{"main":[[{"node":"Enviar Email","type":"main","index":0}]]},"actualiza_status_success":{"main":[[{"node":"une-registros","type":"main","index":0}]]},"form_clave":{"main":[[{"node":"actualiza_status_success","type":"main","index":0}]]},"Limit":{"main":[[{"node":"filtro_testing","type":"main","index":0}]]},"filtramos no realizados":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"ignorar realizados","type":"main","index":0}]]},"match_modelo":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"form_clave","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"une-registros","type":"main","index":1}]]},"post_registro_success":{"main":[[]]},"Merge3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"post_error_mail":{"main":[[]]},"post_error_datos":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"message-tipo-2":{"main":[[{"node":"union","type":"main","index":1}]]},"filtro_testing":{"main":[[{"node":"Loop Deudores","type":"main","index":0}]]},"Enviar Email":{"main":[[{"node":"post_registro_success","type":"main","index":0},{"node":"registro_diario_success","type":"main","index":0}],[{"node":"post_error_mail","type":"main","index":0},{"node":"registro_diario_error_envio","type":"main","index":0}]]},"registro_diario_error":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"registro_diario_error_envio":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"trigger diario":{"main":[[{"node":"leer-filtrar-3-2","type":"main","index":0}]]},"leer-filtrar-3-2":{"main":[[{"node":"filrar-con-cuotas-impagas","type":"main","index":0}]]},"es-3-2":{"main":[[{"node":"message-tipo-3","type":"main","index":0}],[{"node":"message-tipo-2","type":"main","index":0}]]},"une-registros":{"main":[[{"node":"Wait","type":"main","index":0}]]},"filrar-con-cuotas-impagas":{"main":[[{"node":"filtramos no realizados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:trigger diario":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80f771c3-362f-448e-bf8e-ad379c530831","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-12-09T11:32:33.177Z","createdAt":"2025-12-09T11:32:33.177Z","role":"workflow:owner","workflowId":"6ufBIFF6AqJBN6Lw","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}