followup-proactivo-unico-X0DTPiyaryCagj4t.json
{"updatedAt":"2026-04-17T00:03:32.000Z","createdAt":"2026-02-26T12:38:28.595Z","id":"X0DTPiyaryCagj4t","name":"Followup Proactivo Unico","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"keys","keyPattern":"followup*"},"id":"16561ff7-ecf6-4904-be25-c22c6c9af828","name":"Redis - Get Followup Keys","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4000,336],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-keys","leftValue":"={{ $json.keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b979a5c0-636e-486e-afe4-1efca7ae40ba","name":"Check if Keys Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3376,320]},{"parameters":{"fieldToSplitOut":"=keys","options":{}},"id":"3ec1239b-cb43-4ffe-86da-f43d1c48ad57","name":"Split Keys","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3152,224]},{"parameters":{"operation":"get","key":"={{ $json.keys }}","options":{"dotNotation":false}},"id":"8c0584b2-4557-4ccf-84e9-41ebc77f5ca4","name":"Redis - Get Followup Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2944,224],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtener la key de Redis\n//const redisKey = $('Split Keys').first().json.keys;\nconst redisKey = $('Split Keys').item.json.keys;\n// Obtener el valor del nodo \"Redis - Get Followup Data\"\nconst redisData = $('Redis - Get Followup Data').item.json;\nconst redisValue = redisData.propertyName;\n\n// Parse the Redis value\nlet data;\ntry {\n  data = JSON.parse(redisValue);\n} catch (e) {\n  return { json: { skip: true, reason: 'Invalid JSON' } };\n}\n\n// Extract wa_id from key (followup:549876543210)\nconst wa_id = redisKey.replace(/^[^:]+:/, '');\n//const wa_id = redisKey.replace('followup:', '');\n\n// Calculate hours since last message\nconst now = new Date();\nconst lastMessageTime = new Date(data.timestamp);\nconst hoursElapsed = (now - lastMessageTime) / (1000 * 60 * 60);\n\n// Determine threshold based on stage\nconst etapa = data.etapa || 'Abierta';\nlet threshold;\nif (etapa !== 'Cierre') {\n  threshold = 0.25; // 15 minutos\n}\n//else if (etapa === 'Desarrollada') {\n//  threshold = 48; // 48 hours\n//} \nelse {\n  threshold = 999; // Don't send for other stages\n}\n\nreturn {\n  json: {\n    wa_id: wa_id,\n    redis_key: redisKey,\n    etapa: etapa,\n    nombre: data.nombre || '',\n    last_bot_msg: data.last_bot_msg || '',\n    last_user_msg: data.last_user_msg || '',\n    timestamp: data.timestamp,\n    hours_elapsed: Math.round(hoursElapsed * 10) / 10,\n    threshold_hours: threshold,\n    should_check: hoursElapsed >= threshold && etapa !== 'Cierre'\n  }\n};"},"id":"24865ca0-80dd-4345-85f2-53d263891152","name":"Parse Data & Calculate Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-check","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"6c955c8d-fe93-4b7f-9b1f-57bd17b59f3f","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"41733f56-47d8-4be7-a2a8-85fcfab48b3e","name":"Filter by Time & Stage","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2496,192]},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"f0d82685-3d00-44b5-a3a2-287e2a6f7d01","name":"Get Memory from Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1376,48],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}}},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"2b643169-3f9e-450a-b415-dbbc853ac617","name":"Format Memory for Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,96]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"68b1246d-70db-47ab-8b35-9ec4cf398c11","name":"Prepare Validation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,96]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"16dce8e9-c1bd-4b95-a7c8-0a4be2236bea","name":"Call GPT for Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,96],"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"9947aec6-ffc8-4667-bb21-e35a3e677197","name":"Parse GPT Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"5b34ec44-aa13-4c65-ac12-7cad64058522","name":"Should Send Followup?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-256,96]},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"1ea445b4-a930-42da-b170-7a31ad9e8b30","name":"Prepare Followup Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-16]},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('Prepare Followup Message').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message').item.json.message }}","additionalFields":{}},"id":"4e392589-599a-46c0-b59c-6ab3ca8bca9a","name":"Send WhatsApp Message","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[896,-16],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message').item.json.redis_key }}"},"id":"eda0c6a6-7517-48a2-8d55-9fe55fd09a1e","name":"Redis - Delete Followup Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-32],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"5f325332-0b34-495e-8b40-156c9767fd5b","name":"Get Chatwoot Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"1f88d832-4910-4a61-89c6-81374b44e7aa","name":"Save Message to Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"7307890c-030c-4b34-9271-c6a1f8704d94","name":"Log - Not Sent","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,192]},{"parameters":{},"id":"6542e9e6-9755-4273-8a0f-7dc5520755f8","name":"No Keys Found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3152,416]},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3696,336],"id":"38bc4f9b-fc77-408e-97f0-011a6d1c7289","name":"ExractArrayKeys"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"530cfb16-b0fa-43b4-9d9d-e7a86196931c","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4352,352]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"aadd672d-dd96-4923-979a-88d2eaeb12a3","name":"Get Chatwoot Contact ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"content":"# FOLLOWUP NISSAN","height":96,"width":704,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4032,64],"typeVersion":1,"id":"e221360e-aa7d-460b-b6d8-e113bd80abe3","name":"Sticky Note"},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup_nissan:'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3600,640],"id":"98b8d5d1-9e71-40c7-9e8b-bd04473dba4a","name":"ExractArrayKeys1","disabled":true},{"parameters":{"operation":"keys","keyPattern":"followup_nissan:*"},"id":"e09a1ea5-e94f-483b-8cb5-356889ed4472","name":"Redis - Get Followup Keys1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3952,672],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.redis_key }}","rightValue":"followup_nissan:","operator":{"type":"string","operation":"startsWith"},"id":"fe5685bf-2a00-400f-8cd1-d22a826a9469"}],"combinator":"and"},"renameOutput":true,"outputKey":"nissan_vendedor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af0e6aa4-d45f-45fa-9830-4d153f4737d4","leftValue":"={{ $json.redis_key }}","rightValue":"followup:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hyundai_vendedor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04ca18ea-e741-4016-98da-a58f8e2e771c","leftValue":"={{ $json.redis_key }}","rightValue":"followup_varias","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chinas_vendedor"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2016,160],"id":"465298c8-0c56-4ff5-840d-3d64e2105230","name":"distribuir_segun_flujo"},{"parameters":{"operation":"getAll","tableId":"agnMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"8b429793-8db9-411b-b9d7-d10aad4efdec","name":"Get Memory from Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,592],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}},"disabled":true},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"f3137f76-2e53-4c7d-aacd-0b54fca06060","name":"Format Memory for Context1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,608],"disabled":true},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"328fbcdd-0363-4eda-adaa-317cbda131ee","name":"Prepare Validation Prompt1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,608],"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"da5d5256-19fd-497d-ab3b-767570f33a7e","name":"Call GPT for Validation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,608],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt1').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"76e3af71-b6f5-44f8-9c0d-0bc25ee2c851","name":"Parse GPT Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,608],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"3c620a64-c05c-4038-93a6-5d64cd881f6c","name":"Should Send Followup?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,608],"disabled":true},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"1f057cb5-1d53-41a1-8831-6fcfff0c1732","name":"Prepare Followup Message1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,496],"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $('Prepare Followup Message1').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message1').item.json.message }}","additionalFields":{}},"id":"83180526-a95e-45ed-a3e7-a2713477651d","name":"Send WhatsApp Message2","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1120,480],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message1').item.json.redis_key }}"},"id":"3c9ef158-f523-457d-bf92-be70503b60f8","name":"Redis - Delete Followup Key1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,480],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID1').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"5efec440-7215-4cde-b2c0-d9bcf2cfa2c7","name":"Get Chatwoot Conversation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,512],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation1').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message1').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"6dab2bf6-1000-4b1d-a784-73699f10aad1","name":"Save Message to Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,496],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"e9ba6777-de42-4225-9695-f8b84c832cc8","name":"Log - Not Sent1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-16,704],"disabled":true},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message1').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"cc2b01d4-fcb8-4550-83af-0acdbc1c2198","name":"Get Chatwoot Contact ID1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,496],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"jsCode":"// Obtener todos los ítems del nodo anterior\nconst items = $('Get Chatwoot Conversation1').all();\nconst INBOX_OBJETIVO = 7;\n\nconst resultados = [];\n\nfor (const item of items) {\n  // Cada ítem tiene payload como array con un objeto dentro\n  const payload = item.json.payload;\n  \n  if (!payload || payload.length === 0) continue;\n\n  const conversacion = payload[0]; // El objeto real está en payload[0]\n\n  if (conversacion.inbox_id !== INBOX_OBJETIVO) {\n    resultados.push({\n      json: {\n        existe_conversacion: false,\n        inbox_id: conversacion.inbox_id\n      }\n    });\n    continue;\n  }\n\n  // Extraer datos relevantes\n  const sender = conversacion.meta?.sender;\n  const lastMessage = conversacion.last_non_activity_message;\n\n  resultados.push({\n    json: {\n      existe_conversacion: true,\n      conversation_id: conversacion.id,\n      status: conversacion.status,\n      wa_id: sender?.phone_number?.replace('+', '') || '',\n      nombre: sender?.name || '',\n      last_bot_msg: lastMessage?.content || '',\n      timestamp: conversacion.timestamp,\n      inbox_id: conversacion.inbox_id\n    }\n  });\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,512],"id":"b95e0fd8-3280-43fd-8bdd-40201908d959","name":"filtrar_conversacion_por_inbox","disabled":true},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('Prepare Followup Message Varios').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message Varios').item.json.message }}","additionalFields":{}},"id":"6f023004-5549-464f-bbcd-9dd791d4aa7e","name":"Send WhatsApp Message1","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[944,1056],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message Varios').item.json.redis_key }}"},"id":"7656226d-27c0-46c7-ac8f-ca4177069cc4","name":"Redis - Delete Followup Key2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1216,1040],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID2').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"9046c9c1-3e17-4403-a2d0-6d744bf7731e","name":"Get Chatwoot Conversation2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,1072],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation2').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message Varios').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"960dec4d-34b1-48c8-ae91-0a00336ee58e","name":"Save Message to Chatwoot2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,1056],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"96f8730d-7ba0-4ad9-b9d3-1a90bcbea589","name":"Log - Not Sent2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,1264],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message Varios').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"9acd0162-fe3e-41da-a7a3-6bb52aa4919a","name":"Get Chatwoot Contact ID2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1056],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"99120b3b-5e00-4f6e-8246-f1daa28950f5","name":"Get Memory from Supabase Varios","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1328,1120],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"disabled":true},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"db9d7eaf-5d5f-4a34-ad34-78631bc4a67c","name":"Format Memory for Context varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1168],"disabled":true},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"486b9617-4f93-42ab-83cf-853b9266c371","name":"Prepare Validation Prompt varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,1168],"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"13a4b8f9-622c-4b3d-941b-52364c2ec8fe","name":"Call GPT for Validation Varios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1168],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt varios').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"d4daa77f-9f6f-43da-b5b2-bf9d3bfe2257","name":"Parse GPT Response Varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,1168],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"e9466daf-3de4-4f64-88e1-daed0bcc1e1b","name":"Should Send Followup Varios?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,1168],"disabled":true},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"d7541a2c-0d05-4782-8f37-b1d2ca218a58","name":"Prepare Followup Message Varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1056],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID3').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"429925f1-835c-4fe0-a36e-9e0cc702a229","name":"Get Chatwoot Conversation3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,1616],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation3').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('prepare_message_chinos').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"a4753c15-cae4-4e03-a940-5c0dbd14746c","name":"Save Message to Chatwoot3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,1600],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"82d93e9e-dbbd-49d5-b8e9-ea771c5a86ac","name":"Log - Not Sent3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,1808]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('prepare_message_chinos').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"f5b4fdfc-3e65-4cb6-8795-7a68c007cd2d","name":"Get Chatwoot Contact ID3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1600],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_vendedor_memory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"d6b04572-8d7c-4f54-852f-903c64cf98af","name":"get-memory-supabase-marcas-chinas","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,1712],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}}},{"parameters":{"content":"# NISSAN PROACTIVO\n","height":608,"width":2896,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1456,-176],"typeVersion":1,"id":"fa65fd31-7370-45a8-b788-38a6cedb1f6a","name":"Sticky Note1"},{"parameters":{"content":"# CHINAS PROACTIVO\n","height":608,"width":2896,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1392,1488],"typeVersion":1,"id":"5a16838c-9d31-44bf-a77a-f52f8604fc35","name":"Sticky Note2"},{"parameters":{"content":"# HYUNDAI PROACTIVO\n","height":608,"width":3040,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1472,448],"typeVersion":1,"id":"ed3801ff-3363-49b5-a0d0-a464ac86e112","name":"Sticky Note3"},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"5192713b-13d2-4e61-870a-fafaa9edd863","name":"format_memory_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1712]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"cbf2e8fb-46a6-4f0d-b975-0be03c0cfc74","name":"prompt_para_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,1712]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"6bb052d6-acae-4338-a698-636be31036dc","name":"opeai_validation_chinos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1712],"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"40e08e49-c46e-4286-a824-a081968c9db1","name":"enviar_mensaje?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,1712]},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('prompt_para_chinos').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"dc7df3d0-8cd2-45e8-a124-cb9d40e016ab","name":"parse_response_chino","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,1712]},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('prepare_message_chinos').item.json.wa_id }}","textBody":"={{ $('prepare_message_chinos').item.json.message }}","additionalFields":{}},"id":"4d099e95-3ffa-4c4f-a50b-e28656135770","name":"send_message_chinos","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[944,1600],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"0216de31-981b-402a-acfb-0666e5dcb826","name":"prepare_message_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1600]},{"parameters":{"operation":"delete","key":"={{ $('prepare_message_chinos').item.json.redis_key }}"},"id":"798551f4-96aa-4e16-bd14-cc5fe7f76831","name":"redis_delete_followup_key_chinos","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1216,1616],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}}],"connections":{"Redis - Get Followup Keys":{"main":[[{"node":"ExractArrayKeys","type":"main","index":0}]]},"Check if Keys Exist":{"main":[[{"node":"Split Keys","type":"main","index":0}],[{"node":"No Keys Found","type":"main","index":0}]]},"Split Keys":{"main":[[{"node":"Redis - Get Followup Data","type":"main","index":0}]]},"Redis - Get Followup Data":{"main":[[{"node":"Parse Data & Calculate Time","type":"main","index":0}]]},"Parse Data & Calculate Time":{"main":[[{"node":"Filter by Time & Stage","type":"main","index":0}]]},"Filter by Time & Stage":{"main":[[{"node":"distribuir_segun_flujo","type":"main","index":0}]]},"Get Memory from Supabase":{"main":[[{"node":"Format Memory for Context","type":"main","index":0}]]},"Format Memory for Context":{"main":[[{"node":"Prepare Validation Prompt","type":"main","index":0}]]},"Prepare Validation Prompt":{"main":[[{"node":"Call GPT for Validation","type":"main","index":0}]]},"Call GPT for Validation":{"main":[[{"node":"Parse GPT Response","type":"main","index":0}]]},"Parse GPT Response":{"main":[[{"node":"Should Send Followup?","type":"main","index":0}]]},"Should Send Followup?":{"main":[[{"node":"Prepare Followup Message","type":"main","index":0}],[{"node":"Log - Not Sent","type":"main","index":0}]]},"Prepare Followup Message":{"main":[[{"node":"Get Chatwoot Contact ID","type":"main","index":0}]]},"Send WhatsApp Message":{"main":[[{"node":"Redis - Delete Followup Key","type":"main","index":0}]]},"Get Chatwoot Conversation":{"main":[[{"node":"Save Message to Chatwoot","type":"main","index":0}]]},"ExractArrayKeys":{"main":[[{"node":"Check if Keys Exist","type":"main","index":0}]]},"Every 5 minutes":{"main":[[{"node":"Redis - Get Followup Keys","type":"main","index":0}]]},"Get Chatwoot Contact ID":{"main":[[{"node":"Get Chatwoot Conversation","type":"main","index":0}]]},"Save Message to Chatwoot":{"main":[[{"node":"Send WhatsApp Message","type":"main","index":0}]]},"distribuir_segun_flujo":{"main":[[{"node":"Get Memory from Supabase","type":"main","index":0}],[{"node":"Get Memory from Supabase1","type":"main","index":0}],[{"node":"get-memory-supabase-marcas-chinas","type":"main","index":0}]]},"Get Memory from Supabase1":{"main":[[{"node":"Format Memory for Context1","type":"main","index":0}]]},"Format Memory for Context1":{"main":[[{"node":"Prepare Validation Prompt1","type":"main","index":0}]]},"Prepare Validation Prompt1":{"main":[[{"node":"Call GPT for Validation1","type":"main","index":0}]]},"Call GPT for Validation1":{"main":[[{"node":"Parse GPT Response1","type":"main","index":0}]]},"Parse GPT Response1":{"main":[[{"node":"Should Send Followup?1","type":"main","index":0}]]},"Should Send Followup?1":{"main":[[{"node":"Prepare Followup Message1","type":"main","index":0}],[{"node":"Log - Not Sent1","type":"main","index":0}]]},"Prepare Followup Message1":{"main":[[{"node":"Get Chatwoot Contact ID1","type":"main","index":0}]]},"Send WhatsApp Message2":{"main":[[{"node":"Redis - Delete Followup Key1","type":"main","index":0}]]},"Get Chatwoot Conversation1":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Save Message to Chatwoot1":{"main":[[{"node":"Send WhatsApp Message2","type":"main","index":0}]]},"Get Chatwoot Contact ID1":{"main":[[{"node":"Get Chatwoot Conversation1","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Save Message to Chatwoot1","type":"main","index":0}]]},"Send WhatsApp Message1":{"main":[[{"node":"Redis - Delete Followup Key2","type":"main","index":0}]]},"Get Chatwoot Conversation2":{"main":[[{"node":"Save Message to Chatwoot2","type":"main","index":0}]]},"Save Message to Chatwoot2":{"main":[[{"node":"Send WhatsApp Message1","type":"main","index":0}]]},"Get Chatwoot Contact ID2":{"main":[[{"node":"Get Chatwoot Conversation2","type":"main","index":0}]]},"Get Memory from Supabase Varios":{"main":[[{"node":"Format Memory for Context varios","type":"main","index":0}]]},"Format Memory for Context varios":{"main":[[{"node":"Prepare Validation Prompt varios","type":"main","index":0}]]},"Prepare Validation Prompt varios":{"main":[[{"node":"Call GPT for Validation Varios","type":"main","index":0}]]},"Call GPT for Validation Varios":{"main":[[{"node":"Parse GPT Response Varios","type":"main","index":0}]]},"Parse GPT Response Varios":{"main":[[{"node":"Should Send Followup Varios?","type":"main","index":0}]]},"Should Send Followup Varios?":{"main":[[{"node":"Prepare Followup Message Varios","type":"main","index":0}],[{"node":"Log - Not Sent2","type":"main","index":0}]]},"Prepare Followup Message Varios":{"main":[[{"node":"Get Chatwoot Contact ID2","type":"main","index":0}]]},"Get Chatwoot Conversation3":{"main":[[{"node":"Save Message to Chatwoot3","type":"main","index":0}]]},"Save Message to Chatwoot3":{"main":[[{"node":"send_message_chinos","type":"main","index":0}]]},"Get Chatwoot Contact ID3":{"main":[[{"node":"Get Chatwoot Conversation3","type":"main","index":0}]]},"get-memory-supabase-marcas-chinas":{"main":[[{"node":"format_memory_chinos","type":"main","index":0}]]},"format_memory_chinos":{"main":[[{"node":"prompt_para_chinos","type":"main","index":0}]]},"prompt_para_chinos":{"main":[[{"node":"opeai_validation_chinos","type":"main","index":0}]]},"opeai_validation_chinos":{"main":[[{"node":"parse_response_chino","type":"main","index":0}]]},"enviar_mensaje?":{"main":[[{"node":"prepare_message_chinos","type":"main","index":0}],[{"node":"Log - Not Sent3","type":"main","index":0}]]},"parse_response_chino":{"main":[[{"node":"enviar_mensaje?","type":"main","index":0}]]},"send_message_chinos":{"main":[[{"node":"redis_delete_followup_key_chinos","type":"main","index":0}]]},"prepare_message_chinos":{"main":[[{"node":"Get Chatwoot Contact ID3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 5 minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"5818885a-db9f-4b72-b645-3cbf5dcc8046","activeVersionId":"5818885a-db9f-4b72-b645-3cbf5dcc8046","triggerCount":1,"shared":[{"updatedAt":"2026-02-26T12:38:28.599Z","createdAt":"2026-02-26T12:38:28.599Z","role":"workflow:owner","workflowId":"X0DTPiyaryCagj4t","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-04-17T00:03:32.186Z","createdAt":"2026-04-17T00:03:32.186Z","versionId":"5818885a-db9f-4b72-b645-3cbf5dcc8046","workflowId":"X0DTPiyaryCagj4t","nodes":[{"parameters":{"operation":"keys","keyPattern":"followup*"},"id":"16561ff7-ecf6-4904-be25-c22c6c9af828","name":"Redis - Get Followup Keys","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4000,336],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-keys","leftValue":"={{ $json.keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b979a5c0-636e-486e-afe4-1efca7ae40ba","name":"Check if Keys Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3376,320]},{"parameters":{"fieldToSplitOut":"=keys","options":{}},"id":"3ec1239b-cb43-4ffe-86da-f43d1c48ad57","name":"Split Keys","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3152,224]},{"parameters":{"operation":"get","key":"={{ $json.keys }}","options":{"dotNotation":false}},"id":"8c0584b2-4557-4ccf-84e9-41ebc77f5ca4","name":"Redis - Get Followup Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2944,224],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtener la key de Redis\n//const redisKey = $('Split Keys').first().json.keys;\nconst redisKey = $('Split Keys').item.json.keys;\n// Obtener el valor del nodo \"Redis - Get Followup Data\"\nconst redisData = $('Redis - Get Followup Data').item.json;\nconst redisValue = redisData.propertyName;\n\n// Parse the Redis value\nlet data;\ntry {\n  data = JSON.parse(redisValue);\n} catch (e) {\n  return { json: { skip: true, reason: 'Invalid JSON' } };\n}\n\n// Extract wa_id from key (followup:549876543210)\nconst wa_id = redisKey.replace(/^[^:]+:/, '');\n//const wa_id = redisKey.replace('followup:', '');\n\n// Calculate hours since last message\nconst now = new Date();\nconst lastMessageTime = new Date(data.timestamp);\nconst hoursElapsed = (now - lastMessageTime) / (1000 * 60 * 60);\n\n// Determine threshold based on stage\nconst etapa = data.etapa || 'Abierta';\nlet threshold;\nif (etapa !== 'Cierre') {\n  threshold = 0.25; // 15 minutos\n}\n//else if (etapa === 'Desarrollada') {\n//  threshold = 48; // 48 hours\n//} \nelse {\n  threshold = 999; // Don't send for other stages\n}\n\nreturn {\n  json: {\n    wa_id: wa_id,\n    redis_key: redisKey,\n    etapa: etapa,\n    nombre: data.nombre || '',\n    last_bot_msg: data.last_bot_msg || '',\n    last_user_msg: data.last_user_msg || '',\n    timestamp: data.timestamp,\n    hours_elapsed: Math.round(hoursElapsed * 10) / 10,\n    threshold_hours: threshold,\n    should_check: hoursElapsed >= threshold && etapa !== 'Cierre'\n  }\n};"},"id":"24865ca0-80dd-4345-85f2-53d263891152","name":"Parse Data & Calculate Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-check","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"6c955c8d-fe93-4b7f-9b1f-57bd17b59f3f","leftValue":"={{ $json.should_check }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"41733f56-47d8-4be7-a2a8-85fcfab48b3e","name":"Filter by Time & Stage","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2496,192]},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"f0d82685-3d00-44b5-a3a2-287e2a6f7d01","name":"Get Memory from Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1376,48],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}}},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"2b643169-3f9e-450a-b415-dbbc853ac617","name":"Format Memory for Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,96]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"68b1246d-70db-47ab-8b35-9ec4cf398c11","name":"Prepare Validation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,96]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"16dce8e9-c1bd-4b95-a7c8-0a4be2236bea","name":"Call GPT for Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,96],"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"9947aec6-ffc8-4667-bb21-e35a3e677197","name":"Parse GPT Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"5b34ec44-aa13-4c65-ac12-7cad64058522","name":"Should Send Followup?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-256,96]},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"1ea445b4-a930-42da-b170-7a31ad9e8b30","name":"Prepare Followup Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-16]},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('Prepare Followup Message').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message').item.json.message }}","additionalFields":{}},"id":"4e392589-599a-46c0-b59c-6ab3ca8bca9a","name":"Send WhatsApp Message","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[896,-16],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message').item.json.redis_key }}"},"id":"eda0c6a6-7517-48a2-8d55-9fe55fd09a1e","name":"Redis - Delete Followup Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-32],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"5f325332-0b34-495e-8b40-156c9767fd5b","name":"Get Chatwoot Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"1f88d832-4910-4a61-89c6-81374b44e7aa","name":"Save Message to Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"7307890c-030c-4b34-9271-c6a1f8704d94","name":"Log - Not Sent","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,192]},{"parameters":{},"id":"6542e9e6-9755-4273-8a0f-7dc5520755f8","name":"No Keys Found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3152,416]},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3696,336],"id":"38bc4f9b-fc77-408e-97f0-011a6d1c7289","name":"ExractArrayKeys"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"530cfb16-b0fa-43b4-9d9d-e7a86196931c","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4352,352]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"aadd672d-dd96-4923-979a-88d2eaeb12a3","name":"Get Chatwoot Contact ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-16],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"content":"# FOLLOWUP NISSAN","height":96,"width":704,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4032,64],"typeVersion":1,"id":"e221360e-aa7d-460b-b6d8-e113bd80abe3","name":"Sticky Note"},{"parameters":{"jsCode":"// El nodo Redis devuelve un objeto donde cada key de Redis es una propiedad\n// Necesitamos convertirlo a un array\n\nconst input = $input.first().json;\n\n// Extraer las keys del objeto (ignorando propiedades de metadata)\nconst keys = Object.keys(input).filter(key => key.startsWith('followup_nissan:'));\n\nreturn {\n  json: {\n    keys: keys\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3600,640],"id":"98b8d5d1-9e71-40c7-9e8b-bd04473dba4a","name":"ExractArrayKeys1","disabled":true},{"parameters":{"operation":"keys","keyPattern":"followup_nissan:*"},"id":"e09a1ea5-e94f-483b-8cb5-356889ed4472","name":"Redis - Get Followup Keys1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3952,672],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.redis_key }}","rightValue":"followup_nissan:","operator":{"type":"string","operation":"startsWith"},"id":"fe5685bf-2a00-400f-8cd1-d22a826a9469"}],"combinator":"and"},"renameOutput":true,"outputKey":"nissan_vendedor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af0e6aa4-d45f-45fa-9830-4d153f4737d4","leftValue":"={{ $json.redis_key }}","rightValue":"followup:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hyundai_vendedor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04ca18ea-e741-4016-98da-a58f8e2e771c","leftValue":"={{ $json.redis_key }}","rightValue":"followup_varias","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chinas_vendedor"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2016,160],"id":"465298c8-0c56-4ff5-840d-3d64e2105230","name":"distribuir_segun_flujo"},{"parameters":{"operation":"getAll","tableId":"agnMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"8b429793-8db9-411b-b9d7-d10aad4efdec","name":"Get Memory from Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,592],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}},"disabled":true},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"f3137f76-2e53-4c7d-aacd-0b54fca06060","name":"Format Memory for Context1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,608],"disabled":true},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"328fbcdd-0363-4eda-adaa-317cbda131ee","name":"Prepare Validation Prompt1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,608],"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"da5d5256-19fd-497d-ab3b-767570f33a7e","name":"Call GPT for Validation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,608],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt1').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"76e3af71-b6f5-44f8-9c0d-0bc25ee2c851","name":"Parse GPT Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,608],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"3c620a64-c05c-4038-93a6-5d64cd881f6c","name":"Should Send Followup?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,608],"disabled":true},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"1f057cb5-1d53-41a1-8831-6fcfff0c1732","name":"Prepare Followup Message1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,496],"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $('Prepare Followup Message1').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message1').item.json.message }}","additionalFields":{}},"id":"83180526-a95e-45ed-a3e7-a2713477651d","name":"Send WhatsApp Message2","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1120,480],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message1').item.json.redis_key }}"},"id":"3c9ef158-f523-457d-bf92-be70503b60f8","name":"Redis - Delete Followup Key1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,480],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID1').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"5efec440-7215-4cde-b2c0-d9bcf2cfa2c7","name":"Get Chatwoot Conversation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,512],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation1').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message1').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"6dab2bf6-1000-4b1d-a784-73699f10aad1","name":"Save Message to Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,496],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"e9ba6777-de42-4225-9695-f8b84c832cc8","name":"Log - Not Sent1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-16,704],"disabled":true},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message1').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"cc2b01d4-fcb8-4550-83af-0acdbc1c2198","name":"Get Chatwoot Contact ID1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,496],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"jsCode":"// Obtener todos los ítems del nodo anterior\nconst items = $('Get Chatwoot Conversation1').all();\nconst INBOX_OBJETIVO = 7;\n\nconst resultados = [];\n\nfor (const item of items) {\n  // Cada ítem tiene payload como array con un objeto dentro\n  const payload = item.json.payload;\n  \n  if (!payload || payload.length === 0) continue;\n\n  const conversacion = payload[0]; // El objeto real está en payload[0]\n\n  if (conversacion.inbox_id !== INBOX_OBJETIVO) {\n    resultados.push({\n      json: {\n        existe_conversacion: false,\n        inbox_id: conversacion.inbox_id\n      }\n    });\n    continue;\n  }\n\n  // Extraer datos relevantes\n  const sender = conversacion.meta?.sender;\n  const lastMessage = conversacion.last_non_activity_message;\n\n  resultados.push({\n    json: {\n      existe_conversacion: true,\n      conversation_id: conversacion.id,\n      status: conversacion.status,\n      wa_id: sender?.phone_number?.replace('+', '') || '',\n      nombre: sender?.name || '',\n      last_bot_msg: lastMessage?.content || '',\n      timestamp: conversacion.timestamp,\n      inbox_id: conversacion.inbox_id\n    }\n  });\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,512],"id":"b95e0fd8-3280-43fd-8bdd-40201908d959","name":"filtrar_conversacion_por_inbox","disabled":true},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('Prepare Followup Message Varios').item.json.wa_id }}","textBody":"={{ $('Prepare Followup Message Varios').item.json.message }}","additionalFields":{}},"id":"6f023004-5549-464f-bbcd-9dd791d4aa7e","name":"Send WhatsApp Message1","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[944,1056],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Prepare Followup Message Varios').item.json.redis_key }}"},"id":"7656226d-27c0-46c7-ac8f-ca4177069cc4","name":"Redis - Delete Followup Key2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1216,1040],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID2').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"9046c9c1-3e17-4403-a2d0-6d744bf7731e","name":"Get Chatwoot Conversation2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,1072],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation2').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Prepare Followup Message Varios').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"960dec4d-34b1-48c8-ae91-0a00336ee58e","name":"Save Message to Chatwoot2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,1056],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"96f8730d-7ba0-4ad9-b9d3-1a90bcbea589","name":"Log - Not Sent2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,1264],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('Prepare Followup Message Varios').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"9acd0162-fe3e-41da-a7a3-6bb52aa4919a","name":"Get Chatwoot Contact ID2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1056],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"99120b3b-5e00-4f6e-8246-f1daa28950f5","name":"Get Memory from Supabase Varios","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1328,1120],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"disabled":true},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"db9d7eaf-5d5f-4a34-ad34-78631bc4a67c","name":"Format Memory for Context varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1168],"disabled":true},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"486b9617-4f93-42ab-83cf-853b9266c371","name":"Prepare Validation Prompt varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,1168],"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"13a4b8f9-622c-4b3d-941b-52364c2ec8fe","name":"Call GPT for Validation Varios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1168],"credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('Prepare Validation Prompt varios').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"d4daa77f-9f6f-43da-b5b2-bf9d3bfe2257","name":"Parse GPT Response Varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,1168],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"e9466daf-3de4-4f64-88e1-daed0bcc1e1b","name":"Should Send Followup Varios?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,1168],"disabled":true},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"d7541a2c-0d05-4782-8f37-b1d2ca218a58","name":"Prepare Followup Message Varios","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1056],"disabled":true},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/{{ $('Get Chatwoot Contact ID3').item.json.payload[0].id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"429925f1-835c-4fe0-a36e-9e0cc702a229","name":"Get Chatwoot Conversation3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,1616],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/conversations/{{ $('Get Chatwoot Conversation3').first().json.payload[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('prepare_message_chinos').item.json.message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\":\"text\",\n  \"content_attributes\": {\"items\": [\n            { \"is_bot\": true}\n        ]}\n}","options":{}},"id":"a4753c15-cae4-4e03-a940-5c0dbd14746c","name":"Save Message to Chatwoot3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,1600],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{},"id":"82d93e9e-dbbd-49d5-b8e9-ea771c5a86ac","name":"Log - Not Sent3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,1808]},{"parameters":{"url":"=http://agn-hyundai-chatwoot.ussfzn.easypanel.host/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('prepare_message_chinos').item.json.wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"id":"f5b4fdfc-3e65-4cb6-8795-7a68c007cd2d","name":"Get Chatwoot Contact ID3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1600],"credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"disabled":true},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_vendedor_memory","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.wa_id }}"}]}},"id":"d6b04572-8d7c-4f54-852f-903c64cf98af","name":"get-memory-supabase-marcas-chinas","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,1712],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}}},{"parameters":{"content":"# NISSAN PROACTIVO\n","height":608,"width":2896,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1456,-176],"typeVersion":1,"id":"fa65fd31-7370-45a8-b788-38a6cedb1f6a","name":"Sticky Note1"},{"parameters":{"content":"# CHINAS PROACTIVO\n","height":608,"width":2896,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1392,1488],"typeVersion":1,"id":"5a16838c-9d31-44bf-a77a-f52f8604fc35","name":"Sticky Note2"},{"parameters":{"content":"# HYUNDAI PROACTIVO\n","height":608,"width":3040,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1472,448],"typeVersion":1,"id":"ed3801ff-3363-49b5-a0d0-a464ac86e112","name":"Sticky Note3"},{"parameters":{"jsCode":"// Get memory from previous node - todos los registros de memoria\nconst allMemory = $input.all();\n\n// Get ALL followup users from previous filter\nconst followupUsers = $('distribuir_segun_flujo').all();\n\n// Process each user separately\nconst results = followupUsers.map(userItem => {\n  const followupData = userItem.json;\n  const wa_id = followupData.wa_id;\n  \n  // Filter memory for this specific user\n  const userMemory = allMemory.filter(msg => msg.json.remitente === wa_id);\n  \n  // Format last 5 messages for context\n  let memoryText = '';\n  if (userMemory.length > 0) {\n    const last5 = userMemory.slice(0, 5);\n    memoryText = last5.map(msg => \n      `${msg.json.remitente === wa_id ? 'Usuario' : 'Bot'}: ${msg.json.mensaje}`\n    ).join('\\n');\n  }\n  \n  return {\n    json: {\n      ...followupData,\n      memory_context: memoryText,\n      memory_count: userMemory.length\n    }\n  };\n});\n\nreturn results;"},"id":"5192713b-13d2-4e61-870a-fafaa9edd863","name":"format_memory_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1712]},{"parameters":{"jsCode":"// Get ALL users from previous node\nconst allUsers = $input.all();\n\n// Process each user separately\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const prompt = `Analiza esta conversación y determina si es apropiado enviar un mensaje de followup proactivo.\n\nContexto:\n- Tiempo sin respuesta: ${data.hours_elapsed} horas\n- Etapa de venta: ${data.etapa}\n- Último mensaje del usuario: \"${data.last_user_msg}\"\n- Último mensaje del bot: \"${data.last_bot_msg}\"\n- Historial reciente:\n${data.memory_context}\n\nResponde SOLO con un JSON válido en este formato exacto:\n{\n  \"enviar_followup\": true,\n  \"razon\": \"explicación breve\"\n}\n\nNO enviar followup si:\n- Usuario dijo que se contactará después (\"mañana\", \"después\", \"más tarde\")\n- Usuario pidió que le envíen información por email u otro medio\n- Usuario se despidió claramente\n- Conversación llegó a un cierre natural\n- Usuario mostró desinterés explícito (\"no me interesa\", \"gracias pero no\")\n- Usuario pidió específicamente no ser contactado\n- La última interacción fue el bot enviando información completa\n\nSÍ enviar followup si:\n- Usuario hizo una consulta y nunca respondió\n- Usuario mostró interés pero la conversación se cortó abruptamente\n- Conversación quedó inconclusa en medio de una negociación\n- Usuario estaba evaluando modelos y no volvió\n\nResponde SOLO el JSON, sin texto adicional.`;\n\n  return {\n    json: {\n      ...data,\n      validation_prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"id":"cbf2e8fb-46a6-4f0d-b975-0be03c0cfc74","name":"prompt_para_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,1712]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que analiza conversaciones de ventas y determina si es apropiado enviar mensajes de seguimiento. Respondes SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.validation_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150\n}","options":{}},"id":"6bb052d6-acae-4338-a698-636be31036dc","name":"opeai_validation_chinos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1712],"credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should-send","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"4df4081a-422a-483a-b9db-37d5daf7109b","leftValue":"={{ $json.should_send }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"40e08e49-c46e-4286-a824-a081968c9db1","name":"enviar_mensaje?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,1712]},{"parameters":{"jsCode":"// Process ALL items - one GPT response per user\nconst allInputs = $input.all();\n\n// Map each GPT response to its corresponding user data\nconst results = allInputs.map((inputItem, index) => {\n  const gptResponse = inputItem.json;\n  \n  // Get the corresponding item from Prepare Validation Prompt\n  const previousData = $('prompt_para_chinos').all()[index].json;\n  \n  let decision;\n  try {\n    const content = gptResponse.choices[0].message.content.trim();\n    // Try to extract JSON if wrapped in markdown\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : content;\n    decision = JSON.parse(jsonString);\n  } catch (e) {\n    // Default to not sending if parsing fails\n    decision = {\n      enviar_followup: false,\n      razon: 'Error parsing GPT response'\n    };\n  }\n  \n  return {\n    json: {\n      ...previousData,\n      should_send: decision.enviar_followup === true,\n      gpt_reason: decision.razon\n    }\n  };\n});\n\nreturn results;"},"id":"dc7df3d0-8cd2-45e8-a124-cb9d40e016ab","name":"parse_response_chino","type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,1712]},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('prepare_message_chinos').item.json.wa_id }}","textBody":"={{ $('prepare_message_chinos').item.json.message }}","additionalFields":{}},"id":"4d099e95-3ffa-4c4f-a50b-e28656135770","name":"send_message_chinos","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[944,1600],"webhookId":"89a9625c-b087-4c96-a190-7e6a4e1ee6d3","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"jsCode":"// Process ALL users that should receive followup\nconst allUsers = $input.all();\n\n// Generate message for each user\nconst results = allUsers.map(item => {\n  const data = item.json;\n  \n  const message = \"Si te sirve, podemos agendar una charla breve para despejar dudas y ver alternativas disponibles.\";\n  \n  return {\n    json: {\n      wa_id: data.wa_id,\n      message: message,\n      nombre: data.nombre,\n      etapa: data.etapa,\n      redis_key: data.redis_key,\n      gpt_reason: data.gpt_reason\n    }\n  };\n});\n\nreturn results;"},"id":"0216de31-981b-402a-acfb-0666e5dcb826","name":"prepare_message_chinos","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1600]},{"parameters":{"operation":"delete","key":"={{ $('prepare_message_chinos').item.json.redis_key }}"},"id":"798551f4-96aa-4e16-bd14-cc5fe7f76831","name":"redis_delete_followup_key_chinos","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1216,1616],"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}}],"connections":{"Redis - Get Followup Keys":{"main":[[{"node":"ExractArrayKeys","type":"main","index":0}]]},"Check if Keys Exist":{"main":[[{"node":"Split Keys","type":"main","index":0}],[{"node":"No Keys Found","type":"main","index":0}]]},"Split Keys":{"main":[[{"node":"Redis - Get Followup Data","type":"main","index":0}]]},"Redis - Get Followup Data":{"main":[[{"node":"Parse Data & Calculate Time","type":"main","index":0}]]},"Parse Data & Calculate Time":{"main":[[{"node":"Filter by Time & Stage","type":"main","index":0}]]},"Filter by Time & Stage":{"main":[[{"node":"distribuir_segun_flujo","type":"main","index":0}]]},"Get Memory from Supabase":{"main":[[{"node":"Format Memory for Context","type":"main","index":0}]]},"Format Memory for Context":{"main":[[{"node":"Prepare Validation Prompt","type":"main","index":0}]]},"Prepare Validation Prompt":{"main":[[{"node":"Call GPT for Validation","type":"main","index":0}]]},"Call GPT for Validation":{"main":[[{"node":"Parse GPT Response","type":"main","index":0}]]},"Parse GPT Response":{"main":[[{"node":"Should Send Followup?","type":"main","index":0}]]},"Should Send Followup?":{"main":[[{"node":"Prepare Followup Message","type":"main","index":0}],[{"node":"Log - Not Sent","type":"main","index":0}]]},"Prepare Followup Message":{"main":[[{"node":"Get Chatwoot Contact ID","type":"main","index":0}]]},"Send WhatsApp Message":{"main":[[{"node":"Redis - Delete Followup Key","type":"main","index":0}]]},"Get Chatwoot Conversation":{"main":[[{"node":"Save Message to Chatwoot","type":"main","index":0}]]},"ExractArrayKeys":{"main":[[{"node":"Check if Keys Exist","type":"main","index":0}]]},"Every 5 minutes":{"main":[[{"node":"Redis - Get Followup Keys","type":"main","index":0}]]},"Get Chatwoot Contact ID":{"main":[[{"node":"Get Chatwoot Conversation","type":"main","index":0}]]},"Save Message to Chatwoot":{"main":[[{"node":"Send WhatsApp Message","type":"main","index":0}]]},"distribuir_segun_flujo":{"main":[[{"node":"Get Memory from Supabase","type":"main","index":0}],[{"node":"Get Memory from Supabase1","type":"main","index":0}],[{"node":"get-memory-supabase-marcas-chinas","type":"main","index":0}]]},"Get Memory from Supabase1":{"main":[[{"node":"Format Memory for Context1","type":"main","index":0}]]},"Format Memory for Context1":{"main":[[{"node":"Prepare Validation Prompt1","type":"main","index":0}]]},"Prepare Validation Prompt1":{"main":[[{"node":"Call GPT for Validation1","type":"main","index":0}]]},"Call GPT for Validation1":{"main":[[{"node":"Parse GPT Response1","type":"main","index":0}]]},"Parse GPT Response1":{"main":[[{"node":"Should Send Followup?1","type":"main","index":0}]]},"Should Send Followup?1":{"main":[[{"node":"Prepare Followup Message1","type":"main","index":0}],[{"node":"Log - Not Sent1","type":"main","index":0}]]},"Prepare Followup Message1":{"main":[[{"node":"Get Chatwoot Contact ID1","type":"main","index":0}]]},"Send WhatsApp Message2":{"main":[[{"node":"Redis - Delete Followup Key1","type":"main","index":0}]]},"Get Chatwoot Conversation1":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Save Message to Chatwoot1":{"main":[[{"node":"Send WhatsApp Message2","type":"main","index":0}]]},"Get Chatwoot Contact ID1":{"main":[[{"node":"Get Chatwoot Conversation1","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Save Message to Chatwoot1","type":"main","index":0}]]},"Send WhatsApp Message1":{"main":[[{"node":"Redis - Delete Followup Key2","type":"main","index":0}]]},"Get Chatwoot Conversation2":{"main":[[{"node":"Save Message to Chatwoot2","type":"main","index":0}]]},"Save Message to Chatwoot2":{"main":[[{"node":"Send WhatsApp Message1","type":"main","index":0}]]},"Get Chatwoot Contact ID2":{"main":[[{"node":"Get Chatwoot Conversation2","type":"main","index":0}]]},"Get Memory from Supabase Varios":{"main":[[{"node":"Format Memory for Context varios","type":"main","index":0}]]},"Format Memory for Context varios":{"main":[[{"node":"Prepare Validation Prompt varios","type":"main","index":0}]]},"Prepare Validation Prompt varios":{"main":[[{"node":"Call GPT for Validation Varios","type":"main","index":0}]]},"Call GPT for Validation Varios":{"main":[[{"node":"Parse GPT Response Varios","type":"main","index":0}]]},"Parse GPT Response Varios":{"main":[[{"node":"Should Send Followup Varios?","type":"main","index":0}]]},"Should Send Followup Varios?":{"main":[[{"node":"Prepare Followup Message Varios","type":"main","index":0}],[{"node":"Log - Not Sent2","type":"main","index":0}]]},"Prepare Followup Message Varios":{"main":[[{"node":"Get Chatwoot Contact ID2","type":"main","index":0}]]},"Get Chatwoot Conversation3":{"main":[[{"node":"Save Message to Chatwoot3","type":"main","index":0}]]},"Save Message to Chatwoot3":{"main":[[{"node":"send_message_chinos","type":"main","index":0}]]},"Get Chatwoot Contact ID3":{"main":[[{"node":"Get Chatwoot Conversation3","type":"main","index":0}]]},"get-memory-supabase-marcas-chinas":{"main":[[{"node":"format_memory_chinos","type":"main","index":0}]]},"format_memory_chinos":{"main":[[{"node":"prompt_para_chinos","type":"main","index":0}]]},"prompt_para_chinos":{"main":[[{"node":"opeai_validation_chinos","type":"main","index":0}]]},"opeai_validation_chinos":{"main":[[{"node":"parse_response_chino","type":"main","index":0}]]},"enviar_mensaje?":{"main":[[{"node":"prepare_message_chinos","type":"main","index":0}],[{"node":"Log - Not Sent3","type":"main","index":0}]]},"parse_response_chino":{"main":[[{"node":"enviar_mensaje?","type":"main","index":0}]]},"send_message_chinos":{"main":[[{"node":"redis_delete_followup_key_chinos","type":"main","index":0}]]},"prepare_message_chinos":{"main":[[{"node":"Get Chatwoot Contact ID3","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}