lookup-perfil-deudor-ySJi3aRKAOq27tJQ.json
{"updatedAt":"2026-06-16T15:07:40.830Z","createdAt":"2026-06-16T14:52:29.056Z","id":"ySJi3aRKAOq27tJQ","name":"lookup-perfil-deudor","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,288],"id":"689063c4-d1c4-49c7-8e75-a9c7efa09561","name":"get_perfil_trigger"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst telefono = (input.telefono || '').toString().trim();\n\nif (!telefono) {\n  throw new Error('telefono es requerido');\n}\nif (!/^\\d{10}$/.test(telefono)) {\n  throw new Error(`telefono invalido: '${telefono}' — se esperan 10 digitos sin prefijo`);\n}\n\nreturn [{ json: { telefono } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,288],"id":"c373ac86-e815-410d-8041-a352eaf254ce","name":"validar-formato","onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT ap.id AS ahorrista_id, ap.grupo, ap.orden, ap.telefono, ap.email, ap.nombre, ap.etapa_actual, ap.prioridad, ap.sentimiento_actual, ap.cuotas_impagas_snapshot, ap.monto_deuda_snapshot, ap.status_code_snapshot, ap.acuerdo_vigente, ap.cupon_solicitado, ap.cupon_emitido, ap.escalado_humano, ap.total_interacciones, ap.notas_resumen, ap.fecha_ultimo_contacto, COALESCE((SELECT jsonb_agg(h) FROM (SELECT jsonb_build_object('created_at', ceh.created_at, 'etapa_anterior', ceh.etapa_anterior, 'etapa_nueva', ceh.etapa_nueva, 'disparador', ceh.disparador, 'canal', ceh.canal, 'resumen', ceh.resumen_relevante, 'tipo_resultado', ceh.tipo_resultado, 'sentimiento', ceh.sentimiento) AS h FROM \"ovalo-cobranzas\".cobranza_etapas_historial ceh WHERE ceh.ahorrista_id = ap.id ORDER BY ceh.created_at DESC LIMIT 8) sub), '[]'::jsonb) AS hitos FROM \"ovalo-cobranzas\".ahorrista_perfil ap WHERE TRIM(ap.telefono) = '{{ $json.telefono }}' ORDER BY ap.fecha_ultimo_contacto DESC NULLS LAST, ap.id ASC","options":{}},"id":"postgres-001","name":"buscar_perfiles","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,160],"retryOnFail":false,"credentials":{"postgres":{"id":"xLMcpsv4QDveR6uY","name":"postgres-agn-pro-credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst perfiles = items\n  .map(i => i.json)\n  .filter(p => p.ahorrista_id != null)\n  .map(p => ({\n    ...p,\n    // hitos puede venir como string JSON desde Postgres\n    hitos: typeof p.hitos === 'string' ? JSON.parse(p.hitos) : (p.hitos || [])\n  }));\n\nconst total = perfiles.length;\n\nreturn [{ json: {\n  total_encontrados: total,\n  perfiles,\n  perfil: total === 1 ? perfiles[0] : null,\n  caso: total === 0 ? 'sin_perfil'\n      : total === 1 ? 'perfil_unico'\n      : 'multiples_planes'\n} }];"},"id":"code-001","name":"formatear_resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[740,160]},{"parameters":{"jsCode":"const err = $input.first();\nconst msg = err?.json?.message || err?.json?.error?.message || 'Telefono invalido o no proporcionado';\nreturn [{ json: {\n  caso: 'error',\n  tipo: 'validacion',\n  mensaje: msg\n} }];"},"id":"error-val-001","name":"error_validacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,450]},{"parameters":{"jsCode":"const err = $input.first();\nconst msg = err?.json?.message || err?.json?.error?.message || 'Error al consultar la base de datos';\nreturn [{ json: {\n  caso: 'error',\n  tipo: 'db',\n  mensaje: msg\n} }];"},"id":"error-db-001","name":"error_db","type":"n8n-nodes-base.code","typeVersion":2,"position":[740,450]}],"connections":{"get_perfil_trigger":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"validar-formato":{"main":[[{"node":"buscar_perfiles","type":"main","index":0}],[{"node":"error_validacion","type":"main","index":0}]]},"buscar_perfiles":{"main":[[{"node":"formatear_resultado","type":"main","index":0}],[{"node":"error_db","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"fe642f46-b1b4-4735-8be6-38f953cff19f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-16T14:52:29.062Z","createdAt":"2026-06-16T14:52:29.062Z","role":"workflow:owner","workflowId":"ySJi3aRKAOq27tJQ","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}