marketing-data-T7FqtcxFN7Pavjsc.json
{"updatedAt":"2025-12-09T15:16:01.000Z","createdAt":"2025-12-06T13:13:15.438Z","id":"T7FqtcxFN7Pavjsc","name":"marketing-data","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,-160],"id":"c891f61f-fcc1-4e09-b0a9-6a849b8230ee","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"2089df86-8dd9-490a-ba91-48a7216c9d82","name":"user_token","value":"EAATZAxERuHQ4BQMAxA5kk7trroy1JLkwEZABIpC8QG7nGKaI0cmmErHiwJftzVGw63ELNQa8b9wQFjZBdkn6bQ75symlkEwoVAQt4v8qwQDQPCTZAXUD7w59dZAOSDLGpgvFmJw5cGNgyhtTbxnjnnKNZAv7mvB7TBSTqmYKUXDOIXY5UyWT1aDlko5ZC4yoAhDvm47JjUP","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-176],"id":"b7dbe24b-96bf-4a93-ac3d-2ef6a3119e4c","name":"user_token"},{"parameters":{"url":"https://graph.facebook.com/v21.0/me?fields=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.user_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,-176],"id":"488cb4d3-fa8d-4b96-99e5-a62c4eeac985","name":"http-get-identification"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/me/adaccounts?fields=id,account_id,name,account_status&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('user_token').item.json.user_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[48,-192],"id":"37b7f09b-22ee-48b7-94da-45b998f7a04b","name":"http-get-cuenta-publicitaria"},{"parameters":{"assignments":{"assignments":[{"id":"45eb59e9-ee3c-411e-be94-a2b243bc9e1a","name":"data[0].id","value":"={{ $json.data[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-192],"id":"d2b02e95-ffb1-40d7-ae7d-2f84dec099aa","name":"id_cuenta_publicitaria"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.data[0].id }}/insights","sendQuery":true,"queryParameters":{"parameters":[{"name":"level","value":"campaign"},{"name":"fields","value":"campaign_id,campaign_name,impressions,reach,clicks,spend,ctr,cpc,cpm,actions,action_values"},{"name":"date_preset","value":"maximum"},{"name":"time_increment","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('user_token').item.json.user_token }}"},{"name":"limit","value":"5000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,-144],"id":"e2af4124-2b6f-4a0a-b620-56ad224522f1","name":"http-get-data"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"user_token","type":"main","index":0}]]},"user_token":{"main":[[{"node":"http-get-identification","type":"main","index":0}]]},"http-get-identification":{"main":[[{"node":"http-get-cuenta-publicitaria","type":"main","index":0}]]},"http-get-cuenta-publicitaria":{"main":[[{"node":"id_cuenta_publicitaria","type":"main","index":0}]]},"id_cuenta_publicitaria":{"main":[[{"node":"http-get-data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c53e3952-0d02-4b84-96b0-646ef17b839f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-06T13:13:15.441Z","createdAt":"2025-12-06T13:13:15.441Z","role":"workflow:owner","workflowId":"T7FqtcxFN7Pavjsc","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}