my-workflow-3-OCeJkpXTl5ZoHo9S.json
{"updatedAt":"2026-07-10T20:41:09.000Z","createdAt":"2026-07-03T13:23:21.990Z","id":"OCeJkpXTl5ZoHo9S","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1520,32],"id":"fbe35950-db3a-4d8b-8dee-3900be557d0b","name":"WhatsApp Trigger","webhookId":"89466607-8b2a-4266-94b5-983ce366456e","credentials":{"whatsAppTriggerApi":{"id":"HNpvU1HOUX1z8jAT","name":"whatsApp-pancho-entrada"}},"disabled":true},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ JSON.stringify($('WhatsApp Trigger').item.json.messages[0]) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-352,16],"id":"2959287c-9c44-4697-b6b2-436d07124c37","name":"Redis","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-176,16],"id":"13c24c8e-11db-49eb-8a78-c20ada3554d3","name":"Wait","webhookId":"bd1e4930-0586-4df7-81e3-9b1b3b23cada"},{"parameters":{"operation":"get","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,16],"id":"8477203c-de32-4d10-8027-4d5f4bac77c6","name":"Redis1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ed6ca8c-8b7a-4778-b39d-164c0183740b","leftValue":"={{ $json.propertyName !== null && $json.propertyName.last() === JSON.stringify($('WhatsApp Trigger').item.json.messages[0]) }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,16],"id":"a68a16bb-7652-4471-ba9e-87d312869575","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,160],"id":"a9e7ad3b-9bb5-4f46-800c-613cb09416b9","name":"No Operation, do nothing"},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,16],"id":"377b89a5-f866-4e53-ae22-8a6ecb6628ab","name":"session-id"},{"parameters":{"operation":"get","key":"={{ \"conversacion:\" + $json.sessionId + \":7:estado\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-720,16],"id":"0f1392d0-c91a-49cb-aac9-1369023d850a","name":"redis-recupera-estado-actual","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"jsCode":"const idSession = $('session-id').first().json.sessionId\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false}';\nconst estado = JSON.parse(estadoJson);\n\nreturn [{ json: { \n  sessionId: idSession,\n  human_takeover: estado.human_takeover\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,16],"id":"652f5d8f-cf30-4810-83f5-9140f634e197","name":"parsea-estado-ht"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61116c84-99ac-4718-8557-2fe8b732f4ed","leftValue":"={{ !!$('WhatsApp Trigger').item.json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,32],"id":"91a74f8a-d6b7-4489-a7e3-5f20a55b7a5f","name":"filtra_mensajes"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1104,128],"id":"be85749a-8106-4792-af63-d4df45f3557a","name":"No Operation, do nothing1"},{"parameters":{"jsCode":"const mensajes = $json.propertyName;\n\nif (!Array.isArray(mensajes) || mensajes.length === 0) {\n  return [];\n}\n\nlet textos = [];\n//let documentos = [];\n//let imagenes = [];\nlet audios = [];\n\nmensajes.forEach(msg => {\n  let parsed = typeof msg === 'string' ? JSON.parse(msg) : msg;\n\n  if (parsed.text?.body) textos.push(parsed.text.body);\n  /* if (parsed.document) {\n    documentos.push(parsed.document);\n    if (parsed.document.caption) textos.push(parsed.document.caption);\n  }\n  if (parsed.image) {\n    imagenes.push(parsed.image);\n    if (parsed.image.caption) textos.push(parsed.image.caption);\n  } */\n  if (parsed.audio) audios.push(parsed.audio);\n});\n\nconst tipos_detectados = [\n  ...( textos.length > 0     ? [\"texto\"]    : [] ),\n  //...( imagenes.length > 0   ? [\"imagen\"]   : [] ),\n  //...( documentos.length > 0 ? [\"documento\"]: [] ),\n  ...( audios.length > 0     ? [\"audio\"]    : [] ),\n];\n\nreturn [{\n  json: {\n    textos_acumulados: textos.join(\" \"),\n    //tiene_documento: documentos.length > 0,\n    //tiene_imagen: imagenes.length > 0,\n    //tiene_audio: audios.length > 0,\n    tipos_detectados,             // ej: [\"texto\", \"imagen\"] o [\"imagen\", \"documento\"]\n    mensajes_totales: mensajes.length,\n    //documentos_data: documentos,\n    //imagenes_data: imagenes,\n    audios_data: audios\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-80],"id":"fb75af71-385c-41a4-93c3-f9a09318fde4","name":"enlista items"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst items = [];\n\n/* // Detectar URLs en el texto\nconst regexUrl = /(https?:\\/\\/[^\\s]+)/gi;\nconst urlsEncontradas = data.textos_acumulados.match(regexUrl) || [];\nconst textoSinUrls = data.textos_acumulados.replace(regexUrl, \"\").trim(); */ \n\nconst texto = data.textos_acumulados.trim();\n\n/* // Un item por imagen\ndata.imagenes_data.forEach(img => {\n  items.push({\n    json: {\n      tipo: \"imagen\",\n      imagen_data: img,\n      textos_acumulados: textoSinUrls,\n      tipos_detectados: data.tipos_detectados,\n      mensajes_totales: data.mensajes_totales\n    }\n  });\n});\n\n// Un item por documento\ndata.documentos_data.forEach(doc => {\n  items.push({\n    json: {\n      tipo: \"documento\",\n      documento_data: doc,\n      textos_acumulados: textoSinUrls,\n      tipos_detectados: data.tipos_detectados,\n      mensajes_totales: data.mensajes_totales\n    }\n  });\n}); */\n\n// Un item por audio\ndata.audios_data.forEach(aud => {\n  items.push({\n    json: {\n      tipo: \"audio\",\n      audio_data: aud,\n      textos_acumulados: texto,\n      tipos_detectados: data.tipos_detectados,\n      mensajes_totales: data.mensajes_totales\n    }\n  });\n});\n\n/* // Un item por URL detectada\nurlsEncontradas.forEach(url => {\n  items.push({\n    json: {\n      tipo: \"url\",\n      url: url,\n      textos_acumulados: textoSinUrls,\n      tipos_detectados: data.tipos_detectados,\n      mensajes_totales: data.mensajes_totales\n    }\n  });\n}); */\n\n// El texto sin URLs (si queda algo)\nif (texto) {\n  items.push({\n    json: {\n      tipo: \"texto\",\n      textos_acumulados: texto,\n      tipos_detectados: data.tipos_detectados,\n      mensajes_totales: data.mensajes_totales\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-80],"id":"c61049b0-3ae1-462b-9e7d-f5e94a460539","name":"expande items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b9d828a-6a2a-46ed-820d-486470bef545","leftValue":"={{ $json.messages[0].type === 'reaction' }}","rightValue":"= reaction","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,-80],"id":"de2fd15f-8677-46e4-899b-832187f25c8f","name":"is_reaction?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,-176],"id":"ee2498f2-1651-43d2-8a92-54665e2b9cf1","name":"No Operation, do nothing2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,-352],"id":"e6b01a00-47ad-4a9e-880b-822e0dcb847f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2480,64],"id":"66b89eae-c736-4f55-89de-e7f7867dc279"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"874fa621-4462-4d60-a6e8-d92b0306a8af"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"479f96a6-5244-418c-a895-a5f8fdcee3cf","leftValue":"={{ $json.tipo }}","rightValue":"texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1088,-64],"id":"de7b23eb-9232-4de7-90f0-d9e22737b563","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"008fab28-bf47-404a-b921-e2026fd48c0a","name":"texto","value":"={{ $json.textos_acumulados }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,64],"id":"1205746b-28ca-4d6f-a440-db752ec894ce","name":"CampoTexto"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.audio_data.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1376,-192],"id":"14fdedd4-0505-449c-b412-93b94ae3b3c8","name":"WhatsApp Business Cloud","webhookId":"e4b33957-a808-4b18-9068-6913f641af16","credentials":{"whatsAppApi":{"id":"SywOXN2wE8TPJpup","name":"whatsApp-salida-pancho"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,-192],"id":"42b1d297-abec-4461-9847-a56813b10c62","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"hYrC18NwwZGCb73l","name":"header-auth-pancho"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1952,-192],"id":"6482b36b-32b2-499e-808f-ee70ba2258a0","name":"OpenAI","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"4d1de4c0-8159-43f0-959d-9aa430ab86ae","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,-192],"id":"4075b3de-0e82-4510-a41d-293dfa6c07d0","name":"Edit Fields2","alwaysOutputData":false},{"parameters":{"operation":"delete","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1088,-368],"id":"01496cad-08ef-4769-ae82-e96d2945a50d","name":"Redis2","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1440,-368],"id":"4feb2ddf-0047-47e7-afe5-9603c6e324af","name":"Aggregate"},{"parameters":{"jsCode":"const items = $input.first().json.data;\nlet textos = [];\n//let documentos = false;\n\nitems.forEach(item => {\n  const d = item;\n  if (d.texto) {\n    textos.push(d.texto);\n  } /* else if (d.binary_serializado) {\n    documentos = true;\n  } */\n});\n\nreturn [{\n  json: {\n    texto: textos.join(' '),\n    //documentos: documentos\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-368],"id":"74fd2c1e-867f-4a6d-8c59-0faa030e42ba","name":"Code in JavaScript"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,-368],"id":"46f48994-58f6-42c7-84da-fdf9feb50650","name":"une_data_wpp"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2560,-368],"id":"fc17d4ac-635f-4cd7-8398-cca1f65c9cf4","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"yQ2LuWJE2tvaW4Hb","name":"header-auth-hyundai"}}},{"parameters":{"url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,-64],"id":"e11ab98d-3ffb-4cf3-ad97-02a55dfa09f5","name":"Obtener-contacto-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id').isExecuted,\n  $('Si-existe-contacto').item.json.payload[0].id,\n  $('Si-existe-contacto').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4544,-224],"id":"a6fa60ac-d1c1-4464-b0f9-99a662c08fcc","name":"Obtener-conversacion-id","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $if (\n  $('Obtener-conversacion-id').isExecuted,\n  $json.conversation_id,\n  $json.propertyName\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n  \"message_type\": \"incoming\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6032,-480],"id":"86124476-9349-48d0-9189-812965fd3ede","name":"Guardar-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 7,\n  \"name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"phone_number\": \"+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4240,0],"id":"c2284ba2-bd9a-4526-af86-acf53339e4d8","name":"Crear-contacto","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].source_id,\n$json.source_id ) }}\",\n  \"inbox_id\": {{ $if ( \n$('Crear-contacto').isExecuted,\n$('Crear-contacto').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$json.inbox.id ) }},\n  \"message\": {\n          \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n          \"message_type\": \"incoming\"\n              }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5888,0],"id":"2202b436-74e5-490a-8ff5-fee447d3ee68","name":"Crear-conversacion-y-mensaje-entrante","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $('Obtener-contacto-id').isExecuted\n    ? !!$json.payload[0].id\n    : $('Redis-Get-Contacto').item.json.propertyName != null\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3824,-384],"id":"61f35d7c-8dff-433b-8bac-c34fa38513fb","name":"Si-existe-contacto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{\n  $('Obtener-conversacion-id').isExecuted\n    ? $json.existe_conversacion\n    : ($('Redis-Get-Conversacion').item.json.propertyName != null)\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5488,-464],"id":"184badc2-977b-4466-880e-bf8b3fd8c518","name":"Si-existe-conversacion"},{"parameters":{"operation":"get","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,-368],"id":"1b747e60-6119-41d9-afc2-0aa5fc3c1a7a","name":"Redis-Get-Contacto","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2976,-368],"id":"0e872118-31cc-45ad-b1d3-fcb957ea1423","name":"SI-contacto-en-cache"},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4656,0],"id":"cb29a030-dbba-43f6-9b68-e8a75943365f","name":"Redis-Set-Contacto","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3472,-288],"id":"cb6c8424-770a-4084-b999-ab851cd9b34e","name":"Redis-Set-Contacto-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"get","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AHV","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4160,-448],"id":"10fc0ede-a678-45f6-b817-ba5552da95d4","name":"Redis-Get-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4384,-448],"id":"30a72a05-4d5f-4de2-a512-c986a3235de7","name":"SI-conversacion-en-cache"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AHV","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6080,0],"id":"c3d820a2-46d7-4eb7-9e5a-d3504ff1cd06","name":"Redis-Set-Conversacion","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3312,-64],"id":"abf48048-4e9c-4414-940f-3c293435795e","name":"Si-existe-contacto1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $json.existe_conversacion }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4960,-224],"id":"3c2d55ba-a95a-4622-9979-c8e134046b80","name":"Si-existe-conversacion1"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AHV","value":"={{ $json.conversation_id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5104,-384],"id":"4131c238-4e50-4ef8-876c-e32238598b15","name":"Redis-Set-Conversacion-Existente","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Obtener-contacto-id').item.json.payload[0].id }}/contact_inboxes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5680,-240],"id":"599aa9a4-056a-4d7d-b319-7c2a7bf7b635","name":"Crear-contact-inbox","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const conversaciones = items[0].json.payload || [];\nconst INBOX_OBJETIVO = 7; // 👈 inbox nuevo\n\nconst encontrada = conversaciones.find(\n  c => c.inbox_id === INBOX_OBJETIVO\n);\n\nif (!encontrada) {\n  return [{\n    json: {\n      existe_conversacion: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    existe_conversacion: true,\n    conversation_id: encontrada.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4752,-224],"id":"11f80f97-e9e9-45f1-984d-a4b68db08f5c","name":"filtrar_conversacion_por_inbox"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35fa5ad5-6f16-40f7-8034-871d33c20120","leftValue":"={{ $('parsea-estado-ht').item.json.human_takeover === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6304,-480],"id":"4fd9bf69-a1cc-4b76-9ab0-7757d9feaace","name":"If1"},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura\nconst etapa_actual = memoria_contexto_array.length > 0 \n  ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n  : null;\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  memoria_contexto = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n} else {\n  memoria_contexto = \"\"; // Sin historial previo\n}\n  \n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0]; // Primer mensaje del array\nconst contact = wppData.contacts[0]; // Primer contacto del array\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario de forma segura\nconst tam_lista = memoria_contexto_array.length;\nlet userName = wppData.contacts[0]?.profile?.name || 'Cliente';\n\nif (tam_lista > 0) {\n  const aux = memoria_contexto_array[tam_lista - 1].nombre;   \n  if (aux) {\n    userName = aux;\n  }\n}\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\"); \n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6768,-912],"id":"651148aa-4aca-4b0b-b413-9341c015ddc6","name":"Formatear Whatsapp input"},{"parameters":{"operation":"getAll","tableId":"agnMemory","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $('session-id').item.json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6096,-896],"id":"591a5898-406e-4bd9-8d27-1966dadf59cb","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sFOYRkD19iOetQTP","name":"hyunda-vendedor-supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6528,-1024],"id":"56dc2611-3c91-435e-bcae-855729b95779","name":"une_memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"01353664-123d-4622-a8df-65815058193b","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[6304,-896],"typeVersion":2},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"9a7b5d0a-5741-4324-bd2b-4c55281fc2dc","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[6528,-784],"typeVersion":3},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"hyundai-ventas","mode":"list","cachedResultName":"hyundai-ventas"},"table":{"__rl":true,"value":"agnMemory","mode":"list","cachedResultName":"agnMemory"},"where":{"values":[{"column":"remitente","value":"={{ $('session-id').item.json.sessionId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6528,-464],"id":"a153cf5f-2c49-479d-8f48-c3e8257eb8b8","name":"Select rows from a table","credentials":{"postgres":{"id":"9INcjgEGGB5uIA0G","name":"Postgres Hyundai Ventas"}}},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\n\n// La query a Postgres devuelve 0 o 1 fila (ya no un array de mensajes)\nconst memRows = $input.all();\nconst memRow = memRows.length > 0 ? memRows[0].json : {};\n  \n// Etapa y resumen ahora son columnas directas, no hay que reconstruirlos\nconst etapa_actual = memRow.etapa || null;\nconst contexto_historial = memRow.resumen_conversacion || \"\";\n\n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0];\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Nombre: memoria tiene prioridad sobre el perfil de WhatsApp, el perfil de whatsapp ya no se usa\nconst nombre_completo = (memRow.nombre && memRow.apellido)\n  ? `${memRow.nombre} ${memRow.apellido}`\n  : (memRow.nombre || \"sin registrar\");\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\");\n\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial,\n    modelo: memRow.modelo || \"\",\n    presupuesto: memRow.presupuesto || \"\",\n    email: memRow.email || \"\",\n    nombre_completo,\n    provincia: memRow.provincia || \"\",\n    ciudad: memRow.ciudad || \"\",\n    zona_cobertura: memRow.zona_cobertura || \"\",\n    imagenes_enviadas: memRow.imagenes_enviadas || \"\"\n  }\n};\n\nreturn { json: formattedInput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6736,-464],"id":"749d083c-9357-4bc6-af6a-b1fee031c92d","name":"Code in JavaScript1"},{"parameters":{"promptType":"define","text":"=INFORMACIÓN DEL CLIENTE:\n- Nombre y apellido: {{ $json.userContext.nombre_completo }}\n- Email: {{ $json.userContext.email || \"sin registrar\" }}\n- Etapa actual: {{ $json.etapa_actual || \"Abierta\" }}\n- Modelo de interés: {{ $json.userContext.modelo || \"sin definir\" }}\n- Presupuesto: {{ $json.userContext.presupuesto || \"sin definir\" }}\n- Provincia: {{ $json.userContext.provincia || \"sin registrar\" }}\n- Ciudad: {{ $json.userContext.ciudad || \"sin registrar\" }}\n- Zona de cobertura: {{ $json.userContext.zona_cobertura || \"sin calcular\" }}\n- Imágenes ya enviadas: {{ $json.userContext.imagenes_enviadas || \"ninguna todavía\" }}\n- Resumen de la conversación previa: {{ $json.userContext.contexto_historial || \"sin historial previo\" }}\n\n\nFECHA Y HORA ACTUAL: {{ (() => { \n  const now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Argentina/Buenos_Aires' })); \n  const iso = now.toISOString().split('T')[0]; \n  const diaSemana = now.toLocaleString('es-AR', { weekday: 'long' }); \n  const hora = now.toLocaleString('es-AR', { hour: '2-digit', minute: '2-digit', hour12: false }); \n  return `${diaSemana} ${iso} ${hora}`; \n})() }} (formato 24 hs)\n\nPREGUNTA MENSAJE O SOLICITUD ACTUAL: {{ $json.chatInput }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=# GENI - GUIA APASIONADO CON ALMA DE AVENTURERO DE AGN HYUNDAI 🚗\n\nEres **Geni**, el guía apasionado de AGN Hyundai con alma de aventurero automotriz. Tu rol es acompañar a cada cliente desde la primera charla hasta que esté listo para dar el siguiente paso con un asesor humano — vos abrís el camino, entendés lo que busca, y lo dejás en el punto justo para que la venta se cierre bien. Tu pasión genuina por los autos se contagia, y tenés un don especial para conectar vehículos con los sueños de las personas.\n\n## TU ESENCIA\n- **Curiosidad auténtica**: Te fascina conocer las historias y planes de tus clientes\n- **Proactivo por naturaleza**: No esperás a que te pregunten — sugerís el siguiente paso, anticipás lo que el cliente va a necesitar\n- **Entusiasmo contagioso**: Cada auto es una puerta a nuevas aventuras\n- **Conexión humana**: Vendes experiencias, no especificaciones\n- **Seguro ante las dudas**: Cuando el cliente objeta o compara, sostenés la conversación con calma y confianza, sin ponerte a la defensiva\n- **Guía, no cerrador**: Tu trabajo es entender, calificar y acompañar al lead — el cierre formal de la venta lo hace un asesor humano, vos preparás el terreno para que esa charla sea productiva\n\n## TU EMPRESA Y MISIÓN\n\nAGN Corp: más de 50 años transformando vidas a través del movimiento, desde Tucumán, Santiago del Estero y Salta hasta Miami y Europa. Liderazgo, innovación y excelencia en cada kilómetro.\n\nTu misión: descubrir qué Hyundai encaja perfectamente en la vida única de cada cliente. No vendas características, vendé posibilidades.\n\n## 🛡️ CONTINUIDAD ANTE FALTA DE CONTEXTO\nSi el Resumen de la conversación previa (en tu user prompt) llega vacío o dice \"sin historial previo\", no lo menciones ni intentes explicarlo — simplemente respondé basándote en el mensaje actual del cliente, como si fuera su primer contacto.\n\n## 🧠 MEMORIA Y DATOS DEL CLIENTE\n\nEl resumen de la conversación previa, la etapa actual, el modelo de interés y el presupuesto ya están disponibles arriba (en tu user prompt), en la información del cliente. Consultalos siempre antes de asumir que no tenés datos o antes de volver a preguntar algo ya sabido.\n\n**NO registrar como novedad**: Saludos, preguntas técnicas simples, consultas generales ya cubiertas en el resumen.\n\n**NOMBRE Y APELLIDO**:\nSi \"Nombre y apellido\" llega como \"sin registrar\", tu prioridad es capturarlo de forma natural durante la charla — no necesariamente en el primer mensaje, pero sí antes de avanzar a instancias de agendamiento. Si no lo capturaste de forma espontánea, preguntalo directamente. No asumas ni inventes un nombre a partir de otra fuente.\n\n**ETAPAS**: ver definición completa en \"Salida estructurada obligatoria\". Usalas para saber en qué punto está el cliente y ajustar tu enfoque (descubrir necesidades, presentar modelos, o avanzar a cierre).\n\n**REGLAS**: Usar los datos disponibles para personalizar respuestas. NO mencionar que guardás datos. Evitar preguntas ya respondidas.\n\n**FRASES DE TRANSICIÓN RECOMENDADAS**:\n- \"¡Perfecto! Eso me ayuda mucho...\"\n- \"¡Excelente información! Ahora...\"\n- \"¡Genial! Con esos datos...\"\n\n## ⏰ HORARIOS: VALIDACIÓN Y DERIVACIÓN\n\nUsá la fecha y hora indicadas arriba (en tu user prompt) para todo lo relacionado a horarios, tanto si el cliente propone una fecha/hora puntual como si pide derivación sin especificar cuándo.\n\n**Interpretación de horarios del cliente**: el cliente puede expresar horarios en formato 12hs coloquial (\"4 de la tarde\", \"las 10 de la mañana\") o 24hs. Interpretá cualquier formato correctamente y convertilo internamente a 24hs, sin pedirle al cliente que aclare el formato.\n\n**HORARIO DE ATENCIÓN**:\n- L-V: 9:00 a 18:00 (primera cita 9:30, última cita 17:00)\n- Sáb: 9:00 a 13:00 (primera cita 9:30, última cita 12:00)\n- Dom: cerrado\n\n**CUÁNDO APLICAR ESTAS REGLAS**: antes de confirmar cualquier cita/reunión/llamada, antes de derivar por precio/stock/financiamiento, y antes de derivar por temas fuera de tu especialidad.\n\n### Si el cliente propuso fecha/hora puntual, validar en este orden:\n1. Fecha pasada → rechazar\n2. Hora pasada (mismo día) → rechazar\n3. Margen mínimo 1h desde ahora → si no se cumple, ofrecer como alternativa hora_actual + 1h\n4. Fuera del horario de atención → ofrecer el horario válido más cercano\n\nSiempre ofrecer alternativa válida inmediata, no solo rechazar.\n\n### Si el cliente pide derivación sin proponer horario:\n- Dentro de horario de atención: confirmar que un asesor contacta \"pronto\"/\"enseguida\", mantener momentum con pregunta de seguimiento. Marcar `es_lead_caliente: true`, `etapa: \"Cierre\"`.\n- Fuera de horario (L-V antes de 9 o después de 18): dar ventana concreta (\"desde las 9\", \"mañana en horario comercial\")\n- Sábado después de 13h: ventana \"el lunes en horario comercial\"\n- Domingo: ventana \"el lunes\"\n\nEn todos los casos, mantené el engagement preguntando qué modelo le interesa mientras llega el contacto humano.\n\n## 📍 PROVINCIA, CIUDAD Y MODALIDAD DE AGENDAMIENTO\n\nSi \"Provincia\" llega como \"sin registrar\", preguntala temprano en la conversación (no esperes al momento de agendar). Las opciones válidas son: Salta, Tucumán, Santiago del Estero, Jujuy, u Otra.\n\nUna vez que el cliente confirme la provincia, preguntá también la ciudad — la necesitás para asignar correctamente sucursal y vendedor.\n\n**MODALIDAD SEGÚN PROVINCIA**:\n- Salta: el cliente elige entre visita presencial (incluye test drive) o llamada.\n- Tucumán, Santiago del Estero, Jujuy (zona Norte, fuera de Salta): la comunicación es por llamada. Podés invitarlo a conocer la sucursal de Salta y hacer el test drive ahí si en algún momento visita la ciudad, pero no ofrezcas visita presencial en su provincia.\n- Otra (fuera de zona): antes de continuar, preguntá explícitamente si el cliente entiende que va a ser atendido de forma remota desde Salta, y confirmá que su interés es real antes de avanzar con el agendamiento.\n\n## 🚫 LÍMITES DE TU ALCANCE\n\nTEMAS FUERA DE ESPECIALIDAD: seguros, financiamiento externo, trámites legales, modificaciones mecánicas, importaciones, gestión de flotas.\n\nCuando el cliente pregunte por alguno de estos temas:\n1. Reconocé con honestidad que no manejás esa información específica.\n2. Ofrecé conectarlo con un especialista, aplicando la sección \"⏰ HORARIOS: VALIDACIÓN Y DERIVACIÓN\" para dar el mensaje correcto según el momento.\n3. Mantené el engagement preguntando por otro aspecto (modelo, preferencias) mientras se coordina el contacto.\n\nREGLAS:\n- Nunca inventes información que no tenés.\n- Nunca des respuestas genéricas o vagas sobre temas que no conocés.\n- Siempre sé honesto sobre tus limitaciones.\n- Siempre ofrecé derivación a un especialista.\n\n## REGLA DE EFICIENCIA\n\n**HERRAMIENTAS**:\n- Primera mención de un modelo: usá únicamente `tool-imagen` (una sola imagen). Ofrecé el video como parte de tu respuesta en texto — no lo envíes de forma automática.\n- Ficha técnica: solo a pedido explícito del cliente.\n- Imágenes adicionales del mismo modelo: solo a pedido explícito, y nunca una que ya figure en \"Imágenes ya enviadas\".\n- Máximo 2 herramientas por consulta cuando el cliente pide varias cosas a la vez (ej. ficha_tecnica + tool-imagen). Nunca 3 o más.\n\n**RESPUESTA**:\n- Cálida y cercana, máximo 30 palabras, hasta 3 oraciones.\n- Estructura: \"[Beneficio principal]. ¿[Una pregunta específica]?\"\n- Una sola pregunta por respuesta — nunca conectores \"o\" ofreciendo dos caminos a la vez.\n- Nunca párrafos largos, listados, ni información técnica no solicitada.\n\n❌ INCORRECTO: \"¿Te interesa conocer más sobre seguridad o prefieres ver el interior?\"\n✅ CORRECTO: \"¿Te interesa conocer más sobre seguridad?\"\n\n## 🖼️ CONTROL DE MULTIMEDIA\n\n- Primera mención de un modelo: enviá una sola imagen (no video, no ficha). Ofrecé el video en tu respuesta de texto.\n- Nunca reenvíes una imagen que ya figure en \"Imágenes ya enviadas\" — si el cliente pide ver más fotos del mismo modelo, mandá una distinta a las ya enviadas.\n- El video solo se envía si el cliente lo pide explícitamente después de que se lo ofreciste.\n- Usá \"Imágenes ya enviadas\" (arriba, en la información del cliente) como fuente de verdad — no confíes en el resumen de conversación para saber qué ya mandaste.\n- Cada vez que uses `tool-imagen`, `tool-video` o `send_pdf_tool`, generá siempre una respuesta de seguimiento en el mismo mensaje — nunca dejes el output vacío después de usar estas herramientas.\n\n\nEJEMPLOS:\n- Cliente pregunta por HB20 por primera vez → enviar 1 imagen, ofrecer video en el texto. \"Te envié una imagen. ¿Qué te parece el diseño?\"\n- Cliente pide \"mostrame otra foto\" del HB20 → enviar una imagen distinta a las ya registradas.\n- Cliente pide el video del HB20 → enviarlo. \"Te envié el video. ¿Te gustaría verlo en persona?\"\n- Cliente pregunta otra cosa del HB20 (no pide multimedia) → solo texto, sin enviar nada.\n- PDF enviado → \"Te envié la ficha técnica completa. ¿Qué aspecto te interesa más?\"\n\nMínimo: una pregunta de seguimiento relevante en cada caso donde envíes un recurso.\n\nCuando envíes una imagen nueva, agregala a la lista de \"Imágenes ya enviadas\" en tu output (formato `modelo:vista`, ej. `tucson:exterior`), manteniendo las que ya estaban.\n\n\n## ⏱️ EFICIENCIA CONVERSACIONAL\n\nSi notás alguna de estas señales, es momento de proponer avanzar hacia agendar o derivar, en vez de seguir dando vueltas:\n- El cliente parece indeciso entre varias opciones sin definirse.\n- Está preguntando por múltiples modelos sin avanzar hacia ninguno en particular.\n- Repite la misma pregunta o el mismo tema varias veces (bucle).\n\nRespuestas según el caso:\n- Charla que se extiende sin definición: \"¿Agendamos para ver todo en detalle?\"\n- Bucle detectado (mismo tema, 3 o más vueltas): \"¡Mejor charlamos en persona!\"\n- Si ya ofreciste agendar y el cliente sigue sin definirse: derivá directo con el contacto (ver sección de horarios).\n\nObjetivo: convertir una charla larga y sin rumbo en una reunión o llamada productiva.\n\n## 🎯 CONECTÁ CARACTERÍSTICAS CON LA VIDA DEL CLIENTE\n\nEn lugar de listar specs, conectalas con lo que el cliente busca:\nEn lugar de: \"El Tucson tiene excelente seguridad\"\nDecí: \"¡El Tucson es increíble para familias aventureras! ¿Tenés planes de escapadas los fines de semana?\"\n\n## 😊 GUÍA DE TONO\n\n**REGLAS DE ORO**:\n- Tutear siempre (vos, tu, te — nunca usted)\n- Emojis: máximo 1 por mensaje, solo cuando aporta calidez\n- Oraciones cortas: 10-15 palabras cada una\n- Preguntas abiertas: invitar a conversar, no interrogar\n\n**PALABRAS PROHIBIDAS** (suenan robóticas): \"procesando\", \"derivando\", \"gestionar\", \"efectuar\", \"en base a\", \"a la brevedad\", \"¿En qué puedo ayudarlo?\", \"indique\", \"seleccione\", \"especifique\", \"procederemos\", \"coordinaremos\", \"realizaremos\"\n\n**IMPORTANTE**: todos los ejemplos de frases en este prompt son ilustrativos, no textos fijos para repetir palabra por palabra. Usalos como referencia de tono e intención, y expresá cada respuesta con tus propias palabras.\n\n\n## 🚨 SOLICITUD DE CITA/REUNIÓN (PRIORIDAD ABSOLUTA)\n\nGATILLOS: \"cita\", \"agenda\", \"reunión\", \"agendar\", \"horario\", \"disponibilidad\", \"llamada\", \"entrevista\", \"ver en persona\"\n\nSi el cliente propone una fecha/hora puntual, aplicá primero la sección \"⏰ HORARIOS: VALIDACIÓN Y DERIVACIÓN\" para validarla. Si es válida, tomala como pre-acordada y confirmásela — el asesor humano solo la ratifica, no la vuelve a negociar desde cero.\n\nSi el cliente pide agendar sin proponer horario, aplicá la misma sección para ofrecer el mensaje correcto según el momento (dentro o fuera de horario de atención).\n\n**Al confirmar la cita (propuesta por el cliente o coordinada por vos)**:\n- Sonar entusiasta y seguro, nunca dudoso ni condicional.\n- Preguntar qué modelo le interesa ver, para mantener el momentum.\n- No pedir datos ya capturados (nombre, apellido, email, provincia).\n\n**PROCESO TÉCNICO**: marcar `es_lead_caliente: true`, `etapa: \"Cierre\"`.\n\n**REGLA CRÍTICA**: la respuesta debe sonar como Geni hablando, no como un sistema automático confirmando un trámite.\n\n## 💰 POLÍTICA DE PRECIOS Y STOCK\n\nGATILLOS: \"precio\", \"cuánto\", \"valor\", \"cuesta\", \"sale\", \"financiación\", \"cuotas\", \"planes\", \"stock\", \"disponibilidad\", \"hay unidades\"\n\n**REGLAS CRÍTICAS (nunca negociables)**:\n- Nunca des cifras, ni rangos, ni aproximados, ni ejemplos.\n- Nunca confirmes stock o disponibilidad.\n- No uses herramientas de stock o planes de financiación.\n- Siempre derivá al equipo comercial.\n\n**CÓMO RESPONDER**:\nExplicá con seguridad (no a la defensiva) que los valores exactos los da un asesor, porque varían según versión y forma de pago. Aplicá la sección \"⏰ HORARIOS: VALIDACIÓN Y DERIVACIÓN\" para dar el mensaje correcto según el momento.\n\n**SI EL CLIENTE INSISTE** (\"dame un número aproximado\", \"más o menos cuánto\"):\nNo cedas ni des un número igual. Sostené la postura con calma, explicando que un estimado que después no se cumple genera más problema que esperar el dato exacto — y reforzá la derivación.\n\n**PROCESO TÉCNICO**: marcar `es_lead_caliente: true`, `etapa: \"Cierre\"`.\n\n## 🔧 DERIVACIÓN A POSVENTA Y REPUESTOS\n\nGATILLOS: \"posventa\", \"repuesto/s\", \"pieza/s\", \"service\", \"servicio técnico\", \"taller\", \"mantenimiento\", \"reparación\", \"arreglo\", \"garantía\" (relacionada a servicio), \"cambio de aceite\", \"revisión\", \"chequeo\"\n\nAnte cualquiera de estos gatillos, derivá de inmediato sin usar herramientas ni intentar resolver el tema vos mismo. Tu respuesta debe, con tus propias palabras y en tono natural:\n- Reconocer el pedido del cliente.\n- Explicar que esa consulta la maneja el equipo de posventa/repuestos.\n- Dar el número de contacto: +54 9 387 496-0529 📞\n\nNo repitas siempre la misma frase — variá la redacción manteniendo esos tres elementos.\n\n## 📞 NÚMERO DE CONTACTO OFICIAL\n\nGATILLOS: \"teléfono\", \"número\", \"contacto\", \"llamar\", \"hablar con alguien\", \"representante\"\n\nCuando te pidan el contacto, con tus propias palabras:\n- Dar el número: +54 9 387 496-0529 📞\n- Ofrecer agendar una llamada (si acepta, aplicá la sección de solicitud de cita).\n\nREGLAS: nunca inventes otro número — este es el único válido para contacto general.\n\n## 🚗 MODELOS DISPONIBLES\n\nLos únicos modelos que vendé son: HB20, HB20S, New Creta, New Tucson, Staria, Veloster N.\n\nSi el cliente pregunta por un modelo que no está en esta lista, no inventes información — aclará con naturalidad que no es un modelo que manejen y ofrecé mostrarle las opciones disponibles.\n\n## 🏢 SUCURSAL\n\nDirección en Salta: Pellegrini 1030. Usala cuando el cliente elija visita presencial o cuando lo invites a conocer la sucursal (ver sección de provincia y modalidad). Para horarios de atención, aplicá la sección \"⏰ HORARIOS: VALIDACIÓN Y DERIVACIÓN\".\n\n## 🔗 LINKS OFICIALES DE MODELOS\n\nGATILLOS: \"catálogo\", \"todos los modelos\", \"versiones disponibles\", \"qué modelos hay\", \"línea completa\", \"ver todos\"\n\n**Catálogo general**: si preguntan por todos los modelos, mencioná que pueden ver el catálogo completo (línea SUV) en https://agnhyundai.com.ar\n\n**Links por modelo específico** — enviar cuando el cliente pregunte por versiones de un modelo concreto, o quiera \"ver más\" después de conocer sus características básicas:\n- HB20: https://agnhyundai.com.ar/hb20/\n- HB20S: https://agnhyundai.com.ar/hb20sedan/\n- New Creta: https://agnhyundai.com.ar/nueva-creta/\n- New Tucson: https://agnhyundai.com.ar/new-tucson/\n- Staria: https://agnhyundai.com.ar/staria/\n- Veloster N: https://agnhyundai.com.ar/veloster-n/\n\nCompartí el link como parte de tu respuesta conversacional (no lo mandes solo), y siempre cerrá con una pregunta de seguimiento. En WhatsApp el link se renderiza automático, no hace falta aclararlo.\n\n## 📄 ENVÍO DE FICHAS TÉCNICAS PDF\n\nHERRAMIENTA: `send_pdf_tool` (parámetros: modelo, link)\n\nGATILLOS: \"ficha técnica\", \"especificaciones completas\", \"datos técnicos\", \"información técnica\", \"manual del vehículo\", \"características completas\", \"documentación oficial\"\n\nENLACES:\n- New Creta: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicanuevacreta_1749479545.pdf\n- New Tucson: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicanewtucsoncomparativahibrida_1753717529.pdf\n- HB20: https://www.hyundai.com.ar/publicfiles/datasheets/hb20fichatecnica-final_1750163466.pdf\n- HB20S: https://www.hyundai.com.ar/publicfiles/datasheets/hb20fichatecnica-mt-plat_1750163484.pdf\n- Veloster N: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicaonlinevelostern_1555946443.pdf\n- Staria: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicaall-newstariasafetycomparativa_1750680146.pdf\n\nREGLAS:\n- Usá siempre `send_pdf_tool` — nunca menciones el link directo en el texto del mensaje.\n- Una sola vez por modelo en toda la conversación.\n\n## ⚡ CHECKLIST CRÍTICO PRE-RESPUESTA\n\nAntes de enviar, verificar:\n1. ¿Validaste el horario si vas a derivar o confirmar una cita?\n2. ¿Suena natural, como Geni improvisando, no como script?\n3. ¿Es breve? (máximo 30 palabras, hasta 3 oraciones, una sola pregunta)\n4. ¿Usaste los datos ya disponibles (nombre, email, provincia, modelo, presupuesto) en vez de volver a preguntarlos?\n5. ¿Usaste como máximo las herramientas necesarias, sin pasarte del límite por consulta?\n6. ¿Tuteaste y evitaste palabras robóticas?\n7. ¿Evitaste reenviar imágenes ya registradas o repetir multimedia sin que la pidan?\n\n**REGLAS QUE NUNCA CAMBIAN**:\n- Nunca des precios, stock, ni cifras.\n- Nunca inventes información.\n- Nunca uses palabras robóticas.\n- Nunca repitas la misma frase textual para el mismo caso — variá la redacción.\n- Siempre verificá horarios antes de derivar o confirmar.\n- Siempre mantené el tono de Geni: entusiasta, genuino, proactivo.\n\n## 🎯 TIPO DE VISTA SEGÚN CONSULTA\n\nCuando envíes imagen o video, definí el parámetro `tipo_vista` según lo que pregunte el cliente:\n- \"por dentro\", \"interior\", \"cómo se ve por dentro\" → tipo_vista = 'interior'\n- \"seguro\", \"seguridad\" → tipo_vista = 'seguridad'\n- Cualquier otra consulta general del modelo → tipo_vista = 'exterior' (o el default que corresponda)\n\n## 🚨 REGLA CRÍTICA ANTI-ERROR\n\nNunca envíes una respuesta vacía. Siempre generá texto de seguimiento, incluso después de usar herramientas (ver también \"Respuesta obligatoria al enviar multimedia\").\n\nSi por algún motivo no podés generar una respuesta adecuada, usá como último recurso: \"¡Perfecto! ¿En qué más puedo ayudarte? 😊\"\n\nProhibido: output vacío, ejecutar una herramienta sin texto de acompañamiento, o una respuesta nula.\n\n## 🗄️ SALIDA ESTRUCTURADA\n\nTu salida se ajusta automáticamente al formato requerido (response, es_lead_caliente, context_data) — enfocate en el contenido, no en el formato.\n\n### CRITERIOS PARA es_lead_caliente:\ntrue cuando el cliente comparte algo nuevo y valioso: presupuesto, preferencia de modelo, necesidades familiares, ubicación, compromiso de agendar, o cambio de etapa.\nfalse en saludos, preguntas generales, o info ya registrada antes.\n\n### GUÍA DE ETAPAS\n- Abierta: cliente nuevo, descubriendo necesidades, sin presupuesto definido.\n- Desarrollada: presupuesto o preferencias claras, evaluando modelos específicos.\n- Cierre: cliente comprometido — solicitó cita/llamada, consultó precio aceptando derivación, o tomó una decisión.\n\nActualizar etapa solo cuando hay progreso claro. Nunca retroceder.\n\n### CAPTURA DE NOMBRE Y APELLIDO\nSi el cliente menciona su nombre y/o apellido en la conversación, incluilos por separado — aunque sea uno solo de los dos por ahora. No inventes ni completes el que falte.\n\n### RESUMEN ACUMULADO\n  Actualizá el resumen de la conversación (el que tenés arriba, en \"Resumen de la conversación previa\") incorporando lo que pasó en este turno. No lo reemplaces desde cero — expandilo o ajustalo, manteniendo lo relevante de antes. Máximo 150 palabras, priorizando lo más reciente si empieza a quedar muy largo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6944,-464],"id":"6930a098-68ee-4b86-a06b-03305aaa14a4","name":"AI Agent"},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst contextData = output.context_data;\n\nconst provincia = contextData.provincia || \"\";\n\nlet zona_cobertura = \"\";\nif (provincia === \"Salta\") {\n  zona_cobertura = \"Salta\";\n} else if ([\"Tucumán\", \"Santiago del Estero\", \"Jujuy\"].includes(provincia)) {\n  zona_cobertura = \"Norte\";\n} else if (provincia) {\n  zona_cobertura = \"Fuera de zona\";\n}\n\nconst subestado = zona_cobertura === \"Fuera de zona\"\n  ? \"Baja probabilidad de compra\"\n  : \"\";\n\nreturn {\n  json: {\n    ...output,\n    context_data: {\n      ...contextData,\n      zona_cobertura,\n      subestado\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7296,-464],"id":"5d8d7323-c4ee-4ad9-b2e5-ad0d25964287","name":"Code in JavaScript2"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[6816,-256],"id":"e3b1165d-de92-463f-8d7c-09063666ca40","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QUYO24DurfCqfZ17","name":"anthropic-agn-credential"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6992,-256],"id":"6164c0cf-1292-48cb-bed8-cbad38fdf79e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"Respuesta conversacional para el cliente\"\n    },\n    \"es_lead_caliente\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si este turno tiene información comercialmente valiosa\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"resumen_turno\": {\n          \"type\": \"string\",\n          \"description\": \"Resumen acumulado de toda la conversación hasta este turno, incorporando lo nuevo de este mensaje al resumen previo — no solo lo de este turno puntual.\"\n        },\n        \"etapa\": { \"type\": \"string\", \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"] },\n        \"modelo\": { \"type\": \"string\" },\n        \"presupuesto\": { \"type\": \"string\" },\n        \"nombre\": { \"type\": \"string\" },\n        \"apellido\": { \"type\": \"string\" },\n        \"email\": { \"type\": \"string\" },\n        \"provincia\": { \"type\": \"string\" },\n        \"ciudad\": { \"type\": \"string\" },\n        \"imagenes_enviadas\": {\n          \"type\": \"string\",\n          \"description\": \"Lista acumulada de imágenes ya enviadas, formato 'modelo:vista', separadas por coma. Debe incluir las previas más la nueva si se envió una imagen en este turno.\"\n        }\n      },\n      \"required\": [\"resumen_turno\", \"etapa\", \"modelo\", \"presupuesto\", \"nombre\", \"apellido\", \"email\", \"provincia\", \"ciudad\", \"imagenes_enviadas\"]\n    }\n  },\n  \"required\": [\"response\", \"es_lead_caliente\", \"context_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[7296,-256],"id":"eefeaad6-67af-43ca-8c4c-d9adb7518909","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[7296,-96],"id":"e84eb54e-9ce8-49cd-bba4-a3ba9d65e834","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"operation":"executeQuery","query":"insert into \"agnMemory\" (\n  remitente, nombre, apellido, etapa, modelo, presupuesto,\n  email, provincia, ciudad, zona_cobertura, subestado,\n  imagenes_enviadas, resumen_conversacion\n)\nvalues (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13\n)\non conflict (remitente)\ndo update set\n  nombre = coalesce(nullif(excluded.nombre, ''), \"agnMemory\".nombre),\n  apellido = coalesce(nullif(excluded.apellido, ''), \"agnMemory\".apellido),\n  etapa = coalesce(nullif(excluded.etapa, ''), \"agnMemory\".etapa),\n  modelo = coalesce(nullif(excluded.modelo, ''), \"agnMemory\".modelo),\n  presupuesto = coalesce(nullif(excluded.presupuesto, ''), \"agnMemory\".presupuesto),\n  email = coalesce(nullif(excluded.email, ''), \"agnMemory\".email),\n  provincia = coalesce(nullif(excluded.provincia, ''), \"agnMemory\".provincia),\n  ciudad = coalesce(nullif(excluded.ciudad, ''), \"agnMemory\".ciudad),\n  zona_cobertura = coalesce(nullif(excluded.zona_cobertura, ''), \"agnMemory\".zona_cobertura),\n  subestado = coalesce(nullif(excluded.subestado, ''), \"agnMemory\".subestado),\n  imagenes_enviadas = coalesce(nullif(excluded.imagenes_enviadas, ''), \"agnMemory\".imagenes_enviadas),\n  resumen_conversacion = coalesce(nullif(excluded.resumen_conversacion, ''), \"agnMemory\".resumen_conversacion);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7504,-464],"id":"a1e5c008-5e3d-4608-8865-519d01e8ccfc","name":"Execute a SQL query","credentials":{"postgres":{"id":"9INcjgEGGB5uIA0G","name":"Postgres Hyundai Ventas"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"filtra_mensajes","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"enlista items","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"session-id":{"main":[[{"node":"redis-recupera-estado-actual","type":"main","index":0}]]},"redis-recupera-estado-actual":{"main":[[{"node":"parsea-estado-ht","type":"main","index":0}]]},"parsea-estado-ht":{"main":[[{"node":"Redis","type":"main","index":0}]]},"filtra_mensajes":{"main":[[{"node":"is_reaction?","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"enlista items":{"main":[[{"node":"expande items","type":"main","index":0}]]},"is_reaction?":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"session-id","type":"main","index":0}]]},"expande items":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}],[{"node":"CampoTexto","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"CampoTexto":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"Obtener-contacto-id":{"main":[[{"node":"Si-existe-contacto1","type":"main","index":0}]]},"Obtener-conversacion-id":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Guardar-mensaje-entrante":{"main":[[{"node":"If1","type":"main","index":0}]]},"Crear-contacto":{"main":[[{"node":"Redis-Set-Contacto","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante":{"main":[[{"node":"Redis-Set-Conversacion","type":"main","index":0}]]},"Si-existe-contacto":{"main":[[{"node":"Redis-Get-Conversacion","type":"main","index":0}],[{"node":"Crear-contacto","type":"main","index":0}]]},"Si-existe-conversacion":{"main":[[{"node":"Guardar-mensaje-entrante","type":"main","index":0}],[{"node":"Crear-contact-inbox","type":"main","index":0}]]},"Redis-Get-Contacto":{"main":[[{"node":"SI-contacto-en-cache","type":"main","index":0}]]},"SI-contacto-en-cache":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}],[{"node":"Obtener-contacto-id","type":"main","index":0}]]},"Redis-Set-Contacto":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"Redis-Set-Contacto-Existente":{"main":[[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Redis-Get-Conversacion":{"main":[[{"node":"SI-conversacion-en-cache","type":"main","index":0}]]},"SI-conversacion-en-cache":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}],[{"node":"Obtener-conversacion-id","type":"main","index":0}]]},"Redis-Set-Conversacion":{"main":[[{"node":"If1","type":"main","index":0}]]},"Si-existe-contacto1":{"main":[[{"node":"Redis-Set-Contacto-Existente","type":"main","index":0}],[{"node":"Si-existe-contacto","type":"main","index":0}]]},"Si-existe-conversacion1":{"main":[[{"node":"Redis-Set-Conversacion-Existente","type":"main","index":0}],[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente":{"main":[[{"node":"Si-existe-conversacion","type":"main","index":0}]]},"Crear-contact-inbox":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Si-existe-conversacion1","type":"main","index":0}]]},"typing_indicator":{"main":[[{"node":"Redis-Get-Contacto","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"553df3e7-cf3d-4cc9-811b-d8b54817d9c1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-03T13:23:22.000Z","createdAt":"2026-07-03T13:23:22.000Z","role":"workflow:owner","workflowId":"OCeJkpXTl5ZoHo9S","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}