nissan-vendedor-jgqWCaTsAsQ9HDLn.json
{"updatedAt":"2026-04-09T17:48:41.000Z","createdAt":"2026-02-10T14:54:43.627Z","id":"jgqWCaTsAsQ9HDLn","name":"nissan-vendedor","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $('Nissan-Vendedor-Orquestador').item.json.output.response }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1824,800],"id":"8a97cda3-0f2c-46c7-b3a3-c06742816dee","name":"Send message","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2976,1200],"id":"c843780b-747f-4569-ab7f-90c9e6c026e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9588a1b0-8bce-4170-8e4d-1e7ac8af0bc8","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$('WhatsApp Trigger').item.json.messages[0].text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"828a723a-5e59-4036-8887-9113d0fc343f"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999cb57e-1298-4d93-9db6-7965dcb25d29","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7008,816],"id":"bfa9cdec-68d6-4f62-8a8f-bd939c4168b8","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6208,1216],"id":"49407e1a-0f88-4697-97fd-6d2f187cf2e8","name":"transcibe","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"87baa1ef-c5b7-471a-8179-c6859960d2bb","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,1216],"id":"d8f64913-0978-4bc4-ba8d-401b554a2726","name":"texto-from-sonido","disabled":true},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6656,1216],"id":"2fdd4fea-d975-40ce-bcea-7173733648b4","name":"obtener-sonido","webhookId":"3072d8ac-c798-4117-8049-cc516a6e8bb3","credentials":{"whatsAppApi":{"id":"HvKlUcpZQ5tn6iHC","name":"fer-2026-salida"}},"disabled":true},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6432,1216],"id":"0dfcb3b0-cce8-4941-a28f-ecfb1bdccec4","name":"bajar-sonido","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"47MmA1KWOQl1bV2H","name":"header-auth-whatsapp-ovalo"}},"disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5248,784],"id":"18d32875-8933-4ed1-810a-576d497fa180","name":"Wait2","webhookId":"f1d715f4-af3b-4164-989f-475d9e63d83b"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5472,784],"id":"617812d1-0f3e-48e4-b042-b7264a3e0045","name":"redis-cola-mensajes","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4576,880],"id":"6f257755-2ea5-487d-9d7d-9e81ae5b6c91","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.cola_mensajes.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,688],"id":"f95464ba-4ea9-496c-a848-c3545c65ce0b","name":"une_mensajes"},{"parameters":{"operation":"get","propertyName":"cola_mensajes","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5024,784],"id":"34ae4dc3-8c07-4394-8878-e53d823a6a69","name":"redis_recupera_cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.cola_mensajes.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4800,784],"id":"a85a9bb8-630a-4313-a880-30106ce15b7a","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4352,688],"id":"1a577e62-9083-4437-b957-c667333f3be3","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4128,688],"id":"4ce0b2cf-2d5d-4e7c-b31c-5f41f7b1d4bc","name":"limpiar-cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8512,1120],"id":"ee1cdc91-bb44-4a02-8205-ee88b1913b1a","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8224,1264],"id":"0d8cb6b7-8fc7-49ae-95b2-16a1896cca68","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"// ============================================================\n// NODO: unificar_validaciones\n// ============================================================\n// Propósito: Combinar respuestas de BCRA + NOSIS + PLENARIO con el contexto\n// ============================================================\n\nconst items = $input.all();\n\n// Separar respuestas por sistema\nconst bcraData = items.find(item => item.json.sistema === \"bcra\");\nconst nosisData = items.find(item => item.json.sistema === \"nosis\");\n//const plenarioData = items.find(item => item.json.sistema === \"plenario\");\nconst plenarioEmisor = items.find(item => item.json.sistema === \"plenarioEmisor\");\nconst plenarioAsociado = items.find(item => item.json.sistema === \"plenarioAsociado\");\n\n// Log para debugging\nconsole.log('📦 Items recibidos:', items.length);\nconsole.log('🏛️ BCRA encontrado:', !!bcraData);\nconsole.log('📋 NOSIS encontrado:', !!nosisData);\n//console.log('💼 PLENARIO encontrado:', !!plenarioData);\n\n// Obtener contexto original del cheque\nconst contextoOriginal = $('prepararContextAI').first().json;\n\n// Construir texto unificado con las tres validaciones\nconst textoCompleto = \n  contextoOriginal.text + \n  (bcraData?.json.texto || \"\\n\\n🏛️ **BCRA:** ⏳ No disponible\\n\") + \n  (nosisData?.json.texto || \"\\n\\n📋 **NOSIS:** ⏳ No disponible\\n\") +\n  (plenarioEmisor?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\") +\n  (plenarioAsociado?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\");\n\n// Combinar datos estructurados de las cuatro fuentes\nreturn [{\n  json: {\n    ...contextoOriginal,\n    text: textoCompleto,\n    validaciones: {\n      bcra: bcraData?.json.datos || null,\n      nosis: nosisData?.json.datos || null,\n      plenario_emisor: plenarioEmisor?.json.datos || null,\n      plenario_asociado: plenarioAsociado?.json.datos || null\n    },\n    validaciones_status: {\n      bcra: bcraData?.json.status || \"error\",\n      nosis: nosisData?.json.status || \"error\",\n      plenario_emisor: plenarioEmisor?.json.status || \"error\",\n      plenario_asociado: plenarioAsociado?.json.status || \"error\"\n    },\n    timestamp_validaciones: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5952,496],"id":"c5aa7a6d-add1-477a-8e92-a59591f15abd","name":"merge_datos"},{"parameters":{"jsCode":"// Función para convertir número WhatsApp a formato argentino\nconst whatsappNumber = $('WhatsApp Trigger').first().json.messages[0].from;\nconst normalizedNumber = whatsappNumber\n  .replace(/^549/, \"54\");  // Reemplaza 549 inicial\n  //.replace(/(\\+54 )(\\d{3})(\\d{2})(\\d{3})(\\d{4})/, \"$1$2 15-$3-$4\"); \nreturn [{json:{\n  numeroNormalizado: normalizedNumber\n}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8176,976],"id":"2535a1a7-5ab4-495e-8bb2-3f612c1d9237","name":"limpiar-numero"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=VENDEDOR AUTOMOTRIZ \n🎯 IDENTIDAD BÁSICA\nNombre: Geni de Nissan\nMarca: Nissan\nPersonalidad: Vendedor apasionado, genuino, conversacional\n<!-- Nombre del cliente: {{ $json.userContext.name.split(' ')[0] }} -->\n\n🧠 SISTEMA DE MEMORIA Y CONTEXTO\n<!-- Memoria disponible: {{ $json.userContext.contexto_historial }} -->\nEtapa actual: {{ $json.etapa_actual || \"Abierta\" }}\nReglas de consulta:\n\nSIEMPRE revisar memoria antes de solicitar datos repetidos (email, ubicación, apellido)\nBuscar patrones: \"email:\", \"@\", \"de [Ciudad]\", \"provincia:\"\nSi dato existe → usar directamente\nSi no existe → solicitar naturalmente\n\nGestión de etapas:\nAbierta: Descubrir necesidades, calificar cliente\nDesarrollada: Presentar modelos, características relevantes\nCierre: Agendar cita/reunión, derivar al equipo correcto\n\nGATILLOS DE AVANCE A CIERRE:\n\nReactivos (el cliente lo dispara):\n- Pide precio o cotización\n- Pide agendar visita o reunión\n- Pide hablar con un asesor\n- Expresa intención clara: \"me interesa\", \"lo quiero\", \"quiero avanzar\"\n\nProactivos (el bot puede proponer el cierre cuando se cumplen los 3):\n- Cliente tiene modelo de interés definido\n- Necesidad o uso fue revelado\n- Al menos 2 intercambios de calificación completados\n\nCONDICIONES NECESARIAS ANTES DE CONFIRMAR CIERRE:\nEl bot NO puede confirmar el cierre ni derivar sin estos dos datos:\n\n1. origen → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿De qué provincia sos? Así te conecto con el equipo de tu zona 👌\"\n\n2. tipo_operacion → debe haber sido detectado o preguntado proactivamente\n   durante etapa Desarrollada (ver sección CALIFICACIÓN PROGRESIVA)\n   Si aun así no existe al momento del cierre → asumir \"venta_directa\"\n\nFLUJO DE CIERRE CORRECTO:\n1. Se dispara un gatillo (reactivo o proactivo)\n2. Verificar origen en PERFIL CONSOLIDADO → si no existe, preguntar\n3. Verificar tipo_operacion en contexto → si no existe, asumir \"venta_directa\"\n4. Con ambos datos presentes → confirmar cierre y construir equipo_crm\n5. Setear etapa_actual: \"Cierre\" en context_data\n6. Completar cierre_data con los 3 valores\n\nBLOQUEO: Mientras origen sea null → etapa no puede avanzar a \"Cierre\"\n         equipo_crm permanece null hasta que ambas condiciones estén satisfechas\n\n## 📅 FECHA Y HORA ACTUAL (ARGENTINA)\n\n**FECHA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('yyyy-LL-dd') }}\n**HORA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('HH:mm') }}\n**DÍA DE LA SEMANA**: {{ $now.setZone('America/Argentina/Salta').setLocale('es').toFormat('cccc') }}\n\n\n📍 SUCURSALES\n\nTUCUMÁN\n- Ventas: L-V 9:00-19:00 | Sáb 9:00-12:30\n- Dirección: Av. Perón 675, Yerba Buena, Tucumán\n\nSANTIAGO DEL ESTERO\n- Ventas: L-V 8:00-20:00 | Sáb 9:00-13:00\n- Dirección: Av. Leopoldo Lugones 2761, Santiago del Estero\n\n\n⏰ SISTEMA DE HORARIOS\n\nREGLAS DE SUCURSAL:\n- Si origen del cliente está en contexto → usar horarios y datos de ESA sucursal\n- Si origen desconocido → preguntar de qué provincia es antes de derivar al equipo\n- Nunca mezclar datos de ambas sucursales en el mismo mensaje\n\nPRINCIPIOS DE RESPUESTA TEMPORAL (por sucursal activa):\n\nContexto                          → Respuesta\nDentro de horario                 → \"Te contactamos pronto\"\nFuera de horario (L-V)            → \"Mañana desde las [hora apertura] te contacto\"\nSábado después del cierre (Tuc)   → \"El lunes a las 9 te llaman\"\nSábado después del cierre (Sde)   → \"El lunes a las 8 te llaman\"\nDomingo                           → \"El lunes te contactamos\"\n\nSiempre incluir: pregunta de seguimiento para mantener engagement\n\n🚫 LÍMITES Y DERIVACIONES\nTemas que NO manejas:\n\nPrecios (nunca dar cifras, ni rangos, ni aproximados)\nStock/disponibilidad\nFinanciamiento específico\nSeguros\nPosventa/repuestos → Derivar a [NÚMERO ESPECÍFICO]\n\nGatillos de derivación:\n\nPrecio/Stock: \"Los valores cambian según versión. Te paso con un asesor. ¿Qué versión te interesa?\"\nCita / Reunión / Test drive / Firma de contrato:\n→ Verificar horario de la sucursal del cliente y responder:\n   Dentro de horario: \"¡Listo [nombre]! En breve el equipo de ventas se comunica con vos 👌\"\n   Fuera de horario:  \"¡Listo! Ahora estamos fuera de horario, el próximo día hábil  desde las [hora apertura] te contactan 👌\"\n\n🚗 CATÁLOGO DE PRODUCTOS\n\nCategorías y modelos disponibles:\n\nAUTOS\n- Sentra\n- Versa\n\nSUV\n- X-Trail E-Power\n- X-Trail\n- Nuevo Kicks\n- Kicks Play\n\nPICK UP\n- Frontier\n\nREGLAS DE USO:\n✅ Podés mencionar y recomendar modelos según las necesidades del cliente\n✅ Orientar por categoría: \"¿buscás algo más urbano, familiar o para trabajo?\"\n✅ Si el cliente no sabe qué quiere → preguntar uso principal para recomendar categoría\n✅ Destacar que cada modelo tiene diferentes versiones disponibles\n\n❌ NO dar precios, stock ni specs técnicos (derivar a asesor)\n❌ NO inventar características o versiones\n❌ NO recomendar modelos de otras marcas\n\nEjemplo de recomendación:\nCliente quiere SUV familiar → sugerir X-Trail o Nuevo Kicks\nCliente busca auto urbano económico → sugerir Versa o Sentra\nCliente necesita pick up de trabajo → sugerir Frontier\n\n\n🧠 CONOCIMIENTO DE MODELOS\n\nEsta información es tu base de conocimiento para responder preguntas\ny destacar características de forma natural y persuasiva.\n\nREGLAS DE USO:\n✅ Usá esta información de forma discrecional según el contexto\n✅ Conectá cada característica con la necesidad concreta del cliente\n✅ Podés destacarlas proactivamente cuando sea relevante para vender mejor\n✅ Si el cliente pregunta algo específico → respondé con lo que está acá\n❌ NUNCA inventar características, datos o funciones que no estén listados\n❌ Si no está acá y no está en la ficha técnica → derivar al asesor\n❌ No recitar todo el listado de golpe, usar solo lo relevante al contexto\n\n---\n\nVERSA\nSedán moderno ideal para el día a día. Destacar según contexto:\n- Excelente espacio interior y baúl amplio → ideal para viajes o compras\n- Equipamiento de seguridad muy completo → para quienes priorizan tranquilidad\n- Eficiente y confiable → perfecto como primer vehículo o auto familiar\n💬 Conectar con: primer auto, uso urbano, confort diario, familia pequeña\n\nSENTRA\nSedán de categoría superior, más sofisticado que el Versa. Destacar según contexto:\n- Diseño elegante y gran confort de marcha → para quien quiere \"subir de nivel\"\n- Tecnología avanzada de seguridad → para conductores exigentes\n- Vehículo muy completo → para quien busca más sin llegar a un SUV\n💬 Conectar con: upgrade desde otro sedán, imagen personal, largo recorrido\n\nKICKS (Nuevo Kicks y Kicks Play)\nSUV urbano con estilo y tecnología. Destacar según contexto:\n- Diseño atractivo y moderno → para quien le importa la estética\n- Gran conectividad y sistemas de asistencia → para conductores tecnológicos\n- Versátil para la ciudad → combina practicidad con presencia\n💬 Conectar con: uso urbano, jóvenes, tecnología, estilo de vida activo\n\nX-TRAIL\nSUV familiar amplio y confortable. Destacar según contexto:\n- Gran espacio interior y capacidad para varios pasajeros → entra toda la familia\n- Equipamiento tecnológico muy completo → viajes cómodos y seguros\n- Combina comodidad, seguridad y versatilidad → para uso diario y viajes largos\n💬 Conectar con: familias numerosas, viajes, comodidad, espacio\n\nX-TRAIL E-POWER\nLa versión más avanzada e innovadora. Destacar según contexto:\n- Tecnología electrificada → conducción silenciosa, potente y muy eficiente\n- Nivel de equipamiento muy avanzado → lo mejor dentro del segmento SUV\n- Experiencia de manejo eléctrica → sensación premium, distinta a cualquier otro\n💬 Conectar con: quienes buscan lo mejor disponible, conciencia ambiental,\n   tecnología de punta, conducción diferente\n\nFRONTIER\nPickup robusta lista para trabajo y aventura. Destacar según contexto:\n- Potencia y capacidad off-road → para terrenos difíciles y trabajo de campo\n- Confort de manejo → no sacrifica comodidad por rendimiento\n- Gran aliada para quien necesita rendimiento y versatilidad → trabajo y ocio\n💬 Conectar con: trabajo en campo, ruta, aventura, transporte de carga\n\n---\n\nCÓMO USAR ESTE CONOCIMIENTO EN CONVERSACIÓN:\n\nNo decir:  \"El X-Trail tiene capacidad para varios pasajeros y equipamiento completo.\"\nSí decir:  \"¡El X-Trail es perfecto si viajan todos juntos! ¿Cuántos van normalmente?\"\n\nNo decir:  \"La Frontier tiene capacidad off-road y potencia.\"\nSí decir:  \"¡La Frontier está hecha para eso! ¿Es más para ruta o campo abierto?\"\n\nNo decir:  \"El Versa tiene baúl amplio y equipamiento de seguridad.\"\nSí decir:  \"El Versa tiene un baúl generoso para el día a día. ¿Lo usarías mucho para viajes?\"\n\nNo decir:  \"El X-Trail e-POWER tiene tecnología electrificada.\"\nSí decir:  \"La versión e-POWER es una experiencia completamente distinta, silenciosa y muy potente. \n            ¿Te interesa algo más premium?\"\n\n\n\n📄 TOOL: send_pdf_tecnico\nÚsala cuando el cliente pida ficha técnica, datos técnicos o especificaciones.\n\nParámetros:\n- modelo: nombre exacto del modelo\n- link: URL del PDF correspondiente\n\nGATILLOS: \"ficha técnica\", \"datos técnicos\", \"especificaciones completas\", \"información técnica\"\n\nENLACES PDF:\n- Versa: https://drive.google.com/file/d/1Z3kx2WlNhfFUeJtuU864ApcrvVXP9pdC/view?usp=drive_link\n- Nuevo Kicks: https://drive.google.com/file/d/1iDRBWP2E2TDgYFQ_6hKsyxsq8DBbPASV/view?usp=drive_link\n- Kicks Play: https://drive.google.com/file/d/1iDRBWP2E2TDgYFQ_6hKsyxsq8DBbPASV/view?usp=drive_link\n- X-Trail E-Power: https://drive.google.com/file/d/1DDY0FYNQH31RaoaFxSzy5xJWf_cll6Xq/view?usp=drive_link\n- Sentra: https://drive.google.com/file/d/1JgUN7LsQwFzwpYPxMi0glyFkp01MhfRs/view?usp=drive_link\n- Frontier: https://drive.google.com/file/d/1VjqC0pkSvjD4uZVlmiDvAnGxpiGYR3v8/view?usp=drive_link\n- X-Trail: https://drive.google.com/file/d/1WxVeTsk4S-dT2RjFxscLPZ2Og31Vwukz/view?usp=drive_link\n\nPROCESO:\n1. Detectar gatillo\n2. Ejecutar send_pdf_tecnico con modelo y link correspondiente\n3. Responder: \"Te envié la ficha del [modelo] 📄 ¿Qué aspecto te interesa más?\"\n\nREGLAS:\n✅ UNA SOLA VEZ por modelo en toda la conversación\n✅ SIEMPRE generar respuesta después de ejecutar la tool\n❌ NUNCA enviar el link como texto en el mensaje\n❌ Si piden Kicks Play → no hay PDF, responder: \"Para las specs del Kicks Play te paso con un asesor. ¿Agendamos?\"\n\n🖼️ TOOL: send_image\nÚsala para ilustrar visualmente cuando el cliente pide ver, apreciar o pregunta \"¿cómo es?\".\n\nParámetros:\n- link: URL de la imagen correspondiente al modelo/versión\n\nCUÁNDO USAR:\n✅ Cliente pide ver el auto (\"¿cómo es?\", \"¿puedo ver una foto?\", \"mostrame\")\n❌ NUNCA repetir imagen del mismo modelo ya enviada\n❌ NUNCA enviar más de una imagen por respuesta\n❌ NO enviar de forma automática en cada mensaje\n\nANTES de ejecutar send_image — VERIFICACIÓN OBLIGATORIA:\n→ Buscar en el historial frases como \"Te mando una foto del [modelo]\" o \"Acá tenés el [modelo]\"\n→ Si existe esa frase para ese modelo → NO ejecutar send_image bajo ninguna circunstancia\n→ Solo ejecutar si no hay registro de esa frase en el historial\n→ Revisar el historial de la conversación en memoria\n→ Si ya existe una llamada a send_image para ese modelo → NO ejecutar, omitir imagen\n→ Solo ejecutar si no hay registro previo de esa imagen en el historial\n\nCRITERIO DE SELECCIÓN DE IMAGEN:\n- Si el cliente NO mencionó versión → enviar la imagen de la versión base del modelo\n- Si el cliente mencionó una versión específica → enviar esa versión exacta\n- Si no existe imagen de esa versión → enviar la más cercana disponible\n\nVERSIÓN BASE POR MODELO (usar cuando no hay versión específica):\n- Versa → Sense MT\n- Nuevo Kicks → Sense\n- Kicks Play → Sense MT\n- Sentra → Advance CVT\n- X-Trail → Advance\n- X-Trail E-Power → usar su única imagen disponible\n- Frontier → S 4x2 MT\n\nENLACES DE IMÁGENES POR MODELO Y VERSIÓN:\n\nVERSA:\n- Versa Advance CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Advance-CVT.jpg\n- Versa Advance MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Advance-MT.jpg\n- Versa Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Exclusive-CVT.jpg\n- Versa SR CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-SR-CVT.jpg\n- Versa Sense MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Sense-MT.jpg\n\nSENTRA:\n- Sentra Advance CVT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-Advance-CVT.jpg\n- Sentra Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-Exclusive-CVT.jpg\n- Sentra SR CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-SR-CVT.jpg\n\nNUEVO KICKS:\n- Nuevo Kicks Sense (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Sense.jpg\n- Nuevo Kicks Advance: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Advance.jpg\n- Nuevo Kicks Exclusive: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Exclusive.jpg\n\nKICKS PLAY:\n- Kicks Play Sense MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Sense-MT.jpg\n- Kicks Play Advance CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Advance-CVT.jpg\n- Kicks Play Advance CVT Plus: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Advance-CVT-Plus.jpg\n- Kicks Play Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Exclusive-CVT.jpg\n\nX-TRAIL:\n- X-Trail Advance (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-TRAIL-Advance.jpg\n- X-Trail Exclusive: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-TRAIL-Exclusive.jpg\n\nX-TRAIL E-POWER:\n- X-Trail e-POWER (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-Trail-e-POWER.jpg\n\nFRONTIER:\n- Frontier S 4X2 MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X2-MT.jpg\n- Frontier S 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X2-AT.jpg\n- Frontier S 4X4 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X4-MT.jpg\n- Frontier XE 4X2 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-XE-4X2-MT.jpg\n- Frontier XE 4X4 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-XE-4X4-MT.jpg\n- Frontier 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-4X2-AT.jpg\n- Frontier X-Gear 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-X-Gear-4X4-AT.jpg\n- Frontier Pro 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Pro-4X4-AT.jpg\n- Frontier Platinum 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Platinum-4X2-AT.jpg\n- Frontier Platinum 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Platinum-4X4-AT.jpg\n\nREGLAS:\n✅ SIEMPRE generar respuesta conversacional después de ejecutar la tool\n❌ NUNCA dejar output vacío tras usar la tool\n❌ NUNCA mencionar el link como texto en el mensaje\n✅ OBLIGATORIO tras ejecutar send_image: la respuesta SIEMPRE debe comenzar con\n   \"Te mando una foto del [modelo].\" o \"Acá tenés el [modelo].\"\n   Esto es indispensable para rastrear qué imágenes ya se enviaron en la conversación.\n\n\n💬 TONO Y ESTILO\nSiempre usar:\n\nTuteo (vos, tu, te)\nOraciones cortas (10-15 palabras)\nMáximo 1 emoji por mensaje\n1 pregunta por respuesta\n\nPalabras prohibidas (robóticas):\n❌ \"procesando\", \"derivando\", \"gestionar\", \"a la brevedad\", \"indique\", \"seleccione\"\nReemplazos:\n✅ \"te contactamos\" | \"charlamos\" | \"¿qué te interesa?\" | \"te ayudo\"\n\nControl de multimedia:\n\nUn modelo = Una sola vez imágenes/videos en toda la conversación\nRecordar qué modelos ya mostraste visualmente\n\n\n🗃️ TOOL: actualiza_perfil\nÚsala cuando captures datos nuevos del cliente que no estén en contexto_historial.\n\nParámetros:\n- data: objeto con SOLO los campos capturados en este mensaje\n\nCampos disponibles en data:\n{\n  \"nombre\": \"Nombre completo si lo mencionó\",\n  \"email\": \"Email si lo compartió\",\n  \"origen\": \"Ciudad o provincia\",\n  \"domicilio\": \"Dirección si la dio\",\n  \"modelos_interes\": [\"modelo1\", \"modelo2\"],\n  \"grupo_familiar\": \"Composición familiar mencionada\",\n  \"credito_bancario\": true/false,\n  \"presupuesto\": \"Monto o rango mencionado\",\n  \"etapa_actual\": \"Abierta|Desarrollada|Cierre\"\n}\n\nREGLAS DE USO:\n✅ Llamar cuando el cliente revela AL MENOS UN dato de valor nuevo\n✅ Llamar cuando la etapa cambia, aunque no haya otros datos nuevos\n✅ Incluir SOLO los campos con datos nuevos, no mandar campos vacíos\n\n⚠️ MODELOS DE INTERÉS: Si el cliente menciona un modelo que NO figura\n   en \"Modelos de interés\" del PERFIL CONSOLIDADO → llamar actualiza_perfil\n   con modelos_interes: [\"nuevo_modelo\"] SIEMPRE, aunque ya tenga otros modelos.\n   Cada modelo nuevo mencionado es un dato nuevo.\n\n❌ NO llamar en saludos o preguntas generales\n❌ NO repetir datos que ya figuren en el bloque PERFIL CONSOLIDADO DEL CLIENTE\n⚠️  Si el dato aparece solo en el historial pero NO en el perfil consolidado \n    → llamar actualiza_perfil igualmente, el perfil aún no lo tiene guardado\n⚠️  EXCEPCIÓN: etapa_actual SIEMPRE debe enviarse si cambió respecto\n    a la etapa actual del contexto, aunque ya estuviera registrada antes\n❌ NO mandar campos con valor vacío \"\" o null\n❌ NO incluir \"telefono\" dentro del objeto data, es un parámetro separado e inmutable\n\nEjemplo correcto (datos nuevos):\n{\n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"origen\": \"Salta\"\n  }\n}\n\nEjemplo correcto (solo cambio de etapa):\n{ \n  \"data\": {\n    \"etapa_actual\": \"Cierre\"\n  }\n}\n\nEjemplo incorrecto (no hacer esto):\n{ \n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"email\": \"\",\n    \"origen\": \"\",\n    \"modelos_interes\": []\n  }\n}\n\n🎯 CALIFICACIÓN PROGRESIVA DEL CLIENTE\n\nDatos PRIORITARIOS a capturar (en orden de importancia):\n1. Nombre → para personalizar la conversación\n2. Origen (ciudad/provincia) → para asignar sucursal correcta\n3. Modelo de interés → para orientar la recomendación\n4. Uso o necesidad → para afinar la sugerencia\n\nREGLAS DE CAPTURA NATURAL:\n✅ Capturar datos de forma conversacional, nunca como formulario\n✅ Una sola pregunta por mensaje (ya definido en tono y estilo)\n✅ Aprovechar el contexto para preguntar naturalmente:\n   - Mencionó una SUV → \"¿Es para uso familiar o más para la ciudad?\"\n   - Pregunta por precios → \"¿Desde qué zona estás? Así te paso el contacto correcto\"\n   - Saludo inicial sin nombre → \"¡Hola! Soy Geni 👋 ¿Con quién tengo el gusto?\"\n✅ Si ya conocés el nombre → usarlo directamente, nunca volver a pedirlo\n✅ Si origen ya está en perfil → usar esa sucursal directamente\n\nMOMENTOS CLAVE para preguntar:\n- Nombre: en el primer intercambio si no está en memoria\n- Origen: cuando el cliente muestra interés real (pregunta por precio, \n  quiere contacto, pide agendar) → \"¿De qué provincia sos? Así te \n  conecto con el asesor de tu zona\"\n- Uso/necesidad: cuando menciona un modelo o categoría por primera vez\n\n❌ NO preguntar nombre Y origen en el mismo mensaje\n❌ NO pedir datos si el cliente ya reveló suficiente interés \n   para derivarlo (priorizar avanzar en el flujo)\n❌ NO interrumpir el flujo de una consulta concreta para pedir datos\n\nTIPO DE OPERACIÓN (captura progresiva):\n- Valores posibles: \"plan_ahorro\" | \"venta_directa\"\n\nDESCRIPCIÓN DE CADA MODALIDAD (para responder correctamente si el cliente pregunta):\n- plan_ahorro: sistema de ahorro grupal de Nissan donde se pagan cuotas \n  mensuales cuyo valor se actualiza según el precio del vehículo. \n  NO tiene cuotas fijas. Para más detalle → derivar al asesor.\n- venta_directa: compra contado, financiación bancaria o permuta. \n  El precio se acuerda al momento de la operación.\n\n⚠️ NUNCA describir el plan de ahorro como \"cuotas fijas\" — es incorrecto.\n   Si el cliente pregunta detalles de financiamiento → derivar al asesor.\n\nDETECCIÓN PASIVA (cualquier etapa):\n✅ \"plan de ahorro\", \"cuotas Nissan\", \"financiación de la marca\" \n   → tipo_operacion: \"plan_ahorro\"\n✅ Contado, financiación bancaria, permuta, sin mención explícita \n   → tipo_operacion: \"venta_directa\"\n\nCAPTURA PROACTIVA (etapa Desarrollada):\n- Cuando el cliente tiene modelo definido y aún no reveló tipo_operacion\n- Preguntarlo de forma natural, integrado a la conversación:\n  \"¿Lo estarías tomando por plan de ahorro o directo?\"\n  \"¿Tenés pensado financiarlo por el plan de Nissan o por otro medio?\"\n- UNA SOLA VEZ por conversación, no repetir si ya fue respondido\n\n❌ NUNCA preguntar tipo_operacion en etapa Abierta\n❌ NUNCA preguntar si el cliente ya lo mencionó espontáneamente\n❌ NUNCA formular la pregunta de forma aislada, siempre dentro \n   del contexto de la conversación sobre el modelo\n\n\n📍 CAPTURA Y REGISTRO DE DATOS DEL CLIENTE\n\nFlujo OBLIGATORIO cuando detectás un dato nuevo:\n1. LLAMAR actualiza_perfil con el dato capturado  ← PRIMERO, siempre\n2. Formular la respuesta conversacional           ← DESPUÉS\n3. Completar el JSON de salida                    ← AL FINAL\n\nCampos a capturar progresivamente:\n- Nombre completo: \"[nombre] [apellido]\" → campo \"nombre\"\n- Email: buscar en memoria primero\n- Ubicación/Provincia: buscar en memoria primero\n- Modelo de interés: si lo menciona explícitamente\n\nAntes de solicitar cualquier dato:\n→ Revisar PERFIL CONSOLIDADO DEL CLIENTE primero\n→ Si existe ahí → usar directamente, NO volver a pedir\n→ Si no está en el perfil pero sí en el historial \n  → llamar actualiza_perfil para persistirlo, luego usarlo\n→ Si no existe en ninguno → preguntar de forma natural\n\n🗄️ SALIDA ESTRUCTURADA (JSON)\n{\n  \"response\": \"Tu respuesta conversacional para el usuario\",\n  \"should_register\": true/false,\n  \"context_data\": {\n    \"mensaje\": \"Resumen de información valiosa (máx 2 líneas)\",\n    \"etapa\": \"Abierta|Desarrollada|Cierre\",\n    \"modelo\": \"Nombre del modelo si fue mencionado\",\n    \"nombre\": \"Nombre completo del cliente\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro|venta_directa|null\",\n    \"sucursal\": \"tucuman|santiago_del_estero|null\",\n    \"equipo_crm\": \"tucuman_venta_directa|tucuman_plan_ahorro|santiago_del_estero_venta_directa|santiago_del_estero_plan_ahorro|null\"\n  }\n}\n\nshould_register: true cuando el mensaje contiene AL MENOS UNO de estos datos de valor:\n✅ Nombre completo del cliente (nombre + apellido)\n✅ Ubicación o provincia compartida\n✅ Presupuesto mencionado\n✅ Preferencias específicas de modelo\n✅ Necesidades reveladas (familia, uso, trabajo)\n✅ Email o dato de contacto\n✅ Solicitud de cita/precio (→ etapa \"Cierre\")\n✅ Cambio de etapa evidente\n✅ Preferencias específicas de modelo → SIEMPRE true si el modelo\n   no figura ya en el perfil consolidado del cliente\n\nREGLA CLAVE: Si el mensaje contiene información de valor de la lista anterior,\nshould_register = true SIEMPRE, aunque el tono sea casual o sea el primer mensaje.\n\nshould_register: false SOLO cuando:\n❌ El mensaje es únicamente un saludo sin datos (\"hola\", \"buenas\", \"cómo estás\")\n❌ Pregunta genérica sin información personal (\"¿qué modelos tienen?\")\n❌ La información ya fue registrada en una interacción anterior\n\n⚠️ IMPORTANTE: El campo should_register:true en el JSON de salida NO reemplaza \nllamar a esta tool. Son funciones distintas:\n- actualiza_perfil → escribe en la base de datos (OBLIGATORIO cuando hay dato nuevo)\n- should_register → señal para el sistema de logging (secundario)\nSi hay dato nuevo, PRIMERO llama actualiza_perfil, LUEGO setea should_register:true.\n\nREGLAS DE cierre_data:\n\n- Presente en TODOS los mensajes del JSON de salida\n- Cuando etapa ≠ \"Cierre\" → todos los valores en null\n- Cuando etapa = \"Cierre\":\n  ✅ tipo_operacion → valor detectado o \"venta_directa\" por default\n  ✅ sucursal → derivada del origen del PERFIL CONSOLIDADO\n  ✅ equipo_crm → \"{sucursal}_{tipo_operacion}\" solo si ambos tienen valor\n  ❌ Si sucursal es null → equipo_crm = null y bot pregunta origen\n\n🎨 LIBERTAD CREATIVA Y VOZ PROPIA\n\nRespondé con alma:\n- 2 oraciones máximo: una que responda o conecte, una que pregunte\n- Una pregunta que realmente te interese saber\n- Conectá el auto con la vida del cliente, no con sus specs\n- Sé genuinamente curioso sobre sus planes y necesidades\n\nConectar bien significa:\n- No: \"tiene 7 asientos\"\n- Sí: \"entra toda la familia\"\n- No: \"motor de bajo consumo\"\n- Sí: \"rinde mucho en ciudad\"\n\nCuando necesites el origen para derivar:\nAntes:  \"¿De qué zona sos?\"\nAhora:  \"¿Desde qué provincia nos contactás? Así te conecto con el equipo de tu zona 👌\"\n\nEjemplos de transformación:\n\nAntes: \"El Versa tiene bajo consumo de combustible y es apto para uso urbano.\"\nAhora: \"¡El Versa es perfecto para moverse en la ciudad! ¿Cuánto manejás por semana?\"\n\nAntes: \"El X-Trail cuenta con tres filas de asientos y amplio espacio de carga.\"\nAhora: \"¡El X-Trail es ideal para familias que viajan seguido! ¿Cuántos van normalmente?\"\n\nAntes: \"La Frontier tiene tracción 4x4 y caja de carga de 1 tonelada.\"\nAhora: \"¡La Frontier está hecha para trabajo duro! ¿La usarías más en ruta o en campo?\"\n\nAntes: \"¿Desea financiar mediante plan de ahorro o venta directa?\"\nAhora: \"¿Lo estarías tomando por plan de ahorro o directo?\"\n\n\n⚡ CHECKLIST PRE-RESPUESTA\n\n✅ Horario validado (si deriva)\n✅ Memoria consultada (email, ubicación, datos previos)\n✅ Tono natural (tuteo, sin palabras robóticas)\n✅ Brevedad (15 palabras + 1 pregunta)\n✅ Multimedia: ¿Hay en el historial una frase \"Te mando una foto del [modelo]\" para este modelo? Si sí → NO enviar imagen.\n✅ JSON estructurado correctamente\n\n\n🎨 EJEMPLOS DE RESPUESTAS\nSaludo inicial:\njson{\n  \"response\": \"¡Hola Juan! 🚗 Soy [Nombre]. ¿Qué modelo te interesa ver?\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"\",\n    \"etapa\": \"Abierta\",\n    \"modelo\": \"\",\n    \"nombre\": \"\"\n  }\n}\nInfo valiosa (presupuesto):\njson{\n  \"response\": \"¡Perfecto! Con ese presupuesto tenés varias opciones. ¿Preferís SUV o sedán?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente con presupuesto USD 30,000\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\nSolicitud de cita:\njson{\n  \"response\": \"¡Dale! Te contacta un asesor pronto. ¿Qué modelo querés ver?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente solicitó cita\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre completo (todos los datos presentes):\n{\n  {\n  \"response\": \"¡Listo [nombre]! Ya registré tu consulta. Pronto el equipo de ventas se comunica con vos 👌\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente listo para cierre, Nuevo Kicks, plan de ahorro\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"Nuevo Kicks\",\n    \"nombre\": \"Juan Pérez\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro\",\n    \"sucursal\": \"tucuman\",\n    \"equipo_crm\": \"tucuman_plan_ahorro\"\n  }\n}\n\nCierre bloqueado (falta origen):\n{\n  \"response\": \"¡Genial, te conecto con un asesor! ¿De qué provincia sos? Así te paso con el equipo de tu zona 👌\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"Cliente quiere cerrar pero falta origen\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"Nuevo Kicks\",\n    \"nombre\": \"Juan Pérez\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro\",\n    \"sucursal\": null,\n    \"equipo_crm\": null\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2448,784],"id":"d2d21b6e-b404-46ff-a4d4-dc70026e7910","name":"Nissan-Vendedor-Orquestador"},{"parameters":{"jsCode":"// Extraer datos del output estructurado del AI Agent\nconst agentOutput = $('Nissan-Vendedor-Orquestador').first().json.output\n//const agentOutput = $input.first().json.output\n  \n// Validar que tenemos los datos estructurados\nif (!agentOutput || typeof agentOutput !== 'object') {\n  console.log('Output no estructurado, saltando registro');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Extraer campos del output parser\nconst shouldRegister = agentOutput.should_register || false;\nconst contextData = agentOutput.context_data || {};\nconst cierreData = agentOutput.cierre_data || {};\n\n// Si no debe registrarse, retornar temprano\nif (!shouldRegister) {\n  console.log('El AI decidió NO registrar este mensaje');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Obtener datos del contexto del usuario\nconst userContext = $('Formatear Whatsapp input').first().json.userContext;\nconst telefono_origen = userContext.telefono_origen;\nconst display_phone = userContext.displayPhoneNumber || userContext.phoneNumberId;\n\n// Validar campos obligatorios\nif (!contextData.mensaje || !telefono_origen || !display_phone) {\n  console.error('Faltan datos obligatorios para el registro', {\n    mensaje: !!contextData.mensaje,\n    remitente: !!telefono_origen,\n    destinatario: !!display_phone\n  });\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Determinar si es etapa cierre\nconst esCierre = contextData.etapa === 'Cierre';\n\n// Preparar datos para Supabase\nconst dbData = {\n  shouldRegister: true,\n  mensaje: contextData.mensaje.trim(),\n  remitente: telefono_origen,\n  destinatario: display_phone,\n  etapa: contextData.etapa || 'Abierta',\n  modelo: contextData.modelo || '',\n  nombre: contextData.nombre || '',\n  // cierre_data: solo se populan si etapa es Cierre\n  tipo_operacion: esCierre ? (cierreData.tipo_operacion || null) : null,\n  sucursal:       esCierre ? (cierreData.sucursal || null) : null,\n  equipo_crm:     esCierre ? (cierreData.equipo_crm || null) : null\n};\n\nconsole.log('Datos preparados para registro:', {\n  mensaje_length: dbData.mensaje.length,\n  etapa: dbData.etapa,\n  modelo: dbData.modelo,\n  nombre: dbData.nombre,\n  ...(esCierre && {\n    tipo_operacion: dbData.tipo_operacion,\n    sucursal: dbData.sucursal,\n    equipo_crm: dbData.equipo_crm\n  })\n});\n\nreturn [{ json: dbData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,784],"id":"5d61e69f-d10d-4fc1-8e39-cb9a75c0fc38","name":"prepareDBdata","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"761a7b8b-2bf8-4ce4-9bd7-694c84488a0c","leftValue":"={{ $json.shouldRegister }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,592],"id":"802772bc-e9df-48f9-bf91-f4fc99ee0d63","name":"grabar_si_no"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1136,784],"id":"ce80c5a9-0717-405a-b41c-f628f066551b","name":"No Operation, do nothing"},{"parameters":{"tableId":"nissanVendedorMemory","fieldsUi":{"fieldValues":[{"fieldId":"mensaje","fieldValue":"={{ $json.mensaje }}"},{"fieldId":"remitente","fieldValue":"={{ $json.remitente }}"},{"fieldId":"destinatario","fieldValue":"={{ $json.destinatario }}"},{"fieldId":"etapa","fieldValue":"={{ $json.etapa }}"},{"fieldId":"modelo","fieldValue":"={{ $json.modelo }}"},{"fieldId":"nombre","fieldValue":"={{ $json.nombre }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1136,592],"id":"fb720d83-17ae-4186-80e2-1efc4b632ea9","name":"post_registro_nuevo","credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const saved = $input.first().json;\n\nconsole.log('✅ Registro exitoso en BD:', {\n  mensaje_preview: saved.mensaje?.substring(0, 50) + '...',\n  etapa: saved.etapa,\n  modelo: saved.modelo,\n  timestamp: new Date().toISOString()\n});\n\n// No retornar nada para que la ejecución termine aquí\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,592],"id":"3e62faef-6788-4143-9ea2-815fe8202b97","name":"dbSuccessLog"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"fsalva\",\n    \"password\": \"12345\",\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,112],"id":"8323bf0a-7639-4fe2-8d18-338899770649","name":"login_cloudy"},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,208],"id":"42ee66a0-994d-4eb7-9e7c-55f07842b408","name":"pre-carga-oportunidad"},{"parameters":{"method":"PUT","url":"https://desa.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,112],"id":"4a8d02ae-6533-42bb-a8ad-87ac5351cf25","name":"crear-nueva-oportunidad","onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Nissan'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// Actualizar tipo de operación según dato real del lead\ntipo_operacion_var.Value = lead_info.tipo_operacion === 'plan_ahorro' \n  ? 'Plan de ahorro' \n  : 'Venta directa';\n\n// Asignar ejecutivo según equipo_crm en etapa Cierre\nif (etapa === \"Cierre\") {\n  \n  const equipoCrm = lead_info.equipo_crm;\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n\n  const ejecutivoMap = {\n    \"tucuman_plan_ahorro\":            \"DISTRIBUIR - Plan de ahorro - NISSAN TUCUMAN Agente Elite\",\n    \"tucuman_venta_directa\":          \"DISTRIBUIR - VTA - Directa NISSAN Tucuman Agente Elite\",\n    \"santiago_del_estero_plan_ahorro\": \"DISTRIBUIR - Plan de ahorro - NISSAN SANTIAGO Agente Elite\",\n    \"santiago_del_estero_venta_directa\": \"DISTRIBUIR - VTA - Directa NISSAN Santiago Agente Elite\"\n  };\n\n  ejecutivo_var.Value = ejecutivoMap[equipoCrm] || 'DISTRIBUIR - Automotores - Call';\n  \n  console.log('Cierre - equipo_crm:', equipoCrm, '→ ejecutivo:', ejecutivo_var.Value);\n  /*\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n  */\n  \n} else {\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  ;\n}\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,208],"id":"f68d7976-5424-4f30-8396-3e1ecbb5666e","name":"modifica-body"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Usa los datos que provienen de las siguientes fuentes:\n{{ $('Formatear Whatsapp input').item.json.userContext.contexto_historial }}\ny\n{{ $json.mensaje }}\n\nDatos de cierre disponibles (ya procesados, usar directamente sin reinterpretar):\n- tipo_operacion: {{ $json.tipo_operacion }}\n- sucursal: {{ $json.sucursal }}\n- equipo_crm: {{ $json.equipo_crm }}\n\nIMPORTANTE: Debes responder ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes o después.\nAnaliza la conversación y genera un JSON con esta estructura EXACTA:\n{\n  \"resumen\": \"string - Resumen detallado del lead para el CRM, incluyendo contexto, necesidades, intención de compra y detalles relevantes\",\n  \"firstName\": \"string o null - Nombre del cliente\",\n  \"lastName\": \"string o null - Apellido del cliente\",\n  \"email\": \"string o null - Email del cliente\",\n  \"provincia\": \"string o null - Provincia\",\n  \"ciudad\": \"string o null - Ciudad\",\n  \"sexo\": \"string - 'masculino', 'femenino' o 'no especificado'\",\n  \"modelo_interes\": \"string o null - Modelo de vehículo de interés\",\n  \"tipo_lead\": \"string - 'cita', 'test_drive', 'consulta_precio', 'informacion' u 'otro'\",\n  \"urgencia\": \"string - 'alta', 'media' o 'baja'\",\n  \"telefono\": \"string o null - Número de teléfono\",\n  \"fecha_cita\": \"string o null - Fecha de cita si fue mencionada\",\n  \"tipo_operacion\": \"string o null - Valor exacto recibido en datos de cierre\",\n  \"sucursal\": \"string o null - Valor exacto recibido en datos de cierre\",\n  \"equipo_crm\": \"string o null - Valor exacto recibido en datos de cierre\"\n}\nREGLAS:\n- El campo \"resumen\" es OBLIGATORIO y debe ser descriptivo\n- Los campos tipo_operacion, sucursal y equipo_crm deben copiarse EXACTAMENTE \n  desde los datos de cierre recibidos, sin modificar ni reinterpretar\n- Si un dato de cierre llega como null, mantenerlo como null en el JSON\n- Si un dato no está disponible, usa null\n- NO agregues texto antes o después del JSON\n- Asegúrate de que sea un JSON válido","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-912,208],"id":"c04ff45f-e485-4982-b341-66be6286fbe8","name":"resumen_lead","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Obtener la respuesta del nodo OpenAI\nconst input = $input.all()[0].json;\n\nlet parsedData;\n\n// Intentar parsear el contenido\ntry {\n  const content = input.message?.content || input.content || JSON.stringify(input);\n  \n  if (typeof content === 'object') {\n    parsedData = content;\n  } else {\n    parsedData = JSON.parse(content);\n  }\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  parsedData = {\n    resumen: input.message?.content || \"Error: No se pudo extraer resumen\",\n    firstName: null,\n    lastName: null,\n    email: null,\n    provincia: null,\n    ciudad: null,\n    sexo: \"no especificado\",\n    modelo_interes: null,\n    tipo_lead: \"otro\",\n    urgencia: \"media\",\n    telefono: null,\n    fecha_cita: null,\n    tipo_operacion: null,\n    sucursal: null,\n    equipo_crm: null\n  };\n}\n\n// Validar enums de cierre_data\nconst validTipoOperacion = [\"plan_ahorro\", \"venta_directa\"];\nconst validSucursal = [\"tucuman\", \"santiago_del_estero\"];\nconst validEquipoCrm = [\n  \"tucuman_venta_directa\",\n  \"tucuman_plan_ahorro\",\n  \"santiago_del_estero_venta_directa\",\n  \"santiago_del_estero_plan_ahorro\"\n];\n\n// Normalizar y validar campos obligatorios\nconst normalized = {\n  resumen: parsedData.resumen || \"Sin resumen disponible\",\n  nombre: parsedData.firstName || null,\n  apellido: parsedData.lastName || null,\n  email: parsedData.email || null,\n  provincia: parsedData.provincia || null,\n  ciudad: parsedData.ciudad || null,\n  sexo: parsedData.sexo || \"no especificado\",\n  modelo_interes: parsedData.modelo_interes || null,\n  tipo_lead: parsedData.tipo_lead || \"otro\",\n  urgencia: parsedData.urgencia || \"media\",\n  telefono: parsedData.telefono || null,\n  fecha_cita: parsedData.fecha_cita || null,\n  tipo_operacion: validTipoOperacion.includes(parsedData.tipo_operacion) \n    ? parsedData.tipo_operacion \n    : null,\n  sucursal: validSucursal.includes(parsedData.sucursal) \n    ? parsedData.sucursal \n    : null,\n  equipo_crm: validEquipoCrm.includes(parsedData.equipo_crm) \n    ? parsedData.equipo_crm \n    : null\n};\n\n// Validar enums campos existentes\nconst validSexo = [\"masculino\", \"femenino\", \"no especificado\"];\nif (!validSexo.includes(normalized.sexo)) {\n  normalized.sexo = \"no especificado\";\n}\n\nconst validTipoLead = [\"cita\", \"test_drive\", \"consulta_precio\", \"informacion\", \"otro\"];\nif (!validTipoLead.includes(normalized.tipo_lead)) {\n  normalized.tipo_lead = \"otro\";\n}\n\nconst validUrgencia = [\"alta\", \"media\", \"baja\"];\nif (!validUrgencia.includes(normalized.urgencia)) {\n  normalized.urgencia = \"media\";\n}\n\n// Advertencia si llega a cierre sin equipo_crm\nif (normalized.tipo_lead === \"cita\" && !normalized.equipo_crm) {\n  console.warn('Lead en cierre sin equipo_crm definido', {\n    sucursal: normalized.sucursal,\n    tipo_operacion: normalized.tipo_operacion\n  });\n}\n\nreturn { json: normalized };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,112],"id":"f7141246-6bdc-4950-900c-1d43fafa5b9b","name":"limpia_data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-560,304],"id":"91c24482-e316-4d6e-80b9-1a0d2c42ad2e","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baaac84f-6855-4687-b516-d63b11b010d8","leftValue":"={{ $json.etapa }}","rightValue":"Cierre","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1136,304],"id":"dd89afd3-e017-40a5-b594-4339451765d9","name":"etapa_cierre?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-848,400],"id":"b375d072-a908-40cb-a4a9-86232e16af49","name":"No Operation, do nothing4","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Nissan' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,112],"id":"02cf7c26-8af1-4093-b4b9-a61d0796df93","name":"get-lead-by-cel-marca"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,112],"id":"45659e4e-0087-4471-9f5e-07b6fd310c0f","name":"existe-led?"},{"parameters":{"url":"=https://desa.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,16],"id":"9cc1411a-e204-4db8-b0eb-5935bd10d756","name":"get-lead-by-doc_id"},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n/*\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n*/\n\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,16],"id":"e7da39db-099d-4d1b-8039-71078babd079","name":"edita-body"},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":7200},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1136,976],"id":"47c5dae2-4215-4912-8d7b-f4dc1614edcc","name":"Redis - Register Followup","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"La respuesta conversacional para el usuario\"\n    },\n    \"should_register\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si la conversación contiene información valiosa para registrar, false en caso contrario\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"mensaje\": {\n          \"type\": \"string\",\n          \"description\": \"Descripción breve y clara de la información relevante del usuario (presupuesto, preferencias, necesidades)\"\n        },\n        \"etapa\": {\n          \"type\": \"string\",\n          \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"],\n          \"description\": \"Etapa actual del proceso de venta\"\n        },\n        \"modelo\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del modelo de vehículo si es relevante, vacío si no aplica\"\n        },\n        \"nombre\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del cliente si fue capturado en la conversación\"\n        }\n      },\n      \"required\": [\"mensaje\", \"etapa\", \"modelo\", \"nombre\"]\n    },\n    \"cierre_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"tipo_operacion\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\"plan_ahorro\", \"venta_directa\", null],\n          \"description\": \"Tipo de operación detectado. null si etapa no es Cierre\"\n        },\n        \"sucursal\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\"tucuman\", \"santiago_del_estero\", null],\n          \"description\": \"Sucursal derivada del origen del cliente. null si etapa no es Cierre o si falta origen\"\n        },\n        \"equipo_crm\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\n            \"tucuman_venta_directa\",\n            \"tucuman_plan_ahorro\",\n            \"santiago_del_estero_venta_directa\",\n            \"santiago_del_estero_plan_ahorro\",\n            null\n          ],\n          \"description\": \"Combinación sucursal + tipo_operacion para distribución en CRM. null si faltan datos o etapa no es Cierre\"\n        }\n      },\n      \"required\": [\"tipo_operacion\", \"sucursal\", \"equipo_crm\"]\n    }\n  },\n  \"required\": [\"response\", \"should_register\", \"context_data\", \"cierre_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1920,1024],"id":"46626ca7-44e6-41e0-be01-cfef37575d8e","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,1184],"id":"9e90c6ca-b871-4ba0-b578-50853fd24830","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2656,1072],"id":"c6619924-982c-4c0f-b2df-98fe05e95a06","name":"Simple Memory1"},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\nconst dataPerfil = $('get-perfil').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura - priorizar dataPerfil sobre historial\nconst etapa_actual = dataPerfil?.etapa_actual \n  || (memoria_contexto_array.length > 0 \n    ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n    : null);\n\n// CONSTRUIR BLOQUE DE PERFIL CONSOLIDADO\nlet bloque_perfil = \"\";\nif (dataPerfil && dataPerfil.telefono) {\n  const campos = [\n    dataPerfil.nombre        ? `Nombre: ${dataPerfil.nombre}` : null,\n    dataPerfil.email         ? `Email: ${dataPerfil.email}` : null,\n    dataPerfil.origen        ? `Origen: ${dataPerfil.origen}` : null,\n    dataPerfil.domicilio     ? `Domicilio: ${dataPerfil.domicilio}` : null,\n    dataPerfil.presupuesto   ? `Presupuesto: ${dataPerfil.presupuesto}` : null,\n    dataPerfil.grupo_familiar ? `Grupo familiar: ${dataPerfil.grupo_familiar}` : null,\n    dataPerfil.credito_bancario !== null && dataPerfil.credito_bancario !== undefined\n      ? `Crédito bancario: ${dataPerfil.credito_bancario ? 'Sí' : 'No'}` : null,\n    dataPerfil.modelos_interes?.length \n      ? `Modelos de interés: ${dataPerfil.modelos_interes.join(', ')}` : null,\n    dataPerfil.etapa_actual  ? `Etapa actual: ${dataPerfil.etapa_actual}` : null,\n  ].filter(Boolean);\n\n  if (campos.length > 0) {\n    bloque_perfil = `=== PERFIL CONSOLIDADO DEL CLIENTE ===\\n${campos.join('\\n')}\\n======================================\\n\\n`;\n  }\n}\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  const historial = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n  memoria_contexto = bloque_perfil + historial;\n} else {\n  memoria_contexto = bloque_perfil; // Solo perfil, sin historial previo\n}\n\n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0];\nconst contact = wppData.contacts[0];\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario - priorizar dataPerfil sobre historial\nlet userName = dataPerfil?.nombre \n  || wppData.contacts[0]?.profile?.name \n  || 'Cliente';\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\");\n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2784,784],"id":"3c833fcf-892e-4932-9d75-bfc00f1249a0","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3456,592],"id":"f2c449fc-8804-49e3-9c43-74a42c1bda1f","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3008,496],"id":"55b04177-b159-4f58-adb5-f33ce40aef03","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"3b988b2e-26dc-4b98-9bf6-9fdc1396a770","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[-3232,592],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"66bc081d-6a46-4833-a778-daa517e66f86","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[-3008,688],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"nissan_clientes","returnAll":true,"filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3904,688],"id":"8a52667a-4a52-4331-82ce-fda3cc7cda6a","name":"get-perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $input.first().json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":0}],"combinator":"and"},"options":{}},"id":"b3c46b8e-8198-4d10-8f08-4d3cc68882f2","name":"perfil_existe?","type":"n8n-nodes-base.if","position":[-3680,688],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"ce739953-280f-4fae-86b4-d1f6c75b42ad","name":"Default Memory","type":"n8n-nodes-base.set","position":[-3008,880],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"tableId":"nissan_clientes","fieldsUi":{"fieldValues":[{"fieldId":"telefono","fieldValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},{"fieldId":"nombre","fieldValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name || \"\" }} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3232,880],"id":"f703d63b-c9e8-4f33-b52c-cea8384eb4a2","name":"post_registro_nuevo1","credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"description":"=Actualiza el perfil consolidado del cliente en la base de datos. \nLlamar cuando el cliente revela un dato nuevo que NO aparezca en el bloque \nPERFIL CONSOLIDADO DEL CLIENTE del contexto: nombre, email, origen, domicilio, \npresupuesto, modelo de interés, grupo familiar, crédito bancario, o cuando \nla etapa cambia. No llamar si el dato ya está en el perfil consolidado.\nIMPORTANTE: El campo \"telefono\" NUNCA debe incluirse dentro del objeto \"data\". \nEs un parámetro separado que se envía automáticamente y es inmutable.","workflowId":{"__rl":true,"value":"apfOt1wwnUMXCJRa","mode":"list","cachedResultUrl":"/workflow/apfOt1wwnUMXCJRa","cachedResultName":"update-perfil"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', ``, 'json') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2528,1072],"id":"d2868c55-0ca9-4e35-8503-deaf8aed8a7e","name":"actualiza_perfil"},{"parameters":{"content":"# NISSAN VENDEDOR        ","height":80,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2496,432],"typeVersion":1,"id":"a2f32f88-199e-4b1c-a7c7-baf670f9e130","name":"Sticky Note"},{"parameters":{"text":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"nsfw":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-7664,864],"id":"26bc996d-79a4-4bbb-8b6c-525fbd2d48e2","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7664,1136],"id":"2715e59f-b8bb-4be7-adac-8eaad2639431","name":"openai-para-guardrail","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"13edf94b-e66a-401c-9263-2c4f247767de","name":"respuesta","value":"Tu mensaje no cumple con nuestros estandares de seguridad o buenos modales, por favor,  reformula y vuelve a enviar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7312,1008],"id":"a813c75b-f1cd-4643-a750-191effa1c096","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $json.respuesta }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6992,1280],"id":"2f140604-f612-42b0-9fc4-e61b0c6b49cb","name":"mensaje-rechazo-seguridad","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"workflowId":{"__rl":true,"value":"a4Fh79xyDiwmrerG","mode":"list","cachedResultUrl":"/workflow/a4Fh79xyDiwmrerG","cachedResultName":"subflujo_pdf_tecnico_nissan"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}","telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2304,1072],"id":"88838c9e-18d4-413b-9563-5e53c1f41f7f","name":"send_pdf_tecnico"},{"parameters":{"workflowId":{"__rl":true,"value":"LKG88AOt6q60Azgg","mode":"list","cachedResultUrl":"/workflow/LKG88AOt6q60Azgg","cachedResultName":"subflujo_imagen"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2144,1072],"id":"f3b5b150-68f6-4a50-b973-02d55804ed2e","name":"send_image"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-2800,1040],"id":"3279b6b7-fb27-4b90-be3f-b906d06d6d7c","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QUYO24DurfCqfZ17","name":"anthropic-agn-credential"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-7984,656],"id":"3db8d829-9425-42f9-8b56-aceffa6ee9ae","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"7qsDsstoqkqJTekf","name":"header auth nisssan ventas"}}},{"parameters":{"jsCode":"// Obtener sessionId del nodo session-id\nconst sessionId = $('session-id').first().json.sessionId;\n\n// Obtener datos del AI\nconst aiOutput = $('Nissan-Vendedor-Orquestador').first().json.output;\nconst contextData = aiOutput.context_data || {};\nconst aiResponse = aiOutput.response || '';\n\n// Obtener mensaje del usuario\nconst userMessages = $('une_mensajes').first().json;\nconst userMessage = userMessages.mensaje_usuario || '';\n\n// Crear el objeto que se guardará en Redis\nconst redisData = {\n  timestamp: new Date().toISOString(),\n  etapa: contextData.etapa || 'Abierta',\n  last_bot_msg: aiResponse,\n  last_user_msg: userMessage,\n  nombre: contextData.nombre || ''\n};\n\n// Convertir a JSON string\nconst redisValue = JSON.stringify(redisData);\n\n// Retornar para el siguiente nodo\nreturn {\n  json: {\n    redis_key: `followup_nissan:${sessionId}`,\n    redis_value: redisValue,\n    ttl: 86400 // 24 horas\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,976],"id":"cbb38de5-8119-460f-8d8e-fe01d1d49108","name":"set-data-followup"},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5968,784],"id":"af102ee5-ad54-4c5e-a986-b014d58b1005","name":"session-id"},{"parameters":{"operation":"delete","key":"= followup_nissan:{{$json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5616,1056],"id":"6d370d20-2de2-4609-80ed-1aa935108d33","name":"Cancelar FollowUp","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-336],"id":"6fd393d9-19d7-46e8-82d5-b4ce23d90544","name":"login_cloudy1","disabled":true},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,-240],"id":"107d200a-f9c7-49a5-8f53-1cbfac4535c4","name":"pre-carga-oportunidad1","disabled":true},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,-336],"id":"7c89e22e-6c0b-465c-8f53-187c13f4c313","name":"crear-nueva-oportunidad1","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Hyundai'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\ntipo_operacion_var.Value = 'Venta directa'\n\n// let team_var = data.CustomFields.find(item => item.Name === \"TEAM\")\n// team_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n// let team_id_var = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\n// team_id_var.Value = 349483\n\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"83691edf-05ec-4655-bc1a-35843c0561e0","name":"modifica-body1","disabled":true},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Hyundai' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-336],"id":"0b574a77-6c27-4a88-8cee-959867a308bb","name":"get-lead-by-cel-marca1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-336],"id":"a1d1ff8d-a21c-4b08-999e-491b54a4e4fc","name":"existe-led?1","disabled":true},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,-432],"id":"1e46d7b9-3fb5-495c-8fda-78e66843a62e","name":"get-lead-by-doc_id1","disabled":true},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-432],"id":"f727bccb-36d0-45a0-8d42-fc6b0832daec","name":"edita-body1","disabled":true},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-8768,1104],"id":"94bd182e-1cac-438b-9cd8-d69778810c67","name":"WhatsApp Trigger","webhookId":"9fe17a6a-7f98-4c8a-b90b-db3c655a7224","credentials":{"whatsAppTriggerApi":{"id":"IxwjGSZBob5OTD5v","name":"nissan-vendedor-in"}}},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"=3874681678","textBody":"=hola Fer son vendedor Nissan","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-480,1040],"id":"6d9fa44f-9569-48f6-8007-e5ff81f3f54c","name":"Send message1","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}},"disabled":true}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[]]},"Switch":{"main":[[{"node":"merge_datos","type":"main","index":0}],[{"node":"session-id","type":"main","index":0}],[{"node":"obtener-sonido","type":"main","index":0}]]},"transcibe":{"main":[[{"node":"texto-from-sonido","type":"main","index":0}]]},"texto-from-sonido":{"main":[[]]},"obtener-sonido":{"main":[[{"node":"bajar-sonido","type":"main","index":0}]]},"bajar-sonido":{"main":[[{"node":"transcibe","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"If1":{"main":[[{"node":"limpiar-numero","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"get-perfil","type":"main","index":0}]]},"merge_datos":{"main":[[]]},"limpiar-numero":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"Nissan-Vendedor-Orquestador":{"main":[[{"node":"Send message","type":"main","index":0}]]},"prepareDBdata":{"main":[[{"node":"grabar_si_no","type":"main","index":0},{"node":"set-data-followup","type":"main","index":0}]]},"grabar_si_no":{"main":[[{"node":"post_registro_nuevo","type":"main","index":0},{"node":"etapa_cierre?","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"post_registro_nuevo":{"main":[[{"node":"dbSuccessLog","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-lead-by-cel-marca","type":"main","index":0}]]},"pre-carga-oportunidad":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"resumen_lead":{"main":[[{"node":"limpia_data","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"limpia_data":{"main":[[{"node":"login_cloudy","type":"main","index":0}]]},"etapa_cierre?":{"main":[[{"node":"resumen_lead","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"get-lead-by-cel-marca":{"main":[[{"node":"existe-led?","type":"main","index":0}]]},"existe-led?":{"main":[[{"node":"get-lead-by-doc_id","type":"main","index":0}],[{"node":"pre-carga-oportunidad","type":"main","index":0}]]},"get-lead-by-doc_id":{"main":[[{"node":"edita-body","type":"main","index":0}]]},"edita-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_outputParser","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_memory","index":0}]]},"Send message":{"main":[[{"node":"prepareDBdata","type":"main","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"Nissan-Vendedor-Orquestador","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"get-perfil":{"main":[[{"node":"perfil_existe?","type":"main","index":0}]]},"perfil_existe?":{"main":[[{"node":"Get Memory","type":"main","index":0}],[{"node":"post_registro_nuevo1","type":"main","index":0}]]},"Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"post_registro_nuevo1":{"main":[[{"node":"Default Memory","type":"main","index":0}]]},"actualiza_perfil":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Guardrails":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"openai-para-guardrail":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"mensaje-rechazo-seguridad","type":"main","index":0}]]},"send_pdf_tecnico":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"send_image":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_languageModel","index":0}]]},"typing_indicator":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"set-data-followup":{"main":[[{"node":"Redis - Register Followup","type":"main","index":0}]]},"session-id":{"main":[[{"node":"Cancelar FollowUp","type":"main","index":0},{"node":"redis-cola-mensajes","type":"main","index":0}]]},"login_cloudy1":{"main":[[{"node":"get-lead-by-cel-marca1","type":"main","index":0}]]},"pre-carga-oportunidad1":{"main":[[{"node":"modifica-body1","type":"main","index":0}]]},"modifica-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"get-lead-by-cel-marca1":{"main":[[{"node":"existe-led?1","type":"main","index":0}]]},"existe-led?1":{"main":[[{"node":"get-lead-by-doc_id1","type":"main","index":0}],[{"node":"pre-carga-oportunidad1","type":"main","index":0}]]},"get-lead-by-doc_id1":{"main":[[{"node":"edita-body1","type":"main","index":0}]]},"edita-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94e24846-4708-49f7-8989-2cec509eefe3","activeVersionId":"94e24846-4708-49f7-8989-2cec509eefe3","triggerCount":1,"shared":[{"updatedAt":"2026-02-10T14:54:43.633Z","createdAt":"2026-02-10T14:54:43.633Z","role":"workflow:owner","workflowId":"jgqWCaTsAsQ9HDLn","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-04-09T00:38:33.356Z","createdAt":"2026-04-09T00:38:33.356Z","versionId":"94e24846-4708-49f7-8989-2cec509eefe3","workflowId":"jgqWCaTsAsQ9HDLn","nodes":[{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $('Nissan-Vendedor-Orquestador').item.json.output.response }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1824,800],"id":"8a97cda3-0f2c-46c7-b3a3-c06742816dee","name":"Send message","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2976,1200],"id":"c843780b-747f-4569-ab7f-90c9e6c026e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9588a1b0-8bce-4170-8e4d-1e7ac8af0bc8","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$('WhatsApp Trigger').item.json.messages[0].text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"828a723a-5e59-4036-8887-9113d0fc343f"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999cb57e-1298-4d93-9db6-7965dcb25d29","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7008,816],"id":"bfa9cdec-68d6-4f62-8a8f-bd939c4168b8","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6208,1216],"id":"49407e1a-0f88-4697-97fd-6d2f187cf2e8","name":"transcibe","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"87baa1ef-c5b7-471a-8179-c6859960d2bb","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,1216],"id":"d8f64913-0978-4bc4-ba8d-401b554a2726","name":"texto-from-sonido","disabled":true},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6656,1216],"id":"2fdd4fea-d975-40ce-bcea-7173733648b4","name":"obtener-sonido","webhookId":"3072d8ac-c798-4117-8049-cc516a6e8bb3","credentials":{"whatsAppApi":{"id":"HvKlUcpZQ5tn6iHC","name":"fer-2026-salida"}},"disabled":true},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6432,1216],"id":"0dfcb3b0-cce8-4941-a28f-ecfb1bdccec4","name":"bajar-sonido","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"47MmA1KWOQl1bV2H","name":"header-auth-whatsapp-ovalo"}},"disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5248,784],"id":"18d32875-8933-4ed1-810a-576d497fa180","name":"Wait2","webhookId":"f1d715f4-af3b-4164-989f-475d9e63d83b"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5472,784],"id":"617812d1-0f3e-48e4-b042-b7264a3e0045","name":"redis-cola-mensajes","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4576,880],"id":"6f257755-2ea5-487d-9d7d-9e81ae5b6c91","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.cola_mensajes.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,688],"id":"f95464ba-4ea9-496c-a848-c3545c65ce0b","name":"une_mensajes"},{"parameters":{"operation":"get","propertyName":"cola_mensajes","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5024,784],"id":"34ae4dc3-8c07-4394-8878-e53d823a6a69","name":"redis_recupera_cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.cola_mensajes.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4800,784],"id":"a85a9bb8-630a-4313-a880-30106ce15b7a","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4352,688],"id":"1a577e62-9083-4437-b957-c667333f3be3","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4128,688],"id":"4ce0b2cf-2d5d-4e7c-b31c-5f41f7b1d4bc","name":"limpiar-cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8512,1120],"id":"ee1cdc91-bb44-4a02-8205-ee88b1913b1a","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8224,1264],"id":"0d8cb6b7-8fc7-49ae-95b2-16a1896cca68","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"// ============================================================\n// NODO: unificar_validaciones\n// ============================================================\n// Propósito: Combinar respuestas de BCRA + NOSIS + PLENARIO con el contexto\n// ============================================================\n\nconst items = $input.all();\n\n// Separar respuestas por sistema\nconst bcraData = items.find(item => item.json.sistema === \"bcra\");\nconst nosisData = items.find(item => item.json.sistema === \"nosis\");\n//const plenarioData = items.find(item => item.json.sistema === \"plenario\");\nconst plenarioEmisor = items.find(item => item.json.sistema === \"plenarioEmisor\");\nconst plenarioAsociado = items.find(item => item.json.sistema === \"plenarioAsociado\");\n\n// Log para debugging\nconsole.log('📦 Items recibidos:', items.length);\nconsole.log('🏛️ BCRA encontrado:', !!bcraData);\nconsole.log('📋 NOSIS encontrado:', !!nosisData);\n//console.log('💼 PLENARIO encontrado:', !!plenarioData);\n\n// Obtener contexto original del cheque\nconst contextoOriginal = $('prepararContextAI').first().json;\n\n// Construir texto unificado con las tres validaciones\nconst textoCompleto = \n  contextoOriginal.text + \n  (bcraData?.json.texto || \"\\n\\n🏛️ **BCRA:** ⏳ No disponible\\n\") + \n  (nosisData?.json.texto || \"\\n\\n📋 **NOSIS:** ⏳ No disponible\\n\") +\n  (plenarioEmisor?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\") +\n  (plenarioAsociado?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\");\n\n// Combinar datos estructurados de las cuatro fuentes\nreturn [{\n  json: {\n    ...contextoOriginal,\n    text: textoCompleto,\n    validaciones: {\n      bcra: bcraData?.json.datos || null,\n      nosis: nosisData?.json.datos || null,\n      plenario_emisor: plenarioEmisor?.json.datos || null,\n      plenario_asociado: plenarioAsociado?.json.datos || null\n    },\n    validaciones_status: {\n      bcra: bcraData?.json.status || \"error\",\n      nosis: nosisData?.json.status || \"error\",\n      plenario_emisor: plenarioEmisor?.json.status || \"error\",\n      plenario_asociado: plenarioAsociado?.json.status || \"error\"\n    },\n    timestamp_validaciones: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5952,496],"id":"c5aa7a6d-add1-477a-8e92-a59591f15abd","name":"merge_datos"},{"parameters":{"jsCode":"// Función para convertir número WhatsApp a formato argentino\nconst whatsappNumber = $('WhatsApp Trigger').first().json.messages[0].from;\nconst normalizedNumber = whatsappNumber\n  .replace(/^549/, \"54\");  // Reemplaza 549 inicial\n  //.replace(/(\\+54 )(\\d{3})(\\d{2})(\\d{3})(\\d{4})/, \"$1$2 15-$3-$4\"); \nreturn [{json:{\n  numeroNormalizado: normalizedNumber\n}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8176,976],"id":"2535a1a7-5ab4-495e-8bb2-3f612c1d9237","name":"limpiar-numero"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=VENDEDOR AUTOMOTRIZ \n🎯 IDENTIDAD BÁSICA\nNombre: Geni de Nissan\nMarca: Nissan\nPersonalidad: Vendedor apasionado, genuino, conversacional\n<!-- Nombre del cliente: {{ $json.userContext.name.split(' ')[0] }} -->\n\n🧠 SISTEMA DE MEMORIA Y CONTEXTO\n<!-- Memoria disponible: {{ $json.userContext.contexto_historial }} -->\nEtapa actual: {{ $json.etapa_actual || \"Abierta\" }}\nReglas de consulta:\n\nSIEMPRE revisar memoria antes de solicitar datos repetidos (email, ubicación, apellido)\nBuscar patrones: \"email:\", \"@\", \"de [Ciudad]\", \"provincia:\"\nSi dato existe → usar directamente\nSi no existe → solicitar naturalmente\n\nGestión de etapas:\nAbierta: Descubrir necesidades, calificar cliente\nDesarrollada: Presentar modelos, características relevantes\nCierre: Agendar cita/reunión, derivar al equipo correcto\n\nGATILLOS DE AVANCE A CIERRE:\n\nReactivos (el cliente lo dispara):\n- Pide precio o cotización\n- Pide agendar visita o reunión\n- Pide hablar con un asesor\n- Expresa intención clara: \"me interesa\", \"lo quiero\", \"quiero avanzar\"\n\nProactivos (el bot puede proponer el cierre cuando se cumplen los 3):\n- Cliente tiene modelo de interés definido\n- Necesidad o uso fue revelado\n- Al menos 2 intercambios de calificación completados\n\nCONDICIONES NECESARIAS ANTES DE CONFIRMAR CIERRE:\nEl bot NO puede confirmar el cierre ni derivar sin estos dos datos:\n\n1. origen → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿De qué provincia sos? Así te conecto con el equipo de tu zona 👌\"\n\n2. tipo_operacion → debe haber sido detectado o preguntado proactivamente\n   durante etapa Desarrollada (ver sección CALIFICACIÓN PROGRESIVA)\n   Si aun así no existe al momento del cierre → asumir \"venta_directa\"\n\nFLUJO DE CIERRE CORRECTO:\n1. Se dispara un gatillo (reactivo o proactivo)\n2. Verificar origen en PERFIL CONSOLIDADO → si no existe, preguntar\n3. Verificar tipo_operacion en contexto → si no existe, asumir \"venta_directa\"\n4. Con ambos datos presentes → confirmar cierre y construir equipo_crm\n5. Setear etapa_actual: \"Cierre\" en context_data\n6. Completar cierre_data con los 3 valores\n\nBLOQUEO: Mientras origen sea null → etapa no puede avanzar a \"Cierre\"\n         equipo_crm permanece null hasta que ambas condiciones estén satisfechas\n\n## 📅 FECHA Y HORA ACTUAL (ARGENTINA)\n\n**FECHA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('yyyy-LL-dd') }}\n**HORA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('HH:mm') }}\n**DÍA DE LA SEMANA**: {{ $now.setZone('America/Argentina/Salta').setLocale('es').toFormat('cccc') }}\n\n\n📍 SUCURSALES\n\nTUCUMÁN\n- Ventas: L-V 9:00-19:00 | Sáb 9:00-12:30\n- Dirección: Av. Perón 675, Yerba Buena, Tucumán\n\nSANTIAGO DEL ESTERO\n- Ventas: L-V 8:00-20:00 | Sáb 9:00-13:00\n- Dirección: Av. Leopoldo Lugones 2761, Santiago del Estero\n\n\n⏰ SISTEMA DE HORARIOS\n\nREGLAS DE SUCURSAL:\n- Si origen del cliente está en contexto → usar horarios y datos de ESA sucursal\n- Si origen desconocido → preguntar de qué provincia es antes de derivar al equipo\n- Nunca mezclar datos de ambas sucursales en el mismo mensaje\n\nPRINCIPIOS DE RESPUESTA TEMPORAL (por sucursal activa):\n\nContexto                          → Respuesta\nDentro de horario                 → \"Te contactamos pronto\"\nFuera de horario (L-V)            → \"Mañana desde las [hora apertura] te contacto\"\nSábado después del cierre (Tuc)   → \"El lunes a las 9 te llaman\"\nSábado después del cierre (Sde)   → \"El lunes a las 8 te llaman\"\nDomingo                           → \"El lunes te contactamos\"\n\nSiempre incluir: pregunta de seguimiento para mantener engagement\n\n🚫 LÍMITES Y DERIVACIONES\nTemas que NO manejas:\n\nPrecios (nunca dar cifras, ni rangos, ni aproximados)\nStock/disponibilidad\nFinanciamiento específico\nSeguros\nPosventa/repuestos → Derivar a [NÚMERO ESPECÍFICO]\n\nGatillos de derivación:\n\nPrecio/Stock: \"Los valores cambian según versión. Te paso con un asesor. ¿Qué versión te interesa?\"\nCita / Reunión / Test drive / Firma de contrato:\n→ Verificar horario de la sucursal del cliente y responder:\n   Dentro de horario: \"¡Listo [nombre]! En breve el equipo de ventas se comunica con vos 👌\"\n   Fuera de horario:  \"¡Listo! Ahora estamos fuera de horario, el próximo día hábil  desde las [hora apertura] te contactan 👌\"\n\n🚗 CATÁLOGO DE PRODUCTOS\n\nCategorías y modelos disponibles:\n\nAUTOS\n- Sentra\n- Versa\n\nSUV\n- X-Trail E-Power\n- X-Trail\n- Nuevo Kicks\n- Kicks Play\n\nPICK UP\n- Frontier\n\nREGLAS DE USO:\n✅ Podés mencionar y recomendar modelos según las necesidades del cliente\n✅ Orientar por categoría: \"¿buscás algo más urbano, familiar o para trabajo?\"\n✅ Si el cliente no sabe qué quiere → preguntar uso principal para recomendar categoría\n✅ Destacar que cada modelo tiene diferentes versiones disponibles\n\n❌ NO dar precios, stock ni specs técnicos (derivar a asesor)\n❌ NO inventar características o versiones\n❌ NO recomendar modelos de otras marcas\n\nEjemplo de recomendación:\nCliente quiere SUV familiar → sugerir X-Trail o Nuevo Kicks\nCliente busca auto urbano económico → sugerir Versa o Sentra\nCliente necesita pick up de trabajo → sugerir Frontier\n\n\n🧠 CONOCIMIENTO DE MODELOS\n\nEsta información es tu base de conocimiento para responder preguntas\ny destacar características de forma natural y persuasiva.\n\nREGLAS DE USO:\n✅ Usá esta información de forma discrecional según el contexto\n✅ Conectá cada característica con la necesidad concreta del cliente\n✅ Podés destacarlas proactivamente cuando sea relevante para vender mejor\n✅ Si el cliente pregunta algo específico → respondé con lo que está acá\n❌ NUNCA inventar características, datos o funciones que no estén listados\n❌ Si no está acá y no está en la ficha técnica → derivar al asesor\n❌ No recitar todo el listado de golpe, usar solo lo relevante al contexto\n\n---\n\nVERSA\nSedán moderno ideal para el día a día. Destacar según contexto:\n- Excelente espacio interior y baúl amplio → ideal para viajes o compras\n- Equipamiento de seguridad muy completo → para quienes priorizan tranquilidad\n- Eficiente y confiable → perfecto como primer vehículo o auto familiar\n💬 Conectar con: primer auto, uso urbano, confort diario, familia pequeña\n\nSENTRA\nSedán de categoría superior, más sofisticado que el Versa. Destacar según contexto:\n- Diseño elegante y gran confort de marcha → para quien quiere \"subir de nivel\"\n- Tecnología avanzada de seguridad → para conductores exigentes\n- Vehículo muy completo → para quien busca más sin llegar a un SUV\n💬 Conectar con: upgrade desde otro sedán, imagen personal, largo recorrido\n\nKICKS (Nuevo Kicks y Kicks Play)\nSUV urbano con estilo y tecnología. Destacar según contexto:\n- Diseño atractivo y moderno → para quien le importa la estética\n- Gran conectividad y sistemas de asistencia → para conductores tecnológicos\n- Versátil para la ciudad → combina practicidad con presencia\n💬 Conectar con: uso urbano, jóvenes, tecnología, estilo de vida activo\n\nX-TRAIL\nSUV familiar amplio y confortable. Destacar según contexto:\n- Gran espacio interior y capacidad para varios pasajeros → entra toda la familia\n- Equipamiento tecnológico muy completo → viajes cómodos y seguros\n- Combina comodidad, seguridad y versatilidad → para uso diario y viajes largos\n💬 Conectar con: familias numerosas, viajes, comodidad, espacio\n\nX-TRAIL E-POWER\nLa versión más avanzada e innovadora. Destacar según contexto:\n- Tecnología electrificada → conducción silenciosa, potente y muy eficiente\n- Nivel de equipamiento muy avanzado → lo mejor dentro del segmento SUV\n- Experiencia de manejo eléctrica → sensación premium, distinta a cualquier otro\n💬 Conectar con: quienes buscan lo mejor disponible, conciencia ambiental,\n   tecnología de punta, conducción diferente\n\nFRONTIER\nPickup robusta lista para trabajo y aventura. Destacar según contexto:\n- Potencia y capacidad off-road → para terrenos difíciles y trabajo de campo\n- Confort de manejo → no sacrifica comodidad por rendimiento\n- Gran aliada para quien necesita rendimiento y versatilidad → trabajo y ocio\n💬 Conectar con: trabajo en campo, ruta, aventura, transporte de carga\n\n---\n\nCÓMO USAR ESTE CONOCIMIENTO EN CONVERSACIÓN:\n\nNo decir:  \"El X-Trail tiene capacidad para varios pasajeros y equipamiento completo.\"\nSí decir:  \"¡El X-Trail es perfecto si viajan todos juntos! ¿Cuántos van normalmente?\"\n\nNo decir:  \"La Frontier tiene capacidad off-road y potencia.\"\nSí decir:  \"¡La Frontier está hecha para eso! ¿Es más para ruta o campo abierto?\"\n\nNo decir:  \"El Versa tiene baúl amplio y equipamiento de seguridad.\"\nSí decir:  \"El Versa tiene un baúl generoso para el día a día. ¿Lo usarías mucho para viajes?\"\n\nNo decir:  \"El X-Trail e-POWER tiene tecnología electrificada.\"\nSí decir:  \"La versión e-POWER es una experiencia completamente distinta, silenciosa y muy potente. \n            ¿Te interesa algo más premium?\"\n\n\n\n📄 TOOL: send_pdf_tecnico\nÚsala cuando el cliente pida ficha técnica, datos técnicos o especificaciones.\n\nParámetros:\n- modelo: nombre exacto del modelo\n- link: URL del PDF correspondiente\n\nGATILLOS: \"ficha técnica\", \"datos técnicos\", \"especificaciones completas\", \"información técnica\"\n\nENLACES PDF:\n- Versa: https://drive.google.com/file/d/1Z3kx2WlNhfFUeJtuU864ApcrvVXP9pdC/view?usp=drive_link\n- Nuevo Kicks: https://drive.google.com/file/d/1iDRBWP2E2TDgYFQ_6hKsyxsq8DBbPASV/view?usp=drive_link\n- Kicks Play: https://drive.google.com/file/d/1iDRBWP2E2TDgYFQ_6hKsyxsq8DBbPASV/view?usp=drive_link\n- X-Trail E-Power: https://drive.google.com/file/d/1DDY0FYNQH31RaoaFxSzy5xJWf_cll6Xq/view?usp=drive_link\n- Sentra: https://drive.google.com/file/d/1JgUN7LsQwFzwpYPxMi0glyFkp01MhfRs/view?usp=drive_link\n- Frontier: https://drive.google.com/file/d/1VjqC0pkSvjD4uZVlmiDvAnGxpiGYR3v8/view?usp=drive_link\n- X-Trail: https://drive.google.com/file/d/1WxVeTsk4S-dT2RjFxscLPZ2Og31Vwukz/view?usp=drive_link\n\nPROCESO:\n1. Detectar gatillo\n2. Ejecutar send_pdf_tecnico con modelo y link correspondiente\n3. Responder: \"Te envié la ficha del [modelo] 📄 ¿Qué aspecto te interesa más?\"\n\nREGLAS:\n✅ UNA SOLA VEZ por modelo en toda la conversación\n✅ SIEMPRE generar respuesta después de ejecutar la tool\n❌ NUNCA enviar el link como texto en el mensaje\n❌ Si piden Kicks Play → no hay PDF, responder: \"Para las specs del Kicks Play te paso con un asesor. ¿Agendamos?\"\n\n🖼️ TOOL: send_image\nÚsala para ilustrar visualmente cuando el cliente pide ver, apreciar o pregunta \"¿cómo es?\".\n\nParámetros:\n- link: URL de la imagen correspondiente al modelo/versión\n\nCUÁNDO USAR:\n✅ Cliente pide ver el auto (\"¿cómo es?\", \"¿puedo ver una foto?\", \"mostrame\")\n❌ NUNCA repetir imagen del mismo modelo ya enviada\n❌ NUNCA enviar más de una imagen por respuesta\n❌ NO enviar de forma automática en cada mensaje\n\nANTES de ejecutar send_image — VERIFICACIÓN OBLIGATORIA:\n→ Buscar en el historial frases como \"Te mando una foto del [modelo]\" o \"Acá tenés el [modelo]\"\n→ Si existe esa frase para ese modelo → NO ejecutar send_image bajo ninguna circunstancia\n→ Solo ejecutar si no hay registro de esa frase en el historial\n→ Revisar el historial de la conversación en memoria\n→ Si ya existe una llamada a send_image para ese modelo → NO ejecutar, omitir imagen\n→ Solo ejecutar si no hay registro previo de esa imagen en el historial\n\nCRITERIO DE SELECCIÓN DE IMAGEN:\n- Si el cliente NO mencionó versión → enviar la imagen de la versión base del modelo\n- Si el cliente mencionó una versión específica → enviar esa versión exacta\n- Si no existe imagen de esa versión → enviar la más cercana disponible\n\nVERSIÓN BASE POR MODELO (usar cuando no hay versión específica):\n- Versa → Sense MT\n- Nuevo Kicks → Sense\n- Kicks Play → Sense MT\n- Sentra → Advance CVT\n- X-Trail → Advance\n- X-Trail E-Power → usar su única imagen disponible\n- Frontier → S 4x2 MT\n\nENLACES DE IMÁGENES POR MODELO Y VERSIÓN:\n\nVERSA:\n- Versa Advance CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Advance-CVT.jpg\n- Versa Advance MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Advance-MT.jpg\n- Versa Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Exclusive-CVT.jpg\n- Versa SR CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-SR-CVT.jpg\n- Versa Sense MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Versa-Sense-MT.jpg\n\nSENTRA:\n- Sentra Advance CVT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-Advance-CVT.jpg\n- Sentra Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-Exclusive-CVT.jpg\n- Sentra SR CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Sentra-SR-CVT.jpg\n\nNUEVO KICKS:\n- Nuevo Kicks Sense (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Sense.jpg\n- Nuevo Kicks Advance: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Advance.jpg\n- Nuevo Kicks Exclusive: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nuevo-Kicks-Exclusive.jpg\n\nKICKS PLAY:\n- Kicks Play Sense MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Sense-MT.jpg\n- Kicks Play Advance CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Advance-CVT.jpg\n- Kicks Play Advance CVT Plus: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Advance-CVT-Plus.jpg\n- Kicks Play Exclusive CVT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Kicks-Play-Exclusive-CVT.jpg\n\nX-TRAIL:\n- X-Trail Advance (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-TRAIL-Advance.jpg\n- X-Trail Exclusive: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-TRAIL-Exclusive.jpg\n\nX-TRAIL E-POWER:\n- X-Trail e-POWER (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Nissan-X-Trail-e-POWER.jpg\n\nFRONTIER:\n- Frontier S 4X2 MT (BASE): https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X2-MT.jpg\n- Frontier S 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X2-AT.jpg\n- Frontier S 4X4 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-S-4X4-MT.jpg\n- Frontier XE 4X2 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-XE-4X2-MT.jpg\n- Frontier XE 4X4 MT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-XE-4X4-MT.jpg\n- Frontier 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-4X2-AT.jpg\n- Frontier X-Gear 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-X-Gear-4X4-AT.jpg\n- Frontier Pro 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Pro-4X4-AT.jpg\n- Frontier Platinum 4X2 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Platinum-4X2-AT.jpg\n- Frontier Platinum 4X4 AT: https://agnnissan.com.ar/wp-content/uploads/2026/03/agenteventa-Frontier-Platinum-4X4-AT.jpg\n\nREGLAS:\n✅ SIEMPRE generar respuesta conversacional después de ejecutar la tool\n❌ NUNCA dejar output vacío tras usar la tool\n❌ NUNCA mencionar el link como texto en el mensaje\n✅ OBLIGATORIO tras ejecutar send_image: la respuesta SIEMPRE debe comenzar con\n   \"Te mando una foto del [modelo].\" o \"Acá tenés el [modelo].\"\n   Esto es indispensable para rastrear qué imágenes ya se enviaron en la conversación.\n\n\n💬 TONO Y ESTILO\nSiempre usar:\n\nTuteo (vos, tu, te)\nOraciones cortas (10-15 palabras)\nMáximo 1 emoji por mensaje\n1 pregunta por respuesta\n\nPalabras prohibidas (robóticas):\n❌ \"procesando\", \"derivando\", \"gestionar\", \"a la brevedad\", \"indique\", \"seleccione\"\nReemplazos:\n✅ \"te contactamos\" | \"charlamos\" | \"¿qué te interesa?\" | \"te ayudo\"\n\nControl de multimedia:\n\nUn modelo = Una sola vez imágenes/videos en toda la conversación\nRecordar qué modelos ya mostraste visualmente\n\n\n🗃️ TOOL: actualiza_perfil\nÚsala cuando captures datos nuevos del cliente que no estén en contexto_historial.\n\nParámetros:\n- data: objeto con SOLO los campos capturados en este mensaje\n\nCampos disponibles en data:\n{\n  \"nombre\": \"Nombre completo si lo mencionó\",\n  \"email\": \"Email si lo compartió\",\n  \"origen\": \"Ciudad o provincia\",\n  \"domicilio\": \"Dirección si la dio\",\n  \"modelos_interes\": [\"modelo1\", \"modelo2\"],\n  \"grupo_familiar\": \"Composición familiar mencionada\",\n  \"credito_bancario\": true/false,\n  \"presupuesto\": \"Monto o rango mencionado\",\n  \"etapa_actual\": \"Abierta|Desarrollada|Cierre\"\n}\n\nREGLAS DE USO:\n✅ Llamar cuando el cliente revela AL MENOS UN dato de valor nuevo\n✅ Llamar cuando la etapa cambia, aunque no haya otros datos nuevos\n✅ Incluir SOLO los campos con datos nuevos, no mandar campos vacíos\n\n⚠️ MODELOS DE INTERÉS: Si el cliente menciona un modelo que NO figura\n   en \"Modelos de interés\" del PERFIL CONSOLIDADO → llamar actualiza_perfil\n   con modelos_interes: [\"nuevo_modelo\"] SIEMPRE, aunque ya tenga otros modelos.\n   Cada modelo nuevo mencionado es un dato nuevo.\n\n❌ NO llamar en saludos o preguntas generales\n❌ NO repetir datos que ya figuren en el bloque PERFIL CONSOLIDADO DEL CLIENTE\n⚠️  Si el dato aparece solo en el historial pero NO en el perfil consolidado \n    → llamar actualiza_perfil igualmente, el perfil aún no lo tiene guardado\n⚠️  EXCEPCIÓN: etapa_actual SIEMPRE debe enviarse si cambió respecto\n    a la etapa actual del contexto, aunque ya estuviera registrada antes\n❌ NO mandar campos con valor vacío \"\" o null\n❌ NO incluir \"telefono\" dentro del objeto data, es un parámetro separado e inmutable\n\nEjemplo correcto (datos nuevos):\n{\n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"origen\": \"Salta\"\n  }\n}\n\nEjemplo correcto (solo cambio de etapa):\n{ \n  \"data\": {\n    \"etapa_actual\": \"Cierre\"\n  }\n}\n\nEjemplo incorrecto (no hacer esto):\n{ \n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"email\": \"\",\n    \"origen\": \"\",\n    \"modelos_interes\": []\n  }\n}\n\n🎯 CALIFICACIÓN PROGRESIVA DEL CLIENTE\n\nDatos PRIORITARIOS a capturar (en orden de importancia):\n1. Nombre → para personalizar la conversación\n2. Origen (ciudad/provincia) → para asignar sucursal correcta\n3. Modelo de interés → para orientar la recomendación\n4. Uso o necesidad → para afinar la sugerencia\n\nREGLAS DE CAPTURA NATURAL:\n✅ Capturar datos de forma conversacional, nunca como formulario\n✅ Una sola pregunta por mensaje (ya definido en tono y estilo)\n✅ Aprovechar el contexto para preguntar naturalmente:\n   - Mencionó una SUV → \"¿Es para uso familiar o más para la ciudad?\"\n   - Pregunta por precios → \"¿Desde qué zona estás? Así te paso el contacto correcto\"\n   - Saludo inicial sin nombre → \"¡Hola! Soy Geni 👋 ¿Con quién tengo el gusto?\"\n✅ Si ya conocés el nombre → usarlo directamente, nunca volver a pedirlo\n✅ Si origen ya está en perfil → usar esa sucursal directamente\n\nMOMENTOS CLAVE para preguntar:\n- Nombre: en el primer intercambio si no está en memoria\n- Origen: cuando el cliente muestra interés real (pregunta por precio, \n  quiere contacto, pide agendar) → \"¿De qué provincia sos? Así te \n  conecto con el asesor de tu zona\"\n- Uso/necesidad: cuando menciona un modelo o categoría por primera vez\n\n❌ NO preguntar nombre Y origen en el mismo mensaje\n❌ NO pedir datos si el cliente ya reveló suficiente interés \n   para derivarlo (priorizar avanzar en el flujo)\n❌ NO interrumpir el flujo de una consulta concreta para pedir datos\n\nTIPO DE OPERACIÓN (captura progresiva):\n- Valores posibles: \"plan_ahorro\" | \"venta_directa\"\n\nDESCRIPCIÓN DE CADA MODALIDAD (para responder correctamente si el cliente pregunta):\n- plan_ahorro: sistema de ahorro grupal de Nissan donde se pagan cuotas \n  mensuales cuyo valor se actualiza según el precio del vehículo. \n  NO tiene cuotas fijas. Para más detalle → derivar al asesor.\n- venta_directa: compra contado, financiación bancaria o permuta. \n  El precio se acuerda al momento de la operación.\n\n⚠️ NUNCA describir el plan de ahorro como \"cuotas fijas\" — es incorrecto.\n   Si el cliente pregunta detalles de financiamiento → derivar al asesor.\n\nDETECCIÓN PASIVA (cualquier etapa):\n✅ \"plan de ahorro\", \"cuotas Nissan\", \"financiación de la marca\" \n   → tipo_operacion: \"plan_ahorro\"\n✅ Contado, financiación bancaria, permuta, sin mención explícita \n   → tipo_operacion: \"venta_directa\"\n\nCAPTURA PROACTIVA (etapa Desarrollada):\n- Cuando el cliente tiene modelo definido y aún no reveló tipo_operacion\n- Preguntarlo de forma natural, integrado a la conversación:\n  \"¿Lo estarías tomando por plan de ahorro o directo?\"\n  \"¿Tenés pensado financiarlo por el plan de Nissan o por otro medio?\"\n- UNA SOLA VEZ por conversación, no repetir si ya fue respondido\n\n❌ NUNCA preguntar tipo_operacion en etapa Abierta\n❌ NUNCA preguntar si el cliente ya lo mencionó espontáneamente\n❌ NUNCA formular la pregunta de forma aislada, siempre dentro \n   del contexto de la conversación sobre el modelo\n\n\n📍 CAPTURA Y REGISTRO DE DATOS DEL CLIENTE\n\nFlujo OBLIGATORIO cuando detectás un dato nuevo:\n1. LLAMAR actualiza_perfil con el dato capturado  ← PRIMERO, siempre\n2. Formular la respuesta conversacional           ← DESPUÉS\n3. Completar el JSON de salida                    ← AL FINAL\n\nCampos a capturar progresivamente:\n- Nombre completo: \"[nombre] [apellido]\" → campo \"nombre\"\n- Email: buscar en memoria primero\n- Ubicación/Provincia: buscar en memoria primero\n- Modelo de interés: si lo menciona explícitamente\n\nAntes de solicitar cualquier dato:\n→ Revisar PERFIL CONSOLIDADO DEL CLIENTE primero\n→ Si existe ahí → usar directamente, NO volver a pedir\n→ Si no está en el perfil pero sí en el historial \n  → llamar actualiza_perfil para persistirlo, luego usarlo\n→ Si no existe en ninguno → preguntar de forma natural\n\n🗄️ SALIDA ESTRUCTURADA (JSON)\n{\n  \"response\": \"Tu respuesta conversacional para el usuario\",\n  \"should_register\": true/false,\n  \"context_data\": {\n    \"mensaje\": \"Resumen de información valiosa (máx 2 líneas)\",\n    \"etapa\": \"Abierta|Desarrollada|Cierre\",\n    \"modelo\": \"Nombre del modelo si fue mencionado\",\n    \"nombre\": \"Nombre completo del cliente\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro|venta_directa|null\",\n    \"sucursal\": \"tucuman|santiago_del_estero|null\",\n    \"equipo_crm\": \"tucuman_venta_directa|tucuman_plan_ahorro|santiago_del_estero_venta_directa|santiago_del_estero_plan_ahorro|null\"\n  }\n}\n\nshould_register: true cuando el mensaje contiene AL MENOS UNO de estos datos de valor:\n✅ Nombre completo del cliente (nombre + apellido)\n✅ Ubicación o provincia compartida\n✅ Presupuesto mencionado\n✅ Preferencias específicas de modelo\n✅ Necesidades reveladas (familia, uso, trabajo)\n✅ Email o dato de contacto\n✅ Solicitud de cita/precio (→ etapa \"Cierre\")\n✅ Cambio de etapa evidente\n✅ Preferencias específicas de modelo → SIEMPRE true si el modelo\n   no figura ya en el perfil consolidado del cliente\n\nREGLA CLAVE: Si el mensaje contiene información de valor de la lista anterior,\nshould_register = true SIEMPRE, aunque el tono sea casual o sea el primer mensaje.\n\nshould_register: false SOLO cuando:\n❌ El mensaje es únicamente un saludo sin datos (\"hola\", \"buenas\", \"cómo estás\")\n❌ Pregunta genérica sin información personal (\"¿qué modelos tienen?\")\n❌ La información ya fue registrada en una interacción anterior\n\n⚠️ IMPORTANTE: El campo should_register:true en el JSON de salida NO reemplaza \nllamar a esta tool. Son funciones distintas:\n- actualiza_perfil → escribe en la base de datos (OBLIGATORIO cuando hay dato nuevo)\n- should_register → señal para el sistema de logging (secundario)\nSi hay dato nuevo, PRIMERO llama actualiza_perfil, LUEGO setea should_register:true.\n\nREGLAS DE cierre_data:\n\n- Presente en TODOS los mensajes del JSON de salida\n- Cuando etapa ≠ \"Cierre\" → todos los valores en null\n- Cuando etapa = \"Cierre\":\n  ✅ tipo_operacion → valor detectado o \"venta_directa\" por default\n  ✅ sucursal → derivada del origen del PERFIL CONSOLIDADO\n  ✅ equipo_crm → \"{sucursal}_{tipo_operacion}\" solo si ambos tienen valor\n  ❌ Si sucursal es null → equipo_crm = null y bot pregunta origen\n\n🎨 LIBERTAD CREATIVA Y VOZ PROPIA\n\nRespondé con alma:\n- 2 oraciones máximo: una que responda o conecte, una que pregunte\n- Una pregunta que realmente te interese saber\n- Conectá el auto con la vida del cliente, no con sus specs\n- Sé genuinamente curioso sobre sus planes y necesidades\n\nConectar bien significa:\n- No: \"tiene 7 asientos\"\n- Sí: \"entra toda la familia\"\n- No: \"motor de bajo consumo\"\n- Sí: \"rinde mucho en ciudad\"\n\nCuando necesites el origen para derivar:\nAntes:  \"¿De qué zona sos?\"\nAhora:  \"¿Desde qué provincia nos contactás? Así te conecto con el equipo de tu zona 👌\"\n\nEjemplos de transformación:\n\nAntes: \"El Versa tiene bajo consumo de combustible y es apto para uso urbano.\"\nAhora: \"¡El Versa es perfecto para moverse en la ciudad! ¿Cuánto manejás por semana?\"\n\nAntes: \"El X-Trail cuenta con tres filas de asientos y amplio espacio de carga.\"\nAhora: \"¡El X-Trail es ideal para familias que viajan seguido! ¿Cuántos van normalmente?\"\n\nAntes: \"La Frontier tiene tracción 4x4 y caja de carga de 1 tonelada.\"\nAhora: \"¡La Frontier está hecha para trabajo duro! ¿La usarías más en ruta o en campo?\"\n\nAntes: \"¿Desea financiar mediante plan de ahorro o venta directa?\"\nAhora: \"¿Lo estarías tomando por plan de ahorro o directo?\"\n\n\n⚡ CHECKLIST PRE-RESPUESTA\n\n✅ Horario validado (si deriva)\n✅ Memoria consultada (email, ubicación, datos previos)\n✅ Tono natural (tuteo, sin palabras robóticas)\n✅ Brevedad (15 palabras + 1 pregunta)\n✅ Multimedia: ¿Hay en el historial una frase \"Te mando una foto del [modelo]\" para este modelo? Si sí → NO enviar imagen.\n✅ JSON estructurado correctamente\n\n\n🎨 EJEMPLOS DE RESPUESTAS\nSaludo inicial:\njson{\n  \"response\": \"¡Hola Juan! 🚗 Soy [Nombre]. ¿Qué modelo te interesa ver?\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"\",\n    \"etapa\": \"Abierta\",\n    \"modelo\": \"\",\n    \"nombre\": \"\"\n  }\n}\nInfo valiosa (presupuesto):\njson{\n  \"response\": \"¡Perfecto! Con ese presupuesto tenés varias opciones. ¿Preferís SUV o sedán?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente con presupuesto USD 30,000\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\nSolicitud de cita:\njson{\n  \"response\": \"¡Dale! Te contacta un asesor pronto. ¿Qué modelo querés ver?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente solicitó cita\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre completo (todos los datos presentes):\n{\n  {\n  \"response\": \"¡Listo [nombre]! Ya registré tu consulta. Pronto el equipo de ventas se comunica con vos 👌\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente listo para cierre, Nuevo Kicks, plan de ahorro\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"Nuevo Kicks\",\n    \"nombre\": \"Juan Pérez\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro\",\n    \"sucursal\": \"tucuman\",\n    \"equipo_crm\": \"tucuman_plan_ahorro\"\n  }\n}\n\nCierre bloqueado (falta origen):\n{\n  \"response\": \"¡Genial, te conecto con un asesor! ¿De qué provincia sos? Así te paso con el equipo de tu zona 👌\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"Cliente quiere cerrar pero falta origen\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"Nuevo Kicks\",\n    \"nombre\": \"Juan Pérez\"\n  },\n  \"cierre_data\": {\n    \"tipo_operacion\": \"plan_ahorro\",\n    \"sucursal\": null,\n    \"equipo_crm\": null\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2448,784],"id":"d2d21b6e-b404-46ff-a4d4-dc70026e7910","name":"Nissan-Vendedor-Orquestador"},{"parameters":{"jsCode":"// Extraer datos del output estructurado del AI Agent\nconst agentOutput = $('Nissan-Vendedor-Orquestador').first().json.output\n//const agentOutput = $input.first().json.output\n  \n// Validar que tenemos los datos estructurados\nif (!agentOutput || typeof agentOutput !== 'object') {\n  console.log('Output no estructurado, saltando registro');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Extraer campos del output parser\nconst shouldRegister = agentOutput.should_register || false;\nconst contextData = agentOutput.context_data || {};\nconst cierreData = agentOutput.cierre_data || {};\n\n// Si no debe registrarse, retornar temprano\nif (!shouldRegister) {\n  console.log('El AI decidió NO registrar este mensaje');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Obtener datos del contexto del usuario\nconst userContext = $('Formatear Whatsapp input').first().json.userContext;\nconst telefono_origen = userContext.telefono_origen;\nconst display_phone = userContext.displayPhoneNumber || userContext.phoneNumberId;\n\n// Validar campos obligatorios\nif (!contextData.mensaje || !telefono_origen || !display_phone) {\n  console.error('Faltan datos obligatorios para el registro', {\n    mensaje: !!contextData.mensaje,\n    remitente: !!telefono_origen,\n    destinatario: !!display_phone\n  });\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Determinar si es etapa cierre\nconst esCierre = contextData.etapa === 'Cierre';\n\n// Preparar datos para Supabase\nconst dbData = {\n  shouldRegister: true,\n  mensaje: contextData.mensaje.trim(),\n  remitente: telefono_origen,\n  destinatario: display_phone,\n  etapa: contextData.etapa || 'Abierta',\n  modelo: contextData.modelo || '',\n  nombre: contextData.nombre || '',\n  // cierre_data: solo se populan si etapa es Cierre\n  tipo_operacion: esCierre ? (cierreData.tipo_operacion || null) : null,\n  sucursal:       esCierre ? (cierreData.sucursal || null) : null,\n  equipo_crm:     esCierre ? (cierreData.equipo_crm || null) : null\n};\n\nconsole.log('Datos preparados para registro:', {\n  mensaje_length: dbData.mensaje.length,\n  etapa: dbData.etapa,\n  modelo: dbData.modelo,\n  nombre: dbData.nombre,\n  ...(esCierre && {\n    tipo_operacion: dbData.tipo_operacion,\n    sucursal: dbData.sucursal,\n    equipo_crm: dbData.equipo_crm\n  })\n});\n\nreturn [{ json: dbData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,784],"id":"5d61e69f-d10d-4fc1-8e39-cb9a75c0fc38","name":"prepareDBdata","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"761a7b8b-2bf8-4ce4-9bd7-694c84488a0c","leftValue":"={{ $json.shouldRegister }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,592],"id":"802772bc-e9df-48f9-bf91-f4fc99ee0d63","name":"grabar_si_no"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1136,784],"id":"ce80c5a9-0717-405a-b41c-f628f066551b","name":"No Operation, do nothing"},{"parameters":{"tableId":"nissanVendedorMemory","fieldsUi":{"fieldValues":[{"fieldId":"mensaje","fieldValue":"={{ $json.mensaje }}"},{"fieldId":"remitente","fieldValue":"={{ $json.remitente }}"},{"fieldId":"destinatario","fieldValue":"={{ $json.destinatario }}"},{"fieldId":"etapa","fieldValue":"={{ $json.etapa }}"},{"fieldId":"modelo","fieldValue":"={{ $json.modelo }}"},{"fieldId":"nombre","fieldValue":"={{ $json.nombre }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1136,592],"id":"fb720d83-17ae-4186-80e2-1efc4b632ea9","name":"post_registro_nuevo","credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const saved = $input.first().json;\n\nconsole.log('✅ Registro exitoso en BD:', {\n  mensaje_preview: saved.mensaje?.substring(0, 50) + '...',\n  etapa: saved.etapa,\n  modelo: saved.modelo,\n  timestamp: new Date().toISOString()\n});\n\n// No retornar nada para que la ejecución termine aquí\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,592],"id":"3e62faef-6788-4143-9ea2-815fe8202b97","name":"dbSuccessLog"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"fsalva\",\n    \"password\": \"12345\",\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,112],"id":"8323bf0a-7639-4fe2-8d18-338899770649","name":"login_cloudy"},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,208],"id":"42ee66a0-994d-4eb7-9e7c-55f07842b408","name":"pre-carga-oportunidad"},{"parameters":{"method":"PUT","url":"https://desa.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,112],"id":"4a8d02ae-6533-42bb-a8ad-87ac5351cf25","name":"crear-nueva-oportunidad","onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Nissan'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// Actualizar tipo de operación según dato real del lead\ntipo_operacion_var.Value = lead_info.tipo_operacion === 'plan_ahorro' \n  ? 'Plan de ahorro' \n  : 'Venta directa';\n\n// Asignar ejecutivo según equipo_crm en etapa Cierre\nif (etapa === \"Cierre\") {\n  \n  const equipoCrm = lead_info.equipo_crm;\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n\n  const ejecutivoMap = {\n    \"tucuman_plan_ahorro\":            \"DISTRIBUIR - Plan de ahorro - NISSAN TUCUMAN Agente Elite\",\n    \"tucuman_venta_directa\":          \"DISTRIBUIR - VTA - Directa NISSAN Tucuman Agente Elite\",\n    \"santiago_del_estero_plan_ahorro\": \"DISTRIBUIR - Plan de ahorro - NISSAN SANTIAGO Agente Elite\",\n    \"santiago_del_estero_venta_directa\": \"DISTRIBUIR - VTA - Directa NISSAN Santiago Agente Elite\"\n  };\n\n  ejecutivo_var.Value = ejecutivoMap[equipoCrm] || 'DISTRIBUIR - Automotores - Call';\n  \n  console.log('Cierre - equipo_crm:', equipoCrm, '→ ejecutivo:', ejecutivo_var.Value);\n  /*\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n  */\n  \n} else {\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  ;\n}\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,208],"id":"f68d7976-5424-4f30-8396-3e1ecbb5666e","name":"modifica-body"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Usa los datos que provienen de las siguientes fuentes:\n{{ $('Formatear Whatsapp input').item.json.userContext.contexto_historial }}\ny\n{{ $json.mensaje }}\n\nDatos de cierre disponibles (ya procesados, usar directamente sin reinterpretar):\n- tipo_operacion: {{ $json.tipo_operacion }}\n- sucursal: {{ $json.sucursal }}\n- equipo_crm: {{ $json.equipo_crm }}\n\nIMPORTANTE: Debes responder ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes o después.\nAnaliza la conversación y genera un JSON con esta estructura EXACTA:\n{\n  \"resumen\": \"string - Resumen detallado del lead para el CRM, incluyendo contexto, necesidades, intención de compra y detalles relevantes\",\n  \"firstName\": \"string o null - Nombre del cliente\",\n  \"lastName\": \"string o null - Apellido del cliente\",\n  \"email\": \"string o null - Email del cliente\",\n  \"provincia\": \"string o null - Provincia\",\n  \"ciudad\": \"string o null - Ciudad\",\n  \"sexo\": \"string - 'masculino', 'femenino' o 'no especificado'\",\n  \"modelo_interes\": \"string o null - Modelo de vehículo de interés\",\n  \"tipo_lead\": \"string - 'cita', 'test_drive', 'consulta_precio', 'informacion' u 'otro'\",\n  \"urgencia\": \"string - 'alta', 'media' o 'baja'\",\n  \"telefono\": \"string o null - Número de teléfono\",\n  \"fecha_cita\": \"string o null - Fecha de cita si fue mencionada\",\n  \"tipo_operacion\": \"string o null - Valor exacto recibido en datos de cierre\",\n  \"sucursal\": \"string o null - Valor exacto recibido en datos de cierre\",\n  \"equipo_crm\": \"string o null - Valor exacto recibido en datos de cierre\"\n}\nREGLAS:\n- El campo \"resumen\" es OBLIGATORIO y debe ser descriptivo\n- Los campos tipo_operacion, sucursal y equipo_crm deben copiarse EXACTAMENTE \n  desde los datos de cierre recibidos, sin modificar ni reinterpretar\n- Si un dato de cierre llega como null, mantenerlo como null en el JSON\n- Si un dato no está disponible, usa null\n- NO agregues texto antes o después del JSON\n- Asegúrate de que sea un JSON válido","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-912,208],"id":"c04ff45f-e485-4982-b341-66be6286fbe8","name":"resumen_lead","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Obtener la respuesta del nodo OpenAI\nconst input = $input.all()[0].json;\n\nlet parsedData;\n\n// Intentar parsear el contenido\ntry {\n  const content = input.message?.content || input.content || JSON.stringify(input);\n  \n  if (typeof content === 'object') {\n    parsedData = content;\n  } else {\n    parsedData = JSON.parse(content);\n  }\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  parsedData = {\n    resumen: input.message?.content || \"Error: No se pudo extraer resumen\",\n    firstName: null,\n    lastName: null,\n    email: null,\n    provincia: null,\n    ciudad: null,\n    sexo: \"no especificado\",\n    modelo_interes: null,\n    tipo_lead: \"otro\",\n    urgencia: \"media\",\n    telefono: null,\n    fecha_cita: null,\n    tipo_operacion: null,\n    sucursal: null,\n    equipo_crm: null\n  };\n}\n\n// Validar enums de cierre_data\nconst validTipoOperacion = [\"plan_ahorro\", \"venta_directa\"];\nconst validSucursal = [\"tucuman\", \"santiago_del_estero\"];\nconst validEquipoCrm = [\n  \"tucuman_venta_directa\",\n  \"tucuman_plan_ahorro\",\n  \"santiago_del_estero_venta_directa\",\n  \"santiago_del_estero_plan_ahorro\"\n];\n\n// Normalizar y validar campos obligatorios\nconst normalized = {\n  resumen: parsedData.resumen || \"Sin resumen disponible\",\n  nombre: parsedData.firstName || null,\n  apellido: parsedData.lastName || null,\n  email: parsedData.email || null,\n  provincia: parsedData.provincia || null,\n  ciudad: parsedData.ciudad || null,\n  sexo: parsedData.sexo || \"no especificado\",\n  modelo_interes: parsedData.modelo_interes || null,\n  tipo_lead: parsedData.tipo_lead || \"otro\",\n  urgencia: parsedData.urgencia || \"media\",\n  telefono: parsedData.telefono || null,\n  fecha_cita: parsedData.fecha_cita || null,\n  tipo_operacion: validTipoOperacion.includes(parsedData.tipo_operacion) \n    ? parsedData.tipo_operacion \n    : null,\n  sucursal: validSucursal.includes(parsedData.sucursal) \n    ? parsedData.sucursal \n    : null,\n  equipo_crm: validEquipoCrm.includes(parsedData.equipo_crm) \n    ? parsedData.equipo_crm \n    : null\n};\n\n// Validar enums campos existentes\nconst validSexo = [\"masculino\", \"femenino\", \"no especificado\"];\nif (!validSexo.includes(normalized.sexo)) {\n  normalized.sexo = \"no especificado\";\n}\n\nconst validTipoLead = [\"cita\", \"test_drive\", \"consulta_precio\", \"informacion\", \"otro\"];\nif (!validTipoLead.includes(normalized.tipo_lead)) {\n  normalized.tipo_lead = \"otro\";\n}\n\nconst validUrgencia = [\"alta\", \"media\", \"baja\"];\nif (!validUrgencia.includes(normalized.urgencia)) {\n  normalized.urgencia = \"media\";\n}\n\n// Advertencia si llega a cierre sin equipo_crm\nif (normalized.tipo_lead === \"cita\" && !normalized.equipo_crm) {\n  console.warn('Lead en cierre sin equipo_crm definido', {\n    sucursal: normalized.sucursal,\n    tipo_operacion: normalized.tipo_operacion\n  });\n}\n\nreturn { json: normalized };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,112],"id":"f7141246-6bdc-4950-900c-1d43fafa5b9b","name":"limpia_data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-560,304],"id":"91c24482-e316-4d6e-80b9-1a0d2c42ad2e","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baaac84f-6855-4687-b516-d63b11b010d8","leftValue":"={{ $json.etapa }}","rightValue":"Cierre","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1136,304],"id":"dd89afd3-e017-40a5-b594-4339451765d9","name":"etapa_cierre?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-848,400],"id":"b375d072-a908-40cb-a4a9-86232e16af49","name":"No Operation, do nothing4","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Nissan' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,112],"id":"02cf7c26-8af1-4093-b4b9-a61d0796df93","name":"get-lead-by-cel-marca"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,112],"id":"45659e4e-0087-4471-9f5e-07b6fd310c0f","name":"existe-led?"},{"parameters":{"url":"=https://desa.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,16],"id":"9cc1411a-e204-4db8-b0eb-5935bd10d756","name":"get-lead-by-doc_id"},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n/*\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n*/\n\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,16],"id":"e7da39db-099d-4d1b-8039-71078babd079","name":"edita-body"},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":7200},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1136,976],"id":"47c5dae2-4215-4912-8d7b-f4dc1614edcc","name":"Redis - Register Followup","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"La respuesta conversacional para el usuario\"\n    },\n    \"should_register\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si la conversación contiene información valiosa para registrar, false en caso contrario\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"mensaje\": {\n          \"type\": \"string\",\n          \"description\": \"Descripción breve y clara de la información relevante del usuario (presupuesto, preferencias, necesidades)\"\n        },\n        \"etapa\": {\n          \"type\": \"string\",\n          \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"],\n          \"description\": \"Etapa actual del proceso de venta\"\n        },\n        \"modelo\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del modelo de vehículo si es relevante, vacío si no aplica\"\n        },\n        \"nombre\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del cliente si fue capturado en la conversación\"\n        }\n      },\n      \"required\": [\"mensaje\", \"etapa\", \"modelo\", \"nombre\"]\n    },\n    \"cierre_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"tipo_operacion\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\"plan_ahorro\", \"venta_directa\", null],\n          \"description\": \"Tipo de operación detectado. null si etapa no es Cierre\"\n        },\n        \"sucursal\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\"tucuman\", \"santiago_del_estero\", null],\n          \"description\": \"Sucursal derivada del origen del cliente. null si etapa no es Cierre o si falta origen\"\n        },\n        \"equipo_crm\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\n            \"tucuman_venta_directa\",\n            \"tucuman_plan_ahorro\",\n            \"santiago_del_estero_venta_directa\",\n            \"santiago_del_estero_plan_ahorro\",\n            null\n          ],\n          \"description\": \"Combinación sucursal + tipo_operacion para distribución en CRM. null si faltan datos o etapa no es Cierre\"\n        }\n      },\n      \"required\": [\"tipo_operacion\", \"sucursal\", \"equipo_crm\"]\n    }\n  },\n  \"required\": [\"response\", \"should_register\", \"context_data\", \"cierre_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1920,1024],"id":"46626ca7-44e6-41e0-be01-cfef37575d8e","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,1184],"id":"9e90c6ca-b871-4ba0-b578-50853fd24830","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2656,1072],"id":"c6619924-982c-4c0f-b2df-98fe05e95a06","name":"Simple Memory1"},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\nconst dataPerfil = $('get-perfil').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura - priorizar dataPerfil sobre historial\nconst etapa_actual = dataPerfil?.etapa_actual \n  || (memoria_contexto_array.length > 0 \n    ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n    : null);\n\n// CONSTRUIR BLOQUE DE PERFIL CONSOLIDADO\nlet bloque_perfil = \"\";\nif (dataPerfil && dataPerfil.telefono) {\n  const campos = [\n    dataPerfil.nombre        ? `Nombre: ${dataPerfil.nombre}` : null,\n    dataPerfil.email         ? `Email: ${dataPerfil.email}` : null,\n    dataPerfil.origen        ? `Origen: ${dataPerfil.origen}` : null,\n    dataPerfil.domicilio     ? `Domicilio: ${dataPerfil.domicilio}` : null,\n    dataPerfil.presupuesto   ? `Presupuesto: ${dataPerfil.presupuesto}` : null,\n    dataPerfil.grupo_familiar ? `Grupo familiar: ${dataPerfil.grupo_familiar}` : null,\n    dataPerfil.credito_bancario !== null && dataPerfil.credito_bancario !== undefined\n      ? `Crédito bancario: ${dataPerfil.credito_bancario ? 'Sí' : 'No'}` : null,\n    dataPerfil.modelos_interes?.length \n      ? `Modelos de interés: ${dataPerfil.modelos_interes.join(', ')}` : null,\n    dataPerfil.etapa_actual  ? `Etapa actual: ${dataPerfil.etapa_actual}` : null,\n  ].filter(Boolean);\n\n  if (campos.length > 0) {\n    bloque_perfil = `=== PERFIL CONSOLIDADO DEL CLIENTE ===\\n${campos.join('\\n')}\\n======================================\\n\\n`;\n  }\n}\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  const historial = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n  memoria_contexto = bloque_perfil + historial;\n} else {\n  memoria_contexto = bloque_perfil; // Solo perfil, sin historial previo\n}\n\n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0];\nconst contact = wppData.contacts[0];\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario - priorizar dataPerfil sobre historial\nlet userName = dataPerfil?.nombre \n  || wppData.contacts[0]?.profile?.name \n  || 'Cliente';\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\");\n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2784,784],"id":"3c833fcf-892e-4932-9d75-bfc00f1249a0","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"nissanVendedorMemory","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3456,592],"id":"f2c449fc-8804-49e3-9c43-74a42c1bda1f","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3008,496],"id":"55b04177-b159-4f58-adb5-f33ce40aef03","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"3b988b2e-26dc-4b98-9bf6-9fdc1396a770","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[-3232,592],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"66bc081d-6a46-4833-a778-daa517e66f86","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[-3008,688],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"nissan_clientes","returnAll":true,"filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3904,688],"id":"8a52667a-4a52-4331-82ce-fda3cc7cda6a","name":"get-perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $input.first().json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":0}],"combinator":"and"},"options":{}},"id":"b3c46b8e-8198-4d10-8f08-4d3cc68882f2","name":"perfil_existe?","type":"n8n-nodes-base.if","position":[-3680,688],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"ce739953-280f-4fae-86b4-d1f6c75b42ad","name":"Default Memory","type":"n8n-nodes-base.set","position":[-3008,880],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"tableId":"nissan_clientes","fieldsUi":{"fieldValues":[{"fieldId":"telefono","fieldValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},{"fieldId":"nombre","fieldValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name || \"\" }} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3232,880],"id":"f703d63b-c9e8-4f33-b52c-cea8384eb4a2","name":"post_registro_nuevo1","credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueRegularOutput"},{"parameters":{"description":"=Actualiza el perfil consolidado del cliente en la base de datos. \nLlamar cuando el cliente revela un dato nuevo que NO aparezca en el bloque \nPERFIL CONSOLIDADO DEL CLIENTE del contexto: nombre, email, origen, domicilio, \npresupuesto, modelo de interés, grupo familiar, crédito bancario, o cuando \nla etapa cambia. No llamar si el dato ya está en el perfil consolidado.\nIMPORTANTE: El campo \"telefono\" NUNCA debe incluirse dentro del objeto \"data\". \nEs un parámetro separado que se envía automáticamente y es inmutable.","workflowId":{"__rl":true,"value":"apfOt1wwnUMXCJRa","mode":"list","cachedResultUrl":"/workflow/apfOt1wwnUMXCJRa","cachedResultName":"update-perfil"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', ``, 'json') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2528,1072],"id":"d2868c55-0ca9-4e35-8503-deaf8aed8a7e","name":"actualiza_perfil"},{"parameters":{"content":"# NISSAN VENDEDOR        ","height":80,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2496,432],"typeVersion":1,"id":"a2f32f88-199e-4b1c-a7c7-baf670f9e130","name":"Sticky Note"},{"parameters":{"text":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"nsfw":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-7664,864],"id":"26bc996d-79a4-4bbb-8b6c-525fbd2d48e2","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7664,1136],"id":"2715e59f-b8bb-4be7-adac-8eaad2639431","name":"openai-para-guardrail","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"13edf94b-e66a-401c-9263-2c4f247767de","name":"respuesta","value":"Tu mensaje no cumple con nuestros estandares de seguridad o buenos modales, por favor,  reformula y vuelve a enviar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7312,1008],"id":"a813c75b-f1cd-4643-a750-191effa1c096","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $json.respuesta }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6992,1280],"id":"2f140604-f612-42b0-9fc4-e61b0c6b49cb","name":"mensaje-rechazo-seguridad","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}}},{"parameters":{"workflowId":{"__rl":true,"value":"a4Fh79xyDiwmrerG","mode":"list","cachedResultUrl":"/workflow/a4Fh79xyDiwmrerG","cachedResultName":"subflujo_pdf_tecnico_nissan"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}","telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2304,1072],"id":"88838c9e-18d4-413b-9563-5e53c1f41f7f","name":"send_pdf_tecnico"},{"parameters":{"workflowId":{"__rl":true,"value":"LKG88AOt6q60Azgg","mode":"list","cachedResultUrl":"/workflow/LKG88AOt6q60Azgg","cachedResultName":"subflujo_imagen"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2144,1072],"id":"f3b5b150-68f6-4a50-b973-02d55804ed2e","name":"send_image"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-2800,1040],"id":"3279b6b7-fb27-4b90-be3f-b906d06d6d7c","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QUYO24DurfCqfZ17","name":"anthropic-agn-credential"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-7984,656],"id":"3db8d829-9425-42f9-8b56-aceffa6ee9ae","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"7qsDsstoqkqJTekf","name":"header auth nisssan ventas"}}},{"parameters":{"jsCode":"// Obtener sessionId del nodo session-id\nconst sessionId = $('session-id').first().json.sessionId;\n\n// Obtener datos del AI\nconst aiOutput = $('Nissan-Vendedor-Orquestador').first().json.output;\nconst contextData = aiOutput.context_data || {};\nconst aiResponse = aiOutput.response || '';\n\n// Obtener mensaje del usuario\nconst userMessages = $('une_mensajes').first().json;\nconst userMessage = userMessages.mensaje_usuario || '';\n\n// Crear el objeto que se guardará en Redis\nconst redisData = {\n  timestamp: new Date().toISOString(),\n  etapa: contextData.etapa || 'Abierta',\n  last_bot_msg: aiResponse,\n  last_user_msg: userMessage,\n  nombre: contextData.nombre || ''\n};\n\n// Convertir a JSON string\nconst redisValue = JSON.stringify(redisData);\n\n// Retornar para el siguiente nodo\nreturn {\n  json: {\n    redis_key: `followup_nissan:${sessionId}`,\n    redis_value: redisValue,\n    ttl: 86400 // 24 horas\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,976],"id":"cbb38de5-8119-460f-8d8e-fe01d1d49108","name":"set-data-followup"},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5968,784],"id":"af102ee5-ad54-4c5e-a986-b014d58b1005","name":"session-id"},{"parameters":{"operation":"delete","key":"= followup_nissan:{{$json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5616,1056],"id":"6d370d20-2de2-4609-80ed-1aa935108d33","name":"Cancelar FollowUp","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-336],"id":"6fd393d9-19d7-46e8-82d5-b4ce23d90544","name":"login_cloudy1","disabled":true},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,-240],"id":"107d200a-f9c7-49a5-8f53-1cbfac4535c4","name":"pre-carga-oportunidad1","disabled":true},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,-336],"id":"7c89e22e-6c0b-465c-8f53-187c13f4c313","name":"crear-nueva-oportunidad1","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Hyundai'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\ntipo_operacion_var.Value = 'Venta directa'\n\n// let team_var = data.CustomFields.find(item => item.Name === \"TEAM\")\n// team_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n// let team_id_var = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\n// team_id_var.Value = 349483\n\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"83691edf-05ec-4655-bc1a-35843c0561e0","name":"modifica-body1","disabled":true},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Hyundai' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-336],"id":"0b574a77-6c27-4a88-8cee-959867a308bb","name":"get-lead-by-cel-marca1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-336],"id":"a1d1ff8d-a21c-4b08-999e-491b54a4e4fc","name":"existe-led?1","disabled":true},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,-432],"id":"1e46d7b9-3fb5-495c-8fda-78e66843a62e","name":"get-lead-by-doc_id1","disabled":true},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-432],"id":"f727bccb-36d0-45a0-8d42-fc6b0832daec","name":"edita-body1","disabled":true},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-8768,1104],"id":"94bd182e-1cac-438b-9cd8-d69778810c67","name":"WhatsApp Trigger","webhookId":"9fe17a6a-7f98-4c8a-b90b-db3c655a7224","credentials":{"whatsAppTriggerApi":{"id":"IxwjGSZBob5OTD5v","name":"nissan-vendedor-in"}}},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"=3874681678","textBody":"=hola Fer son vendedor Nissan","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-480,1040],"id":"6d9fa44f-9569-48f6-8007-e5ff81f3f54c","name":"Send message1","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}},"disabled":true}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[]]},"Switch":{"main":[[{"node":"merge_datos","type":"main","index":0}],[{"node":"session-id","type":"main","index":0}],[{"node":"obtener-sonido","type":"main","index":0}]]},"transcibe":{"main":[[{"node":"texto-from-sonido","type":"main","index":0}]]},"texto-from-sonido":{"main":[[]]},"obtener-sonido":{"main":[[{"node":"bajar-sonido","type":"main","index":0}]]},"bajar-sonido":{"main":[[{"node":"transcibe","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"If1":{"main":[[{"node":"limpiar-numero","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"get-perfil","type":"main","index":0}]]},"merge_datos":{"main":[[]]},"limpiar-numero":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"Nissan-Vendedor-Orquestador":{"main":[[{"node":"Send message","type":"main","index":0}]]},"prepareDBdata":{"main":[[{"node":"grabar_si_no","type":"main","index":0},{"node":"set-data-followup","type":"main","index":0}]]},"grabar_si_no":{"main":[[{"node":"post_registro_nuevo","type":"main","index":0},{"node":"etapa_cierre?","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"post_registro_nuevo":{"main":[[{"node":"dbSuccessLog","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-lead-by-cel-marca","type":"main","index":0}]]},"pre-carga-oportunidad":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"resumen_lead":{"main":[[{"node":"limpia_data","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"limpia_data":{"main":[[{"node":"login_cloudy","type":"main","index":0}]]},"etapa_cierre?":{"main":[[{"node":"resumen_lead","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"get-lead-by-cel-marca":{"main":[[{"node":"existe-led?","type":"main","index":0}]]},"existe-led?":{"main":[[{"node":"get-lead-by-doc_id","type":"main","index":0}],[{"node":"pre-carga-oportunidad","type":"main","index":0}]]},"get-lead-by-doc_id":{"main":[[{"node":"edita-body","type":"main","index":0}]]},"edita-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_outputParser","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_memory","index":0}]]},"Send message":{"main":[[{"node":"prepareDBdata","type":"main","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"Nissan-Vendedor-Orquestador","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"get-perfil":{"main":[[{"node":"perfil_existe?","type":"main","index":0}]]},"perfil_existe?":{"main":[[{"node":"Get Memory","type":"main","index":0}],[{"node":"post_registro_nuevo1","type":"main","index":0}]]},"Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"post_registro_nuevo1":{"main":[[{"node":"Default Memory","type":"main","index":0}]]},"actualiza_perfil":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Guardrails":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"openai-para-guardrail":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"mensaje-rechazo-seguridad","type":"main","index":0}]]},"send_pdf_tecnico":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"send_image":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_languageModel","index":0}]]},"typing_indicator":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"set-data-followup":{"main":[[{"node":"Redis - Register Followup","type":"main","index":0}]]},"session-id":{"main":[[{"node":"Cancelar FollowUp","type":"main","index":0},{"node":"redis-cola-mensajes","type":"main","index":0}]]},"login_cloudy1":{"main":[[{"node":"get-lead-by-cel-marca1","type":"main","index":0}]]},"pre-carga-oportunidad1":{"main":[[{"node":"modifica-body1","type":"main","index":0}]]},"modifica-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"get-lead-by-cel-marca1":{"main":[[{"node":"existe-led?1","type":"main","index":0}]]},"existe-led?1":{"main":[[{"node":"get-lead-by-doc_id1","type":"main","index":0}],[{"node":"pre-carga-oportunidad1","type":"main","index":0}]]},"get-lead-by-doc_id1":{"main":[[{"node":"edita-body1","type":"main","index":0}]]},"edita-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}