obtener-conversaciones-3SKH7S3KC4BtpzMG.json
{"updatedAt":"2026-07-01T13:43:37.000Z","createdAt":"2026-07-01T13:43:23.985Z","id":"3SKH7S3KC4BtpzMG","name":"Obtener conversaciones","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"inbox_id","value":"7"},{"name":"page","value":"={{ $json.page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,0],"id":"44fb61d8-da5e-4121-89de-dbec14f73a9e","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $json.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,0],"id":"3d68faf2-58f5-4009-9dc0-09f5770207f4","name":"HTTP Request1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const totalPages = 63;\n\nconst items = [];\n\nfor (let page = 1; page <= totalPages; page++) {\n  items.push({\n    json: {\n      page\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"9e33a731-00c3-4ee9-ae97-4a4eea25edf1","name":"Code in JavaScript"},{"parameters":{"fieldToSplitOut":"data.payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[496,0],"id":"5e5cc8cb-84e8-4a21-826a-9170be6409c1","name":"Split Out"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9b1a25c1-a9e1-466a-a201-eb4d23cf323d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-01T13:43:23.998Z","createdAt":"2026-07-01T13:43:23.998Z","role":"workflow:owner","workflowId":"3SKH7S3KC4BtpzMG","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}