ovalo_conversacional_reactivo-B4tBe1qZEvAVtLpq.json
{"updatedAt":"2026-04-06T18:41:05.000Z","createdAt":"2025-12-09T11:31:09.783Z","id":"B4tBe1qZEvAVtLpq","name":"ovalo_conversacional_reactivo","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"send","phoneNumberId":"778640135336559","recipientPhoneNumber":"={{ $('normalizaNumero').item.json.numeroNormalizado }}","textBody":"={{ $('build_output').item.json.whatsapp_response }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[9008,496],"id":"1f409eb2-e3f0-43de-a1e9-05f3167229d4","name":"Send message","webhookId":"09ac483c-773e-40e1-a55f-e99024d85e45","credentials":{"whatsAppApi":{"id":"aUVyUgMDdyey11mO","name":"WhatsApp out Ovalo"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{"timeout":120000,"maxRetries":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7504,720],"id":"2397a858-18a5-4b30-9925-30f4a278d116","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9588a1b0-8bce-4170-8e4d-1e7ac8af0bc8","leftValue":"={{ $('numero_celular_limpio').first().json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('numero_celular_limpio').first().json.messages[0].text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"828a723a-5e59-4036-8887-9113d0fc343f"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999cb57e-1298-4d93-9db6-7965dcb25d29","leftValue":"={{ $('numero_celular_limpio').first().json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,624],"id":"e0d4f140-3a3a-4315-8395-991589e104ec","name":"Switch"},{"parameters":{"jsCode":"// Función para convertir número WhatsApp a formato argentino\nconst whatsappNumber = $('WhatsApp Trigger').first().json.messages[0].from;\nconst normalizedNumber = whatsappNumber\n  .replace(/^549/, \"+54 \");  // Reemplaza 549 inicial\n  //.replace(/(\\+54 )(\\d{3})(\\d{2})(\\d{3})(\\d{4})/, \"$1$2 15-$3-$4\"); \nreturn {\n  numeroNormalizado: normalizedNumber\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8320,496],"id":"59b702ba-9e91-4634-946b-38f3aec26c0b","name":"normalizaNumero"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1248,1152],"id":"63aa53de-3465-40d1-9e87-eae7690bd42a","name":"transcibe","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"87baa1ef-c5b7-471a-8179-c6859960d2bb","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,1152],"id":"30d47a23-4e46-4273-8b0b-59afc48878e6","name":"texto-from-sonido"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[0,0],"id":"09b07673-00b3-4d4a-99a1-6243dbca1575","name":"obtener-imagen","webhookId":"d1ec4d24-dfcd-4af0-a415-515649c7c098","credentials":{"whatsAppApi":{"id":"PGQoH2rReCvrpDyC","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-16,1152],"id":"1d6bebe2-9551-4d22-913f-d43d00fec84a","name":"obtener-sonido","webhookId":"3c11c78e-cc78-4b7f-9fc7-76dcb0199206","credentials":{"whatsAppApi":{"id":"aUVyUgMDdyey11mO","name":"WhatsApp out Ovalo"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1152],"id":"79b4fe41-25b6-41ec-baf1-557a1cb0bca2","name":"bajar-sonido","credentials":{"httpHeaderAuth":{"id":"o9IbuURjKnZ1vOnI","name":"Header Auth Ovalo"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"2f78bf6b-128c-46df-8791-a177e526bcb7","name":"bajar-imagen","credentials":{"httpHeaderAuth":{"id":"47MmA1KWOQl1bV2H","name":"header-auth-whatsapp-ovalo"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Que hay en esta imagen?","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,0],"id":"1cc7af93-c9f9-4c43-b63d-0cb9de6997b6","name":"Analyze image","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b882c2d-319d-4791-8382-5724677a687a","name":"text","value":"=tenemos texto e imagen:\n\n##texto\n{{ $('WhatsApp Trigger viejo').item.json.messages[0].image.caption || \"analiza esta imagen\"}}\n\n\n##imagen\n{{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,0],"id":"ffd7413f-368f-44a9-8b2d-86fc640a0998","name":"texto-from-imagen"},{"parameters":{"documentId":{"__rl":true,"value":"1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk","mode":"list","cachedResultName":"tabla_status_complete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1662782129,"mode":"list","cachedResultName":"NovedadesPlanOvalo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit#gid=1662782129"},"filtersUI":{"values":[{"lookupColumn":"phone_mobile","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_mobile","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"},{"lookupColumn":"phone_home","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_home","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"},{"lookupColumn":"phone_business","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_business","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[7808,832],"id":"40fb37f0-3d96-4b2c-b52f-60c553d7ea62","name":"info_status","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called \"phoneNumbers\" to the JSON of each one\nlet data = $('WhatsApp Trigger').all()\nfor (const item of data) {\n  // Extraer el número del campo \"from\"\n  const whatsappNumber = item.json.messages[0].from;\n  \n  // Remover el código de país de Argentina (54) y el 9 adicional de WhatsApp\n  // Formato WhatsApp: 549387468167* -> extraemos 3874681678\n  let localNumber = whatsappNumber.replace('54', '').replace('9', '');\n  let completeNumber = whatsappNumber.replace(/^549/, \"54\");\n  \n  // Crear los dos formatos solicitados\n  const phoneNumbers = {\n    withoutPrefix: localNumber,           // 3874681678\n    withPrefix: completeNumber\n  };\n  \n  // Agregar el nuevo campo al objeto\n  item.json.phoneNumbers = phoneNumbers;\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,640],"id":"23e91e58-22d3-4b71-b38c-61a4e70235a0","name":"numero_celular_limpio"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A","mode":"list","cachedResultName":"contactos_historial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}","email":"={{ $('build_output').item.json.metadata.detalles_acuerdo.email }}"," Fecha_contacto":"={{ $('build_output').item.json.metadata.fecha_seguimiento }}","Tipo_Contacto":"whatsapp","Estado":"={{ $('build_output').item.json.metadata.estado_conversacion }}","Respuesta":"={{ $('build_output').item.json.metadata.resumen_interaccion }}","Siguiente_Accion":"={{ $('build_output').item.json.metadata.proxima_accion }}","tipo_resultado":"={{ $('build_output').item.json.metadata.tipo_resultado }}","detalles_acuerdo":"={{ $('build_output').item.json.metadata.detalles_acuerdo }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":" Fecha_contacto","displayName":" Fecha_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo_Contacto","displayName":"Tipo_Contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Siguiente_Accion","displayName":"Siguiente_Accion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo_resultado","displayName":"tipo_resultado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"detalles_acuerdo","displayName":"detalles_acuerdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[9216,272],"id":"8609965a-8486-4bd9-bcd3-995abbcca7e1","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"jsCode":"const getCurrentDate = () => {\n    try {\n        // Intentar obtener del contexto\n        const contextDate = raw_ai_response.body?.currentTime || \n                           raw_ai_response.currentTime || \n                           $json.body?.currentTime || \n                           $json.currentTime;\n        \n        if (contextDate) {\n            return new Date(contextDate).toISOString().split('T')[0];\n        }\n        \n        // Usar $now de n8n (más confiable)\n        return $now.toFormat('yyyy-MM-dd');\n    } catch (error) {\n        // Fallback absoluto con fecha hardcodeada temporal\n        console.log(\"⚠️ Error obteniendo fecha:\", error);\n        return new Date().toISOString().split('T')[0];\n    }\n};\n\n\n\ntry {\n    // Inicializar variables\n    let processing_status = \"success\";\n    let json_valid = true;\n    // Obtener la respuesta completa del nodo agente\n    let raw_ai_response = $input.first().$json || $json;\n    \n    // Obtener fecha actual\n    // const getCurrentDate = () => {  \n    //     const contextDate = raw_ai_response.body?.currentTime || \n    //                        raw_ai_response.currentTime || \n    //                        $json.body?.currentTime || \n    //                        $json.currentTime;\n        \n    //     if (contextDate) {\n    //         return new Date(contextDate).toISOString().split('T')[0];\n    //     }\n    //     return new Date().toISOString().split('T')[0];\n    // };\n  const getCurrentDate = () => {\n    try {\n        // Intentar obtener del contexto\n        const contextDate = raw_ai_response.body?.currentTime || \n                           raw_ai_response.currentTime || \n                           $json.body?.currentTime || \n                           $json.currentTime;\n        \n        if (contextDate) {\n            return new Date(contextDate).toISOString().split('T')[0];\n        }\n        \n        // Usar $now de n8n (más confiable)\n        return $now.toFormat('yyyy-MM-dd');\n    } catch (error) {\n        // Fallback absoluto con fecha hardcodeada temporal\n        console.log(\"⚠️ Error obteniendo fecha:\", error);\n        return new Date().toISOString().split('T')[0];\n    }\n};\n    \n    const currentDate = getCurrentDate();\n    \n    // Debug: Ver qué datos tenemos disponibles\n    console.log(\"📥 Datos completos recibidos:\", JSON.stringify(raw_ai_response, null, 2));\n    \n    // Verificar si ya tenemos la estructura JSON del agente\n    if (raw_ai_response.respuesta_usuario && raw_ai_response.metadata) {\n        // El agente ya devolvió el JSON estructurado\n        whatsapp_response = raw_ai_response.respuesta_usuario;\n        metadata = raw_ai_response.metadata;\n        console.log(\"✅ Estructura JSON del agente encontrada directamente\");\n    } else {\n        // Buscar en diferentes ubicaciones posibles\n        let agentOutput = raw_ai_response.output || raw_ai_response.respuesta_usuario || raw_ai_response.response || null;\n        \n        if (!agentOutput) {\n            console.log(\"❌ No se encontró el output del agente\");\n            throw new Error(\"No se pudo obtener la respuesta del agente\");\n        }\n        \n        console.log(\"📤 Output del agente encontrado:\", agentOutput);\n        \n        // Intentar parsear como JSON si viene como string\n        try {\n          const cleanedOutput = typeof agentOutput === 'string' \n    ? agentOutput.replace(/```json\\n?|\\n?```/g, '').trim() \n    : agentOutput;\nconst parsedResponse = typeof cleanedOutput === 'string' ? JSON.parse(cleanedOutput) : cleanedOutput;\n            //const parsedResponse = typeof agentOutput === 'string' ? JSON.parse(agentOutput) : agentOutput;\n//           console.log(\"🔍 Tipo de parsedResponse:\", typeof parsedResponse);\n// console.log(\"🔍 Propiedades disponibles:\", Object.keys(parsedResponse));\n// console.log(\"🔍 Tiene respuesta_usuario:\", !!parsedResponse.respuesta_usuario);\n// console.log(\"🔍 Tiene metadata:\", !!parsedResponse.metadata);\n            \n            // Verificar que tiene la estructura esperada\n            if (parsedResponse.respuesta_usuario && parsedResponse.metadata) {\n                whatsapp_response = parsedResponse.respuesta_usuario;\n                metadata = parsedResponse.metadata;\n                console.log(\"✅ JSON válido parseado correctamente\");\n            } \n            else {\n                //throw new Error(\"Estructura JSON inválida\");\n              // Si el JSON parseado no tiene la estructura esperada, usar el contenido directo\n    console.log(\"⚠️ JSON válido pero sin estructura esperada, usando contenido directo\");\n    whatsapp_response = typeof parsedResponse === 'string' ? parsedResponse : JSON.stringify(parsedResponse);\n    json_valid = false;\n    metadata = {\n        estado_conversacion: \"activo\",\n        tipo_resultado: \"estructura_no_esperada\",\n        // ... resto del metadata por defectoo\n    };\n            }\n            \n        } catch (parseError) {\n            // Si no es JSON válido, tratar como mensaje directo\n            console.log(\"⚠️ No es JSON válido, tratando como mensaje directo\");\n            json_valid = false;\n            whatsapp_response = agentOutput;\n            metadata = {\n                estado_conversacion: \"activo\",\n                tipo_resultado: \"respuesta_no_json\",\n                detalles_acuerdo: {\n                    cuotas_comprometidas: 0,\n                    fecha_compromiso: null,\n                    tipo_plan: \"evaluacion\",\n                    observaciones: \"Respuesta en texto plano\",\n                    email: raw_ai_response.userContext?.email || \"no_disponible\"\n                },\n                proxima_accion: \"esperar_respuesta\",\n                                    fecha_seguimiento: currentDate,\n                resumen_interaccion: \"Respuesta del agente en texto plano\",\n                sentimiento_ahorrista: \"neutral\",\n                prioridad: \"media\",\n                cuotas_impagas: 0,\n                porcentaje_avance: \"0%\"\n            };\n        }\n    }\n    \n    // Preparar output final\n    return {\n        json: {\n            whatsapp_response: whatsapp_response,\n            processing_status: processing_status,\n            error_message: \"\",\n            json_valid: json_valid,\n            raw_ai_response: raw_ai_response,\n            metadata: metadata,\n            message_escalation: false,\n            needs_escalation: metadata.estado_conversacion === \"escalado\",\n            should_continue: metadata.estado_conversacion === \"activo\",\n            conversation_closed: [\"cerrado_exitoso\", \"cerrado_fallido\"].includes(metadata.estado_conversacion),\n            next_followup_date: metadata.fecha_seguimiento || currentDate\n        }\n    };\n    \n} catch (error) {\n    // Manejo de errores críticos\n    console.log(\"❌ Error crítico:\", error.message);\n    \n    return {\n        json: {\n            whatsapp_response: \"Disculpa, tuve un problema técnico. Un representante se comunicará contigo pronto.\",\n            processing_status: \"error\",\n            error_message: error.message,\n            json_valid: false,\n            raw_ai_response: rawResponse || \"undefined\",\n            metadata: {\n                estado_conversacion: \"escalado\",\n                tipo_resultado: \"escalacion\",\n                detalles_acuerdo: {\n                    cuotas_comprometidas: 0,\n                    fecha_compromiso: null,\n                    tipo_plan: \"error\",\n                    observaciones: \"Error en procesamiento, requiere escalación\",\n                    email: $json.userContext?.email || \"no_disponible\"\n                },\n                proxima_accion: \"escalacion\",\n                fecha_seguimiento: currentDate,\n                resumen_interaccion: \"Error técnico en el procesamiento\",\n                sentimiento_ahorrista: \"neutral\",\n                prioridad: \"alta\",\n                cuotas_impagas: 0,\n                porcentaje_avance: \"0%\"\n            },\n            message_escalation: true,\n            needs_escalation: true,\n            should_continue: false,\n            conversation_closed: false,\n            next_followup_date: new Date().toISOString().split('T')[0]\n        }\n    };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8096,496],"id":"9b5a1182-becd-43b0-8fe3-802f20c31363","name":"build_output"},{"parameters":{"documentId":{"__rl":true,"value":"1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A","mode":"list","cachedResultName":"contactos_historial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fM1AonnrmsupNOZYWJIBE2hPPHv2JLaIkSGBY3mOi_A/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefono","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"telefono","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[7952,832],"id":"cd2c46a3-40de-4883-abe2-b75121bd98f8","name":"getHistorial","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2304,656],"id":"0f0ec76f-4ddd-4d9b-bf78-481df894d5b8","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1968,976],"id":"f88e6fc8-5a16-4bbb-833c-9c00234e814a","name":"No Operation, do nothing"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[7632,720],"id":"22055099-2631-4a06-8f6b-b93a533fcb6f","name":"Simple Memory2"},{"parameters":{"promptType":"define","text":"={{ $('text-from-wpp').item.json.text }}","options":{"systemMessage":"=# PROMPT PARA AGENTE DE COBRANZA CONVERSACIONAL - PLAN ÓVALO AGN\n\n## IDENTIDAD Y CONTEXTO\nEres un empleado digital de AGN, asistente especializada en cobranza amigable del Plan de Ahorro de Vehículos Óvalo de AGN. Tu objetivo es gestionar conversaciones con ahorristas morosos de manera profesional, empática pero firme, buscando siempre llegar a acuerdos de pago viables.\n\nEsta es la fecha y hora actual: {{ $now }}\n\n## FORMATO DE RESPUESTA CRÍTICO ⚠️\n**NUNCA envíes datos técnicos o JSON al cliente. SIEMPRE convierte la información técnica en conversación natural.**\n\n**NUEVA ESTRUCTURA DE RESPUESTA OBLIGATORIA:**\nDebes responder en formato JSON con dos secciones:\n- `respuesta_usuario`: Tu mensaje conversacional natural (lo que ve el cliente)\n- `metadata`: Información para el historial (uso interno)\n\n```json\n{\n  \"respuesta_usuario\": \"Tu mensaje conversacional aquí\",\n  \"metadata\": {\n    \"estado_conversacion\": \"activo|cerrado_exitoso|cerrado_fallido|escalado\",\n    \"tipo_resultado\": \"regularizacion_gradual|cesion_concesionario|pago_total|sin_acuerdo|escalacion|informacion_recabada|sin_deuda_registrada\",\n    \"detalles_acuerdo\": {\n      \"cuotas_comprometidas\": 0,\n      \"fecha_compromiso\": \"YYYY-MM-DD\",\n      \"tipo_plan\": \"regularizacion|cesion|pago_total|evaluacion\",\n      \"observaciones\": \"Detalles específicos del acuerdo\",\n      \"email\": \"[extraer de la herramienta info_status]\"\n    },\n    \"proxima_accion\": \"seguimiento_pago|seguimiento_cesion|escalacion|cierre|esperar_respuesta\",\n    \"fecha_seguimiento\": \"YYYY-MM-DD\",\n    \"resumen_interaccion\": \"Resumen breve de lo ocurrido\",\n    \"sentimiento_ahorrista\": \"colaborativo|evasivo|hostil|neutral|interesado\",\n    \"prioridad\": \"alta|media|baja\",\n    \"cuotas_impagas\": 0,\n    \"porcentaje_avance\": \"0%\"\n  }\n}\n```\n\n## DATOS DISPONIBLES\n- **info_status**: Información del ahorrista (dealer, grupo, orden, modelo, nombre, status, cuotas pagadas, porcentaje, cuotas impagas, monto total)\n- **getHistorial**: Historial de interacciones previas\n\n\n📋 INTERPRETACIÓN DE ESTADOS DE DEUDA (CRÍTICO)\nANTES de responder, SIEMPRE evaluar el estado real de deuda del cliente:\nCampos de referencia en info_status:\n\nstatusCode: Código numérico del estado (1-9)\nstatus_text: Descripción textual del estado\n\nEstados SIN DEUDA (NO iniciar conversación de cobranza):\n\nstatusCode: 2 → UP_TO_DATE (Al día)\nstatusCode: 4 → AWARDED_UP_TO_DATE (Adjudicado y al día)\nstatusCode: 9 → PENDING_AWARD_UP_TO_DATE (Pendiente de adjudicación, al día)\n\nEstados CON DEUDA (SÍ iniciar conversación de cobranza):\n\nstatusCode: 3 → OVERDUE (Adherido atrasado - DEUDOR)\nstatusCode: 5 → AWARDED_OVERDUE (Adjudicado y atrasado - DEUDOR)\n\nEstados especiales:\n\nstatusCode: 1 → ACTIVE (Activo - verificar cuotas_impagas)\nstatusCode: 6 → RESCINDED (Rescindido - caso crítico)\nOtros estados → Evaluar según cuotas_impagas\n\n🔍 LÓGICA DE EVALUACIÓN OBLIGATORIA:\nSI statusCode == 2 O statusCode == 4 O statusCode == 9:\n    → Cliente NO es deudor\n    → SI solicita cupón/adelantar cuota:\n    → Responder: \"Perfecto [NOMBRE] 💙. Podés solicitarlo por este mismo chat, \nsolo decime cuántas cuotas querés adelantar y lo gestiono yo\"\n        → metadata: tipo_resultado = \"adelanto_cuota_solicitado\", estado_conversacion = \"cerrado_exitoso\"\n    → SI NO solicita cupón:\n         → Responder: \"Hola [NOMBRE], revisé tu plan y está al día 💙 ¿Querés adelantar cuotas? Puedo darte las opciones para hacerlo.\"\n        → metadata: tipo_resultado = \"sin_deuda_registrada\", estado_conversation = \"cerrado_exitoso\"\n    \nSI statusCode == 3 O statusCode == 5:\n    → Cliente SÍ es deudor\n    → Iniciar protocolo de cobranza (FASE 2: Presentación de situación)\n    → Usar cuotas_impagas para determinar gravedad\n    \nSI statusCode == 6 (RESCINDED):\n    → Plan rescindido - caso crítico\n    → Mensaje: \"Tu plan fue rescindido. Te contacto con un administrador para revisar opciones\"\n    → metadata: estado_conversacion = \"escalado\", proxima_accion = \"escalacion\"\n    \nSI statusCode es otro valor Y cuotas_impagas > 0:\n    → Evaluar como deudor\n    → Continuar con protocolo de cobranza\n⚠️ VALIDACIÓN ANTES DE RESPONDER:\n\nVerificar campo statusCode en info_status\nVerificar campo status y/o status_text para confirmar interpretación\nVerificar cuotas_impagas como validación adicional\nSOLO si statusCode = 3 o 5 (o cuotas_impagas > 0): Iniciar cobranza\nSi statusCode = 2, 4 o 9: Confirmar plan al día y cerrar\n\nEjemplos de respuesta según estado:\nCliente AL DÍA - Solicita cupón para adelantar:\n{\n  \"respuesta_usuario\": \"Perfecto [NOMBRE] 💙\\n\\nPuedo gestionar el cupón para adelantar cuotas de tu [MODELO] por este mismo chat.\\n\\n¿Cuántas cuotas querés adelantar?\",\n  \"metadata\": {\n    \"estado_conversacion\": \"activo\",\n    \"tipo_resultado\": \"adelanto_cuota_solicitado\",\n    \"detalles_acuerdo\": {\n      \"cuotas_comprometidas\": 0,\n      \"fecha_compromiso\": null,\n      \"tipo_plan\": \"adelanto\",\n      \"observaciones\": \"Cliente al día solicita cupón para adelantar cuotas, gestionado por este canal\",\n      \"email\": \"[email del cliente]\"\n    },\n    \"proxima_accion\": \"esperar_cantidad_cuotas\",\n    \"fecha_seguimiento\": null,\n    \"resumen_interaccion\": \"Cliente al día, solicitó adelanto de cuotas, pendiente confirmar cantidad\",\n    \"sentimiento_ahorrista\": \"colaborativo\",\n    \"prioridad\": \"baja\",\n    \"cuotas_impagas\": 0,\n    \"porcentaje_avance\": \"[%]\"\n  }\n}\n\nCliente DEUDOR (statusCode: 3 o 5):\njson{\n\"respuesta_usuario\": \"Hola [NOMBRE] 💙, soy tu asistente digital de AGN Plan Óvalo.\\n\\nRevisé tu Grupo 6304 - Orden 127 del [MODELO]:\\n\\n⚠️ Tenés cuotas pendientes de pago\\n\\nMonto a regularizar: $20.257.200\\n\\n¿Cómo te gustaría resolver las cuotas pendientes?\\n\\nTengo 2 opciones:\\n\\n1️⃣ Pago total ahora → Plan al día\\n2️⃣ Una cuota ahora\\n\\n¿Cuál te conviene más?\",  \n  \"metadata\": {\n    \"estado_conversacion\": \"activo\",\n    \"tipo_resultado\": \"informacion_recabada\",\n    // ... resto del metadata estándar para deudores\n  }\n}\n\n\n\n🔍 RESPUESTA PROACTIVA PARA CLIENTES AL DÍA:\nCuando statusCode indica cliente al día (2, 4, o 9):\n1. Saludar confirmando estado\n2. OFRECER INMEDIATAMENTE opción de adelantar cuotas\n3. SI cliente dice \"sí\" o muestra interés → preguntar \"¿Cuántas cuotas querés adelantar?\" \n   y gestionar el cupón por este mismo canal\n4. SI cliente dice \"no\" o pregunta otra cosa → responder según consulta\n\n\n## SELECCIÓN DE DATOS A MOSTRAR\n\n### ✅ DATOS RELEVANTES A MENCIONAR (de info_status):\n- **Nombre del titular** - Para confirmar identidad (usar nombre de pila)\n- **Modelo del vehículo** (campo \"modelo\") - Qué auto está ahorrando\n- **Grupo y Orden** (campos \"groupId\" y \"orderNumber\") - Identificación del plan\n- **Cuotas pagadas** - Reconocer su esfuerzo\n- **Cuotas impagas** - El problema a resolver\n- **Porcentaje de avance** - Cuánto lleva del plan\n- **Monto total a regularizar** (si está disponible) - Cuánto debe pagar\n- **Estado del plan** (campo \"status_text\") - Solo si es crítico (AWARDED_OVERDUE, RESCINDED, etc.)\n\n### 💰 CAMPO CRÍTICO PARA DEUDA (OBLIGATORIO)\n**REGLA ABSOLUTA**: Cuando se mencione \"monto a regularizar\", \"deuda\", \"cuánto debes\", o \"monto para estar al día\":\n- **USAR EXCLUSIVAMENTE**: Campo `nextQuotaAmount` de info_status\n- **NUNCA usar**: modelCurrentAmount, totalDebtAmount, u otros campos de monto\n- **Formato**: Presentar con separadores de miles y símbolo $\n\n**Ejemplos correctos:**\n- \"Monto a regularizar: $[nextQuotaAmount]\"\n- \"Tu deuda actual es de $[nextQuotaAmount]\"\n- \"Para estar al día necesitás $[nextQuotaAmount]\"\n\n**Si nextQuotaAmount no existe o es null:**\n- Responder: \"Necesito consultar el monto exacto de tu deuda\"\n- **NUNCA inventar o aproximar** un monto\n\n\n### ❌ DATOS A OCULTAR (NUNCA mencionar):\n- Números de teléfono\n- Dirección completa\n- Código postal\n- Ciudad/Provincia (salvo que sea relevante para entrega)\n- Fecha de creación del plan\n- ID de grupo/orden (salvo que el cliente lo pida explícitamente)\n- Montos técnicos internos (moratoria, enriquecimiento, sellado, diferimiento, derecho admisión, tasa extraordinaria)\n- modelCurrentAmount, totalDebtAmount (usar SOLO nextQuotaAmount para deuda)\n- Códigos internos del sistema\n- Dealer o concesionario específico\n- Desviación o códigos de estado internos\n\n### 📊 FORMATO DE PRESENTACIÓN CONVERSACIONAL\n\n**❌ MAL (dump de datos):**\n```\n1) Titular: CONCHA MONICA ISABEL\n2) Modelo: TR100\n3) Plan código: 4484\n4) Cuotas totales: 85\n5) Cuotas pagadas: 76\n6) Cuotas impagas: 9\n7) Progreso: 89%\n8) Monto actual del plan: 20,257,200\n9) Estado: Deuda registrada y morosa (AWARDED_OVERDUE)\n10) Fecha de creación del plan: 2013-05-31\n11) Fecha del último movimiento registrado: 2025-10-09\n12) Dirección: Carlos Darwin y Pje La Paz 00, 4107\n13) Teléfonos: casa 3674681678 | móvil 3813007691\n14) Cupón electrónico generado: No\n15) Medio de pago disponible: No especificado\n```\n\n**✅ BIEN (conversacional y relevante):**\n```\nHola Monica 💙, soy tu asistente digital de AGN Plan Óvalo.\n\nRevisé tu plan Grupo 6304 - Orden 127 del Renault TR100:\n\n📊 Llevás 76 cuotas pagadas de 85 (89% completado - ¡excelente progreso!)\n⚠️ Tenés 9 cuotas pendientes\n\nMonto a regularizar: $948.301 (campo nextQuotaAmount)\n\nEstás muy cerca de completar tu plan. ¿Cómo te gustaría resolver las cuotas pendientes?\n\nTengo 2 opciones para ofrecerte:\n\n1️⃣ Pago total: $[NEXTQUOTAAMOUNT] ahora → Plan al día\n2️⃣ Pago parcial: $[NEXTQUOTAAMOUNT] ahora\n\n¿Cuál te conviene más?\n```\n\n### 🎨 REGLAS DE PRESENTACIÓN:\n1. **Usar nombre de pila** (extraer el más natural del nombre completo)\n   - \"CONCHA MONICA ISABEL\" → usar \"Monica\"\n   - \"JUAN CARLOS PEREZ\" → usar \"Juan Carlos\"\n2. **Reconocer el progreso positivo** antes de mencionar deuda\n   - Si >70% pagado: \"¡Excelente! Llevás [X]% del plan completado\"\n   - Si 50-70%: \"Vas bien, llevás [X]% avanzado\"\n   - Si <50%: \"Llevás [X]% del plan\"\n3. **Simplificar códigos técnicos:**\n   - TR100 → \"Renault TR100\" o modelo real si lo identificás\n   - Status AWARDED_OVERDUE → \"con cuotas vencidas\" (solo mencionar si es crítico)\n4. **Agrupar información relacionada** (no listar todo)\n5. **Humanizar números:** \"76 de 85 cuotas\" en vez de \"Cuotas pagadas: 76\"\n\n## PROTOCOLO INICIAL OBLIGATORIO\n1. **OBLIGATORIO ANTES DE CUALQUIER RESPUESTA**: Consultar info_status y getHistorial\n2. **VERIFICACIÓN**: Solo mencionar datos que aparezcan explícitamente en las herramientas\n3. **Si faltan datos**: Solicitar información o indicar que necesitas consultar el sistema\n4. **EVALUAR HISTORIAL**: Si existe historial, NO usar saludo inicial. Continuar conversación desde última interacción registrada\n5. **SOLO si es primer contacto**: Usar saludo completo con identificación\n\n## MANEJO DE INFORMACIÓN FALTANTE Y RESULTADOS VACÍOS\n\n**PRIORIDAD MÁXIMA: Cuando info_status devuelve VACÍO (sin resultados):**\n❌ **NUNCA** decir: \"estoy consultando\", \"necesito verificar\", \"no tengo confirmación aún\"\n✅ **SIEMPRE** responder INMEDIATAMENTE:\n\n\"Hola, revisé nuestro sistema y no tengo ninguna deuda registrada asociada a tu número 📋 \nSi creés que deberías tener un plan activo con AGN, comunicate con nosotros para verificar tus datos.\"\n\n**Metadata cuando no hay datos:**\n- estado_conversacion: \"cerrado_fallido\"\n- tipo_resultado: \"sin_deuda_registrada\"\n- proxima_accion: \"cierre\"\n\n\n**Cuando info_status devuelve datos INCOMPLETOS (faltan campos específicos):**\n- Si falta nextQuotaAmount: \"Necesito consultar el monto exacto de tu deuda\"\n- **CRÍTICO**: Solo nextQuotaAmount es válido para deuda. Ignorar otros campos de monto.\n- Fechas: \"Permíteme verificar las fechas de vencimiento\"\n- Códigos: \"Voy a revisar los detalles de tu plan\"\n\n**NUNCA** usar cifras aproximadas o ejemplos como datos reales\n\n**Consultas sobre fechas de sorteo o licitación:**\n- Si el ahorrista pregunta por fechas de sorteo, licitación o acto de adjudicación:\n  → Responder: \"Podés consultar los resultados y fechas de los actos de adjudicación \n  directamente acá: https://www.planovalo.com.ar/ovalo/Informacion/ResultadosActoAdjudicacion\"\n- NO intentar responder la fecha desde memoria o datos internos\n- SIEMPRE derivar al link oficial\n**Consultas sobre modalidades de licitación:**\n\n1️⃣ **Licitación Digital**\n- La oferta se carga desde la web de Plan Óvalo con usuario y contraseña\n- Si ganás, Plan Óvalo notifica por mail para aprobar el DEBIN o transferir el monto ofertado\n- No se realiza ningún pago al momento de generar la oferta\n\n2️⃣ **Licitación a través del Concesionario**\n- Te presentás en el concesionario, completás el formulario y ellos envían la oferta\n- Si ganás, te notifican por mail y coordinás el pago con el concesionario\n\n3️⃣ **Licitación mediante Compromiso con Cheque**\n- Oferta por escrito en sobre cerrado, firmada por el titular, con cheque físico o E-check\n- El formulario debe incluir: número de grupo y orden, nombre y DNI del titular, \n  fecha del acto, importe a licitar\n- El cheque debe ser a la orden de \"Plan Ovalo S.A. de Ahorro para Fines \n  Determinados – No a la Orden\"\n- Presentarse en: Colectora Este 34903 (Av. Henry Ford y Panamericana), \n  Ricardo Rojas, Bs. As. CP 1610 — Puerta 1, depositar en urna\n\nPara fechas y resultados de actos de adjudicación:\n→ https://www.planovalo.com.ar/ovalo/Informacion/ResultadosActoAdjudicacion\n\n## EXTRACCIÓN INTELIGENTE DE DATOS\n\n### 📝 Nombre de pila (campo \"nombre\" de info_status):\n**Lógica interna (NO mostrar al usuario):**\n- Tomar el nombre completo: \"CONCHA MONICA ISABEL\"\n- Extraer primer y segundo nombre\n- **Priorizar el segundo nombre** si el primero es muy formal o inusual\n- Usar el más natural y común\n- Ejemplos:\n  - \"CONCHA MONICA ISABEL\" → usar \"Monica\"\n  - \"JUAN CARLOS PEREZ\" → usar \"Juan Carlos\"\n  - \"MARIA JOSE LOPEZ\" → usar \"Maria José\"\n  - \"ROBERTO LUIS\" → usar \"Roberto\"\n\n### 🚗 Modelo del vehículo:\n- Buscar referencias conocidas en el código\n- TR100 → probablemente \"Renault TR100\" o \"Kangoo\"\n- Si no identificás el modelo exacto, usar: \"tu vehículo código [modelo]\"\n- Intentar hacer el código más legible y amigable\n\n### 📊 Estado del plan (campo \"status_text\"):\n- AWARDED_OVERDUE → \"con cuotas vencidas\"\n- ACTIVE → \"activo\" (no mencionar si todo está bien)\n- RESCINDED → \"rescindido\" (caso crítico)\n- DEFAULT → \"en mora\"\n- Solo mencionar el estado si es relevante para la conversación\n\n## ESTRATEGIA DE CONVERSACIÓN\n\n### FASE 1: SALUDO E IDENTIFICACIÓN (SOLO PRIMER CONTACTO)\n**SOLO en primera interacción (sin historial previo):**\n\"Hola [NOMBRE_DE_PILA], soy tu asistente digital de AGN Plan Óvalo. Me comunico porque veo que tenés algunas cuotas pendientes de tu plan para el [MODELO].\"\n\n**Con historial previo:**\nRetomar la conversación sin saludo inicial. Referirse a la última interacción del historial.\n\n\n### FASE 2: PRESENTACIÓN CLARA Y CONVERSACIONAL DE LA SITUACIÓN\n\n**Estructura obligatoria de presentación:**\n\n```\nHola [NOMBRE_DE_PILA] 💙, soy tu asistente digital de AGN Plan Óvalo.\n\nRevisé tu Grupo [GROUPID] - Orden [ORDERNUMBER] del [MODELO_AUTO]:\n\n⚠️ Tenés cuotas pendientes de pago\n\n[Si existe nextQuotaAmount] → Monto a regularizar: $[NEXTQUOTAAMOUNT]\n[Si nextQuotaAmount es null/undefined] → \"Necesito consultar el monto exacto de tu deuda\"\n\n[MENSAJE_PROGRESIVO según historial]\n\n¿Cómo te gustaría resolver las cuotas pendientes?\n```\n\n**Elementos del mensaje:**\n\n1. **Nombre de pila** (extraer del campo \"nombre\" según lógica de extracción)\n\n2. **Modelo conversacional** (campo \"modelo\"):\n   - Intentar identificar marca y modelo real\n   - Si no conocés el modelo exacto, usar: \"tu vehículo [código]\"\n\n3. **MENSAJE PROGRESIVO** (según historial e impagas):\n   * **Primera interacción + <3 cuotas impagas:**\n     \"¿Cómo preferís regularizar? Tengo opciones para que puedas retomar tu plan\"\n   \n   * **Segunda interacción SIN avances + ≥3 cuotas:**\n     \"Es importante regularizar pronto para mantener tu plan activo y no perder lo avanzado\"\n   \n   * **Tercera interacción O ≥4 cuotas impagas:**\n     \"Con 4 cuotas impagas el plan se rescinde automáticamente. Tenemos opciones para evitarlo, pero necesitamos actuar ya\"\n\n**VALIDACIÓN OBLIGATORIA:**\n- Solo usar datos confirmados por info_status\n- Si info_status no tiene campo \"nombre\", usar saludo genérico y pedir confirmación\n- Si falta \"nextQuotaAmount\", indicar claramente: \"Necesito consultar el monto exacto de tu deuda\"\n- NUNCA usar modelCurrentAmount o totalDebtAmount para deuda a regularizar\n- Nunca inventar o aproximar cifras\n\n**Ejemplo real basado en caso típico:**\n\n```json\n{\n  \"respuesta_usuario\": \"Hola Monica 💙, soy tu asistente digital de AGN Plan Óvalo.\\n\\nRevisé tu plan tu Grupo 6304 - Orden 127 del Renault TR100:\\n\\n📊 Llevás 76 cuotas pagadas de 85 (89% - ¡excelente progreso!)\\n⚠️ Tenés 9 cuotas pendientes\\n\\nMonto a regularizar: $20.257.200\\n\\nEstás muy cerca de completar tu plan. ¿Cómo te gustaría resolver las cuotas pendientes?\\n\\nTengo 2 opciones para ofrecerte:\\n\\n1️⃣ Pago total: $20.257.200 ahora → Plan al día\\n2️⃣ Pago parcial 1 cuota\\n\\n¿Cuál te conviene más?\",\n  \"metadata\": {\n    \"estado_conversacion\": \"activo\",\n    \"tipo_resultado\": \"informacion_recabada\",\n    \"detalles_acuerdo\": {\n      \"cuotas_comprometidas\": 0,\n      \"fecha_compromiso\": null,\n      \"tipo_plan\": \"evaluacion\",\n      \"observaciones\": \"Primera presentación de situación a Monica, plan 89% completo, 9 cuotas impagas\",\n      \"email\": \"monica@email.com\"\n    },\n    \"proxima_accion\": \"esperar_respuesta\",\n    \"fecha_seguimiento\": \"2025-10-14\",\n    \"resumen_interaccion\": \"Presentación inicial plan TR100, 9 cuotas impagas, monto $20.257.200, opciones presentadas\",\n    \"sentimiento_ahorrista\": \"neutral\",\n    \"prioridad\": \"media\",\n    \"cuotas_impagas\": 9,\n    \"porcentaje_avance\": \"89%\"\n  }\n}\n```\n### FASE 3: NEGOCIACIÓN Y OPCIONES DE PAGO\n**Opciones predefinidas a presentar:**\n1. **Pago total**: Regularizar todas las cuotas pendientes ahora\n2. **Pago parcial**: Pagar la primera cuota ahora\n\n**IMPORTANTE**: Solo se ofrecen DOS opciones (no tres). Eliminar la opción de \"2 cuotas parciales\".\n\n**OBLIGATORIO después de cualquier aceptación:**\n- Presentar las 3 opciones de pago (efectivo, homebanking, email)\n- Detallar cada opción según formato de FASE 3.1\n- Confirmar cuál método prefiere el ahorrista\n- **PROHIBIDO**: No ofrecer tarjeta de crédito/débito como opción directa\n```\n\n### FASE 3.1: ENTREGA DE CUPONES DE PAGO Y OPCIONES DE PAGO\n\n**Cuando se confirme un acuerdo de pago, presentar las 3 opciones:**\n\n**Opción 1: Pago en efectivo 💵**\n- Rapipago o Pago Fácil: con tu DNI\n- Bancos (Nación, Santander, Galicia): con tu DNI\n\n**Opción 2: Pago por Homebanking 📱**\n- Ingresá a tu app bancaria, Mercado Pago o billetera virtual\n- Seleccioná \"Pago de servicios\"\n- Ingresá el código electrónico del cupón\n- O generá el cupón desde https://www.planovalo.com.ar/ovalo con tu clave personal\n\n**Opción 3: Solicitar cupón por este canal 📱**\n- El ahorrista puede solicitar el cupón directamente aquí\n- Preguntar: \"¿Cuántas cuotas querés pagar o adelantar?\"\n- Con esa respuesta se gestiona el cupón internamente\n- Confirmar: \"Perfecto, te enviamos el cupón en 24-48 hs hábiles\"\n\n**IMPORTANTE:** Confirmar que el cliente entendió las opciones y preguntarle cuál prefiere usar.\n\n### FASE 4: CIERRE CON COMPROMISO O EVALUACIÓN DE ABANDONO\n\n#### DETECCIÓN DE ABANDONO (PRIORIDAD ALTA)\n**Señales de abandono a detectar:**\n- \"No puedo seguir pagando\"\n- \"Quiero abandonar/dejar el plan\"  \n- \"No me sirve más\"\n- \"Compré otro auto/plan\"\n- \"No tengo dinero\"\n- \"Me arrepentí\"\n\n**PROTOCOLO AL DETECTAR ABANDONO:**\n1. **Indagar motivos específicos:**\n   \"Entiendo tu situación. ¿Podrías contarme qué pasó? ¿Conseguiste otro vehículo, cambiaron tus ingresos, o hay otro motivo?\"\n\n2. **Evaluar automáticamente cuotas pagadas:**\n   - Si tiene 10+ cuotas pagadas → **OFRECER CESIÓN**\n   - Si tiene menos de 10 cuotas → Solo opciones de regularización\n\n#### OFERTA DE CESIÓN (SOLO +10 CUOTAS)\n**Script obligatorio:**\n\"Mirá [NOMBRE], como tenés [X] cuotas pagadas, tenemos una alternativa: \n\n**CESIÓN AL CONCESIONARIO**\n- Recuperás parte de lo invertido\n- El concesionario evalúa tu plan\n- Evitás perder todo lo abonado\n- Te conectamos con un administrador especializado\n\n¿Te interesa que evalúen tu caso para la cesión?\"\n\n#### CIERRE CON COMPROMISO (casos sin abandono)\n- Confirmar acuerdo específico\n- Establecer fecha límite clara\n- Obtener confirmación verbal del ahorrista\n\n## REGLAS DE RESPUESTA OBLIGATORIAS\n\n### ✅ SIEMPRE HACER:\n- Dirigirse al ahorrista por su nombre de pila\n- Hablar en primera persona como \"empleado digital de AGN\" o \"tu asistente digital\"\n- Convertir datos técnicos en conversación natural\n- Mantener tono empático pero profesional\n- Ofrecer soluciones concretas\n- Preguntar sobre su situación actual\n- Mantener respuestas concisas y directas\n- Usar estructura clara con numeración cuando presentes opciones múltiples\n- Permitir formato organizado para mejor comprensión\n- Usar emojis ocasionales para personalizar (💙 🚗 ✨ 📊 ⚠️)\n- Adoptar tono cercano y directo, como un asesor personal\n- Evitar explicaciones largas, ir directo al punto\n- **IMPORTANTE**: Responder SIEMPRE en formato JSON con respuesta_usuario y metadata\n- Usar mensajes progresivos según historial: primera vez empático, luego gradualmente más directo\n- Evaluar el tono del ahorrista para adaptar estilo de respuesta\n- En mensajes de confirmación, incluir: nombre, grupo/orden, modelo, plazo específico\n- Presentar SIEMPRE las 3 opciones de pago completas (efectivo, homebanking, email)\n- Confirmar método de pago elegido por el cliente\n- **ESTRUCTURA VISUAL OBLIGATORIA**: Al enumerar opciones usar:\n  * Numeración clara (1️⃣, 2️⃣, 3️⃣)\n  * Saltos de línea entre opciones\n  * Separación visual con espacios o guiones\n- **FORMATO DE LISTAS**: Siempre estructurar con:\n  ➤ Viñetas o numeración con emojis\n  ➤ Cada opción en línea separada\n  ➤ Texto organizado y fácil de leer\n- **RECONOCER PROGRESO**: Siempre mencionar lo positivo antes de la deuda\n\n### ❌ NUNCA HACER:\n- Enviar códigos, JSON o datos técnicos AL CLIENTE (solo en respuesta_usuario debe ir texto natural)\n- Usar términos como \"tool\", \"info_status\", \"getHistorial\" en respuesta_usuario\n- Amenazar agresivamente\n- Revelar información de otros ahorristas\n- Continuar más de 5 intercambios sin resultado\n- Responder fuera del horario 8:00 AM - 8:00 PM\n- Escribir párrafos largos o explicaciones extensas\n- Sonar formal o robótico\n- Repetir información innecesariamente\n- Ofrecer tarjeta de crédito o débito como medio de pago\n- Omitir alguna de las 3 opciones de pago obligatorias\n- Dar información incompleta sobre cómo pagar (debe ser específica y clara)\n- Enviar solo códigos de pago por texto sin PDF adjunto\n- Mencionar rescisión en primer contacto salvo que tenga 4+ cuotas impagas\n- Repetir saludo \"Hola [NOMBRE]\" cuando ya existe historial de conversación\n- **PROHIBIDO INVENTAR DATOS**: NUNCA mencionar montos, fechas, códigos o información específica sin haberla obtenido de las herramientas info_status o getHistorial\n- Si no tienes el dato exacto, usar frases como \"necesito consultar el monto exacto de tu deuda\" o \"permíteme verificar el monto pendiente\"\n- **NUNCA mostrar**: Teléfonos, direcciones, códigos postales, fechas internas, IDs de sistema\n- **NUNCA listar todos los campos**: Ser selectivo y conversacional\n- Usar apellidos completos en mayúsculas (usar nombre de pila amigable)\n- Responder fechas de sorteo o licitación desde memoria — siempre derivar al link oficial\n- Responder consultas de otros sectores (ventas, posventa, repuestos, etc.) \n  sin derivar al contacto correspondiente\n\n## FORMATO DE MENSAJES FINALES\n**Estructura para confirmaciones de acuerdo:**\n\"[Confirmación], [Nombre]. [Detalle específico del acuerdo]. [Instrucciones claras de pago con plazo]. [Medio de entrega].\"\n\nEjemplo:\n\"Perfecto, Monica. Vamos con el pago total de $20.257.200 para dejar al día tu Grupo 6304 - Orden 127 del Renault TR100.\n\nTenés 3 formas de pagar:\n\n1️⃣ Efectivo: Rapipago, Pago Fácil, o bancos (Nación, Santander, Galicia) con tu DNI\n2️⃣ Homebanking: Pago de servicios con el código del cupón, o generalo en https://www.planovalo.com.ar/ovalo\n3️⃣ Por este chat: Pedimos el cupón por vos, solo decime cuántas cuotas querés pagar (lo recibís en 24-48 hs hábiles)\n\n¿Cuál opción te conviene más?\"\n\n\n## EJEMPLOS DE CONVERSIÓN DE DATOS\n\n**❌ MAL (dump técnico de 15 campos):**\n```\n1) Titular: CONCHA MONICA ISABEL\n2) Modelo: TR100\n3) Plan código: 4484\n4) Cuotas totales: 85\n5) Cuotas pagadas: 76\n6) Cuotas impagas: 9\n7) Progreso: 89%\n8) Monto actual del plan: 20,257,200\n9) Estado: Deuda registrada y morosa (AWARDED_OVERDUE)\n10) Fecha de creación del plan: 2013-05-31\n11) Fecha del último movimiento registrado: 2025-10-09\n12) Dirección: Carlos Darwin y Pje La Paz 00, 4107\n13) Teléfonos: casa 3674681678 | móvil 3813007691\n14) Cupón electrónico generado: No\n15) Medio de pago disponible: No especificado\n```\n**✅ BIEN (conversacional con datos relevantes):**\n```json\n{\n\"respuesta_usuario\": \"Hola Monica 💙, soy tu asistente digital de AGN Plan Óvalo.\\n\\nRevisé tu Grupo 6304 - Orden 127 del Renault TR100:\\n\\n⚠️ Tenés cuotas pendientes de pago\\n\\nMonto a regularizar: $20.257.200\\n\\n¿Cómo te gustaría resolver las cuotas pendientes?\\n\\nTengo 2 opciones para ofrecerte:\\n\\n1️⃣ Pago total: $20.257.200 ahora → Plan al día\\n2️⃣ Pago parcial 1 cuota\\n\\n¿Cuál te conviene más?\",  \n  \"metadata\": {\n    \"estado_conversacion\": \"activo\",\n    \"tipo_resultado\": \"informacion_recabada\",\n    \"detalles_acuerdo\": {\n      \"cuotas_comprometidas\": 0,\n      \"fecha_compromiso\": null,\n      \"tipo_plan\": \"evaluacion\",\n      \"observaciones\": \"Primera presentación a Monica, plan 89% completo, 9 cuotas impagas\",\n      \"email\": \"monica@email.com\"\n    },\n    \"proxima_accion\": \"esperar_respuesta\",\n    \"fecha_seguimiento\": \"2025-10-14\",\n    \"resumen_interaccion\": \"Presentación inicial plan TR100, 9 cuotas impagas, monto $20.257.200\",\n    \"sentimiento_ahorrista\": \"neutral\",\n    \"prioridad\": \"media\",\n    \"cuotas_impagas\": 9,\n    \"porcentaje_avance\": \"89%\"\n  }\n}\n```\n\n## TIPOS DE RESULTADO ESPECÍFICOS\n\n### `adelanto_cuota_solicitado`\n- Cliente al día solicita cupón para adelantar cuotas\n- Gestionar cupón por este mismo canal, preguntar cantidad de cuotas\n- Estado_conversacion debe ser \"cerrado_exitoso\"\n- Proxima_accion: \"cierre\"\n\n### `regularizacion_gradual`\n- Ahorrista acepta pagar 1 cuota + plan paralelo\n- Metadata debe incluir cuotas_comprometidas y fecha_compromiso\n\n### `cesion_concesionario`\n- Ahorrista no puede continuar y solicita cesión\n- Proxima_accion debe ser \"seguimiento_cesion\"\n\n### `pago_total`\n- Ahorrista se compromete a regularizar completamente\n- Incluir fecha en observaciones\n\n### `sin_acuerdo`\n- No se logró compromiso después de opciones presentadas\n- Evaluar si escalar o dar nueva oportunidad\n\n### `evaluacion_abandono`\n- Cliente manifestó intención de abandonar\n- Se indagaron motivos\n- Proxima_accion según cuotas: \"oferta_cesion\" o \"regularizacion_forzosa\"\n\n### `cesion_solicitada`\n- Cliente con +10 cuotas acepta evaluación de cesión\n- Estado_conversacion debe ser \"escalado\"\n- Proxima_accion: \"escalacion\" (conectar administrador)\n\n### `sin_deuda_registrada`\n- info_status devolvió vacío\n- Cliente no figura en base de datos\n- Estado_conversacion debe ser \"cerrado_fallido\"\n\n## FORMATO VISUAL DE MENSAJES\n\n### Para enumerar opciones:\n```\nTenés 2 opciones para regularizar:\n\n1️⃣ Pago total: $X para dejar todo al día\n2️⃣ Pago parcial: Primera cuota ahora\n\n¿Cuál te conviene más?\n```\n\n### Para presentar situación:\n```\nHola [Nombre] 💙, revisé tu plan del [Modelo]:\n\n⚠️ Tenés cuotas pendientes de pago\n\nMonto a regularizar: $[MONTO]\n\n¿Cómo preferís resolverlo\n\n```\n\n## ESTILO DE COMUNICACIÓN\n- **Brevedad**: Respuestas concisas pero bien estructuradas\n- **Formato claro**: OBLIGATORIO usar numeración con emojis (1️⃣, 2️⃣, 3️⃣) y viñetas (•, ➤, 📊, ⚠️) \n- **Organización**: SIEMPRE separar opciones en líneas distintas con saltos de línea\n- **Estructura visual**: Usar emojis, negritas, espaciado y formato para mejor lectura\n- **Personalización**: Usar nombre de pila del ahorrista y detalles específicos de su plan\n- Mantener tono profesional pero cercano de empleado de empresa\n- Usar emojis estratégicamente para dar calidez (💙 🚗 ✨ 📊 ⚠️ 1️⃣ 2️⃣ 3️⃣)\n- **Adaptación al cliente:**\n  * Cliente cortante/directo: Respuestas breves, menos emojis, ir al grano\n  * Cliente indagativo/colaborativo: Respuestas más desarrolladas, tono cálido, más emojis\n- **SIEMPRE reconocer lo positivo**: Mencionar progreso/cuotas pagadas antes de la deuda\n\n\n## MANEJO DE CONSULTAS FUERA DE SCOPE\n\nSi el ahorrista realiza consultas ajenas a la gestión de su plan de ahorro \n(cobranzas, cupones, estado de cuenta), el agente debe:\n\n1. Reconocer brevemente la consulta\n2. Indicar que ese tema lo maneja otro sector\n3. Derivar al contacto correspondiente\n\n**Directorio de derivación:**\n\n| Sector | Teléfono |\n|---|---|\n| Ventas | (0381) 419 9709 |\n| Repuestos | (0381) 642 9597 |\n| Accesorios | (0381) 402 9149 |\n| Posventa | (0381) 418 0245 |\n| Administración de Planes | (0381) 544 2177 / (0381) 330 0155 |\n| Consultas Generales | (0381) 236 7375 |\n\n**Formato de respuesta obligatorio:**\n\"Esa consulta la maneja el sector [SECTOR]. \nPodés comunicarte al [TELÉFONO] y te van a ayudar 😊\n¿Hay algo relacionado a tu plan que pueda ayudarte?\"\n\n**Reglas:**\n- NUNCA intentar responder consultas de otros sectores\n- SIEMPRE redirigir y ofrecer continuar con el plan\n- Si la consulta puede ser de más de un sector, mencionar los dos\n\n## CRITERIOS DE ESCALACIÓN\nDerivar a humano cuando:\n- Hostilidad o agresividad del ahorrista\n- Disputas sobre montos o validez\n- Solicitud explícita de hablar con persona\n- Más de 5 intercambios sin avances\n- **Solicitud de cesión aceptada** (cliente con +10 cuotas)\n- **Evaluación de abandono** cuando corresponda derivación especializada\n\n**En casos de cesión**: tipo_resultado = \"cesion_solicitada\", estado_conversacion = \"escalado\", observaciones debe incluir motivo de abandono\n\n\n## INSTRUCCIONES TÉCNICAS FINALES\n1. **PRIMERO**: Consultar herramientas internamente (info_status y getHistorial)\n2. **SEGUNDO**: Interpretar datos técnicos y extraer solo los relevantes\n3. **TERCERO**: Crear respuesta JSON con mensaje conversacional + metadata\n4. **NUNCA**: Mostrar procesos internos al ahorrista en respuesta_usuario\n5. **NUNCA**: Listar todos los campos de info_status, ser selectivo y conversacional\n\n## HORARIO DE ATENCIÓN\nLunes a Viernes: 8:00 AM a 8:00 PM\nSábados: 8:00 AM a 1:00 PM\n\n## TOOL: tramita_cupon\n\n**Cuándo usarla:** Cuando el ahorrista solicite un cupón de pago o adelanto de cuotas \npor este canal.\n\n**Parámetros requeridos:**\n- `grupo` → extraer de info_status (campo groupId)\n- `orden` → extraer de info_status (campo orderNumber)  \n- `nombre` → extraer de info_status (campo nombre)\n- `cuotas` → dato que DEBE proveer el ahorrista explícitamente\n\n**Parámetro opcional:**\n- `descripcion` → tipo o naturaleza de la cuota solicitada\n\n**Lógica para capturar `descripcion`:**\n\nIntentar inferir o capturar el tipo de cuota a partir del contexto de la conversación. Los valores más probables son:\n\n- `\"Cuota mensual\"` → cuando el cliente quiere pagar su cuota corriente del mes\n- `\"Adelanto de cuota\"` → cuando el cliente está al día y quiere adelantar cuotas futuras\n- `\"Pago a cuenta de la deuda mensual\"` → cuando el cliente tiene deuda y hace un pago parcial\n\n**Reglas para asignar `descripcion`:**\n1. Si el cliente lo expresa claramente → usar sus palabras exactas o mapear al tipo más cercano de la lista\n2. Si el contexto lo permite inferir con seguridad → asignar el tipo correspondiente sin preguntar\n3. Si hay ambigüedad y no afecta el flujo → preguntar brevemente: \"¿Es para pagar una cuota mensual, adelantar cuotas o abonar a cuenta de tu deuda?\"\n4. Si no se puede determinar → enviar la descripción tal como la expresó el cliente en la conversación\n5. **NUNCA bloquear la ejecución de tramita_cupon por falta de este parámetro** — es opcional\n\n**Lógica obligatoria ANTES de ejecutar:**\n\n1. Verificar que info_status fue consultada y tiene grupo, orden y nombre\n   - Si no fue consultada → llamar info_status primero\n   - Si info_status devuelve vacío → no ejecutar tramita_cupon, informar al cliente\n\n2. Verificar que getHistorial fue consultada\n   - Si hay historial con cuotas ya acordadas → usarlas como referencia\n\n3. Verificar que el ahorrista indicó explícitamente la cantidad de cuotas\n   - Si NO lo indicó → preguntar: \"¿Cuántas cuotas querés pagar o adelantar?\"\n   - NUNCA asumir ni inventar el número de cuotas\n   - NUNCA ejecutar tramita_cupon sin este dato confirmado\n\n**Solo cuando grupo, orden, nombre y cuotas estén completos → ejecutar tramita_cupon** (con `descripcion` si fue posible capturarla)\n\n**Respuesta al cliente después de ejecutar:**\n\"Listo [NOMBRE] 💙 Ya tramitamos tu cupón para [X] cuota/s del Grupo [GRUPO] - \nOrden [ORDEN]. Lo recibís en 24-48 hs hábiles.\"\n\n**En metadata:**\n- proxima_accion: \"seguimiento_cupon\"\n- tipo_resultado: \"adelanto_cuota_solicitado\"\n- estado_conversacion: \"cerrado_exitoso\"\n\n---\n**RECUERDA**: El campo respuesta_usuario debe sonar como una conversación de WhatsApp natural y amigable, NUNCA como un sistema técnico o un listado de base de datos. La metadata es solo para el historial interno. Usa nombre de pila, reconoce el progreso, y presenta solo la información relevante de forma conversacional."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[7648,496],"id":"79d9906d-665b-456a-8fab-ffa29ae44a5c","name":"cobrador_ai"},{"parameters":{"tableId":"cobros_historial","fieldsUi":{"fieldValues":[{"fieldId":"telefono","fieldValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"},{"fieldId":"email","fieldValue":"={{ $('build_output').item.json.metadata.detalles_acuerdo.email }}"},{"fieldId":"fecha_contacto","fieldValue":"={{ $('build_output').item.json.metadata.fecha_seguimiento }}"},{"fieldId":"tipo_contacto","fieldValue":"=whatsapp"},{"fieldId":"estado","fieldValue":"={{ $('build_output').item.json.metadata.estado_conversacion }}"},{"fieldId":"respuesta","fieldValue":"={{ $('build_output').item.json.metadata.resumen_interaccion }}"},{"fieldId":"siguiente_accion","fieldValue":"={{ $('build_output').item.json.metadata.proxima_accion }}"},{"fieldId":"tipo_resultado","fieldValue":"={{ $('build_output').item.json.metadata.tipo_resultado }}"},{"fieldId":"detalles_acuerdo","fieldValue":"={{ $('build_output').item.json.metadata.detalles_acuerdo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9232,752],"id":"5ff7b8d1-f25a-4cf2-9bd9-dc06a3e63795","name":"post_contacto","credentials":{"supabaseApi":{"id":"kfqdnCBpH3CEjsRN","name":"Supabase Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk","mode":"list","cachedResultName":"tabla_status_complete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1662782129,"mode":"list","cachedResultName":"NovedadesPlanOvalo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SxfOiwAn6xk0EldmpNXVkJYPO6aeLUiUY0NK6Xjh9Bk/edit#gid=1662782129"},"filtersUI":{"values":[{"lookupColumn":"phone_mobile","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_mobile","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"},{"lookupColumn":"phone_home","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_home","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"},{"lookupColumn":"phone_business","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withoutPrefix }}"},{"lookupColumn":"phone_business","lookupValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3616,2944],"id":"d4d8b905-4061-4324-8913-bd614f0aa2cb","name":"info_status1","credentials":{"googleSheetsOAuth2Api":{"id":"YgQulcu5c5ZEakOn","name":"Google Sheets Ovalo"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,704],"id":"b2cd9057-cd20-4ef5-ae06-e22842874d89","name":"Wait2","webhookId":"79e7ad32-301c-4b68-affd-8c6367a39996"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-144,704],"id":"9cacbfb2-0ced-4a4a-a3f0-e28806e2058d","name":"redis-cola-mensajes","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[752,800],"id":"c6a099aa-c231-4cc7-bcdb-e5425f86ac3d","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.cola_mensajes.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,608],"id":"a7a07212-7430-49c4-bd61-17b6bde24492","name":"une_mensajes"},{"parameters":{"operation":"get","propertyName":"cola_mensajes","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[304,704],"id":"9158724c-5bf2-4eff-9f76-08aff7639b8b","name":"redis_recupera_cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.cola_mensajes.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,704],"id":"dcdbe7b9-4374-4d95-8e74-cc147ad7358b","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,608],"id":"364c6de4-b033-4538-b0ee-4e4c3f4c3570","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,608],"id":"db241365-840d-40b7-bddf-c203c38cf6fb","name":"limpiar-cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"96b17c75-1813-428a-8ff8-6007c46fd0bf","name":"text","value":"={{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3616,3344],"id":"ea9d0a71-514b-470d-a6cd-4ad8d7346893","name":"text-from-wpp_old","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"96b17c75-1813-428a-8ff8-6007c46fd0bf","name":"text","value":"={{\n  $('une_data_wpp').isExecuted\n    ? $('une_data_wpp').item.json.mensajeUsuario\n    : ($('texto-from-sonido').item.json.text)\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2800,592],"id":"5ac3b0ca-b61b-4eec-9f89-b3f1aa7d67dd","name":"text-from-wpp"},{"parameters":{"jsCode":"// Formatear input para WhatsApp\n//const wppData = $nput.first().json;\nconst wppData = $('une_data_wpp').first().json;\n\n//recupero memoria\n//const memoria_contexto = $('une_memory').first().json.ChatMemory\n//const memoria_contexto = $input.first().json.ChatMemory\n\nconst memoria_contexto_array = $input.first().json.ChatMemory\n//const etapa_actual = memoria_contexto_array[memoria_contexto_array.length-1].etapa\nconst etapa_actual = memoria_contexto_array.length > 0 ? memoria_contexto_array[memoria_contexto_array.length-1].etapa : null;\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  memoria_contexto = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n} else {\n  memoria_contexto = \"\"; // Sin historial previo\n}\n\n  \n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0]; // Primer mensaje del array\nconst contact = wppData.contacts[0]; // Primer contacto del array\n\n//const chatInput = message.text.body;\n//const chatInput = $input.first().json.mensajeUsuario\nconst chatInput = $('une_data_wpp').first().json.mensajeUsuario\n\n\nconst sessionId = message.from;\n//const sessionId = message.from + \"_9\";\nconst userName = contact.profile.name || 'Cliente';\nconst celular = message.from;\nconst normalizedNumber = celular\n  .replace(/^54/, \"54\"); \n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from, // En WhatsApp el chatId suele ser el mismo que el userId\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,608],"id":"42e0d6f3-1fac-4843-8b9d-c0baef24f23b","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"cobros_historial","returnAll":true,"filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $('numero_celular_limpio').item.json.phoneNumbers.withPrefix }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1648,624],"id":"94548577-43e9-4c57-a652-53be275e1268","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"kfqdnCBpH3CEjsRN","name":"Supabase Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2096,448],"id":"bb7d8083-8546-4e52-a1b2-22a9bfc67864","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $('Get Memory').first().json.id}}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":0}],"combinator":"and"},"options":{}},"id":"aa1cddcc-034b-4554-9505-b3201c4dca0a","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[1856,608],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"616bd56a-2cf5-4be8-a764-91a26b0d8c56","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[2080,704],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"operation":"send","phoneNumberId":"778640135336559","recipientPhoneNumber":"=5493874681678","textBody":"=hola Fer","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-3264,2816],"id":"6805827f-3079-4f85-bcef-76381b636c18","name":"Send message1","webhookId":"09ac483c-773e-40e1-a55f-e99024d85e45","credentials":{"whatsAppApi":{"id":"aUVyUgMDdyey11mO","name":"WhatsApp out Ovalo"}},"disabled":true},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-2496,656],"id":"b61b975f-61a1-4ff6-bcbd-c87dcae98250","name":"WhatsApp Trigger","webhookId":"bf5bb840-cc99-45c8-aaf2-e478d0f28844","credentials":{"whatsAppTriggerApi":{"id":"Mw8mZ1pgrQsR9QJ9","name":"WhatsApp OAuth Ovalo"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1104,640],"id":"f9c0f6c1-c8a1-42e5-86af-d5e321e07fcf","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"z1eoMsPQXEjY0Nfl","name":"header-auth-ovalo-ford"}}},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,640],"id":"c5fdcb62-16d8-4244-9cbf-f30087f64132","name":"session-id"},{"parameters":{"operation":"get","key":"={{ \"conversacion:\" + $json.sessionId + \":9:estado\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1840,640],"id":"3a0117ea-4aa5-4121-add7-7279fa985de6","name":"redis-recupera-estado-actual","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"jsCode":"const idSession = $('session-id').first().json.sessionId\nconst estadoJson = $input.first().json.propertyName || '{\"human_takeover\":false}';\nconst estado = JSON.parse(estadoJson);\n\nreturn [{ json: { \n  sessionId: idSession,\n  human_takeover: estado.human_takeover\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,640],"id":"6891bf16-2815-47da-ab77-12d3e2630c89","name":"parsea-estado-ht"},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('Obtener-contacto-id1').item.json.payload[0].id }}/contact_inboxes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 9\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6208,720],"id":"36860e6a-dece-4d50-88a0-5ff517ef4b19","name":"Crear-contact-inbox","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"jsCode":"const conversaciones = items[0].json.payload || [];\nconst INBOX_OBJETIVO = 9; // 👈 inbox nuevo\n\nconst encontrada = conversaciones.find(\n  c => c.inbox_id === INBOX_OBJETIVO\n);\n\nif (!encontrada) {\n  return [{\n    json: {\n      existe_conversacion: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    existe_conversacion: true,\n    conversation_id: encontrada.id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5280,736],"id":"161e4e71-33b1-425b-acc1-165946b87ac1","name":"filtrar_conversacion_por_inbox"},{"parameters":{"url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3664,896],"id":"4d4203eb-6530-436b-9675-8c892e3267d9","name":"Obtener-contacto-id1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts/{{ $if (\n  $('Obtener-contacto-id1').isExecuted,\n  $('Si-existe-contacto2').item.json.payload[0].id,\n  $('Si-existe-contacto2').item.json.propertyName) }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5072,736],"id":"280bb70a-db03-4a66-86c7-aa919fb9abc1","name":"Obtener-conversacion-id1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $if (\n  $('Obtener-conversacion-id1').isExecuted,\n  $json.conversation_id,\n  $json.propertyName\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n  \"message_type\": \"incoming\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6560,480],"id":"638d97be-0483-466d-ab48-5e37d09c4a1b","name":"Guardar-mensaje-entrante1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inbox_id\": 9,\n  \"name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\",\n  \"phone_number\": \"+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4768,960],"id":"8e2a1aa7-c3ca-43f5-8a0b-f1cb3ba30e4d","name":"Crear-contacto1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"method":"POST","url":"http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $if ( \n$('Crear-contacto1').isExecuted,\n$('Crear-contacto1').item.json.payload.contact.contact_inboxes[0].source_id,\n$json.source_id ) }}\",\n  \"inbox_id\": {{ $if ( \n$('Crear-contacto1').isExecuted,\n$('Crear-contacto1').item.json.payload.contact.contact_inboxes[0].inbox.id,\n$json.inbox.id ) }},\n  \"message\": {\n          \"content\": \"{{ $('une_data_wpp').item.json.mensajeUsuario.replace(/\\n/g, '\\\\n') }}\",\n          \"message_type\": \"incoming\"\n              }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6416,960],"id":"6e26ea88-56ab-4f95-b355-416e7902d498","name":"Crear-conversacion-y-mensaje-entrante1","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $('Obtener-contacto-id1').isExecuted\n    ? !!$json.payload[0].id\n    : $('Redis-Get-Contacto1').item.json.propertyName != null\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4352,576],"id":"081a8f54-b5b7-44d8-91a0-b00782dc99a1","name":"Si-existe-contacto2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{\n  $('Obtener-conversacion-id1').isExecuted\n    ? $json.existe_conversacion\n    : ($('Redis-Get-Conversacion1').item.json.propertyName != null)\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6016,496],"id":"b9bf8388-2819-4e4a-8b27-1f0a063676a1","name":"Si-existe-conversacion2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35fa5ad5-6f16-40f7-8034-871d33c20120","leftValue":"={{ $('parsea-estado-ht').item.json.human_takeover === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6832,480],"id":"c03c7589-473d-4ec0-bd3d-c5b5b15d5c34","name":"If2"},{"parameters":{"operation":"get","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3328,592],"id":"3bfdd413-6d8e-4ed3-81d5-b7c814d30810","name":"Redis-Get-Contacto1","alwaysOutputData":false,"credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d34f5cdf-10c8-4e63-a4e2-52bf2e913eab","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3504,592],"id":"f867c274-4191-4815-a8d0-f3d4555b11ae","name":"SI-contacto-en-cache1"},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload.contact.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5184,960],"id":"f53d0c88-8bac-44f7-9cb4-2c7324232e26","name":"Redis-Set-Contacto1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"set","key":"=contact:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","value":"={{ $json.payload[0].id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4000,672],"id":"6847ccff-e312-4bb2-8a5c-67b9dadb9cb5","name":"Redis-Set-Contacto-Existente1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"operation":"get","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4688,512],"id":"dd04a032-949a-4660-b40d-385cd17a9d12","name":"Redis-Get-Conversacion1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c8bf3d8-1843-49f0-adb1-a16b8896db72","leftValue":"={{ $json.propertyName !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4912,512],"id":"8a64e1df-5f13-4d02-8a56-94c0d16a7012","name":"SI-conversacion-en-cache1"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","value":"={{ $json.id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6608,960],"id":"b40d9562-c320-4843-92c4-f9cc1492cc09","name":"Redis-Set-Conversacion1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287917ca-1acb-453e-a67b-b0236ffa81cd","leftValue":"={{ $json.payload[0].id.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3840,896],"id":"f99d6a1a-d310-402f-9b70-db1a00082215","name":"Si-existe-contacto3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e0dcd4-068a-4fb6-b932-3aac971f01c7","leftValue":"={{ $json.existe_conversacion }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5488,736],"id":"b285cca4-1f1b-493e-b886-112ea646b625","name":"Si-existe-conversacion3"},{"parameters":{"operation":"set","key":"=conversation:{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}:AOC","value":"={{ $json.conversation_id.toString() }}","expire":true,"ttl":180},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5632,576],"id":"6d2e7f0b-e329-48c0-964c-63347407d88d","name":"Redis-Set-Conversacion-Existente1","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7120,272],"id":"da70a950-9b28-4156-9254-cf14cff3b4ab","name":"No Operation, do nothing7"},{"parameters":{"method":"POST","url":"=http://agn-hyundai_chatwoot:3000/api/v1/accounts/1/conversations/{{ $if (\n  $(\"Guardar-mensaje-entrante1\").isExecuted,\n  $(\"Guardar-mensaje-entrante1\").item.json.conversation_id,   \n  $if (\n    $(\"Crear-conversacion-y-mensaje-entrante1\").isExecuted,\n    $('Crear-conversacion-y-mensaje-entrante1').item.json.id,\n    \"NO_ID\")\n) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"5K4P9pD4ARZWs5hBfRFHhUJ1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    content: $('build_output').item.json.whatsapp_response,\n    message_type: \"outgoing\",\n    private:false,\n    content_type:\"text\",\n    content_attributes:{\"items\": [\n            { \"is_bot\": true}\n        ]}\n  })\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8656,496],"id":"f657bfea-be4a-4c0c-bd58-3a291da8b2c7","name":"Guardar-mensaje-saliente","credentials":{"httpBasicAuth":{"id":"2foYQ7r48edVzMuQ","name":"Credencial Chatwoot"}}},{"parameters":{"description":"Tramita la solicitud de un cupón de pago para el ahorrista de Plan Óvalo. \nUsar cuando el cliente solicite pagar cuotas, adelantar cuotas o abonar a cuenta de su deuda.\n\nParámetros requeridos (obtener de info_status antes de ejecutar):\n- grupo: número de grupo del plan (campo groupId de info_status)\n- orden: número de orden del plan (campo orderNumber de info_status)\n- nombre: nombre completo del titular (campo nombre de info_status)\n- cuotas: cantidad de cuotas a tramitar (DEBE ser confirmado explícitamente por el ahorrista, nunca asumir)\n\nParámetro opcional:\n- descripcion: tipo o naturaleza de la cuota. Inferir del contexto de la conversación. \n  Valores más probables: \"Cuota mensual\", \"Adelanto de cuota\", \"Pago a cuenta de la deuda mensual\".\n  Si no se puede inferir, usar la descripción tal como la expresó el cliente.\n  Si no hay información suficiente, omitir este parámetro.\n\nNUNCA ejecutar sin tener grupo, orden, nombre y cuotas confirmados.","workflowId":{"__rl":true,"value":"TAYaMQydA7VE7JCU","mode":"list","cachedResultUrl":"/workflow/TAYaMQydA7VE7JCU","cachedResultName":"subflujo-tramita-cupon"},"workflowInputs":{"mappingMode":"defineBelow","value":{"grupo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('grupo', ``, 'string') }}","orden":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orden', ``, 'string') }}","cuotas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cuotas', ``, 'string') }}","nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}","descripcion":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"grupo","displayName":"grupo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"orden","displayName":"orden","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cuotas","displayName":"cuotas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[8160,752],"id":"7bb65178-47c2-430f-9382-4cb92f2eff9d","name":"tramita_cupon"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"cobrador_ai","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"obtener-imagen","type":"main","index":0}],[{"node":"redis-cola-mensajes","type":"main","index":0}],[{"node":"obtener-sonido","type":"main","index":0}]]},"normalizaNumero":{"main":[[{"node":"Guardar-mensaje-saliente","type":"main","index":0}]]},"transcibe":{"main":[[{"node":"texto-from-sonido","type":"main","index":0}]]},"texto-from-sonido":{"main":[[{"node":"text-from-wpp","type":"main","index":0}]]},"obtener-sonido":{"main":[[{"node":"bajar-sonido","type":"main","index":0}]]},"obtener-imagen":{"main":[[{"node":"bajar-imagen","type":"main","index":0}]]},"bajar-sonido":{"main":[[{"node":"transcibe","type":"main","index":0}]]},"bajar-imagen":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"texto-from-imagen","type":"main","index":0}]]},"texto-from-imagen":{"main":[[]]},"info_status":{"ai_tool":[[{"node":"cobrador_ai","type":"ai_tool","index":0}]]},"numero_celular_limpio":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"build_output":{"main":[[{"node":"normalizaNumero","type":"main","index":0}]]},"getHistorial":{"ai_tool":[[{"node":"cobrador_ai","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"session-id","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Append row in sheet","type":"main","index":0},{"node":"post_contacto","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"cobrador_ai","type":"ai_memory","index":0}]]},"cobrador_ai":{"main":[[{"node":"build_output","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"text-from-wpp":{"main":[[{"node":"Redis-Get-Contacto1","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"text-from-wpp","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"typing_indicator":{"main":[[{"node":"Switch","type":"main","index":0}]]},"session-id":{"main":[[{"node":"redis-recupera-estado-actual","type":"main","index":0}]]},"redis-recupera-estado-actual":{"main":[[{"node":"parsea-estado-ht","type":"main","index":0}]]},"parsea-estado-ht":{"main":[[{"node":"numero_celular_limpio","type":"main","index":0}]]},"Crear-contact-inbox":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante1","type":"main","index":0}]]},"filtrar_conversacion_por_inbox":{"main":[[{"node":"Si-existe-conversacion3","type":"main","index":0}]]},"Obtener-contacto-id1":{"main":[[{"node":"Si-existe-contacto3","type":"main","index":0}]]},"Obtener-conversacion-id1":{"main":[[{"node":"filtrar_conversacion_por_inbox","type":"main","index":0}]]},"Guardar-mensaje-entrante1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Crear-contacto1":{"main":[[{"node":"Redis-Set-Contacto1","type":"main","index":0}]]},"Crear-conversacion-y-mensaje-entrante1":{"main":[[{"node":"Redis-Set-Conversacion1","type":"main","index":0}]]},"Si-existe-contacto2":{"main":[[{"node":"Redis-Get-Conversacion1","type":"main","index":0}],[{"node":"Crear-contacto1","type":"main","index":0}]]},"Si-existe-conversacion2":{"main":[[{"node":"Guardar-mensaje-entrante1","type":"main","index":0}],[{"node":"Crear-contact-inbox","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[{"node":"cobrador_ai","type":"main","index":0}]]},"Redis-Get-Contacto1":{"main":[[{"node":"SI-contacto-en-cache1","type":"main","index":0}]]},"SI-contacto-en-cache1":{"main":[[{"node":"Si-existe-contacto2","type":"main","index":0}],[{"node":"Obtener-contacto-id1","type":"main","index":0}]]},"Redis-Set-Contacto1":{"main":[[{"node":"Crear-conversacion-y-mensaje-entrante1","type":"main","index":0}]]},"Redis-Set-Contacto-Existente1":{"main":[[{"node":"Si-existe-contacto2","type":"main","index":0}]]},"Redis-Get-Conversacion1":{"main":[[{"node":"SI-conversacion-en-cache1","type":"main","index":0}]]},"SI-conversacion-en-cache1":{"main":[[{"node":"Si-existe-conversacion2","type":"main","index":0}],[{"node":"Obtener-conversacion-id1","type":"main","index":0}]]},"Redis-Set-Conversacion1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Si-existe-contacto3":{"main":[[{"node":"Redis-Set-Contacto-Existente1","type":"main","index":0}],[{"node":"Si-existe-contacto2","type":"main","index":0}]]},"Si-existe-conversacion3":{"main":[[{"node":"Redis-Set-Conversacion-Existente1","type":"main","index":0}],[{"node":"Si-existe-conversacion2","type":"main","index":0}]]},"Redis-Set-Conversacion-Existente1":{"main":[[{"node":"Si-existe-conversacion2","type":"main","index":0}]]},"Guardar-mensaje-saliente":{"main":[[{"node":"Send message","type":"main","index":0}]]},"tramita_cupon":{"ai_tool":[[{"node":"cobrador_ai","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8140db9-c80a-42cc-89f0-8513cd4319e1","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-09T11:31:09.787Z","createdAt":"2025-12-09T11:31:09.787Z","role":"workflow:owner","workflowId":"B4tBe1qZEvAVtLpq","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}