subflujo-datos-vehiculo-by-patente_hyundai-mZyrU6cgqbAdbBRD.json
{"updatedAt":"2026-03-16T13:57:23.000Z","createdAt":"2026-03-16T13:57:07.306Z","id":"mZyrU6cgqbAdbBRD","name":"subflujo-datos-vehiculo-by-patente_hyundai","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-datos-vehiculo-by-patente\n\nconst input = $input.first().json;\n\n// Extraer datos\nlet patente = input.patente;\n\n// VALIDACIONES\nconst errores = [];\n\n// 1. Verificar que patente existe y no es nulo/undefined\nif (!patente || patente === null || patente === undefined) {\n  errores.push(\"La patente es obligatoria y no puede ser nula\");\n}\n\n// Si la patente existe, proceder con limpieza y validaciones\nif (patente) {\n  // 2. Convertir a string si no lo es\n  patente = String(patente);\n  \n  // 3. Limpiar: quitar espacios, guiones y caracteres especiales\n  patente = patente.trim()\n                   .replace(/[-\\s_./]/g, '')  // quita guiones, espacios, guiones bajos, puntos, barras\n                   .toUpperCase();             // convierte a mayúsculas\n  \n  // 4. Verificar que no quedó vacía después de limpiar\n  if (patente.length === 0) {\n    errores.push(\"La patente no puede estar vacía después de limpiar\");\n  }\n  \n  // 5. Validar longitud (patentes argentinas pueden ser 6 o 7 caracteres)\n  // Formato viejo: ABC123 (6 chars) - Formato nuevo: AB123CD (7 chars)\n  if (patente.length < 6 || patente.length > 7) {\n    errores.push(`La patente debe tener 6 o 7 caracteres (recibido: ${patente.length})`);\n  }\n  \n  // 6. Validar que solo contenga letras y números\n  const soloAlfanumerico = /^[A-Z0-9]+$/;\n  if (!soloAlfanumerico.test(patente)) {\n    errores.push(\"La patente solo puede contener letras y números\");\n  }\n  \n  // 7. Validación adicional de formato argentino (opcional, comentar si no aplica)\n  const formatoViejo = /^[A-Z]{3}[0-9]{3}$/;  // ABC123\n  const formatoNuevo = /^[A-Z]{2}[0-9]{3}[A-Z]{2}$/;  // AB123CD\n  \n  if (!formatoViejo.test(patente) && !formatoNuevo.test(patente)) {\n    errores.push(`Formato de patente inválido. Debe ser ABC123 o AB123CD (recibido: ${patente})`);\n  }\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        patente_original: input.patente,\n        patente_limpia: patente || null\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    patente: patente,  // patente ya limpia y validada\n    patente_original: input.patente  // guardar original por si acaso\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,224],"id":"2fdd4ec6-3bd7-4110-a513-4514f883b015","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,224],"id":"82a9c6ef-4967-4548-a348-a71368e7ea1c","name":"valido?"},{"parameters":{"jsCode":"// PROCESAR DATOS DE VEHÍCULO Y GENERAR RESPUESTA\n\n// Datos de entrada\n//const trigger = $('trigger-get-datos').first().json;\nconst httpResponse = $input.first().json;\n\n// Patente solicitada (ya validada y limpia)\nconst patenteSolicitada = $('validar-formato').first().json.patente;\n\n// Extraer vehículos desde la respuesta del CRM\nconst vehiculosEncontrados = httpResponse.InternalObject || [];\n\n// Verificar si se encontraron vehículos\nconst vehiculoEncontrado = vehiculosEncontrados.length > 0;\n\n// Procesar datos del vehículo (tomar el primero si hay múltiples)\nlet datosVehiculo = null;\nlet mensaje = \"\";\n\nif (vehiculoEncontrado) {\n  // Tomar el primer vehículo (o el más reciente por DOC_ID)\n  const vehiculo = vehiculosEncontrados[0];\n  \n  datosVehiculo = {\n    doc_id: vehiculo.DOC_ID || null,\n    patente: vehiculo.VEHICULO || patenteSolicitada,\n    marca: vehiculo.MARCA || null,\n    modelo: vehiculo.MODELO || null,\n    kms: vehiculo.KMS || null,\n    telefono: vehiculo.TELEFONO || null,\n    servicio: vehiculo.SERVICIO || null,\n    fecha_ultima_visita: vehiculo.FECHA || null,\n    hora_ultima_visita: vehiculo.HORA || null,\n    titular: vehiculo.TITULAR || null,\n    subject: vehiculo.SUBJECT || null\n  };\n  \n  mensaje = `✅ Vehículo encontrado: ${datosVehiculo.marca} ${datosVehiculo.modelo} - Patente: ${datosVehiculo.patente}`;\n  \n} else {\n  mensaje = `❌ No se encontró ningún vehículo con la patente: ${patenteSolicitada}`;\n}\n\n// Preparar respuesta estructurada\nconst respuesta = {\n  success: true,\n  patente_solicitada: patenteSolicitada,\n  vehiculo_encontrado: vehiculoEncontrado,\n  total_registros: vehiculosEncontrados.length,\n  mensaje: mensaje,\n  \n  // Datos del vehículo (null si no se encontró)\n  vehiculo: datosVehiculo,\n  \n  // Todos los registros encontrados (por si hay múltiples)\n  todos_los_registros: vehiculosEncontrados.map(v => ({\n    doc_id: v.DOC_ID,\n    patente: v.VEHICULO,\n    marca: v.MARCA,\n    modelo: v.MODELO,\n    kms: v.KMS,\n    telefono: v.TELEFONO,\n    servicio: v.SERVICIO,\n    fecha: v.FECHA,\n    hora: v.HORA,\n    titular: v.TITULAR,\n    subject: v.SUBJECT\n  })),\n  \n  // Info adicional útil\n  ultima_visita: datosVehiculo ? {\n    fecha: datosVehiculo.fecha_ultima_visita,\n    hora: datosVehiculo.hora_ultima_visita,\n    servicio: datosVehiculo.servicio\n  } : null,\n  \n  // Estadísticas\n  tiene_historial: vehiculosEncontrados.length > 1,\n  cantidad_visitas: vehiculosEncontrados.length\n};\n\nreturn [{ json: respuesta }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,240],"id":"5aa06e2a-38a1-4191-a2d7-2d9d1c8490ce","name":"prepare-data-response"},{"parameters":{"jsCode":"// En el nodo \"salida_con_error\" (Code node)\nconst errores = $input.first().json.errores || [\"Error de validación\"];\n\nreturn [{\n  json: {\n    success: false,\n    error: \"VALIDACION_FALLIDA\",\n    errores: errores,\n    disponible: false,\n    mensaje: errores.join(\", \")\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,496],"id":"139db353-9faa-43db-adf0-efd5193cad16","name":"salida-con-error"},{"parameters":{"workflowInputs":{"values":[{"name":"patente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,240],"id":"ce14614b-d6ef-47bd-9a4a-21b7fc5887eb","name":"trigger-get-datos"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1164/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"formula","value":"=PATENTE='{{ $('validar-formato').item.json.patente }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,208],"id":"00ef3ff3-2668-47bb-988b-4127c4a9b031","name":"get-data-by-patente"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,208],"id":"e86bdb22-8e4f-4323-a8ec-22ecc1c89f8d","name":"login_cloudy"}],"connections":{"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-get-datos":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"get-data-by-patente":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-data-by-patente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"37535039-7d3e-4003-a288-f8d417acc3a5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-16T13:57:07.309Z","createdAt":"2026-03-16T13:57:07.309Z","role":"workflow:owner","workflowId":"mZyrU6cgqbAdbBRD","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}