subflujo-get-citas-by-patente_hyundai-ePieazz77hzg9hJp.json
{"updatedAt":"2026-03-16T13:57:49.000Z","createdAt":"2026-03-16T13:56:16.717Z","id":"ePieazz77hzg9hJp","name":"subflujo-get-citas-by-patente_hyundai","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-crea-cita\nconst input = $input.first().json;\n\n// Extraer datos\nconst fecha_inicio = input.fecha_inicio;\nconst fecha_fin = input.fecha_fin;\nlet patente = input.patente;\n\n// VALIDACIONES\nconst errores = [];\n\n// 1. VALIDAR FECHA INICIO (YYYY-MM-DD)\nconst regexFecha = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fecha_inicio || !regexFecha.test(fecha_inicio)) {\n  errores.push(`Fecha inicio inválida: \"${fecha_inicio}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// 2. VALIDAR FECHA FIN (YYYY-MM-DD)\nif (!fecha_fin || !regexFecha.test(fecha_fin)) {\n  errores.push(`Fecha fin inválida: \"${fecha_fin}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// 3. VALIDAR QUE FECHA_INICIO < FECHA_FIN\nif (fecha_inicio && fecha_fin && regexFecha.test(fecha_inicio) && regexFecha.test(fecha_fin)) {\n  const dateInicio = new Date(fecha_inicio);\n  const dateFin = new Date(fecha_fin);\n  \n  if (dateInicio >= dateFin) {\n    errores.push(`La fecha de inicio (${fecha_inicio}) debe ser anterior a la fecha de fin (${fecha_fin})`);\n  }\n}\n\n// 4. Verificar que patente existe y no es nulo/undefined\nif (!patente || patente === null || patente === undefined) {\n  errores.push(\"La patente es obligatoria y no puede ser nula\");\n}\n\n// Si la patente existe, proceder con limpieza y validaciones\nif (patente) {\n  // Convertir a string si no lo es\n  patente = String(patente);\n  \n  // Limpiar: quitar espacios, guiones y caracteres especiales\n  patente = patente.trim()\n                   .replace(/[-\\s_./]/g, '')\n                   .toUpperCase();\n  \n  // Verificar que no quedó vacía después de limpiar\n  if (patente.length === 0) {\n    errores.push(\"La patente no puede estar vacía después de limpiar\");\n  }\n  \n  // Validar longitud (patentes argentinas: 6 o 7 caracteres)\n  //if (patente.length < 6 || patente.length > 7) {\n  //  errores.push(`La patente debe tener 6 o 7 caracteres (recibido: ${patente.length})`);\n  //}\n  \n  // Validar que solo contenga letras y números\n  const soloAlfanumerico = /^[A-Z0-9]+$/;\n  if (!soloAlfanumerico.test(patente)) {\n    errores.push(\"La patente solo puede contener letras y números\");\n  }\n  \n  // Validación de formato argentino\n  //const formatoViejo = /^[A-Z]{3}[0-9]{3}$/;\n  //const formatoNuevo = /^[A-Z]{2}[0-9]{3}[A-Z]{2}$/;\n  //\n  //if (!formatoViejo.test(patente) && !formatoNuevo.test(patente)) {\n    //errores.push(`Formato de patente inválido. Debe ser ABC123 o AB123CD (recibido: ${patente})`);\n  //}\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        fecha_inicio,\n        fecha_fin,\n        patente_original: input.patente,\n        patente_limpia: patente || null\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    fecha_inicio,\n    fecha_fin,\n    patente: patente,\n    patente_original: input.patente\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,224],"id":"4dcfac48-40bf-43a0-a958-ff2c1733c558","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,224],"id":"c2addd95-2a4a-490e-bf8e-c986aeef678f","name":"valido?"},{"parameters":{"jsCode":"// Procesar respuesta de consulta de citas por patente\nconst response = $input.first().json;\n\n// Verificar si la consulta fue exitosa\nconst exitoso = response.ResponseResult === 0;\n\nif (exitoso) {\n  // Verificar si InternalObject es un array o un objeto único\n  const citasData = Array.isArray(response.InternalObject) \n    ? response.InternalObject \n    : [response.InternalObject];\n  \n  // Mapear todas las citas encontradas\n  const citas = citasData.map(cita => ({\n    citaId: cita.DOC_ID || null,\n    servicio: cita.SERVICIO || null,\n    fecha: cita.FECHA || null,\n    hora: cita.HORA || null,\n    marca: cita.MARCA || null,\n    modelo: cita.MODELO || null,\n    patente: cita.VEHICULO || null,\n    taller: cita.TITULAR || null,\n    telefono: cita.TELEFONO || null,\n    asunto: cita.SUBJECT || null\n  }));\n  \n  // Consulta exitosa - citas encontradas\n  return {\n    json: {\n      exitoso: true,\n      mensaje: `Se encontraron ${citas.length} cita(s)`,\n      cantidadCitas: citas.length,\n      citas: citas,\n      // Parámetros de búsqueda usados\n      parametrosBusqueda: {\n        fechaInicio: $('validar-formato').first().json.fecha_inicio,\n        fechaFin: $('validar-formato').first().json.fecha_fin,\n        patenteBuscada: $('validar-formato').first().json.patente\n      }\n    }\n  };\n} else {\n  // No se encontraron citas o hubo error\n  return {\n    json: {\n      exitoso: false,\n      mensaje: \"No se encontraron citas o error en la consulta\",\n      codigoError: response.ResponseResult,\n      tipoError: response.ExceptionType || \"Desconocido\",\n      detalleError: response.ExceptionMessage || \"Sin detalles\",\n      informacionAdicional: response.ExceptionInfo || null,\n      // Parámetros de búsqueda usados\n      parametrosBusqueda: {\n        fechaInicio: $('validar-formato').first().json.fecha_inicio,\n        fechaFin: $('validar-formato').first().json.fecha_fin,\n        patenteBuscada: $('validar-formato').first().json.patente\n      }\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,240],"id":"4b7e43ea-f249-4934-9b99-63cf36c253ec","name":"prepare-data-response"},{"parameters":{"jsCode":"// Procesar salida con error de validación\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    exitoso: false,\n    tipoError: errorData.error || \"ERROR_DESCONOCIDO\",\n    mensaje: \"No se pudo consultar las citas debido a errores de validación\",\n    errores: errorData.errores || [],\n    cantidadErrores: (errorData.errores || []).length,\n    datosRecibidos: {\n      fechaInicio: errorData.datos_recibidos?.fecha_inicio || null,\n      fechaFin: errorData.datos_recibidos?.fecha_fin || null,\n      patenteOriginal: errorData.datos_recibidos?.patente_original || null,\n      patenteLimpia: errorData.datos_recibidos?.patente_limpia || null\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,496],"id":"1806355c-eacc-4784-827e-d483d7a985cf","name":"salida-con-error"},{"parameters":{"workflowInputs":{"values":[{"name":"fecha_inicio"},{"name":"fecha_fin"},{"name":"patente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,240],"id":"00b1da32-a058-49e5-8e47-d3139e4eee28","name":"trigger-get-citas-by-patente"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1163/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"formula","value":"=PATENTE='{{ $('validar-formato').item.json.patente }}' AND FECHA BETWEEN '{{ $('validar-formato').item.json.fecha_inicio }}' AND '{{ $('validar-formato').item.json.fecha_fin }}' "},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,208],"id":"4b47c399-f3b0-4eb3-852c-8fbec70bd7cb","name":"get-citas-by-patente"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": 12345,\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,32],"id":"98a926ed-9bf1-487b-99ce-f393ddd322a5","name":"login_cloudy-dev","disabled":true},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,192],"id":"7085a518-8acb-47a9-8098-6e46e708ad22","name":"login_cloudy"}],"connections":{"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-get-citas-by-patente":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"get-citas-by-patente":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"login_cloudy-dev":{"main":[[]]},"login_cloudy":{"main":[[{"node":"get-citas-by-patente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"30da25c8-d536-4519-aca5-8b261362d66a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-16T13:56:16.719Z","createdAt":"2026-03-16T13:56:16.719Z","role":"workflow:owner","workflowId":"ePieazz77hzg9hJp","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}