subflujo-reagenda-cita-PkfltEFTxCBRslHJ.json
{"updatedAt":"2025-12-18T14:09:19.000Z","createdAt":"2025-12-04T14:09:34.961Z","id":"PkfltEFTxCBRslHJ","name":"subflujo-reagenda-cita","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-reagenda-cita\nconst input = $input.first().json;\n\n// Extraer datos\nconst nueva_fecha_cita = input.nueva_fecha_cita;\nconst nueva_hora_cita = input.nueva_hora_cita;\nconst cita_id = input.cita_id;\n\n// VALIDACIONES\nconst errores = [];\n\n// 1. VALIDAR NUEVA FECHA (YYYY-MM-DD)\nconst regexFecha = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!nueva_fecha_cita || !regexFecha.test(nueva_fecha_cita)) {\n  errores.push(`Fecha inválida: \"${nueva_fecha_cita}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// 2. VALIDAR NUEVA HORA (HH:MM)\nconst regexHora = /^\\d{2}:\\d{2}$/;\nif (!nueva_hora_cita || !regexHora.test(nueva_hora_cita)) {\n  errores.push(`Hora inválida: \"${nueva_hora_cita}\". Formato requerido: HH:MM (ej: 10:30)`);\n}\n\n// Validar que sea uno de los turnos válidos (08:00 a 10:15 cada 15 min)\nconst turnosValidos = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\"\n];\nif (nueva_hora_cita && !turnosValidos.includes(nueva_hora_cita)) {\n  errores.push(`Hora no permitida: \"${nueva_hora_cita}\". Solo se aceptan turnos: ${turnosValidos.join(', ')}`);\n}\n\n// 3. VALIDAR CITA_ID (debe ser un número entero positivo o string numérico)\nif (!cita_id) {\n  errores.push(`ID de cita es requerido y no puede estar vacío`);\n} else {\n  const cita_id_num = parseInt(cita_id);\n  if (isNaN(cita_id_num) || cita_id_num <= 0) {\n    errores.push(`ID de cita inválido: \"${cita_id}\". Debe ser un número entero positivo`);\n  }\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        nueva_fecha_cita,\n        nueva_hora_cita,\n        cita_id\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    nueva_fecha_cita,\n    nueva_hora_cita,\n    cita_id: parseInt(cita_id)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,320],"id":"3c603baf-9b0c-4657-888b-53556b932e7a","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,320],"id":"77bc0884-a017-4733-a5ec-ad337b9cdb00","name":"valido?"},{"parameters":{"jsCode":"// Procesar respuesta de creación de cita\nconst response = $input.first().json;\n\n// Verificar si la creación fue exitosa\nconst exitoso = response.ResponseResult === 0;\n\nif (exitoso) {\n  // Cita creada exitosamente\n  return {\n    json: {\n      exitoso: true,\n      mensaje: \"Cita reagendada exitosamente\",      \n      fechaCita: $('validar-formato').first().json.nueva_fecha_cita,\n      horaCita: $('validar-formato').first().json.nueva_hora_cita,      \n    }\n  };\n} else {\n  // Hubo un error en la creación\n  return {\n    json: {\n      exitoso: false,\n      mensaje: \"Error al reagendar la cita\",\n      codigoError: response.ResponseResult,\n      tipoError: response.ExceptionType || \"Desconocido\",\n      detalleError: response.ExceptionMessage || \"Sin detalles\",\n      informacionAdicional: response.ExceptionInfo || null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,304],"id":"27e5dac5-9474-4f01-ad3a-6cb5c32bb4ac","name":"prepare-data-response","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Procesar salida con error de validación\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    exitoso: false,\n    tipoError: errorData.error || \"ERROR_DESCONOCIDO\",\n    mensaje: \"No se pudo reagendar la cita debido a errores de validación\",\n    errores: errorData.errores || [],\n    cantidadErrores: (errorData.errores || []).length,\n    datosRecibidos: {\n      fechaCita: errorData.datos_recibidos?.fecha_cita || null,\n      horaCita: errorData.datos_recibidos?.hora_cita || null,\n      nombreCliente: errorData.datos_recibidos?.nombre_cliente || null,\n      apellidoCliente: errorData.datos_recibidos?.apellido_cliente || null,\n      modeloVehiculo: errorData.datos_recibidos?.modelo_vehiculo || null,\n      patenteVehiculo: errorData.datos_recibidos?.patente_vehiculo || null,\n      tallerSolicitado: errorData.datos_recibidos?.taller_solicitado || null,\n      servicioSolicitado: errorData.datos_recibidos?.servicio_solicitado || null\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,592],"id":"8d16925a-36aa-4e01-abbb-027efc3efa54","name":"salida-con-error"},{"parameters":{"jsCode":"let data = $('get-one-cita-by-id').first().json.InternalObject;\n\n// ⭐ FECHA_HORA - COMBINAR FECHA + HORA en formato ISO 8601\nlet fechayhora_var = data.CustomFields.find(item => item.Name === 'FECHA_HORA');\nconst fecha = $('validar-formato').first().json.nueva_fecha_cita;  // \"2025-11-28\"\nconst hora = $('validar-formato').first().json.nueva_hora_cita;    // \"08:00\"\n// Combinar en formato ISO: \"2025-11-28T08:00:00\"\nfechayhora_var.Value = `${fecha}T${hora}:00-03:00`;\n//fechayhora_var.Value = `2025-11-27T19:30:00Z`;\n//2025-11-27T19:30:00Z\n// MODELO\n// let modelo_var = data.CustomFields.find(item => item.Name === 'MODELO');\n// modelo_var.Value = $('validar-formato').first().json.modelo_vehiculo;\n\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,320],"id":"38b00311-e17b-41d5-91e6-510c44d3e4ad","name":"modifica-body"},{"parameters":{"workflowInputs":{"values":[{"name":"nueva_fecha_cita"},{"name":"nueva_hora_cita"},{"name":"cita_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,336],"id":"a02314b8-8033-49d0-b6b1-ae3d59ec0960","name":"trigger-reagenda"},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $('validar-formato').item.json.cita_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,320],"id":"389330fb-bfdc-420f-86d7-9378904a8417","name":"get-one-cita-by-id"},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,320],"id":"ede8f011-7d79-409a-9262-ea4e794f289b","name":"reagenda-cita","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,304],"id":"a4f4bce9-869d-47ef-bb50-684d0b73c1a5","name":"login_cloudy"}],"connections":{"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"reagenda-cita","type":"main","index":0}]]},"trigger-reagenda":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"get-one-cita-by-id":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"reagenda-cita":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-one-cita-by-id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"993911ff-b517-4c28-b854-47157aef94ee","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-04T14:09:34.965Z","createdAt":"2025-12-04T14:09:34.965Z","role":"workflow:owner","workflowId":"PkfltEFTxCBRslHJ","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}