subflujo-crea-cita-U2RNGbMewkWIPwiY.json
{"updatedAt":"2026-03-19T18:05:44.000Z","createdAt":"2025-12-03T18:21:13.203Z","id":"U2RNGbMewkWIPwiY","name":"subflujo-crea-cita","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"fecha_cita"},{"name":"hora_cita"},{"name":"nombre_cliente"},{"name":"apellido_cliente"},{"name":"modelo_vehiculo"},{"name":"patente_vehiculo"},{"name":"servicio_solicitado"},{"name":"taller_solicitado"},{"name":"observaciones_cliente"},{"name":"telefono"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1136,352],"id":"428837fe-517b-475e-ab44-911a4507cfa9","name":"trigger-create"},{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-crea-cita\nconst input = $input.first().json;\n\n// Extraer datos\nconst fecha_cita = input.fecha_cita;\nconst hora_cita = input.hora_cita;\nconst nombre_cliente = input.nombre_cliente;\nconst apellido_cliente = input.apellido_cliente;\nconst modelo_vehiculo = input.modelo_vehiculo;\nconst patente_vehiculo = input.patente_vehiculo;\nconst taller_solicitado = input.taller_solicitado;\nconst servicio_solicitado = input.servicio_solicitado;\nconst trabajos_extra = input.observaciones_cliente;\nconst telefono = input.telefono;\n// VALIDACIONES\nconst errores = [];\n\n// 1. VALIDAR FECHA (YYYY-MM-DD)\nconst regexFecha = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fecha_cita || !regexFecha.test(fecha_cita)) {\n  errores.push(`Fecha inválida: \"${fecha_cita}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// 2. VALIDAR HORA (HH:MM)\nconst regexHora = /^\\d{2}:\\d{2}$/;\nif (!hora_cita || !regexHora.test(hora_cita)) {\n  errores.push(`Hora inválida: \"${hora_cita}\". Formato requerido: HH:MM (ej: 10:30)`);\n}\n\n// Validar que sea uno de los turnos válidos (08:00 a 10:15 cada 15 min)\nconst turnosValidos = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\"\n];\nif (hora_cita && !turnosValidos.includes(hora_cita)) {\n  errores.push(`Hora no permitida: \"${hora_cita}\". Solo se aceptan turnos: ${turnosValidos.join(', ')}`);\n}\n\n// 3. VALIDAR NOMBRE CLIENTE (no vacío, mínimo 2 caracteres)\nif (!nombre_cliente || nombre_cliente.trim().length < 2) {\n  errores.push(`Nombre del cliente inválido: \"${nombre_cliente}\". Debe tener al menos 2 caracteres`);\n}\n\n// 4. VALIDAR APELLIDO CLIENTE (no vacío, mínimo 2 caracteres)\nif (!apellido_cliente || apellido_cliente.trim().length < 2) {\n  errores.push(`Apellido del cliente inválido: \"${apellido_cliente}\". Debe tener al menos 2 caracteres`);\n}\n\n// 5. VALIDAR MODELO VEHÍCULO (no vacío)\nif (!modelo_vehiculo || modelo_vehiculo.trim().length < 2) {\n  errores.push(`Modelo del vehículo inválido: \"${modelo_vehiculo}\". Debe especificarse el modelo`);\n}\n\n// 6. VALIDAR PATENTE VEHÍCULO (formato argentino: ABC123 o ABC1234)\n// const regexPatente = /^[A-Z]{2,3}\\d{3,4}$/i;\n// if (!patente_vehiculo || !regexPatente.test(patente_vehiculo.replace(/\\s/g, ''))) {\n//   errores.push(`Patente inválida: \"${patente_vehiculo}\". Formato argentino esperado: ABC123 o ABC1234`);\n// }\n\n// 5. VALIDAR TELÉFONO (formato argentino)\n// Acepta: +549XXXXXXXXXX | 549XXXXXXXXXX | 011XXXXXXXX | 15XXXXXXXX | XXXXXXXXXX (10 dígitos)\nconst telefonoNormalizado = telefono ? telefono.replace(/[\\s\\-().]/g, '') : '';\nconst regexTelefono = /^(\\+?549\\d{8,10}|0\\d{9,10}|15\\d{8}|\\d{10})$/;\nif (!telefono || !regexTelefono.test(telefonoNormalizado)) {\n  errores.push(`Teléfono inválido: \"${telefono}\". Formatos aceptados: +5491123456789, 1123456789, 01123456789`);\n}\n\n\n// 6. VALIDAR TALLER (valores exactos)\nconst talleresValidos = [\n  \"Nissan - Tucuman\",\n  \"Nissan - Santiago del Estero\"\n];\nif (!taller_solicitado || !talleresValidos.includes(taller_solicitado)) {\n  errores.push(`Taller inválido: \"${taller_solicitado}\". Valores permitidos: \"${talleresValidos[0]}\" o \"${talleresValidos[1]}\"`);\n}\n\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        fecha_cita,\n        hora_cita,\n        nombre_cliente,\n        apellido_cliente,\n        modelo_vehiculo,\n        patente_vehiculo,\n        taller_solicitado,\n        servicio_solicitado,\n        trabajos_extra,\n        telefono\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados (con patente normalizada)\nreturn [{\n  json: {\n    success: true,\n    fecha_cita,\n    hora_cita,\n    nombre_cliente: nombre_cliente.trim(),\n    apellido_cliente: apellido_cliente.trim(),\n    modelo_vehiculo: modelo_vehiculo.trim(),\n    patente_vehiculo: patente_vehiculo.replace(/\\s/g, '').toUpperCase(),\n    taller_solicitado,\n    servicio_solicitado,\n    trabajos_extra,\n    telefono: telefonoNormalizado,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,336],"id":"a7be269e-39b3-42ea-8276-2aff59286c6d","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,336],"id":"4e7e0cde-18fc-41ad-8c2e-16ad3596f7d6","name":"valido?"},{"parameters":{"jsCode":"// Procesar respuesta de creación de cita\nconst response = $input.first().json;\n\n// Verificar si la creación fue exitosa\nconst exitoso = response.ResponseResult === 0;\n\n  // Buscar el DOC_ID en CustomFields\n  const customFields = response.InternalObject?.CustomFields || [];\n  const docIdField = customFields.find(field => field.Name === \"DOC_ID\");\n  const docId = docIdField?.Value || docIdField?.ValueOid || null;\n\nif (exitoso) {\n  // Cita creada exitosamente\n  return {\n    json: {\n      exitoso: true,\n      mensaje: \"Cita creada exitosamente\",            \n      idCita: docId,\n      fechaCita: $('trigger-create').first().json.fecha_cita,\n      horaCita: $('trigger-create').first().json.hora_cita,\n      tallerCita: $('trigger-create').first().json.taller_cita\n    }\n  };\n} else {\n  // Hubo un error en la creación\n  return {\n    json: {\n      exitoso: false,\n      mensaje: \"Error al crear la cita\",\n      codigoError: response.ResponseResult,\n      tipoError: response.ExceptionType || \"Desconocido\",\n      detalleError: response.ExceptionMessage || \"Sin detalles\",\n      informacionAdicional: response.ExceptionInfo || null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,304],"id":"da8312a9-ebcb-45c7-ae39-b9658463350a","name":"prepare-data-response","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Procesar salida con error de validación\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    exitoso: false,\n    tipoError: errorData.error || \"ERROR_DESCONOCIDO\",\n    mensaje: \"No se pudo crear la cita debido a errores de validación\",\n    errores: errorData.errores || [],\n    cantidadErrores: (errorData.errores || []).length,\n    datosRecibidos: {\n      fechaCita: errorData.datos_recibidos?.fecha_cita || null,\n      horaCita: errorData.datos_recibidos?.hora_cita || null,\n      nombreCliente: errorData.datos_recibidos?.nombre_cliente || null,\n      apellidoCliente: errorData.datos_recibidos?.apellido_cliente || null,\n      modeloVehiculo: errorData.datos_recibidos?.modelo_vehiculo || null,\n      patenteVehiculo: errorData.datos_recibidos?.patente_vehiculo || null,\n      tallerSolicitado: errorData.datos_recibidos?.taller_solicitado || null,\n      servicioSolicitado: errorData.datos_recibidos?.servicio_solicitado || null\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,640],"id":"7c723c07-5964-4975-a95a-dc1f6e4e3b65","name":"salida-con-error"},{"parameters":{"jsCode":"let data = $('pre-carga-cita').first().json.InternalObject;\n\n// NOMBRE\nlet nombre_var = data.CustomFields.find(item => item.Name === 'USUARIO_NOMBRE');\nnombre_var.Value = $('validar-formato').first().json.nombre_cliente;\n\n// APELLIDO\nlet apellido_var = data.CustomFields.find(item => item.Name === 'USUARIO_APELLIDO');\napellido_var.Value = $('validar-formato').first().json.apellido_cliente;\n\n// FECHA (formato original YYYY-MM-DD)\n//let fecha_var = data.CustomFields.find(item => item.Name === 'FECHA');\n//fecha_var.Value = $('validar-formato').first().json.fecha_cita;\n\n// HORA (formato original HH:MM)\n//let hora_var = data.CustomFields.find(item => item.Name === 'HORA');\n//hora_var.Value = $('validar-formato').first().json.hora_cita;\n\n// ⭐ FECHA_HORA - COMBINAR FECHA + HORA en formato ISO 8601\nlet fechayhora_var = data.CustomFields.find(item => item.Name === 'FECHA_HORA');\nconst fecha = $('validar-formato').first().json.fecha_cita;  // \"2025-11-28\"\nconst hora = $('validar-formato').first().json.hora_cita;    // \"08:00\"\n// Combinar en formato ISO: \"2025-11-28T08:00:00\"\nfechayhora_var.Value = `${fecha}T${hora}:00-03:00`;\n//fechayhora_var.Value = `2025-11-27T19:30:00Z`;\n//2025-11-27T19:30:00Z\n// MODELO\n// let modelo_var = data.CustomFields.find(item => item.Name === 'MODELO');\n// modelo_var.Value = $('validar-formato').first().json.modelo_vehiculo;\n\n// PATENTE\nlet patente_var = data.CustomFields.find(item => item.Name === 'PATENTE');\npatente_var.Value = $('validar-formato').first().json.patente_vehiculo;\n\n// SERVICIO\nlet servicio_var = data.CustomFields.find(item => item.Name === 'SERVICIO');\nservicio_var.Value = $('validar-formato').first().json.servicio_solicitado;\n\n// TRABAJO EXTRA\nlet extra = data.CustomFields.find(item => item.Name === 'OBSERVACION_INTERVENCION');\nextra.Value = $('validar-formato').first().json.trabajos_extra;\n\n\n\n// TALLER\nlet taller_var = data.CustomFields.find(item => item.Name === \"TALLER\");\ntaller_var.Value = $('validar-formato').first().json.taller_solicitado;\n\n// VIN\nlet vin_var = data.CustomFields.find(item => item.Name === \"VIN\");\nvin_var.Value =$('get-data-by-patente').first().json.InternalObject[0].VIN;\n//vin_var.Value = '8ANBD33A9PL502322';\n\n// MODELO\nlet modelo_var = data.CustomFields.find(item => item.Name === \"MODELO\");\nmodelo_var.Value = $('get-data-by-patente').first().json.InternalObject[0].MODELO;\n//modelo_var.Value = 'FRONTIER XE 4X2 AT 2.3 D CD';\n\n// TITULAR\nlet titular_var = data.CustomFields.find(item => item.Name === \"TITULAR\");\ntitular_var.Value = $('get-data-by-patente').first().json.InternalObject[0].TITULAR;\n//titular_var.Value = 'REMOLCAR NOA SRL';\n\n// TITULAR ID\nlet titular_id_var = data.CustomFields.find(item => item.Name === \"TITULAR_ID\");\ntitular_id_var.Value = $('get-data-by-patente').first().json.InternalObject[0].TITULAR_ID;\n//titular_id_var.Value = 337070;\n\n\n// KMS\nlet kms_var = data.CustomFields.find(item => item.Name === \"KMS\");\nkms_var.Value = 2600;\n\n// TELEFONO\nlet telefono_var = data.CustomFields.find(item => item.Name === \"TELEFONO\");\ntelefono_var.Value = $('validar-formato').first().json.telefono;\n\n\n// MODELO ID\nlet modelo_id_var = data.CustomFields.find(item => item.Name === \"MODELO_ID\");\nmodelo_id_var.Value = $('get-data-by-patente').first().json.InternalObject[0].MODELO_ID;\n//modelo_id_var.Value = 'FRONTIER XE 4X2 AT 2.3 D CD';\n\nlet programador_var = data.CustomFields.find(item => item.Name === \"PROGRAMADOR\");\nprogramador_var.Value = 'Administrador';\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,320],"id":"12219fc6-3c44-4e71-acf3-4c6a523cc74b","name":"modifica-body"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1163/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,320],"id":"2ba10cd2-af66-4772-b40c-840192c0a071","name":"pre-carga-cita"},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,320],"id":"ae90f49e-3fc3-4faf-a78f-9e1333661122","name":"crear-nueva-cita","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,320],"id":"48b745d4-5ca6-46ad-9605-e6b96663bee3","name":"login_cloudy"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1164/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"formula","value":"=PATENTE='{{ $('trigger-create').item.json.patente_vehiculo }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,320],"id":"35751464-1c9f-4e9d-b517-32f7329eff85","name":"get-data-by-patente"},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,96],"id":"0e589418-0f88-451f-84bf-bde83083363b","name":"get-vehiculo-document","disabled":true},{"parameters":{"jsCode":"let data = $('get-vehiculo-document').first().json.InternalObject;\n\n// NOMBRE\n//let nombre_var = data.CustomFields.find(item => item.Name === 'USUARIO_NOMBRE');\n//nombre_var.Value = $('validar-formato').first().json.nombre_cliente;\n\n// APELLIDO\n//let apellido_var = data.CustomFields.find(item => item.Name === 'USUARIO_APELLIDO');\n//apellido_var.Value = $('validar-formato').first().json.apellido_cliente;\n\n// FECHA (formato original YYYY-MM-DD)\n//let fecha_var = data.CustomFields.find(item => item.Name === 'FECHA');\n//fecha_var.Value = $('validar-formato').first().json.fecha_cita;\n\n// HORA (formato original HH:MM)\n//let hora_var = data.CustomFields.find(item => item.Name === 'HORA');\n//hora_var.Value = $('validar-formato').first().json.hora_cita;\n\n// ⭐ FECHA_HORA - COMBINAR FECHA + HORA en formato ISO 8601\n//let fechayhora_var = data.CustomFields.find(item => item.Name === 'FECHA_HORA');\n//const fecha = $('validar-formato').first().json.fecha_cita;  // \"2025-11-28\"\n//const hora = $('validar-formato').first().json.hora_cita;    // \"08:00\"\n// Combinar en formato ISO: \"2025-11-28T08:00:00\"\n//fechayhora_var.Value = `${fecha}T${hora}:00-03:00`;\n//fechayhora_var.Value = `2025-11-27T19:30:00Z`;\n//2025-11-27T19:30:00Z\n// MODELO\n// let modelo_var = data.CustomFields.find(item => item.Name === 'MODELO');\n// modelo_var.Value = $('validar-formato').first().json.modelo_vehiculo;\n\n// PATENTE\n//let patente_var = data.CustomFields.find(item => item.Name === 'PATENTE');\n//patente_var.Value = $('validar-formato').first().json.patente_vehiculo;\n\n// SERVICIO\n//let servicio_var = data.CustomFields.find(item => item.Name === 'SERVICIO');\n//servicio_var.Value = $('validar-formato').first().json.servicio_solicitado;\n\n// TALLER\n//let taller_var = data.CustomFields.find(item => item.Name === \"TALLER\");\n//taller_var.Value = $('validar-formato').first().json.taller_solicitado;\n\n// MARCA\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\");\n// marca_var.Value = 'Nissan';\n\n//let programador_var = data.CustomFields.find(item => item.Name === \"PROGRAMADOR\");\n//programador_var.Value = 'Administrador';\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,96],"id":"4f6df6ec-bcf0-4087-9ed4-d658bffae56c","name":"modifica-body-vehiculo","disabled":true}],"connections":{"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-create":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-cita","type":"main","index":0}]]},"pre-carga-cita":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"crear-nueva-cita":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-data-by-patente","type":"main","index":0}]]},"get-data-by-patente":{"main":[[{"node":"pre-carga-cita","type":"main","index":0}]]},"get-vehiculo-document":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e9db67e6-1d0e-4f68-bd86-fa8625c137ef","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T18:21:13.208Z","createdAt":"2025-12-03T18:21:13.208Z","role":"workflow:owner","workflowId":"U2RNGbMewkWIPwiY","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}