subflujo-delete-one-cita-ncMvniSKCeMHQgvw.json
{"updatedAt":"2025-12-18T14:10:58.000Z","createdAt":"2025-12-04T17:47:59.088Z","id":"ncMvniSKCeMHQgvw","name":"subflujo-delete-one-cita","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-reagenda-cita\nconst input = $input.first().json;\n\n// Extraer datos\nconst cita_id = input.cita_id;\n\n// VALIDACIONES\nconst errores = [];\n\n\n// 3. VALIDAR CITA_ID (debe ser un número entero positivo o string numérico)\nif (!cita_id) {\n  errores.push(`ID de cita es requerido y no puede estar vacío`);\n} else {\n  const cita_id_num = parseInt(cita_id);\n  if (isNaN(cita_id_num) || cita_id_num <= 0) {\n    errores.push(`ID de cita inválido: \"${cita_id}\". Debe ser un número entero positivo`);\n  }\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        cita_id\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    cita_id: parseInt(cita_id)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,320],"id":"a6ffa4b9-cbf8-4a57-943d-be158919ee52","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,320],"id":"f5b5b37f-aa1d-4eb2-be11-6bf4e234b12e","name":"valido?"},{"parameters":{"jsCode":"// Procesar respuesta de creación de cita\nconst response = $input.first().json;\n\n// Verificar si la creación fue exitosa\nconst exitoso = response.ResponseResult === 0;\n\nif (exitoso) {\n  // Cita creada exitosamente\n  return {\n    json: {\n      exitoso: true,\n      mensaje: \"Cita eliminada exitosamente\"      \n    }\n  };\n} else {\n  // Hubo un error en la creación\n  return {\n    json: {\n      exitoso: false,\n      mensaje: \"Error al eliminar la cita\",\n      codigoError: response.ResponseResult,\n      tipoError: response.ExceptionType || \"Desconocido\",\n      detalleError: response.ExceptionMessage || \"Sin detalles\",\n      informacionAdicional: response.ExceptionInfo || null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,336],"id":"e58cba5c-e8b0-46b9-8e84-60468420c9e4","name":"prepare-data-response","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Procesar salida con error de validación\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    exitoso: false,\n    tipoError: errorData.error || \"ERROR_DESCONOCIDO\",\n    mensaje: \"No se pudo eliminar la cita debido a errores de validación\",\n    errores: errorData.errores || [],\n    cantidadErrores: (errorData.errores || []).length,\n    datosRecibidos: {\n      fechaCita: errorData.datos_recibidos?.fecha_cita || null,\n      horaCita: errorData.datos_recibidos?.hora_cita || null,\n      nombreCliente: errorData.datos_recibidos?.nombre_cliente || null,\n      apellidoCliente: errorData.datos_recibidos?.apellido_cliente || null,\n      modeloVehiculo: errorData.datos_recibidos?.modelo_vehiculo || null,\n      patenteVehiculo: errorData.datos_recibidos?.patente_vehiculo || null,\n      tallerSolicitado: errorData.datos_recibidos?.taller_solicitado || null,\n      servicioSolicitado: errorData.datos_recibidos?.servicio_solicitado || null\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,592],"id":"49caee3d-4328-4472-8eb3-39429deec875","name":"salida-con-error"},{"parameters":{"workflowInputs":{"values":[{"name":"cita_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,336],"id":"d5aef8f7-9ca9-4a80-bddf-46ddabd0f496","name":"trigger-delete-on-cita"},{"parameters":{"method":"DELETE","url":"=https://agnaum.cloudycrm.net/restful/folders/1163/documents/","sendQuery":true,"queryParameters":{"parameters":[{"name":"tobin","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"docIds\": [\"{{ $('validar-formato').item.json.cita_id }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,320],"id":"a5d47c1a-6562-4ab2-859f-b40840f2d8cd","name":"delete-one-cita-by-id"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,320],"id":"ce8e8e82-ff82-49a0-b1bf-ca4bdf2f26ed","name":"login_cloudy"}],"connections":{"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-delete-on-cita":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"delete-one-cita-by-id":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"delete-one-cita-by-id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"18ea67b2-fce8-477d-be05-a8d456ad29e1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-04T17:47:59.091Z","createdAt":"2025-12-04T17:47:59.091Z","role":"workflow:owner","workflowId":"ncMvniSKCeMHQgvw","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}