subflujo_pdf_tecnico-Ug51raYiSmB0INeW.json
{"updatedAt":"2026-07-02T12:43:40.000Z","createdAt":"2025-12-03T13:39:03.080Z","id":"Ug51raYiSmB0INeW","name":"subflujo_pdf_tecnico","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"modelo"},{"name":"link"},{"name":"telefono"},{"name":"nombre"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[352,-144],"id":"d986014e-4c9a-4046-995c-56295816efd9","name":"inicio"},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"document","mediaLink":"={{ $json.link }}","additionalFields":{"mediaFilename":"=Ficha Técnica de {{ $json.modelo }}"}},"id":"5ea965c8-3484-437e-977c-02e04b96e181","name":"send-pdf","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[656,-144],"webhookId":"8f57e6cc-5663-4075-85f4-69da8b38ef12","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"jsCode":"return [\n  {\n    \"modelo\": \"HB20\",\n    \"telefono\": \"5493815505510\",\n    \"link\": \"https://www.hyundai.com.ar/publicfiles/datasheets/hb20fichatecnica-final_1750163466.pdf\",\n    \"nombre\": \"Oscar Greco\"\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,96],"id":"c4ae5745-0208-4fef-b8c8-2d4057797a49","name":"Code in JavaScript","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,96],"id":"63bba246-e651-413c-bbe5-a6264cf358d9","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"DMOGQef3EaV2XwWa","mode":"list","cachedResultUrl":"/workflow/DMOGQef3EaV2XwWa","cachedResultName":"chatwoot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('inicio').item.json.telefono }}","url":"={{ $('inicio').item.json.link }}","nombre":"={{ $('inicio').item.json.nombre }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[912,-144],"id":"cb5ab8a0-2456-45ba-a515-4b09a250ea32","name":"Call 'chatwoot'"}],"connections":{"inicio":{"main":[[{"node":"send-pdf","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"send-pdf":{"main":[[{"node":"Call 'chatwoot'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"108a2df6-1ec6-4fd9-b9e1-162c23a63bbb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T13:39:03.084Z","createdAt":"2025-12-03T13:39:03.084Z","role":"workflow:owner","workflowId":"Ug51raYiSmB0INeW","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2026-06-12T19:57:32.379Z","createdAt":"2026-06-12T19:57:32.379Z","id":"Qv13pR5IETKXFWzL","name":"FER-DEV-S"},{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}