subflujo-disponibilidad-2Wqi8QWWhXCGRHmK.json
{"updatedAt":"2026-05-27T15:34:19.000Z","createdAt":"2025-12-03T18:49:25.795Z","id":"2Wqi8QWWhXCGRHmK","name":"subflujo-disponibilidad","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1163/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,SERVICIO,FECHA,HORA,TALLER"},{"name":"formula","value":"=FECHA='{{ $('trigger-disponibilidad').item.json.fecha_cita }}' AND TALLER='{{ $('trigger-disponibilidad').item.json.taller_cita }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,208],"id":"4d59809e-f558-4ece-b54c-83ed8af586bc","name":"get-disponibilidad-by-date"},{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-disponibilidad\n\nconst input = $input.first().json;\n\n// Extraer datos\nconst fecha_cita = input.fecha_cita;\nconst hora_cita = input.hora_cita;\nconst taller_cita = input.taller_cita;\n\n// VALIDACIONES\nconst errores = [];\n\n// 1. VALIDAR FECHA (YYYY-MM-DD)\nconst regexFecha = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fecha_cita || !regexFecha.test(fecha_cita)) {\n  errores.push(`Fecha inválida: \"${fecha_cita}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// VALIDAR DÍA DE SEMANA Y FERIADOS\nif (fecha_cita && regexFecha.test(fecha_cita)) {\n  const [anio, mes, dia] = fecha_cita.split('-').map(Number);\n  const fechaObj = new Date(anio, mes - 1, dia);\n  const diaSemana = fechaObj.getDay();\n\n  const feriados = [\n    \"2025-01-01\",\"2025-02-12\",\"2025-02-13\",\"2025-03-24\",\n    \"2025-04-02\",\"2025-04-18\",\"2025-05-01\",\"2025-05-25\",\n    \"2025-06-20\",\"2025-07-09\",\"2025-08-17\",\"2025-10-12\",\n    \"2025-11-20\",\"2025-12-08\",\"2025-12-25\",\n    \"2026-01-01\",\"2026-03-24\",\"2026-04-02\",\"2026-05-01\",\n    \"2026-05-25\",\"2026-06-20\",\"2026-07-09\",\"2026-08-17\",\n    \"2026-10-12\",\"2026-11-20\",\"2026-12-08\",\"2026-12-25\"\n  ];\n\n  let motivoNoHabil = null;\n  if (diaSemana === 0) motivoNoHabil = \"domingo\";\n  else if (diaSemana === 6) motivoNoHabil = \"sábado\";\n  else if (feriados.includes(fecha_cita)) motivoNoHabil = \"feriado_nacional\";\n\n  if (motivoNoHabil) {\n    const NOMBRES_DIA = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\n    const _dia_semana = NOMBRES_DIA[diaSemana];\n    const _fecha_legible = `${_dia_semana} ${String(dia).padStart(2,'0')}/${String(mes).padStart(2,'0')}/${anio}`;\n    return [{\n      json: {\n        success: true,\n        disponible: false,\n        es_horario_valido: false,\n        fecha: fecha_cita,\n        dia_semana: _dia_semana,        \n        fecha_legible: _fecha_legible,  \n        taller: taller_cita,\n        turnos_disponibles: [],\n        turnos_ocupados: [],\n        total_turnos_disponibles: 0,\n        motivo: motivoNoHabil,\n        mensaje: `El ${_fecha_legible} no es día hábil (${motivoNoHabil}). El taller no atiende.`\n      }\n    }];\n  }\n  \n}\n\n// VALIDAR ANTICIPACIÓN (no hoy, no pasado) — hora de Argentina, sin importar TZ del VPS\nif (fecha_cita && regexFecha.test(fecha_cita)) {\n  // \"hoy\" en Argentina como \"YYYY-MM-DD\" (en-CA da formato ISO)\n  const hoyAR = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Argentina/Salta' });\n  if (fecha_cita <= hoyAR) {                       // comparación lexicográfica de ISO = segura\n    const [a, m, d] = fecha_cita.split('-').map(Number);\n    const NOMBRES_DIA = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\n    const _ds = NOMBRES_DIA[new Date(a, m - 1, d).getDay()];\n    const _fl = `${_ds} ${String(d).padStart(2,'0')}/${String(m).padStart(2,'0')}/${a}`;\n    return [{ json: {\n      success: true,\n      disponible: false,\n      es_horario_valido: false,\n      fecha: fecha_cita, dia_semana: _ds, fecha_legible: _fl, taller: taller_cita,\n      turnos_disponibles: [], turnos_ocupados: [], total_turnos_disponibles: 0,\n      motivo: \"anticipacion_insuficiente\",\n      mensaje: `El ${_fl} no se puede agendar: las citas se piden desde mañana en adelante (mínimo 24 hs).`\n    }}];\n  }\n}\n\n// 2. VALIDAR HORA (HH:MM)\nconst regexHora = /^\\d{2}:\\d{2}$/;\nif (!hora_cita || !regexHora.test(hora_cita)) {\n  errores.push(`Hora inválida: \"${hora_cita}\". Formato requerido: HH:MM (ej: 10:15)`);\n}\n\n// Validar que sea uno de los 10 turnos válidos\nconst turnosValidos = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\"\n];\nif (hora_cita && !turnosValidos.includes(hora_cita)) {\n  errores.push(`Hora no permitida: \"${hora_cita}\". Solo se aceptan turnos: ${turnosValidos.join(', ')}`);\n}\n\n// 3. VALIDAR TALLER (valores exactos)\nconst talleresValidos = [\n  \"Nissan - Tucuman\",\n  \"Nissan - Santiago del Estero\"\n];\nif (!taller_cita || !talleresValidos.includes(taller_cita)) {\n  errores.push(`Taller inválido: \"${taller_cita}\". Valores permitidos: \"${talleresValidos[0]}\" o \"${talleresValidos[1]}\"`);\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        fecha_cita,\n        hora_cita,\n        taller_cita\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    fecha_cita,\n    hora_cita,\n    taller_cita\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,224],"id":"608cdbff-1bcf-4a6a-8361-7776d00d4bd2","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,224],"id":"ee9d892d-9450-4f60-9632-9af8a752f5cb","name":"valido?"},{"parameters":{"jsCode":"// PROCESAR DISPONIBILIDAD Y GENERAR RESPUESTA\n\n// Datos de entrada\nconst trigger = $('trigger-disponibilidad').first().json;\nconst httpResponse = $input.first().json;\n\nconst fechaSolicitada = trigger.fecha_cita;\nconst horaSolicitada = trigger.hora_cita;\nconst tallerSolicitado = trigger.taller_cita;\n\n// --- Día de la semana calculado en CÓDIGO (jamás lo deduce el LLM) ---\nconst NOMBRES_DIA = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\nconst [_anio, _mes, _dia] = fechaSolicitada.split('-').map(Number);\nconst _fechaObj = new Date(_anio, _mes - 1, _dia);      // local: getDay() sin offset\nconst dia_semana = NOMBRES_DIA[_fechaObj.getDay()];\nconst _dd = String(_dia).padStart(2, '0');\nconst _mm = String(_mes).padStart(2, '0');\nconst fecha_legible = `${dia_semana} ${_dd}/${_mm}/${_anio}`;\n\n// --- GUARD: día no hábil / feriado / sin anticipación (MANDA sobre el CRM) ---\nconst FERIADOS = [\n  \"2025-01-01\",\"2025-02-12\",\"2025-02-13\",\"2025-03-24\",\n  \"2025-04-02\",\"2025-04-18\",\"2025-05-01\",\"2025-05-25\",\n  \"2025-06-20\",\"2025-07-09\",\"2025-08-17\",\"2025-10-12\",\n  \"2025-11-20\",\"2025-12-08\",\"2025-12-25\",\n  \"2026-01-01\",\"2026-03-24\",\"2026-04-02\",\"2026-05-01\",\n  \"2026-05-25\",\"2026-06-20\",\"2026-07-09\",\"2026-08-17\",\n  \"2026-10-12\",\"2026-11-20\",\"2026-12-08\",\"2026-12-25\"\n];\nconst _diaNum = _fechaObj.getDay();\nconst _hoyAR = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Argentina/Salta' });\n\nlet _motivoNoHabil = null;\nif (_diaNum === 0) _motivoNoHabil = \"domingo\";\nelse if (_diaNum === 6) _motivoNoHabil = \"sábado\";\nelse if (FERIADOS.includes(fechaSolicitada)) _motivoNoHabil = \"feriado_nacional\";\nelse if (fechaSolicitada <= _hoyAR) _motivoNoHabil = \"anticipacion_insuficiente\";\n\nif (_motivoNoHabil) {\n  const _msg = _motivoNoHabil === \"anticipacion_insuficiente\"\n    ? `El ${fecha_legible} no se puede agendar: las citas se piden desde mañana en adelante (mínimo 24 hs).`\n    : `El ${fecha_legible} no es día hábil (${_motivoNoHabil}). El taller no atiende.`;\n  return [{ json: {\n    success: true,\n    disponible: false,\n    es_horario_valido: false,\n    fecha: fechaSolicitada,\n    dia_semana: dia_semana,\n    fecha_legible: fecha_legible,\n    taller: tallerSolicitado,\n    turnos_disponibles: [],\n    turnos_ocupados: [],\n    total_turnos_disponibles: 0,\n    motivo: _motivoNoHabil,\n    mensaje: _msg\n  }}];\n}\n\n// Todos los turnos posibles del día (cada 15 min de 08:00 a 10:15)\nconst TODOS_LOS_TURNOS = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\"\n];\n\n// Extraer citas del día desde la respuesta del CRM\nconst citasDelDia = httpResponse.InternalObject || [];\n\n// Obtener solo las horas ocupadas (pueden haber duplicados)\nconst horasOcupadas = citasDelDia.map(cita => cita.HORA);\nconst horasOcupadasUnicas = [...new Set(horasOcupadas)]; // eliminar duplicados\n\n// Calcular turnos disponibles\nconst turnosDisponibles = TODOS_LOS_TURNOS.filter(\n  turno => !horasOcupadasUnicas.includes(turno)\n);\n\n// Verificar si el horario solicitado está disponible\nconst estaDisponible = !horasOcupadasUnicas.includes(horaSolicitada);\n\n// Validar si la hora solicitada es válida\nconst esHoraValida = TODOS_LOS_TURNOS.includes(horaSolicitada);\n\n// Generar mensaje descriptivo\nlet mensaje;\nif (!esHoraValida) {\n  mensaje = `La hora ${horaSolicitada} no es un turno válido. Turnos permitidos cada 15 min de 08:00 a 10:15.`;\n} else if (estaDisponible) {\n  mensaje = `✅ El horario ${horaSolicitada} está DISPONIBLE para el ${fechaSolicitada} en ${tallerSolicitado}.`;\n} else {\n  const alternativas = turnosDisponibles.slice(0, 3).join(\", \"); // primeras 3 opciones\n  mensaje = `❌ El horario ${horaSolicitada} está OCUPADO. Horarios disponibles: ${alternativas}${turnosDisponibles.length > 3 ? '...' : ''}`;\n}\n\n// Preparar respuesta estructurada\nconst respuesta = {\n  success: true,\n  horario_solicitado: horaSolicitada,\n  disponible: estaDisponible && esHoraValida,\n  es_horario_valido: esHoraValida,\n  fecha: fechaSolicitada,\n  dia_semana: dia_semana,       \n  fecha_legible: fecha_legible, \n  taller: tallerSolicitado,\n  turnos_ocupados: horasOcupadasUnicas.sort(), // ordenados\n  turnos_disponibles: turnosDisponibles,\n  total_citas_dia: citasDelDia.length,\n  total_turnos_ocupados: horasOcupadasUnicas.length,\n  total_turnos_disponibles: turnosDisponibles.length,\n  mensaje: mensaje,\n  // Info adicional útil para el agente\n  proximos_disponibles: turnosDisponibles.slice(0, 5), // top 5\n  todas_las_citas: citasDelDia.map(c => ({\n    hora: c.HORA,\n    servicio: c.SERVICIO,\n    doc_id: c.DOC_ID\n  }))\n};\n\nreturn [{ json: respuesta }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,240],"id":"1e74413f-554d-41d5-82de-ff635c7c6ed9","name":"prepare-data-response"},{"parameters":{"jsCode":"// En el nodo \"salida_con_error\" (Code node)\nconst errores = $input.first().json.errores || [\"Error de validación\"];\n\nreturn [{\n  json: {\n    success: false,\n    error: \"VALIDACION_FALLIDA\",\n    errores: errores,\n    disponible: false,\n    mensaje: errores.join(\", \")\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,496],"id":"e4734d8d-3d41-4ca8-ae61-4c7a6fcc9e23","name":"salida-con-error"},{"parameters":{"workflowInputs":{"values":[{"name":"fecha_cita"},{"name":"hora_cita"},{"name":"taller_cita"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,224],"id":"f7bb8915-f264-4a3c-bce4-fb65a204a4c4","name":"trigger-disponibilidad"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,208],"id":"880f7b9d-5dba-4274-92d1-a7e200ba1dc2","name":"login_cloudy"},{"parameters":{"jsCode":"// PROCESAR DISPONIBILIDAD Y GENERAR RESPUESTA\n\n// Datos de entrada\nconst trigger = $('trigger-disponibilidad').first().json;\nconst httpResponse = $input.first().json;\n\nconst fechaSolicitada = trigger.fecha_cita;\nconst horaSolicitada = trigger.hora_cita;\nconst tallerSolicitado = trigger.taller_cita;\n\n// --- Día de la semana calculado en CÓDIGO (jamás lo deduce el LLM) ---\nconst NOMBRES_DIA = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\nconst [_anio, _mes, _dia] = fechaSolicitada.split('-').map(Number);\nconst _fechaObj = new Date(_anio, _mes - 1, _dia);      // local: getDay() sin offset\nconst dia_semana = NOMBRES_DIA[_fechaObj.getDay()];\nconst _dd = String(_dia).padStart(2, '0');\nconst _mm = String(_mes).padStart(2, '0');\nconst fecha_legible = `${dia_semana} ${_dd}/${_mm}/${_anio}`;\n\n// Todos los turnos posibles del día (cada 15 min de 08:00 a 10:15)\nconst TODOS_LOS_TURNOS = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\"\n];\n\n// Extraer citas del día desde la respuesta del CRM\nconst citasDelDia = httpResponse.InternalObject || [];\n\n// Obtener solo las horas ocupadas (pueden haber duplicados)\nconst horasOcupadas = citasDelDia.map(cita => cita.HORA);\nconst horasOcupadasUnicas = [...new Set(horasOcupadas)]; // eliminar duplicados\n\n// Calcular turnos disponibles\nconst turnosDisponibles = TODOS_LOS_TURNOS.filter(\n  turno => !horasOcupadasUnicas.includes(turno)\n);\n\n// Verificar si el horario solicitado está disponible\nconst estaDisponible = !horasOcupadasUnicas.includes(horaSolicitada);\n\n// Validar si la hora solicitada es válida\nconst esHoraValida = TODOS_LOS_TURNOS.includes(horaSolicitada);\n\n// Generar mensaje descriptivo\nlet mensaje;\nif (!esHoraValida) {\n  mensaje = `La hora ${horaSolicitada} no es un turno válido. Turnos permitidos cada 15 min de 08:00 a 10:15.`;\n} else if (estaDisponible) {\n  mensaje = `✅ El horario ${horaSolicitada} está DISPONIBLE para el ${fechaSolicitada} en ${tallerSolicitado}.`;\n} else {\n  const alternativas = turnosDisponibles.slice(0, 3).join(\", \"); // primeras 3 opciones\n  mensaje = `❌ El horario ${horaSolicitada} está OCUPADO. Horarios disponibles: ${alternativas}${turnosDisponibles.length > 3 ? '...' : ''}`;\n}\n\n// Preparar respuesta estructurada\nconst respuesta = {\n  success: true,\n  horario_solicitado: horaSolicitada,\n  disponible: estaDisponible && esHoraValida,\n  es_horario_valido: esHoraValida,\n  fecha: fechaSolicitada,\n  dia_semana: dia_semana,       \n  fecha_legible: fecha_legible, \n  taller: tallerSolicitado,\n  turnos_ocupados: horasOcupadasUnicas.sort(), // ordenados\n  turnos_disponibles: turnosDisponibles,\n  total_citas_dia: citasDelDia.length,\n  total_turnos_ocupados: horasOcupadasUnicas.length,\n  total_turnos_disponibles: turnosDisponibles.length,\n  mensaje: mensaje,\n  // Info adicional útil para el agente\n  proximos_disponibles: turnosDisponibles.slice(0, 5), // top 5\n  todas_las_citas: citasDelDia.map(c => ({\n    hora: c.HORA,\n    servicio: c.SERVICIO,\n    doc_id: c.DOC_ID\n  }))\n};\n\nreturn [{ json: respuesta }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,464],"id":"1aa238ae-654c-47eb-bbbb-5d94fb8eecc2","name":"prepare-data-response1","disabled":true}],"connections":{"get-disponibilidad-by-date":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-disponibilidad":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-disponibilidad-by-date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"689e0b01-86d4-4162-8a1c-d898d83aa65e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T18:49:25.798Z","createdAt":"2025-12-03T18:49:25.798Z","role":"workflow:owner","workflowId":"2Wqi8QWWhXCGRHmK","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}