subflujo-tramita-cupon-TAYaMQydA7VE7JCU.json
{"updatedAt":"2026-06-12T20:04:58.000Z","createdAt":"2026-03-18T15:43:53.400Z","id":"TAYaMQydA7VE7JCU","name":"subflujo-tramita-cupon","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"grupo"},{"name":"orden"},{"name":"cuotas"},{"name":"nombre"},{"name":"descripcion"},{"name":"telefono"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-816,32],"id":"bd880cda-0013-483b-a53d-20bc6a5a8253","name":"trigger-cupon"},{"parameters":{"jsCode":"// VALIDACIÓN DE PARÁMETROS - subflujo-tramita-cupon\nconst input = $input.first().json;\n\nconst grupo = input.grupo ? String(input.grupo).trim() : null;\nconst orden = input.orden ? String(input.orden).trim() : null;\nconst cuotas = input.cuotas ? String(input.cuotas).trim() : null;\nconst nombre = input.nombre ? String(input.nombre).trim() : null;\nconst descripcion = input.descripcion ? String(input.descripcion).trim() : 'sin descripcion de tipo de cuota';\nconst telefono = input.telefono \n  \nconst errores = [];\n\nif (!grupo) errores.push('El parámetro grupo es obligatorio');\nif (!orden) errores.push('El parámetro orden es obligatorio');\nif (!nombre) errores.push('El parámetro nombre es obligatorio');\nif (!cuotas) {\n  errores.push('El parámetro cuotas es obligatorio');\n} else if (isNaN(Number(cuotas)) || Number(cuotas) <= 0) {\n  errores.push('El parámetro cuotas debe ser un número positivo');\n}\n\nif (errores.length > 0) {\n  return [{ json: { success: false, errores, datos_recibidos: input } }];\n}\n\nreturn [{ json: { success: true, grupo, orden, cuotas, nombre, descripcion, telefono } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,32],"id":"1d47a83a-d2fc-4c74-9d45-f30ac39ba55d","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,32],"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"datos-validos"},{"parameters":{"sendTo":"cupones@leonalperovich.com.ar","subject":"=🎫 Solicitud de Cupón - {{ $json.nombre }} | Grupo {{ $json.grupo }} - Orden {{ $json.orden }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background: #f6f6f6;\n      color: #333;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: #fff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,.1);\n    }\n    .header {\n      background: #2a9d8f;\n      color: #fff;\n      text-align: center;\n      padding: 25px;\n      font-size: 20px;\n      font-weight: 700;\n    }\n    .content {\n      padding: 30px;\n    }\n    .dato {\n      margin: 10px 0;\n      padding: 12px;\n      background: #f0f9f8;\n      border-left: 4px solid #2a9d8f;\n      border-radius: 4px;\n    }\n    .dato strong {\n      display: inline-block;\n      width: 140px;\n      color: #555;\n    }\n    .footer {\n      background: #f8f9fa;\n      padding: 15px;\n      text-align: center;\n      font-size: 12px;\n      color: #888;\n      border-top: 1px solid #dee2e6;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">🎫 Nueva Solicitud de Cupón de Pago</div>\n    <div class=\"content\">\n      <p>Se recibió una solicitud de cupón desde el asistente digital de Plan Óvalo.</p>\n      <div class=\"dato\"><strong>Titular:</strong> {{ $json.nombre }}</div>\n      <div class=\"dato\"><strong>Grupo:</strong> {{ $json.grupo }}</div>\n      <div class=\"dato\"><strong>Orden:</strong> {{ $json.orden }}</div>\n      <div class=\"dato\"><strong>Cuotas solicitadas:</strong> {{ $json.cuotas }}</div>\n      <div class=\"dato\"><strong>Descripción:</strong> {{ $json.descripcion }}</div>\n      <p style=\"margin-top:25px\">\n        Por favor generar y enviar el cupón correspondiente a la brevedad.<br>\n        Plazo estimado de entrega: <strong>24-48 hs hábiles</strong>.\n      </p>\n    </div>\n    <div class=\"footer\">AGN Corp - Plan Óvalo | Sistema automatizado de cobranzas</div>\n  </div>\n</body>\n</html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[80,-80],"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"notificar-admin","webhookId":"323d2b0d-b3e0-4d9e-a2a0-0a857c14cf84","credentials":{"gmailOAuth2":{"id":"ck7iTwhrbs48IvWB","name":"Gmail Ovalo"}}},{"parameters":{"jsCode":"const input = $('validar-formato').first().json;\nreturn [{\n  json: {\n    success: true,\n    mensaje: `Solicitud de cupón registrada para ${input.nombre} (Grupo ${input.grupo} - Orden ${input.orden}). Recibirás el cupón en 24-48 hs hábiles.`,\n    grupo: input.grupo,\n    orden: input.orden,\n    cuotas: input.cuotas,\n    nombre: input.nombre\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-96],"id":"a1b2c3d4-0003-0003-0003-000000000003","name":"respuesta-ok"},{"parameters":{"jsCode":"const input = $('validar-formato').first().json;\nreturn [{\n  json: {\n    success: false,\n    mensaje: 'No se pudo procesar la solicitud de cupón por datos incompletos.',\n    errores: input.errores || []\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,240],"id":"a1b2c3d4-0004-0004-0004-000000000004","name":"respuesta-error"},{"parameters":{"phoneNumberId":"778640135336559","recipientPhoneNumber":"=543815442177","template":"ovalo_solicitud_cupon_operador|es_AR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.nombre }}"},{"text":"={{ $json.telefono }}"},{"text":"={{ $json.grupo }}"},{"text":"={{ $json.orden }}"},{"text":"={{ $json.descripcion }}"},{"text":"={{ $json.cuotas }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[48,-256],"id":"cbbf87b2-c33d-4b4d-833b-134dc8405ea2","name":"send_mensaje_16","webhookId":"2bf0b588-289e-4eb3-bd98-3689f171e9f4","credentials":{"whatsAppApi":{"id":"aUVyUgMDdyey11mO","name":"WhatsApp out Ovalo"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH prev AS (\n  SELECT id, etapa_actual AS etapa_anterior\n  FROM \"ovalo-cobranzas\".ahorrista_perfil\n  WHERE grupo = '{{ $('validar-formato').item.json.grupo }}' AND orden = '{{ $('validar-formato').item.json.orden }}'\n  LIMIT 1\n),\nupd AS (\n  UPDATE \"ovalo-cobranzas\".ahorrista_perfil ap\n  SET cupon_solicitado = true,\n      cupon_emitido = true,\n      etapa_actual = 'cupon_emitido',\n      total_interacciones = COALESCE(ap.total_interacciones, 0) + 1,\n      fecha_ultimo_contacto = NOW()\n  WHERE ap.grupo = '{{ $('validar-formato').item.json.grupo }}' AND ap.orden = '{{ $('validar-formato').item.json.orden }}'\n  RETURNING ap.id\n),\nins AS (\n  INSERT INTO \"ovalo-cobranzas\".ahorrista_perfil\n    (grupo, orden, telefono, nombre, etapa_actual, cupon_solicitado, cupon_emitido,\n     total_interacciones, fecha_primer_contacto, fecha_ultimo_contacto)\n  SELECT\n    '{{ $('validar-formato').item.json.grupo }}', '{{ $('validar-formato').item.json.orden }}',\n    NULLIF($$ {{ $('validar-formato').item.json.telefono || '' }} $$, ' '),\n    NULLIF($$ {{ $('validar-formato').item.json.nombre || '' }} $$, ' '),\n    'cupon_emitido', true, true, 1, NOW(), NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM upd)\n  RETURNING id\n)\nSELECT COALESCE((SELECT id FROM upd), (SELECT id FROM ins)) AS id,\n       (SELECT etapa_anterior FROM prev) AS etapa_anterior;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,-96],"id":"f3a10000-0000-4f30-9c00-upsertcupon30","name":"upsert_perfil_cupon","alwaysOutputData":true,"credentials":{"postgres":{"id":"xLMcpsv4QDveR6uY","name":"postgres-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"ovalo-cobranzas\".cobranza_etapas_historial\n  (ahorrista_id, grupo, orden, etapa_anterior, etapa_nueva, disparador, canal,\n   resumen_relevante, tipo_resultado, detalles, sentimiento, created_at)\nSELECT\n  {{ $('upsert_perfil_cupon').item.json.id }},\n  '{{ $('validar-formato').item.json.grupo }}', '{{ $('validar-formato').item.json.orden }}',\n  NULLIF($$ {{ $('upsert_perfil_cupon').item.json.etapa_anterior || '' }} $$, ' '),\n  'cupon_emitido',\n  'subflujo_cupon',\n  'sistema',\n  $$ Cupon de pago gestionado: {{ $('validar-formato').item.json.cuotas }} cuota(s). {{ $('validar-formato').item.json.descripcion }} $$,\n  'cupon_emitido',\n  $$ {{ JSON.stringify({ cuotas: $('validar-formato').item.json.cuotas, descripcion: $('validar-formato').item.json.descripcion }) }} $$::jsonb,\n  NULL,\n  NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-96],"id":"f3b20000-0000-4f30-9c00-insertcupon30","name":"insert_hito_cupon","alwaysOutputData":true,"credentials":{"postgres":{"id":"xLMcpsv4QDveR6uY","name":"postgres-agn-pro-credential"}},"onError":"continueRegularOutput"}],"connections":{"trigger-cupon":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"validar-formato":{"main":[[{"node":"datos-validos","type":"main","index":0}]]},"datos-validos":{"main":[[{"node":"send_mensaje_16","type":"main","index":0},{"node":"notificar-admin","type":"main","index":0}],[{"node":"respuesta-error","type":"main","index":0}]]},"notificar-admin":{"main":[[{"node":"upsert_perfil_cupon","type":"main","index":0}]]},"upsert_perfil_cupon":{"main":[[{"node":"insert_hito_cupon","type":"main","index":0}]]},"insert_hito_cupon":{"main":[[{"node":"respuesta-ok","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"89a29f9c-1ff9-4a66-9db6-3a32f71b6813","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T15:43:53.404Z","createdAt":"2026-03-18T15:43:53.404Z","role":"workflow:owner","workflowId":"TAYaMQydA7VE7JCU","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2026-06-12T19:57:32.379Z","createdAt":"2026-06-12T19:57:32.379Z","id":"Qv13pR5IETKXFWzL","name":"FER-DEV-S"}]}