subflujo_imagen-LKG88AOt6q60Azgg.json
{"updatedAt":"2026-02-27T15:59:13.000Z","createdAt":"2026-02-25T15:29:02.454Z","id":"LKG88AOt6q60Azgg","name":"subflujo_imagen","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"link"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-752,960],"id":"4ab36810-c263-4481-841f-2d0cb1355885","name":"trigger-sub-imagen"},{"parameters":{"operation":"send","phoneNumberId":"897734760099731","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"={{ $json.link }}","additionalFields":{}},"id":"8f34567e-ae11-4740-b8a4-c8022198de68","name":"send-image","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-384,960],"webhookId":"34344c73-544e-4253-9b11-83b35d024175","credentials":{"whatsAppApi":{"id":"hbn6SjsLoMaggPPy","name":"nissan-vendedor-out"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"Imagen enviada correctamente por WhatsApp","type":"string"}]},"options":{}},"id":"1f723b01-958e-456e-b660-7f8be040a8bc","name":"success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,784]},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"error al enviar imagen","type":"string"}]},"options":{}},"id":"099de567-c44c-49ef-8b58-fc8fefc9bebe","name":"error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,1104]}],"connections":{"trigger-sub-imagen":{"main":[[{"node":"send-image","type":"main","index":0}]]},"send-image":{"main":[[{"node":"success","type":"main","index":0}],[{"node":"error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b4ceb1dd-4c36-4edd-aade-86c5150c4bd1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-25T15:29:02.462Z","createdAt":"2026-02-25T15:29:02.462Z","role":"workflow:owner","workflowId":"LKG88AOt6q60Azgg","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}