subflujo_video_seguro_wpp-0upoXBuHaMLITMra.json
{"updatedAt":"2025-12-03T12:16:36.000Z","createdAt":"2025-12-03T12:15:14.315Z","id":"0upoXBuHaMLITMra","name":"subflujo_video_seguro_wpp","active":false,"isArchived":false,"nodes":[{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y video interior"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"},{"category":"creta-seguridad"}]},"options":{"fallback":"discard"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-800,-48],"id":"89374186-6223-45d5-83ce-e75becf173b4","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,208],"id":"8adf57b5-d2e2-4d88-a4ca-63571b0b9066","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}}},{"parameters":{"workflowInputs":{"values":[{"name":"modelo"},{"name":"telefono"},{"name":"tipo_vista"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,16],"id":"7c9a3537-fb2c-401b-940f-7d81d9e5378e","name":"inicio"},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen\n  }\n}];"},"id":"4e216cf6-008b-45aa-a85c-62cbcf4576a7","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,16]},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-video.mp4","additionalFields":{}},"id":"0328ba60-bc40-4d19-8d60-9cab7e2d46ed","name":"WhatsApp - cretai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-144,-128],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Creta-SEW-1.mp4","additionalFields":{}},"id":"a1a24a54-0034-4e6e-8aac-ea8669cd822b","name":"WhatsApp - cretas","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-112,160],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/RCCA.mp4","additionalFields":{}},"id":"1e6ae57a-1b98-4472-b90b-40524eb76530","name":"WhatsApp - hb20s","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[32,16],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"WhatsApp - cretai","type":"main","index":0}],[{"node":"WhatsApp - hb20s","type":"main","index":0}],[{"node":"WhatsApp - cretas","type":"main","index":0}]]},"inicio":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14d74a4a-2d3c-4dda-8182-02c16092df3c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T12:15:14.318Z","createdAt":"2025-12-03T12:15:14.318Z","role":"workflow:owner","workflowId":"0upoXBuHaMLITMra","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}