subflujo_imagen_varios-2d60n9hx2jPtZYY6.json
{"updatedAt":"2026-04-13T12:35:22.000Z","createdAt":"2026-03-24T18:47:21.476Z","id":"2d60n9hx2jPtZYY6","name":"subflujo_imagen_varios","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"link"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-688,176],"id":"6fad6170-cdb7-4bb6-8b52-54e3250cc5d1","name":"trigger-sub-imagen"},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"={{ $json.link }}","additionalFields":{}},"id":"d4ce5a5d-68aa-4ceb-94a7-bd728290d135","name":"send-image","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-320,176],"webhookId":"34344c73-544e-4253-9b11-83b35d024175","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"Imagen enviada correctamente por WhatsApp","type":"string"}]},"options":{}},"id":"1485aaf1-671c-40a7-89e9-785205d8f2e5","name":"success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"error al enviar imagen","type":"string"}]},"options":{}},"id":"3a71cf99-2a15-4075-9432-5d8dee961971","name":"error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,320]}],"connections":{"trigger-sub-imagen":{"main":[[{"node":"send-image","type":"main","index":0}]]},"send-image":{"main":[[{"node":"success","type":"main","index":0}],[{"node":"error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b2032738-b8b3-41b3-9072-8666c343b99e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T18:47:21.480Z","createdAt":"2026-03-24T18:47:21.480Z","role":"workflow:owner","workflowId":"2d60n9hx2jPtZYY6","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}