subflujo_imagen_seguro_wpp-suVwDN0HTQb7T8P0.json
{"updatedAt":"2026-07-02T12:46:50.000Z","createdAt":"2025-12-03T12:12:18.983Z","id":"suVwDN0HTQb7T8P0","name":"subflujo_imagen_seguro_wpp","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"modelo"},{"name":"telefono"},{"name":"tipo_vista"},{"name":"nombre"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-5088,4656],"id":"21913315-8e8d-4a1e-a42d-89be4b47b6f4","name":"inicio"},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen\n  }\n}];"},"id":"e5e4f918-48d0-4499-b74f-8f19d409fa5f","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,864],"disabled":true},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y vista interior"},{"category":"creta-general","description":"combinacion de modelo creta y  vista general"},{"category":"creta-exterior","description":"combinacion de modelo creta y vista exterior"},{"category":"creta-diseno","description":"combinacion de modelo creta y vista diseno"},{"category":"staria-general","description":"combinacion de modelo staria y vista general"},{"category":"staria-interior","description":"combinacion de modelo staria y vista interior"},{"category":"staria-exterior","description":"combinacion de modelo staria y vista exterior"},{"category":"staria-diseno","description":"combinacion de modelo staria y vista diseno"},{"category":"tucson-general","description":"combinacion de modelo tucson y vista general"},{"category":"tucson-interior","description":"combinacion de modelo tucson y vista interior"},{"category":"tucson-exterior","description":"combinacion de modelo tucson y vista exterior"},{"category":"tucson-diseno","description":"combinacion de modelo tucson y vista diseno"},{"category":"veloster-general","description":"combinacion de modelo veloster y vista general o vista exterior o vista interior o diseño"},{"category":"hb20-general","description":"combinacion de modelo hb20 y vista general"},{"category":"hb20-interior","description":"combinacion de modelo hb20 y vista interior"},{"category":"hb20-exterior","description":"combinacion de modelo hb20 y vista exterior"},{"category":"hb20-diseno","description":"combinacion de modelo hb20 y vista diseno"},{"category":"creta-seguridad","description":"combinacion de modelo creta y vista seguridad"},{"category":"staria-seguridad","description":"combinacion de modelo staria y vista seguridad"},{"category":"tucson-seguridad","description":"combinacion de modelo tucson y vista seguridad"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-2672,544],"id":"894a78b5-21b4-49b7-b0b3-3ff54f456af0","name":"Text Classifier","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2528,1664],"id":"32b1e9b4-ace5-4558-b5ee-99151b79958e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-comodidad-1.jpg","additionalFields":{}},"id":"9c5750b0-8ebf-4981-b8c0-b2f89502000b","name":"WhatsApp - cretai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2256,-128],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-explora-caracteristicas.jpg","additionalFields":{}},"id":"8abdfc38-8bd0-4760-9abe-686c1864ceba","name":"WhatsApp - cretag","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1984,-176],"webhookId":"a08efe0f-bb10-4392-b3ca-3bf1a9ec1124","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"e7e3981a-3c5c-41e1-b1ce-ba9240af3348","name":"WhatsApp - cretae","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1712,-96],"webhookId":"96be3bcf-262b-4c76-a2f7-65d1d25750c4","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"=https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"6458a1b8-496a-472d-8a94-ea7588f7ae3c","name":"WhatsApp - cretad","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1424,-128],"webhookId":"34344c73-544e-4253-9b11-83b35d024175","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://www.hyundai.com.ar/images/models/staria/destacados_cabecera_cta.jpg","additionalFields":{}},"id":"5d1e165e-c0e6-478c-860b-6547bae6bc5d","name":"WhatsApp - stariag","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2272,112],"webhookId":"29790a92-b348-4afd-ab76-50b8e1b6788c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-descubre-disenio-1.jpg","additionalFields":{}},"id":"839cb64d-4e46-46ff-aa99-53ef68443b19","name":"WhatsApp - stariai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1984,80],"webhookId":"402bd4cd-0af1-46de-9987-bb6f808b883e","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_garantia-1024x563.jpg","additionalFields":{}},"id":"d3a1146f-9491-4a9a-9b1f-9d1802127051","name":"WhatsApp - stariae","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1680,48],"webhookId":"136ac9dc-00a2-47ab-aa23-60144ba71d48","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_img_1.jpg","additionalFields":{}},"id":"68548ff5-d933-4704-b443-b38a8d1f35ef","name":"WhatsApp - stariad","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1488,144],"webhookId":"374df16d-f672-4ae2-82a7-e533034f4456","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-disenio.jpg","additionalFields":{}},"id":"b65f4b90-410f-486d-8c69-7b70b0cb1a6e","name":"WhatsApp - tucsong","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2256,368],"webhookId":"bfce351d-eb9e-45a4-8cb4-41e03c7ed6d8","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-caracteristicas.jpg","additionalFields":{}},"id":"b73f98c4-7d08-4f81-a0cb-0d9e40cb7655","name":"WhatsApp - tucsoni","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1904,416],"webhookId":"b1d856ab-1d43-400d-8e30-d3392e959ba1","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-disenio-frontal.jpg","additionalFields":{}},"id":"a2ae7a30-eb21-4947-9e63-85012495970d","name":"WhatsApp - tucsone","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1696,320],"webhookId":"1dd93cfb-b373-4312-ba03-54003dbf6e57","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"ef369cf4-3007-40ac-b94e-239360b65b6d","name":"WhatsApp - tucsond","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1376,288],"webhookId":"e19e657f-a19b-4612-a69e-bb90316bab20","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/velostern-exterior-1024x385.jpg","additionalFields":{}},"id":"a025e48c-35f6-454a-acca-c26475b2ad2f","name":"WhatsApp - velosterg","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2080,640],"webhookId":"9cea1684-5307-4446-a4db-b7d341290890","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://www.hyundai.com.ar/images/models/hb20/Hyundai-HB20-destacados-precios-top.jpg","additionalFields":{}},"id":"7b117af2-c963-43bc-bd1e-dc338f262be1","name":"WhatsApp - hb20g","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1824,720],"webhookId":"5097c7f5-49a9-4ec3-9d97-140ecb02cb1f","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-explora-caracteristicas-1.jpg","additionalFields":{}},"id":"09f9a148-66c8-4547-84ef-eb49be1efa06","name":"WhatsApp - hb20i","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2192,864],"webhookId":"d4d305e0-b592-454e-89ce-9f1597dc3790","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-disenio-lateral-1024x693.jpg","additionalFields":{}},"id":"256977b3-8338-4acf-8069-c529ece3fe4d","name":"WhatsApp - hb20e","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1632,912],"webhookId":"3aab497f-f048-45d5-8bf7-388532c5f696","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-slider-2.jpg","additionalFields":{}},"id":"69f987f6-5a8f-4c2b-bbce-fe611e0f8b2f","name":"WhatsApp - hb20d","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1328,928],"webhookId":"9b95897d-d070-483e-9efe-7e7b5a226106","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-caracteristicas-scc.jpg","additionalFields":{}},"id":"f83fdf20-e772-4a7e-94ac-54a2803002df","name":"WhatsApp - cretas","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2032,1088],"webhookId":"5dd1f5e7-5113-41a0-940d-69944788c374","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/safety_1.jpg","additionalFields":{}},"id":"96ce808b-274d-496e-928f-27b824c26bb2","name":"WhatsApp - starias","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1808,1152],"webhookId":"0421aa55-eb18-4e2c-8228-4672786f7b52","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-control-estabilidad-1.jpg","additionalFields":{}},"id":"61913942-96ca-4129-b19d-21e770f0d8e3","name":"WhatsApp - tucsons","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1536,1120],"webhookId":"e597bbb1-bc9a-456e-b4bc-71d61e1d215c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-destacados-airbags.jpg","additionalFields":{}},"id":"0963aac4-4dc4-40c9-bc77-f56d141b6c63","name":"WhatsApp - hb20s","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1808,1360],"webhookId":"28b2898f-4468-4b8b-aea6-22fa65e2cea7","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"Imagen enviada correctamente por WhatsApp","type":"string"}]},"options":{}},"id":"d031487f-0716-40ab-951a-a654c869a39e","name":"Respuesta Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,320],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"No existe imagen para el modelo solicitado","type":"string"}]},"options":{}},"id":"22156644-8057-4597-9f33-c1d15af9ddd5","name":"Respuesta on Error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,768],"disabled":true},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y vista interior"},{"category":"creta-general","description":"combinacion de modelo creta y  vista general"},{"category":"creta-exterior","description":"combinacion de modelo creta y vista exterior"},{"category":"creta-diseno","description":"combinacion de modelo creta y vista diseno"},{"category":"staria-general","description":"combinacion de modelo staria y vista general"},{"category":"staria-interior","description":"combinacion de modelo staria y vista interior"},{"category":"staria-exterior","description":"combinacion de modelo staria y vista exterior"},{"category":"staria-diseno","description":"combinacion de modelo staria y vista diseno"},{"category":"tucson-general","description":"combinacion de modelo tucson y vista general"},{"category":"tucson-interior","description":"combinacion de modelo tucson y vista interior"},{"category":"tucson-exterior","description":"combinacion de modelo tucson y vista exterior"},{"category":"tucson-diseno","description":"combinacion de modelo tucson y vista diseno"},{"category":"veloster-general","description":"combinacion de modelo veloster y vista general o vista exterior o vista interior o diseño"},{"category":"hb20-general","description":"combinacion de modelo hb20 y vista general"},{"category":"hb20-interior","description":"combinacion de modelo hb20 y vista interior"},{"category":"hb20-exterior","description":"combinacion de modelo hb20 y vista exterior"},{"category":"hb20-diseno","description":"combinacion de modelo hb20 y vista diseno"},{"category":"creta-seguridad","description":"combinacion de modelo creta y vista seguridad"},{"category":"staria-seguridad","description":"combinacion de modelo staria y vista seguridad"},{"category":"tucson-seguridad","description":"combinacion de modelo tucson y vista seguridad"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-4544,4336],"id":"8ccb6ae6-431f-4781-a0b8-bbfa150c1716","name":"Text Classifier1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4544,5184],"id":"891fa504-5f16-41d4-9f04-f5efdf20a35e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"Imagen enviada correctamente por WhatsApp","type":"string"}]},"options":{}},"id":"a15258b2-c1ea-4ad0-9944-5ce673d590f6","name":"Respuesta Final1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,4672]},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"No existe imagen para el modelo solicitado","type":"string"}]},"options":{}},"id":"631e1bf3-510c-4f4b-8fe7-0cf277cd388f","name":"Respuesta on Error1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3072,6960]},{"parameters":{"assignments":{"assignments":[{"id":"9c09beb0-7398-4eba-b4d5-f5b94fa90bb6","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-destacados-airbags.jpg","type":"string"},{"id":"8cc6a77b-c5e5-4b17-8a93-50a2d0f2b8e8","name":"category","value":"hb20-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,6256],"id":"97c79c46-fbc5-4729-9f77-c49a167c3a2e","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"5f7aaddc-a333-46c2-9aff-b4c6501c51d0","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-control-estabilidad-1.jpg","type":"string"},{"id":"7092d1ea-7dde-4f4c-956f-4a1112484143","name":"category","value":"tucson-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,6096],"id":"1ddf310c-9bfb-4a19-b953-6826cc513320","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"52f0ffdb-7dbb-430d-a68d-911112847dc9","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/safety_1.jpg","type":"string"},{"id":"56f6fa93-a8cc-471a-a3d1-8330f94e1823","name":"category","value":"staria-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5936],"id":"5bf86471-c6b3-4687-8d95-e917a4846337","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"10f16055-306c-4242-b525-5dd2b64b3d31","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-caracteristicas-scc.jpg","type":"string"},{"id":"984ae59f-4f6b-47cd-af41-05ff74a6bb0d","name":"category","value":"creta-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5776],"id":"07225ad5-c5c2-4259-980c-1b5ea7616ef0","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"fd266824-84e5-4c8f-85af-646f143e8813","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-slider-2.jpg","type":"string"},{"id":"cad57836-6f71-44f0-a3a4-1a71c81e6c02","name":"category","value":"hb20-diseno","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5616],"id":"61dea31b-8a32-43f1-8c21-f9d49beaec02","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"a1c90213-3c36-48c9-8106-2c3cbbefd630","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-disenio-lateral-1024x693.jpg","type":"string"},{"id":"3c1aee15-a801-4fca-8781-33e127c40b28","name":"category","value":"hb20-exterior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5456],"id":"2b2f4fd6-469d-4449-a73c-8edee8e9062f","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"b47f3089-58d2-4269-bffa-3a5c189db367","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-explora-caracteristicas-1.jpg","type":"string"},{"id":"8510faec-ef17-4256-bab3-3a5fe360705c","name":"category","value":"hb20-interior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5296],"id":"565dfc40-cc81-4b3e-848a-d20ffb347a12","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"00438a2f-f6c3-4f03-911e-2469879c085b","name":"url","value":"https://www.hyundai.com.ar/images/models/hb20/Hyundai-HB20-destacados-precios-top.jpg","type":"string"},{"id":"a3f73898-d5b5-4068-96d6-5c900f418000","name":"category","value":"hb20-general","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,5136],"id":"a3c54454-563b-400e-b5e4-21ca98121bfb","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"5889baf5-3ef5-462c-813b-c0979fadf3fe","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/velostern-exterior-1024x385.jpg","type":"string"},{"id":"658ca744-2117-4f16-ab72-f315f3f28a5e","name":"category","value":"veloster-general","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4976],"id":"533f916b-746b-4401-9974-164375851f66","name":"Edit Fields8"},{"parameters":{"assignments":{"assignments":[{"id":"6f15ed07-dbd5-412f-b9d2-1b6cebdadffc","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","type":"string"},{"id":"3adc58ad-9cc8-49fd-98a6-c11fda926500","name":"category","value":"tucson-diseño","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4816],"id":"3ea24c24-711d-43c0-9719-da7feaabe5aa","name":"Edit Fields9"},{"parameters":{"assignments":{"assignments":[{"id":"21a54922-a848-4efb-ab92-7b472f6e640d","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-disenio-frontal.jpg","type":"string"},{"id":"628e15fa-263e-4c57-aac6-bd873bd0beaa","name":"category","value":"tucson-exterior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4656],"id":"7221ba44-8276-4e8c-92f4-787060965457","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"34dde37c-5ad4-4faa-9b85-6bbb51b6a4f4","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-caracteristicas.jpg","type":"string"},{"id":"c3a94354-7fb6-42d1-8194-dc8609cba931","name":"category","value":"tucson-interior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4496],"id":"9d8706c3-5ca8-4af0-864d-f8e70471b642","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"f7cae067-e0f4-4ddc-8712-bfc59dea1a6e","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-disenio.jpg","type":"string"},{"id":"9cab81e3-2c4a-4f75-a5fa-e8f23d210f49","name":"category","value":"tucson-general","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4336],"id":"affe261b-0c45-4d7d-b2ea-3a43d7b2a559","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"747e03a3-790c-42b3-a5d4-faca2f830f3d","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_img_1.jpg","type":"string"},{"id":"9840bff6-4595-4d2c-90f4-ac40c3fb3695","name":"category","value":"staria-diseno","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4176],"id":"a9995697-3d59-48f8-9027-51ae4a7e358b","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"b56669c2-4dbe-47ad-b6bb-2bc538b7838b","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_garantia-1024x563.jpg","type":"string"},{"id":"8fdda34b-f614-4470-bce4-9793af996a7a","name":"category","value":"staria-exterior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,4016],"id":"0e500255-4c53-4744-99a1-053ea16eaf5e","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"0a9bd0f7-773b-45d5-8d5e-889b047b30ea","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-descubre-disenio-1.jpg","type":"string"},{"id":"b1022155-9cbe-433b-9b3d-43e39d8e4bf0","name":"category","value":"staria-interior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3856],"id":"fe6de6ea-126b-43a3-976a-539e614d5583","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"114a1882-0293-4a00-be3f-bb5b36324321","name":"url","value":"https://www.hyundai.com.ar/images/models/staria/destacados_cabecera_cta.jpg","type":"string"},{"id":"e0b95702-1828-4fbb-9ec5-c35712bf4730","name":"category","value":"staria-general","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3696],"id":"542053a2-baba-458d-a3ba-f43036bbd5fc","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"03fb930c-97b1-4033-ae89-fc9d11b41964","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","type":"string"},{"id":"bd797389-89a7-4006-865f-2959fbc172a8","name":"category","value":"creta-diseno","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3536],"id":"60286cd8-ff2a-4b68-8a02-4917b2cfe0ef","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"3295f7d3-514f-48ee-ac7e-7f46787aa3cb","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","type":"string"},{"id":"7d59992e-10fb-459c-9c21-7ca405c0c19d","name":"category","value":"creta-exterior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3376],"id":"aa7c514e-ce7b-4e72-9d56-ecf897ca456b","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"280884a3-07d5-4e36-b9e3-cff9984b762b","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-explora-caracteristicas.jpg","type":"string"},{"id":"f93b85c6-951f-4916-80cb-71a58716127c","name":"category","value":"creta-general","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3216],"id":"65542d07-552b-44dd-a64b-fffa8b6d97cf","name":"Edit Fields19"},{"parameters":{"assignments":{"assignments":[{"id":"b4ae16a0-533f-42ce-a63d-70a3fbf49027","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-comodidad-1.jpg","type":"string"},{"id":"4982164e-c135-413e-842d-e6b50728e02d","name":"category","value":"creta-interior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,3056],"id":"9e75ff79-b1ac-4285-9b85-563956c2d1e9","name":"Edit Fields20"},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\nconst nombre = inputData.nombre;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen,\n    nombre: nombre\n  }\n}];"},"id":"afd25071-46dc-49a4-a7f9-a680bd7f599b","name":"Preparar Datos1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4880,4656]},{"parameters":{"jsCode":"return [\n  {\n    \"modelo\": \"HB20S\",\n    \"telefono\": \"5493815505510\",\n    \"tipo_vista\": \"exterior\",\n    \"nombre\": \"Oscar Greco\"\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4192,880],"id":"819f5e17-f420-436f-8b1d-a28b6e63ef01","name":"Code in JavaScript","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4448,880],"id":"b1e9c1b6-84b2-4ea2-8b61-b2905cf0bd4f","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"jsCode":"return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,4672],"id":"fcb14054-1c40-4bf9-854a-7b684cc2fdfe","name":"Code in JavaScript1"},{"parameters":{"workflowId":{"__rl":true,"value":"DMOGQef3EaV2XwWa","mode":"list","cachedResultUrl":"/workflow/DMOGQef3EaV2XwWa","cachedResultName":"chatwoot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"={{ $('Code in JavaScript1').item.json.url }}","telefono":"={{ $('Code in JavaScript1').item.json.telefono }}","nombre":"={{ $('Code in JavaScript1').item.json.nombre }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-560,4672],"id":"60c2ba0f-d224-4a79-ae0b-a6d2a5ce72a0","name":"Call 'chatwoot'"},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"={{ $json.url }}","additionalFields":{}},"id":"f22a51d8-9aca-4bea-9567-3b03d32286e3","name":"WhatsApp - send","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-768,4672],"webhookId":"28b2898f-4468-4b8b-aea6-22fa65e2cea7","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}}],"connections":{"inicio":{"main":[[{"node":"Preparar Datos1","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"WhatsApp - cretai","type":"main","index":0}],[{"node":"WhatsApp - cretag","type":"main","index":0}],[{"node":"WhatsApp - cretae","type":"main","index":0}],[{"node":"WhatsApp - cretad","type":"main","index":0}],[{"node":"WhatsApp - stariag","type":"main","index":0}],[{"node":"WhatsApp - stariai","type":"main","index":0}],[{"node":"WhatsApp - stariae","type":"main","index":0}],[{"node":"WhatsApp - stariad","type":"main","index":0}],[{"node":"WhatsApp - tucsong","type":"main","index":0}],[{"node":"WhatsApp - tucsoni","type":"main","index":0}],[{"node":"WhatsApp - tucsone","type":"main","index":0}],[{"node":"WhatsApp - tucsond","type":"main","index":0}],[{"node":"WhatsApp - velosterg","type":"main","index":0}],[{"node":"WhatsApp - hb20g","type":"main","index":0}],[{"node":"WhatsApp - hb20i","type":"main","index":0}],[{"node":"WhatsApp - hb20e","type":"main","index":0}],[{"node":"WhatsApp - hb20d","type":"main","index":0}],[{"node":"WhatsApp - cretas","type":"main","index":0}],[{"node":"WhatsApp - starias","type":"main","index":0}],[{"node":"WhatsApp - tucsons","type":"main","index":0}],[{"node":"WhatsApp - hb20s","type":"main","index":0}],[{"node":"Respuesta on Error","type":"main","index":0}]]},"WhatsApp - cretai":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretag":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretae":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretad":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariag":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariai":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariae":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariad":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsong":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsoni":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsone":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsond":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - velosterg":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20i":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20g":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20e":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20d":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretas":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - starias":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsons":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20s":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Text Classifier1":{"main":[[{"node":"Edit Fields20","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}],[{"node":"Edit Fields18","type":"main","index":0}],[{"node":"Edit Fields17","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}],[{"node":"Edit Fields15","type":"main","index":0}],[{"node":"Edit Fields14","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}],[{"node":"Edit Fields12","type":"main","index":0}],[{"node":"Edit Fields11","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respuesta on Error1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields20":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Preparar Datos1":{"main":[[{"node":"Text Classifier1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"WhatsApp - send","type":"main","index":0}]]},"Call 'chatwoot'":{"main":[[{"node":"Respuesta Final1","type":"main","index":0}]]},"WhatsApp - send":{"main":[[{"node":"Call 'chatwoot'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"f05b0219-a151-4e52-a8bf-de3747f57b4c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T12:12:18.987Z","createdAt":"2025-12-03T12:12:18.987Z","role":"workflow:owner","workflowId":"suVwDN0HTQb7T8P0","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}