subflujo_pdf_tecnico_nissan_varios-Obsbj4i9zv8hJe8c.json
{"updatedAt":"2026-06-12T19:58:13.000Z","createdAt":"2026-03-24T18:53:14.789Z","id":"Obsbj4i9zv8hJe8c","name":"subflujo_pdf_tecnico_nissan_varios","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"modelo"}]}},"id":"c649013c-8326-4f7a-a408-4163a00b1ada","name":"inicio","position":[-400,0],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1},{"parameters":{"jsCode":"const modelo = ($input.first().json.modelo || '').trim();\nconst telefono = $input.first().json.telefono;\n\nconst BASE = 'https://agncorp.com.ar/marcaschinas';\n\nconst MAPA = {\n  'JAC JS2':                  `${BASE}/jac/jac-s2/jacs2-fl-ficha-tecnica-2025.pdf`,\n  'JAC JS4':                  `${BASE}/jac/jac-js4-flagship/jacjs4-ficha-tecnica-2025.pdf`,\n  'JAC JS4 Flagship':         `${BASE}/jac/jac-js4-flagship/jacjs4-ficha-tecnica-2025.pdf`,\n  'JAC JS4 Luxury':           `${BASE}/jac/jac-js4-luxury/jacjs4-ficha-tecnica-2025.pdf`,\n  'JAC JS6 PHEV':             `${BASE}/jac/jac-js6-phev/20251003-jac-js6phev-fichatecnica.pdf`,\n  'JAC JS8':                  `${BASE}/jac/jac-js8-pro/jac-js8-pro-ficha-tecnica.pdf`,\n  'JAC JS8 Pro':              `${BASE}/jac/jac-js8-pro/jac-js8-pro-ficha-tecnica.pdf`,\n  'JAC EV30X':                `${BASE}/jac/ev-30x/20250922-jac-ev30x-fichatecnica.pdf`,\n  'JAC T8':                   `${BASE}/jac/jac-t8-intelligent/ficha-membrete-jact8-intelligent.pdf`,\n  'JAC T8 Intelligent':       `${BASE}/jac/jac-t8-intelligent/ficha-membrete-jact8-intelligent.pdf`,\n  'JAC T9':                   `${BASE}/jac/jac-t9/20250922-jac-t9-fichatecnica.pdf`,\n  'Chery Tiggo 4 Pro':        `${BASE}/chery/chery-tiggo-4-pro-luxury/ficha-tecnica-y-folleto-digital-tiggo-4-pro.pdf`,\n  'Chery Tiggo 4 Pro Luxury': `${BASE}/chery/chery-tiggo-4-pro-luxury/ficha-tecnica-y-folleto-digital-tiggo-4-pro.pdf`,\n  'GAC GS3':                  `${BASE}/gac/gs3-emzoom/gs3-emzoom-1.pdf`,\n  'GAC GS3 EMZOOM':           `${BASE}/gac/gs3-emzoom/gs3-emzoom-1.pdf`,\n  'GAC EMKOO':                `${BASE}/gac/emkoo/emkoo-1.pdf`,\n  'GAC GS8':                  `${BASE}/gac/gs8/gs8-1.pdf`,\n  'GAC EMPOWER':              `${BASE}/gac/nuevo-empow/empow.pdf`,\n  'GAC AION ES':              `${BASE}/gac/aion-es/aion-es.pdf`\n};\n\nconst link = MAPA[modelo];\n\nif (!link) {\n  return [{ json: {\n    success: false,\n    error: `No tengo ficha técnica para \"${modelo}\". Modelos con ficha disponible: ${Object.keys(MAPA).join(', ')}`,\n    modelo,\n    telefono\n  }}];\n}\n\nreturn [{ json: { telefono, modelo, link, success: true }}];"},"id":"d1e2f3a4-b5c6-4789-defa-4567890123de","name":"resolver-link-pdf","position":[-192,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"success-check-cond","leftValue":"={{ $json.success }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"id":"e2f3a4b5-c6d7-4890-efab-5678901234ef","name":"if-link-encontrado","position":[16,0],"type":"n8n-nodes-base.if","typeVersion":2.2},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"document","mediaLink":"={{ $json.link }}","additionalFields":{"mediaFilename":"=Ficha Técnica de {{ $json.modelo }}"}},"id":"50b63060-ff51-4908-9e95-3680d6114aae","name":"send-pdf","position":[224,-80],"type":"n8n-nodes-base.whatsApp","typeVersion":1,"webhookId":"8f57e6cc-5663-4075-85f4-69da8b38ef12","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"output-success","name":"output","type":"string","value":"Ficha técnica enviada correctamente por WhatsApp"}]},"options":{}},"id":"f3a4b5c6-d7e8-4901-fabc-6789012345f0","name":"success","position":[432,-160],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"output-error-send","name":"output","type":"string","value":"Error al enviar la ficha técnica por WhatsApp"}]},"options":{}},"id":"a4b5c6d7-e8f9-4012-abcd-7890123456a1","name":"error-send","position":[432,16],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"output-error-notfound","name":"output","type":"string","value":"={{ $json.error }}"}]},"options":{}},"id":"b5c6d7e8-f9a0-4123-bcde-8901234567b2","name":"error-modelo-no-encontrado","position":[224,144],"type":"n8n-nodes-base.set","typeVersion":3.4}],"connections":{"if-link-encontrado":{"main":[[{"index":0,"node":"send-pdf","type":"main"}],[{"index":0,"node":"error-modelo-no-encontrado","type":"main"}]]},"inicio":{"main":[[{"index":0,"node":"resolver-link-pdf","type":"main"}]]},"resolver-link-pdf":{"main":[[{"index":0,"node":"if-link-encontrado","type":"main"}]]},"send-pdf":{"main":[[{"index":0,"node":"success","type":"main"}],[{"index":0,"node":"error-send","type":"main"}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"01237595-050c-48da-a9c6-a140239b93dc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T18:53:14.794Z","createdAt":"2026-03-24T18:53:14.794Z","role":"workflow:owner","workflowId":"Obsbj4i9zv8hJe8c","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2026-06-12T19:57:32.379Z","createdAt":"2026-06-12T19:57:32.379Z","id":"Qv13pR5IETKXFWzL","name":"FER-DEV-S"},{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}