subflujo_video_seguro_wpp-0upoXBuHaMLITMra.json
{"updatedAt":"2026-07-03T21:15:13.000Z","createdAt":"2025-12-03T12:15:14.315Z","id":"0upoXBuHaMLITMra","name":"subflujo_video_seguro_wpp","active":false,"isArchived":false,"nodes":[{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y video interior"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"},{"category":"creta-seguridad"}]},"options":{"fallback":"discard"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-800,-48],"id":"89374186-6223-45d5-83ce-e75becf173b4","name":"Text Classifier","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-768,240],"id":"8adf57b5-d2e2-4d88-a4ca-63571b0b9066","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"modelo"},{"name":"telefono"},{"name":"tipo_vista"},{"name":"nombre"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1248,752],"id":"7c9a3537-fb2c-401b-940f-7d81d9e5378e","name":"inicio"},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen\n  }\n}];"},"id":"4e216cf6-008b-45aa-a85c-62cbcf4576a7","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,16],"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-video.mp4","additionalFields":{}},"id":"0328ba60-bc40-4d19-8d60-9cab7e2d46ed","name":"WhatsApp - cretai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-144,-128],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Creta-SEW-1.mp4","additionalFields":{}},"id":"a1a24a54-0034-4e6e-8aac-ea8669cd822b","name":"WhatsApp - cretas","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-112,160],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/RCCA.mp4","additionalFields":{}},"id":"1e6ae57a-1b98-4472-b90b-40524eb76530","name":"WhatsApp - hb20s","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[32,16],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}},"disabled":true},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y video interior"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"},{"category":"creta-seguridad"}]},"options":{"fallback":"discard"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-784,736],"id":"ead7a0f6-66f2-44c9-b82c-90f5345cee00","name":"Text Classifier1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-784,992],"id":"5b293bfa-730e-4133-a456-3059a2f6602c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\nconst nombre = inputData.nombre;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen,\n    nombre: nombre\n  }\n}];"},"id":"e95b8acc-609d-431d-8773-6b0e7bdfdb3d","name":"Preparar Datos1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,752]},{"parameters":{"jsCode":"return [\n  {\n    \"modelo\": \"HB20S\",\n    \"telefono\": \"5493815505510\",\n    \"tipo_vista\": \"seguridad\",\n    \"nombre\": \"Oscar Greco\"\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,496],"id":"ab0decb4-ae9f-47c6-bd52-cade5d0518da","name":"Code in JavaScript","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1568,496],"id":"1e626f6f-c7d5-481d-8a67-953a570fa97e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"52184bd3-5b69-4fc5-ad3d-ac9807ce455f","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-video.mp4","type":"string"},{"id":"e2c476d3-85d4-451a-bceb-19326a065327","name":"category","value":"creta-interior","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,592],"id":"740ce204-a239-4260-87b6-be2197f371be","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a06586a0-0447-40c2-8e23-6177ba845f3b","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/RCCA.mp4","type":"string"},{"id":"c75c7374-1e7a-46f9-877c-003c2d99d0b7","name":"category","value":"hb20-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,752],"id":"743c581a-e217-441e-a7da-0cc673c0054b","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"56ed38eb-bcc3-48ef-b186-a639ac59acb8","name":"url","value":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Creta-SEW-1.mp4","type":"string"},{"id":"c91316dc-572c-4efb-96f2-01d9b7511f5e","name":"category","value":"=creta-seguridad","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,912],"id":"de35f2bc-3025-496f-a7d7-ef6dc1f9307e","name":"Edit Fields2"},{"parameters":{"jsCode":"return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,752],"id":"9266c882-3302-4d6c-a112-1036695e1c1c","name":"Code in JavaScript1"},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"video","mediaLink":"={{ $json.url }}","additionalFields":{}},"id":"1236e9cc-817b-4350-b09f-6144c16542ec","name":"WhatsApp - send","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[432,752],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"workflowId":{"__rl":true,"value":"DMOGQef3EaV2XwWa","mode":"list","cachedResultUrl":"/workflow/DMOGQef3EaV2XwWa","cachedResultName":"chatwoot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('Code in JavaScript1').item.json.telefono }}","url":"={{ $('Code in JavaScript1').item.json.url }}","nombre":"={{ $('Code in JavaScript1').item.json.nombre }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,752],"id":"10405a6e-e5e6-4367-81b8-317715fa748b","name":"Call 'chatwoot'"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"WhatsApp - cretai","type":"main","index":0}],[{"node":"WhatsApp - hb20s","type":"main","index":0}],[{"node":"WhatsApp - cretas","type":"main","index":0}]]},"inicio":{"main":[[{"node":"Preparar Datos1","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"Preparar Datos1":{"main":[[{"node":"Text Classifier1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"WhatsApp - send","type":"main","index":0}]]},"WhatsApp - send":{"main":[[{"node":"Call 'chatwoot'","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"6bab4bdd-141f-4aab-8477-98e937a032f7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T12:15:14.318Z","createdAt":"2025-12-03T12:15:14.318Z","role":"workflow:owner","workflowId":"0upoXBuHaMLITMra","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}