subflujo_imagen_seguro_wpp-suVwDN0HTQb7T8P0.json
{"updatedAt":"2025-12-03T12:25:10.000Z","createdAt":"2025-12-03T12:12:18.983Z","id":"suVwDN0HTQb7T8P0","name":"subflujo_imagen_seguro_wpp","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"modelo"},{"name":"telefono"},{"name":"tipo_vista"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3360,912],"id":"21913315-8e8d-4a1e-a42d-89be4b47b6f4","name":"inicio"},{"parameters":{"jsCode":"// Preparar datos para el clasificador\nconst inputData = $input.first().json;\nconst modelo = inputData.modelo || '';\nconst tipoVista = inputData.tipo_vista || 'exterior';\nconst telefono_origen = inputData.telefono;\n\n// Crear el texto que será clasificado\nconst textoParaClasificar = `${modelo.toLowerCase().trim()} ${tipoVista.toLowerCase().trim()}`;\n\nreturn [{\n  json: {\n    texto: textoParaClasificar,\n    modelo_original: modelo,\n    tipo_vista: tipoVista,\n    telefono: telefono_origen\n  }\n}];"},"id":"e5e4f918-48d0-4499-b74f-8f19d409fa5f","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,864]},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"creta-interior","description":"combinacion de modelo creta y vista interior"},{"category":"creta-general","description":"combinacion de modelo creta y vista general"},{"category":"creta-exterior","description":"combinacion de modelo creta y vista exterior"},{"category":"creta-diseno","description":"combinacion de modelo creta y vista diseno"},{"category":"staria-general","description":"combinacion de modelo staria y vista general"},{"category":"staria-interior","description":"combinacion de modelo staria y vista interior"},{"category":"staria-exterior","description":"combinacion de modelo staria y vista exterior"},{"category":"staria-diseno","description":"combinacion de modelo staria y vista diseno"},{"category":"tucson-general","description":"combinacion de modelo tucson y vista general"},{"category":"tucson-interior","description":"combinacion de modelo tucson y vista interior"},{"category":"tucson-exterior","description":"combinacion de modelo tucson y vista exterior"},{"category":"tucson-diseno","description":"combinacion de modelo tucson y vista diseno"},{"category":"veloster-general","description":"combinacion de modelo veloster y vista general"},{"category":"hb20-general","description":"combinacion de modelo hb20 y vista general"},{"category":"hb20-interior","description":"combinacion de modelo hb20 y vista interior"},{"category":"hb20-exterior","description":"combinacion de modelo hb20 y vista exterior"},{"category":"hb20-diseno","description":"combinacion de modelo hb20 y vista diseno"},{"category":"creta-seguridad","description":"combinacion de modelo creta y vista seguridad"},{"category":"staria-seguridad","description":"combinacion de modelo staria y vista seguridad"},{"category":"tucson-seguridad","description":"combinacion de modelo tucson y vista seguridad"},{"category":"hb20-seguridad","description":"combinacion de modelo hb20 y vista seguridad"}]},"options":{"fallback":"discard"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-2672,544],"id":"894a78b5-21b4-49b7-b0b3-3ff54f456af0","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2528,1664],"id":"32b1e9b4-ace5-4558-b5ee-99151b79958e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sLPPCwP0DRZG1BEV","name":"agn-openai-credential"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-comodidad-1.jpg","additionalFields":{}},"id":"9c5750b0-8ebf-4981-b8c0-b2f89502000b","name":"WhatsApp - cretai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2256,-128],"webhookId":"9b7c5168-5af1-4bff-8570-ded46be3de8c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-explora-caracteristicas.jpg","additionalFields":{}},"id":"8abdfc38-8bd0-4760-9abe-686c1864ceba","name":"WhatsApp - cretag","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1984,-176],"webhookId":"a08efe0f-bb10-4392-b3ca-3bf1a9ec1124","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"e7e3981a-3c5c-41e1-b1ce-ba9240af3348","name":"WhatsApp - cretae","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1712,-96],"webhookId":"96be3bcf-262b-4c76-a2f7-65d1d25750c4","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"6458a1b8-496a-472d-8a94-ea7588f7ae3c","name":"WhatsApp - cretad","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1424,-128],"webhookId":"34344c73-544e-4253-9b11-83b35d024175","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://www.hyundai.com.ar/images/models/staria/destacados_cabecera_cta.jpg","additionalFields":{}},"id":"5d1e165e-c0e6-478c-860b-6547bae6bc5d","name":"WhatsApp - stariag","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2272,112],"webhookId":"29790a92-b348-4afd-ab76-50b8e1b6788c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-descubre-disenio-1.jpg","additionalFields":{}},"id":"839cb64d-4e46-46ff-aa99-53ef68443b19","name":"WhatsApp - stariai","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1984,80],"webhookId":"402bd4cd-0af1-46de-9987-bb6f808b883e","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_garantia-1024x563.jpg","additionalFields":{}},"id":"d3a1146f-9491-4a9a-9b1f-9d1802127051","name":"WhatsApp - stariae","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1680,48],"webhookId":"136ac9dc-00a2-47ab-aa23-60144ba71d48","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/destacados_img_1.jpg","additionalFields":{}},"id":"68548ff5-d933-4704-b443-b38a8d1f35ef","name":"WhatsApp - stariad","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1488,144],"webhookId":"374df16d-f672-4ae2-82a7-e533034f4456","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-disenio.jpg","additionalFields":{}},"id":"b65f4b90-410f-486d-8c69-7b70b0cb1a6e","name":"WhatsApp - tucsong","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2256,368],"webhookId":"bfce351d-eb9e-45a4-8cb4-41e03c7ed6d8","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-destacados-botton-cta-caracteristicas.jpg","additionalFields":{}},"id":"b73f98c4-7d08-4f81-a0cb-0d9e40cb7655","name":"WhatsApp - tucsoni","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1904,416],"webhookId":"b1d856ab-1d43-400d-8e30-d3392e959ba1","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-disenio-frontal.jpg","additionalFields":{}},"id":"a2ae7a30-eb21-4947-9e63-85012495970d","name":"WhatsApp - tucsone","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1696,320],"webhookId":"1dd93cfb-b373-4312-ba03-54003dbf6e57","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-disenio-parrilla.jpg","additionalFields":{}},"id":"ef369cf4-3007-40ac-b94e-239360b65b6d","name":"WhatsApp - tucsond","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1376,288],"webhookId":"e19e657f-a19b-4612-a69e-bb90316bab20","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/velostern-exterior-1024x385.jpg","additionalFields":{}},"id":"a025e48c-35f6-454a-acca-c26475b2ad2f","name":"WhatsApp - velosterg","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2080,640],"webhookId":"9cea1684-5307-4446-a4db-b7d341290890","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://www.hyundai.com.ar/images/models/hb20/Hyundai-HB20-destacados-precios-top.jpg","additionalFields":{}},"id":"7b117af2-c963-43bc-bd1e-dc338f262be1","name":"WhatsApp - hb20g","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1824,720],"webhookId":"5097c7f5-49a9-4ec3-9d97-140ecb02cb1f","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-explora-caracteristicas-1.jpg","additionalFields":{}},"id":"09f9a148-66c8-4547-84ef-eb49be1efa06","name":"WhatsApp - hb20i","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2192,864],"webhookId":"d4d305e0-b592-454e-89ce-9f1597dc3790","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-disenio-lateral-1024x693.jpg","additionalFields":{}},"id":"256977b3-8338-4acf-8069-c529ece3fe4d","name":"WhatsApp - hb20e","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1632,912],"webhookId":"3aab497f-f048-45d5-8bf7-388532c5f696","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-slider-2.jpg","additionalFields":{}},"id":"69f987f6-5a8f-4c2b-bbce-fe611e0f8b2f","name":"WhatsApp - hb20d","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1328,928],"webhookId":"9b95897d-d070-483e-9efe-7e7b5a226106","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/creta25-caracteristicas-scc.jpg","additionalFields":{}},"id":"f83fdf20-e772-4a7e-94ac-54a2803002df","name":"WhatsApp - cretas","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2032,1088],"webhookId":"5dd1f5e7-5113-41a0-940d-69944788c374","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/safety_1.jpg","additionalFields":{}},"id":"96ce808b-274d-496e-928f-27b824c26bb2","name":"WhatsApp - starias","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1808,1152],"webhookId":"0421aa55-eb18-4e2c-8228-4672786f7b52","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/06/Hyundai-tucson-control-estabilidad-1.jpg","additionalFields":{}},"id":"61913942-96ca-4129-b19d-21e770f0d8e3","name":"WhatsApp - tucsons","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1536,1120],"webhookId":"e597bbb1-bc9a-456e-b4bc-71d61e1d215c","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"operation":"send","phoneNumberId":"835839779617195","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"https://agnhyundai.com.ar/wp-content/uploads/2025/07/Hyundai-HB20-destacados-airbags.jpg","additionalFields":{}},"id":"0963aac4-4dc4-40c9-bc77-f56d141b6c63","name":"WhatsApp - hb20s","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1808,1360],"webhookId":"28b2898f-4468-4b8b-aea6-22fa65e2cea7","credentials":{"whatsAppApi":{"id":"jEUtXTicFVyFahTz","name":"hyundai-vendedor-salida"}}},{"parameters":{"assignments":{"assignments":[{"id":"output-message","name":"output","value":"Imagen enviada correctamente por WhatsApp","type":"string"}]},"options":{}},"id":"d031487f-0716-40ab-951a-a654c869a39e","name":"Respuesta Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,320]}],"connections":{"inicio":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"WhatsApp - cretai","type":"main","index":0}],[{"node":"WhatsApp - cretag","type":"main","index":0}],[{"node":"WhatsApp - cretae","type":"main","index":0}],[{"node":"WhatsApp - cretad","type":"main","index":0}],[{"node":"WhatsApp - stariag","type":"main","index":0}],[{"node":"WhatsApp - stariai","type":"main","index":0}],[{"node":"WhatsApp - stariae","type":"main","index":0}],[{"node":"WhatsApp - stariad","type":"main","index":0}],[{"node":"WhatsApp - tucsong","type":"main","index":0}],[{"node":"WhatsApp - tucsoni","type":"main","index":0}],[{"node":"WhatsApp - tucsone","type":"main","index":0}],[{"node":"WhatsApp - tucsond","type":"main","index":0}],[{"node":"WhatsApp - velosterg","type":"main","index":0}],[{"node":"WhatsApp - hb20g","type":"main","index":0}],[{"node":"WhatsApp - hb20i","type":"main","index":0}],[{"node":"WhatsApp - hb20e","type":"main","index":0}],[{"node":"WhatsApp - hb20d","type":"main","index":0}],[{"node":"WhatsApp - cretas","type":"main","index":0}],[{"node":"WhatsApp - starias","type":"main","index":0}],[{"node":"WhatsApp - tucsons","type":"main","index":0}],[{"node":"WhatsApp - hb20s","type":"main","index":0}]]},"WhatsApp - cretai":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretag":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretae":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretad":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariag":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariai":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariae":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - stariad":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsong":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsoni":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsone":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsond":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - velosterg":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20i":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20g":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20e":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20d":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - cretas":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - starias":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - tucsons":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"WhatsApp - hb20s":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37c7274d-f235-4c44-94f1-a81deb135b4c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T12:12:18.987Z","createdAt":"2025-12-03T12:12:18.987Z","role":"workflow:owner","workflowId":"suVwDN0HTQb7T8P0","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}