subflujo_imagen_varios-2d60n9hx2jPtZYY6.json
{"updatedAt":"2026-06-12T19:58:37.000Z","createdAt":"2026-03-24T18:47:21.476Z","id":"2d60n9hx2jPtZYY6","name":"subflujo_imagen_varios","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"modelo"},{"name":"tipo"}]}},"id":"6fad6170-cdb7-4bb6-8b52-54e3250cc5d1","name":"trigger-sub-imagen","position":[-688,176],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1},{"parameters":{"jsCode":"const modelo = ($input.first().json.modelo || '').trim();\nconst tipo = ($input.first().json.tipo || 'exterior').toLowerCase();\nconst telefono = $input.first().json.telefono;\n\nconst BASE = 'https://agncorp.com.ar/marcaschinas';\n\nconst MAPA = {\n  'JAC JS2':                 { exterior: `${BASE}/jac/jac-s2/jac-s2.jpg`, interior: `${BASE}/jac/jac-s2/jac-s2-tablero.jpg` },\n  'JAC JS4':                 { exterior: `${BASE}/jac/jac-js4-flagship/jac-js4.jpg` },\n  'JAC JS4 Flagship':        { exterior: `${BASE}/jac/jac-js4-flagship/jac-js4.jpg` },\n  'JAC JS4 Luxury':          { exterior: `${BASE}/jac/jac-js4-luxury/jac-js4.jpg` },\n  'JAC JS6 PHEV':            { exterior: `${BASE}/jac/jac-js6-phev/jac-js6-phev.jpg` },\n  'JAC JS8':                 { exterior: `${BASE}/jac/jac-js8-pro/jac-js8-pro.jpg` },\n  'JAC JS8 Pro':             { exterior: `${BASE}/jac/jac-js8-pro/jac-js8-pro.jpg` },\n  'JAC EV30X':               { exterior: `${BASE}/jac/ev-30x/jac-ev-30x.jpg` },\n  'JAC T8':                  { exterior: `${BASE}/jac/jac-t8-intelligent/jac-t8-intelligent.jpg` },\n  'JAC T8 Intelligent':      { exterior: `${BASE}/jac/jac-t8-intelligent/jac-t8-intelligent.jpg` },\n  'JAC T9':                  { exterior: `${BASE}/jac/jac-t9/jac-t9.jpg` },\n  'Chery Tiggo 4 Pro':       { exterior: `${BASE}/chery/chery-tiggo-4-pro-luxury/chery-tiggo-4-pro-luxury.jpg` },\n  'Chery Tiggo 4 Pro Luxury':{ exterior: `${BASE}/chery/chery-tiggo-4-pro-luxury/chery-tiggo-4-pro-luxury.jpg` },\n  'GAC GS3':                 { exterior: `${BASE}/gac/gs3-emzoom/gac-gs3-emzoom.jpg` },\n  'GAC GS3 EMZOOM':          { exterior: `${BASE}/gac/gs3-emzoom/gac-gs3-emzoom.jpg` },\n  'GAC EMKOO':               { exterior: `${BASE}/gac/emkoo/gac-emkoo.jpg` },\n  'GAC GS8':                 { exterior: `${BASE}/gac/gs8/gs8.jpg` },\n  'GAC EMPOWER':             { exterior: `${BASE}/gac/nuevo-empow/empow.jpg` },\n  'GAC NUEVO EMPOW':         { exterior: `${BASE}/gac/nuevo-empow/empow.jpg` },\n  'GAC AION ES':             { exterior: `${BASE}/gac/aion-es/aion-es.jpg` }\n};\n\nconst entry = MAPA[modelo];\n\nif (!entry) {\n  return [{ json: {\n    success: false,\n    error: `No tengo imagen registrada para \"${modelo}\". Modelos disponibles: ${Object.keys(MAPA).join(', ')}`,\n    modelo,\n    tipo,\n    telefono\n  }}];\n}\n\nconst link = entry[tipo];\n\nif (!link) {\n  const mensajeError = tipo === 'interior'\n    ? `No tengo imagen interior del ${modelo}. Solo cuento con imagen exterior.`\n    : `No tengo imagen ${tipo} del ${modelo}.`;\n  \n  return [{ json: {\n    success: false,\n    error: mensajeError,\n    modelo,\n    tipo,\n    telefono\n  }}];\n}\n\nreturn [{ json: { telefono, modelo, link, tipo, success: true }}];"},"id":"a1b2c3d4-e5f6-4789-abcd-1234567890ab","name":"resolver-link-imagen","position":[-480,176],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"success-check-cond","leftValue":"={{ $json.success }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"id":"b2c3d4e5-f6a7-4890-bcde-2345678901bc","name":"if-link-encontrado","position":[-272,176],"type":"n8n-nodes-base.if","typeVersion":2.2},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $json.telefono }}","messageType":"image","mediaLink":"={{ $json.link }}","additionalFields":{"mediaCaption":"={{ $json.modelo }}"}},"id":"d4ce5a5d-68aa-4ceb-94a7-bd728290d135","name":"send-image","position":[-64,96],"type":"n8n-nodes-base.whatsApp","typeVersion":1,"webhookId":"34344c73-544e-4253-9b11-83b35d024175","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"output-success","name":"output","type":"string","value":"Imagen enviada correctamente por WhatsApp"}]},"options":{}},"id":"1485aaf1-671c-40a7-89e9-785205d8f2e5","name":"success","position":[144,32],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"output-error-send","name":"output","type":"string","value":"Error al enviar la imagen por WhatsApp"}]},"options":{}},"id":"3a71cf99-2a15-4075-9432-5d8dee961971","name":"error-send","position":[144,208],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"output-error-notfound","name":"output","type":"string","value":"={{ $json.error }}"}]},"options":{}},"id":"c3d4e5f6-a7b8-4901-cdef-3456789012cd","name":"error-modelo-no-encontrado","position":[-64,320],"type":"n8n-nodes-base.set","typeVersion":3.4}],"connections":{"if-link-encontrado":{"main":[[{"index":0,"node":"send-image","type":"main"}],[{"index":0,"node":"error-modelo-no-encontrado","type":"main"}]]},"resolver-link-imagen":{"main":[[{"index":0,"node":"if-link-encontrado","type":"main"}]]},"send-image":{"main":[[{"index":0,"node":"success","type":"main"}],[{"index":0,"node":"error-send","type":"main"}]]},"trigger-sub-imagen":{"main":[[{"index":0,"node":"resolver-link-imagen","type":"main"}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"be478771-613a-4fc7-ae2c-9311a19af250","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T18:47:21.480Z","createdAt":"2026-03-24T18:47:21.480Z","role":"workflow:owner","workflowId":"2d60n9hx2jPtZYY6","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[{"updatedAt":"2026-06-12T19:57:32.379Z","createdAt":"2026-06-12T19:57:32.379Z","id":"Qv13pR5IETKXFWzL","name":"FER-DEV-S"},{"updatedAt":"2025-12-03T12:12:27.505Z","createdAt":"2025-12-03T12:12:27.505Z","id":"jkaDywac6OCA0JT4","name":"vehiculos"}]}