subflujo-disponibilidad-2Wqi8QWWhXCGRHmK.json
{"updatedAt":"2025-12-18T13:55:26.000Z","createdAt":"2025-12-03T18:49:25.795Z","id":"2Wqi8QWWhXCGRHmK","name":"subflujo-disponibilidad","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1163/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,SERVICIO,FECHA,HORA,TALLER"},{"name":"formula","value":"=FECHA='{{ $('trigger-disponibilidad').item.json.fecha_cita }}' AND TALLER='{{ $('trigger-disponibilidad').item.json.taller_cita }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,208],"id":"4d59809e-f558-4ece-b54c-83ed8af586bc","name":"get-disponibilidad-by-date"},{"parameters":{"jsCode":"// VALIDACIÓN DE FORMATO DE ENTRADA - subflujo-disponibilidad\n\nconst input = $input.first().json;\n\n// Extraer datos\nconst fecha_cita = input.fecha_cita;\nconst hora_cita = input.hora_cita;\nconst taller_cita = input.taller_cita;\n\n// VALIDACIONES\nconst errores = [];\n\n// 1. VALIDAR FECHA (YYYY-MM-DD)\nconst regexFecha = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!fecha_cita || !regexFecha.test(fecha_cita)) {\n  errores.push(`Fecha inválida: \"${fecha_cita}\". Formato requerido: YYYY-MM-DD (ej: 2025-04-30)`);\n}\n\n// 2. VALIDAR HORA (HH:MM)\nconst regexHora = /^\\d{2}:\\d{2}$/;\nif (!hora_cita || !regexHora.test(hora_cita)) {\n  errores.push(`Hora inválida: \"${hora_cita}\". Formato requerido: HH:MM (ej: 10:30)`);\n}\n\n// Validar que sea uno de los 10 turnos válidos\nconst turnosValidos = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\",\"10:30\"\n];\nif (hora_cita && !turnosValidos.includes(hora_cita)) {\n  errores.push(`Hora no permitida: \"${hora_cita}\". Solo se aceptan turnos: ${turnosValidos.join(', ')}`);\n}\n\n// 3. VALIDAR TALLER (valores exactos)\nconst talleresValidos = [\n  \"Nissan - Tucuman\",\n  \"Nissan - Santiago del Estero\"\n];\nif (!taller_cita || !talleresValidos.includes(taller_cita)) {\n  errores.push(`Taller inválido: \"${taller_cita}\". Valores permitidos: \"${talleresValidos[0]}\" o \"${talleresValidos[1]}\"`);\n}\n\n// SI HAY ERRORES: Detener ejecución y retornar error\nif (errores.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: \"VALIDACIÓN_FORMATO_FALLIDA\",\n      errores: errores,\n      datos_recibidos: {\n        fecha_cita,\n        hora_cita,\n        taller_cita\n      }\n    }\n  }];\n}\n\n// SI TODO OK: Pasar datos validados\nreturn [{\n  json: {\n    success: true,\n    fecha_cita,\n    hora_cita,\n    taller_cita\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,224],"id":"608cdbff-1bcf-4a6a-8361-7776d00d4bd2","name":"validar-formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc520898-43cb-4ff9-8ff4-f6df90ab1b89","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,224],"id":"ee9d892d-9450-4f60-9632-9af8a752f5cb","name":"valido?"},{"parameters":{"jsCode":"// PROCESAR DISPONIBILIDAD Y GENERAR RESPUESTA\n\n// Datos de entrada\nconst trigger = $('trigger-disponibilidad').first().json;\nconst httpResponse = $input.first().json;\n\nconst fechaSolicitada = trigger.fecha_cita;\nconst horaSolicitada = trigger.hora_cita;\nconst tallerSolicitado = trigger.taller_cita;\n\n// Todos los turnos posibles del día (cada 15 min de 08:00 a 10:15)\nconst TODOS_LOS_TURNOS = [\n  \"08:00\", \"08:15\", \"08:30\", \"08:45\",\n  \"09:00\", \"09:15\", \"09:30\", \"09:45\",\n  \"10:00\", \"10:15\",\"10:30\"\n];\n\n// Extraer citas del día desde la respuesta del CRM\nconst citasDelDia = httpResponse.InternalObject || [];\n\n// Obtener solo las horas ocupadas (pueden haber duplicados)\nconst horasOcupadas = citasDelDia.map(cita => cita.HORA);\nconst horasOcupadasUnicas = [...new Set(horasOcupadas)]; // eliminar duplicados\n\n// Calcular turnos disponibles\nconst turnosDisponibles = TODOS_LOS_TURNOS.filter(\n  turno => !horasOcupadasUnicas.includes(turno)\n);\n\n// Verificar si el horario solicitado está disponible\nconst estaDisponible = !horasOcupadasUnicas.includes(horaSolicitada);\n\n// Validar si la hora solicitada es válida\nconst esHoraValida = TODOS_LOS_TURNOS.includes(horaSolicitada);\n\n// Generar mensaje descriptivo\nlet mensaje;\nif (!esHoraValida) {\n  mensaje = `La hora ${horaSolicitada} no es un turno válido. Turnos permitidos cada 15 min de 08:00 a 10:15.`;\n} else if (estaDisponible) {\n  mensaje = `✅ El horario ${horaSolicitada} está DISPONIBLE para el ${fechaSolicitada} en ${tallerSolicitado}.`;\n} else {\n  const alternativas = turnosDisponibles.slice(0, 3).join(\", \"); // primeras 3 opciones\n  mensaje = `❌ El horario ${horaSolicitada} está OCUPADO. Horarios disponibles: ${alternativas}${turnosDisponibles.length > 3 ? '...' : ''}`;\n}\n\n// Preparar respuesta estructurada\nconst respuesta = {\n  success: true,\n  horario_solicitado: horaSolicitada,\n  disponible: estaDisponible && esHoraValida,\n  es_horario_valido: esHoraValida,\n  fecha: fechaSolicitada,\n  taller: tallerSolicitado,\n  turnos_ocupados: horasOcupadasUnicas.sort(), // ordenados\n  turnos_disponibles: turnosDisponibles,\n  total_citas_dia: citasDelDia.length,\n  total_turnos_ocupados: horasOcupadasUnicas.length,\n  total_turnos_disponibles: turnosDisponibles.length,\n  mensaje: mensaje,\n  // Info adicional útil para el agente\n  proximos_disponibles: turnosDisponibles.slice(0, 5), // top 5\n  todas_las_citas: citasDelDia.map(c => ({\n    hora: c.HORA,\n    servicio: c.SERVICIO,\n    doc_id: c.DOC_ID\n  }))\n};\n\nreturn [{ json: respuesta }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,240],"id":"1e74413f-554d-41d5-82de-ff635c7c6ed9","name":"prepare-data-response"},{"parameters":{"jsCode":"// En el nodo \"salida_con_error\" (Code node)\nconst errores = $input.first().json.errores || [\"Error de validación\"];\n\nreturn [{\n  json: {\n    success: false,\n    error: \"VALIDACION_FALLIDA\",\n    errores: errores,\n    disponible: false,\n    mensaje: errores.join(\", \")\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,496],"id":"e4734d8d-3d41-4ca8-ae61-4c7a6fcc9e23","name":"salida-con-error"},{"parameters":{"workflowInputs":{"values":[{"name":"fecha_cita"},{"name":"hora_cita"},{"name":"taller_cita"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,240],"id":"f7bb8915-f264-4a3c-bce4-fb65a204a4c4","name":"trigger-disponibilidad"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,208],"id":"880f7b9d-5dba-4274-92d1-a7e200ba1dc2","name":"login_cloudy"}],"connections":{"get-disponibilidad-by-date":{"main":[[{"node":"prepare-data-response","type":"main","index":0}]]},"validar-formato":{"main":[[{"node":"valido?","type":"main","index":0}]]},"valido?":{"main":[[{"node":"login_cloudy","type":"main","index":0}],[{"node":"salida-con-error","type":"main","index":0}]]},"trigger-disponibilidad":{"main":[[{"node":"validar-formato","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-disponibilidad-by-date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7b95d889-66ed-4a5a-aea7-aa48eb099c42","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T18:49:25.798Z","createdAt":"2025-12-03T18:49:25.798Z","role":"workflow:owner","workflowId":"2Wqi8QWWhXCGRHmK","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}