update-perfil-varios-Ul8KfansWAa1C3D0.json
{"updatedAt":"2026-03-24T18:59:59.000Z","createdAt":"2026-03-24T18:59:59.580Z","id":"Ul8KfansWAa1C3D0","name":"update-perfil-varios","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"data","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,208],"id":"9b852bbf-fd3f-4db8-9e68-452f4ba63506","name":"trigger_update_perfil"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst telefono = input.telefono;\nconst data = input.data || {};\n\nconst camposPermitidos = [\n  'nombre', 'email', 'origen', 'domicilio',\n  'modelos_interes', 'grupo_familiar',\n  'credito_bancario', 'presupuesto', 'etapa_actual'\n];\n\n//const updates = {};\n//for (const campo of camposPermitidos) {\n//  if (data[campo] !== undefined && data[campo] !== null && data[campo] !== '') {\n//    updates[campo] = data[campo];\n//  }\n//}\n\nconst updates = {};\nfor (const campo of camposPermitidos) {\n  const valor = data[campo];\n  if (valor === undefined || valor === null || valor === '') continue;\n  \n  // Manejo especial para modelos_interes\n  if (campo === 'modelos_interes') {\n    // Normalizar string a array si el LLM mandó mal\n    const arr = Array.isArray(valor) ? valor : [valor];\n    // Solo guardar si tiene elementos\n    if (arr.length > 0) updates[campo] = arr;\n    continue;\n  }\n  \n  updates[campo] = valor;\n}\n\n\n\nupdates['updated_at'] = new Date().toISOString();\n\nreturn [{\n  json: {\n    telefono,\n    ...updates\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,208],"id":"ed405308-01a2-46d6-82df-41e1e91044c9","name":"filtra-datos"},{"parameters":{"operation":"update","tableId":"nissan_clientes","filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $json.telefono }}"}]},"dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-768,208],"id":"8aa97be5-b814-407c-abd5-a805a861b54d","name":"actualiza_tabla_perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const record = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Perfil actualizado correctamente`,\n    telefono: record.telefono,\n    campos_actualizados: Object.keys(record).filter(k => \n      !['id', 'telefono', 'created_at'].includes(k)\n    ),\n    updated_at: record.updated_at\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"4a2d2e2d-c3cf-4a30-9887-17534a6d7380","name":"salida_success"},{"parameters":{"jsCode":"const error = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: `Error al actualizar perfil`,\n    telefono: $('filtra-datos').first().json.telefono,\n    error_details: error.message || error.error || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,384],"id":"fc2ef170-4acf-49b2-9d0d-ccc81b6f314e","name":"salida_error_db"}],"connections":{"trigger_update_perfil":{"main":[[{"node":"filtra-datos","type":"main","index":0}]]},"filtra-datos":{"main":[[{"node":"actualiza_tabla_perfil","type":"main","index":0}]]},"actualiza_tabla_perfil":{"main":[[{"node":"salida_success","type":"main","index":0}],[{"node":"salida_error_db","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ef5ef6c4-829a-4bfb-866f-63a31fa626fa","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T18:59:59.586Z","createdAt":"2026-03-24T18:59:59.586Z","role":"workflow:owner","workflowId":"Ul8KfansWAa1C3D0","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}