update-perfil-apfOt1wwnUMXCJRa.json
{"updatedAt":"2026-02-24T13:07:10.000Z","createdAt":"2026-02-23T20:59:13.860Z","id":"apfOt1wwnUMXCJRa","name":"update-perfil","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefono"},{"name":"data","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,416],"id":"2691b03e-e0d5-4844-ac4e-b8d47ef8da53","name":"trigger_update_perfil"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst telefono = input.telefono;\nconst data = input.data || {};\n\nconst camposPermitidos = [\n  'nombre', 'email', 'origen', 'domicilio',\n  'modelos_interes', 'grupo_familiar',\n  'credito_bancario', 'presupuesto', 'etapa_actual'\n];\n\n//const updates = {};\n//for (const campo of camposPermitidos) {\n//  if (data[campo] !== undefined && data[campo] !== null && data[campo] !== '') {\n//    updates[campo] = data[campo];\n//  }\n//}\n\nconst updates = {};\nfor (const campo of camposPermitidos) {\n  const valor = data[campo];\n  if (valor === undefined || valor === null || valor === '') continue;\n  \n  // Manejo especial para modelos_interes\n  if (campo === 'modelos_interes') {\n    // Normalizar string a array si el LLM mandó mal\n    const arr = Array.isArray(valor) ? valor : [valor];\n    // Solo guardar si tiene elementos\n    if (arr.length > 0) updates[campo] = arr;\n    continue;\n  }\n  \n  updates[campo] = valor;\n}\n\n\n\nupdates['updated_at'] = new Date().toISOString();\n\nreturn [{\n  json: {\n    telefono,\n    ...updates\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,416],"id":"2686da03-7e9b-493a-93b6-d24b877b7d97","name":"filtra-datos"},{"parameters":{"operation":"update","tableId":"nissan_clientes","filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $json.telefono }}"}]},"dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,416],"id":"4230c598-cde7-4956-9bff-678c30ce6968","name":"actualiza_tabla_perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Dpf2TPT2a5aJ1Q09","name":"nissan-supabase-credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const record = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Perfil actualizado correctamente`,\n    telefono: record.telefono,\n    campos_actualizados: Object.keys(record).filter(k => \n      !['id', 'telefono', 'created_at'].includes(k)\n    ),\n    updated_at: record.updated_at\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,208],"id":"844d5b73-78f5-4885-b5b0-361befbbc29e","name":"salida_success"},{"parameters":{"jsCode":"const error = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: `Error al actualizar perfil`,\n    telefono: $('filtra-datos').first().json.telefono,\n    error_details: error.message || error.error || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,592],"id":"f1da9a4f-dfb8-4389-b3bb-5500acec140b","name":"salida_error_db"}],"connections":{"trigger_update_perfil":{"main":[[{"node":"filtra-datos","type":"main","index":0}]]},"filtra-datos":{"main":[[{"node":"actualiza_tabla_perfil","type":"main","index":0}]]},"actualiza_tabla_perfil":{"main":[[{"node":"salida_success","type":"main","index":0}],[{"node":"salida_error_db","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b5e1bee-27e5-4f36-82f0-8ada7fec9ba8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-23T20:59:13.868Z","createdAt":"2026-02-23T20:59:13.868Z","role":"workflow:owner","workflowId":"apfOt1wwnUMXCJRa","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}