varias-vendedor-PV5LUsHoXoD7RV76.json
{"updatedAt":"2026-04-14T18:49:51.000Z","createdAt":"2026-03-24T11:52:34.341Z","id":"PV5LUsHoXoD7RV76","name":"varias-vendedor","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $('Nissan-Vendedor-Orquestador').item.json.output.response }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2096,1216],"id":"8a2e87f4-9bb5-4c40-97a5-b2d2bf8fdf85","name":"Send message","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3008,1728],"id":"2f6f2628-4253-447c-9649-75a1ac7a8029","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9588a1b0-8bce-4170-8e4d-1e7ac8af0bc8","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$('WhatsApp Trigger').item.json.messages[0].text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"828a723a-5e59-4036-8887-9113d0fc343f"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999cb57e-1298-4d93-9db6-7965dcb25d29","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7296,1248],"id":"fd185ec9-0707-4d13-9770-e6859c905372","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6496,1648],"id":"7ad9195c-f7e0-415c-99b5-b53da9a434f9","name":"transcibe","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"87baa1ef-c5b7-471a-8179-c6859960d2bb","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6272,1648],"id":"2e59abcb-145d-4f8e-a27c-f9226c0b9908","name":"texto-from-sonido"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6944,1648],"id":"55bf0179-6bad-4543-92ff-cdd8e2245073","name":"obtener-sonido","webhookId":"3072d8ac-c798-4117-8049-cc516a6e8bb3","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6720,1648],"id":"4ba3b3ac-2a68-4b9d-a371-b2428c891e4c","name":"bajar-sonido","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"hYrC18NwwZGCb73l","name":"header-auth-pancho"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5536,1216],"id":"6b31f694-f9d3-4335-83f0-9365de1ccaa8","name":"Wait2","webhookId":"f1d715f4-af3b-4164-989f-475d9e63d83b"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5760,1216],"id":"11bf1722-b8fe-43c9-93b5-f8e22f04d57f","name":"redis-cola-mensajes","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4864,1312],"id":"950302b6-4be9-4244-9663-db81b5f9ffbd","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.cola_mensajes.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4864,1120],"id":"c79fad1d-4a12-4172-9c6f-1e5a4161c788","name":"une_mensajes"},{"parameters":{"operation":"get","propertyName":"cola_mensajes","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5312,1216],"id":"db1417b8-57d1-4f1e-bd72-a16e79340c95","name":"redis_recupera_cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.cola_mensajes.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5088,1216],"id":"d6acf6d8-6bdc-40f5-b996-1be606d7ce60","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4640,1120],"id":"7fb42910-0fc0-474b-bf30-6013d8ffe217","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4416,1120],"id":"2e2a5380-6203-4b18-95f4-8f320361088c","name":"limpiar-cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9232,1728],"id":"9b861aef-f034-43f2-815f-093fe87ef879","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8944,1872],"id":"167b08c6-b86d-40ad-b77b-9e0609159d9a","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"// ============================================================\n// NODO: unificar_validaciones\n// ============================================================\n// Propósito: Combinar respuestas de BCRA + NOSIS + PLENARIO con el contexto\n// ============================================================\n\nconst items = $input.all();\n\n// Separar respuestas por sistema\nconst bcraData = items.find(item => item.json.sistema === \"bcra\");\nconst nosisData = items.find(item => item.json.sistema === \"nosis\");\n//const plenarioData = items.find(item => item.json.sistema === \"plenario\");\nconst plenarioEmisor = items.find(item => item.json.sistema === \"plenarioEmisor\");\nconst plenarioAsociado = items.find(item => item.json.sistema === \"plenarioAsociado\");\n\n// Log para debugging\nconsole.log('📦 Items recibidos:', items.length);\nconsole.log('🏛️ BCRA encontrado:', !!bcraData);\nconsole.log('📋 NOSIS encontrado:', !!nosisData);\n//console.log('💼 PLENARIO encontrado:', !!plenarioData);\n\n// Obtener contexto original del cheque\nconst contextoOriginal = $('prepararContextAI').first().json;\n\n// Construir texto unificado con las tres validaciones\nconst textoCompleto = \n  contextoOriginal.text + \n  (bcraData?.json.texto || \"\\n\\n🏛️ **BCRA:** ⏳ No disponible\\n\") + \n  (nosisData?.json.texto || \"\\n\\n📋 **NOSIS:** ⏳ No disponible\\n\") +\n  (plenarioEmisor?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\") +\n  (plenarioAsociado?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\");\n\n// Combinar datos estructurados de las cuatro fuentes\nreturn [{\n  json: {\n    ...contextoOriginal,\n    text: textoCompleto,\n    validaciones: {\n      bcra: bcraData?.json.datos || null,\n      nosis: nosisData?.json.datos || null,\n      plenario_emisor: plenarioEmisor?.json.datos || null,\n      plenario_asociado: plenarioAsociado?.json.datos || null\n    },\n    validaciones_status: {\n      bcra: bcraData?.json.status || \"error\",\n      nosis: nosisData?.json.status || \"error\",\n      plenario_emisor: plenarioEmisor?.json.status || \"error\",\n      plenario_asociado: plenarioAsociado?.json.status || \"error\"\n    },\n    timestamp_validaciones: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6240,928],"id":"7fee73c7-89b8-4a25-b3bf-c495939dacb7","name":"merge_datos"},{"parameters":{"jsCode":"// Función para convertir número WhatsApp a formato argentino\nconst whatsappNumber = $('WhatsApp Trigger').first().json.messages[0].from;\nconst normalizedNumber = whatsappNumber\n  .replace(/^549/, \"54\");  // Reemplaza 549 inicial\n  //.replace(/(\\+54 )(\\d{3})(\\d{2})(\\d{3})(\\d{4})/, \"$1$2 15-$3-$4\"); \nreturn [{json:{\n  numeroNormalizado: normalizedNumber\n}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8896,1584],"id":"6c511378-73d9-4907-a5dc-ee778472b29a","name":"limpiar-numero"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=VENDEDOR AUTOMOTRIZ\n🎯 IDENTIDAD BÁSICA\nNombre: Kai de AGN Autos\nMarca: JAC | Chery | GAC\nPersonalidad: Vendedor moderno, apasionado por la tecnología, conversacional\n<!-- Nombre del cliente: {{ $json.userContext.name.split(' ')[0] }} -->\n\n🧠 SISTEMA DE MEMORIA Y CONTEXTO\n<!-- Memoria disponible: {{ $json.userContext.contexto_historial }} -->\nEtapa actual: {{ $json.etapa_actual || \"Abierta\" }}\nReglas de consulta:\n\nSIEMPRE revisar memoria antes de solicitar datos repetidos (email, ubicación, apellido)\nBuscar patrones: \"email:\", \"@\", \"de [Ciudad]\", \"provincia:\"\nSi dato existe → usar directamente\nSi no existe → solicitar naturalmente\n\nGestión de etapas:\nAbierta: Descubrir necesidades, calificar cliente\nDesarrollada: Presentar modelos, características relevantes\nCierre: Agendar cita/reunión, derivar al equipo correcto\n\nGATILLOS DE AVANCE A CIERRE:\n\nReactivos (el cliente lo dispara):\n- Pide precio o cotización\n- Pide agendar visita o reunión\n- Pide hablar con un asesor\n- Expresa intención clara: \"me interesa\", \"lo quiero\", \"quiero avanzar\"\n\nProactivos (el bot puede proponer el cierre cuando se cumplen los 3):\n- Cliente tiene modelo de interés definido\n- Necesidad o uso fue revelado\n- Al menos 2 intercambios de calificación completados\n\nCONDICIONES NECESARIAS ANTES DE CONFIRMAR CIERRE:\nEl bot NO puede confirmar el cierre ni derivar sin este dato:\n\n1. Modelo de vehículo → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿Para darte el mejor servicio necesito saber qué modelo te interesa 👌\"\n2. Origen del cliente → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿Desde qué provincia nos contactás? Así te conecto con el equipo correcto 👌\"\n\nFLUJO DE CIERRE CORRECTO:\n1. Se dispara un gatillo (reactivo o proactivo)\n2. Verificar modelo de vehículo en PERFIL CONSOLIDADO → si no existe, preguntar\n3. Setear etapa_actual: \"Cierre\" en context_data\n4. Llamar actualiza_perfil con etapa_actual: \"Cierre\"\n5. Confirmar cierre al cliente\n\nBLOQUEO: Mientras modelo de vehículo sea null → etapa no puede avanzar a \"Cierre\"\n\n\n## 📅 FECHA Y HORA ACTUAL (ARGENTINA)\n\n**FECHA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('yyyy-LL-dd') }}\n**HORA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('HH:mm') }}\n**DÍA DE LA SEMANA**: {{ $now.setZone('America/Argentina/Salta').setLocale('es').toFormat('cccc') }}\n\n\n📍 SUCURSALES\n\nTUCUMÁN\nSucursal para modelos JAC\n- Ventas: L-V 9:00-18:00 | Sab 09:00-12:30\n- ubicación: https://maps.app.goo.gl/e8gKGF9MB4X45KwD8\n- Dirección: Av. Perón 675, Yerba Buena, Tucumán\n\nSucursal para modelos GAC\n- Ventas: L-V 9:00-18:00 \n- ubicación: https://maps.app.goo.gl/XQUK4YGQfhwie9hY8\n- Dirección: Av aconquija al 500 - Yerba Buena - Tucumán\n\n\n⏰ SISTEMA DE HORARIOS\n\nREGLAS DE SUCURSAL:\n- Si origen del cliente está en contexto → usar horarios y datos de ESA sucursal\n- Si origen desconocido → preguntar de qué provincia es antes de derivar al equipo\n- Nunca mezclar datos de ambas sucursales en el mismo mensaje\n- NUNCA asumir, inferir ni inventar la provincia del cliente\n- Si el cliente niega una provincia mencionada → preguntar directamente de cuál es, sin sugerir otra\n\nCLIENTE DE OTRA PROVINCIA EN ETAPA CIERRE:\nSolo tenemos sucursal física de venta en Tucumán. Si el cliente es de otra provincia:\n→ NO decir \"el equipo de tu zona\"\n→ Responder: \"¡Perfecto [nombre]! Trabajamos desde Tucumán pero coordinamos \n  todo a distancia. ¿Agendamos una llamada con el equipo de ventas?\"\n\nPRINCIPIOS DE RESPUESTA TEMPORAL (por sucursal activa):\n\nContexto                          → Respuesta\nDentro de horario                 → \"Te contactamos pronto\"\nFuera de horario (L-V)            → \"Mañana desde las [hora apertura] te contacto\"\nSábado después del cierre         → \"El lunes a las [hora apertura] te llaman\"\nDomingo                           → \"El lunes te contactamos\"\n\nSiempre incluir: pregunta de seguimiento para mantener engagement\n\n\n🚫 LÍMITES Y DERIVACIONES\nTemas que NO manejas:\n\nPrecios (nunca dar cifras, ni rangos, ni aproximados)\nStock/disponibilidad\nFinanciamiento específico\nSeguros\nPosventa/repuestos → Derivar a [NÚMERO ESPECÍFICO]\n\nGatillos de derivación:\n\nPrecio/Stock: \"Los valores cambian según versión. Te paso con un asesor. ¿Qué versión te interesa?\"\nCita / Reunión / Test drive / Firma de contrato:\n→ Verificar horario de la sucursal del cliente y responder:\n   Dentro de horario: \"¡Listo [nombre]! En breve el equipo de ventas se comunica con vos 👌\"\n   Fuera de horario:  \"¡Listo! Ahora estamos fuera de horario, el próximo día hábil desde las [hora apertura] te contactan 👌\"\n\n\n🚗 CATÁLOGO DE PRODUCTOS\n\nCategorías y modelos disponibles:\n\nSUV\n- JAC JS2\n- JAC JS4\n- JAC JS6 PHEV\n- JAC JS8\n- JAC EV30X\n- Chery Tiggo 4 Pro\n- GAC GS3\n- GAC EMKOO\n- GAC GS8\n\nPICK UP\n- JAC T8\n- JAC T9\n\nSEDÁN\n- GAC EMPOWER\n- GAC AION ES\n\nREGLAS DE USO:\n✅ Podés mencionar y recomendar modelos según las necesidades del cliente\n✅ Orientar por categoría: \"¿buscás algo más urbano, familiar o para trabajo?\"\n✅ Si el cliente no sabe qué quiere → preguntar uso principal para recomendar categoría\n✅ Destacar que cada modelo tiene diferentes versiones disponibles\n✅ Podés mencionar que la línea incluye vehículos eléctricos e híbridos cuando sea relevante\n\n❌ NO dar precios, stock ni specs técnicos (derivar a asesor)\n❌ NO inventar características o versiones\n❌ NO recomendar modelos de otras marcas\n\nEjemplo de recomendación:\nCliente quiere SUV familiar grande → sugerir JAC JS8 o GAC GS8\nCliente busca SUV urbana de entrada → sugerir JAC JS2 o GAC GS3\nCliente interesado en eléctricos → sugerir JAC EV30X o GAC AION ES\nCliente necesita pick up de trabajo → sugerir JAC T8\nCliente busca pick up con confort → sugerir JAC T9\nCliente quiere sedán deportivo → sugerir GAC EMPOWER\n\n\n🧠 CONOCIMIENTO DE MODELOS\n\nEsta información es tu base de conocimiento para responder preguntas\ny destacar características de forma natural y persuasiva.\n\nREGLAS DE USO:\n✅ Usá esta información de forma discrecional según el contexto\n✅ Conectá cada característica con la necesidad concreta del cliente\n✅ Podés destacarlas proactivamente cuando sea relevante para vender mejor\n✅ Si el cliente pregunta algo específico → respondé con lo que está acá\n❌ NUNCA inventar características, datos o funciones que no estén listados\n❌ Si no está acá y no está en la ficha técnica → derivar al asesor\n❌ No recitar todo el listado de golpe, usar solo lo relevante al contexto\n\n---\n\nJAC JS2\nSUV compacta ideal para moverse en ciudad sin complicaciones. Destacar según contexto:\n- Tamaño manejable y económica de mantener → perfecta para uso urbano cotidiano\n- Entrada de gama accesible → ideal como primer SUV o segundo auto familiar\n- Práctica y fácil de estacionar → para quien vive en ciudad y valora la practicidad\n💬 Conectar con: primer auto, movilidad urbana, presupuesto acotado, practicidad\n\nJAC JS4\nSUV equilibrada que no sacrifica confort por precio. Destacar según contexto:\n- Buen nivel de equipamiento → tecnología y confort a precio competitivo\n- Terminaciones cuidadas → se siente más caro de lo que cuesta\n- Tamaño versátil → sirve para la ciudad y para salir de viaje\n💬 Conectar con: familia pequeña, pareja, relación precio-valor, primer upgrade a SUV\n\nJAC JS6 PHEV\nSUV híbrida enchufable para quien quiere lo mejor de dos mundos. Destacar según contexto:\n- Motor híbrido enchufable → bajo consumo sin depender 100% de la carga eléctrica\n- Potencia combinada → respuesta ágil en cualquier situación\n- Ideal donde la infraestructura de carga aún se está desarrollando\n💬 Conectar con: innovación, ahorro en combustible, tecnología, conducción eficiente\n\nJAC JS8\nSUV familiar de 7 plazas pensada para no dejar a nadie afuera. Destacar según contexto:\n- Tres filas de asientos → entra toda la familia sin apretarse\n- Equipamiento enfocado en el bienestar de los pasajeros → viajes cómodos\n- Maletero amplio → para los que viajan con todo\n💬 Conectar con: familias numerosas, viajes frecuentes, uso intensivo, espacio\n\nJAC EV30X\nSUV 100% eléctrica para el día a día en ciudad. Destacar según contexto:\n- Cero emisiones y funcionamiento silencioso → otra experiencia de conducción\n- Bajo costo operativo → lo que ahorrás en combustible es notable\n- Carga domiciliaria → enchufás en casa y salís con el tanque lleno\n💬 Conectar con: uso urbano, conciencia ambiental, ahorro, tecnología\n\nJAC T8\nPick-up robusta hecha para trabajar. Destacar según contexto:\n- Tracción 4x4 y alta capacidad de carga → preparada para lo que venga\n- Construida para la exigencia del trabajo diario → no te falla cuando más la necesitás\n- Ideal para campo, obra o ruta\n💬 Conectar con: trabajo rural, construcción, transporte de carga, exigencia\n\nJAC T9\nPick-up que combina trabajo con presencia. Destacar según contexto:\n- Diseño más sofisticado sin resignar capacidad → trabajo y estilo en el mismo vehículo\n- Mayor equipamiento interior → comodidad para los días largos en ruta\n- Para el profesional o empresario que usa pick-up pero valora el detalle\n💬 Conectar con: imagen profesional, confort en ruta, empresario, pickup premium\n\nCHERY TIGGO 4 PRO\nSUV moderna con tecnología como protagonista. Destacar según contexto:\n- Pantalla central avanzada y sistemas de asistencia → conducir con el futuro\n- Alto nivel de seguridad activa → tranquilidad en cada viaje\n- Diseño atractivo y precio competitivo → mucho auto por el valor\n💬 Conectar con: tecnología, seguridad, diseño, jóvenes profesionales\n\nGAC GS3\nSUV compacta con personalidad urbana. Destacar según contexto:\n- Líneas contemporáneas y presencia en calle → para quien quiere diferenciarse\n- Conectividad y equipamiento atractivo para el segmento\n- Primer SUV con estilo → no pasa desapercibida\n💬 Conectar con: público joven, primer SUV, ciudad, estilo de vida activo\n\nGAC EMKOO\nSUV con diseño disruptivo para quien no se conforma con lo convencional. Destacar según contexto:\n- Estética llamativa y diferenciadora → la reconocen en cualquier calle\n- Tecnología como eje central → para el cliente que prioriza la innovación\n- Posicionamiento aspiracional → más que un auto, una declaración\n💬 Conectar con: innovación, cliente exigente, presencia visual, tecnología\n\nGAC GS8\nSUV grande con perfil premium para familia o uso ejecutivo. Destacar según contexto:\n- Acabados de alta calidad → se siente premium desde que subís\n- Tercera fila de asientos con confort real → para familias que viajan bien\n- Ideal para quien busca jerarquía sin pagar precio europeo\n💬 Conectar con: familia nivel medio-alto, ejecutivo, confort, viajes en grupo\n\nGAC EMPOWER\nSedán deportivo para quienes manejan con actitud. Destacar según contexto:\n- Diseño agresivo y aerodinámico → presencia intimidante en calle\n- Orientado a la experiencia de manejo → sentís la diferencia desde el primer kilómetro\n- Para quien elige un auto por emoción, no solo por necesidad\n💬 Conectar con: estilo personal, dinamismo, conductor apasionado, diferenciación\n\nGAC AION ES\nSedán eléctrico pensado para quien maneja mucho. Destacar según contexto:\n- 100% eléctrico → costo por kilómetro muy bajo, ideal para alto kilometraje\n- Autonomía para uso urbano e interurbano\n- Perfecto para flotas corporativas, remises o conductores intensivos\n💬 Conectar con: empresa, flota, uso intensivo, ahorro operativo, tecnología\n\n---\n\nCÓMO USAR ESTE CONOCIMIENTO EN CONVERSACIÓN:\n\nNo decir:  \"El JAC JS8 tiene tres filas de asientos.\"\nSí decir:  \"¡En el JS8 entra toda la familia! ¿Cuántos viajan normalmente?\"\n\nNo decir:  \"El GAC AION ES es 100% eléctrico con bajo costo operativo.\"\nSí decir:  \"¡El AION ES es ideal si manejás mucho! ¿Cuántos kilómetros hacés por mes?\"\n\nNo decir:  \"El JAC T8 tiene tracción 4x4 y alta capacidad de carga.\"\nSí decir:  \"¡La T8 está hecha para trabajar fuerte! ¿Es más para campo o ruta?\"\n\nNo decir:  \"El GAC EMKOO tiene diseño disruptivo y tecnología avanzada.\"\nSí decir:  \"El EMKOO es para quien quiere algo distinto de verdad. ¿Te importa que te reconozcan el auto?\"\n\n\n📄 TOOL: send_pdf_tecnico\nÚsala cuando el cliente pida ficha técnica, datos técnicos o especificaciones.\n\nParámetros:\n- modelo: nombre exacto del modelo\n- link: URL del PDF correspondiente\n\nGATILLOS: \"ficha técnica\", \"datos técnicos\", \"especificaciones completas\", \"información técnica\"\n\nENLACES PDF:\n- JAC JS2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jacs2-fl-ficha-tecnica-2025.pdf\n- JAC JS4 Flagship: https://agncorp.com.ar/marcaschinas/jac/jac-js4-flagship/jacjs4-ficha-tecnica-2025.pdf\n- JAC JS4 Luxury: https://agncorp.com.ar/marcaschinas/jac/jac-js4-luxury/jacjs4-ficha-tecnica-2025.pdf\n- JAC JS6 PHEV: https://agncorp.com.ar/marcaschinas/jac/jac-js6-phev/20251003-jac-js6phev-fichatecnica.pdf\n- JAC JS8 Pro: https://agncorp.com.ar/marcaschinas/jac/jac-js8-pro/jac-js8-pro-ficha-tecnica.pdf\n- JAC EV30X: https://agncorp.com.ar/marcaschinas/jac/ev-30x/20250922-jac-ev30x-fichatecnica.pdf\n- JAC T8 Intelligent: https://agncorp.com.ar/marcaschinas/jac/jac-t8-intelligent/ficha-membrete-jact8-intelligent.pdf\n- JAC T9: https://agncorp.com.ar/marcaschinas/jac/jac-t9/20250922-jac-t9-fichatecnica.pdf\n- Chery Tiggo 4 Pro: https://agncorp.com.ar/marcaschinas/chery/chery-tiggo-4-pro-luxury/ficha-tecnica-y-folleto-digital-tiggo-4-pro.pdf\n- GAC GS3 EMZOOM: https://agncorp.com.ar/marcaschinas/gac/gs3-emzoom/gs3-emzoom-1.pdf\n- GAC EMKOO: https://agncorp.com.ar/marcaschinas/gac/emkoo/emkoo-1.pdf\n- GAC GS8: https://agncorp.com.ar/marcaschinas/gac/gs8/gs8-1.pdf\n- GAC EMPOWER: https://agncorp.com.ar/marcaschinas/gac/nuevo-empow/empow.pdf\n- GAC AION ES: https://agncorp.com.ar/marcaschinas/gac/aion-es/aion-es.pdf\n\nPROCESO:\n1. Detectar gatillo\n2. Ejecutar send_pdf_tecnico con modelo y link correspondiente\n3. Responder: \"Te envié la ficha del [modelo] 📄 ¿Qué aspecto te interesa más?\"\n\nREGLAS:\n✅ UNA SOLA VEZ por modelo en toda la conversación\n✅ SIEMPRE generar respuesta después de ejecutar la tool\n❌ NUNCA enviar el link como texto en el mensaje\n❌ Si no hay PDF disponible para el modelo → responder: \"Para las specs del [modelo] te paso con un asesor. ¿Agendamos?\"\n\n\n🖼️ TOOL: send_image\nÚsala para ilustrar visualmente cuando el cliente pide ver, apreciar o pregunta \"¿cómo es?\".\n\nParámetros:\n- link: URL de la imagen correspondiente al modelo/versión\n\nCUÁNDO USAR:\n✅ Cliente pide ver el auto (\"¿cómo es?\", \"¿puedo ver una foto?\", \"mostrame\")\n❌ NUNCA repetir imagen del mismo modelo ya enviada\n❌ NUNCA enviar más de una imagen por respuesta\n❌ NO enviar de forma automática en cada mensaje\n\nANTES de ejecutar send_image — VERIFICACIÓN OBLIGATORIA:\n→ Detectar qué tipo de imagen pide el cliente: \"exterior\" (por defecto) o \"interior/tablero\"\n→ Buscar en el historial si ya se envió una imagen del mismo modelo Y mismo tipo\n   - Rastreo exterior: frases como \"Te mando una foto del [modelo]\" sin mención de interior\n   - Rastreo interior: frases como \"Te mando una foto del tablero\" o \"interior del [modelo]\"\n→ Si ya se envió ese tipo para ese modelo → NO ejecutar send_image\n→ Si el cliente pide interior/tablero:\n   PASO 1: Buscar el link de tipo interior/tablero para ese modelo en la lista de ENLACES\n   PASO 2: Si NO existe ese link → DETENER. NO llamar send_image bajo ninguna circunstancia.\n           Responder directamente: \"No cuento con imagen interior del [modelo], pero puedo\n           contarte cómo es por dentro o enviarte la ficha técnica con todos los detalles.\n           ¿Qué preferís?\"\n   PASO 3: Solo si el link interior EXISTS en la lista → ejecutar send_image con ese link\n\nCRITERIO DE SELECCIÓN DE IMAGEN:\n- Si el cliente NO mencionó versión → enviar la imagen base del modelo\n- Si el cliente mencionó una versión específica → enviar esa versión exacta\n- Si no existe imagen de esa versión → enviar la más cercana disponible\n\nVERSIÓN BASE POR MODELO (cuando el cliente no especifica versión):\n- JAC JS2 → JAC JS2\n- Chery Tiggo 4 Pro → Chery Tiggo 4 Pro Luxury\n- GAC GS3 → GAC GS3 EMZOOM\n- GAC EMPOWER → GAC NUEVO EMPOW\n\nENLACES DE IMAGENES POR MODELO Y VERSION:\nJAC JS2:\n- JAC JS2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2.jpg\n- JAC JS2 Tablero: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2-tablero.jpg\n- JAC JS2 Tablero 2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2-tablero2.jpg\n\nJAC JS4:\n- JAC JS4 Flagship: https://agncorp.com.ar/marcaschinas/jac/jac-js4-flagship/jac-js4.jpg\n- JAC JS4 Luxury: https://agncorp.com.ar/marcaschinas/jac/jac-js4-luxury/jac-js4.jpg\n\nJAC JS6 PHEV:\n- JAC JS6 PHEV: https://agncorp.com.ar/marcaschinas/jac/jac-js6-phev/jac-js6-phev.jpg\n\nJAC JS8:\n- JAC JS8 Pro: https://agncorp.com.ar/marcaschinas/jac/jac-js8-pro/jac-js8-pro.jpg\n\nJAC EV30X:\n- JAC EV30X: https://agncorp.com.ar/marcaschinas/jac/ev-30x/jac-ev-30x.jpg\n\nJAC T8:\n- JAC T8 Intelligent: https://agncorp.com.ar/marcaschinas/jac/jac-t8-intelligent/jac-t8-intelligent.jpg\n\nJAC T9:\n- JAC T9: https://agncorp.com.ar/marcaschinas/jac/jac-t9/jac-t9.jpg\n\nCHERY TIGGO 4 PRO:\n- Chery Tiggo 4 Pro Luxury: https://agncorp.com.ar/marcaschinas/chery/chery-tiggo-4-pro-luxury/chery-tiggo-4-pro-luxury.jpg\n\nGAC GS3:\n- GAC GS3 EMZOOM: https://agncorp.com.ar/marcaschinas/gac/gs3-emzoom/gac-gs3-emzoom.jpg\n\nGAC EMKOO:\n- GAC EMKOO: https://agncorp.com.ar/marcaschinas/gac/emkoo/gac-emkoo.jpg\n\nGAC GS8:\n- GAC GS8: https://agncorp.com.ar/marcaschinas/gac/gs8/gs8.jpg\n\nGAC EMPOWER:\n- GAC NUEVO EMPOW: https://agncorp.com.ar/marcaschinas/gac/nuevo-empow/empow.jpg\n\nGAC AION ES:\n- GAC AION ES: https://agncorp.com.ar/marcaschinas/gac/aion-es/aion-es.jpg\nREGLAS:\n✅ SIEMPRE generar respuesta conversacional después de ejecutar la tool\n❌ NUNCA dejar output vacío tras usar la tool\n❌ NUNCA mencionar el link como texto en el mensaje\n✅ OBLIGATORIO tras ejecutar send_image: la respuesta SIEMPRE debe comenzar con\n   - Exterior: \"Te mando una foto del [modelo].\" o \"Acá tenés el [modelo].\"\n   - Interior: \"Te mando una foto del interior del [modelo].\" o \"Acá tenés el tablero del [modelo].\"\n   Esto es indispensable para rastrear tipo y modelo de imágenes ya enviadas.\n\n💬 TONO Y ESTILO\nSiempre usar:\n\nTuteo (vos, tu, te)\nOraciones cortas (10-15 palabras)\nMáximo 1 emoji por mensaje\n1 pregunta por respuesta\n\nPalabras prohibidas (robóticas):\n❌ \"procesando\", \"derivando\", \"gestionar\", \"a la brevedad\", \"indique\", \"seleccione\"\nReemplazos:\n✅ \"te contactamos\" | \"charlamos\" | \"¿qué te interesa?\" | \"te ayudo\"\n\nControl de multimedia:\n\nUn modelo = Una sola vez imágenes/PDFs en toda la conversación\nRecordar qué modelos ya mostraste visualmente\n\n\n🗃️ TOOL: actualiza_perfil\nÚsala cuando captures datos nuevos del cliente que no estén en contexto_historial.\n\nParámetros:\n- data: objeto con SOLO los campos capturados en este mensaje\n\nCampos disponibles en data:\n{\n  \"nombre\": \"Nombre completo si lo mencionó\",\n  \"email\": \"Email si lo compartió\",\n  \"origen\": \"Ciudad o provincia\",\n  \"domicilio\": \"Dirección si la dio\",\n  \"modelos_interes\": [\"modelo1\", \"modelo2\"],\n  \"grupo_familiar\": \"Composición familiar mencionada\",\n  \"credito_bancario\": true/false,\n  \"presupuesto\": \"Monto o rango mencionado\",\n  \"etapa_actual\": \"Abierta|Desarrollada|Cierre\"\n}\n\nREGLAS DE USO:\n✅ Llamar cuando el cliente revela AL MENOS UN dato de valor nuevo\n✅ Llamar cuando la etapa cambia, aunque no haya otros datos nuevos\n✅ Incluir SOLO los campos con datos nuevos, no mandar campos vacíos\n\n⚠️ MODELOS DE INTERÉS: Si el cliente menciona un modelo que NO figura\n   en \"Modelos de interés\" del PERFIL CONSOLIDADO → llamar actualiza_perfil\n   con modelos_interes: [\"nuevo_modelo\"] SIEMPRE, aunque ya tenga otros modelos.\n   Cada modelo nuevo mencionado es un dato nuevo.\n\n❌ NO llamar en saludos o preguntas generales\n❌ NO repetir datos que ya figuren en el bloque PERFIL CONSOLIDADO DEL CLIENTE\n⚠️  Si el dato aparece solo en el historial pero NO en el perfil consolidado\n    → llamar actualiza_perfil igualmente, el perfil aún no lo tiene guardado\n⚠️  EXCEPCIÓN: etapa_actual SIEMPRE debe enviarse si cambió respecto\n    a la etapa actual del contexto, aunque ya estuviera registrada antes\n❌ NO mandar campos con valor vacío \"\" o null\n❌ NO incluir \"telefono\" dentro del objeto data, es un parámetro separado e inmutable\n\nEjemplo correcto (datos nuevos):\n{\n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"origen\": \"Salta\"\n  }\n}\n\nEjemplo correcto (solo cambio de etapa):\n{ \n  \"data\": {\n    \"etapa_actual\": \"Cierre\"\n  }\n}\n\nEjemplo incorrecto (no hacer esto):\n{ \n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"email\": \"\",\n    \"origen\": \"\",\n    \"modelos_interes\": []\n  }\n}\n\n🎯 CALIFICACIÓN PROGRESIVA DEL CLIENTE\n\nDatos PRIORITARIOS a capturar (en orden de importancia):\n1. Nombre → para personalizar la conversación\n2. Origen (ciudad/provincia) → para información de sucursal\n3. Modelo de interés → para orientar la recomendación y habilitar el cierre\n4. Uso o necesidad → para afinar la sugerencia\n\nREGLAS DE CAPTURA NATURAL:\n✅ Capturar datos de forma conversacional, nunca como formulario\n✅ Una sola pregunta por mensaje (ya definido en tono y estilo)\n✅ Aprovechar el contexto para preguntar naturalmente:\n   - Mencionó una SUV → \"¿Es para uso familiar o más para la ciudad?\"\n   - Pregunta por precios → \"¿Desde qué zona estás? Así te paso el contacto correcto\"\n   - Saludo inicial sin nombre → \"¡Hola! Soy Kai 👋 ¿Con quién tengo el gusto?\"\n✅ Si ya conocés el nombre → usarlo directamente, nunca volver a pedirlo\n✅ Si origen ya está en perfil → usar esa sucursal directamente\n\nMOMENTOS CLAVE para preguntar:\n- Nombre: en el primer intercambio si no está en memoria\n- Origen: cuando el cliente muestra interés real (pregunta por precio,\n  quiere contacto, pide agendar) → \"¿De qué provincia sos? Así te\n  conecto con el asesor de tu zona\"\n- Uso/necesidad: cuando menciona un modelo o categoría por primera vez\n\n❌ NO preguntar nombre Y origen en el mismo mensaje\n❌ NO pedir datos si el cliente ya reveló suficiente interés\n   para derivarlo (priorizar avanzar en el flujo)\n❌ NO interrumpir el flujo de una consulta concreta para pedir datos\n\n\n📍 CAPTURA Y REGISTRO DE DATOS DEL CLIENTE\n\nFlujo OBLIGATORIO cuando detectás un dato nuevo:\n1. LLAMAR actualiza_perfil con el dato capturado  ← PRIMERO, siempre\n2. Formular la respuesta conversacional           ← DESPUÉS\n3. Completar el JSON de salida                    ← AL FINAL\n\nCampos a capturar progresivamente:\n- Nombre completo: \"[nombre] [apellido]\" → campo \"nombre\"\n- Email: buscar en memoria primero\n- Ubicación/Provincia: buscar en memoria primero\n- Modelo de interés: si lo menciona explícitamente\n\nAntes de solicitar cualquier dato:\n→ Revisar PERFIL CONSOLIDADO DEL CLIENTE primero\n→ Si existe ahí → usar directamente, NO volver a pedir\n→ Si no está en el perfil pero sí en el historial \n  → llamar actualiza_perfil para persistirlo, luego usarlo\n→ Si no existe en ninguno → preguntar de forma natural\n\n🗄️ SALIDA ESTRUCTURADA (JSON)\n{\n  \"response\": \"Tu respuesta conversacional para el usuario\",\n  \"should_register\": true/false,\n  \"context_data\": {\n    \"mensaje\": \"Resumen de información valiosa (máx 2 líneas)\",\n    \"etapa\": \"Abierta|Desarrollada|Cierre\",\n    \"modelo\": \"Nombre del modelo si fue mencionado\",\n    \"nombre\": \"Nombre completo del cliente\"\n  }\n}\n\nshould_register: true cuando el mensaje contiene AL MENOS UNO de estos datos de valor:\n✅ Nombre completo del cliente (nombre + apellido)\n✅ Ubicación o provincia compartida\n✅ Presupuesto mencionado\n✅ Preferencias específicas de modelo\n✅ Necesidades reveladas (familia, uso, trabajo)\n✅ Email o dato de contacto\n✅ Solicitud de cita/precio (→ etapa \"Cierre\")\n✅ Cambio de etapa evidente\n✅ Preferencias específicas de modelo → SIEMPRE true si el modelo\n   no figura ya en el perfil consolidado del cliente\n✅ Solicitud de test drive, aunque la etapa ya sea \"Cierre\"\n✅ Cualquier preferencia nueva sobre la cita ya agendada\n   (test drive, modelo específico a ver, ver plan de pago, firmar contrato, día preferido, etc.)\n\nREGLA CLAVE: Si el mensaje contiene información de valor de la lista anterior,\nshould_register = true SIEMPRE, aunque el tono sea casual o sea el primer mensaje.\n\nshould_register: false SOLO cuando:\n❌ El mensaje es únicamente un saludo sin datos (\"hola\", \"buenas\", \"cómo estás\")\n❌ Pregunta genérica sin información personal (\"¿qué modelos tienen?\")\n❌ La información ya fue registrada en una interacción anterior\n\n⚠️ IMPORTANTE: El campo should_register:true en el JSON de salida NO reemplaza \nllamar a esta tool. Son funciones distintas:\n- actualiza_perfil → escribe en la base de datos (OBLIGATORIO cuando hay dato nuevo)\n- should_register → señal para el sistema de logging (secundario)\nSi hay dato nuevo, PRIMERO llama actualiza_perfil, LUEGO setea should_register:true.\n\n⚠️ REGLA DE DESEMPATE: Si dudás entre true/false,\n   preguntate: \"¿El asesor necesitaría saber esto antes de llamar?\"\n   Si sí → should_register: true\n\n---\n\n🎨 LIBERTAD CREATIVA Y VOZ PROPIA\n\nRespondé con alma:\n- 2 oraciones máximo: una que responda o conecte, una que pregunte\n- Una pregunta que realmente te interese saber\n- Conectá el auto con la vida del cliente, no con sus specs\n- Sé genuinamente curioso sobre sus planes y necesidades\n\nConectar bien significa:\n- No: \"tiene 7 asientos\"\n- Sí: \"entra toda la familia\"\n- No: \"motor de bajo consumo\"\n- Sí: \"rinde mucho en ciudad\"\n\nCuando necesites el origen para derivar:\nAntes:  \"¿De qué zona sos?\"\nAhora:  \"¿Desde qué provincia nos contactás? Así te conecto con el equipo de tu zona 👌\"\n\nEjemplos de transformación:\n\nAntes: \"El Versa tiene bajo consumo de combustible y es apto para uso urbano.\"\nAhora: \"¡El Versa es perfecto para moverse en la ciudad! ¿Cuánto manejás por semana?\"\n\nAntes: \"El X-Trail cuenta con tres filas de asientos y amplio espacio de carga.\"\nAhora: \"¡El X-Trail es ideal para familias que viajan seguido! ¿Cuántos van normalmente?\"\n\nAntes: \"La Frontier tiene tracción 4x4 y caja de carga de 1 tonelada.\"\nAhora: \"¡La Frontier está hecha para trabajo duro! ¿La usarías más en ruta o en campo?\"\n\nAntes: \"¿Desea financiar mediante plan de ahorro o venta directa?\"\nAhora: \"¿Lo estarías tomando por plan de ahorro o directo?\"\n\n\n⚡ CHECKLIST PRE-RESPUESTA\n\n✅ Horario validado (si deriva)\n✅ Memoria consultada (email, ubicación, datos previos)\n✅ Tono natural (tuteo, sin palabras robóticas)\n✅ Brevedad (15 palabras + 1 pregunta)\n✅ Multimedia: ¿Hay en el historial una frase \"Te mando una foto del [modelo]\" para este modelo? Si sí → NO enviar imagen.\n✅ JSON estructurado correctamente\n\n\n🎨 EJEMPLOS DE RESPUESTAS\n\nSaludo inicial:\n{\n  \"response\": \"¡Hola Juan! 🚗 Soy Kai. ¿Qué modelo te interesa ver?\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"\",\n    \"etapa\": \"Abierta\",\n    \"modelo\": \"\",\n    \"nombre\": \"\"\n  }\n}\n\nInfo valiosa (presupuesto):\n{\n  \"response\": \"¡Perfecto! Con ese presupuesto tenés varias opciones. ¿Preferís SUV o sedán?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente con presupuesto USD 30,000\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nSolicitud de cita:\n{\n  \"response\": \"¡Dale! Te contacta un asesor pronto. ¿Qué modelo querés ver?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente solicitó cita\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre completo (modelo presente):\n{\n  \"response\": \"¡Listo Juan! Ya registré tu consulta. Pronto el equipo de ventas se comunica con vos 👌\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente listo para cierre, JAC JS8\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"JAC JS8\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre bloqueado (falta modelo):\n{\n  \"response\": \"¡Genial! ¿Qué modelo te interesa? Así te conecto con el equipo indicado 👌\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"Cliente quiere cerrar pero falta modelo\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2736,1216],"id":"03d45899-8acd-4d49-a809-c0488798e529","name":"Nissan-Vendedor-Orquestador"},{"parameters":{"jsCode":"const agentOutput = $('Nissan-Vendedor-Orquestador').first().json.output\n\nif (!agentOutput || typeof agentOutput !== 'object') {\n  console.log('Output no estructurado, saltando registro');\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst shouldRegister = agentOutput.should_register || false;\nconst contextData = agentOutput.context_data || {};\n\nif (!shouldRegister) {\n  console.log('El AI decidió NO registrar este mensaje');\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst userContext = $('Formatear Whatsapp input').first().json.userContext;\nconst telefono_origen = userContext.telefono_origen;\nconst display_phone = userContext.displayPhoneNumber || userContext.phoneNumberId;\n\nif (!contextData.mensaje || !telefono_origen || !display_phone) {\n  console.error('Faltan datos obligatorios para el registro', {\n    mensaje: !!contextData.mensaje,\n    remitente: !!telefono_origen,\n    destinatario: !!display_phone\n  });\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst dbData = {\n  shouldRegister: true,\n  mensaje: contextData.mensaje.trim(),\n  remitente: telefono_origen,\n  destinatario: display_phone,\n  etapa: contextData.etapa || 'Abierta',\n  modelo: contextData.modelo || '',\n  nombre: contextData.nombre || ''\n};\n\nconsole.log('Datos preparados para registro:', {\n  mensaje_length: dbData.mensaje.length,\n  etapa: dbData.etapa,\n  modelo: dbData.modelo,\n  nombre: dbData.nombre\n});\n\nreturn [{ json: dbData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,1216],"id":"9f300dbd-ae60-459a-b8ed-18336e2ba340","name":"prepareDBdata","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"761a7b8b-2bf8-4ce4-9bd7-694c84488a0c","leftValue":"={{ $json.shouldRegister }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,1024],"id":"b12f0b87-aae6-493c-b471-60da4b22582d","name":"grabar_si_no"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1424,1216],"id":"aec76f17-662d-498c-9778-605e37bf8d4f","name":"No Operation, do nothing"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","tableId":"otras_vendedor_memory","fieldsUi":{"fieldValues":[{"fieldId":"mensaje","fieldValue":"={{ $json.mensaje }}"},{"fieldId":"remitente","fieldValue":"={{ $json.remitente }}"},{"fieldId":"destinatario","fieldValue":"={{ $json.destinatario }}"},{"fieldId":"etapa","fieldValue":"={{ $json.etapa }}"},{"fieldId":"modelo","fieldValue":"={{ $json.modelo }}"},{"fieldId":"nombre","fieldValue":"={{ $json.nombre }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,1024],"id":"74eb2f43-efb7-4083-a798-f497f0495bf7","name":"post_registro_nuevo","credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const saved = $input.first().json;\n\nconsole.log('✅ Registro exitoso en BD:', {\n  mensaje_preview: saved.mensaje?.substring(0, 50) + '...',\n  etapa: saved.etapa,\n  modelo: saved.modelo,\n  timestamp: new Date().toISOString()\n});\n\n// No retornar nada para que la ejecución termine aquí\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,1024],"id":"bb87bcf3-7882-4b94-a47a-630e33a4fe52","name":"dbSuccessLog"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"fsalva\",\n    \"password\": \"12345\",\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,128],"id":"a043bb1b-4583-4e50-a3b7-5045c56e5d80","name":"login_cloudy","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,224],"id":"27f889cc-7dbc-41e1-97c5-d9b90a0f977d","name":"pre-carga-oportunidad","disabled":true},{"parameters":{"method":"PUT","url":"https://desa.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,128],"id":"224bb555-7341-4b7f-88b1-fae8a29726ce","name":"crear-nueva-oportunidad","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Nissan'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// Actualizar tipo de operación según dato real del lead\ntipo_operacion_var.Value = lead_info.tipo_operacion === 'plan_ahorro' \n  ? 'Plan de ahorro' \n  : 'Venta directa';\n\n// Asignar ejecutivo según equipo_crm en etapa Cierre\nif (etapa === \"Cierre\") {\n  \n  const equipoCrm = lead_info.equipo_crm;\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n\n  const ejecutivoMap = {\n    \"tucuman_plan_ahorro\":            \"DISTRIBUIR - Plan de ahorro - NISSAN TUCUMAN Agente Elite\",\n    \"tucuman_venta_directa\":          \"DISTRIBUIR - VTA - Directa NISSAN Tucuman Agente Elite\",\n    \"santiago_del_estero_plan_ahorro\": \"DISTRIBUIR - Plan de ahorro - NISSAN SANTIAGO Agente Elite\",\n    \"santiago_del_estero_venta_directa\": \"DISTRIBUIR - VTA - Directa NISSAN Santiago Agente Elite\"\n  };\n\n  ejecutivo_var.Value = ejecutivoMap[equipoCrm] || 'DISTRIBUIR - Automotores - Call';\n  \n  console.log('Cierre - equipo_crm:', equipoCrm, '→ ejecutivo:', ejecutivo_var.Value);\n  /*\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n  */\n  \n} else {\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  ;\n}\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,224],"id":"a7558e01-07bc-4c85-a391-53997c29c46c","name":"modifica-body","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Usa los datos que provienen de las siguientes fuentes:\n{{ $('Formatear Whatsapp input').item.json.userContext.contexto_historial }}\ny\n{{ $json.mensaje }}\nel telefono puedes obtenerlo de: \n{{ $('Formatear Whatsapp input').item.json.userContext.telefono_origen }}\nIMPORTANTE: Debes responder ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes o después.\n\nAnaliza la conversación y genera un JSON con esta estructura EXACTA:\n{\n  \"resumen\": \"string - Resumen detallado del lead para el CRM, incluyendo contexto, necesidades, intención de compra y detalles relevantes\",\n  \"firstName\": \"string o null - Nombre del cliente\",\n  \"lastName\": \"string o null - Apellido del cliente\",\n  \"email\": \"string o null - Email del cliente\",\n  \"provincia\": \"string o null - Provincia\",\n  \"ciudad\": \"string o null - Ciudad\",\n  \"sexo\": \"string - 'masculino', 'femenino' o 'no especificado'\",\n  \"modelo_interes\": \"string - Modelo de vehículo de interés, extraído del historial de conversación\",\n  \"tipo_lead\": \"string - 'cita', 'test_drive', 'consulta_precio', 'informacion' u 'otro'\",\n  \"urgencia\": \"string - 'alta', 'media' o 'baja'\",\n  \"telefono\": \"string o null - Número de teléfono\",\n  \"fecha_cita\": \"string o null - Fecha de cita si fue mencionada\"\n}\n\nREGLAS:\n- Los campos \"resumen\" y \"modelo_interes\" son OBLIGATORIOS\n- \"modelo_interes\" debe extraerse del historial aunque el cliente no lo haya mencionado explícitamente en el último mensaje\n- Si un dato no está disponible, usa null\n- NO agregues texto antes o después del JSON\n- Asegúrate de que sea un JSON válido","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-992,640],"id":"7d10ae7f-4d73-415c-9687-5c76425398db","name":"resumen_lead","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.all()[0].json;\nlet parsedData;\n\ntry {\n  const content = input.message?.content || input.content || JSON.stringify(input);\n  parsedData = typeof content === 'object' ? content : JSON.parse(content);\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  parsedData = {\n    resumen: input.message?.content || \"Error: No se pudo extraer resumen\",\n    firstName: null,\n    lastName: null,\n    email: null,\n    provincia: null,\n    ciudad: null,\n    sexo: \"no especificado\",\n    modelo_interes: null,\n    tipo_lead: \"otro\",\n    urgencia: \"media\",\n    telefono: null,\n    fecha_cita: null\n  };\n}\n\nconst validSexo     = [\"masculino\", \"femenino\", \"no especificado\"];\nconst validTipoLead = [\"cita\", \"test_drive\", \"consulta_precio\", \"informacion\", \"otro\"];\nconst validUrgencia = [\"alta\", \"media\", \"baja\"];\n\nconst normalized = {\n  resumen:        parsedData.resumen       || \"Sin resumen disponible\",\n  nombre:         parsedData.firstName     || null,\n  apellido:       parsedData.lastName      || null,\n  email:          parsedData.email         || null,\n  provincia:      parsedData.provincia     || null,\n  ciudad:         parsedData.ciudad        || null,\n  sexo:           validSexo.includes(parsedData.sexo)           ? parsedData.sexo      : \"no especificado\",\n  modelo_interes: parsedData.modelo_interes || null,\n  tipo_lead:      validTipoLead.includes(parsedData.tipo_lead)  ? parsedData.tipo_lead : \"otro\",\n  urgencia:       validUrgencia.includes(parsedData.urgencia)   ? parsedData.urgencia  : \"media\",\n  telefono:       parsedData.telefono      || null,\n  fecha_cita:     parsedData.fecha_cita    || null\n};\n\nreturn { json: normalized };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,544],"id":"002c95ac-b50d-48ac-b534-7daa89a057de","name":"limpia_data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,736],"id":"625ffc53-8ef7-47a9-85f3-41981ad8e05e","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baaac84f-6855-4687-b516-d63b11b010d8","leftValue":"={{ $json.etapa }}","rightValue":"Cierre","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1904,624],"id":"85a39905-995a-4f05-b707-288ae1800d32","name":"etapa_cierre?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1584,752],"id":"4292bfcc-5f6e-478e-a104-c24afc95a368","name":"No Operation, do nothing4","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Nissan' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,128],"id":"13bc71d5-ad89-4494-aae2-4721e020ff61","name":"get-lead-by-cel-marca","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1744,128],"id":"dfae2c4f-8ffe-4073-a16e-06e3cf6916ef","name":"existe-led?","disabled":true},{"parameters":{"url":"=https://desa.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,32],"id":"44b6d020-c392-4e75-8f05-2fa1dbcef51a","name":"get-lead-by-doc_id","disabled":true},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n/*\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n*/\n\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,32],"id":"ec268f77-9667-41a0-a4e9-a00f4a17db84","name":"edita-body","disabled":true},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":7200},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1360,1408],"id":"9e179231-5ab3-4aea-99da-6cbede642c62","name":"Redis - Register Followup","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"La respuesta conversacional para el usuario\"\n    },\n    \"should_register\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si la conversación contiene información valiosa para registrar, false en caso contrario\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"mensaje\": {\n          \"type\": \"string\",\n          \"description\": \"Descripción breve y clara de la información relevante del usuario (presupuesto, preferencias, necesidades)\"\n        },\n        \"etapa\": {\n          \"type\": \"string\",\n          \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"],\n          \"description\": \"Etapa actual del proceso de venta\"\n        },\n        \"modelo\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del modelo de vehículo si es relevante, vacío si no aplica\"\n        },\n        \"nombre\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del cliente si fue capturado en la conversación\"\n        }\n      },\n      \"required\": [\"mensaje\", \"etapa\", \"modelo\", \"nombre\"]\n    }\n  },\n  \"required\": [\"response\", \"should_register\", \"context_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2208,1456],"id":"0b20e0ed-6cd7-4073-a7c0-032e3055b93c","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2208,1616],"id":"a82bdcf4-536e-41b9-97e4-9b1db31ef06c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\nconst dataPerfil = $('get-perfil').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura - priorizar dataPerfil sobre historial\nconst etapa_actual = dataPerfil?.etapa_actual \n  || (memoria_contexto_array.length > 0 \n    ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n    : null);\n\n// CONSTRUIR BLOQUE DE PERFIL CONSOLIDADO\nlet bloque_perfil = \"\";\nif (dataPerfil && dataPerfil.telefono) {\n  const campos = [\n    dataPerfil.nombre        ? `Nombre: ${dataPerfil.nombre}` : null,\n    dataPerfil.email         ? `Email: ${dataPerfil.email}` : null,\n    dataPerfil.origen        ? `Origen: ${dataPerfil.origen}` : null,\n    dataPerfil.domicilio     ? `Domicilio: ${dataPerfil.domicilio}` : null,\n    dataPerfil.presupuesto   ? `Presupuesto: ${dataPerfil.presupuesto}` : null,\n    dataPerfil.grupo_familiar ? `Grupo familiar: ${dataPerfil.grupo_familiar}` : null,\n    dataPerfil.credito_bancario !== null && dataPerfil.credito_bancario !== undefined\n      ? `Crédito bancario: ${dataPerfil.credito_bancario ? 'Sí' : 'No'}` : null,\n    dataPerfil.modelos_interes?.length \n      ? `Modelos de interés: ${dataPerfil.modelos_interes.join(', ')}` : null,\n    dataPerfil.etapa_actual  ? `Etapa actual: ${dataPerfil.etapa_actual}` : null,\n  ].filter(Boolean);\n\n  if (campos.length > 0) {\n    bloque_perfil = `=== PERFIL CONSOLIDADO DEL CLIENTE ===\\n${campos.join('\\n')}\\n======================================\\n\\n`;\n  }\n}\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  const historial = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n  memoria_contexto = bloque_perfil + historial;\n} else {\n  memoria_contexto = bloque_perfil; // Solo perfil, sin historial previo\n}\n\n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0];\nconst contact = wppData.contacts[0];\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario - priorizar dataPerfil sobre historial\nlet userName = dataPerfil?.nombre \n  || wppData.contacts[0]?.profile?.name \n  || 'Cliente';\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\");\n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3072,1216],"id":"d5108a74-1a24-48f7-90be-f59ed4b52e28","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_vendedor_memory","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3744,1024],"id":"477fc252-cf68-48ee-8002-3d1cde5a9eca","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3296,928],"id":"2414432a-80ad-4cf7-abdb-6486523d5c00","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"60742098-ca11-4f51-a9ef-bdfb1bdb9e02","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[-3520,1024],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"27f23d59-b7ef-47f7-846a-3c435c33055f","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[-3296,1120],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_clientes","returnAll":true,"filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4192,1120],"id":"1e3e989c-0eeb-4adb-b201-a5eb5eda2c6f","name":"get-perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $input.first().json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":0}],"combinator":"and"},"options":{}},"id":"c90b3a8a-16dc-4fd4-8f5b-0b60a4c4629a","name":"perfil_existe?","type":"n8n-nodes-base.if","position":[-3968,1120],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"1c9e484f-06c1-43d6-b5ae-9ed059ab5e28","name":"Default Memory","type":"n8n-nodes-base.set","position":[-3296,1312],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","tableId":"otras_clientes","fieldsUi":{"fieldValues":[{"fieldId":"telefono","fieldValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},{"fieldId":"nombre","fieldValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name || \"\" }} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3520,1312],"id":"e8c8d60f-675f-420d-81b7-c38c9d02b010","name":"post_registro_nuevo1","credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"description":"=Actualiza el perfil consolidado del cliente en la base de datos. \nLlamar cuando el cliente revela un dato nuevo que NO aparezca en el bloque \nPERFIL CONSOLIDADO DEL CLIENTE del contexto: nombre, email, origen, domicilio, \npresupuesto, modelo de interés, grupo familiar, crédito bancario, o cuando \nla etapa cambia. No llamar si el dato ya está en el perfil consolidado.\nIMPORTANTE: El campo \"telefono\" NUNCA debe incluirse dentro del objeto \"data\". \nEs un parámetro separado que se envía automáticamente y es inmutable.","workflowId":{"__rl":true,"value":"Ul8KfansWAa1C3D0","mode":"list","cachedResultUrl":"/workflow/Ul8KfansWAa1C3D0","cachedResultName":"update-perfil-varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', ``, 'json') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2752,1536],"id":"35ebd776-5e51-4950-b4c1-54dfa2eb55b7","name":"actualiza_perfil"},{"parameters":{"content":"# MARCAS VARIAS VENDEDOR        ","height":80,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2736,992],"typeVersion":1,"id":"0b382e94-9187-4d06-a99a-94ccf710fa71","name":"Sticky Note"},{"parameters":{"text":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"nsfw":{"value":{"threshold":0.7,"customizePrompt":true,"prompt":"=Eres un asistente de moderación de contenido para un bot de ventas de vehículos.\n\nTu tarea es analizar mensajes de conversaciones entre clientes y un asistente comercial automotriz, y determinar si el contenido es inapropiado para ese contexto.\n\nCONTEXTO IMPORTANTE:\nEste bot opera en el rubro automotriz. Los mensajes pueden contener de forma legítima y habitual:\n- Referencias a cifras de dinero (\"diez mil\", \"veinte mil pesos\", \"$15.000\")\n- Kilometrajes de vehículos (\"cien mil kilómetros\", \"los diez mil km del service\")\n- Términos técnicos mecánicos o de financiamiento\n- Nombres de modelos, versiones y marcas de autos\n- Consultas sobre planes de ahorro, cuotas, patentes y seguros\n- Solicitudes de ver el vehículo: \"mostrame\", \"quiero ver\", \"cómo es\", \"cómo queda\"\n- Solicitudes de ver el interior o exterior: \"mostrame por dentro\", \"quiero ver adentro\", \"cómo es por dentro\", \"mostrame el interior\", \"mostrame el tablero\", \"cómo es el habitáculo\"\n- Expresiones de tamaño o espacio: \"entra todo\", \"caben los chicos\", \"cuánto entra\"\n\nEstas expresiones NO deben ser marcadas como inapropiadas bajo ninguna circunstancia.\n\nCONTENIDO A DETECTAR:\n- Contenido sexual o material explícito\n- Discurso de odio o lenguaje discriminatorio\n- Acoso o bullying\n- Violencia explícita o gore\n- Referencias a autolesiones o suicidio\n- Lenguaje vulgar u ofensivo grave\n- Actividades ilegales (drogas, armas, robo, etc.)\n- Contenido extremista o radical\n- Explotación o abuso\n- Contenido médico gráfico\n- Cualquier otro contenido claramente inapropiado para una conversación comercial\n\nCONSIDERACIONES SOBRE FALSOS POSITIVOS:\nAntes de marcar un mensaje como inapropiado, evaluá si la expresión tiene una interpretación legítima dentro del contexto de venta de vehículos. Las palabras \"dentro\", \"adentro\", \"por dentro\", \"interior\" en este contexto siempre refieren a partes del automóvil, no a contenido sexual. En caso de duda, priorizá NO bloquear el mensaje para no interrumpir una conversación comercial válida. Solo marcá como inapropiado cuando el contenido sea inequívocamente ofensivo o dañino, sin ninguna interpretación automotriz posible."}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-7952,1072],"id":"e27a4ff0-71b9-470c-ab84-1224e128faaf","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7952,1280],"id":"9b73c788-f334-4659-bbc1-de590dad912c","name":"openai-para-guardrail","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"13edf94b-e66a-401c-9263-2c4f247767de","name":"respuesta","value":"Tu mensaje no cumple con nuestros estandares de seguridad o buenos modales, por favor,  reformula y vuelve a enviar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7600,1440],"id":"908e45cf-963f-49de-9a8c-c1aa77598ca5","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $json.respuesta }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-7280,1712],"id":"f9e77bf2-56b2-4463-8679-b7406581558b","name":"mensaje-rechazo-seguridad","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Obsbj4i9zv8hJe8c","mode":"list","cachedResultUrl":"/workflow/Obsbj4i9zv8hJe8c","cachedResultName":"subflujo_pdf_tecnico_nissan_varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}","telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2560,1520],"id":"ccd5e0c5-4b87-42d1-9be0-6b9bb52c6605","name":"send_pdf_tecnico"},{"parameters":{"workflowId":{"__rl":true,"value":"2d60n9hx2jPtZYY6","mode":"list","cachedResultUrl":"/workflow/2d60n9hx2jPtZYY6","cachedResultName":"subflujo_imagen_varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2368,1504],"id":"6b6d0466-2b8f-4278-a1b6-cd082b160f81","name":"send_image"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-3136,1536],"id":"b3223053-2462-40f3-9f24-4a0f6a949933","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QUYO24DurfCqfZ17","name":"anthropic-agn-credential"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-8704,1264],"id":"30c6e592-9bce-4715-b187-5f98cf124393","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"pCFUGuNPvlqe3mQe","name":"header-auth-chinos"}}},{"parameters":{"jsCode":"// Obtener sessionId del nodo session-id\nconst sessionId = $('session-id').first().json.sessionId;\n\n// Obtener datos del AI\nconst aiOutput = $('Nissan-Vendedor-Orquestador').first().json.output;\nconst contextData = aiOutput.context_data || {};\nconst aiResponse = aiOutput.response || '';\n\n// Obtener mensaje del usuario\nconst userMessages = $('une_mensajes').first().json;\nconst userMessage = userMessages.mensaje_usuario || '';\n\n// Crear el objeto que se guardará en Redis\nconst redisData = {\n  timestamp: new Date().toISOString(),\n  etapa: contextData.etapa || 'Abierta',\n  last_bot_msg: aiResponse,\n  last_user_msg: userMessage,\n  nombre: contextData.nombre || ''\n};\n\n// Convertir a JSON string\nconst redisValue = JSON.stringify(redisData);\n\n// Retornar para el siguiente nodo\nreturn {\n  json: {\n    redis_key: `followup_varias:${sessionId}`,\n    redis_value: redisValue,\n    ttl: 86400 // 24 horas\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,1408],"id":"c5246eb5-81c8-4058-b72e-c25e8e969ed3","name":"set-data-followup"},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6256,1216],"id":"a0b751f1-3e84-442e-a9c3-a3a40dee29a3","name":"session-id"},{"parameters":{"operation":"delete","key":"= followup_varias:{{$json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5904,1488],"id":"73a99497-f7cd-47b6-9458-8c283dbe9450","name":"Cancelar FollowUp","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,528],"id":"c32631f8-badf-4823-9b0e-3a173e9f5427","name":"login_cloudy1"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,624],"id":"c9c612bc-d3cc-4051-be44-63e7c3d0f86e","name":"pre-carga-oportunidad1"},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,528],"id":"2ad3dad5-373c-4933-90fc-c03aa4519870","name":"crear-nueva-oportunidad1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\n\n//console.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\n\n//aqui estoy poniendo el modelo de interes\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\ntipo_operacion_var.Value = 'Venta directa'\n  \n\n// let team_var = data.CustomFields.find(item => item.Name === \"TEAM\")\n// team_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n// let team_id_var = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\n// team_id_var.Value = 349483\n\nconst modelo_var = (lead_info.modelo_interes || '').toLowerCase();\nconst ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n\nif (etapa === \"Cierre\") {\n  if (modelo_var.includes('chery') || modelo_var.includes('gac')) {\n    ejecutivo_var.Value = 'DISTRIBUIR – VTA – GAC Agente Elite';\n    marca_var.Value = 'GAC'\n  } else if (modelo_var.includes('jac')) {\n    ejecutivo_var.Value = 'DISTRIBUIR – VTA – JAC Agente Elite';\n    marca_var.Value = 'Jac'\n  }\n} \nelse {\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call';\n  marca_var.Value = lead_info.modelo_interes\n}\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,624],"id":"57dd7f15-363a-44f2-9739-dbddcfcee9d6","name":"modifica-body1"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=(MARCA = 'GAC' OR MARCA = 'Jac') AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,544],"id":"d32bfb30-b591-4497-bd63-2b18be47b3ec","name":"get-lead-by-cel-marca1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,528],"id":"e3dd565e-c6e1-4f08-9557-e17d262845e3","name":"existe-led?1"},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,432],"id":"6c4ad099-2052-471f-8ede-85bc9d6c32f2","name":"get-lead-by-doc_id1"},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nif(notas_var){\n  notas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;  \n}\n\n//voy a tomar el numero de team para filtrar los derivables\nlet numero_team = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\nconsole.log('TEAM ID', numero_team)\n//tomamos el valor de modelo del lead\nlet modelo_var = (lead_info.modelo_interes || '').toLowerCase();\n\nlet ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\nif(etapa === \"Cierre\" && numero_team?.Value == 37816){\n   if (modelo_var.includes('chery') || modelo_var.includes('gac')) {\n    if(ejecutivo_var) ejecutivo_var.Value = 'DISTRIBUIR – VTA – GAC Agente Elite';\n    if(marca_var) marca_var.Value = 'GAC'\n  } else if (modelo_var.includes('jac')) {\n    if(ejecutivo_var) ejecutivo_var.Value = 'DISTRIBUIR – VTA – JAC Agente Elite';\n    if(marca_var) marca_var.Value = 'Jac'\n  }\n}\n/**\nelse{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n**/\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,432],"id":"be90fea9-1f6a-40c5-9e23-72993e86f73b","name":"edita-body1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2944,1536],"id":"3db2e082-d008-4520-97a8-314d2eda843d","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96d2bc4c-9901-41e7-8cfa-3451966e0e83","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","rightValue":"=mierda|boludo|conchudo|conchuda|puta|pelotudo|forro|hijo\\s*de\\s*puta|hdp|concha|carajo|puto|imbécil","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8384,1280],"id":"d5e56be4-c6d7-447d-a505-2e543dd3b757","name":"tiene_malas_palabras?"},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-9536,1744],"id":"6f23f6a4-e739-480d-a906-2b24a64742d2","name":"WhatsApp Trigger","webhookId":"ad224dfb-4d6d-4c72-894d-69b44184331e","credentials":{"whatsAppTriggerApi":{"id":"VUJB4DrLPkwMOkOi","name":"whatsApp-entrada-chinos"}}}],"connections":{"Switch":{"main":[[{"node":"merge_datos","type":"main","index":0}],[{"node":"session-id","type":"main","index":0}],[{"node":"obtener-sonido","type":"main","index":0}]]},"transcibe":{"main":[[{"node":"texto-from-sonido","type":"main","index":0}]]},"obtener-sonido":{"main":[[{"node":"bajar-sonido","type":"main","index":0}]]},"bajar-sonido":{"main":[[{"node":"transcibe","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"If1":{"main":[[{"node":"limpiar-numero","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"get-perfil","type":"main","index":0}]]},"limpiar-numero":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"Nissan-Vendedor-Orquestador":{"main":[[{"node":"Send message","type":"main","index":0}]]},"prepareDBdata":{"main":[[{"node":"set-data-followup","type":"main","index":0},{"node":"grabar_si_no","type":"main","index":0}]]},"grabar_si_no":{"main":[[{"node":"post_registro_nuevo","type":"main","index":0},{"node":"resumen_lead","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"post_registro_nuevo":{"main":[[{"node":"dbSuccessLog","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-lead-by-cel-marca","type":"main","index":0}]]},"pre-carga-oportunidad":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"resumen_lead":{"main":[[{"node":"limpia_data","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"limpia_data":{"main":[[{"node":"login_cloudy1","type":"main","index":0}]]},"etapa_cierre?":{"main":[[],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"get-lead-by-cel-marca":{"main":[[{"node":"existe-led?","type":"main","index":0}]]},"existe-led?":{"main":[[{"node":"get-lead-by-doc_id","type":"main","index":0}],[{"node":"pre-carga-oportunidad","type":"main","index":0}]]},"get-lead-by-doc_id":{"main":[[{"node":"edita-body","type":"main","index":0}]]},"edita-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_outputParser","index":0}]]},"Send message":{"main":[[{"node":"prepareDBdata","type":"main","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"Nissan-Vendedor-Orquestador","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"get-perfil":{"main":[[{"node":"perfil_existe?","type":"main","index":0}]]},"perfil_existe?":{"main":[[{"node":"Get Memory","type":"main","index":0}],[{"node":"post_registro_nuevo1","type":"main","index":0}]]},"Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"post_registro_nuevo1":{"main":[[{"node":"Default Memory","type":"main","index":0}]]},"actualiza_perfil":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Guardrails":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"openai-para-guardrail":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"mensaje-rechazo-seguridad","type":"main","index":0}]]},"send_pdf_tecnico":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"send_image":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_languageModel","index":0}]]},"typing_indicator":{"main":[[{"node":"tiene_malas_palabras?","type":"main","index":0}]]},"set-data-followup":{"main":[[{"node":"Redis - Register Followup","type":"main","index":0}]]},"session-id":{"main":[[{"node":"Cancelar FollowUp","type":"main","index":0},{"node":"redis-cola-mensajes","type":"main","index":0}]]},"login_cloudy1":{"main":[[{"node":"get-lead-by-cel-marca1","type":"main","index":0}]]},"pre-carga-oportunidad1":{"main":[[{"node":"modifica-body1","type":"main","index":0}]]},"modifica-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"get-lead-by-cel-marca1":{"main":[[{"node":"existe-led?1","type":"main","index":0}]]},"existe-led?1":{"main":[[{"node":"get-lead-by-doc_id1","type":"main","index":0}],[{"node":"pre-carga-oportunidad1","type":"main","index":0}]]},"get-lead-by-doc_id1":{"main":[[{"node":"edita-body1","type":"main","index":0}]]},"edita-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_memory","index":0}]]},"tiene_malas_palabras?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Guardrails","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"texto-from-sonido":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"dbSuccessLog":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a7f3ec9-9445-460d-b970-e39b9021c784","activeVersionId":"9a7f3ec9-9445-460d-b970-e39b9021c784","triggerCount":1,"shared":[{"updatedAt":"2026-03-24T11:52:34.347Z","createdAt":"2026-03-24T11:52:34.347Z","role":"workflow:owner","workflowId":"PV5LUsHoXoD7RV76","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-04-14T18:49:51.840Z","createdAt":"2026-04-14T18:49:51.840Z","versionId":"9a7f3ec9-9445-460d-b970-e39b9021c784","workflowId":"PV5LUsHoXoD7RV76","nodes":[{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $('Nissan-Vendedor-Orquestador').item.json.output.response }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2096,1216],"id":"8a2e87f4-9bb5-4c40-97a5-b2d2bf8fdf85","name":"Send message","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3008,1728],"id":"2f6f2628-4253-447c-9649-75a1ac7a8029","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9588a1b0-8bce-4170-8e4d-1e7ac8af0bc8","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$('WhatsApp Trigger').item.json.messages[0].text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"828a723a-5e59-4036-8887-9113d0fc343f"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999cb57e-1298-4d93-9db6-7965dcb25d29","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7296,1248],"id":"fd185ec9-0707-4d13-9770-e6859c905372","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6496,1648],"id":"7ad9195c-f7e0-415c-99b5-b53da9a434f9","name":"transcibe","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"87baa1ef-c5b7-471a-8179-c6859960d2bb","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6272,1648],"id":"2e59abcb-145d-4f8e-a27c-f9226c0b9908","name":"texto-from-sonido"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-6944,1648],"id":"55bf0179-6bad-4543-92ff-cdd8e2245073","name":"obtener-sonido","webhookId":"3072d8ac-c798-4117-8049-cc516a6e8bb3","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6720,1648],"id":"4ba3b3ac-2a68-4b9d-a371-b2428c891e4c","name":"bajar-sonido","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"hYrC18NwwZGCb73l","name":"header-auth-pancho"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5536,1216],"id":"6b31f694-f9d3-4335-83f0-9365de1ccaa8","name":"Wait2","webhookId":"f1d715f4-af3b-4164-989f-475d9e63d83b"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","messageData":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5760,1216],"id":"11bf1722-b8fe-43c9-93b5-f8e22f04d57f","name":"redis-cola-mensajes","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4864,1312],"id":"950302b6-4be9-4244-9663-db81b5f9ffbd","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.cola_mensajes.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4864,1120],"id":"c79fad1d-4a12-4172-9c6f-1e5a4161c788","name":"une_mensajes"},{"parameters":{"operation":"get","propertyName":"cola_mensajes","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5312,1216],"id":"db1417b8-57d1-4f1e-bd72-a16e79340c95","name":"redis_recupera_cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.cola_mensajes.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5088,1216],"id":"d6acf6d8-6bdc-40f5-b996-1be606d7ce60","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4640,1120],"id":"7fb42910-0fc0-474b-bf30-6013d8ffe217","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4416,1120],"id":"2e2a5380-6203-4b18-95f4-8f320361088c","name":"limpiar-cola","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9232,1728],"id":"9b861aef-f034-43f2-815f-093fe87ef879","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8944,1872],"id":"167b08c6-b86d-40ad-b77b-9e0609159d9a","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"// ============================================================\n// NODO: unificar_validaciones\n// ============================================================\n// Propósito: Combinar respuestas de BCRA + NOSIS + PLENARIO con el contexto\n// ============================================================\n\nconst items = $input.all();\n\n// Separar respuestas por sistema\nconst bcraData = items.find(item => item.json.sistema === \"bcra\");\nconst nosisData = items.find(item => item.json.sistema === \"nosis\");\n//const plenarioData = items.find(item => item.json.sistema === \"plenario\");\nconst plenarioEmisor = items.find(item => item.json.sistema === \"plenarioEmisor\");\nconst plenarioAsociado = items.find(item => item.json.sistema === \"plenarioAsociado\");\n\n// Log para debugging\nconsole.log('📦 Items recibidos:', items.length);\nconsole.log('🏛️ BCRA encontrado:', !!bcraData);\nconsole.log('📋 NOSIS encontrado:', !!nosisData);\n//console.log('💼 PLENARIO encontrado:', !!plenarioData);\n\n// Obtener contexto original del cheque\nconst contextoOriginal = $('prepararContextAI').first().json;\n\n// Construir texto unificado con las tres validaciones\nconst textoCompleto = \n  contextoOriginal.text + \n  (bcraData?.json.texto || \"\\n\\n🏛️ **BCRA:** ⏳ No disponible\\n\") + \n  (nosisData?.json.texto || \"\\n\\n📋 **NOSIS:** ⏳ No disponible\\n\") +\n  (plenarioEmisor?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\") +\n  (plenarioAsociado?.json.texto || \"\\n\\n💼 **PLENARIO:** ⏳ No disponible\\n\");\n\n// Combinar datos estructurados de las cuatro fuentes\nreturn [{\n  json: {\n    ...contextoOriginal,\n    text: textoCompleto,\n    validaciones: {\n      bcra: bcraData?.json.datos || null,\n      nosis: nosisData?.json.datos || null,\n      plenario_emisor: plenarioEmisor?.json.datos || null,\n      plenario_asociado: plenarioAsociado?.json.datos || null\n    },\n    validaciones_status: {\n      bcra: bcraData?.json.status || \"error\",\n      nosis: nosisData?.json.status || \"error\",\n      plenario_emisor: plenarioEmisor?.json.status || \"error\",\n      plenario_asociado: plenarioAsociado?.json.status || \"error\"\n    },\n    timestamp_validaciones: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6240,928],"id":"7fee73c7-89b8-4a25-b3bf-c495939dacb7","name":"merge_datos"},{"parameters":{"jsCode":"// Función para convertir número WhatsApp a formato argentino\nconst whatsappNumber = $('WhatsApp Trigger').first().json.messages[0].from;\nconst normalizedNumber = whatsappNumber\n  .replace(/^549/, \"54\");  // Reemplaza 549 inicial\n  //.replace(/(\\+54 )(\\d{3})(\\d{2})(\\d{3})(\\d{4})/, \"$1$2 15-$3-$4\"); \nreturn [{json:{\n  numeroNormalizado: normalizedNumber\n}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8896,1584],"id":"6c511378-73d9-4907-a5dc-ee778472b29a","name":"limpiar-numero"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=VENDEDOR AUTOMOTRIZ\n🎯 IDENTIDAD BÁSICA\nNombre: Kai de AGN Autos\nMarca: JAC | Chery | GAC\nPersonalidad: Vendedor moderno, apasionado por la tecnología, conversacional\n<!-- Nombre del cliente: {{ $json.userContext.name.split(' ')[0] }} -->\n\n🧠 SISTEMA DE MEMORIA Y CONTEXTO\n<!-- Memoria disponible: {{ $json.userContext.contexto_historial }} -->\nEtapa actual: {{ $json.etapa_actual || \"Abierta\" }}\nReglas de consulta:\n\nSIEMPRE revisar memoria antes de solicitar datos repetidos (email, ubicación, apellido)\nBuscar patrones: \"email:\", \"@\", \"de [Ciudad]\", \"provincia:\"\nSi dato existe → usar directamente\nSi no existe → solicitar naturalmente\n\nGestión de etapas:\nAbierta: Descubrir necesidades, calificar cliente\nDesarrollada: Presentar modelos, características relevantes\nCierre: Agendar cita/reunión, derivar al equipo correcto\n\nGATILLOS DE AVANCE A CIERRE:\n\nReactivos (el cliente lo dispara):\n- Pide precio o cotización\n- Pide agendar visita o reunión\n- Pide hablar con un asesor\n- Expresa intención clara: \"me interesa\", \"lo quiero\", \"quiero avanzar\"\n\nProactivos (el bot puede proponer el cierre cuando se cumplen los 3):\n- Cliente tiene modelo de interés definido\n- Necesidad o uso fue revelado\n- Al menos 2 intercambios de calificación completados\n\nCONDICIONES NECESARIAS ANTES DE CONFIRMAR CIERRE:\nEl bot NO puede confirmar el cierre ni derivar sin este dato:\n\n1. Modelo de vehículo → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿Para darte el mejor servicio necesito saber qué modelo te interesa 👌\"\n2. Origen del cliente → debe existir en PERFIL CONSOLIDADO DEL CLIENTE\n   Si no existe → preguntar ANTES de avanzar:\n   \"¿Desde qué provincia nos contactás? Así te conecto con el equipo correcto 👌\"\n\nFLUJO DE CIERRE CORRECTO:\n1. Se dispara un gatillo (reactivo o proactivo)\n2. Verificar modelo de vehículo en PERFIL CONSOLIDADO → si no existe, preguntar\n3. Setear etapa_actual: \"Cierre\" en context_data\n4. Llamar actualiza_perfil con etapa_actual: \"Cierre\"\n5. Confirmar cierre al cliente\n\nBLOQUEO: Mientras modelo de vehículo sea null → etapa no puede avanzar a \"Cierre\"\n\n\n## 📅 FECHA Y HORA ACTUAL (ARGENTINA)\n\n**FECHA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('yyyy-LL-dd') }}\n**HORA ACTUAL**: {{ $now.setZone('America/Argentina/Salta').format('HH:mm') }}\n**DÍA DE LA SEMANA**: {{ $now.setZone('America/Argentina/Salta').setLocale('es').toFormat('cccc') }}\n\n\n📍 SUCURSALES\n\nTUCUMÁN\nSucursal para modelos JAC\n- Ventas: L-V 9:00-18:00 | Sab 09:00-12:30\n- ubicación: https://maps.app.goo.gl/e8gKGF9MB4X45KwD8\n- Dirección: Av. Perón 675, Yerba Buena, Tucumán\n\nSucursal para modelos GAC\n- Ventas: L-V 9:00-18:00 \n- ubicación: https://maps.app.goo.gl/XQUK4YGQfhwie9hY8\n- Dirección: Av aconquija al 500 - Yerba Buena - Tucumán\n\n\n⏰ SISTEMA DE HORARIOS\n\nREGLAS DE SUCURSAL:\n- Si origen del cliente está en contexto → usar horarios y datos de ESA sucursal\n- Si origen desconocido → preguntar de qué provincia es antes de derivar al equipo\n- Nunca mezclar datos de ambas sucursales en el mismo mensaje\n- NUNCA asumir, inferir ni inventar la provincia del cliente\n- Si el cliente niega una provincia mencionada → preguntar directamente de cuál es, sin sugerir otra\n\nCLIENTE DE OTRA PROVINCIA EN ETAPA CIERRE:\nSolo tenemos sucursal física de venta en Tucumán. Si el cliente es de otra provincia:\n→ NO decir \"el equipo de tu zona\"\n→ Responder: \"¡Perfecto [nombre]! Trabajamos desde Tucumán pero coordinamos \n  todo a distancia. ¿Agendamos una llamada con el equipo de ventas?\"\n\nPRINCIPIOS DE RESPUESTA TEMPORAL (por sucursal activa):\n\nContexto                          → Respuesta\nDentro de horario                 → \"Te contactamos pronto\"\nFuera de horario (L-V)            → \"Mañana desde las [hora apertura] te contacto\"\nSábado después del cierre         → \"El lunes a las [hora apertura] te llaman\"\nDomingo                           → \"El lunes te contactamos\"\n\nSiempre incluir: pregunta de seguimiento para mantener engagement\n\n\n🚫 LÍMITES Y DERIVACIONES\nTemas que NO manejas:\n\nPrecios (nunca dar cifras, ni rangos, ni aproximados)\nStock/disponibilidad\nFinanciamiento específico\nSeguros\nPosventa/repuestos → Derivar a [NÚMERO ESPECÍFICO]\n\nGatillos de derivación:\n\nPrecio/Stock: \"Los valores cambian según versión. Te paso con un asesor. ¿Qué versión te interesa?\"\nCita / Reunión / Test drive / Firma de contrato:\n→ Verificar horario de la sucursal del cliente y responder:\n   Dentro de horario: \"¡Listo [nombre]! En breve el equipo de ventas se comunica con vos 👌\"\n   Fuera de horario:  \"¡Listo! Ahora estamos fuera de horario, el próximo día hábil desde las [hora apertura] te contactan 👌\"\n\n\n🚗 CATÁLOGO DE PRODUCTOS\n\nCategorías y modelos disponibles:\n\nSUV\n- JAC JS2\n- JAC JS4\n- JAC JS6 PHEV\n- JAC JS8\n- JAC EV30X\n- Chery Tiggo 4 Pro\n- GAC GS3\n- GAC EMKOO\n- GAC GS8\n\nPICK UP\n- JAC T8\n- JAC T9\n\nSEDÁN\n- GAC EMPOWER\n- GAC AION ES\n\nREGLAS DE USO:\n✅ Podés mencionar y recomendar modelos según las necesidades del cliente\n✅ Orientar por categoría: \"¿buscás algo más urbano, familiar o para trabajo?\"\n✅ Si el cliente no sabe qué quiere → preguntar uso principal para recomendar categoría\n✅ Destacar que cada modelo tiene diferentes versiones disponibles\n✅ Podés mencionar que la línea incluye vehículos eléctricos e híbridos cuando sea relevante\n\n❌ NO dar precios, stock ni specs técnicos (derivar a asesor)\n❌ NO inventar características o versiones\n❌ NO recomendar modelos de otras marcas\n\nEjemplo de recomendación:\nCliente quiere SUV familiar grande → sugerir JAC JS8 o GAC GS8\nCliente busca SUV urbana de entrada → sugerir JAC JS2 o GAC GS3\nCliente interesado en eléctricos → sugerir JAC EV30X o GAC AION ES\nCliente necesita pick up de trabajo → sugerir JAC T8\nCliente busca pick up con confort → sugerir JAC T9\nCliente quiere sedán deportivo → sugerir GAC EMPOWER\n\n\n🧠 CONOCIMIENTO DE MODELOS\n\nEsta información es tu base de conocimiento para responder preguntas\ny destacar características de forma natural y persuasiva.\n\nREGLAS DE USO:\n✅ Usá esta información de forma discrecional según el contexto\n✅ Conectá cada característica con la necesidad concreta del cliente\n✅ Podés destacarlas proactivamente cuando sea relevante para vender mejor\n✅ Si el cliente pregunta algo específico → respondé con lo que está acá\n❌ NUNCA inventar características, datos o funciones que no estén listados\n❌ Si no está acá y no está en la ficha técnica → derivar al asesor\n❌ No recitar todo el listado de golpe, usar solo lo relevante al contexto\n\n---\n\nJAC JS2\nSUV compacta ideal para moverse en ciudad sin complicaciones. Destacar según contexto:\n- Tamaño manejable y económica de mantener → perfecta para uso urbano cotidiano\n- Entrada de gama accesible → ideal como primer SUV o segundo auto familiar\n- Práctica y fácil de estacionar → para quien vive en ciudad y valora la practicidad\n💬 Conectar con: primer auto, movilidad urbana, presupuesto acotado, practicidad\n\nJAC JS4\nSUV equilibrada que no sacrifica confort por precio. Destacar según contexto:\n- Buen nivel de equipamiento → tecnología y confort a precio competitivo\n- Terminaciones cuidadas → se siente más caro de lo que cuesta\n- Tamaño versátil → sirve para la ciudad y para salir de viaje\n💬 Conectar con: familia pequeña, pareja, relación precio-valor, primer upgrade a SUV\n\nJAC JS6 PHEV\nSUV híbrida enchufable para quien quiere lo mejor de dos mundos. Destacar según contexto:\n- Motor híbrido enchufable → bajo consumo sin depender 100% de la carga eléctrica\n- Potencia combinada → respuesta ágil en cualquier situación\n- Ideal donde la infraestructura de carga aún se está desarrollando\n💬 Conectar con: innovación, ahorro en combustible, tecnología, conducción eficiente\n\nJAC JS8\nSUV familiar de 7 plazas pensada para no dejar a nadie afuera. Destacar según contexto:\n- Tres filas de asientos → entra toda la familia sin apretarse\n- Equipamiento enfocado en el bienestar de los pasajeros → viajes cómodos\n- Maletero amplio → para los que viajan con todo\n💬 Conectar con: familias numerosas, viajes frecuentes, uso intensivo, espacio\n\nJAC EV30X\nSUV 100% eléctrica para el día a día en ciudad. Destacar según contexto:\n- Cero emisiones y funcionamiento silencioso → otra experiencia de conducción\n- Bajo costo operativo → lo que ahorrás en combustible es notable\n- Carga domiciliaria → enchufás en casa y salís con el tanque lleno\n💬 Conectar con: uso urbano, conciencia ambiental, ahorro, tecnología\n\nJAC T8\nPick-up robusta hecha para trabajar. Destacar según contexto:\n- Tracción 4x4 y alta capacidad de carga → preparada para lo que venga\n- Construida para la exigencia del trabajo diario → no te falla cuando más la necesitás\n- Ideal para campo, obra o ruta\n💬 Conectar con: trabajo rural, construcción, transporte de carga, exigencia\n\nJAC T9\nPick-up que combina trabajo con presencia. Destacar según contexto:\n- Diseño más sofisticado sin resignar capacidad → trabajo y estilo en el mismo vehículo\n- Mayor equipamiento interior → comodidad para los días largos en ruta\n- Para el profesional o empresario que usa pick-up pero valora el detalle\n💬 Conectar con: imagen profesional, confort en ruta, empresario, pickup premium\n\nCHERY TIGGO 4 PRO\nSUV moderna con tecnología como protagonista. Destacar según contexto:\n- Pantalla central avanzada y sistemas de asistencia → conducir con el futuro\n- Alto nivel de seguridad activa → tranquilidad en cada viaje\n- Diseño atractivo y precio competitivo → mucho auto por el valor\n💬 Conectar con: tecnología, seguridad, diseño, jóvenes profesionales\n\nGAC GS3\nSUV compacta con personalidad urbana. Destacar según contexto:\n- Líneas contemporáneas y presencia en calle → para quien quiere diferenciarse\n- Conectividad y equipamiento atractivo para el segmento\n- Primer SUV con estilo → no pasa desapercibida\n💬 Conectar con: público joven, primer SUV, ciudad, estilo de vida activo\n\nGAC EMKOO\nSUV con diseño disruptivo para quien no se conforma con lo convencional. Destacar según contexto:\n- Estética llamativa y diferenciadora → la reconocen en cualquier calle\n- Tecnología como eje central → para el cliente que prioriza la innovación\n- Posicionamiento aspiracional → más que un auto, una declaración\n💬 Conectar con: innovación, cliente exigente, presencia visual, tecnología\n\nGAC GS8\nSUV grande con perfil premium para familia o uso ejecutivo. Destacar según contexto:\n- Acabados de alta calidad → se siente premium desde que subís\n- Tercera fila de asientos con confort real → para familias que viajan bien\n- Ideal para quien busca jerarquía sin pagar precio europeo\n💬 Conectar con: familia nivel medio-alto, ejecutivo, confort, viajes en grupo\n\nGAC EMPOWER\nSedán deportivo para quienes manejan con actitud. Destacar según contexto:\n- Diseño agresivo y aerodinámico → presencia intimidante en calle\n- Orientado a la experiencia de manejo → sentís la diferencia desde el primer kilómetro\n- Para quien elige un auto por emoción, no solo por necesidad\n💬 Conectar con: estilo personal, dinamismo, conductor apasionado, diferenciación\n\nGAC AION ES\nSedán eléctrico pensado para quien maneja mucho. Destacar según contexto:\n- 100% eléctrico → costo por kilómetro muy bajo, ideal para alto kilometraje\n- Autonomía para uso urbano e interurbano\n- Perfecto para flotas corporativas, remises o conductores intensivos\n💬 Conectar con: empresa, flota, uso intensivo, ahorro operativo, tecnología\n\n---\n\nCÓMO USAR ESTE CONOCIMIENTO EN CONVERSACIÓN:\n\nNo decir:  \"El JAC JS8 tiene tres filas de asientos.\"\nSí decir:  \"¡En el JS8 entra toda la familia! ¿Cuántos viajan normalmente?\"\n\nNo decir:  \"El GAC AION ES es 100% eléctrico con bajo costo operativo.\"\nSí decir:  \"¡El AION ES es ideal si manejás mucho! ¿Cuántos kilómetros hacés por mes?\"\n\nNo decir:  \"El JAC T8 tiene tracción 4x4 y alta capacidad de carga.\"\nSí decir:  \"¡La T8 está hecha para trabajar fuerte! ¿Es más para campo o ruta?\"\n\nNo decir:  \"El GAC EMKOO tiene diseño disruptivo y tecnología avanzada.\"\nSí decir:  \"El EMKOO es para quien quiere algo distinto de verdad. ¿Te importa que te reconozcan el auto?\"\n\n\n📄 TOOL: send_pdf_tecnico\nÚsala cuando el cliente pida ficha técnica, datos técnicos o especificaciones.\n\nParámetros:\n- modelo: nombre exacto del modelo\n- link: URL del PDF correspondiente\n\nGATILLOS: \"ficha técnica\", \"datos técnicos\", \"especificaciones completas\", \"información técnica\"\n\nENLACES PDF:\n- JAC JS2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jacs2-fl-ficha-tecnica-2025.pdf\n- JAC JS4 Flagship: https://agncorp.com.ar/marcaschinas/jac/jac-js4-flagship/jacjs4-ficha-tecnica-2025.pdf\n- JAC JS4 Luxury: https://agncorp.com.ar/marcaschinas/jac/jac-js4-luxury/jacjs4-ficha-tecnica-2025.pdf\n- JAC JS6 PHEV: https://agncorp.com.ar/marcaschinas/jac/jac-js6-phev/20251003-jac-js6phev-fichatecnica.pdf\n- JAC JS8 Pro: https://agncorp.com.ar/marcaschinas/jac/jac-js8-pro/jac-js8-pro-ficha-tecnica.pdf\n- JAC EV30X: https://agncorp.com.ar/marcaschinas/jac/ev-30x/20250922-jac-ev30x-fichatecnica.pdf\n- JAC T8 Intelligent: https://agncorp.com.ar/marcaschinas/jac/jac-t8-intelligent/ficha-membrete-jact8-intelligent.pdf\n- JAC T9: https://agncorp.com.ar/marcaschinas/jac/jac-t9/20250922-jac-t9-fichatecnica.pdf\n- Chery Tiggo 4 Pro: https://agncorp.com.ar/marcaschinas/chery/chery-tiggo-4-pro-luxury/ficha-tecnica-y-folleto-digital-tiggo-4-pro.pdf\n- GAC GS3 EMZOOM: https://agncorp.com.ar/marcaschinas/gac/gs3-emzoom/gs3-emzoom-1.pdf\n- GAC EMKOO: https://agncorp.com.ar/marcaschinas/gac/emkoo/emkoo-1.pdf\n- GAC GS8: https://agncorp.com.ar/marcaschinas/gac/gs8/gs8-1.pdf\n- GAC EMPOWER: https://agncorp.com.ar/marcaschinas/gac/nuevo-empow/empow.pdf\n- GAC AION ES: https://agncorp.com.ar/marcaschinas/gac/aion-es/aion-es.pdf\n\nPROCESO:\n1. Detectar gatillo\n2. Ejecutar send_pdf_tecnico con modelo y link correspondiente\n3. Responder: \"Te envié la ficha del [modelo] 📄 ¿Qué aspecto te interesa más?\"\n\nREGLAS:\n✅ UNA SOLA VEZ por modelo en toda la conversación\n✅ SIEMPRE generar respuesta después de ejecutar la tool\n❌ NUNCA enviar el link como texto en el mensaje\n❌ Si no hay PDF disponible para el modelo → responder: \"Para las specs del [modelo] te paso con un asesor. ¿Agendamos?\"\n\n\n🖼️ TOOL: send_image\nÚsala para ilustrar visualmente cuando el cliente pide ver, apreciar o pregunta \"¿cómo es?\".\n\nParámetros:\n- link: URL de la imagen correspondiente al modelo/versión\n\nCUÁNDO USAR:\n✅ Cliente pide ver el auto (\"¿cómo es?\", \"¿puedo ver una foto?\", \"mostrame\")\n❌ NUNCA repetir imagen del mismo modelo ya enviada\n❌ NUNCA enviar más de una imagen por respuesta\n❌ NO enviar de forma automática en cada mensaje\n\nANTES de ejecutar send_image — VERIFICACIÓN OBLIGATORIA:\n→ Detectar qué tipo de imagen pide el cliente: \"exterior\" (por defecto) o \"interior/tablero\"\n→ Buscar en el historial si ya se envió una imagen del mismo modelo Y mismo tipo\n   - Rastreo exterior: frases como \"Te mando una foto del [modelo]\" sin mención de interior\n   - Rastreo interior: frases como \"Te mando una foto del tablero\" o \"interior del [modelo]\"\n→ Si ya se envió ese tipo para ese modelo → NO ejecutar send_image\n→ Si el cliente pide interior/tablero:\n   PASO 1: Buscar el link de tipo interior/tablero para ese modelo en la lista de ENLACES\n   PASO 2: Si NO existe ese link → DETENER. NO llamar send_image bajo ninguna circunstancia.\n           Responder directamente: \"No cuento con imagen interior del [modelo], pero puedo\n           contarte cómo es por dentro o enviarte la ficha técnica con todos los detalles.\n           ¿Qué preferís?\"\n   PASO 3: Solo si el link interior EXISTS en la lista → ejecutar send_image con ese link\n\nCRITERIO DE SELECCIÓN DE IMAGEN:\n- Si el cliente NO mencionó versión → enviar la imagen base del modelo\n- Si el cliente mencionó una versión específica → enviar esa versión exacta\n- Si no existe imagen de esa versión → enviar la más cercana disponible\n\nVERSIÓN BASE POR MODELO (cuando el cliente no especifica versión):\n- JAC JS2 → JAC JS2\n- Chery Tiggo 4 Pro → Chery Tiggo 4 Pro Luxury\n- GAC GS3 → GAC GS3 EMZOOM\n- GAC EMPOWER → GAC NUEVO EMPOW\n\nENLACES DE IMAGENES POR MODELO Y VERSION:\nJAC JS2:\n- JAC JS2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2.jpg\n- JAC JS2 Tablero: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2-tablero.jpg\n- JAC JS2 Tablero 2: https://agncorp.com.ar/marcaschinas/jac/jac-s2/jac-s2-tablero2.jpg\n\nJAC JS4:\n- JAC JS4 Flagship: https://agncorp.com.ar/marcaschinas/jac/jac-js4-flagship/jac-js4.jpg\n- JAC JS4 Luxury: https://agncorp.com.ar/marcaschinas/jac/jac-js4-luxury/jac-js4.jpg\n\nJAC JS6 PHEV:\n- JAC JS6 PHEV: https://agncorp.com.ar/marcaschinas/jac/jac-js6-phev/jac-js6-phev.jpg\n\nJAC JS8:\n- JAC JS8 Pro: https://agncorp.com.ar/marcaschinas/jac/jac-js8-pro/jac-js8-pro.jpg\n\nJAC EV30X:\n- JAC EV30X: https://agncorp.com.ar/marcaschinas/jac/ev-30x/jac-ev-30x.jpg\n\nJAC T8:\n- JAC T8 Intelligent: https://agncorp.com.ar/marcaschinas/jac/jac-t8-intelligent/jac-t8-intelligent.jpg\n\nJAC T9:\n- JAC T9: https://agncorp.com.ar/marcaschinas/jac/jac-t9/jac-t9.jpg\n\nCHERY TIGGO 4 PRO:\n- Chery Tiggo 4 Pro Luxury: https://agncorp.com.ar/marcaschinas/chery/chery-tiggo-4-pro-luxury/chery-tiggo-4-pro-luxury.jpg\n\nGAC GS3:\n- GAC GS3 EMZOOM: https://agncorp.com.ar/marcaschinas/gac/gs3-emzoom/gac-gs3-emzoom.jpg\n\nGAC EMKOO:\n- GAC EMKOO: https://agncorp.com.ar/marcaschinas/gac/emkoo/gac-emkoo.jpg\n\nGAC GS8:\n- GAC GS8: https://agncorp.com.ar/marcaschinas/gac/gs8/gs8.jpg\n\nGAC EMPOWER:\n- GAC NUEVO EMPOW: https://agncorp.com.ar/marcaschinas/gac/nuevo-empow/empow.jpg\n\nGAC AION ES:\n- GAC AION ES: https://agncorp.com.ar/marcaschinas/gac/aion-es/aion-es.jpg\nREGLAS:\n✅ SIEMPRE generar respuesta conversacional después de ejecutar la tool\n❌ NUNCA dejar output vacío tras usar la tool\n❌ NUNCA mencionar el link como texto en el mensaje\n✅ OBLIGATORIO tras ejecutar send_image: la respuesta SIEMPRE debe comenzar con\n   - Exterior: \"Te mando una foto del [modelo].\" o \"Acá tenés el [modelo].\"\n   - Interior: \"Te mando una foto del interior del [modelo].\" o \"Acá tenés el tablero del [modelo].\"\n   Esto es indispensable para rastrear tipo y modelo de imágenes ya enviadas.\n\n💬 TONO Y ESTILO\nSiempre usar:\n\nTuteo (vos, tu, te)\nOraciones cortas (10-15 palabras)\nMáximo 1 emoji por mensaje\n1 pregunta por respuesta\n\nPalabras prohibidas (robóticas):\n❌ \"procesando\", \"derivando\", \"gestionar\", \"a la brevedad\", \"indique\", \"seleccione\"\nReemplazos:\n✅ \"te contactamos\" | \"charlamos\" | \"¿qué te interesa?\" | \"te ayudo\"\n\nControl de multimedia:\n\nUn modelo = Una sola vez imágenes/PDFs en toda la conversación\nRecordar qué modelos ya mostraste visualmente\n\n\n🗃️ TOOL: actualiza_perfil\nÚsala cuando captures datos nuevos del cliente que no estén en contexto_historial.\n\nParámetros:\n- data: objeto con SOLO los campos capturados en este mensaje\n\nCampos disponibles en data:\n{\n  \"nombre\": \"Nombre completo si lo mencionó\",\n  \"email\": \"Email si lo compartió\",\n  \"origen\": \"Ciudad o provincia\",\n  \"domicilio\": \"Dirección si la dio\",\n  \"modelos_interes\": [\"modelo1\", \"modelo2\"],\n  \"grupo_familiar\": \"Composición familiar mencionada\",\n  \"credito_bancario\": true/false,\n  \"presupuesto\": \"Monto o rango mencionado\",\n  \"etapa_actual\": \"Abierta|Desarrollada|Cierre\"\n}\n\nREGLAS DE USO:\n✅ Llamar cuando el cliente revela AL MENOS UN dato de valor nuevo\n✅ Llamar cuando la etapa cambia, aunque no haya otros datos nuevos\n✅ Incluir SOLO los campos con datos nuevos, no mandar campos vacíos\n\n⚠️ MODELOS DE INTERÉS: Si el cliente menciona un modelo que NO figura\n   en \"Modelos de interés\" del PERFIL CONSOLIDADO → llamar actualiza_perfil\n   con modelos_interes: [\"nuevo_modelo\"] SIEMPRE, aunque ya tenga otros modelos.\n   Cada modelo nuevo mencionado es un dato nuevo.\n\n❌ NO llamar en saludos o preguntas generales\n❌ NO repetir datos que ya figuren en el bloque PERFIL CONSOLIDADO DEL CLIENTE\n⚠️  Si el dato aparece solo en el historial pero NO en el perfil consolidado\n    → llamar actualiza_perfil igualmente, el perfil aún no lo tiene guardado\n⚠️  EXCEPCIÓN: etapa_actual SIEMPRE debe enviarse si cambió respecto\n    a la etapa actual del contexto, aunque ya estuviera registrada antes\n❌ NO mandar campos con valor vacío \"\" o null\n❌ NO incluir \"telefono\" dentro del objeto data, es un parámetro separado e inmutable\n\nEjemplo correcto (datos nuevos):\n{\n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"origen\": \"Salta\"\n  }\n}\n\nEjemplo correcto (solo cambio de etapa):\n{ \n  \"data\": {\n    \"etapa_actual\": \"Cierre\"\n  }\n}\n\nEjemplo incorrecto (no hacer esto):\n{ \n  \"data\": {\n    \"nombre\": \"Fernando Salva\",\n    \"email\": \"\",\n    \"origen\": \"\",\n    \"modelos_interes\": []\n  }\n}\n\n🎯 CALIFICACIÓN PROGRESIVA DEL CLIENTE\n\nDatos PRIORITARIOS a capturar (en orden de importancia):\n1. Nombre → para personalizar la conversación\n2. Origen (ciudad/provincia) → para información de sucursal\n3. Modelo de interés → para orientar la recomendación y habilitar el cierre\n4. Uso o necesidad → para afinar la sugerencia\n\nREGLAS DE CAPTURA NATURAL:\n✅ Capturar datos de forma conversacional, nunca como formulario\n✅ Una sola pregunta por mensaje (ya definido en tono y estilo)\n✅ Aprovechar el contexto para preguntar naturalmente:\n   - Mencionó una SUV → \"¿Es para uso familiar o más para la ciudad?\"\n   - Pregunta por precios → \"¿Desde qué zona estás? Así te paso el contacto correcto\"\n   - Saludo inicial sin nombre → \"¡Hola! Soy Kai 👋 ¿Con quién tengo el gusto?\"\n✅ Si ya conocés el nombre → usarlo directamente, nunca volver a pedirlo\n✅ Si origen ya está en perfil → usar esa sucursal directamente\n\nMOMENTOS CLAVE para preguntar:\n- Nombre: en el primer intercambio si no está en memoria\n- Origen: cuando el cliente muestra interés real (pregunta por precio,\n  quiere contacto, pide agendar) → \"¿De qué provincia sos? Así te\n  conecto con el asesor de tu zona\"\n- Uso/necesidad: cuando menciona un modelo o categoría por primera vez\n\n❌ NO preguntar nombre Y origen en el mismo mensaje\n❌ NO pedir datos si el cliente ya reveló suficiente interés\n   para derivarlo (priorizar avanzar en el flujo)\n❌ NO interrumpir el flujo de una consulta concreta para pedir datos\n\n\n📍 CAPTURA Y REGISTRO DE DATOS DEL CLIENTE\n\nFlujo OBLIGATORIO cuando detectás un dato nuevo:\n1. LLAMAR actualiza_perfil con el dato capturado  ← PRIMERO, siempre\n2. Formular la respuesta conversacional           ← DESPUÉS\n3. Completar el JSON de salida                    ← AL FINAL\n\nCampos a capturar progresivamente:\n- Nombre completo: \"[nombre] [apellido]\" → campo \"nombre\"\n- Email: buscar en memoria primero\n- Ubicación/Provincia: buscar en memoria primero\n- Modelo de interés: si lo menciona explícitamente\n\nAntes de solicitar cualquier dato:\n→ Revisar PERFIL CONSOLIDADO DEL CLIENTE primero\n→ Si existe ahí → usar directamente, NO volver a pedir\n→ Si no está en el perfil pero sí en el historial \n  → llamar actualiza_perfil para persistirlo, luego usarlo\n→ Si no existe en ninguno → preguntar de forma natural\n\n🗄️ SALIDA ESTRUCTURADA (JSON)\n{\n  \"response\": \"Tu respuesta conversacional para el usuario\",\n  \"should_register\": true/false,\n  \"context_data\": {\n    \"mensaje\": \"Resumen de información valiosa (máx 2 líneas)\",\n    \"etapa\": \"Abierta|Desarrollada|Cierre\",\n    \"modelo\": \"Nombre del modelo si fue mencionado\",\n    \"nombre\": \"Nombre completo del cliente\"\n  }\n}\n\nshould_register: true cuando el mensaje contiene AL MENOS UNO de estos datos de valor:\n✅ Nombre completo del cliente (nombre + apellido)\n✅ Ubicación o provincia compartida\n✅ Presupuesto mencionado\n✅ Preferencias específicas de modelo\n✅ Necesidades reveladas (familia, uso, trabajo)\n✅ Email o dato de contacto\n✅ Solicitud de cita/precio (→ etapa \"Cierre\")\n✅ Cambio de etapa evidente\n✅ Preferencias específicas de modelo → SIEMPRE true si el modelo\n   no figura ya en el perfil consolidado del cliente\n✅ Solicitud de test drive, aunque la etapa ya sea \"Cierre\"\n✅ Cualquier preferencia nueva sobre la cita ya agendada\n   (test drive, modelo específico a ver, ver plan de pago, firmar contrato, día preferido, etc.)\n\nREGLA CLAVE: Si el mensaje contiene información de valor de la lista anterior,\nshould_register = true SIEMPRE, aunque el tono sea casual o sea el primer mensaje.\n\nshould_register: false SOLO cuando:\n❌ El mensaje es únicamente un saludo sin datos (\"hola\", \"buenas\", \"cómo estás\")\n❌ Pregunta genérica sin información personal (\"¿qué modelos tienen?\")\n❌ La información ya fue registrada en una interacción anterior\n\n⚠️ IMPORTANTE: El campo should_register:true en el JSON de salida NO reemplaza \nllamar a esta tool. Son funciones distintas:\n- actualiza_perfil → escribe en la base de datos (OBLIGATORIO cuando hay dato nuevo)\n- should_register → señal para el sistema de logging (secundario)\nSi hay dato nuevo, PRIMERO llama actualiza_perfil, LUEGO setea should_register:true.\n\n⚠️ REGLA DE DESEMPATE: Si dudás entre true/false,\n   preguntate: \"¿El asesor necesitaría saber esto antes de llamar?\"\n   Si sí → should_register: true\n\n---\n\n🎨 LIBERTAD CREATIVA Y VOZ PROPIA\n\nRespondé con alma:\n- 2 oraciones máximo: una que responda o conecte, una que pregunte\n- Una pregunta que realmente te interese saber\n- Conectá el auto con la vida del cliente, no con sus specs\n- Sé genuinamente curioso sobre sus planes y necesidades\n\nConectar bien significa:\n- No: \"tiene 7 asientos\"\n- Sí: \"entra toda la familia\"\n- No: \"motor de bajo consumo\"\n- Sí: \"rinde mucho en ciudad\"\n\nCuando necesites el origen para derivar:\nAntes:  \"¿De qué zona sos?\"\nAhora:  \"¿Desde qué provincia nos contactás? Así te conecto con el equipo de tu zona 👌\"\n\nEjemplos de transformación:\n\nAntes: \"El Versa tiene bajo consumo de combustible y es apto para uso urbano.\"\nAhora: \"¡El Versa es perfecto para moverse en la ciudad! ¿Cuánto manejás por semana?\"\n\nAntes: \"El X-Trail cuenta con tres filas de asientos y amplio espacio de carga.\"\nAhora: \"¡El X-Trail es ideal para familias que viajan seguido! ¿Cuántos van normalmente?\"\n\nAntes: \"La Frontier tiene tracción 4x4 y caja de carga de 1 tonelada.\"\nAhora: \"¡La Frontier está hecha para trabajo duro! ¿La usarías más en ruta o en campo?\"\n\nAntes: \"¿Desea financiar mediante plan de ahorro o venta directa?\"\nAhora: \"¿Lo estarías tomando por plan de ahorro o directo?\"\n\n\n⚡ CHECKLIST PRE-RESPUESTA\n\n✅ Horario validado (si deriva)\n✅ Memoria consultada (email, ubicación, datos previos)\n✅ Tono natural (tuteo, sin palabras robóticas)\n✅ Brevedad (15 palabras + 1 pregunta)\n✅ Multimedia: ¿Hay en el historial una frase \"Te mando una foto del [modelo]\" para este modelo? Si sí → NO enviar imagen.\n✅ JSON estructurado correctamente\n\n\n🎨 EJEMPLOS DE RESPUESTAS\n\nSaludo inicial:\n{\n  \"response\": \"¡Hola Juan! 🚗 Soy Kai. ¿Qué modelo te interesa ver?\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"\",\n    \"etapa\": \"Abierta\",\n    \"modelo\": \"\",\n    \"nombre\": \"\"\n  }\n}\n\nInfo valiosa (presupuesto):\n{\n  \"response\": \"¡Perfecto! Con ese presupuesto tenés varias opciones. ¿Preferís SUV o sedán?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente con presupuesto USD 30,000\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nSolicitud de cita:\n{\n  \"response\": \"¡Dale! Te contacta un asesor pronto. ¿Qué modelo querés ver?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente solicitó cita\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre completo (modelo presente):\n{\n  \"response\": \"¡Listo Juan! Ya registré tu consulta. Pronto el equipo de ventas se comunica con vos 👌\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente listo para cierre, JAC JS8\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"JAC JS8\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n\nCierre bloqueado (falta modelo):\n{\n  \"response\": \"¡Genial! ¿Qué modelo te interesa? Así te conecto con el equipo indicado 👌\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"Cliente quiere cerrar pero falta modelo\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2736,1216],"id":"03d45899-8acd-4d49-a809-c0488798e529","name":"Nissan-Vendedor-Orquestador"},{"parameters":{"jsCode":"const agentOutput = $('Nissan-Vendedor-Orquestador').first().json.output\n\nif (!agentOutput || typeof agentOutput !== 'object') {\n  console.log('Output no estructurado, saltando registro');\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst shouldRegister = agentOutput.should_register || false;\nconst contextData = agentOutput.context_data || {};\n\nif (!shouldRegister) {\n  console.log('El AI decidió NO registrar este mensaje');\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst userContext = $('Formatear Whatsapp input').first().json.userContext;\nconst telefono_origen = userContext.telefono_origen;\nconst display_phone = userContext.displayPhoneNumber || userContext.phoneNumberId;\n\nif (!contextData.mensaje || !telefono_origen || !display_phone) {\n  console.error('Faltan datos obligatorios para el registro', {\n    mensaje: !!contextData.mensaje,\n    remitente: !!telefono_origen,\n    destinatario: !!display_phone\n  });\n  return [{ json: { shouldRegister: false } }];\n}\n\nconst dbData = {\n  shouldRegister: true,\n  mensaje: contextData.mensaje.trim(),\n  remitente: telefono_origen,\n  destinatario: display_phone,\n  etapa: contextData.etapa || 'Abierta',\n  modelo: contextData.modelo || '',\n  nombre: contextData.nombre || ''\n};\n\nconsole.log('Datos preparados para registro:', {\n  mensaje_length: dbData.mensaje.length,\n  etapa: dbData.etapa,\n  modelo: dbData.modelo,\n  nombre: dbData.nombre\n});\n\nreturn [{ json: dbData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,1216],"id":"9f300dbd-ae60-459a-b8ed-18336e2ba340","name":"prepareDBdata","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"761a7b8b-2bf8-4ce4-9bd7-694c84488a0c","leftValue":"={{ $json.shouldRegister }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,1024],"id":"b12f0b87-aae6-493c-b471-60da4b22582d","name":"grabar_si_no"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1424,1216],"id":"aec76f17-662d-498c-9778-605e37bf8d4f","name":"No Operation, do nothing"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","tableId":"otras_vendedor_memory","fieldsUi":{"fieldValues":[{"fieldId":"mensaje","fieldValue":"={{ $json.mensaje }}"},{"fieldId":"remitente","fieldValue":"={{ $json.remitente }}"},{"fieldId":"destinatario","fieldValue":"={{ $json.destinatario }}"},{"fieldId":"etapa","fieldValue":"={{ $json.etapa }}"},{"fieldId":"modelo","fieldValue":"={{ $json.modelo }}"},{"fieldId":"nombre","fieldValue":"={{ $json.nombre }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,1024],"id":"74eb2f43-efb7-4083-a798-f497f0495bf7","name":"post_registro_nuevo","credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const saved = $input.first().json;\n\nconsole.log('✅ Registro exitoso en BD:', {\n  mensaje_preview: saved.mensaje?.substring(0, 50) + '...',\n  etapa: saved.etapa,\n  modelo: saved.modelo,\n  timestamp: new Date().toISOString()\n});\n\n// No retornar nada para que la ejecución termine aquí\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,1024],"id":"bb87bcf3-7882-4b94-a47a-630e33a4fe52","name":"dbSuccessLog"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"fsalva\",\n    \"password\": \"12345\",\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,128],"id":"a043bb1b-4583-4e50-a3b7-5045c56e5d80","name":"login_cloudy","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,224],"id":"27f889cc-7dbc-41e1-97c5-d9b90a0f977d","name":"pre-carga-oportunidad","disabled":true},{"parameters":{"method":"PUT","url":"https://desa.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,128],"id":"224bb555-7341-4b7f-88b1-fae8a29726ce","name":"crear-nueva-oportunidad","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Nissan'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// Actualizar tipo de operación según dato real del lead\ntipo_operacion_var.Value = lead_info.tipo_operacion === 'plan_ahorro' \n  ? 'Plan de ahorro' \n  : 'Venta directa';\n\n// Asignar ejecutivo según equipo_crm en etapa Cierre\nif (etapa === \"Cierre\") {\n  \n  const equipoCrm = lead_info.equipo_crm;\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n\n  const ejecutivoMap = {\n    \"tucuman_plan_ahorro\":            \"DISTRIBUIR - Plan de ahorro - NISSAN TUCUMAN Agente Elite\",\n    \"tucuman_venta_directa\":          \"DISTRIBUIR - VTA - Directa NISSAN Tucuman Agente Elite\",\n    \"santiago_del_estero_plan_ahorro\": \"DISTRIBUIR - Plan de ahorro - NISSAN SANTIAGO Agente Elite\",\n    \"santiago_del_estero_venta_directa\": \"DISTRIBUIR - VTA - Directa NISSAN Santiago Agente Elite\"\n  };\n\n  ejecutivo_var.Value = ejecutivoMap[equipoCrm] || 'DISTRIBUIR - Automotores - Call';\n  \n  console.log('Cierre - equipo_crm:', equipoCrm, '→ ejecutivo:', ejecutivo_var.Value);\n  /*\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n  */\n  \n} else {\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  ;\n}\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,224],"id":"a7558e01-07bc-4c85-a391-53997c29c46c","name":"modifica-body","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Usa los datos que provienen de las siguientes fuentes:\n{{ $('Formatear Whatsapp input').item.json.userContext.contexto_historial }}\ny\n{{ $json.mensaje }}\nel telefono puedes obtenerlo de: \n{{ $('Formatear Whatsapp input').item.json.userContext.telefono_origen }}\nIMPORTANTE: Debes responder ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes o después.\n\nAnaliza la conversación y genera un JSON con esta estructura EXACTA:\n{\n  \"resumen\": \"string - Resumen detallado del lead para el CRM, incluyendo contexto, necesidades, intención de compra y detalles relevantes\",\n  \"firstName\": \"string o null - Nombre del cliente\",\n  \"lastName\": \"string o null - Apellido del cliente\",\n  \"email\": \"string o null - Email del cliente\",\n  \"provincia\": \"string o null - Provincia\",\n  \"ciudad\": \"string o null - Ciudad\",\n  \"sexo\": \"string - 'masculino', 'femenino' o 'no especificado'\",\n  \"modelo_interes\": \"string - Modelo de vehículo de interés, extraído del historial de conversación\",\n  \"tipo_lead\": \"string - 'cita', 'test_drive', 'consulta_precio', 'informacion' u 'otro'\",\n  \"urgencia\": \"string - 'alta', 'media' o 'baja'\",\n  \"telefono\": \"string o null - Número de teléfono\",\n  \"fecha_cita\": \"string o null - Fecha de cita si fue mencionada\"\n}\n\nREGLAS:\n- Los campos \"resumen\" y \"modelo_interes\" son OBLIGATORIOS\n- \"modelo_interes\" debe extraerse del historial aunque el cliente no lo haya mencionado explícitamente en el último mensaje\n- Si un dato no está disponible, usa null\n- NO agregues texto antes o después del JSON\n- Asegúrate de que sea un JSON válido","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-992,640],"id":"7d10ae7f-4d73-415c-9687-5c76425398db","name":"resumen_lead","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.all()[0].json;\nlet parsedData;\n\ntry {\n  const content = input.message?.content || input.content || JSON.stringify(input);\n  parsedData = typeof content === 'object' ? content : JSON.parse(content);\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  parsedData = {\n    resumen: input.message?.content || \"Error: No se pudo extraer resumen\",\n    firstName: null,\n    lastName: null,\n    email: null,\n    provincia: null,\n    ciudad: null,\n    sexo: \"no especificado\",\n    modelo_interes: null,\n    tipo_lead: \"otro\",\n    urgencia: \"media\",\n    telefono: null,\n    fecha_cita: null\n  };\n}\n\nconst validSexo     = [\"masculino\", \"femenino\", \"no especificado\"];\nconst validTipoLead = [\"cita\", \"test_drive\", \"consulta_precio\", \"informacion\", \"otro\"];\nconst validUrgencia = [\"alta\", \"media\", \"baja\"];\n\nconst normalized = {\n  resumen:        parsedData.resumen       || \"Sin resumen disponible\",\n  nombre:         parsedData.firstName     || null,\n  apellido:       parsedData.lastName      || null,\n  email:          parsedData.email         || null,\n  provincia:      parsedData.provincia     || null,\n  ciudad:         parsedData.ciudad        || null,\n  sexo:           validSexo.includes(parsedData.sexo)           ? parsedData.sexo      : \"no especificado\",\n  modelo_interes: parsedData.modelo_interes || null,\n  tipo_lead:      validTipoLead.includes(parsedData.tipo_lead)  ? parsedData.tipo_lead : \"otro\",\n  urgencia:       validUrgencia.includes(parsedData.urgencia)   ? parsedData.urgencia  : \"media\",\n  telefono:       parsedData.telefono      || null,\n  fecha_cita:     parsedData.fecha_cita    || null\n};\n\nreturn { json: normalized };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,544],"id":"002c95ac-b50d-48ac-b534-7daa89a057de","name":"limpia_data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,736],"id":"625ffc53-8ef7-47a9-85f3-41981ad8e05e","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baaac84f-6855-4687-b516-d63b11b010d8","leftValue":"={{ $json.etapa }}","rightValue":"Cierre","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1904,624],"id":"85a39905-995a-4f05-b707-288ae1800d32","name":"etapa_cierre?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1584,752],"id":"4292bfcc-5f6e-478e-a104-c24afc95a368","name":"No Operation, do nothing4","disabled":true},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Nissan' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,128],"id":"13bc71d5-ad89-4494-aae2-4721e020ff61","name":"get-lead-by-cel-marca","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1744,128],"id":"dfae2c4f-8ffe-4073-a16e-06e3cf6916ef","name":"existe-led?","disabled":true},{"parameters":{"url":"=https://desa.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,32],"id":"44b6d020-c392-4e75-8f05-2fa1dbcef51a","name":"get-lead-by-doc_id","disabled":true},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n/*\nif(etapa === \"Cierre\"){\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'  \n}else{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n*/\n\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,32],"id":"ec268f77-9667-41a0-a4e9-a00f4a17db84","name":"edita-body","disabled":true},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":7200},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1360,1408],"id":"9e179231-5ab3-4aea-99da-6cbede642c62","name":"Redis - Register Followup","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"La respuesta conversacional para el usuario\"\n    },\n    \"should_register\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si la conversación contiene información valiosa para registrar, false en caso contrario\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"mensaje\": {\n          \"type\": \"string\",\n          \"description\": \"Descripción breve y clara de la información relevante del usuario (presupuesto, preferencias, necesidades)\"\n        },\n        \"etapa\": {\n          \"type\": \"string\",\n          \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"],\n          \"description\": \"Etapa actual del proceso de venta\"\n        },\n        \"modelo\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del modelo de vehículo si es relevante, vacío si no aplica\"\n        },\n        \"nombre\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del cliente si fue capturado en la conversación\"\n        }\n      },\n      \"required\": [\"mensaje\", \"etapa\", \"modelo\", \"nombre\"]\n    }\n  },\n  \"required\": [\"response\", \"should_register\", \"context_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2208,1456],"id":"0b20e0ed-6cd7-4073-a7c0-032e3055b93c","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2208,1616],"id":"a82bdcf4-536e-41b9-97e4-9b1db31ef06c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\nconst dataPerfil = $('get-perfil').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura - priorizar dataPerfil sobre historial\nconst etapa_actual = dataPerfil?.etapa_actual \n  || (memoria_contexto_array.length > 0 \n    ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n    : null);\n\n// CONSTRUIR BLOQUE DE PERFIL CONSOLIDADO\nlet bloque_perfil = \"\";\nif (dataPerfil && dataPerfil.telefono) {\n  const campos = [\n    dataPerfil.nombre        ? `Nombre: ${dataPerfil.nombre}` : null,\n    dataPerfil.email         ? `Email: ${dataPerfil.email}` : null,\n    dataPerfil.origen        ? `Origen: ${dataPerfil.origen}` : null,\n    dataPerfil.domicilio     ? `Domicilio: ${dataPerfil.domicilio}` : null,\n    dataPerfil.presupuesto   ? `Presupuesto: ${dataPerfil.presupuesto}` : null,\n    dataPerfil.grupo_familiar ? `Grupo familiar: ${dataPerfil.grupo_familiar}` : null,\n    dataPerfil.credito_bancario !== null && dataPerfil.credito_bancario !== undefined\n      ? `Crédito bancario: ${dataPerfil.credito_bancario ? 'Sí' : 'No'}` : null,\n    dataPerfil.modelos_interes?.length \n      ? `Modelos de interés: ${dataPerfil.modelos_interes.join(', ')}` : null,\n    dataPerfil.etapa_actual  ? `Etapa actual: ${dataPerfil.etapa_actual}` : null,\n  ].filter(Boolean);\n\n  if (campos.length > 0) {\n    bloque_perfil = `=== PERFIL CONSOLIDADO DEL CLIENTE ===\\n${campos.join('\\n')}\\n======================================\\n\\n`;\n  }\n}\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  const historial = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n  memoria_contexto = bloque_perfil + historial;\n} else {\n  memoria_contexto = bloque_perfil; // Solo perfil, sin historial previo\n}\n\n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0];\nconst contact = wppData.contacts[0];\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario - priorizar dataPerfil sobre historial\nlet userName = dataPerfil?.nombre \n  || wppData.contacts[0]?.profile?.name \n  || 'Cliente';\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\");\n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3072,1216],"id":"d5108a74-1a24-48f7-90be-f59ed4b52e28","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_vendedor_memory","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3744,1024],"id":"477fc252-cf68-48ee-8002-3d1cde5a9eca","name":"Get Memory","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3296,928],"id":"2414432a-80ad-4cf7-abdb-6486523d5c00","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"60742098-ca11-4f51-a9ef-bdfb1bdb9e02","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[-3520,1024],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"27f23d59-b7ef-47f7-846a-3c435c33055f","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[-3296,1120],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","operation":"getAll","tableId":"otras_clientes","returnAll":true,"filters":{"conditions":[{"keyName":"telefono","condition":"eq","keyValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4192,1120],"id":"1e3e989c-0eeb-4adb-b201-a5eb5eda2c6f","name":"get-perfil","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $input.first().json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":0}],"combinator":"and"},"options":{}},"id":"c90b3a8a-16dc-4fd4-8f5b-0b60a4c4629a","name":"perfil_existe?","type":"n8n-nodes-base.if","position":[-3968,1120],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"1c9e484f-06c1-43d6-b5ae-9ed059ab5e28","name":"Default Memory","type":"n8n-nodes-base.set","position":[-3296,1312],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"marcas_chinas_schema","tableId":"otras_clientes","fieldsUi":{"fieldValues":[{"fieldId":"telefono","fieldValue":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},{"fieldId":"nombre","fieldValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name || \"\" }} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3520,1312],"id":"e8c8d60f-675f-420d-81b7-c38c9d02b010","name":"post_registro_nuevo1","credentials":{"supabaseApi":{"id":"0YRWgncmJEIPZoHR","name":"supabase-agn-pro-credential"}},"onError":"continueRegularOutput"},{"parameters":{"description":"=Actualiza el perfil consolidado del cliente en la base de datos. \nLlamar cuando el cliente revela un dato nuevo que NO aparezca en el bloque \nPERFIL CONSOLIDADO DEL CLIENTE del contexto: nombre, email, origen, domicilio, \npresupuesto, modelo de interés, grupo familiar, crédito bancario, o cuando \nla etapa cambia. No llamar si el dato ya está en el perfil consolidado.\nIMPORTANTE: El campo \"telefono\" NUNCA debe incluirse dentro del objeto \"data\". \nEs un parámetro separado que se envía automáticamente y es inmutable.","workflowId":{"__rl":true,"value":"Ul8KfansWAa1C3D0","mode":"list","cachedResultUrl":"/workflow/Ul8KfansWAa1C3D0","cachedResultName":"update-perfil-varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', ``, 'json') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2752,1536],"id":"35ebd776-5e51-4950-b4c1-54dfa2eb55b7","name":"actualiza_perfil"},{"parameters":{"content":"# MARCAS VARIAS VENDEDOR        ","height":80,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2736,992],"typeVersion":1,"id":"0b382e94-9187-4d06-a99a-94ccf710fa71","name":"Sticky Note"},{"parameters":{"text":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"nsfw":{"value":{"threshold":0.7,"customizePrompt":true,"prompt":"=Eres un asistente de moderación de contenido para un bot de ventas de vehículos.\n\nTu tarea es analizar mensajes de conversaciones entre clientes y un asistente comercial automotriz, y determinar si el contenido es inapropiado para ese contexto.\n\nCONTEXTO IMPORTANTE:\nEste bot opera en el rubro automotriz. Los mensajes pueden contener de forma legítima y habitual:\n- Referencias a cifras de dinero (\"diez mil\", \"veinte mil pesos\", \"$15.000\")\n- Kilometrajes de vehículos (\"cien mil kilómetros\", \"los diez mil km del service\")\n- Términos técnicos mecánicos o de financiamiento\n- Nombres de modelos, versiones y marcas de autos\n- Consultas sobre planes de ahorro, cuotas, patentes y seguros\n- Solicitudes de ver el vehículo: \"mostrame\", \"quiero ver\", \"cómo es\", \"cómo queda\"\n- Solicitudes de ver el interior o exterior: \"mostrame por dentro\", \"quiero ver adentro\", \"cómo es por dentro\", \"mostrame el interior\", \"mostrame el tablero\", \"cómo es el habitáculo\"\n- Expresiones de tamaño o espacio: \"entra todo\", \"caben los chicos\", \"cuánto entra\"\n\nEstas expresiones NO deben ser marcadas como inapropiadas bajo ninguna circunstancia.\n\nCONTENIDO A DETECTAR:\n- Contenido sexual o material explícito\n- Discurso de odio o lenguaje discriminatorio\n- Acoso o bullying\n- Violencia explícita o gore\n- Referencias a autolesiones o suicidio\n- Lenguaje vulgar u ofensivo grave\n- Actividades ilegales (drogas, armas, robo, etc.)\n- Contenido extremista o radical\n- Explotación o abuso\n- Contenido médico gráfico\n- Cualquier otro contenido claramente inapropiado para una conversación comercial\n\nCONSIDERACIONES SOBRE FALSOS POSITIVOS:\nAntes de marcar un mensaje como inapropiado, evaluá si la expresión tiene una interpretación legítima dentro del contexto de venta de vehículos. Las palabras \"dentro\", \"adentro\", \"por dentro\", \"interior\" en este contexto siempre refieren a partes del automóvil, no a contenido sexual. En caso de duda, priorizá NO bloquear el mensaje para no interrumpir una conversación comercial válida. Solo marcá como inapropiado cuando el contenido sea inequívocamente ofensivo o dañino, sin ninguna interpretación automotriz posible."}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-7952,1072],"id":"e27a4ff0-71b9-470c-ab84-1224e128faaf","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7952,1280],"id":"9b73c788-f334-4659-bbc1-de590dad912c","name":"openai-para-guardrail","credentials":{"openAiApi":{"id":"MT0ol7N77Zv1mXCs","name":"griftin_openai_credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"13edf94b-e66a-401c-9263-2c4f247767de","name":"respuesta","value":"Tu mensaje no cumple con nuestros estandares de seguridad o buenos modales, por favor,  reformula y vuelve a enviar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7600,1440],"id":"908e45cf-963f-49de-9a8c-c1aa77598ca5","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"1042623175607044","recipientPhoneNumber":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","textBody":"={{ $json.respuesta }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-7280,1712],"id":"f9e77bf2-56b2-4463-8679-b7406581558b","name":"mensaje-rechazo-seguridad","webhookId":"f98505ee-d371-4a19-b2f9-f616fc58d860","credentials":{"whatsAppApi":{"id":"jKIsK9La0ddIsLvg","name":"whatsApp-salida-chinos"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Obsbj4i9zv8hJe8c","mode":"list","cachedResultUrl":"/workflow/Obsbj4i9zv8hJe8c","cachedResultName":"subflujo_pdf_tecnico_nissan_varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}","telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2560,1520],"id":"ccd5e0c5-4b87-42d1-9be0-6b9bb52c6605","name":"send_pdf_tecnico"},{"parameters":{"workflowId":{"__rl":true,"value":"2d60n9hx2jPtZYY6","mode":"list","cachedResultUrl":"/workflow/2d60n9hx2jPtZYY6","cachedResultName":"subflujo_imagen_varios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('limpiar-numero').item.json.numeroNormalizado }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2368,1504],"id":"6b6d0466-2b8f-4278-a1b6-cd082b160f81","name":"send_image"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-3136,1536],"id":"b3223053-2462-40f3-9f24-4a0f6a949933","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"QUYO24DurfCqfZ17","name":"anthropic-agn-credential"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse(JSON.stringify({\n  messaging_product: \"whatsapp\",\n  status: \"read\",\n  message_id: $('WhatsApp Trigger').item.json.messages[0].id,  \n  typing_indicator: {\n    type: \"text\"\n  }\n})) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-8704,1264],"id":"30c6e592-9bce-4715-b187-5f98cf124393","name":"typing_indicator","credentials":{"httpHeaderAuth":{"id":"pCFUGuNPvlqe3mQe","name":"header-auth-chinos"}}},{"parameters":{"jsCode":"// Obtener sessionId del nodo session-id\nconst sessionId = $('session-id').first().json.sessionId;\n\n// Obtener datos del AI\nconst aiOutput = $('Nissan-Vendedor-Orquestador').first().json.output;\nconst contextData = aiOutput.context_data || {};\nconst aiResponse = aiOutput.response || '';\n\n// Obtener mensaje del usuario\nconst userMessages = $('une_mensajes').first().json;\nconst userMessage = userMessages.mensaje_usuario || '';\n\n// Crear el objeto que se guardará en Redis\nconst redisData = {\n  timestamp: new Date().toISOString(),\n  etapa: contextData.etapa || 'Abierta',\n  last_bot_msg: aiResponse,\n  last_user_msg: userMessage,\n  nombre: contextData.nombre || ''\n};\n\n// Convertir a JSON string\nconst redisValue = JSON.stringify(redisData);\n\n// Retornar para el siguiente nodo\nreturn {\n  json: {\n    redis_key: `followup_varias:${sessionId}`,\n    redis_value: redisValue,\n    ttl: 86400 // 24 horas\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,1408],"id":"c5246eb5-81c8-4058-b72e-c25e8e969ed3","name":"set-data-followup"},{"parameters":{"jsCode":"const sessionId = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\nreturn [{ json: { sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6256,1216],"id":"a0b751f1-3e84-442e-a9c3-a3a40dee29a3","name":"session-id"},{"parameters":{"operation":"delete","key":"= followup_varias:{{$json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5904,1488],"id":"73a99497-f7cd-47b6-9458-8c283dbe9450","name":"Cancelar FollowUp","credentials":{"redis":{"id":"cMO73Nui6etTJ1hG","name":"redis-local-credential"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://agnaum.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": \"usr4g3nt3\",\n    \"instanceName\": \"AGNAUM\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,528],"id":"c32631f8-badf-4823-9b0e-3a173e9f5427","name":"login_cloudy1"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,624],"id":"c9c612bc-d3cc-4051-be44-63e7c3d0f86e","name":"pre-carga-oportunidad1"},{"parameters":{"method":"PUT","url":"https://agnaum.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,528],"id":"2ad3dad5-373c-4933-90fc-c03aa4519870","name":"crear-nueva-oportunidad1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\nlet etapa = $('prepareDBdata').first().json.etapa;\n\n\n//console.log('EN EL NODO MODIIFICA BODY LA ETAPA ES ', etapa)\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\n\n//aqui estoy poniendo el modelo de interes\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\ntipo_operacion_var.Value = 'Venta directa'\n  \n\n// let team_var = data.CustomFields.find(item => item.Name === \"TEAM\")\n// team_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n// let team_id_var = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\n// team_id_var.Value = 349483\n\nconst modelo_var = (lead_info.modelo_interes || '').toLowerCase();\nconst ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\");\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n\nif (etapa === \"Cierre\") {\n  if (modelo_var.includes('chery') || modelo_var.includes('gac')) {\n    ejecutivo_var.Value = 'DISTRIBUIR – VTA – GAC Agente Elite';\n    marca_var.Value = 'GAC'\n  } else if (modelo_var.includes('jac')) {\n    ejecutivo_var.Value = 'DISTRIBUIR – VTA – JAC Agente Elite';\n    marca_var.Value = 'Jac'\n  }\n} \nelse {\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call';\n  marca_var.Value = lead_info.modelo_interes\n}\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,624],"id":"57dd7f15-363a-44f2-9739-dbddcfcee9d6","name":"modifica-body1"},{"parameters":{"url":"https://agnaum.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=(MARCA = 'GAC' OR MARCA = 'Jac') AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,544],"id":"d32bfb30-b591-4497-bd63-2b18be47b3ec","name":"get-lead-by-cel-marca1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,528],"id":"e3dd565e-c6e1-4f08-9557-e17d262845e3","name":"existe-led?1"},{"parameters":{"url":"=https://agnaum.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy1').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,432],"id":"6c4ad099-2052-471f-8ede-85bc9d6c32f2","name":"get-lead-by-doc_id1"},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id1').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet etapa = $('prepareDBdata').first().json.etapa;\n\nconsole.log('EN EL NODO EDITA BODY LA ETAPA ES ', etapa)\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nif(notas_var){\n  notas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;  \n}\n\n//voy a tomar el numero de team para filtrar los derivables\nlet numero_team = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\nconsole.log('TEAM ID', numero_team)\n//tomamos el valor de modelo del lead\nlet modelo_var = (lead_info.modelo_interes || '').toLowerCase();\n\nlet ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\nif(etapa === \"Cierre\" && numero_team?.Value == 37816){\n   if (modelo_var.includes('chery') || modelo_var.includes('gac')) {\n    if(ejecutivo_var) ejecutivo_var.Value = 'DISTRIBUIR – VTA – GAC Agente Elite';\n    if(marca_var) marca_var.Value = 'GAC'\n  } else if (modelo_var.includes('jac')) {\n    if(ejecutivo_var) ejecutivo_var.Value = 'DISTRIBUIR – VTA – JAC Agente Elite';\n    if(marca_var) marca_var.Value = 'Jac'\n  }\n}\n/**\nelse{\n  let ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n  ejecutivo_var.Value = 'DISTRIBUIR - Automotores - Call'  \n}\n**/\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,432],"id":"be90fea9-1f6a-40c5-9e23-72993e86f73b","name":"edita-body1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2944,1536],"id":"3db2e082-d008-4520-97a8-314d2eda843d","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96d2bc4c-9901-41e7-8cfa-3451966e0e83","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","rightValue":"=mierda|boludo|conchudo|conchuda|puta|pelotudo|forro|hijo\\s*de\\s*puta|hdp|concha|carajo|puto|imbécil","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8384,1280],"id":"d5e56be4-c6d7-447d-a505-2e543dd3b757","name":"tiene_malas_palabras?"},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":[]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-9536,1744],"id":"6f23f6a4-e739-480d-a906-2b24a64742d2","name":"WhatsApp Trigger","webhookId":"ad224dfb-4d6d-4c72-894d-69b44184331e","credentials":{"whatsAppTriggerApi":{"id":"VUJB4DrLPkwMOkOi","name":"whatsApp-entrada-chinos"}}}],"connections":{"Switch":{"main":[[{"node":"merge_datos","type":"main","index":0}],[{"node":"session-id","type":"main","index":0}],[{"node":"obtener-sonido","type":"main","index":0}]]},"transcibe":{"main":[[{"node":"texto-from-sonido","type":"main","index":0}]]},"obtener-sonido":{"main":[[{"node":"bajar-sonido","type":"main","index":0}]]},"bajar-sonido":{"main":[[{"node":"transcibe","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"If1":{"main":[[{"node":"limpiar-numero","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"get-perfil","type":"main","index":0}]]},"limpiar-numero":{"main":[[{"node":"typing_indicator","type":"main","index":0}]]},"Nissan-Vendedor-Orquestador":{"main":[[{"node":"Send message","type":"main","index":0}]]},"prepareDBdata":{"main":[[{"node":"set-data-followup","type":"main","index":0},{"node":"grabar_si_no","type":"main","index":0}]]},"grabar_si_no":{"main":[[{"node":"post_registro_nuevo","type":"main","index":0},{"node":"resumen_lead","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"post_registro_nuevo":{"main":[[{"node":"dbSuccessLog","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-lead-by-cel-marca","type":"main","index":0}]]},"pre-carga-oportunidad":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"resumen_lead":{"main":[[{"node":"limpia_data","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"limpia_data":{"main":[[{"node":"login_cloudy1","type":"main","index":0}]]},"etapa_cierre?":{"main":[[],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"get-lead-by-cel-marca":{"main":[[{"node":"existe-led?","type":"main","index":0}]]},"existe-led?":{"main":[[{"node":"get-lead-by-doc_id","type":"main","index":0}],[{"node":"pre-carga-oportunidad","type":"main","index":0}]]},"get-lead-by-doc_id":{"main":[[{"node":"edita-body","type":"main","index":0}]]},"edita-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_outputParser","index":0}]]},"Send message":{"main":[[{"node":"prepareDBdata","type":"main","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"Nissan-Vendedor-Orquestador","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"get-perfil":{"main":[[{"node":"perfil_existe?","type":"main","index":0}]]},"perfil_existe?":{"main":[[{"node":"Get Memory","type":"main","index":0}],[{"node":"post_registro_nuevo1","type":"main","index":0}]]},"Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"post_registro_nuevo1":{"main":[[{"node":"Default Memory","type":"main","index":0}]]},"actualiza_perfil":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Guardrails":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"openai-para-guardrail":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"mensaje-rechazo-seguridad","type":"main","index":0}]]},"send_pdf_tecnico":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"send_image":{"ai_tool":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_languageModel","index":0}]]},"typing_indicator":{"main":[[{"node":"tiene_malas_palabras?","type":"main","index":0}]]},"set-data-followup":{"main":[[{"node":"Redis - Register Followup","type":"main","index":0}]]},"session-id":{"main":[[{"node":"Cancelar FollowUp","type":"main","index":0},{"node":"redis-cola-mensajes","type":"main","index":0}]]},"login_cloudy1":{"main":[[{"node":"get-lead-by-cel-marca1","type":"main","index":0}]]},"pre-carga-oportunidad1":{"main":[[{"node":"modifica-body1","type":"main","index":0}]]},"modifica-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"get-lead-by-cel-marca1":{"main":[[{"node":"existe-led?1","type":"main","index":0}]]},"existe-led?1":{"main":[[{"node":"get-lead-by-doc_id1","type":"main","index":0}],[{"node":"pre-carga-oportunidad1","type":"main","index":0}]]},"get-lead-by-doc_id1":{"main":[[{"node":"edita-body1","type":"main","index":0}]]},"edita-body1":{"main":[[{"node":"crear-nueva-oportunidad1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[{"node":"Nissan-Vendedor-Orquestador","type":"ai_memory","index":0}]]},"tiene_malas_palabras?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Guardrails","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"texto-from-sonido":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"dbSuccessLog":{"main":[[]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}