vero-hmNIKYLysdyevXOJ.json
{"updatedAt":"2025-11-06T18:40:36.000Z","createdAt":"2025-10-28T13:33:33.826Z","id":"hmNIKYLysdyevXOJ","name":"Vero","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7c16894b-89d5-4892-a5ca-d70088e475bc","name":"nombre","value":"","type":"string"},{"id":"607e7636-809a-486a-8677-4fe942bc13e0","name":"email","value":"","type":"string"},{"id":"8df095f2-a75e-41a0-bedc-e1633b5bc420","name":"mensaje","value":"quiero una ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-1056],"id":"7f85ae17-7471-4e13-aa9f-a1dcc3d780bc","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb47e053-d87d-464d-8137-2576dc7f3c34","leftValue":"={{ $json.mensaje }}","rightValue":"demo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-1056],"id":"6325b23c-f425-453f-862a-8a2af33a93b3","name":"If"},{"parameters":{"select":"user","user":{"__rl":true,"mode":"list","value":""},"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[128,-1152],"id":"fdd959f0-9de9-4623-8952-9ba3946e6cef","name":"Send a message","webhookId":"959b872a-0e74-4565-8f63-845db712b185","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Gracias","message":"gracias por su interes","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[128,-960],"id":"de3c2431-5cf8-4664-aa7b-c0bff3b67e12","name":"Send a message1","webhookId":"d7137b3d-af01-42ee-9f97-5b757ee206d6","disabled":true},{"parameters":{"formTitle":"test","formDescription":"quiero comprar tu producto","formFields":{"values":[{"fieldLabel":"Nombre","placeholder":"Nombre","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"Email","requiredField":true},{"fieldLabel":"Mensaje","fieldType":"textarea","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-464,-1056],"id":"a9d5ac06-0d62-419f-84f0-a622d4f0b87c","name":"On form submission","webhookId":"71cd29a8-17bb-4d41-b2f1-4a1bfb0662f3"}],"connections":{"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3b396268-78d8-4920-8627-7e37e7b323aa","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-28T13:33:33.829Z","createdAt":"2025-10-28T13:33:33.829Z","role":"workflow:owner","workflowId":"hmNIKYLysdyevXOJ","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":null,"tags":[]}