🔔-griftin-monitor-—-receptor-alertas-v2-FB5KpmzCujKEUd7s.json
{"updatedAt":"2026-06-21T01:27:10.000Z","createdAt":"2026-06-18T20:30:29.775Z","id":"FB5KpmzCujKEUd7s","name":"🔔 Griftin Monitor — Receptor Alertas v2","active":true,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"=gaston.villagra@griftin.com.ar","toEmail":"={{ $json.toEmail }}","subject":"=\n{{ $json.emailSubject }}","emailFormat":"html","html":"={{ $json.emailBody }}","options":{}},"name":"Enviar Mail Zoho","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[336,-48],"id":"48326e5c-a082-4537-ac2c-786d848f4ab2","webhookId":"d302df04-ef20-45ad-aea0-0625859018d3","credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account Gaston"}}},{"parameters":{"httpMethod":"POST","path":"monitor-alert","options":{}},"name":"Webhook Alertmanager","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-592,-32],"webhookId":"monitor-alert","id":"ca490a9a-4a18-4241-918b-a2a1972640d8"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nconst status = body.status || 'firing';\n\n// Mapa tag → email dev\nconst DEV_MAP = {\n  'dev-fer':    'fernando.salva@griftin.com.ar',\n  'dev-fer-s':    'fernando.salva@griftin.com.ar',\n};\n\n// Gaston recibe SIEMPRE todo\nconst ADMIN_EMAIL = 'gaston.villagra@griftin.com.ar';\n\nif (alerts.length === 0) {\n  const html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">'\n    + '<div style=\"background:#d97706;color:white;padding:16px;border-radius:8px 8px 0 0\">'\n    + '<h2 style=\"margin:0\">⚠️ ALERTA SIN DETALLE</h2>'\n    + '</div>'\n    + '<div style=\"background:#f9fafb;padding:20px;border:1px solid #e5e7eb\">'\n    + '<p style=\"color:#374151\">Payload recibido sin estructura de alertas.</p>'\n    + '<pre style=\"background:#f3f4f6;padding:12px;border-radius:6px;font-size:12px\">' + JSON.stringify(body, null, 2) + '</pre>'\n    + '<hr style=\"border:none;border-top:1px solid #e5e7eb\">'\n    + '<p style=\"color:#9ca3af;font-size:12px\">Griftin Monitor · ' + new Date().toLocaleString('es-AR', {timeZone:'America/Argentina/Salta'}) + '</p>'\n    + '</div></div>';\n  return [{ json: {\n    emailSubject: '[Griftin Monitor] ⚠️ Alerta recibida sin detalle',\n    emailBody: html,\n    toEmail: ADMIN_EMAIL,\n    alertname: 'AlertaGenérica'\n  }}];\n}\n\nconst results = [];\n\nfor (const alert of alerts) {\n  const labels = alert.labels || {};\n  const annotations = alert.annotations || {};\n  const isFiring = status === 'firing';\n\n  const bgColor   = isFiring ? '#dc2626' : '#16a34a';\n  const titulo    = isFiring ? '🔴 ALERTA ACTIVA' : '✅ ALERTA RESUELTA';\n  const severidad = (labels.severity || '').toUpperCase();\n  const resumen   = annotations.summary || labels.alertname || 'Sin título';\n  const descripcion = (annotations.description || '').trim();\n  const fecha     = new Date().toLocaleString('es-AR', {timeZone:'America/Argentina/Salta'});\n\n  // Detectar qué dev tags tiene la alerta del workflow\n  const wfTags = (labels.tags || '').split(',').map(t => t.trim()).filter(Boolean);\n  const devTags = wfTags.filter(t => DEV_MAP[t]);\n\n  // Determinamos los destinatarios finales para ESTA alerta específica\n  let recipients = [];\n  \n  if (devTags.length > 0) {\n    // Si hay devs responsables asignados en los tags, se genera un mail para cada uno de ellos\n    recipients = devTags.map(t => DEV_MAP[t]);\n  } else {\n    // Si la alerta no tiene ningún tag que coincida con un dev, te llega solo a vos como Admin\n    recipients = [ADMIN_EMAIL];\n  }\n\n  // Aseguramos que no haya duplicados de mails en la lista de envíos para esta alerta\n  const uniqueRecipients = [...new Set(recipients)];\n\n  // Creamos un objeto de salida individual en n8n por cada destinatario\n  for (const emailDestino of uniqueRecipients) {\n    \n    // Info visual para el cuerpo del mail (si es para un dev, le avisa su tag asignado)\n    const devInfo = devTags.length > 0\n      ? '<p style=\"font-size:14px;background:#eff6ff;padding:8px 12px;border-radius:6px;border-left:3px solid #3b82f6\">'\n        + '<strong>👤 Responsable asignado:</strong> ' + devTags.join(', ') + '</p>'\n      : '';\n\n    const html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">'\n      + '<div style=\"background:' + bgColor + ';color:white;padding:16px;border-radius:8px 8px 0 0\">'\n      + '<h2 style=\"margin:0;font-size:20px\">' + titulo + '</h2>'\n      + (severidad ? '<p style=\"margin:6px 0 0;opacity:0.9;font-size:13px\">' + severidad + '</p>' : '')\n      + '</div>'\n      + '<div style=\"background:#f9fafb;padding:20px;border:1px solid #e5e7eb;border-top:none\">'\n      + '<h3 style=\"color:#111827;margin-top:0;font-size:16px\">' + resumen + '</h3>'\n      + (descripcion ? '<p style=\"color:#374151;font-size:14px;line-height:1.5\">' + descripcion + '</p>' : '')\n      + (labels.workflow_name ? '<p style=\"font-size:14px\"><strong>Workflow:</strong> ' + labels.workflow_name + ' (ID: ' + labels.workflow_id + ')</p>' : '')\n      + devInfo\n      + (labels.tags ? '<p style=\"font-size:14px;color:#6b7280\"><strong>Tags de la alerta:</strong> ' + labels.tags + '</p>' : '')\n      + '<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:16px 0\">'\n      + '<p style=\"color:#9ca3af;font-size:12px;margin:0\">Griftin Monitor · ' + fecha + '</p>'\n      + '</div></div>';\n\n    results.push({\n      json: {\n        status,\n        isFiring,\n        alertname:    labels.alertname || 'Sin nombre',\n        severity:     labels.severity  || 'unknown',\n        summary:      resumen,\n        description:  descripcion,\n        workflowName: labels.workflow_name || '',\n        workflowId:   labels.workflow_id   || '',\n        tags:         labels.tags          || '',\n        toEmail:      emailDestino, // <--- Destinatario ÚNICO para esta iteración\n        emailSubject: '[Griftin Monitor] ' + (isFiring ? '🔴' : '✅') + ' ' + resumen,\n        emailBody:    html\n      }\n    });\n  }\n}\n\nreturn results;"},"name":"Parsear Alerta","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-32],"id":"69a605ab-d39b-482c-923c-3e31944dfb62"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.alertname }}","operation":"notEqual","value2":"Watchdog"}]}},"name":"Ignorar Watchdog","type":"n8n-nodes-base.if","typeVersion":1,"position":[-16,-32],"id":"20895968-63f4-48cf-8e0a-db105cb00075"}],"connections":{"Webhook Alertmanager":{"main":[[{"node":"Parsear Alerta","type":"main","index":0}]]},"Parsear Alerta":{"main":[[{"node":"Ignorar Watchdog","type":"main","index":0}]]},"Ignorar Watchdog":{"main":[[{"node":"Enviar Mail Zoho","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ddd8c84-618e-4281-b4d4-9163f3d50ef0","activeVersionId":"2ddd8c84-618e-4281-b4d4-9163f3d50ef0","triggerCount":1,"shared":[{"updatedAt":"2026-06-18T20:30:29.788Z","createdAt":"2026-06-18T20:30:29.788Z","role":"workflow:owner","workflowId":"FB5KpmzCujKEUd7s","projectId":"MnwjuJrhGoLRiaxp"}],"activeVersion":{"updatedAt":"2026-06-18T20:53:35.863Z","createdAt":"2026-06-18T20:53:35.863Z","versionId":"2ddd8c84-618e-4281-b4d4-9163f3d50ef0","workflowId":"FB5KpmzCujKEUd7s","nodes":[{"parameters":{"fromEmail":"=gaston.villagra@griftin.com.ar","toEmail":"={{ $json.toEmail }}","subject":"=\n{{ $json.emailSubject }}","emailFormat":"html","html":"={{ $json.emailBody }}","options":{}},"name":"Enviar Mail Zoho","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[336,-48],"id":"48326e5c-a082-4537-ac2c-786d848f4ab2","webhookId":"d302df04-ef20-45ad-aea0-0625859018d3","credentials":{"smtp":{"id":"h8ooNrGSjpI4l1Ge","name":"SMTP account Gaston"}}},{"parameters":{"httpMethod":"POST","path":"monitor-alert","options":{}},"name":"Webhook Alertmanager","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-592,-32],"webhookId":"monitor-alert","id":"ca490a9a-4a18-4241-918b-a2a1972640d8"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nconst status = body.status || 'firing';\n\n// Mapa tag → email dev\nconst DEV_MAP = {\n  'dev-fer':    'fernando.salva@griftin.com.ar',\n  'dev-fer-s':    'fernando.salva@griftin.com.ar',\n};\n\n// Gaston recibe SIEMPRE todo\nconst ADMIN_EMAIL = 'gaston.villagra@griftin.com.ar';\n\nif (alerts.length === 0) {\n  const html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">'\n    + '<div style=\"background:#d97706;color:white;padding:16px;border-radius:8px 8px 0 0\">'\n    + '<h2 style=\"margin:0\">⚠️ ALERTA SIN DETALLE</h2>'\n    + '</div>'\n    + '<div style=\"background:#f9fafb;padding:20px;border:1px solid #e5e7eb\">'\n    + '<p style=\"color:#374151\">Payload recibido sin estructura de alertas.</p>'\n    + '<pre style=\"background:#f3f4f6;padding:12px;border-radius:6px;font-size:12px\">' + JSON.stringify(body, null, 2) + '</pre>'\n    + '<hr style=\"border:none;border-top:1px solid #e5e7eb\">'\n    + '<p style=\"color:#9ca3af;font-size:12px\">Griftin Monitor · ' + new Date().toLocaleString('es-AR', {timeZone:'America/Argentina/Salta'}) + '</p>'\n    + '</div></div>';\n  return [{ json: {\n    emailSubject: '[Griftin Monitor] ⚠️ Alerta recibida sin detalle',\n    emailBody: html,\n    toEmail: ADMIN_EMAIL,\n    alertname: 'AlertaGenérica'\n  }}];\n}\n\nconst results = [];\n\nfor (const alert of alerts) {\n  const labels = alert.labels || {};\n  const annotations = alert.annotations || {};\n  const isFiring = status === 'firing';\n\n  const bgColor   = isFiring ? '#dc2626' : '#16a34a';\n  const titulo    = isFiring ? '🔴 ALERTA ACTIVA' : '✅ ALERTA RESUELTA';\n  const severidad = (labels.severity || '').toUpperCase();\n  const resumen   = annotations.summary || labels.alertname || 'Sin título';\n  const descripcion = (annotations.description || '').trim();\n  const fecha     = new Date().toLocaleString('es-AR', {timeZone:'America/Argentina/Salta'});\n\n  // Detectar qué dev tags tiene la alerta del workflow\n  const wfTags = (labels.tags || '').split(',').map(t => t.trim()).filter(Boolean);\n  const devTags = wfTags.filter(t => DEV_MAP[t]);\n\n  // Determinamos los destinatarios finales para ESTA alerta específica\n  let recipients = [];\n  \n  if (devTags.length > 0) {\n    // Si hay devs responsables asignados en los tags, se genera un mail para cada uno de ellos\n    recipients = devTags.map(t => DEV_MAP[t]);\n  } else {\n    // Si la alerta no tiene ningún tag que coincida con un dev, te llega solo a vos como Admin\n    recipients = [ADMIN_EMAIL];\n  }\n\n  // Aseguramos que no haya duplicados de mails en la lista de envíos para esta alerta\n  const uniqueRecipients = [...new Set(recipients)];\n\n  // Creamos un objeto de salida individual en n8n por cada destinatario\n  for (const emailDestino of uniqueRecipients) {\n    \n    // Info visual para el cuerpo del mail (si es para un dev, le avisa su tag asignado)\n    const devInfo = devTags.length > 0\n      ? '<p style=\"font-size:14px;background:#eff6ff;padding:8px 12px;border-radius:6px;border-left:3px solid #3b82f6\">'\n        + '<strong>👤 Responsable asignado:</strong> ' + devTags.join(', ') + '</p>'\n      : '';\n\n    const html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">'\n      + '<div style=\"background:' + bgColor + ';color:white;padding:16px;border-radius:8px 8px 0 0\">'\n      + '<h2 style=\"margin:0;font-size:20px\">' + titulo + '</h2>'\n      + (severidad ? '<p style=\"margin:6px 0 0;opacity:0.9;font-size:13px\">' + severidad + '</p>' : '')\n      + '</div>'\n      + '<div style=\"background:#f9fafb;padding:20px;border:1px solid #e5e7eb;border-top:none\">'\n      + '<h3 style=\"color:#111827;margin-top:0;font-size:16px\">' + resumen + '</h3>'\n      + (descripcion ? '<p style=\"color:#374151;font-size:14px;line-height:1.5\">' + descripcion + '</p>' : '')\n      + (labels.workflow_name ? '<p style=\"font-size:14px\"><strong>Workflow:</strong> ' + labels.workflow_name + ' (ID: ' + labels.workflow_id + ')</p>' : '')\n      + devInfo\n      + (labels.tags ? '<p style=\"font-size:14px;color:#6b7280\"><strong>Tags de la alerta:</strong> ' + labels.tags + '</p>' : '')\n      + '<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:16px 0\">'\n      + '<p style=\"color:#9ca3af;font-size:12px;margin:0\">Griftin Monitor · ' + fecha + '</p>'\n      + '</div></div>';\n\n    results.push({\n      json: {\n        status,\n        isFiring,\n        alertname:    labels.alertname || 'Sin nombre',\n        severity:     labels.severity  || 'unknown',\n        summary:      resumen,\n        description:  descripcion,\n        workflowName: labels.workflow_name || '',\n        workflowId:   labels.workflow_id   || '',\n        tags:         labels.tags          || '',\n        toEmail:      emailDestino, // <--- Destinatario ÚNICO para esta iteración\n        emailSubject: '[Griftin Monitor] ' + (isFiring ? '🔴' : '✅') + ' ' + resumen,\n        emailBody:    html\n      }\n    });\n  }\n}\n\nreturn results;"},"name":"Parsear Alerta","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-32],"id":"69a605ab-d39b-482c-923c-3e31944dfb62"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.alertname }}","operation":"notEqual","value2":"Watchdog"}]}},"name":"Ignorar Watchdog","type":"n8n-nodes-base.if","typeVersion":1,"position":[-16,-32],"id":"20895968-63f4-48cf-8e0a-db105cb00075"}],"connections":{"Webhook Alertmanager":{"main":[[{"node":"Parsear Alerta","type":"main","index":0}]]},"Parsear Alerta":{"main":[[{"node":"Ignorar Watchdog","type":"main","index":0}]]},"Ignorar Watchdog":{"main":[[{"node":"Enviar Mail Zoho","type":"main","index":0}]]}},"authors":"Oscar Greco","name":null,"description":null},"tags":[]}